/* A project prefix that is added by using the prefix() function. Abbreviation
of the project name amp.dev */
/* All category codes which are prepended to selector by using either atom(selector),
molecule(selector) or organism(selector) */
/* The following map contains every color that is used inside the project. The
names are identified by using the http://chir.ag/projects/name-that-color to
prevent double colors and/or hirarchy dicussions */
/**
/// Pulls a name out of the $colors array by key and throws a warning
/// if the specified color name does not exist
/// @param  {String} $name A color name inside that is inside $colors
/// @return {String}       The matching color or null
*/
/**
/// Prefixes a given string with the $projectPrefix and a category prefix out
/// of $categoryPrefixes by the key $category
/// @param  {String} $category A category name in $categoryPrefixes
/// @param  {String} $selector The selector that gets prefixed
/// @return {String}           The prefixed selector
*/
amp-accordion > h1 {
  background: white;
}

html, body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  color: #20202A;
  background: #FFFFFF;
  font-size: 16px;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * This file only contains styles that are required in (nearly) any page
 * like text, headline and grid styling. Everything else belongs in dedicated
 * component files
**/
p {
  display: block;
  margin: 0;
  line-height: 1.45em;
  font-style: normal;
  font-family: sans-serif;
}

/*

####################
### ATOM: button ###
####################

### SAMPLE MARKUP:

<button type="button" name="button" class="a-btn a-btn-outline">
    Text
</button>

### INFO:

The regular button has only one size and one modifier.
It should be never overwritten in any other file.
New modifiers can be added below.

### MODIFIERS:

outline
    Changes the button style to outline (default is filled).

*/
.ad-a-btn {
  color: red;
  font-weight: bold;
}
