/* A project prefix that is added by using the prefix() function. Abbreviation
of the project name amp.dev */
/* All category codes which are prepended to selector by using either atom(selector),
molecule(selector) or organism(selector) */
/* The following map contains every color that is used inside the project. The
names are identified by using the http://chir.ag/projects/name-that-color to
prevent double colors and/or hirarchy dicussions */
amp-accordion > h1 {
  background: white;
}

/**
/// Pulls a name out of the $colors array by key and throws a warning
/// if the specified color name does not exist
/// @param  {String} $name A color name inside that is inside $colors
/// @return {String}       The matching color or null
*/
/**
/// Prefixes a given string with the $projectPrefix and a category prefix out
/// of $categoryPrefixes by the key $category
/// @param  {String} $category A category name in $categoryPrefixes
/// @param  {String} $selector The selector that gets prefixed
/// @return {String}           The prefixed selector
*/
/*

######################
### ATOM: headline ###
######################

### SAMPLE MARKUP:

<h2 class="a-hl-h1 a-hl-mono">
    Text
</h2>

### INFO:

This is a regular headline.
It should be never overwritten in any other file.
New modifiers can be added below.

### MODIFIERS:

h1 - h6
    Self explaining.

light
    Changes the text color to light (default is dark).

mono
    Changes the font-family to a monospaced font.

*/
.ad-a-hl, .ad-a-btn {
  font-family: Poppins;
  font-weight: bold;
  line-height: 1.2em;
  color: #20202A;
}

.ad-a-hl-h1 {
  font-size: 3em;
}

.ad-a-hl-h2 {
  font-size: 2.25em;
}

.ad-a-hl-h3, .ad-a-btn {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.ad-a-hl-h4 {
  font-size: 1em;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .ad-a-hl-h4 {
    margin-bottom: 20px;
  }
}

.ad-a-hl-light, .ad-a-btn {
  color: #FFFFFF;
}

/*

##################
### ATOM: text ###
##################

### SAMPLE MARKUP:

<p class="a-txt a-txt-p">
    Text
</p>

### INFO:

Text atom could be used almost everywhere.
It has multiple size modifiers (more could be added below).

### MODIFIERS:

sizes
    Selector names of the sizes could be changed globally in variables.

p
    Paragraph style text.

mono (inline, block)
    Changes the font-family to a monospaced font as inline or block text.

*/
.ad-a-txt {
  font-family: Noto Sans;
  line-height: 1.6em;
  font-weight: normal;
  margin: 0;
}

.ad-a-txt-2 {
  font-size: 0.75em;
}

.ad-a-txt-3 {
  font-size: 0.875em;
}

.ad-a-txt-4 {
  font-size: 1em;
}

/*

####################
### ATOM: button ###
####################

### SAMPLE MARKUP:

<button type="button" name="button" class="a-btn a-btn-outline">
    Text
</button>

### INFO:

The regular button has only one size and one modifier.
It should be never overwritten in any other file.
New modifiers can be added below.

### MODIFIERS:

outline
    Changes the button style to outline (default is filled).

*/
.ad-a-btn {
  display: inline-block;
  max-width: 100%;
  min-width: 230px;
  width: auto;
  height: auto;
  padding: .813rem 1.626rem;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #005AF0;
  border: 3px solid #005AF0;
}

.ad-a-btn:hover {
  background-color: #48525C;
  border: 3px solid #48525C;
}

.ad-m-tip {
  width: 100%;
  background: #FFFFFF;
  border-right: 5px solid #00CD3C;
  padding: 25px 30px 50px 25px;
  grid-row: span 1;
  position: relative;
}

@media screen and (min-width: 768px) {
  .ad-m-tip {
    width: auto;
    padding: 25px 55px 35px 40px;
  }
}

.ad-m-tip-default:before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -25px;
  border-right: 25px solid transparent;
  border-top: 25px solid #FFFFFF;
}

.ad-m-tip-read-on {
  border-right: 5px solid #FFE100;
}

.ad-m-tip-read-on:before {
  content: '';
  position: absolute;
  height: calc(100% + 32px);
  width: 37px;
  top: 0;
  left: calc(100% - 32px);
  z-index: -1;
  background-color: #FFE100;
  -webkit-clip-path: polygon(0% 0%, 0 100%, 50% 80%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0 100%, 50% 80%, 100% 100%, 100% 0%);
}

.ad-m-tip-important {
  border-right: 5px solid #EF0000;
  -webkit-clip-path: polygon(5% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 5% 100%, 0% 90%, 0% 10%);
  clip-path: polygon(5% 0%, 80% 0%, 100% 0, 100% 100%, 80% 100%, 5% 100%, 0% 90%, 0% 10%);
}

.ad-m-tip-note {
  border: none;
  width: 100%;
  padding: 25px 10px 20px 25px;
}

@media screen and (min-width: 768px) {
  .ad-m-tip-note {
    width: calc(100% - 67px);
    padding: 25px 0px 35px 40px;
  }
}

.ad-m-tip-note:before {
  content: '';
  position: absolute;
  border-bottom: 32px solid transparent;
  border-left: 25px solid #005AF0;
  left: 100%;
  right: 0;
  bottom: 0;
}

.ad-m-tip-note:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0px;
  height: calc(100% - 32px);
  left: 100%;
  width: 20px;
  background-color: #FFFFFF;
  border-right: 5px solid #005AF0;
}

.ad-m-tip-container {
  grid-column: 1 / span 1;
  padding: 0px 80px 40px 20px;
  filter: drop-shadow(0px 2px 5px rgba(72, 82, 92, 0.7));
}

@media screen and (min-width: 768px) {
  .ad-m-tip-container {
    grid-column: 2 / span 1;
    padding: 0px 50px 40px 10px;
  }
}

.ad-m-copy-container {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .ad-m-copy-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}

.ad-m-copy-wrapper {
  grid-column: 1;
}

@media screen and (min-width: 768px) {
  .ad-m-copy-wrapper {
    grid-column: 4 / span 6;
  }
}

/* The following styles only define the styles needed to make the styleguide
a little more appealing. All component styles should reside in their dedicated
file and may be imported at the top of this file */
body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  color: #20202A;
  background: #FFFFFF;
  font-size: 16px;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.styleguide__header {
  position: fixed;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 90px;
  align-items: center;
  padding-left: 7px;
  padding-right: 7px;
  color: #FFFFFF;
  background-color: #20202A;
}

@media (min-width: 500px) {
  .styleguide__header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.styleguide__header--overview {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.styleguide__toggle {
  width: 30px;
  height: 30px;
  padding: 0;
  margin-right: 7px;
  border-radius: 50%;
  background: none;
  border: none;
}

@media (min-width: 500px) {
  .styleguide__toggle {
    width: 45px;
    height: 45px;
  }
}

.styleguide__toggle svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.styleguide__title, .styleguide__hint {
  margin: 0;
}

.styleguide__sidebar {
  padding: 7px;
}

@media (min-width: 500px) {
  .styleguide__sidebar {
    padding: 15px;
  }
}

.styleguide__sidebar ul {
  list-style: none;
  padding-left: 15px;
}

.styleguide__content {
  display: grid;
  padding-top: 110px;
  height: auto;
  min-height: 100vh;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .styleguide__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}
