{{#htmlWebpackPlugin.files.js }}
  <amp-script class="ap-t-pixi-checks" src="{{ . }}" layout="container" sandbox="allow-forms">

    <div class="ap-m-input-bar">
      <input id="input-field" class="ap-m-input-bar-field" type="url" name="url" placeholder="Your URL">
      <button id="input-submit" class="ap-m-input-bar-submit" name="button">
        Analyze
      </button>
    </div>

    <div class="ap-t-pixi-checks-reports">
      <h2>Core Web Vitals</h2>
      <div class="ap-t-pixi-checks-primary">
        <div id="lcp" class="ap-t-pixi-checks-primary-metric">
          <h3 class="ap-t-pixi-checks-primary-metric-title">Loading speed | LCP
            <br>
            <label>Analyzing..</label>
          </h3>
          <div class="ap-t-pixi-checks-primary-metric-graph">
            <aside class="ap-t-pixi-checks-primary-metric-graph-indicator">
              <span></span>
            </aside>
            <div class="ap-t-pixi-checks-primary-metric-graph-bar">
              <span>2.5 sec</span>
              <span>4.0 sec</span>
            </div>
          </div>
          <div class="ap-t-pixi-checks-primary-metric-info">
            <div>Opportunity to improve: <span>lorem</span></div>
            <div>Take action: <span>8 recommendations available </span></div>
          </div>
        </div>
        <div id="fid" class="ap-t-pixi-checks-primary-metric">
          <h3 class="ap-t-pixi-checks-primary-metric-title">Interactivity | FID
            <br>
            <label>Analyzing..</label>
          </h3>
          <div class="ap-t-pixi-checks-primary-metric-graph">
            <aside class="ap-t-pixi-checks-primary-metric-graph-indicator">
              <span></span>
            </aside>
            <div class="ap-t-pixi-checks-primary-metric-graph-bar">
              <span>100 ms</span>
              <span>300 ms</span>
            </div>
          </div>
          <div class="ap-t-pixi-checks-primary-metric-info">
            <div>Opportunity to improve: <span>lorem</span></div>
            <div>Take action: <span>8 recommendations available </span></div>
          </div>
        </div>
        <div id="cls" class="ap-t-pixi-checks-primary-metric">
          <h3 class="ap-t-pixi-checks-primary-metric-title">Visual stability | CLS
            <br>
            <label>Analyzing..</label>
          </h3>
          <div class="ap-t-pixi-checks-primary-metric-graph">
            <aside class="ap-t-pixi-checks-primary-metric-graph-indicator">
              <span></span>
            </aside>
            <div class="ap-t-pixi-checks-primary-metric-graph-bar">
              <span>0.1</span>
              <span>0.25</span>
            </div>
          </div>
          <div class="ap-t-pixi-checks-primary-metric-info">
            <div>Opportunity to improve: <span>lorem</span></div>
            <div>Take action: <span>8 recommendations available </span></div>
          </div>
        </div>
      </div>

      <h2>Additional checks</h2>
      <div class="ap-t-pixi-checks-basic">
        <div id="safe-browsing" class="ap-t-pixi-checks-basic-metric">
          <h3 class="ap-t-pixi-checks-basic-metric-title">Safe browsing
            <br>
            <label>Analyzing..</label>
          </h3>
        </div>
      </div>
    </div>
  </amp-script>
{{/htmlWebpackPlugin.files.js }}
