{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block main %}
<main class="ap--main ap-t-code-of-conduct">
  {{ doc.html|render|safe }}
</main>
{% endblock %}
