{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/default.css') %}
{% endblock %}

{% block main %}
<main class="ap--main ap-t-default">
  <div class="ap--container">
    {% include 'views/partials/content.j2' %}
  </div>
</main>
{% endblock %}
