{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/home.css') %}
{% endblock %}

{% block main %}
<main class="ad--main ad-t-home">
  {{ doc.html|render|safe }}
</main>
{% endblock %}
