{% extends '/layouts/default.j2' %}

{% block head %}
{{ super() }}

{% import '/views/partials/pixi/webpack.j2' as webpack %}
<meta name="amp-script-src" content="{{ webpack.cspHash }}">
{% endblock %}

{% block styles %}
{{ super() }}

{% endblock %}

{% block main %}
{{ doc.html|render|safe }}
{% endblock %}
