{% extends '/templates/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/styleguide.css') %}
{% endblock %}

{% block main %}
<div class="ad-t-container ad-t-styleguide">
  <section class="main">
    {{ doc.html|render|safe }}
  </section>
</div>
{% endblock %}
