<div id="input-bar-experiments"></div>
<div id="hints-list" class="experiments-hints">
  <header class="experiments-hints-header">
    <h4>Active Experiments</h4>
    <div class="experiments-hints-header-close" tabindex="0" role="button">✕</div>
  </header>
  <ul class="experiments-hints-list"></ul>
</div>
<ul id="experiments-list" class="experiments-list"></ul>
