@import '_variables.scss';
@import '_functions.scss';

#experiments-view {
  .fly-in-content {
    overflow: hidden;
  }

  .experiments {
    &-hints {
      position: absolute;
      width: calc(100% - 50px);
      height: 60%;
      margin-top: 0;
      border-radius: 4px;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: .3s;
      pointer-events: none;

      &.active {
        pointer-events: all;
        opacity: 1;
        background: color('white');
        transform: translate3d(0, 10px, 0);

      }

      &-header {
        display: flex;
        padding: 15px 25px;
        top: 0;
        justify-content: space-between;
        width: 100%;
        white-space: nowrap;
        border-bottom: 1px solid color('silver');

        h4 {
          margin: 0;
        }

        &-close {
          cursor: pointer;
        }
      }

      &-list {
        padding: 0;
        margin: 0;
        max-height: calc(100% - 54px);
        overflow-y: scroll;
        padding: 0;
        list-style: none;
      }
    }

    &-list {
      max-height: 70%;
      overflow-y: scroll;
      padding: 0;
      list-style: none;
    }
  }
}
