@import '_variables.scss';
@import '_functions.scss';

#experiments-view {
  .fly-in-content {
    overflow: hidden;
  }

  .experiments {
    &-hints {
      position: absolute;
      width: calc(100% - 50px);
      height: 60%;
      overflow-y: scroll;
      margin-top: 0;
      padding: 0;
      border-radius: 4px;
      list-style: none;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
      opacity: 0;
      transition: .3s;
      pointer-events: none;

      &.active {
        pointer-events: all;
        opacity: 1;
        background: color('white');
        transform: translate3d(0, 10px, 0);
      }
    }

    &-list {
      max-height: 70%;
      padding: 0;
      overflow-y: scroll;
      list-style: none;
    }
  }
}
