<h4>{{ experiment }}</h4>
<button class="experiments-list-item-delete" type="button" name="button">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22">
    <path fill="#20202A" fill-rule="evenodd" d="M10.682 0c1.254 0 2.274.973 2.274 2.17v1.292h4.45c.329 0 .594.274.594.611a.602.602 0 01-.593.611h-1.088v14.973c0 1.292-1.02 2.343-2.275 2.343H3.956c-1.254 0-2.274-1.05-2.274-2.343V4.684H.593A.601.601 0 010 4.074c0-.338.265-.612.593-.612h4.451V2.17C5.044.973 6.064 0 7.319 0zm4.45 4.684H2.869v14.973c0 .618.488 1.121 1.088 1.121h10.088c.6 0 1.089-.503 1.089-1.12V4.683zm-2.77 2.242c.329 0 .594.273.594.61v10.39c0 .337-.265.61-.593.61a.601.601 0 01-.593-.61V7.536c0-.337.265-.61.593-.61zM9 6.926c.328 0 .593.273.593.61v10.39c0 .337-.265.61-.593.61a.601.601 0 01-.593-.61V7.536c0-.337.265-.61.593-.61zm-3.362 0c.327 0 .593.273.593.61v10.39c0 .337-.266.61-.593.61a.602.602 0 01-.594-.61V7.536c0-.337.266-.61.594-.61zm5.044-5.704H7.319c-.59 0-1.088.434-1.088.947v1.293h5.539V2.17c0-.513-.498-.947-1.088-.947z"/>
  </svg>
</button>
