---
$view: /views/styleguide/component.j2
$title: Icon

icons:
- name: 'logo'
  final: false
- name: 'basket'
  final: false
- name: 'bookmark'
  final: false
- name: 'code'
  final: false
- name: 'edit'
  final: false
- name: 'discussion'
  final: false
- name: 'lego'
  final: false
- name: 'lock'
  final: false
- name: 'magazine'
  final: false
- name: 'map'
  final: false
- name: 'money'
  final: false
- name: 'browser'
  final: false
- name: 'search'
  final: false
- name: 'stories'
  final: false
- name: 'template'
  final: false
- name: 'time'
  final: false
- name: 'user'
  final: false
- name: 'flask'
  final: false
- name: 'internal'
  final: false
- name: 'external'
  final: false
- name: 'download'
  final: false
- name: 'arrow-down-thick'
  final: false
- name: 'arrow-down-thin'
  final: false
---
<div class="ad-o-container col-12">
	<p><small>Icons with a red background are not final.</small></p>
</div>
{% for ico in doc.icons %}
  <div class="ad-o-container icon-demo-container {% if ico.final %}final{% endif %} col-span-2">
    {{ atoms.icon(ico.name) }}
    <p><small>{{ ico.name }}<small></p>
  </div>
{% endfor %}
