{% do doc.styles.addCssFile('css/components/organisms/accordion.css') %}

<div class="ap-o-accordion">
  <amp-accordion disable-session-states>
    {% for section in sections if sections %}
    <section {% if section.id %}id="{{section.id}}"{% endif %}>
      <header class="ap-o-accordion-header">
        <div class="ap-o-accordion-title">
          <h4>{{ _(section.title) }}</h4>
          <div class="ap-a-ico">
            {% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
          </div>
        </div>
      </header>
      <div class="ap-o-accordion-content">
        {% if section.answer %}
        {{ _(section.answer|markdown|safe)}}
        {% endif %}
        {% if section.list %}
        <ol class="ap-o-accordion-list">
          {% for item in section.list %}
          <li class="ap-o-accordion-list-item">
              {% if item.url %}
              <a href="{{item.url}}">{{ _(item.label) }}</a>
              {% else %}
              {{ _(item.label) }}
              {% endif %}
          </li>
          {% endfor %}
        </ol>
        {% endif %}
      </div>
    </section>
    {% endfor %}
  </amp-accordion>
</div>
