{% do doc.amp_dependencies.add('amp-analytics', '0.1') %}
<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars" : {
      "gtag_id": "{{ podspec.gaTrackingId }}",
      "config" : {
        "{{ podspec.gaTrackingId }}": {
          "groups": "default"
        }
      }
    }
  }
  </script>
</amp-analytics>
