<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars" : {
      "gtag_id": "{{ podspec.gaTrackingId }}",
      "config" : {
        "{{ podspec.gaTrackingId }}": {
          "groups": "default"
        }
      }
    }
{% if '/courses/' in doc.pod_path and doc.title == 'Teachers' %}
    ,
      "triggers": {
        "button": {
          "selector": "#get-courses",
          "on": "click",
          "vars": {
            "category": "courses",
            "action": "download"
          }
        }
      }
{% endif %}
  }
  </script>
</amp-analytics>
