{% do doc.amp_dependencies.add('amp-analytics', '0.1') %}
<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars" : {
      "gtag_id": "{{ podspec.gaTrackingId }}",
      "config" : {
        "{{ podspec.gaTrackingId }}": {
          "groups": "default"
        }
      }
    }
{% if doc.pod_path == '/content/amp-dev/documentation/courses/teachers.md' %}
    ,
      "triggers": {
        "button": {
          "selector": "#get-courses",
          "on": "click",
          "vars": {
            "event_name": "courses",
            "event_category": "courses",
            "event_action": "download"
            }
        }
      }
{% endif %}
  }
  </script>
</amp-analytics>
