{% do doc.styles.addCssFile('/css/components/molecules/banner.css') %}
<div class="ap-m-banner">
  <a href="https://blog.amp.dev/2020/02/20/amp-conf-2020-return-to-nyc/" class="ap-m-banner-link">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
    {{ _('AMP Conf 2020: Save the date!') }}
  </a>
</div>
