{% do doc.styles.addCssFile('/css/components/molecules/banner.css') %}
<div class="ap-m-banner">
  <a href="https://blog.amp.dev/2019/07/10/amp-contributor-summit-2019-applications-now-open/" class="ap-m-banner-link">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
    {{ _('AMP Contributor Summit 2019 Applications Now Open') }}
  </a>
</div>
