{% do doc.styles.addCssFile('/css/components/organisms/burger-menu.css') %}

{% macro active_class(tested_doc, depth=3) -%}
{% if (tested_doc.pod_path == doc.pod_path) or (doc.pod_path.split('/')[depth] == tested_doc.pod_path.split('/')[depth]) %}ad-m-nav-link-active{% endif %}
{%- endmacro %}

<label class="ad-o-burger-menu-label" [class]="mainmenuopen ? 'ad-o-burger-menu-label mainmenuopen' : 'ad-o-burger-menu-label'" for="burger-menu" on="tap:AMP.setState({mainmenuopen: !mainmenuopen})" role="burgermenutrigger" tabindex="0">
  <div class="ad-a-ico ad-o-burger-menu-icon">
    {% do doc.icons.useIcon('/icons/menu.svg') %}
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg>
  </div>
</label>
<input id="burger-menu" class="ad-o-burger-menu-input" type="checkbox" autocomplete="off"/>
<nav class="ad-o-burger-menu" [class]="mainmenuopen ? 'ad-o-burger-menu mainmenuopen' : 'ad-o-burger-menu'">
  <ul class="ad-o-burger-menu-items">
    {# Sections #}
    {% for section in g.collection('amp-dev').collections()|sort(attribute='order') %}
    {% if section.index %}
    {% set section_index = g.doc(section.index, locale=doc.locale) %}
    <li class="ad-o-burger-menu-item">
      <a class="ad-o-burger-menu-link ad-m-nav-link {{ active_class(section_index) }}" href="{{ section_index.url.path }}">
        {{ section.title }}
      </a>

      {# Section's sub level navigation if that's the current section #}
      <ul class="ad-o-burger-menu-items">
      {% for path in section.sub_navigation %}
      <li class="ad-o-burger-menu-item">
        {% set second_level_doc = g.doc(path, locale=doc.locale) %}
        <a class="ad-o-burger-menu-link ad-m-nav-link-2 {{ active_class(second_level_doc, depth=4) }}" href="{{ second_level_doc.url.path }}">
          {{ second_level_doc.titles('header') }}
        </a>
      </li>
      {% endfor %}
      </ul>
    {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
