{% do doc.styles.addCssFile('css/components/organisms/case-grid.css') %}

<div class="ap-o-case-grid">
  <div class="ap-o-case-grid-image ap-o-case-grid-image-4">
    <a target="_blank" href="https://amp-article.herokuapp.com/">
      <div class="ap-o-case-grid-image-info">
        <h4>Too Much Choice</h4>
        <span class="ap-m-lnk">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/external.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Open Use Case</span>
        </span>
      </div>
      <amp-img class="ap--media" src="/static/img/case-grid-choices.jpg" layout="responsive" width="744" height="818"></amp-img>
    </a>
  </div>
  <div class="ap-o-case-grid-image ap-o-case-grid-image-3">
    <a target="_blank" href="https://amp-article.herokuapp.com/">
      <div class="ap-o-case-grid-image-info">
        <h4>Parallax Storytelling in AMP</h4>
        <span class="ap-m-lnk">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/external.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Open Use Case</span>
        </span>
      </div>
      <amp-img class="ap--media" src="/static/img/case-grid-data.jpg" layout="responsive" width="936" height="686"></amp-img>
    </a>
  </div>
  <div class="ap-o-case-grid-image ap-o-case-grid-image-2">
    <a target="_blank" href="https://amp-article.herokuapp.com/">
      <div class="ap-o-case-grid-image-info">
        <h4>Editorial AMP Article</h4>
        <span class="ap-m-lnk">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/external.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Open Use Case</span>
        </span>
      </div>
      <amp-img class="ap--media" src="/static/img/case-grid-education.jpg" layout="responsive" width="1004" height="662"></amp-img>
    </a>
  </div>
  <div class="ap-o-case-grid-image ap-o-case-grid-image-1">
    <a target="_blank" href="https://amp-concert.herokuapp.com/">
      <div class="ap-o-case-grid-image-info">
        <h4>Band Page in AMP</h4>
        <span class="ap-m-lnk">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/external.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Open Use Case</span>
        </span>
      </div>
      <amp-img class="ap--media" src="/static/img/case-grid-band.jpg" layout="responsive" width="1072" height="920"></amp-img>
    </a>
  </div>
  
  <div class="ap-o-case-grid-link">
    <a href="{{ g.doc('/content/amp-dev/about/use-cases.html').url.path }}" class="ap-m-lnk ap-m-lnk-square">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      </div>
      <span class="ap-m-lnk-text">See all use cases</span>
    </a>
  </div>
</div>

