{% do doc.styles.addCssFile('css/components/organisms/case-band.css') %}

<div class="ap-o-case-band">
  {% for image in case_band_images %}
  <div class="ap-o-case-band-image">
    <amp-img src="{{ image.src }}" alt="{{ _('A screenshot of a website using AMP.') }}" layout="responsive" width="{{ image.width }}" height="{{ image.height }}"></amp-img>
  </div>
  {% endfor %}
</div>
