{% do doc.styles.addCssFile('css/components/organisms/case-grid.css') %}

<div class="ap-o-case-grid">
  <div class="ap-o-case-grid-image ap-o-case-grid-image-4">
    <amp-img class="ap--media" src="/static/img/case-grid-choices.jpg" layout="responsive" width="744" height="818"></amp-img>
  </div>
  <div class="ap-o-case-grid-image ap-o-case-grid-image-3">
    <amp-img class="ap--media" src="/static/img/case-grid-data.jpg" layout="responsive" width="936" height="686"></amp-img>
  </div>
  <div class="ap-o-case-grid-image ap-o-case-grid-image-2">
    <amp-img class="ap--media" src="/static/img/case-grid-education.jpg" layout="responsive" width="1004" height="662"></amp-img>
  </div>
  <div class="ap-o-case-grid-image ap-o-case-grid-image-1">
    <amp-img class="ap--media" src="/static/img/case-grid-band.jpg" layout="responsive" width="1072" height="920"></amp-img>
  </div>

  <div class="ap-o-case-grid-link">
    <a href="{{ g.doc('/content/amp-dev/about/use-cases.html').url.path }}" class="ap-m-lnk ap-m-lnk-square">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      </div>
      <span class="ap-m-lnk-text">See all use cases</span>
    </a>
  </div>
</div>
