{% do doc.styles.addCssFile('css/components/organisms/case-band.css') %}

<div class="ap-o-case-band">
  <div class="ap-o-case-band-image ap-o-case-band-image-portrait ap-o-case-band-image-2">
    <amp-img class="ap--media" src="/static/img/case-band-image-2.png" layout="responsive" width="9" height="16"></amp-img>
  </div>
  <div class="ap-o-case-band-image ap-o-case-band-image-portrait ap-o-case-band-image-1">
    <amp-img class="ap--media" src="/static/img/case-band-image-1.png" layout="responsive" width="9" height="16"></amp-img>
  </div>
  <div class="ap-o-case-band-image ap-o-case-band-image-landscape ap-o-case-band-image-5">
    <amp-img class="ap--media" src="/static/img/case-band-image-5.png" layout="responsive" width="16" height="9"></amp-img>
  </div>
  <div class="ap-o-case-band-image ap-o-case-band-image-portrait ap-o-case-band-image-4">
    <amp-img class="ap--media" src="/static/img/case-band-image-4.png" layout="responsive" width="9" height="16"></amp-img>
  </div>
  <div class="ap-o-case-band-image ap-o-case-band-image-landscape ap-o-case-band-image-3">
    <amp-img class="ap--media" src="/static/img/case-band-image-3.png" layout="responsive" width="16" height="9"></amp-img>
  </div>
  <div class="ap-o-case-band-image ap-o-case-band-image-portrait ap-o-case-band-image-6">
    <amp-img class="ap--media" src="/static/img/case-band-image-6.png" layout="responsive" width="9" height="16"></amp-img>
  </div>
  <div class="ap-o-case-band-image ap-o-case-band-image-portrait ap-o-case-band-image-7">
    <amp-img class="ap--media" src="/static/img/case-band-image-7.png" layout="responsive" width="9" height="16"></amp-img>
  </div>
</div>
