{% do doc.styles.addCssFile('css/components/organisms/filter-bubbles-list.css') %}
{% do doc.amp_dependencies.add('amp-bind', '0.1') %}
<amp-state id="activeFilter">
  <script type="application/json">
    {
      "chosenFilter": "none"
    }
  </script>
</amp-state>


<div class="ap-o-filter-bubbles-list">
  <button class="ap-m-filter-bubble filtered"
    [class]="activeFilter.chosenFilter == 'none' ? 'ap-m-filter-bubble filtered' : 'ap-m-filter-bubble'"
    on="tap:AMP.setState({ activeFilter: {chosenFilter: 'none' } })"
    name="all">
    {{ _('All') }}
  </button>
  {% for category, components in categories %}
  {% set scope = namespace(categoryFormats = []) %}
    {% for component in components %}
      {% set formats = component.formats or ['websites'] %}
      {% set scope.categoryFormats = scope.categoryFormats + formats %}
    {% endfor %}
  {% if category %}
  [% if format in '{{ scope.categoryFormats|unique|list|tojson }}' %]
  <button class="ap-m-filter-bubble"
    [class]="activeFilter.chosenFilter == '{{ category|slug }}' && activeFilter.chosenFilter != 'none' ? 'ap-m-filter-bubble filtered' : 'ap-m-filter-bubble'"
    on="tap:AMP.setState({ activeFilter: {chosenFilter: '{{ category|slug }}' } })">
    {% set category = category.split('.')[1] if category and category.split('.')|length == 2 else category %}
    {{ _(category) }}
  </button>
  [% endif %]
  {% endif %}
  {% endfor %}
</div>
