{% do doc.styles.addCssFile('css/components/organisms/component-help.css') %}
{% do doc.icons.useIcon('icons/internal.svg') %}


<section class="ad--help">
  <div class="ad-o-component-help">
    <span class="ad-o-component-help-hl">Need more help?</span>
    <p class="ad-o-component-help-copy"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lacus quis rutrum convallis. Pellentesque sed est tortor. Class aptent taciti sociosqu ad litora torquent.</p>
    <a href="" class="ad-a-img ad-o-component-help-lnk-img">
      <amp-img src="/static/img/amp-img-01.png" layout="fill" alt="Stack Overflow Logo" class="ad-a-img"></amp-img>
      <span class="ad-o-component-help-hl-lnk">Stack Overflow</span>
    </a>
    <a href="" class="ad-m-lnk link-preview-1">
      <svg class="ad-a-ico ad-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      <span class="ad-m-lnk-text">See all on Stack Overflow</span>
    </a>
    <div class="ad-o-component-help-divider"></div>
    <span class="ad-o-component-help-hl">Found a bug?</span>
    <p class="ad-o-component-help-copy"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus lacus quis rutrum convallis. Pellentesque sed est tortor. Class aptent taciti sociosqu ad litora torquent.</p>
    <a href="" class="ad-m-lnk link-preview-1">
      <svg class="ad-a-ico ad-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      <span class="ad-m-lnk-text">Report on Github</span>
    </a>
    <div class="ad-o-component-help-divider"></div>
  </div>
</section>