{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}
{% do doc.amp_dependencies.add('amp-fx-collection', '0.1') %}

<div class="ap-o-component-intro">
  <h2 class="ap-o-component-intro-headline">Description</h2>
  <p class="ap-o-component-intro-description">{{ doc.teaser.text }}</p>

  {% if doc.scripts %}
  <div class="ap-o-component-intro-box ap-o-component-intro-box-scripts">
    <h4>Required Scripts</h4>
    {% for script in doc.scripts %}
    <div class="ap-o-component-intro-box-scripts-item">
      <code>{{ script }}</code>
      <amp-iframe
          width="20"
          height="20"
          layout="fixed"
          sandbox="allow-scripts"
          src="{{ podspec.base_urls.platform }}/shared/copy-script#{{ script|urlencode }}">
          <div placeholder>
            ..
          </div>
      </amp-iframe>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if doc.layouts %}
  <div class="ap-o-component-intro-box ap-o-component-intro-box-layouts">
    <h4>Supported Layouts</h4>
    <div class="ap-o-component-intro-box-layouts-items">
      {% for item in doc.layouts %}
      <a href="/documentation/guides-and-tutorials/learn/amp-html-layout/layouts_demonstrated.html#{{ item }}">
        <span>{{ item }}</span>
      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="ap-o-component-intro-references-container">
    <div class="ap-o-component-intro-box ap-o-component-intro-box-reference">
      <h4>Examples</h4>
      <a href="#">amp-bind</a>
      <a href="#">amp-bind</a>
    </div>
    <div class="ap-o-component-intro-box ap-o-component-intro-box-reference">
      <h4>Tutorials</h4>
      <a href="#">Create interactive AMP pages</a>
    </div>
  </div>
</div>
