{% do doc.styles.addCssFile('css/components/organisms/component-sidebar.css') %}
{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}

<section class="ad--sidebar">
  {% do doc.styles.addCssFile('/css/components/atoms/sidebar-toggle.css') %}
  <label class="ad-a-sidebar-toggle-label ad-a-sidebar-toggle-label-sidebar" for="sidebar">{{ _('Components') }}</label>
  <input class="ad-a-sidebar-toggle-input ad-a-sidebar-toggle-input-sidebar" type="checkbox" name="sidebar" id="sidebar">

  <div class="ad-o-component-sidebar">
    {% include '/views/partials/format-toggle.j2' %}

    <div class="nav">
      {% set components = g.collection('/content/amp-dev/documentation/components/reference').list_docs(locale=doc.locale) %}
      {% set scope = namespace(initial=components[0].title[4]) %}
      <ul class="nav-list level-1">
        <li class="nav-item level-1 ">
          <span class="nav-link">{{ scope.initial|upper }}</span>
          <ul class="nav-list level-2">
            {% for component in components %}
            {% set initial = component.title[4] %}
            {% if scope.initial != initial %}
            {% set scope.initial = initial %}
          </ul>
        </li>
        <li class="nav-item level-1 ">
          <span class="nav-link">{{ scope.initial|upper }}</span>
          <ul class="nav-list level-2">
            {% endif %}
            <li class="nav-item level-2">
              <a class="nav-link" href="{{ component.url.path }}">{{ component.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
