{% do doc.styles.addCssFile('css/components/molecules/visual-image.css') %}
{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}

<div class="ap-o-component-visual-image">
  <div class="ap-m-visual-image">
    <div class="ap-m-visual-image-background" amp-fx="fade-in fly-in-bottom" data-duration="1s" data-fly-in-distance="5%" data-margin-start="40%">
      <amp-img src="/static/img/the-blog.jpg" layout="responsive" height="517" width="682" />
    </div>
    <div class="ap-m-visual-image-framed">
      <div class="ap-m-visual-image-framed--border" title="<amp-img>" amp-fx="fade-in fly-in-right" data-duration="1s" data-fly-in-distance="5%" data-margin-start="40%">
        <amp-img src="/static/img/beach.jpg" layout="responsive" height="313" width="469" />
      </div>
    </div>
    <div class="ap-m-visual-image-code-large" amp-fx="fade-in fly-in-bottom" data-duration="1s" data-fly-in-distance="5%" data-margin-start="30%">
      {% set markdown = doc.pod.markdown %}
      {% set code = '
<amp-img class="resp-img"
  alt="Desktop"
  width="550"
  height="368"
  src="images/Desktop.jpeg">
</amp-img>
      ' %}
      {{ markdown.convert('```html\n' + code + '\n```')|safe }}
    </div>
    <div class="ap-m-visual-image-code-small" amp-fx="fade-in fly-in-bottom" data-duration="1s" data-fly-in-distance="5%" data-margin-start="25%">
      {% set markdown = doc.pod.markdown %}
      {% set code = '
<style amp-custom>
  .resp-img {
    max-width: 700px;
  }
</style>
      ' %}
      {{ markdown.convert('```html\n' + code + '\n```')|safe }}
    </div>
  </div>
</div>
