{% set examples = g.json('/shared/data/componentSamples.json') %}

{# Check if there are examples for the current component #}
{% if examples[doc.title] %}
{% do doc.styles.addCssFile('css/components/organisms/examples-list.css') %}
<div class="ap-o-examples-list" role="list">
  {% for title, href in examples[doc.title].items() %}
  <a class="ap-o-examples-list-item" href="{{ href }}" role="listitem">{{ title }}</a>
  {% endfor %}
</div>
{% endif %}
