{% do doc.styles.addCssFile('css/components/organisms/component-sidebar.css') %}
{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}

<section class="ad--sidebar">
  <div class="ad-o-component-sidebar">
    {% include '/views/partials/format-toggle.j2' %}

    <div class="nav">
      {% macro nav_tree(root, iteration=1, depth=None) -%}
      <ul class="nav-list level-{{ iteration }}">
          {% set collections = root.collections() %}
          {% set documents = root.list_docs(order_by='order') %}

          {% if not depth or iteration <= depth %}
          {% for collection in collections %}
          {% set currentCollectionPaths = doc.collection.collection_path.split('/') %}
          {% set allCollectionPaths = collection.collection_path.split('/') %}
          {% set activeCollection = true if currentCollectionPaths[-1] == allCollectionPaths[-1] or currentCollectionPaths[-2] == allCollectionPaths[-1] else None %}

          <li class="nav-item level-{{ iteration }} {% if activeCollection %}active {% endif %}">
            <span class="nav-link">{{ collection.title }}</span>
            {{ nav_tree(collection, iteration=iteration+1, depth=depth) }}
          </li>
          {% endfor %}

          {% for document in documents %}
          {# Only list the document if it matches the current locale #}
          {% if doc.locale == document.locale %}
          {% set activeDocument = true if document.url == doc.url %}
          <li class="nav-item level-{{ iteration }} {% if activeDocument %}active {% endif %}">
            <a class="nav-link" href="{{ document.url.path }}">{{ document.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
      </ul>
      {%- endmacro %}

      {% set split_path = doc.collection.collection_path.split('/') %}
      {% set current_path = '/'.join(split_path[:3]) %}
      {{ nav_tree(root=g.collection(current_path)) }}
    </div>
  </div>
</section>
