{% do doc.amp_dependencies.add('amp-carousel', '0.1') %}
{% set examples = g.json('/shared/data/componentSamples.json') %}

{# Check if there are examples for the current component #}
{% if examples[doc.title] %}
  {% for format, components in examples[doc.title].items() %}

  {# Only show examples for the current format #}
  [% if format == {{ format|tojson }} %]
  <h2>{{ _('Examples') }}</h2>

  {% do doc.styles.addCssFile('css/components/organisms/examples-list.css') %}
  <div class="ap-o-examples-list ap-o-examples-list-count-{{ components|length }}">
    <amp-carousel role="list"
                  layout="intrinsic"
                  type="carousel">
      {# Group example links by 6 for each slide #}
      {% for component_group in components|batch(6) %}
      <div class="ap-o-examples-list-slide">
        <div class="ap-o-examples-list-group">
          {% for component in component_group %}
          <a class="ap-o-examples-list-item" href="{{ component.url }}" role="listitem">
            <span class="ap-o-examples-list-label">{{ component.title }}</span>
            <div class="ap-a-ico ap-o-examples-list-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </amp-carousel>
  </div>
  [% endif %]

  {% endfor %}
{% endif %}
