<amp-geo layout="nodisplay">
  <script type="application/json">
    {
      "ISOCountryGroups": {
        "eu": ["preset-eea"],
        "doubleOptIn": ["de", "at", "no", "gr", "lu"]
      }
    }
  </script>
</amp-geo>

{% do doc.styles.addCssFile('/css/components/organisms/consent.css') %}
<amp-consent id="consent" class="ap-o-consent" layout="nodisplay">
  <script type="application/json">
    {
      "consentInstanceId": "consent",
      "promptUI": "consent-popup",
      "consentRequired": false,
      "geoOverride": {
        "eu": {
          "consentRequired": true
        }
      }
    }
  </script>

  <div id="consent-popup" class="consent-popup">
    <button type="reset" class="ap-o-consent-close" on="tap:consent.dismiss" role="button" tabindex="0" aria-label="{{ _('Dismiss consent') }}">
      {% do doc.icons.useIcon('/icons/close.svg') %}
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
    </button>
    <p class="ap-o-consent-text">
        We use cookies to understand how you use our site and to improve your experience. By continuing to use our site, you accept our <a href="https://policies.google.com/technologies/cookies">use of cookies</a> and <a href="https://policies.google.com/privacy">privacy policy</a>.
    </p>
    {% do doc.styles.addCssFile('/css/components/atoms/button.css') %}
    <button on="tap:consent.accept" class="ap-a-btn" role="button" aria-label="{{ _('Accept use of cookies') }}">{{ _('Got it!') }}</button>
  </div>
</amp-consent>
