{% do doc.styles.addCssFile('css/components/molecules/faq-visual.css') %}

<div class="ap-m-faq-visual">
  <div class="ap-m-faq-visual-image">
    <amp-img src="/static/img/faq/faq-visual.png" layout="responsive" width="672" height="736"></amp-img>
  </div>
</div>
