{% do doc.styles.addCssFile('css/components/organisms/filter-bubbles-list.css') %}
{% do doc.styles.addCssFile('css/components/atoms/pill.css') %}

<div class="ap-o-filter-bubbles-list">
  {% for button in buttons %}
    <button class="ap-a-pill">{{_(button)}}</button>
  {% endfor %}
</div>
