{% set survey_questions = [{
    "survey": "THE_FIRST_ONE_HELPFULNESS",
    "questions": [{
      "text": "How helpful was the documentation today?",
      "values": ["Extremely helpful", "Somewhat helpful", "Neither helpful or unhelpful", "Somewhat not helpful", "Did not help at all"],
      "type": "likert"
    }]
  },
  {
    "survey": "THE_FIRST_ONE_COVERAGE",
    "questions": [{
      "text": "Did you find the documentation you were looking for?",
      "type": "likert"
    }]
  },
  {
    "survey": "THE_FIRST_ONE_DISCOVERABILITY",
    "questions": [{
      "text": "How easy or difficult was it to find the documentation you were looking for?",
      "values": ["Very easy", "Somewhat easy", "Neither easy nor difficult", "Somewhat difficult", "Very difficult"],
      "type": "likert"
    }]
  }
] %}

{% set fixed_questions = [{
    "text": _("Would you like to leave any feedback on the documentation?"),
    "type": "open"
  }]
%}

{% include '/views/partials/survey.j2' with context %}
