{% do doc.styles.addCssFile('css/components/molecules/float-image.css') %}

<div class="ap-m-float-image">
  <div class="ap-a-img ap-a-img-static">
    <amp-img src="{{ images.0 }}" layout="fill" alt="The Alt Text"></amp-img>
  </div>
  <div class="ap-a-img ap-a-img-shadow-static ap-a-img-parallax" amp-fx="parallax" data-parallax-factor="1.1">
    <amp-img src="{{ images.1 }}" layout="fill" alt="The Alt Text"></amp-img>
  </div>
</div>
