{% do doc.styles.addCssFile('css/components/organisms/footer.css') %}
{% do doc.icons.useIcon('icons/internal.svg') %}
{% do doc.icons.useIcon('icons/twitter.svg') %}
{% do doc.icons.useIcon('icons/youtube.svg') %}
{% do doc.icons.useIcon('icons/wordpress.svg') %}
{% do doc.icons.useIcon('icons/github.svg') %}
{% do doc.icons.useIcon('icons/slack.svg') %}

<footer class="ad--footer" role="content-info">
  <div class="ad-o-footer">
    <div class="ad-o-footer-line-top">
      <p class="ad-o-footer-hint">{{_('Of course, this site is made with AMP!')}}</p>

      <div class="ad-o-footer-follow">
        <h5 class="ad-o-footer-follow-title">{{_('Follow us')}}</h5>
        <ul class="ad-o-footer-follow-menu">
          <li class="ad-o-footer-follow-item"><a class="ad-a-ico ad-o-footer-follow-icon" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
          <li class="ad-o-footer-follow-item"><a class="ad-a-ico ad-o-footer-follow-icon" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use></svg></a></li>
          <li class="ad-o-footer-follow-item"><a class="ad-a-ico ad-o-footer-follow-icon" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wordpress"></use></svg></a></li>
          <li class="ad-o-footer-follow-item"><a class="ad-a-ico ad-o-footer-follow-icon" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#github"></use></svg></a></li>
          <li class="ad-o-footer-follow-item"><a class="ad-a-ico ad-o-footer-follow-icon" href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#slack"></use></svg></a></li>
        </ul>
      </div>
    </div>
    <div class="ad-o-footer-nav">
      <div class="ad-o-footer-nav-column">
        <h5 class="ad-o-footer-nav-title">{{_('Overview')}}</h5>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('AMP Framework')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Benefits')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Use Cases')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Success stories')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Functionality')}}</a></li>
        </ul>
      </div>
      <div class="ad-o-footer-nav-column">
        <h5 class="ad-o-footer-nav-title">{{_('Docs')}}</h5>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Get Started')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Guides and Tutorials')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Components')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Examples')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Design Templates')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Tools')}}</a></li>
        </ul>
      </div>
      <div class="ad-o-footer-nav-column">
        <h5 class="ad-o-footer-nav-title">{{_('Community')}}</h5>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('The AMP Team')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Platform and Vendor Partners')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Contribute')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Roadmap')}}</a></li>
        </ul>
      </div>
      <div class="ad-o-footer-nav-column">
        <h5 class="ad-o-footer-nav-title">{{_('Events')}}</h5>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('AMP Roadshow')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('AMP Conf')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('AMP Contributor Summit')}}</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link"><div class="ad-a-ico ad-o-footer-nav-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg></div>{{_('Additional Events')}}</a></li>
        </ul>
      </div>
    </div>
    <div class="ad-o-footer-line-bottom">
      <ul class="ad-o-footer-legal-nav-menu">
        <li class="ad-o-footer-legal-nav-item"><a class="ad-o-footer-legal-nav-link" href="#">{{_('Privacy Policy')}}</a></li>
        <li class="ad-o-footer-legal-nav-item"><a class="ad-o-footer-legal-nav-link" href="#">{{_('Legal Disclaimer')}}</a></li>
        <li class="ad-o-footer-legal-nav-item"><a class="ad-o-footer-legal-nav-link" href="#">{{_('Lorem Ipsum')}}</a></li>
      </ul>
      <p class="ad-o-footer-copyright">{{_('© 2018 AMP Open Source Project')}}</p>
    </div>
  </div>
</footer>
