{% if doc.formats %}
{% do doc.styles.addCssFile('css/components/molecules/format-filter-hint.css') %}

<amp-user-notification class="ap-m-format-filter-hint" id="format-filter-hint" layout="nodisplay">
</amp-user-notification>

{#
  Amp user notification is used to handle the banners state.
  Therefore it needs to directly follow the amp-user-notification element.
#}

<div class="ap-m-format-filter-hint-banner" aria-hidden="true">
  <div class="ap-m-format-filter-hint-banner-content">
    <div class="ap-m-format-filter-hint-banner-note">{{ _('Select your format for a more streamlined experience') }}</div>
    <button class="ap-m-format-filter-hint-banner-dismiss" on="tap:format-filter-hint.dismiss">
      {% do doc.icons.useIcon('/icons/close.svg') %}
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
    </button>
    </div>
  </div>
</div>

{% endif %}
