{% do doc.styles.addCssFile('css/components/atoms/format-backgrounds.css') %}
{% do doc.styles.addCssFile('css/components/molecules/format-toggle.css') %}

{% set formats = ['websites', 'stories', 'ads', 'email'] %}

{# Define various landing pages for sections #}
{% if 'examples' in doc.url.path %}
{% set landing_page = g.doc('/content/amp-dev/documentation/examples/index.html') %}
{% elif 'components' in doc.url.path %}
{% set landing_page = g.doc('/content/amp-dev/documentation/components/index.html') %}
{% else %}
{% set landing_page = g.doc('/content/amp-dev/documentation/guides-and-tutorials/index.html') %}
{% endif %}

<ul class="ap-m-format-toggle">
  {% for format in formats %}
  {% do doc.icons.useIcon('icons/amp-' + format + '.svg') %}
  <li class="ap-m-format-toggle-format">
    <a class="ap-m-format-toggle-link ap-m-format-toggle-link-{{ format }}" href="{{ landing_page.url.path }}?format={{ format }}"><div class="ap-a-ico">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format }}"></use></svg>
      </div>AMP<br/>{{ format|capitalize }}</a>
  </li>
  {% endfor %}
</ul>

<!--
<amp-user-notification id="format-notification"
  class="ap-m-format-toggle-notification"
  layout="nodisplay">
  <div class="ap-m-format-toggle-notification-inner" on="tap:format-notification.dismiss">
    Tip: Filter your journey for a more streamlined experience.
    <button>Dismiss</button>
  </div>
</amp-user-notification>
-->
