{% do doc.styles.addCssFile('css/components/molecules/formats-visual.css') %}

<div class="ad-m-formats-visual">
  <div class="ad-m-formats-visual-image ad-m-formats-visual-bottom-image">
    <amp-img src="/static/img/component-visual-site.png" layout="responsive" height="1" width="1"></amp-img>
  </div>
  <div class="ad-m-formats-visual-image ad-m-formats-visual-top-image">
    <amp-img src="/static/img/component-visual-nav.png" layout="responsive" height="2" width="1"></amp-img>
  </div>
</div>
