{% do doc.styles.addCssFile('css/components/molecules/format-visual.css') %}
{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}

<div class="ad-m-format-visual">
  <div class="ad-m-format-visual-image ad-m-format-visual-bottom-image">
    <amp-img src="/static/img/component-visual-site.png" layout="responsive" height="1.3" width="1"></amp-img>
  </div>
  <div class="ad-m-format-visual-image ad-m-format-visual-top-image" title="<amp-sidebar>">
    <amp-img src="/static/img/component-visual-nav.png" layout="responsive" height="1.5" width="0.80"></amp-img>
  </div>
  <div class="ad-m-format-visual-code-snippet">
    <div class="ad-m-code-snippet">
      <pre><span></span><span class="p">&lt;</span><span class="nt">amp-sidebar</span>
  <span class="na">id</span><span class="o">=</span><span class="s">"sidebar"</span>
  <span class="na">layout</span><span class="o">=</span><span class="s">"nodisplay"</span>
  <span class="na">slide</span><span class="o">=</span>"<span class="ad-m-format-visual-code-snippet-highlight"></span>"</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">amp-sidebar</span><span class="p">&gt;</span></pre>
      </div>
    </div>
</div>
