{% do doc.styles.addCssFile('css/components/organisms/fragment-slider-images.css') %}
<div
  class="ap-o-fragment-slider-images slide1"
  [class]='"ap-o-fragment-slider-images slide" +selected.slide'>

  <div class="slide slide1 active" [class]="selected.slide == 1 ? 'slide slide1 active' : 'slide slide1'">
    <amp-img src="/static/img/amp-concert-01.jpg"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>

    <amp-img src="/static/img/amp-concert-02.jpg"
      class="small small01"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-concert-03.jpg"
      class="small small02"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-concert-04.jpg"
      class="small small03"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-concert-05.jpg"
      class="small small04"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-concert-06.jpg"
      class="small small05"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-concert-07.jpg"
      class="small small06"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>

  <div class="slide slide2" [class]="selected.slide == 2 ? 'slide slide2 active' : 'slide slide2'">
    <amp-img src="/static/img/amp-article-01.jpg"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 02">
    </amp-img>

    <amp-img src="/static/img/amp-article-02.jpg"
      class="small small01"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-article-03.jpg"
      class="small small02"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-article-04.jpg"
      class="small small03"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-article-05.jpg"
      class="small small04"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-article-06.jpg"
      class="small small05"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/amp-article-07.jpg"
      class="small small06"
      width="200"
      height="130"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>
  
</div>