{% do doc.styles.addCssFile('css/components/organisms/fragment-slider-images.css') %}
<div
  class="ad-o-fragment-slider-images slide1"
  [class]='"ad-o-fragment-slider-images slide" +selected.slide'>

  <div class="slide slide1 active" [class]="selected.slide == 1 ? 'slide slide1 active' : 'slide slide1'">
    <amp-img src="/static/img/dummy-use-cases-example-01.png"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>

    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small01"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small02"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small03"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small04"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small05"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small06"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>

  <div class="slide slide2" [class]="selected.slide == 2 ? 'slide slide2 active' : 'slide slide2'">
    <amp-img src="/static/img/dummy-use-cases-example-02.png"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 02">
    </amp-img>

    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small01"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small02"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small03"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small04"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small05"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small06"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>

  <div class="slide slide3" [class]="selected.slide == 3 ? 'slide slide3 active' : 'slide slide3'">
    <amp-img src="/static/img/dummy-use-cases-example-03.png"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 03">
    </amp-img>

    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small01"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small02"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small03"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small04"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small05"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small06"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>

  <div class="slide slide4" [class]="selected.slide == 4 ? 'slide slide4 active' : 'slide slide4'">
    <amp-img src="/static/img/dummy-use-cases-example-04.png"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 04">
    </amp-img>

    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small01"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small02"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small03"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small04"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small05"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small06"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>

  <div class="slide slide5" [class]="selected.slide == 5 ? 'slide slide5 active' : 'slide slide5'">
    <amp-img src="/static/img/dummy-use-cases-example-01.png"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 05">
    </amp-img>

    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small01"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small02"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small03"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small04"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small05"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small06"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>

  <div class="slide slide6" [class]="selected.slide == 6 ? 'slide slide6 active' : 'slide slide6'">
    <amp-img src="/static/img/dummy-use-cases-example-02.png"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 06">
    </amp-img>

    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small01"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small02"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small03"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small04"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small05"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
    <amp-img src="/static/img/dummy-use-cases-example-01-1.png"
      class="small small06"
      width="1000"
      height="650"
      layout="responsive"
      alt="Use case 01">
    </amp-img>
  </div>

</div>