{% do doc.styles.addCssFile('css/components/organisms/fragment-slider-controls.css') %}

<div class="ap-o-fragment-slider-controls">
  <amp-state id="selected">
    <script type="application/json">
      {
        "slide": 1
      }
    </script>
  </amp-state>

  <button tabindex="0" role="button" on="tap:AMP.setState({selected: {slide: selected.slide - 1}})" class="ap-o-fragment-slider-prevbtn slide1" [class]='"ap-o-fragment-slider-prevbtn slide" +selected.slide'>
    <div class="ap-a-ico ap-m-lnk-icon">
      {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
    </div>
  </button>

  <button tabindex="0" role="button" on="tap:AMP.setState({selected: {slide: selected.slide + 1}})" class="ap-o-fragment-slider-nextbtn" [class]='"ap-o-fragment-slider-nextbtn slide" +selected.slide'>
    <div class="ap-a-ico ap-m-lnk-icon">
      {% do doc.icons.useIcon('icons/internal.svg') %}
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
    </div>
  </button>
</div>

<amp-carousel id="carouselcontroller" class="ap-o-fragment-slider-carouselcontroller"
  layout="responsive"
  height="300"
  width="500"
  type="slides"
  [slide]=selected.slide-1
  on="slideChange:AMP.setState({selected: {slide: event.index + 1}})"
  style="position: absolute;
    width: 100vw;
    opacity: 0;
    z-index: 1;"
  >
  <div>
    <amp-img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
      layout="fill"
      ></amp-img>

  </div>

  <div>
    <amp-img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
      layout="fill"
      ></amp-img>

  </div>

  <div>
    <amp-img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs="
      layout="fill"
      ></amp-img>

  </div>
</amp-carousel>
