{% set second_level = doc.sub_navigation or doc.collection.sub_navigation or None %}
{% if not second_level %}
{% set second_level = g.collection('/content/amp-dev/' + doc.pod_path.split('/')[3]).sub_navigation %}
{% endif %}

{# Tests if one of the top level navigation items needs to be active #}
{% macro active_class(search_path) -%}
{% if doc.pod_path.startswith(search_path) %}ap-m-nav-link-active{% endif %}
{%- endmacro %}

{% do doc.styles.addCssFile('/css/components/organisms/header.css') %}
<header class="ap--header" [class]="mainmenuopen ? 'ap--header mainmenuopen' : 'ap--header'">
  {% include '/views/partials/banner.j2' %}

  <div class="ap-o-header">
    <a class="ap-o-header-home" href="{{g.doc('/content/amp-dev/index.html', locale=doc.locale).url.path}}">
      {% do doc.icons.useIcon('/icons/logo.svg') %}
      <svg class="ap-o-header-home-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
      <span class="ap-o-header-home-title">AMP</span>
    </a>

    {% do doc.styles.addCssFile('/css/components/molecules/nav-link.css') %}
    <nav class="ap-o-header-main">
      {# Top level sections, defined by their top collection and landing page #}
      {% set sections = [
        (g.collection('/content/amp-dev/about/'), None),
        (g.collection('/content/amp-dev/documentation/'), None),
        (g.collection('/content/amp-dev/community/'), None),
        (g.collection('/content/amp-dev/events/'), None),
        ('external', ('Blog', 'https://blog.amp.dev')),
        (None, g.doc('/content/amp-dev/support/index.md', locale=doc.locale))
      ] %}

      {% for section, homepage in sections %}
      <div class="ap-o-header-main-item">
        {% if section == 'external' %}
        <a class="ap-o-header-main-link ap-m-nav-link" href="{{ homepage[1] }}">{{ homepage[0] }}</a>
        {% elif not section %}
        <a class="ap-o-header-main-link ap-m-nav-link {{ active_class(homepage.pod_path) }}" href="{{ homepage.url.path }}">{{ homepage.titles('navigation') }}</a>
        {% else %}
        <button class="ap-o-header-main-link ap-m-nav-link {{ active_class(section.pod_path) }}">
          {{ section.title }}
          <div class="ap-a-ico ap-o-header-main-link-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
          </div>
        </button>

        {% do doc.icons.useIcon('/icons/angle-down-solid.svg') %}
        <ul class="ap-o-header-flyout">
          {% for path in section.flyout %}
          {% set flyout_doc = g.doc(path, locale=doc.locale) %}
          {% set flyout = flyout_doc.flyout or {} %}

          {# If the flyout has an icon and a description its a primary item #}
          {% if flyout.icon and flyout.description %}
          <li class="ap-o-header-flyout-primary-item">
            <a class="ap-o-header-flyout-primary-item-link {{ flyout.format }}" href="{{ flyout_doc.url.path }}">
            {% do doc.icons.useIcon('/icons/' + flyout.icon + '.svg') %}
              <div class="ap-o-header-flyout-primary-item-link-icon {{ flyout.format }}">
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ flyout.icon }}"></use></svg>
              </div>

              <div class="ap-o-header-flyout-primary-item-link-info{% if flyout.format %} ap-o-header-flyout-primary-item-link-info-{{ flyout.format }}{% endif %}">
                <div class="ap-o-header-flyout-item-title">{{ flyout_doc.titles('navigation') }}</div>
                <div class="ap-o-header-flyout-item-description">{{ flyout.description }}</div>
              </div>
            </a>
          </li>
          {% else %}
          <li class="ap-o-header-flyout-item-secondary">
            <a class="ap-o-header-flyout-item-title secondary" href="{{ flyout_doc.url.path }}">{{ flyout_doc.titles('navigation') }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </nav>

    {% do doc.styles.addCssFile('/css/components/molecules/language-selector.css') %}
    <div class="ap-m-language-selector">
      <button class="ap-m-language-selector-toggle" aria-label="{{ _('Select a language') }}">
        <span class="ap-m-nav-link">{{ doc.locale.language|upper }}</span>
        {% do doc.icons.useIcon('/icons/angle-down-solid.svg') %}
        <div class="ap-a-ico ap-m-language-selector-icon">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
        </div>
      </button>
      <div class="ap-m-language-selector-list" role="list">
        {% for locale in doc.locales if not locale == doc.locale  %}
        {% set localized_doc = doc.localize(locale) %}
        <a class="ap-m-nav-link" href="{{ localized_doc.url.path }}" role="listitem">{{ locale.get_language_name()|capitalize }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</header>
