{% do doc.styles.addCssFile('css/components/molecules/roadshow-video.css') %}

<div class="ap-m-stage-video">
  <div class="ap-m-stage-video-block">
    <amp-youtube data-videoid="5OnSrGU5TsE" layout="responsive" height="1" width="1.5"></amp-youtube>
  </div>
</div>