{% do doc.styles.addCssFile('css/components/molecules/roadshow-video.css') %}

<div class="ap-m-roadshow-video">
  <div class="ap-m-roadshow-video-block">
    <amp-youtube data-videoid="5OnSrGU5TsE" layout="responsive" height="9" width="16"></amp-youtube>
  </div>
</div>