{% do doc.styles.addCssFile('/css/components/organisms/search.css') %}

{% do doc.icons.useIcon('/icons/search.svg') %}
{% do doc.icons.useIcon('icons/internal.svg') %}
{% do doc.icons.useIcon('/icons/close.svg') %}

{% do doc.amp_dependencies.add('amp-autocomplete', '0.1') %}
{% do doc.amp_dependencies.add('amp-form', '0.1') %}
{% do doc.amp_dependencies.add('amp-bind', '0.1') %}
{% do doc.amp_dependencies.add('amp-list', '0.1') %}
{% do doc.amp_dependencies.add('amp-mustache', '0.2', 'template') %}

<div id="searchLayer" class="ap-o-search" tabindex="-1">
  <div class="ap-o-search-container">
    <div class="ap-m-search-trigger ap-m-search-trigger-close" on="tap:searchLayer.toggleClass(class='active'),searchTriggerOpen.focus,AMP.setState({ query: '' })" role="button" tabindex="0">
      <div class="ap-a-ico ap-m-search-trigger-icon">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
      </div>
    </div>

  {% raw %}
  <template id="search_results_template" type="amp-mustache">

    {{^prevUrl}}
    <p class="ap-o-search-info">{{result.totalResults}} {% endraw %}{{_('results found')}}{% raw %}</p>
    {{/prevUrl}}

    <div class="ap-o-search-result-list">
      {{^prevUrl}}
      {{#result.components.length}}
      <h3 class="ap-o-search-result-category">{% endraw %}{{_('Components')}}{% raw %}</h3>
      {{/result.components.length}}
      {{/prevUrl}}
      {{#result.components}}
      <div class="ap-o-search-result-item">
        <a class="ap-o-search-result-link" href="{{url}}">
          <h4 class="ap-o-search-result-title">{{title}}</h4>
          <p class="ap-o-search-result-description">{{description}}</p>
        </a>
        <div class="ap-o-search-result-linklist">
          {{-#exampleUrl-}}
          <a class="ap-o-search-result-linklist-item ap-m-lnk" href="{{exampleUrl}}">
            <div class="ap-a-ico ap-m-lnk-icon">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">{% endraw %}{{_('Open example')}}{% raw %}</span>
          </a>
          {{-/exampleUrl-}}
          {{-#playgroundUrl-}}
          <a class="ap-o-search-result-linklist-item ap-m-lnk"href="{{playgroundUrl}}">
            <div class="ap-a-ico ap-m-lnk-icon">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">{% endraw %}{{_('Open in playground')}}{% raw %}</span>
          </a>
          {{-/playgroundUrl-}}
        </div>
      </div>
      {{/result.components}}

      {{^prevUrl}}
      {{#result.pages.length}}
      <h3 class="ap-o-search-result-category">{% endraw %}{{_('Examples')}}{% raw %}</h3>
      {{/result.pages.length}}
      {{/prevUrl}}
      {{#result.pages}}
      <div class="ap-o-search-result-item">
        <a class="ap-o-search-result-link" href="{{url}}">
          <h4 class="ap-o-search-result-title">{{title}}</h4>
          <p class="ap-o-search-result-description">{{description}}</p>
        </a>
      </div>
      {{/result.pages}}
    </div>

    {{#result.isTruncated}}
    <div class="ap-o-search-result-load-hint">
      {% endraw %}{{_('Although there are {hits} hits in total we cannot show more than 100.', hits='{'+'{result.totalResults}'+'}')}}{% raw %}
    </div>
    {{/result.isTruncated}}
  </template>
  {% endraw %}

    <div class="ap-o-search-field">
      <form action-xhr="/documentation/examples/api/echo" class="ap-o-search-form" id="searchForm" method="POST" target="_top">
        <amp-autocomplete class="ap-o-search-autocomplete"
                          filter="substring"
                          min-characters="0"
                          on="select:AMP.setState({ query: event.value }),searchLayer.focus"
                          submit-on-enter="false"
                          src="/search/autosuggest"
        >
          <div class="ap-a-ico ap-o-search-input-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use></svg>
          </div>
          <input id="searchInput"
                 class="ap-o-search-input"
                 name="q"
                 placeholder="{{_('What are you looking for?')}}"
                 on="input-debounced:AMP.setState({ query: event.value })"
                 required
          >
        </amp-autocomplete>

        <input name="locale" type="hidden" value="{{ doc.locale }}">

        <div submit-error>
          {{_('An internal server error occurred while trying to load the search results.')}}<br>
          {{_('We apologize for the inconvenience caused.')}}<br>
          {{_('Please try again later.')}}
        </div>
      </form>

      <div class="ap-o-search-result empty" [class]="query.length == 0 ? 'ap-o-search-result empty' : 'ap-o-search-result'">

        <amp-state id="search" [src]="'/search/do?q=' + encodeURIComponent(query) + '&locale={{ doc.locale }}'"></amp-state>
        <amp-list [src]="'/search/do?q=' + encodeURIComponent(query) + '&locale={{ doc.locale }}'"
                  binding="no"
                  class="paged-amp-list"
                  items="."
                  height="10"
                  layout="fixed-height"
                  [is-layout-container]="query.length"
                  load-more="auto"
                  load-more-bookmark="nextUrl"
                  template="search_results_template"
                  reset-on-refresh
                  single-item
        >
          <amp-list-load-more load-more-button>
            <div class="ap-o-search-result-load-button" overflow>
              <button class="ap-a-btn">{{_('Load more')}}</button>
            </div>
          </amp-list-load-more>

          <amp-list-load-more class="ap-o-search-result-load-hint" load-more-failed>
            {{_('An internal server error occurred while trying to load more search results.')}}<br>
            {{_('We apologize for the inconvenience caused.')}}<br>
            {{_('Please try again later.')}}
          </amp-list-load-more>

          <amp-list-load-more class="ap-o-search-result-load-hint" load-more-end>
            {{_('You have reached the end of the results.')}}
          </amp-list-load-more>
        </amp-list>

      </div>
    </div>

    <div [hidden]="query.length > 0" class="ap-o-search-result-list">

      <amp-list src="/static/files/search-promoted-pages/{{ doc.locale }}.json"
                binding="no"
                class="paged-amp-list"
                items="."
                height="500"
                layout="fixed-height"
                is-layout-container="true"
                reset-on-refresh
                single-item
      >
        {% raw %}
        <template type="amp-mustache">
          <div class="ap-o-search-result-list">
            {{#components.length}}
            <h3 class="ap-o-search-result-category">{% endraw %}{{_('Important Components')}}{% raw %}</h3>
            {{/components.length}}
            {{#components}}
            <div class="ap-o-search-result-item">
              <a class="ap-o-search-result-link" href="{{url}}">
                <h4 class="ap-o-search-result-title">{{title}}</h4>
                <p class="ap-o-search-result-description">{{description}}</p>
              </a>
            </div>
            {{/components}}

            {{#articles.length}}
            <h3 class="ap-o-search-result-category">{% endraw %}{{_('Popular Articles')}}{% raw %}</h3>
            {{/articles.length}}
            {{#articles}}
            <div class="ap-o-search-result-item">
              <a class="ap-o-search-result-link" href="{{url}}">
                <h4 class="ap-o-search-result-title">{{title}}</h4>
                <p class="ap-o-search-result-description">{{description}}</p>
              </a>
            </div>
            {{/articles}}
          </div>
        </template>
        {% endraw %}
      </amp-list>

    </div>
  </div>
</div>
