{% do doc.amp_dependencies.add('amp-install-serviceworker', '0.1') %}
<amp-install-serviceworker src="/serviceworker.js" data-iframe-src="{{ podspec.base_urls.platform }}/serviceworker.html" layout="nodisplay"></amp-install-serviceworker>
