<div class="ap--sidebar-toggle-observer">

  <amp-position-observer on="enter:slideTransition.start; exit:slideTransition.start,slideTransition.reverse" intersection-ratios="1" layout="nodisplay">
  </amp-position-observer>

  <amp-animation id="slideTransition" layout="nodisplay">
    <script type="application/json">
      {
        "duration": "150ms",
        "fill": "both",
        "easing": "ease-out",
        "iterations": "1",
        "animations": [{
          "selector": ".label-title",
          "keyframes": [{
              "transform": "scale3d(0, 1, 1)"
            },
            {
              "transform": "scale3d(1, 1, 1)"
            }
          ]
        }]
      }
    </script>
  </amp-animation>

</div>
