<input class="ap-a-sidebar-mobile-toggle-input ap-a-sidebar-mobile-toggle-input-sidebar" type="checkbox" name="sidebar" id="sidebar" autocomplete="off">

<input class="ap-a-sidebar-desktop-toggle-input ap-a-sidebar-desktop-toggle-input-sidebar" type="checkbox" name="sidebar-desktop" id="sidebar-desktop" autocomplete="off">
