<section class="ad--sidebar">
  {% do doc.styles.addCssFile('/css/components/atoms/sidebar-toggle.css') %}
  <label class="ad-a-sidebar-toggle-label ad-a-sidebar-toggle-label-sidebar" for="sidebar">Sidebar</label>
  <input class="ad-a-sidebar-toggle-input" type="checkbox" name="sidebar" id="sidebar">

  {% do doc.styles.addCssFile('css/components/organisms/sidebar.css') %}
  <div class="ad-o-sidebar">
    {% include '/views/partials/format-toggle.j2' %}

    <div class="nav">
      {% macro nav_tree(root, iteration=1, depth=None) -%}
      {% if not depth or iteration <= depth %}
      <ul class="nav-list level-{{ iteration }}">
          {% set collections = root.collections() %}
          {% set documents = root.list_docs_unread(locale=doc.locale) %}

          {% set items = (collections + documents)|sort(attribute='order') %}
          {% for item in items %}
          {# Check if the item is a) collection ... #}
          {% if '<Collection' in item|pprint %}
          {% set collection = item %}
          {% set currentCollectionPaths = doc.collection.collection_path.split('/') %}
          {% set allCollectionPaths = collection.collection_path.split('/') %}
          {% set activeCollection = true if currentCollectionPaths[-1] == allCollectionPaths[-1] or currentCollectionPaths[-2] == allCollectionPaths[-1] else None %}

          {% set formats = collection.formats or [] %}
          <li class="nav-item level-{{ iteration }} {% if activeCollection %}active {% endif %} {% for format in formats %}ad--{{ format }} {% endfor %}">
            {% set collection_index = '/content/' + collection.collection_path + '/index.md' %}
            {% if doc.pod.file_exists(collection_index) %}
            {% set collection_index = g.doc(collection_index) %}
            <a class="nav-link" href="{{ collection_index.url.path }}">{{ _(collection.title) }}</a>
            {% else %}
            <span class="nav-link">{{ _(collection.title) }}</span>
            {% endif %}
            <input class="nav-trigger" {% if activeCollection or iteration == 1  %}checked {% endif %} type="checkbox">
            <div class="nav-icon">
              {% if iteration==1 %}
              {% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
              <svg class="ad-a-ico solid"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
              {% else %}
              {% do doc.icons.useIcon('icons/angle-down-light.svg') %}
              <svg class="ad-a-ico light"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-light"></use></svg>
              {% endif %}
            </div>
            {{ nav_tree(collection, iteration=iteration+1, depth=depth) }}
          </li>
          {# Check if the item is b) document #}
          {% elif '<Document' in item|pprint %}
          {% set document = item %}
          {% if not document.hidden %}
          {% set formats = document.formats or document.collection.formats or [] %}
          {% set activeDocument = true if document.url == doc.url %}
          <li class="nav-item level-{{ iteration }} {% if activeDocument %}active {% endif %} {% for format in formats %}ad--{{ format }} {% endfor %}">
            <a class="nav-link" href="{{ document.url.path }}">{{ _(document.title) }}</a>
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
      </ul>
      {% endif %}
      {%- endmacro %}

      {% set split_path = doc.collection.collection_path.split('/') %}
      {% set current_path = '/'.join(split_path[:3]) %}
      {{ nav_tree(root=g.collection(current_path)) }}
    </div>
  </div>
</section>
