{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-light.svg') %}
{% do doc.icons.useIcon('icons/bolt-solid.svg') %}

{% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

<div class="ap-o-stage ap-o-stage-{{ format }}">
  <div class="ap--container-fluid">
    <div class="ap-o-stage-content">
        {% if icon %}
        <div class="ap-o-stage-content-icon ap-a-ico">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt-solid"></use></svg>
        </div>
        {% endif %}

        {% if subline %}
        <h2 class="ap-o-stage-content-subline">{{ subline }}</h2>
        {% endif %}

        {% if headline %}
        <h1 class="ap-o-stage-content-headline">{{ headline }}</h1>
        {% endif %}

        {% if button.link and button.text %}
        <button class="ap-o-stage-content-button">
          <a href="{{ g.doc(button.link).url.path }}">{{ button.text }}</a>
        </button>
        {% endif %}
    </div>
  </div>
</div>
