{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-light.svg') %}
{% do doc.icons.useIcon('icons/logo-white.svg') %}

{% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

<div class="ad-o-stage ad-o-stage-{{ format }}">
  <div class="ad--container">
    <div class="ad-o-stage-content">
        {% if icon %}
        <div class="ad-o-stage-content-icon ad-a-ico">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-white"></use></svg>
        </div>
        {% endif %}

        {% if subline %}
        <h2 class="ad-o-stage-content-subline">{{ subline }}</h2>
        {% endif %}

        {% if headline %}
        <h1 class="ad-o-stage-content-headline">{{ headline }}</h1>
        {% endif %}

        {% if button.link and button.text %}
        <button class="ad-o-stage-content-button">
          <a href="{{ g.doc(button.link).url.path }}">{{ button.text }}</a>
        </button>
        {% endif %}
    </div>
  </div>
</div>