{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-light.svg') %}
{% do doc.icons.useIcon('icons/logo-white.svg') %}

{% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

<section class="ad--stage">
  <div class="ad-o-stage">
    <div class="ad-o-stage-clipped-background {{ background_color }}"></div>

    {% if image %}
      <div class="ad-o-stage-image">
        <amp-img src={{ image }} layout="responsive" height="1" width="1.33" />
      </div>
    {% endif %}

    {% if formats %}
      <div class="ad-o-stage-formats">
        {% include 'views/partials/formats-visual.j2' %}
      </div>
    {% endif %}

    <div class="ad-o-stage-content">
  		<div>
        {% if icon %}
          <div class="ad-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-white"></use></svg>
          </div>
        {% endif %}
        <span class="hl-sub">{{ sub_headline }}</span>
      </div>
  		<span class="hl"> {{ headline }}</span>
      {% if destination_switch %}
      <div class="hl-inline">{{ destination_switch|safe }}</div>
      {% endif %}
      {% if headline_part_two %}
      <span class="hl">{{ headline_part_two }}</span>
      {% endif %}

      {% if button.link and button.text %}
      <button class="ad-o-stage-button">
        <a href="{{ g.doc(button.link).url.path }}">{{ button.text }}</a>
      </button>
      {% endif %}
    </div>
  </div>
</section>