{# Structured data can't be printed without a description #}
{% if doc.description or (doc.teaser and doc.teaser.text) %}
{% set description = doc.description or doc.teaser.text %}
<meta name="description" content="{{ description }}">
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Webpage",
  "url": "{{ doc.pod.podspec.base_urls.platform }}{{ doc.url.path }}",
  "name": "amp.dev",
  "headline":"{{ doc.title }}",
  "description":"{{ description }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ doc.pod.podspec.base_urls.platform }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "AMP Project",
    "logo": {
        "url": "{{ doc.pod.podspec.base_urls.platform }}/static/img/icons/icon-512x512.png",
        "width": 512,
        "height": 512,
        "@type": "ImageObject"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "https://www.ampproject.org/static/img/logo-og-image.jpg",
    "width": 1200,
    "height": 630
  }
}
</script>
{% endif %}
