{# Success story teaser #}
{% if teaser_doc.view == '/views/detail/success-story-detail.j2' %}
{% do doc.styles.addCssFile('css/components/molecules/teaser-success-story.css') %}
<div class="ap-m-teaser ap-m-teaser-success-story"
    [% if category in {{ doc.collection.list_docs(locale=doc.locale)|map(attribute='category')|unique|list|tojson }} and category not in '{{ teaser_doc.category|slug }}' %]hidden[% endif %]
    [hidden]="filter.category != 'none' && filter.category != '{{ teaser_doc.category|slug }}'">
  <a href="{{ teaser_doc.url.path }}">

    {% if teaser_doc.category %}
    {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
    <div class="ap-m-tag ap-m-tag-general ap-m-teaser-tag">{{ _(teaser_doc.category) }}</div>
    {% endif %}

    <div class="ap-m-teaser-card">
      {% set teaser = teaser or teaser_doc.teaser or {} %}
      {% if teaser.video %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-video src="{{ teaser.video.src }}" layout="responsive" width="240" height="240" poster="{{ teaser.image.src }}" autoplay muted loop></amp-video>
      </div>
      {% elif teaser.image %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-img src="{{ teaser.image.src }}" layout="responsive" width="240" height="240" alt="{{ teaser.image.alt }}"></amp-img>
      </div>
      {% elif teaser.figure %}
      {% do doc.styles.addCssFile('css/components/molecules/kpi.css') %}
      <div class="ap-m-kpi ap-m-kpi-teaser ap-m-kpi-{{ teaser_doc.formats[0] }}">
        <div class="ap-m-kpi-content">
          {% if teaser.icon %}
          {% do doc.icons.useIcon('icons/' + teaser.icon + '.svg') %}
          <div class="ap-a-ico ap-m-kpi-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser.icon }}"></use></svg>
          </div>
          {% endif %}
          <span class="ap-m-kpi-number">{{ _(teaser.figure) }}</span>
          <span class="ap-m-kpi-text">{{ _(teaser.description) }}</span>
        </div>
      </div>
      {% endif %}

      <div class="ap-m-teaser-content">
        {% if teaser.logo %}
          <div class="ap-a-img ap-m-teaser-logo fixed-container">
            <amp-img class="contain" src="{{ teaser.logo.src }}" layout="fill" alt="{{ teaser.logo.alt }}"></amp-img>
          </div>
        {% endif %}

        <h4 class="ap-m-teaser-headline">{{ _(teaser.text) }}</h4>
      </div>
    </div>
  </a>
</div>
{% elif teaser_doc.view == '/views/detail/template-detail.j2' %}
{# Template teaser #}
{% do doc.styles.addCssFile('/css/components/molecules/teaser-template.css') %}
{% set teaser = teaser_doc.teaser or {} %}
{% set square = (teaser.image.width / teaser.image.height == 1) %}
<div class="ap-m-teaser ap-m-teaser-template ap-m-teaser-template-{{ teaser_doc.formats[0] }}{{ ' ap-m-teaser-square' if square }}" [hidden]="activeFilter.chosenFilter != 'none' && activeFilter.chosenFilter != '{{ teaser_doc.category|slug }}'" >
  {% if teaser_doc.url.path %}
    {% set navigation_url = teaser_doc.url.path %}
  {% else %}
    {% set navigation_url = teaser_doc.teaser.download_url %}
  {% endif %}
  <a href="{{ navigation_url }}">
    {% if teaser_doc.formats %}
    {% do doc.styles.addCssFile('/css/components/molecules/tag.css') %}
    <div class="ap-m-tag ap-m-tag-{{ teaser_doc.formats[0] }} ap-m-teaser-tag">{{ _(teaser_doc.formats[0]) }}</div>
    {% endif %}

    <div class="ap-m-teaser-card">
      {% if teaser.video %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-video src="{{ teaser.video.src }}" layout="responsive" width="{{ teaser.video.width }}" height="{{ teaser.video.height }}" poster="{{ teaser.image.src }}" autoplay muted loop></amp-video>
      </div>
      {% else %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
      </div>
      {% endif %}
    </div>
    <div class="ap-m-teaser-content">
      <h4 class="ap-m-teaser-headline">{{ _(teaser_doc.titles('teaser')) }}</h4>
    </div>
  </a>
</div>
{% elif teaser_doc.view == '/views/detail/component-detail.j2' %}
{# Component teaser #}
<div class="ap-m-teaser ap-m-teaser-code">
  <a href="{{ teaser_doc.url.path }}">
    <div class="ap-m-teaser-card">
      {% with %}
      {% set formats = teaser_doc.formats %}
      {% include 'views/partials/teaser-tags.j2' %}
      {% endwith %}
      <div class="ap-m-teaser-content">
        <div class="ap-m-teaser-content-text">
          <code><span>{{ _(teaser_doc.title) }}</span></code>
          {% if teaser_doc.teaser %}
          <p>{{ _(teaser_doc.teaser.text) }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
{% elif teaser_doc.view == '/views/examples/documentation.j2' %}
{# Example teaser #}
{% do doc.styles.addCssFile('/css/components/molecules/teaser-example.css') %}
{% set formats = teaser_doc.formats or ['websites'] %}
[% if ({{ formats|tojson }}).includes(format) %]
<div class="ap-m-teaser ap-m-teaser-example" data-category="{{ teaser_doc.category|slug }}" [hidden]="activeFilter.chosenFilter != 'none' && activeFilter.chosenFilter != '{{ teaser_doc.category|slug }}'">
  {% if teaser_doc.used_components %}
  <div class="ap-m-teaser-info-trigger">
    <strong>{{ _(teaser_doc.used_components|length) }} AMP components</strong> used
  </div>

  <div class="ap-m-teaser-info-content">
    <div class="ap-m-teaser-info-headline">Used components</div>
    <ul class="ap-m-teaser-info-list">
      {% for used_component in teaser_doc.used_components %}
      <li class="ap-m-teaser-info-list-item">
        {% set component_path = '/content/amp-dev/documentation/components/reference/' + used_component + '-v0.1.md' %}
        {% if doc.pod.file_exists(component_path) %}
        <a href="{{ g.doc(component_path, locale=doc.locale).url.path }}" class="ap-m-teaser-info-list-item-link">{{ used_component }}</a>
        {% else %}
        <a href="{{ g.doc('/content/amp-dev/documentation/components/index.html', locale=doc.locale).url.path }}" class="ap-m-teaser-info-list-item-link">{{ used_component }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <div class="ap-m-teaser-info-link">
      <a class="ap-m-lnk" href="{{ teaser_doc.url.path }}">
        <div class="ap-a-ico ap-m-lnk-icon">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('See example' ) }}</span>
      </a>
    </div>
  </div>
  {% endif %}

  <a tabindex="-1" class="ap-m-teaser-linking" href="{{ teaser_doc.url.path }}">
    <div class="ap-m-teaser-card">
      {% set teaser = teaser_doc.teaser or {} %}

      {% if teaser_doc.formats %}
      <div class="ap-m-teaser-placeholder">
        {% with %}
        {% set formats = teaser_doc.formats %}
        {% include 'views/partials/teaser-tags.j2' %}
        {% endwith %}
      </div>
      {% endif %}

      <div class="ap-m-teaser-image">
        {% if teaser.image %}
        <amp-img
          src="{{ teaser.image.src }}"
          layout="fill"
          width="550"
          height="225"
          alt="{{ teaser_doc.title }}">
        </amp-img>
        {% elif teaser.icon %}
        <div class="ap-m-teaser-icon">
          {% do doc.icons.useIcon('icons/' + teaser.icon + '.svg') %}
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser.icon }}"></use></svg>
          </div>
        </div>
        {% else %}
        <div class="ap-m-teaser-icon">
          {% do doc.icons.useIcon('icons/example-default.svg') %}
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#example-default"></use></svg>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="ap-m-teaser-content">
        <h4 class="ap-m-teaser-headline">{{ _(teaser_doc.titles('teaser')) }}</h4>
      </div>
    </div>
  </a>
</div>
[% endif %]
{% elif teaser_doc.view == '/views/detail/docs-detail.j2' and highlightedTeaser %}
{# guides and tutorials #}
<div class="ap-m-teaser ap-m-teaser-highlighted">
  <div class="ap-m-teaser-double-teaser">
    {% with %}
    {% set formats = teaser_doc.formats %}
    {% include 'views/partials/teaser-tags.j2' %}
    {% endwith %}
    {% if teaser_doc.image %}
    <div class="ap-a-img ap-m-teaser-image">
      <amp-img src="{{ teaser_doc.image.src }}" layout="responsive" width="230" height="100" alt="{{ teaser_doc.image.alt }}"></amp-img>
    </div>
    {% endif %}
    <a href="{{ teaser_doc.url.path }}">
      <div class="ap-m-teaser-content">
        <div class="ap-m-teaser-content-text">
          <h4>{{ _(teaser_doc.title) }}</h4>
          {% if teaser_doc.description %}
          <p>{{ _(teaser_doc.description) }}</p>
          {% else %}
          <p>{{ _('Discover more...') }}</p>
          {% endif %}
        </div>
        <div class="guide-tag">
          {% if teaser_doc.collection.tutorial %}
          <div class="guide-tag-icon guide-tag-icon-tutorial-nav" >
            {% do doc.icons.useIcon('icons/tutorial-nav.svg') %}
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tutorial"></use>
            </svg>
          </div>
          <span class="guide-tag-text">{{ _('Tutorial') }}</span>
          {% else %}
          <div class="guide-tag-icon guide-tag-icon-guide" >
            {% do doc.icons.useIcon('icons/guide.svg') %}
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#guide"></use>
            </svg>
          </div>
          <span class="guide-tag-text">{{ _('Guide') }}</span>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</div>
{%
  elif teaser_doc.view == '/views/detail/docs-detail.j2' or
  teaser_doc.view == '/views/custom.j2' and teaser
  %}
{# custom teaser #}
{% do doc.styles.addCssFile('/css/components/molecules/teaser-guide-tutorial.css') %}
{% set teaser = teaser_doc.teaser or {} %}
{% set formats = teaser_doc.formats or ['websites'] %}
[% if ({{ formats|tojson }}).includes(format) %]
<div class="ap-m-teaser ap-m-teaser-guide-tutorial">
  <a href="{{ teaser_doc.url.path }}">

    {# tags #}
    {% with %}
    {% set formats = teaser_doc.formats %}
    {% include 'views/partials/teaser-tags.j2' %}
    {% endwith %}

    {# image #}
    {% if teaser.image %}
      <div class="ap-a-img ap-m-teaser-image {% if teaser_doc.view == '/views/custom.j2' %} no-shadow {% endif %}">
        <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
      </div>
    {% elif teaser.icon %}
      <div class="ap-m-teaser-icon">
        {% do doc.icons.useIcon('icons/' + teaser.icon + '.svg') %}
        <div class="ap-a-ico">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser.icon }}"></use></svg>
        </div>
      </div>
    {% else %}
      <div class="ap-m-teaser-icon">
        {% do doc.icons.useIcon('icons/example-default.svg') %}
        <div class="ap-a-ico">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#example-default"></use></svg>
        </div>
      </div>
    {% endif %}

    {# card container #}
    <div class="ap-m-teaser-card">
      <div class="ap-m-teaser-content">
        <h4 class="ap-m-teaser-headline">{{ _(teaser_doc.titles('teaser')) }}</h4>
        {% if teaser.text or teaser_doc.description %}
          <p class="ap-m-teaser-copy">{{ _(teaser.text or teaser_doc.description) }}</p>
        {% endif %}
        {% if teaser.label %}
          <span class="ap-m-lnk">
            <span class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </span>
            <span class="ap-m-lnk-text">{{ _(teaser.label) }}</span>
          </span>
        {% endif %}
      </div>
    </div>
  </a>
</div>
[% endif %]
{% elif teaser_doc.view == '/views/detail/faq-detail.j2' %}
{# FAQ teaser #}
  {% do doc.styles.addCssFile('/css/components/molecules/teaser-faq.css') %}
  {% set teaser = teaser_doc.teaser or {} %}
  <div class="ap-m-teaser ap-m-teaser-faq">
    <a href="{{ teaser_doc.url.path }}">
      {% if teaser.image %}
        <div class="ap-a-img ap-m-teaser-image">
          <amp-img src="{{ teaser.image.src }}"
                   layout="responsive"
                   width="{{ teaser.image.width }}"
                   height="{{ teaser.image.height }}"
                   alt="{{ teaser.image.alt }}">
          </amp-img>
        </div>
      {% else %}
        <div class="ap-m-teaser-icon">
          {% set teaser_icon = teaser.icon if teaser.icon else 'example-default' %}
          {% do doc.icons.useIcon('icons/' + teaser_icon + '.svg') %}
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser_icon }}"></use></svg>
          </div>
        </div>
      {% endif %}

      <div class="ap-m-teaser-card">
        <div class="ap-m-teaser-content">
          <h4 class="ap-m-teaser-headline">{{ _(teaser_doc.titles('teaser')) }}</h4>
          {% if teaser.text or teaser_doc.description %}
            <p class="ap-m-teaser-copy">{{ _(teaser.text or teaser_doc.description) }}</p>
          {% endif %}
          {% if teaser.label %}
            <span class="ap-m-lnk ap-m-teaser-link">
              <span class="ap-a-ico ap-m-lnk-icon">
                {% do doc.icons.useIcon('icons/internal.svg') %}
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
              </span>
              <span class="ap-m-lnk-text">{{ _(teaser.label) }}</span>
            </span>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endif %}
