{# Success story teaser #}
{% if teaser_doc.view == '/views/detail/success-story-detail.j2' %}
{% do doc.styles.addCssFile('css/components/molecules/teaser-success-story.css') %}
<div class="ap-m-teaser ap-m-teaser-success-story" [hidden]="activeFilter.chosenFilter != 'none' && activeFilter.chosenFilter != '{{ teaser_doc.category|slug }}'">
  <a href="{{ teaser_doc.url.path }}">

    {% if teaser_doc.formats %}
    {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
    <div class="ap-m-tag ap-m-tag-{{ teaser_doc.formats[0] }} ap-m-teaser-tag">{{ teaser_doc.formats[0] }}</div>
    {% endif %}

    <div class="ap-m-teaser-card">
      {% set teaser = teaser or teaser_doc.teaser or {} %}
      {% if teaser.video %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-video class="ap--media" src="{{ teaser.video.src }}" layout="responsive" width="1" height="1" poster="{{ teaser.image.src }}" autoplay muted loop></amp-video>
      </div>
      {% elif teaser.image %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-img class="ap--media" src="{{ teaser.image.src }}" layout="responsive" width="1" height="1" alt="{{ teaser.image.alt }}"></amp-img>
      </div>
      {% elif teaser.figure %}
      {% do doc.styles.addCssFile('css/components/molecules/kpi.css') %}
      <div class="ap-m-kpi ap-m-kpi-teaser ap-m-kpi-{{ teaser_doc.formats[0] }}">
        <div class="ap-m-kpi-content">
          {% if teaser.icon %}
          {% do doc.icons.useIcon('icons/' + teaser.icon + '.svg') %}
          <div class="ap-a-ico ap-m-kpi-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser.icon }}"></use></svg>
          </div>
          {% endif %}
          <span class="ap-m-kpi-number">{{ teaser.figure }}</span>
          <span class="ap-m-kpi-text">{{ teaser.description }}</span>
        </div>
      </div>
      {% endif %}

      <div class="ap-m-teaser-content">
        {% if teaser.logo %}
          <div class="ap-a-img ap-m-teaser-logo fixed-container">
            <amp-img class="contain" src="{{ teaser.logo.src }}" layout="fill" alt="{{ teaser.logo.alt }}"></amp-img>
          </div>
        {% endif %}

        <h4 class="ap-m-teaser-headline">{{ teaser.text }}</h4>
      </div>
    </div>
  </a>
</div>
{% elif teaser_doc.view == '/views/detail/template-detail.j2' %}
{# Template teaser #}
{% do doc.styles.addCssFile('/css/components/molecules/teaser-template.css') %}
{% set teaser = teaser_doc.teaser or {} %}
{% set square = (teaser.image.width / teaser.image.height == 1) %}
<div class="ap-m-teaser ap-m-teaser-template ap-m-teaser-template-{{ teaser_doc.formats[0] }}{{ ' ap-m-teaser-square' if square }}" [hidden]="activeFilter.chosenFilter != 'none' && activeFilter.chosenFilter != '{{ teaser_doc.category|slug }}'" >
  <a href="{{ teaser_doc.teaser.download_url }}">
    {% if teaser_doc.formats %}
    {% do doc.styles.addCssFile('/css/components/molecules/tag.css') %}
    <div class="ap-m-tag ap-m-tag-{{ teaser_doc.formats[0] }} ap-m-teaser-tag">{{ teaser_doc.formats[0] }}</div>
    {% endif %}

    <div class="ap-m-teaser-card">
      {% if teaser.video %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-video class="ap--media" src="{{ teaser.video.src }}" layout="responsive" width="{{ teaser.video.width }}" height="{{ teaser.video.height }}" poster="{{ teaser.image.src }}" autoplay muted loop></amp-video>
      </div>
      {% else %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-img class="ap--media" src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
      </div>
      {% endif %}
    </div>
    <div class="ap-m-teaser-content">
      <h4 class="ap-m-teaser-headline">{{ teaser_doc.titles('teaser') }}</h4>
    </div>
  </a>
</div>
{% elif teaser_doc.view == '/views/detail/component-detail.j2' %}
{# Component teaser #}
{% do doc.styles.addCssFile('/css/components/molecules/teaser-component.css') %}
<div class="ap-m-teaser ap-m-teaser-component {% for format in teaser_doc.formats %}ap--{{ format }} {% endfor %}" data-category="{{ teaser_doc.category|slug }}" [hidden]="activeFilter.chosenFilter != 'none' && activeFilter.chosenFilter != '{{ teaser_doc.category|slug }}'">
  <a href="{{ teaser_doc.url.path }}">
    <div class="ap-m-teaser-card">
      {% if teaser_doc.formats %}
      {% do doc.styles.addCssFile('/css/components/molecules/tag.css') %}
      <div class="ap-m-teaser-tags">
        {% for format in teaser_doc.formats %}
        <div class="ap-m-tag ap-m-tag-{{ format }} ap-m-teaser-tag"></div>
        {% endfor %}
      </div>
      {% endif %}

      <div class="ap-m-teaser-header">
        <h4 class="ap-m-teaser-header-title">{{ teaser_doc.title }}</h4>
      </div>

      {% if teaser_doc.teaser and teaser_doc.teaser.text %}
      <div class="ap-m-teaser-content">
        <p class="ap-m-teaser-copy">{{ teaser_doc.teaser.text|truncate(100, false, '...') }}</p>
      </div>
      {% endif %}
    </div>
  </a>
</div>
{% elif teaser_doc.view == '/views/examples/documentation.j2' %}
{# Example teaser #}
{% do doc.styles.addCssFile('/css/components/molecules/teaser-example.css') %}
<div class="ap-m-teaser ap-m-teaser-example ap--{{ teaser_doc.formats[0] }}" data-category="{{ teaser_doc.category|slug }}" [hidden]="activeFilter.chosenFilter != 'none' && activeFilter.chosenFilter != '{{ teaser_doc.category|slug }}'">
  {% if teaser_doc.used_components %}
  <div class="ap-m-teaser-info-trigger">
    <strong>{{ teaser_doc.used_components|length }} AMP components</strong> used
  </div>

  <div class="ap-m-teaser-info-content">
    <div class="ap-m-teaser-info-headline">Used components</div>
    <ul class="ap-m-teaser-info-list">
      {% for used_component in teaser_doc.used_components %}
      <li class="ap-m-teaser-info-list-item">
        {% set component_path = '/content/amp-dev/documentation/components/reference/' + used_component + '.md' %}
        {% if doc.pod.file_exists(component_path) %}
        <a href="{{ g.doc(component_path, locale=doc.locale).url.path }}" class="ap-m-teaser-info-list-item-link">{{ used_component }}</a>
        {% else %}
        <a href="{{ g.doc('/content/amp-dev/documentation/components/index.html', locale=doc.locale).url.path }}" class="ap-m-teaser-info-list-item-link">{{ used_component }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <div class="ap-m-teaser-info-link">
      <a class="ap-m-lnk" href="{{ teaser_doc.url.path }}">
        <div class="ap-a-ico ap-m-lnk-icon">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('See example' ) }}</span>
      </a>
    </div>
  </div>
  {% endif %}

  <a class="ap-m-teaser-linking" href="{{ teaser_doc.url.path }}">
    <div class="ap-m-teaser-card">
      {% set teaser = teaser_doc.teaser or {} %}

      {% if teaser_doc.formats %}
      <div class="ap-m-teaser-placeholder">
        {% do doc.styles.addCssFile('/css/components/molecules/tag.css') %}
        <div class="ap-m-teaser-tags">
          {% for format in teaser_doc.formats %}
          <div class="ap-m-tag ap-m-tag-{{ format }} ap-m-teaser-tag"></div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="ap-m-teaser-image">
        {% if teaser.image %}
        <amp-img
          src="{{ teaser.image.src }}"
          layout="fill"
          width="22"
          height="9"
          alt="{{ teaser_doc.title }}">
        </amp-img>
        {% elif teaser.icon %}
        <div class="ap-m-teaser-icon">
          {% do doc.icons.useIcon('icons/' + teaser.icon + '.svg') %}
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser.icon }}"></use></svg>
          </div>
        </div>
        {% else %}
        <div class="ap-m-teaser-icon">
          {% do doc.icons.useIcon('icons/example-default.svg') %}
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#example-default"></use></svg>
          </div>
        </div>
        {% endif %}
      </div>

      <div class="ap-m-teaser-content">
        <h4 class="ap-m-teaser-headline">{{ teaser_doc.titles('teaser') }}</h4>
      </div>
    </div>
  </a>
</div>
{% endif %}

{# guides and tutorials #}
{%
  if teaser_doc.view == '/views/overview/guides.j2' or
  teaser_doc.view == '/views/detail/docs-detail.j2' or
  teaser_doc.view == '/views/custom.j2'
%}
  {% do doc.styles.addCssFile('/css/components/molecules/teaser-guide-tutorial.css') %}
  {% set teaser = teaser_doc.teaser or {} %}
  <div class="ap-m-teaser ap-m-teaser-guide-tutorial">
    <a href="{{ teaser_doc.url.path }}">

      {# tags #}
      {% if teaser_doc.formats %}
        {% do doc.styles.addCssFile('/css/components/molecules/tag.css') %}
        <div class="ap-m-teaser-tags">
          {% for format in teaser_doc.formats %}
          <div class="ap-m-tag ap-m-tag-{{ format }} ap-m-teaser-tag"></div>
          {% endfor %}
        </div>
      {% endif %}

      {# image #}
      {% if teaser.image %}
        <div class="ap-a-img ap-m-teaser-image {% if teaser_doc.view == '/views/custom.j2' %} no-shadow {% endif %}">
          <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
        </div>
      {% elif teaser.icon %}
        <div class="ap-m-teaser-icon">
          {% do doc.icons.useIcon('icons/' + teaser.icon + '.svg') %}
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser.icon }}"></use></svg>
          </div>
        </div>
      {% else %}
        <div class="ap-m-teaser-icon">
          {% do doc.icons.useIcon('icons/example-default.svg') %}
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#example-default"></use></svg>
          </div>
        </div>
      {% endif %}

      {# card container #}
      <div class="ap-m-teaser-card">
        <div class="ap-m-teaser-content">
          <h4 class="ap-m-teaser-headline">{{ teaser_doc.titles('teaser') }}</h4>
          {% if teaser.text or teaser_doc.description %}
            <p class="ap-m-teaser-copy">{{ teaser.text or teaser_doc.description }}</p>
          {% endif %}
          {% if teaser.label %}
            <span class="ap-m-lnk">
              <span class="ap-a-ico ap-m-lnk-icon">
                {% do doc.icons.useIcon('icons/internal.svg') %}
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
              </span>
              <span class="ap-m-lnk-text">{{ teaser.label }}</span>
            </span>
          {% endif %}
        </div>
      </div>
    </a>
  </div>
{% endif %}
