{% do doc.styles.addCssFile('css/components/organisms/teaser-grid.css') %}

{% set extract_teasers = 'detail' in doc.view or 'overview' in doc.view %}
{% if extract_teasers %}
</section>
<section class="ap--teaser-grid">
{% endif %}

<div class="ap-o-teaser-grid">

  {% if headline %}
  <h2>{{ _(headline) }}</h2>
  {% endif %}

  <div class="ap-o-teaser-grid-list ap-o-teaser-grid-list-count-{{ teasers|count }}">
    {% for teaser in teasers %}

    {# Teaser for guides and tutorial pages #}
    {% if teaser.type == 'guide' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-guide-tutorial.css') %}

    <div class="ap-m-teaser ap-m-teaser-guide-tutorial">
      <a href="{{ teaser.doc.url|relative }}">

        {% if teaser.image %}
        <div class="ap-a-img ap-m-teaser-image">
          <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ _(teaser.image.alt) }}"></amp-img>
        </div>
        {% endif %}

        <div class="ap-m-teaser-card">
          {% if teaser.destinations %}
          {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
          <div class="ap-m-teaser-tags">
            {% for destination in teaser.destinations %}
            <div class="ap-m-tag ap-m-tag-{{ destination }} ap-m-teaser-tag"></div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="ap-m-teaser-content">
            <h4 class="ap-m-teaser-headline">{{ _(teaser.headline) }}</h4>
            {% if teaser.video %}
            <div class="ap-m-teaser-video-length">
              {% do doc.icons.useIcon('icons/play.svg') %}
              <div class="ap-a-ico ap-m-teaser-video-length-icon">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
              </div>
              <span class="ap-m-teaser-video-length-text">{{ _(teaser.video.length) }}</span>
            </div>
          {% endif %}
          </div>
        </div>
      </a>
    </div>

    {# Teaser for success stories #}
    {% elif teaser.type == 'success_story' %}
    {# Moved to partials/teaser.j2! #}

    {# Teaser for templates #}
    {% elif teaser.type == 'template' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-template.css') %}

    <div class="ap-m-teaser ap-m-teaser-template ap-m-teaser-template-{{ teaser.destination }}">
      <a href="{{ teaser.doc.url|relative }}">
        {% if teaser.destination %}
        {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
        <div class="ap-m-tag ap-m-tag-{{ teaser.destination }} ap-m-teaser-tag">{{ _(teaser.destination) }}</div>
        {% endif %}

        <div class="ap-m-teaser-card">
          <div class="ap-a-img ap-m-teaser-image">
            <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
          </div>
        </div>
        <div class="ap-m-teaser-content">
          <h4 class="ap-m-teaser-headline">{{ _(teaser.headline) }}</h4>
        </div>
      </a>
    </div>

    {# Teaser for use cases #}
    {% elif teaser.type == 'use-case' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-use-case.css') %}

    <div class="ap-m-teaser ap-m-teaser-use-case">
      <a href="{{ teaser.doc.url|relative }}">
        {% if teaser.destination %}
        {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
        <div class="ap-m-tag ap-m-tag-{{ teaser.destination }} ap-m-teaser-tag">{{ teaser.destination }}</div>
        {% endif %}

        <div class="ap-m-teaser-card">
          {% if teaser.image %}
          <div class="ap-a-img ap-m-teaser-image">
            <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ _(teaser.image.alt) }}"></amp-img>
          </div>
          {% endif %}

          <div class="ap-m-teaser-content">
            <h4 class="ap-m-teaser-headline">{{ _(teaser.headline) }}</h4>
          </div>
        </div>
      </a>
    </div>

    {# Teaser for examples #}
    {% elif teaser.type == 'example' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-example.css') %}
    {% do doc.icons.useIcon('icons/example.svg') %}

    <div class="ap-m-teaser ap-m-teaser-example">

      {% if teaser.doc.used_components %}
      <div class="ap-m-teaser-info">
        <p>
          <strong>{{ teaser.doc.used_components|length }} AMP components</strong> used
        </p>
      </div>

      <div class="ap-m-teaser-content-hover">
        <h5>Used components</h5>
        <ul class="ap-m-teaser-content-hover-list">
          {% for used_component in teaser.doc.used_components %}
          <li class="ap-m-teaser-content-hover-list-item">
            <a href="{{ g.doc('/content/amp-dev/documentation/components/reference/' + used_component + '.md', locale=doc.locale).url.path }}" class="ap-m-teaser-content-hover-list-item-link">{{ used_component }}</a>
          </li>
          {% endfor %}
        </ul>
        <a class="ap-m-lnk" href="{{ teaser.doc.url.path }}">
          <div class="ap-a-ico ap-m-lnk-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('See example' ) }}</span>
        </a>
      </div>

      {% endif %}

      <a class="ap-m-teaser-linking" href="{{ teaser.doc.url|relative }}">
        <div class="ap-m-teaser-card">
          {% if teaser.image or True %}
          <div class="ap-a-img ap-m-teaser-image">
            <amp-img
              src="/static/img/teaser-placeholder-5x3.jpg"
              layout="responsive"
              width="5"
              height="3"
              alt="Dummy.">
            </amp-img>
          </div>
          {% else %}
          <div class="ap-m-teaser-fallback-image"></div>
          {% endif %}

          <div class="ap-m-teaser-content">
            {% if teaser.doc.formats %}
            {% do doc.styles.addCssFile('/css/components/molecules/tag.css') %}
            <div class="ap-m-teaser-tags">
              {% for format in teaser.doc.formats %}
              <div class="ap-m-tag ap-m-tag-{{ format }} ap-m-teaser-tag"></div>
              {% endfor %}
            </div>
            {% endif %}
            <h4 class="ap-m-teaser-headline">{{ _(teaser.headline) }}</h4>
            <p class="ap-m-teaser-copy">{{ _(teaser.text) }}</p>
          </div>
        </div>
      </a>

    </div>


    {# Teaser for components and as fallback if no fitting type is available #}
    {% elif teaser.type == 'component' or not teaser.type %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-component.css') %}

    <div class="ap-m-teaser ap-m-teaser-component">
      <a href="{{ teaser.doc.url|relative }}">
        <div class="ap-m-teaser-card">
          {% if teaser.destinations %}
          {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
          <div class="ap-m-teaser-tags">
            {% for destination in teaser.destinations %}
            <div class="ap-m-tag ap-m-tag-{{ destination }} ap-m-teaser-tag"></div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="ap-m-teaser-header">
            <h4 class="ap-m-teaser-header-title">{{ _(teaser.headline) }}</h4>
          </div>

          <div class="ap-m-teaser-content">
            <p class="ap-m-teaser-copy">{{ _(teaser.text) }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {% if cta %}
  {% do doc.icons.useIcon('icons/internal.svg') %}
  <a class="ap-m-lnk ap-m-lnk-square" href="{{ cta.doc.url }}">
    <div class="ap-a-ico ap-m-lnk-icon">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
    </div>
    <span class="ap-m-lnk-text">{{ _(cta.text) }}</span>
  </a>
  {% endif %}
</div>

{% if extract_teasers %}
</section>
<section class="ap--content">
{% endif %}
