{% do doc.styles.addCssFile('css/components/molecules/tools-visual.css') %}

<div class="ap-m-tools-visual">
  <div class="ap-m-tools-visual-image ap-m-tools-visual-image-1">
    <amp-img src="/static/img/tools/tools-visual-image-1.jpg" layout="responsive" width="2880" height="1654"></amp-img>
  </div>
  <div class="ap-m-tools-visual-image ap-m-tools-visual-image-2">
    <amp-img src="/static/img/tools/tools-visual-image-2.jpg" layout="responsive" width="622" height="620"></amp-img>
    <div class="ap-m-tools-visual-image ap-m-tools-visual-image-2-extra">
      <amp-img src="/static/img/tools/tools-visual-image-2-extra.png" layout="responsive" width="436" height="122"></amp-img>
    </div>
  </div>
  <div class="ap-m-tools-visual-image ap-m-tools-visual-image-3">
    <amp-img src="/static/img/tools/tools-visual-image-3.jpg" layout="responsive" width="211" height="177"></amp-img>
  </div>
</div>
