{% do doc.styles.addCssFile('css/components/molecules/teaser-success-story.css') %}
<div class="ap-m-teaser ap-m-teaser-success-story ap-m-teaser-card-{{ tool.type|lower }} {% for format in tool.formats %} ap--{{ format }}{% endfor %}"
    [% if format not in {{ tool.formats|tojson }} and not forceFiltered %]hidden[% endif %]
    [hidden]="filter.format != 'none' && !{{ tool.formats }}.includes(filter.format)">
  {% if tool.formats and tool.formats|length == 1 and not format %}
  {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
  <div class="ap-m-tag ap-m-tag-{{ tool.formats[0] }} ap-m-teaser-tag" role="filter" tabindex="0"
       on="tap:AMP.setState({filter: {format: '{{tool.formats[0]|slug}}' } })">
    <div class="ap-m-teaser-tag-icon ap-m-teaser-tag-{{tool.formats[0]}} ap-a-ico">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{tool.formats[0]}}"></use></svg>
    </div>
    {{ tool.formats[0]|title }}
  </div>
  {% endif %}
  <a href="{{ tool.url }}">
    <div class="ap-m-teaser-card">
      {% set teaser = tool or {} %}
      {% if teaser.video %}
      <div class="ap-a-img ap-m-teaser-image">
        <amp-video class="ap--media" src="{{ teaser.video.src }}" layout="responsive" width="2" height="1" poster="{{ teaser.image.src }}" autoplay muted loop></amp-video>
      </div>
      {% elif teaser.image %}
      <div class="ap-a-img ap-m-teaser-image{% if teaser.image.fit %} {{teaser.image.fit}}{% endif %}" {% if teaser.image.bgcolor %}style="background-color: {{teaser.image.bgcolor}};"{% endif %}>
        <amp-img class="ap--media{% if teaser.image.fit %} {{teaser.image.fit}}{% endif %}" src="{{ teaser.image.src }}" layout="responsive" width="2" height="1" alt="{{ teaser.image.alt }}"></amp-img>
      </div>
      {% endif %}

      <div>
          <div class="ap-m-teaser-content">
            {% if teaser.logo %}
            <div class="ap-a-img ap-m-teaser-logo fixed-container">
              <amp-img class="contain" src="{{ teaser.logo.src }}" layout="fill" alt="{{ teaser.logo.alt }}"></amp-img>
            </div>
            {% endif %}

            <h4 class="ap-m-teaser-headline">
            {%- if teaser.official %}{% do doc.icons.useIcon('/icons/logo-transparent.svg') -%}
              <div class="ap-m-teaser-logo ap-a-ico"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-transparent"></use></svg></div>
            {%- endif -%}
            {{- teaser.name -}}
            </h4>
            {% if teaser.description %}
            <p>{{ teaser.description }}</p>
            {% endif %}
          </div>

          {% if teaser.type %}
          <div class="ap-m-teaser-type ap-m-teaser-type-{{ tool.type|lower }}">{{ teaser.type }}</div>
          {% endif %}
      </div>

    </div>
  </a>
</div>
