{% set tools = g.yaml('/shared/data/tools.yaml') %}
{% do doc.styles.addCssFile('css/components/organisms/tools-widget.css') %}
{% do doc.styles.addCssFile('css/components/organisms/tools-teaser.css') %}

<section class="ap--tools">

<section class="ap--content">
  <div class="ap--container-fluid">
    <div class="ap-m-copy ap-m-copy-left-small">
        {% if format == 'ads' %}
          <h1 id="tools">{{ _('Start creating ads') }}</h1>
          <h5>{{ _('Pick one of several editors to start creating ads without any coding involved.', fmt=format) }}</h5>
        {% elif format == 'email' %}
          <h1 id="tools">{{ _('Start sending AMP Emails') }}</h1>
          <h5>{{ _('Pick one of several editors to start creating email without any coding involved.', fmt=format) }}</h5>
        {% elif format == 'stories' %}
          <h1 id="tools">{{ _('Start creating stories') }}</h1>
          <h5>{{ _('Pick one of several editors to start creating stories without any coding involved.', fmt=format) }}</h5>
          <p>{{ _('Looking to get your Story creation resource listed? <a href="https://github.com/ampproject/amp.dev/issues/new?assignees=&labels=&template=story_creation_tool.md&title=">Create a request here!</a>') }}</p> 
        {% elif format == 'websites' %}
          <h1 id="tools">{{ _('Start creating websites') }}</h1>
          <h5>{{ _('Pick one of several editors to start creating websites without any coding involved.', fmt=format) }}</h5>
        {% endif %}
    </div>
  </div>
</section>

<section class="ap--tools-widget ap--teaser-grid">
    <div class="ap-o-teaser-grid">
        <div class="ap-o-teaser-grid-list">
        {% for tool in tools[group] %}
        {% if format in tool.formats %}
        {% include '/views/partials/tools-teaser.j2' %}
        {% endif %}
        {% endfor %}
        </div>
    </div>
</section>

<section class="ap--content">
  <div class="ap--container-fluid">
    <div class="ap-o-component-visual-link">
      <a href="{{ g.doc('/content/amp-dev/documentation/tools.html').url.path }}" class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('Discover all tools') }}</span>
      </a>
    </div>
  </div>
</section>

</section>
