<h1>
{{doc.title}}
[% if versions and versions.length > 1 %]
<div class="ap--versions">
  {% for v in doc.versions %}
  [% if versions and versions.includes('{{v}}') %]
  <a{% if v != doc.version %} href="../{{doc.title}}-v{{v}}.html?format=[= format =]"{% endif %}>{{v}}</a>
  [% endif %]
  {% endfor %}
</div>
[% endif %]
</h1>
