<h1>
{{doc.title}}
{% if doc.versions and doc.versions|count > 1 %}
<div class="ap--versions">
  <select class="ap--versions-toggle" on="change:AMP.navigateTo(url=event.value)">
    {% for v in doc.versions|reverse %}
    <option {% if v == doc.version %} selected {% endif %} value="../{{doc.title}}{% if v != doc.latest_version %}-v{{v}}{% endif %}/?format=[= format =]">
      {{v}}
    </option>
    {% endfor %}
  </select>
</div>
{% endif %}
</h1>
