[% set posts = []|importBlog %]
[% if posts|length %]
<amp-carousel class="ap-o-video-slider-carousel"
  height="300"
  layout="fixed-height"
  controls=0
  type="carousel">
  [% for post in posts %]
    [= post.id =]
      {# <amp-youtube
          data-videoid=[= post.id =]
          width="391"
          height="220"
          layout="fixed">
      </amp-youtube> #}
  [% endfor %]
</amp-carousel>
[% endif %]
