@import '../variables.scss';
@import '../mixins.scss';
@import '../functions.scss';


@import '../components/atoms/icon';
@import '../components/atoms/headline';
@import '../components/atoms/destination';
@import '../components/atoms/text';

@include heroEnterAnimation;
@include viewboxGradientAnimation;
@include rollingAnimation;

.content {
	position: relative;
	padding: 10% 0 0 5%;
	z-index: 10;
	max-width: 250px;

	@media screen and (min-width: 768px) {
		max-width: 550px;
	}
}

.hl {
	@include hl;
	@include hl-h2;
	@include hl-light;
	margin: 0;
	display: inline;
	padding-right: 12px;

	&-stories {
		@include hl-stories;
	}

	&-ads {
		@include hl-ads;
	}

	&-email {
		@include hl-email;
	}
}

.stage-list-view-box {
	display: inline;
	height: 50px;
	width: 250px;
	overflow: hidden;
	position: absolute;


	&-gradient {
		background: linear-gradient(-220deg,
				color('azure-radiance'),color('robins-egg'),
				color('pizazz'), color('yellow'),
				color('crimson'), color('pizazz'),
				color('electric-violet'), color('pink-flamingo'),
				color('azure-radiance'), color('robins-egg'));
		background-size: 1200% 100%;
		background-position: 0% 0%;
		animation: gradientChange 12.8s ease infinite;
		box-shadow: 0 10px 25px 0 rgba(0,0,0,0.21);
	}

	&-no-animation {
		animation: none;
	}

	&:hover {
		height: 232px;
		transition: height 0.5s ease;
		background: transparent;
		animation: none;

		[option][selected] {
			border: none;
			outline: #fff;
		}

		.ad-a-ico {
			transform: rotate(180deg);
		}

		.stage-list {
			display: flex;
			flex-direction: column;
		}

		.stage-list-rolling-item {
			display: none;
			animation-play-state: paused;
		}
	}
}

// DROP-DOWN ICON

.ad-a-ico {
	position: absolute;
	right: 0;
	z-index: 10;
	padding: 14px 14px;
	transition: transform 0.5s ease;

	@include ico-white;
	@include ico-2;

}

// DROP DPOWN LIST

.stage-list {
	display: none;
	padding: 0;
	list-style: none;
	margin: 0;

	&-display {
		display: flex;
		flex-direction: column;
	}

	&:hover {

		.ad-a-ico {
			transform: rotate(100deg);
		}

		.stage-list-view-box {
			animation: none;
		}

		.stage-list-rolling-item {
			display: none;
			animation-play-state: paused;
		}

	}
}

// default list item

.stage-list-item {
	@include hl;
	@include hl-h2;
	@include hl-light;
	outline: color('white');
	padding: 1px 20px 1px 10px;
	order: 2;
}

[option][selected] {
	order: 1;
}

.stage-list-drop-down-item {
	margin-bottom: 5px;

	&:hover {
		margin-left: 2px;
	}
}

.websites {
	@include destination-websites;
	@include txt-light;
}

.stories {
	@include destination-stories;
	@include txt-stories;
}

.ads {
	@include destination-ads;
	@include txt-ads;
}

.email {
	@include destination-email;
	@include txt-email;
}

// ROLLING ANIMATION STYLES AND DELAYS

.stage-list-rolling-item {
	position: absolute;

	&-hide {
		display: none;
		animation: none;
	}

	&-websites {
		animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
		animation-delay: 0s;
	}

	&-stories {
		opacity: 0;
		animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
		animation-delay: 3.2s;
		color: color('ultramarine');
	}

	&-ads {
		opacity: 0;
		animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
		animation-delay: 6.4s;
		color: color('hawkes-blue');
	}

	&-email {
		opacity: 0;
		animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
		animation-delay: 9.6s;
		color: color('reef');
	}

	&-light {
		color: color('white');
	}
}

// BACKGROUND STYLES

.hero {
	width: 100%;
	height: 100vh;
	z-index: 1;
	position: absolute;

	&-active {
		animation: growRight 1s ease-in-out;
		z-index: 10;
	}
}