@import '../variables.scss';
@import '../mixins.scss';
@import '../functions.scss';

@import '../components/atoms/headline';
@import '../components/atoms/text';
@import '../components/atoms/button';

@import '../components/molecules/tip';
@import '../components/molecules/teaser';
/* The following styles only define the styles needed to make the styleguide
a little more appealing. All component styles should reside in their dedicated
file and may be imported at the top of this file */

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  color: color('black');
  background: color('white');
  font-size: 16px;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.styleguide {

  &__header {
    position: fixed;
    z-index: 5;
    display: flex;
    width: 100%;
    height: 90px;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    color: color('white');
    background-color: color('black');

    @media (min-width: 500px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &--overview {
      width: 100%;
      height: 100%;
      justify-content: center;
    }
  }

    &__toggle {
      width: 30px;
      height: 30px;
      padding: 0;
      margin-right: 7px;
      border-radius: 50%;
      background: none;
      border: none;

      @media (min-width: 500px) {
        width: 45px;
        height: 45px;
      }

      svg {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    &__title, &__hint {
      margin: 0;
    }

  &__sidebar {
    padding: 7px;

    @media (min-width: 500px) {
      padding: 15px;
    }

    ul {
      list-style: none;
      padding-left: 15px;
    }
  }

  &__content {
    display: grid;
    padding-top: 110px;
    height: auto;
    min-height: 100vh;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }
}
