---
$title: AMP Contributor Summit 2019
$order: 1
$view: /views/overview/events.j2

ampcs: !g.yaml /shared/data/amp-cs-2019.yaml


section_links:
  - Schedule
  - Speakers
  - Location
  - FAQ
---
{% do doc.styles.addCssFile('css/components/templates/events.css') %}

<section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage-cs.css') %}

    <div class="ap-o-stage ap-o-stage-amp-conf all">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content ap-o-stage-content-roadshow">

            <h2 class="ap-o-stage-content-subline">October 8 - 10</h2>
            <h1 class="ap-o-stage-content-headline">AMP Contributor Summit 2019</h1>
            <h2 class="ap-o-stage-content-subline">New York City, USA</h2>
        </div>
      </div>
    </div>
</section>

<section class="ap--container">
  {% with text=_('Learn more about:') %}
  {% include '/views/partials/jumpto.j2' %}
  {% endwith %}
</section>

<section class="ap--container">
  <p class="ap--content-default">
    The AMP Contributor Summit is our annual opportunity for the AMP open source community to meet face-to-face to discuss the latest in AMP and where AMP is going.  This technical summit consists of a mix of different formats, including talks, breakout sessions and many opportunities for informal conversations.
  </p>
</section>

<section class="ap--container" id="Schedule">
  {% do doc.styles.addCssFile('css/components/organisms/agenda.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/agenda-item.css') %}

  <div class="ap--content-default">
    <h1>Schedule</h1>
  </div>

  <div class="ap--content-x-wide">
    <amp-selector role="tablist" layout="container" class="ap--flex-container">

        <div class="ap-o-agenda-selector-button ampcs" selected role="tab" tabindex="0" option="a">Tuesday, Oct. 8th<small>Hackathon / New Contributor Workshop (Optional)</small></div>

        <div class="ap-o-agenda">
          <div class="ap--container ampconf-agenda">
            <ul class="ap-o-agenda-content-list conf">
              {% for agenda_item in doc.ampcs.agenda.day_1 %}

                {% if agenda_item.speaker %}
                  {% set speaker = doc.ampcs.speakers[agenda_item.speaker] %}
                {% endif %}

                <li class="ap-m-agenda-item">
                  <div class="ap-m-agenda-item-speakers">

                    {% if speaker %}
                      <amp-img class="ap-m-agenda-item-image" alt="Profile picture for {{ speaker.name }}" src="{{ speaker.pic }}" layout="fixed" height="50px" width="50px"></amp-img>

                    {%  elif agenda_item.speakers %}

                      {% if agenda_item.moderator %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampcs.speakers[agenda_item.moderator].name }}" src="{{ doc.ampcs.speakers[agenda_item.moderator].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endif %}

                      {% for speaker in agenda_item.speakers %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampcs.speakers[speaker].name }}" src="{{ doc.ampcs.speakers[speaker].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endfor %}

                    {% endif %}
                  </div>
                  <div class="ap-m-agenda-item-time">{{ agenda_item.time }}</div>
                  <div class="ap-m-agenda-item-description  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">
                  <div class="ap-m-agenda-item-description-title  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">{{ agenda_item.title }}</div>

                  {% if speaker %}

                    <a href="#{{ agenda_item.speaker }}" class="ap-m-agenda-item-description-speaker">{{ speaker.name }}, {{ speaker.company }}</a>

                  {% elif agenda_item.speakers %}
                    {% if agenda_item.moderator %}
                      <a href="#{{ agenda_item.moderator }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampcs.speakers[agenda_item.moderator].name }}, {{ doc.ampcs.speakers[agenda_item.moderator].company }}</a> (Moderator)
                      <br>
                    {% endif %}
                    {% for speaker in agenda_item.speakers %}
                      <a href="#{{ speaker }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampcs.speakers[speaker].name }}, {{ doc.ampcs.speakers[speaker].company }}</a>
                      <br>
                    {% endfor %}
                  {% else %}
                  {% endif %}

                  {% if agenda_item.description %}
                    <div class="ap-m-agenda-item-description-text">{{ agenda_item.description }}</div>
                  {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="ap-o-agenda-selector-button ampcs" role="tab" tabindex="0" option="b">Wednesday, Oct. 9th<small>Talks + Breakouts</small></div>

        <div class="ap-o-agenda">
          <div class="ap--container ampconf-agenda">
            <ul class="ap-o-agenda-content-list conf">
              {% for agenda_item in doc.ampcs.agenda.day_2 %}

                {% if agenda_item.speaker %}
                  {% set speaker = doc.ampcs.speakers[agenda_item.speaker] %}
                {% endif %}

                <li class="ap-m-agenda-item">
                  <div class="ap-m-agenda-item-speakers">

                    {% if speaker %}
                      <amp-img class="ap-m-agenda-item-image" alt="Profile picture for {{ speaker.name }}" src="{{ speaker.pic }}" layout="fixed" height="50px" width="50px"></amp-img>

                    {%  elif agenda_item.speakers %}

                      {% if agenda_item.moderator %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampcs.speakers[agenda_item.moderator].name }}" src="{{ doc.ampcs.speakers[agenda_item.moderator].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endif %}

                      {% for speaker in agenda_item.speakers %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampcs.speakers[speaker].name }}" src="{{ doc.ampcs.speakers[speaker].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endfor %}

                    {% endif %}
                  </div>
                  <div class="ap-m-agenda-item-time">{{ agenda_item.time }}</div>
                  <div class="ap-m-agenda-item-description  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">
                  <div class="ap-m-agenda-item-description-title  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">{{ agenda_item.title }}</div>

                  {% if speaker %}

                    <a href="#{{ agenda_item.speaker }}" class="ap-m-agenda-item-description-speaker">{{ speaker.name }}, {{ speaker.company }}</a>

                  {% elif agenda_item.speakers %}
                    {% if agenda_item.moderator %}
                      <a href="#{{ agenda_item.moderator }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampcs.speakers[agenda_item.moderator].name }}, {{ doc.ampcs.speakers[agenda_item.moderator].company }}</a> (Moderator)
                      <br>
                    {% endif %}
                    {% for speaker in agenda_item.speakers %}
                      <a href="#{{ speaker }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampcs.speakers[speaker].name }}, {{ doc.ampcs.speakers[speaker].company }}</a>
                      <br>
                    {% endfor %}
                  {% else %}
                  {% endif %}

                  {% if agenda_item.description %}
                    <div class="ap-m-agenda-item-description-text">{{ agenda_item.description }}</div>
                  {% endif %}

                  {% if agenda_item.dory %}<a class="ap-m-agenda-item-dory" href="{{ agenda_item.dory  }}">Submit questions</a>{% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="ap-o-agenda-selector-button ampcs" role="tab" tabindex="0" option="b">Thursday, Oct. 10th<small>Talks + Breakouts</small></div>

        <div class="ap-o-agenda">
          <div class="ap--container ampconf-agenda">
            <ul class="ap-o-agenda-content-list conf">
              {% for agenda_item in doc.ampcs.agenda.day_3 %}

                {% if agenda_item.speaker %}
                  {% set speaker = doc.ampcs.speakers[agenda_item.speaker] %}
                {% endif %}

                <li class="ap-m-agenda-item">
                  <div class="ap-m-agenda-item-speakers">

                    {% if speaker %}
                      <amp-img class="ap-m-agenda-item-image" alt="Profile picture for {{ speaker.name }}" src="{{ speaker.pic }}" layout="fixed" height="50px" width="50px"></amp-img>

                    {%  elif agenda_item.speakers %}

                      {% if agenda_item.moderator %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampcs.speakers[agenda_item.moderator].name }}" src="{{ doc.ampcs.speakers[agenda_item.moderator].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endif %}

                      {% for speaker in agenda_item.speakers %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampcs.speakers[speaker].name }}" src="{{ doc.ampcs.speakers[speaker].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endfor %}

                    {% endif %}
                  </div>
                  <div class="ap-m-agenda-item-time">{{ agenda_item.time }}</div>
                  <div class="ap-m-agenda-item-description  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">
                  <div class="ap-m-agenda-item-description-title  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">{{ agenda_item.title }}</div>

                  {% if speaker %}

                    <a href="#{{ agenda_item.speaker }}" class="ap-m-agenda-item-description-speaker">{{ speaker.name }}, {{ speaker.company }}</a>

                  {% elif agenda_item.speakers %}
                    {% if agenda_item.moderator %}
                      <a href="#{{ agenda_item.moderator }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampcs.speakers[agenda_item.moderator].name }}, {{ doc.ampcs.speakers[agenda_item.moderator].company }}</a> (Moderator)
                      <br>
                    {% endif %}
                    {% for speaker in agenda_item.speakers %}
                      <a href="#{{ speaker }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampcs.speakers[speaker].name }}, {{ doc.ampcs.speakers[speaker].company }}</a>
                      <br>
                    {% endfor %}
                  {% else %}
                  {% endif %}

                  {% if agenda_item.description %}
                    <div class="ap-m-agenda-item-description-text">{{ agenda_item.description }}</div>
                  {% endif %}

                  {% if agenda_item.dory %}<a class="ap-m-agenda-item-dory" href="{{ agenda_item.dory  }}">Submit questions</a>{% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

    </amp-selector>
  </div>
</section>

<section id="Speakers" class="ap--container">
  <div class="ap--content-default">
    <h1>Speakers</h1>
  </div>
  <div class="ap--content-x-wide ap--flex-container">
      {% do doc.styles.addCssFile('css/components/molecules/conf-speaker.css') %}
      {% do doc.styles.addCssFile('css/components/molecules/lightbox.css') %}

      {% for speaker in doc.ampcs.speakers %}
        {% if doc.ampcs.speakers[speaker] %}
          {% set speaker_info = doc.ampcs.speakers[speaker] %}
          <div class="ap-m-conf-speaker" on="tap:lightbox-{{ speaker }}" role="button" tabindex="0">
            <amp-lightbox id="lightbox-{{ speaker }}" layout="nodisplay">
              <div class="ap-m-lightbox" role="button" on="tap:lightbox-{{ speaker }}.close" tabindex="0">
                <div class="ap-m-lightbox-content">
                  <h4 class="ap-m-lightbox-headline">{{ speaker_info.name }}</h4>
                  <h4 class="ap-m-lightbox-headline">{{ speaker_info.company }}</h4>
                  {% if speaker_info.bio %}
                    <p class="ap-m-lightbox-bio">{{ speaker_info.bio }}</p>
                  {% endif %}
                </div>
              </div>
            </amp-lightbox>
            <amp-img class="ap-m-conf-speaker-image" alt="Profile pciture for {{ speaker_info.name }}" src="{{ speaker_info.pic }}" layout="fixed" height="150" width="150"></amp-img>
            <div class="ap-m-conf-speaker-info">
              <h4 id="{{ speaker }}" class="ap-m-conf-speaker-name">{{ speaker_info.name }}</h4>
              <p class="ap-m-conf-speaker-company">{{ speaker_info.company }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
</section>

<section class="ap--container-fluid" id="Location">
  {% do doc.styles.addCssFile('css/components/molecules/conf-location.css') %}
  <div class="ap-m-conf-location">
    <div class="ap--container">
      <div class="ap-m-conf-location-visual">
        <h3 class="ap-m-conf-location-headline">Location</h3>

        <p class="ap-m-conf-location-content-text">
          The summit will be held at Google NYC.  The summit will be in different buildings depending on the day--make sure you go to the right building and lobby!
        </p>
        <p class="ap-m-conf-location-content-text">
          Please bring a photo ID to comply with building security policies.  Please note that the summit is only open to registered attendees.
        </p>
        <ul>
          <li class="ap-m-conf-location-content-text">
          Tuesday @ <a href="https://goo.gl/maps/ERvhnggy6MKjBpjz9">111 8th Avenue, New York, NY</a>.  Enter the main 8th Avenue lobby (near the Chase) and head to the Events section near the back.  Look for people with AMP Contributor Summit badges.
          </li>
          <li class="ap-m-conf-location-content-text">
            Wednesday @ <a href="https://goo.gl/maps/kH779dQEdLjC967H9">85 10th Avenue, New York, NY</a>.  Enter the 10th Avenue lobby and use the elevator to go to the 3rd floor.  When you exit the elevator on the 3rd floor you will be near the summit location; look for people with AMP Contributor Summit badges.
          </li>
          <li class="ap-m-conf-location-content-text">
            Thursday @ <a href="https://goo.gl/maps/ERvhnggy6MKjBpjz9">111 8th Avenue, New York, NY</a>.  Enter the main 8th Avenue lobby (near the Chase) and head to the Events section near the back.  Look for people with AMP Contributor Summit badges.
          </li>
      </div>

    </div>
  </div>
</section>

<section class="ap--container" id="FAQ">
  {% do doc.styles.addCssFile('css/components/molecules/faq.css') %}
    <div class="ap-m-faq ampconf">
      <h2>Frequently Asked Questions</h2>
      <div class="ap-m-faq-content">
        <p class="ap-m-faq-content-question">How do I register to attend?</p>
        <p class="ap-m-faq-content-answer">Due to the limited amount of space, we use an application process for attendees.  The application period for this summit has now closed.</p>
        <p class="ap-m-faq-content-question">Where is the summit being held?</p>
        <p class="ap-m-faq-content-answer">The summit will be held at the Google NYC office, but will be in different buildings depending on the day.  See the <a href="#Location">Location</a> section for details.</p>
        <p class="ap-m-faq-content-question">What hotel should I stay at?</p>
        <p class="ap-m-faq-content-answer">We do not have a block of hotel rooms for summit attendees, so you are free to stay at your preferred hotel.  Many attendees are staying at the <a href="https://www.dreamhotels.com/downtown/default-en.html">Dream Downtown</a> and <a href="https://www.themaritimehotel.com/">The Maritime</a> as they are right across the street from the summit location.</p>
        <p class="ap-m-faq-content-question">Will food be provided?</p>
        <p class="ap-m-faq-content-answer">Yes!  We'll provide breakfast and lunch every day during the summit.  We'll also have events at the end of each day with dinner or snacks/drinks; see the agenda for details.</p>
        <p class="ap-m-faq-content-question">Does it cost anything?</p>
        <p class="ap-m-faq-content-answer">No - tickets are free of charge.</p>
        <p class="ap-m-faq-content-question">Who is the event for?</p>
        <p class="ap-m-faq-content-answer">Anyone contributing to AMP today, or who wants to contribute to AMP, whether it be through code, outreach or other forms of contributions.</p>
        <p class="ap-m-faq-content-question">I'm excited about using AMP or I have questions about using AMP, is this the right conference for me?</p>
        <p class="ap-m-faq-content-answer">This summit is a technical summit for people who are contributing to the AMP open source project in some way (whether through code, documentation or some other way) or who want to start contributing.  Our contributors often start as users of AMP because they see something that they want to make better, and if this describes you then you might consider applying to attend.  If you're looking for more information about how to use AMP but aren't yet considering contributing to AMP you may prefer to attend one of our Roadshows instead.</p>
        <p class="ap-m-faq-content-question">Does applying mean I am all set to attend?</p>
        <p class="ap-m-faq-content-answer">Unfortunately, we have a limited number of spaces available for the summit, so not everyone who applies will be able to attend.</p>
        <p class="ap-m-faq-content-question">When will I hear back if I have a spot?</p>
        <p class="ap-m-faq-content-answer">We have let everyone who applied know whether their application was accepted.  If you have questions please reach out to ampcs2019-support at amp.dev.</p>
</p>
      </div>
    </div>
</section>

<section class="ap--container ap--center">
  {% with list = [
      { "label": "Code of Conduct",
        "url": "code-of-conduct.html"
      },
      {
        "label": "Accessibility",
        "url": "accessibility.html"
      },
      {
        "label": "Contact",
        "url": "mailto:wg-outreach@amp.dev"
      }
    ]
  %}
  {% include '/views/partials/jumpto.j2' %}
  {% endwith %}
</section>
