---
$title: AMP Roadshow
$order: 2
$view: /views/overview/events.j2

roadshow: !g.yaml /shared/data/roadshow.yaml

section_links:
  - Cities
  - Agenda
  - Content
  - Amplify
  - FAQ
---
{% do doc.styles.addCssFile('css/components/templates/events.css') %}
{% do doc.styles.addCssFile('/css/components/molecules/jumbo.css') %}


<section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}
    <div class="ap-o-stage ap-o-stage-websites all">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content ap-o-stage-content-roadshow">
          <h1 class="ap-o-stage-content-headline">{{ _('AMP Roadshow') }}</h1>
          <h2 class="ap-o-stage-content-subline">{{ _('Come join us in your city for a free, inclusive dev workshop with the AMP team.') }}</h2>
          {% do doc.styles.addCssFile('/css/components/atoms/button.css') %}
          <a href="#Cities" class="ap-o-stage-content-button ap-a-btn">{{ _('Sign Up') }}</a>
        </div>
      </div>
    </div>
    {% do doc.styles.addCssFile('css/components/molecules/roadshow-video.css') %}
    <div class="ap-m-roadshow-video">
      <div class="ap-m-roadshow-video-block">
        <amp-youtube data-videoid="5OnSrGU5TsE" layout="responsive" height="9" width="16"></amp-youtube>
      </div>
    </div>
</section>

<section class="ap--container">
  {% with text=_('Jump to:') %}
  {% include '/views/partials/jumpto.j2' %}
  {% endwith %}
</section>

<section id="Cities" class="ap--container">
  {% do doc.styles.addCssFile('css/components/organisms/cities.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/event.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/visited-city.css') %}

  <div class="ap-o-cities ap--content-wide">
    <h3 class="ap-o-cities-headline">{{ _('Cities') }}</h3>

    {% if doc.pod.env.dev %}
    {% do doc.styles.addCssFile('css/components/molecules/tip.css') %}
    {% do doc.icons.useIcon('icons/map.svg') %}
    <div class="ap-m-tip ap-m-tip-note">
      <div class="ap-m-tip-content">
        <div class="ap-a-ico ap-m-tip-icon">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use></svg>
        </div>
        <h4>Want to add cities?
        <button
          on="tap:AMP.setState({coordsGridToggled: !coordsGridToggled})"
          [text]="coordsGridToggled ? 'Hide grid' : 'Show grid'"
          type="button">
          Show grid
        </button>
        </h4>
        <div hidden [hidden]="!coordsGridToggled">
          <strong><code>Coordinates: <span [text]="coords"></span></code></strong>
          <p>You can copy these coordinates and use them in <strong>roadshow.yaml</strong> <em>(pages/shared/data/roadshow.yaml)</em></p>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="ap-o-cities-map">
      {% if doc.pod.env.dev %}
      <aside class="ap-o-cities-map-grid ap-o-cities-map-grid-dev" hidden [hidden]="!coordsGridToggled">
      {% for row in range(0,50) %}
        {% for col in range(0,110) %}
          <input
            class="ap-o-cities-map-control"
            type="radio"
            name="coords"
            on="tap:AMP.setState({ coords: '{{col}}x{{row}}' })"
            tabindex="0"
            role="pin-box"
          />
        {% endfor %}
      {% endfor %}
      </aside>
      {% endif %}

      <aside class="ap-o-cities-map-grid">
        {% set next_cities = [] %}
        {% for place in doc.roadshow.nextstop if doc.roadshow.nextstop %}
          {% do next_cities.append(place.title|slug) %}
          {% if place.coords %}
          {% set col = place.coords.split('x')[0]|int + 1 %}
          {% set row = place.coords.split('x')[1]|int + 1 %}
          <div class="ap-o-cities-map-grid-cell" style="grid-column: {{col}}; grid-row: {{row}};">
            <div class="ap-o-cities-map-pin ap-o-cities-map-pin-next">
              {% do doc.icons.useIcon('/icons/cities-map-pin.svg') %}
              <div class="ap-a-ico ap-o-cities-map-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cities-map-pin"></use></svg></div>
            </div>
            <div class="ap-o-cities-map-tooltip">{{ _(place.title) }}</div>
          </div>
          {% endif %}
        {% endfor %}

        {% for place in doc.roadshow.past if doc.roadshow.past and place.title|slug not in next_cities %}
          {% if place.coords %}
          {% set col = place.coords.split('x')[0]|int + 1 %}
          {% set row = place.coords.split('x')[1]|int + 1 %}
          <div class="ap-o-cities-map-grid-cell" style="grid-column: {{col}}; grid-row: {{row}};">
            <div class="ap-o-cities-map-pin ap-o-cities-map-pin-past"></div>
            <div class="ap-o-cities-map-tooltip">{{ _(place.title) }}</div>
          </div>
          {% endif %}
        {% endfor %}
      </aside>

      <div class="ap-o-cities-map-background">
        {% do doc.icons.useIcon('/icons/cities-map.svg') %}
        {% do doc.icons.useIcon('/icons/gradient-map.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cities-map"></use></svg>
      </div>
    </div>

    {% if doc.roadshow.nextstop %}
    <span class="ap-o-cities-sub-headline">{{ _('Where we’re going next') }}</span>
    <div class="ap-m-tip ap-m-tip-important">
      <div class="ap-m-tip-content">
        {% do doc.icons.useIcon('icons/warning.svg') %}
        <div class="ap-a-ico ap-m-tip-icon">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning"></use></svg>
        </div>
        <p>{{ _('Due to concerns around COVID-19, and in accordance with health guidance from the <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank" rel="noopener noreferrer">CDC</a>, <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" rel="noopener noreferrer">WHO</a>, and other health authorities, we are not holding in-person AMP events at present. This includes roadshows. Please check this page for updates.') }} </p>
      </div>
    </div>
    {% endif %}

    <div class="ap-o-cities-next-events">
      {% if doc.roadshow.nextstop %}
      <div class="ap-o-cities-next-events-list">

      {% for nextstop in doc.roadshow.nextstop %}
        <div class="ap-m-event">
          <div class="ap-m-event-content ap-m-event-content-date">
            <div class="ap-m-event-content-date-year">{{nextstop.year}}</div>
            <div class="ap-m-event-content-date-month-day">
              <p>{{nextstop.month}}</p>
              <p>{{nextstop.day}}</p>
            </div>
          </div>
          <div class="ap-m-event-content">
            {% if nextstop.link %}
            <a href="{{nextstop.link}}" class="ap-m-event-content-city">{{nextstop.title}}</a>
            {% else %}
            <span class="ap-m-event-content-city">{{nextstop.title}}</span>
            {% endif %}
            <div class="ap-m-event-content-details-time">
              <div class="ap-m-event-content-details-icon">
                {% do doc.icons.useIcon('/icons/time.svg') %}
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#time"></use></svg>
              </div>
              {{ nextstop.time }}
            </div>
            <div class="ap-m-event-content-details-location">
              <div class="ap-m-event-content-details-icon">
                {% do doc.icons.useIcon('/icons/map.svg') %}
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use></svg>
              </div>
              {{ _(nextstop.location) }}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}

      <div class="ap-o-cities-next-events-checkback">
        <p>{{ _('Your city isn’t on the list? Check back soon for additional dates and cities. Or...') }}</p>
        <h4>{{ _('Want the AMP Roadshow to visit your area?') }}</h4>
        <p>{{ _('That’s very kind. Fill out <a href="https://docs.google.com/forms/d/14B75eV89S1KaceNTG46ranAOPCj3wCLzgD3mxuGeUtU/viewform" target="_blank">this form</a> and we’ll see what we can do!') }}</p>
        <h4>{{ _('Want to host your own AMP Roadshow?') }}</h4>
        <p>{{ _('Why not? Fill out <a href="https://docs.google.com/forms/d/1PMWCq1MTqg-AslvBMvMlU_ozjyZK7WZ-4fUVs0UlheE/viewform" target="_blank">this form</a>, and we’ll share with you our talks and all the materials you need to do it yourself!') }}</p>
      </div>
    </div>

    <h4 class="ap-o-cities-sub-headline">{{ _('Where we’ve been') }}</h4>
    <ul class="ap-o-cities-visited-list">

      {% for visited in doc.roadshow.past|sort(True, attribute='date') %}
        <li class="ap-m-visited-city">
          <div class="ap-m-visited-city-group">
            <div class="ap-m-visited-city-title">{{ _(visited.title) }}</div>
            <div class="ap-m-visited-city-date">{{ visited.date|datetime('MMM d, Y') }}</div>
          </div>
        </li>
      {% endfor %}

    </ul>

  </div>
</section>

<section id="Agenda" class="ap--container ap--container-float-right">
  {% do doc.styles.addCssFile('css/components/organisms/agenda.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/agenda-item.css') %}

  <div class="ap-o-agenda">
    <div class="ap-o-agenda-block">
      <div class="ap-o-agenda-content">
        <h3 class="ap-o-agenda-content-headline">{{ _('Agenda') }}</h3>
        <p class="ap-o-agenda-content-sub-text">{{ _('The agenda is designed to enable you to build even more beautiful, interactive and canonical AMP pages. We welcome both newcomers to AMP and those who already ship AMP pages. <span>This is a sample agenda – schedule varies based on the city.</span>') }}
        <p>

        <ul class="ap-o-agenda-content-list">

          {% for agenda_item in doc.roadshow.agenda %}
             <li class="ap-m-agenda-item">
                  {% if speaker %}
                    <amp-img class="ap-m-agenda-item-image" alt="Profile picture for {{ speaker.name }}" src="{{ speaker.pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                  {% endif %}
                  {% if agenda_item.speakers %}
                    {% for speaker in agenda_item.speakers %}
                      <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampconf.speakers[speaker].name }}"  src="{{ doc.ampconf.speakers[speaker].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                    {% endfor %}
                  {% endif %}
                  <div class="ap-m-agenda-item-time">{{ agenda_item.time }}</div>
                  <div class="ap-m-agenda-item-description  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">
                  <div class="ap-m-agenda-item-description-title  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">{{ _(agenda_item.title) }}</div>
                  {% if speaker %}
                    <div class="ap-m-agenda-item-description-speaker">{{ speaker.name }}</div>
                  {% endif %}

                  {% if agenda_item.description %}
                    <div class="ap-m-agenda-item-description-text">{{ _(agenda_item.description) }}</div>
                  {% endif %}
                  </div>
                </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</section>

<section id="Content" class="ap--container">
  {% do doc.styles.addCssFile('css/components/organisms/roadshow-content.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/roadshow-pillar.css') %}

  <div class="ap-o-roadshow-content">
    <div class="ap-o-roadshow-content-headline">{{ _('Content') }}</div>
    <div class="ap-o-roadshow-content-description">{{ _('We’ll cover a lot of ground in the few hours we have together. To enable you to build full-fledged AMP sites, the roadshow will deep dive into four big pillars:') }}</div>
    <div class="ap-o-roadshow-content-pillar-list">

      {% for pillar in doc.roadshow.pillars %}
        <div class="ap-m-roadshow-pillar">
          <div class="ap-m-roadshow-pillar-headline">
            {{ _(pillar.pillar) }}
          </div>
          {% for content in pillar.contents %}
          <div class="ap-m-roadshow-pillar-points">
            {{ _(content) }}
          </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>
  </div>
</section>

<section id="Amplify" class="ap--container">
  {% do doc.styles.addCssFile('css/components/molecules/amplify.css') %}

  <div class="ap-m-amplify">
    <div class="ap-m-amplify-content">
      <h3 class="ap-m-amplify-content-headline">{{ _('Amplify Live!') }}</h3>
      <div class="ap-m-amplify-content-subline">{{ _('During "Amplify live!", we’ll be on stage exploring the most interesting AMP challenges, allowing you to either follow along or do your own thing, like one of the many AMP codelabs. Bring your laptop!') }}</div>
    </div>
  </div>

</section>

<section id="FAQ" class="ap--container">
  {% do doc.styles.addCssFile('css/components/molecules/faq.css') %}
  <div class="ap-m-faq">
    <h3 class="ap-m-faq-headline">{{ _('Frequently Asked Questions') }}</h3>
    <div class="ap-m-faq-content">
      <div class="ap-m-faq-content-question">{{ _('Does it cost anything?') }}</div>
      <div class="ap-m-faq-content-answer">{{ _('No - tickets are free of charge.') }}</div>
      <div class="ap-m-faq-content-question">{{ _('Who is the event for?') }}</div>
      <div class="ap-m-faq-content-answer">{{ _('Web developers and designers with an interest in AMP--whether you’ve had experience using AMP and want to create better experiences, you’re curious about how you can use AMP to improve your site, or you want to contribute to AMP to make it better for everyone.') }}</div>
      <div class="ap-m-faq-content-question">{{ _('Am I all set after registering?') }}</div>
      <div class="ap-m-faq-content-answer">{{ _('We expect that in some cities more people will be interested in attending than we can accommodate, so we will be confirming attendees on a case-by-case basis.') }}</div>
    </div>
  </div>
</section>
