---
$title: AMP Fest 2020
$order: 1
$view: /views/overview/events.j2

ampconf: !g.yaml /shared/data/amp-fest.yaml


section_links:
  - Featured Talks
  - FAQ
---
{% do doc.styles.addCssFile('css/components/templates/events.css') %}

<section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage-amp-fest.css') %}

    <div class="ap-o-stage ap-o-stage-amp-fest all city-{{ ['ams', 'del', 'nyc', 'rio','sfo','tyo'] | random }}">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content">
          <amp-img class="logo" alt="AMP Fest" src="/static/img/amp-fest/logo.png" layout="intrinsic" width="800px" height="177px"></amp-img>

            <h2 class="ap-o-stage-content-subline">October 13</h2>
        </div>
      </div>
    </div>

</section>

<section class="ap--container amp-fest-header">

  <p class="teaser">Join us and the AMP community on Oct 13 for a digital event as we shine light on the future of AMP!</p>
  <div class="register">
    <a class="ap-m-lnk ap-m-lnk-square ap--newsletter-double" href="https://events.withgoogle.com/amp-fest/registrations/new/">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/external.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
      </div>
      <span class="ap-m-lnk-text">{{ _('Register Now') }}</span>
    </a>
  </div>

 <div class="countdown-container">
   <div class="preamble">Countdown to AMP Fest</div>
   <amp-date-countdown id="countdown" end-date="2020-10-13T09:00:00-07:00" height="200" width="400" when-ended="stop" locale="en" >
     <template type="amp-mustache">
       <div>
         <div class="fest-countdown"><span>{{'{{dd}}'}}</span> : <span>{{'{{hh}}'}}</span> : <span>{{'{{mm}}'}}</span></div>
         <div class="fest-countdown-label"><span>Days</span><span>Hours</span><span>Minutes</span></div>
       </div>
     </template>
   </amp-date-countdown>
 </div>
</section>

<section class="ap--container join-quote">
  <p>Join us right here on <b>Oct 13th</b> as we celebrate 5 years of AMP and learn about the latest ways the AMP community is working to make the web better for everyone - publishers, platforms, advertisers, creators, and of course, users.</p>
</section>

<section class="ap--container">
  {% with text=_(' ') %}
  {% include '/views/partials/jumpto.j2' %}
  {% endwith %}
</section>


<section class="ap--container" id="Featured Talks">
  {% do doc.styles.addCssFile('css/components/organisms/agenda.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/fest-agenda-item.css') %}

  <div class="ap--content-default">
    <h1>Featured Talks</h1>
  <p>AMP Fest talks will premiere both here and on the official AMP YouTube channel at 9AM PT. All talks will be pre-recorded and available for rewatching after their premiere. See below for a list of the talks featured during the event</p>
  </div>

  <div class="ap--content-x-wide">

    <div class="ap-o-agenda">
      <div class="ap--container ampconf-agenda">
        <ul class="ap-o-agenda-content-list conf">
          {% for agenda_item in doc.ampconf.agenda.day_1 %}

            <li class="ap-m-agenda-item">

              <div class="ap-m-agenda-item-time">{{ agenda_item.time }}</div>
              <div class="ap-m-agenda-item-description  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">
                <div class="ap-m-agenda-item-description-title  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">{{ agenda_item.title }}</div>
                {% for speaker in agenda_item.speakers %}
                  <div class="ap-m-agenda-item-description-speaker">{{ speaker }}</div>

          {% endfor %}

                  {% if agenda_item.description %}
                    <div class="ap-m-agenda-item-description-text">{{ agenda_item.description }}</div>
                  {% endif %}

            </li>
          {% endfor %}
        </ul>
              </div>
      </div>
  </div>
</section>


<section class="ap--container" id="FAQ">
  {% do doc.styles.addCssFile('css/components/molecules/faq.css') %}
    <div class="ap-m-faq ampconf">
      <h2>Frequently Asked Questions</h2>
      <div class="ap-m-faq-content">
        <p class="ap-m-faq-content-question">When is AMP Fest?</p>
        <p class="ap-m-faq-content-answer">AMP Fest talks will all premiere Oct 13th at 9AM PT.</p>
        <p class="ap-m-faq-content-question">How can I watch the event?</p>
        <p class="ap-m-faq-content-answer"> The event will premiere on both the AMP YouTube Channel, as well as right here on this page. All talks will also be available for rewatching after they premiere. Register today and we’ll remind you to tune in!  </p>
        <p class="ap-m-faq-content-question">Does it cost anything?</p>
        <p class="ap-m-faq-content-answer">No - registration is free and everyone is welcome to tune in!  </p>
        <p class="ap-m-faq-content-question">What language will the talks be in?</p>
        <p class="ap-m-faq-content-answer">All talks will be streamed in English, and localized captions will be available on each video in the weeks following the event. 
        </p>
        <p class="ap-m-faq-content-question">Who is the event for?</p>
        <p class="ap-m-faq-content-answer">This event is for anyone looking to create great page experiences on the web. Whether you are a web developer, site owner, designer, publisher, or email marketer, AMP Fest is for you! 
        </p>
        <p class="ap-m-faq-content-question">How can I have my questions answered?</p>
        <p class="ap-m-faq-content-answer">We will be hosting a live AMA with the AMP Technical Steering Committee the same week as this event, so stay tuned for more info on that soon! We’ll also have live chat functionality during the event and will be sharding details on how you can participate as we get closer to the event. </p>
      </div>
    </div>
</section>
