---
$title: AMP Conf 2019
$order: 1
$view: /views/overview/events.j2

ampconf: !g.yaml /shared/data/amp-conf.yaml


section_links:
  - Schedule
  - Speakers
  - Location
  - FAQ
---
{% do doc.styles.addCssFile('css/components/templates/events.css') %}

<section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage-amp-conf.css') %}

    <div class="ap-o-stage ap-o-stage-amp-conf all">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content ap-o-stage-content-roadshow">

            <h2 class="ap-o-stage-content-subline">April 17 - 18</h2>
            <h1 class="ap-o-stage-content-headline">AMP Conf 2019</h1>
            <h2 class="ap-o-stage-content-subline">ようこそ from Tokyo, Japan</h2>

            {% do doc.styles.addCssFile('/css/components/atoms/button.css') %}
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScUT9sU_CEa5MXP7eKg8kAr808CexHEnSDuvf0Dr95cq1Gy6g/viewform" class="ap-o-stage-content-button ap-a-btn">
              Get livestream updates
            </a>
        </div>
      </div>
    </div>

    {% do doc.styles.addCssFile('css/components/molecules/roadshow-video.css') %}
    <div class="ap-m-roadshow-video">
      <div class="ap-m-roadshow-video-block">
        <amp-youtube data-videoid="nu0PiE7j8Mw" layout="responsive" height="9" width="16"></amp-youtube>
      </div>
      <div class="ap-m-roadshow-video-notice">
        <a href="/ja/events/amp-conf-2019">日本語に切り替える</a>
      </div>
    </div>
</section>

<section class="ap--container">
  {% do doc.styles.addCssFile('css/components/organisms/jumpto-list.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/jumpto-item.css') %}

  <div class="ap-o-jumpto">
    <div class="ap--container">
      <div class="ap-o-jumpto-content">
        <p class="ap-o-jumpto-text">Learn more about</p>
        <ul class="ap-o-jumpto-list">
          {% for link in doc.section_links %}
            <li class="ap-m-jumpto-item">
              <a href="#{{ link }}"class="ap-m-jumpto-item-link">{{ link }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="ap--container">
  <p class="ap--content-default">
    The AMP team and community is bringing its yearly gathering to Tokyo for two days full of talks by developers for developers, all crafted to help you create a best-in-class user experience. Whether you're interested in rich animations, dynamic content, DevOps or monetization, we got you covered. We can't wait to meet you.
  </p>
</section>

<section class="ap--container">
  <div class="ap--content-wide ap--slido">
    <div class="ap--content-default">
      <h1>Join the conversation!</h1>
      <p>Take part in the discussion and get your questions answered by the people on stage.</p>
      <p><a href="https://app2.sli.do/event/nulvdxp3" class="ap--slido-code">Ask a question</a></p>
    </div>
  </div>
</section>

<section class="ap--container" id="Schedule">
  {% do doc.styles.addCssFile('css/components/organisms/agenda.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/agenda-item.css') %}


  <div class="ap--content-default">
    <h1>Schedule</h1>
  </div>

  <div class="ap--content-x-wide">
    <amp-selector role="tablist" layout="container" class="ap--flex-container">

        <div class="ap-o-agenda-selector-button" selected role="tab" tabindex="0" option="a">Day 1</div>

        <div class="ap-o-agenda">
          <div class="ap--container ampconf-agenda">
            <ul class="ap-o-agenda-content-list conf">
              {% for agenda_item in doc.ampconf.agenda.day_1 %}

                {% if agenda_item.speaker %}
                  {% set speaker = doc.ampconf.speakers[agenda_item.speaker] %}
                {% endif %}

                <li class="ap-m-agenda-item">
                  <div class="ap-m-agenda-item-speakers">

                    {% if speaker %}
                      <amp-img class="ap-m-agenda-item-image" alt="Profile picture for {{ speaker.name }}" src="{{ speaker.pic }}" layout="fixed" height="50px" width="50px"></amp-img>

                    {%  elif agenda_item.speakers %}

                      {% if agenda_item.moderator %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampconf.speakers[agenda_item.moderator].name }}" src="{{ doc.ampconf.speakers[agenda_item.moderator].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endif %}

                      {% for speaker in agenda_item.speakers %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampconf.speakers[speaker].name }}" src="{{ doc.ampconf.speakers[speaker].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endfor %}

                    {% endif %}
                  </div>
                  <div class="ap-m-agenda-item-time">{{ agenda_item.time }}</div>
                  <div class="ap-m-agenda-item-description  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">
                  <div class="ap-m-agenda-item-description-title  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">{{ agenda_item.title }}</div>

                  {% if speaker %}

                    <a href="#{{ agenda_item.speaker }}" class="ap-m-agenda-item-description-speaker">{{ speaker.name }}, {{ speaker.company }}</a>

                  {% elif agenda_item.speakers %}
                    {% if agenda_item.moderator %}
                      <a href="#{{ agenda_item.moderator }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampconf.speakers[agenda_item.moderator].name }}, {{ doc.ampconf.speakers[agenda_item.moderator].company }}</a> (Moderator)
                      <br>                     
                    {% endif %}
                    {% for speaker in agenda_item.speakers %}
                      <a href="#{{ speaker }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampconf.speakers[speaker].name }}, {{ doc.ampconf.speakers[speaker].company }}</a>
                      <br>
                    {% endfor %}
                  {% else %}
                  {% endif %}

                  {% if agenda_item.description %}
                    <div class="ap-m-agenda-item-description-text">{{ agenda_item.description }}</div>
                  {% endif %}

                  {% if agenda_item.dory %}<a class="ap-m-agenda-item-dory" href="{{ agenda_item.dory  }}">Submit questions</a>{% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="ap-o-agenda-selector-button" role="tab" tabindex="0" option="b">Day 2</div>

        <div class="ap-o-agenda">
          <div class="ap--container ampconf-agenda">
            <ul class="ap-o-agenda-content-list conf">
              {% for agenda_item in doc.ampconf.agenda.day_2 %}

                {% if agenda_item.speaker %}
                  {% set speaker = doc.ampconf.speakers[agenda_item.speaker] %}
                {% endif %}

                <li class="ap-m-agenda-item">
                  <div class="ap-m-agenda-item-speakers">

                    {% if speaker %}
                      <amp-img class="ap-m-agenda-item-image" alt="Profile picture for {{ speaker.name }}" src="{{ speaker.pic }}" layout="fixed" height="50px" width="50px"></amp-img>

                    {%  elif agenda_item.speakers %}

                      {% if agenda_item.moderator %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampconf.speakers[agenda_item.moderator].name }}" src="{{ doc.ampconf.speakers[agenda_item.moderator].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endif %}

                      {% for speaker in agenda_item.speakers %}
                        <amp-img class="ap-m-agenda-item-image multiple" alt="Profile picture for {{ doc.ampconf.speakers[speaker].name }}" src="{{ doc.ampconf.speakers[speaker].pic }}" layout="fixed" height="50px" width="50px"></amp-img>
                      {% endfor %}

                    {% endif %}
                  </div>
                  <div class="ap-m-agenda-item-time">{{ agenda_item.time }}</div>
                  <div class="ap-m-agenda-item-description  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">
                  <div class="ap-m-agenda-item-description-title  {% if agenda_item.type %}{{ agenda_item.type }}{% endif %}">{{ agenda_item.title }}</div>

                  {% if speaker %}

                    <a href="#{{ agenda_item.speaker }}" class="ap-m-agenda-item-description-speaker">{{ speaker.name }}, {{ speaker.company }}</a>

                  {% elif agenda_item.speakers %}
                    {% if agenda_item.moderator %}
                      <a href="#{{ agenda_item.moderator }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampconf.speakers[agenda_item.moderator].name }}, {{ doc.ampconf.speakers[agenda_item.moderator].company }}</a> (Moderator)
                      <br>                     
                    {% endif %}
                    {% for speaker in agenda_item.speakers %}
                      <a href="#{{ speaker }}" class="ap-m-agenda-item-description-speaker">{{ doc.ampconf.speakers[speaker].name }}, {{ doc.ampconf.speakers[speaker].company }}</a>
                      <br>
                    {% endfor %}
                  {% else %}
                  {% endif %}

                  {% if agenda_item.description %}
                    <div class="ap-m-agenda-item-description-text">{{ agenda_item.description }}</div>
                  {% endif %}

                  {% if agenda_item.dory %}<a class="ap-m-agenda-item-dory" href="{{ agenda_item.dory  }}">Submit questions</a>{% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

    </amp-selector>
  </div>
</section>

<section id="Speakers" class="ap--container">
  <div class="ap--content-default">
    <h1>Speakers</h1>
  </div>
  <div class="ap--content-x-wide ap--flex-container">
      {% do doc.styles.addCssFile('css/components/molecules/conf-speaker.css') %}
      {% do doc.styles.addCssFile('css/components/molecules/lightbox.css') %}

      {% for speaker in doc.ampconf.speakers %}
        {% if doc.ampconf.speakers[speaker] %}
          {% set speaker_info = doc.ampconf.speakers[speaker] %}
          <div class="ap-m-conf-speaker" on="tap:lightbox-{{ speaker }}" role="button" tabindex="0">
            <amp-lightbox id="lightbox-{{ speaker }}" layout="nodisplay">
              <div class="ap-m-lightbox" role="button" on="tap:lightbox-{{ speaker }}.close" tabindex="0">
                <div class="ap-m-lightbox-content">
                  <h4 class="ap-m-lightbox-headline">{{ speaker_info.name }}</h4>
                  <h4 class="ap-m-lightbox-headline">{{ speaker_info.company }}</h4>
                  {% if speaker_info.bio %}
                    <p class="ap-m-lightbox-bio">{{ speaker_info.bio }}</p>
                  {% endif %}
                </div>
              </div>
            </amp-lightbox>
            <amp-img class="ap-m-conf-speaker-image" alt="Profile pciture for {{ speaker_info.name }}" src="{{ speaker_info.pic }}" layout="fixed" height="150" width="150"></amp-img>
            <div class="ap-m-conf-speaker-info">
              <h4 id="{{ speaker }}" class="ap-m-conf-speaker-name">{{ speaker_info.name }}</h4>
              <p class="ap-m-conf-speaker-company">{{ speaker_info.company }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
  </div>
</section>

<section class="ap--container-fluid" id="Location">
  {% do doc.styles.addCssFile('css/components/molecules/conf-location.css') %}
  <div class="ap-m-conf-location">
    <div class="ap--container">
      <div class="ap-m-conf-location-visual">
        <h3 class="ap-m-conf-location-headline">Location</h3>
        <div class="ap-m-conf-location-map">
          <amp-iframe width="330" height="330" sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox" layout="responsive" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12966.682416981088!2d139.7288467!3d35.6604864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x374cd67b22a9c8a5!2sAcademy+Hills+Roppongi+forum!5e0!3m2!1sen!2sus!4v1545397494682"></amp-iframe>
        </div>
      </div>
      <div class="ap-m-conf-location-content">
        <a class="ap-m-conf-location-content-link" href="http://forum.academyhills.com/roppongi/en/"> Roppongi Academy Hills, Tokyo</a>
        <p class="ap-m-conf-location-content-text">
          〒106-6149 Tōkyō-to, Minato-ku, Roppongi
          6 Chome−6−10-1 六本木ヒルズ森タワー49階 Japan
        </p>
        <p class="ap-m-conf-location-content-text">..and live-streamed around the world.</p>
      </div>
    </div>
  </div>
</section>

<section class="ap--container" id="FAQ">
  {% do doc.styles.addCssFile('css/components/molecules/faq.css') %}
    <div class="ap-m-faq ampconf">
      <h2>Frequently Asked Questions</h2>
      <div class="ap-m-faq-content">
        <p class="ap-m-faq-content-question">Does it cost anything?</p>
        <p class="ap-m-faq-content-answer">No - tickets are free of charge.</p>
        <p class="ap-m-faq-content-question">What language will the talks be in?</p>
        <p class="ap-m-faq-content-answer"> All talks are being simultaneously presented and streamed in English and Japanese.</p>
        <p class="ap-m-faq-content-question">Do I have to register for the live-stream?</p>
        <p class="ap-m-faq-content-answer"> No! The registration is only for on-site attendees that physically attend the conference. Come back here to this site on April 17th for a link and embed of the live-stream.</p>
        <p class="ap-m-faq-content-question">Who is the event for?</p>
        <p class="ap-m-faq-content-answer"> Web developers and designers who have used AMP and want to create even better AMP experiences, who haven't used AMP and are curious or want to contribute to AMP to make it better for everyone, and the web at large.</p>
        <p class="ap-m-faq-content-question">Does registering mean I am all set to attend?</p>
        <p class="ap-m-faq-content-answer">Not yet. While your chances of getting a seat are pretty good, we will confirm attendees on a case-by-case basis to ensure we attract the right audience. Note that your seat is not confirmed until you receive a confirmation code.</p>
        <p class="ap-m-faq-content-question">When will I hear back if I have a spot?</p>
        <p class="ap-m-faq-content-answer">We'll try to confirm you within less than a week!</p>
        <p class="ap-m-faq-content-question">What determines if I have a spot?</p>
        <p class="ap-m-faq-content-answer">The AMP Conf is a mainly developer and designer focused event (read: the people actually creating AMP experiences). If you're non-technical, you may still apply but you'll have a slimmer chance of getting through (and you'll enjoy the conf less!).</p>
      </div>
    </div>
</section>

<section class="ap--container">
  {% do doc.styles.addCssFile('css/components/organisms/jumpto-list.css') %}
  {% do doc.styles.addCssFile('css/components/molecules/jumpto-item.css') %}

  <div class="ap-o-jumpto ap--container">
    <div class="ap-o-jumpto-content ap--inline-footer">
      <ul class="ap-o-jumpto-list">
        <li class="ap-m-jumpto-item">
          <a class="ap-m-jumpto-item-link" href="{{g.doc('/content/amp-dev/events/amp-conf/code-of-conduct.html', locale=doc.locale).url.path}}">Code of Conduct</a>
        </li>
        <li class="ap-m-jumpto-item">
          <a class="ap-m-jumpto-item-link" href="{{g.doc('/content/amp-dev/events/amp-conf/accessibility.html', locale=doc.locale).url.path}}">Accessibility</a>
        </li>
        <li class="ap-m-jumpto-item">
          <a class="ap-m-jumpto-item-link" href="mailto:amp-conf@google.com">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</section>
