@import 'base.scss';

.embed {
  header {
    display: none;
  }
  main {
    top: 0;
    &.elevation-2dp {
      box-shadow: none;
      padding: 0;
    }
  }
  .panel .panel-header {
    display: none;
  }
  #preview-container {
    height: 100vh !important;
  }
  #source {
    margin-left: 0;
    margin-left: 0;
  }
  .panel {
    width: calc(50% - 4px);
    box-shadow: none !important;
  }
}
