@import 'base.scss';

.embed {
  header {
    display: none;
  }
  main {
    top: 0;
    padding: 0;
    &.elevation-2dp {
      box-shadow: none;
      padding: 0;
    }
  }
  .panel .panel-header {
    display: none;
  }
  #drag {
    width: 4px;
  }
  #preview-container {
    height: 100vh !important;
    top: 0;
  }
  #previewIframe {
    border: none;
  }
  #preview .panel-header {
    display: none;
  }
  #source {
    margin-left: 0;
    margin-left: 0;
  }
  .panel {
    width: calc(50% - 4px);
    box-shadow: none !important;
  }
  .cm-s-monokai.CodeMirror {
    background: color('bright-gray');
    pre {
      line-height: 1.25em;
      font-size: 1em;
    }
  }
  @media (max-width: 767px) { 
    .panel {
      width: 100vw;
    }
  }
}
