.embed header {
  display: none;
}
.embed main {
  top: 0;
}
.embed main.elevation-2dp {
  box-shadow: none;
  padding: 0;
}
.embed .panel .panel-header {
  display: none;
}
.embed #preview-container {
  height: 100vh !important;
}
.embed #source {
  margin-left: 0;
}
.embed #source {
  margin-left: 0;
}
.embed .panel {
  width: calc(50% - 4px);
  box-shadow: none !important;
}
.embed .CodeMirror {
  background: linear-gradient(45deg,#48525c,#29323c) !important;
  padding: 8px;
}
.embed .CodeMirror-gutters {
  background: none !important;
}
