*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  color: color('black');
  background: color('white');
  font-size: 16px;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
