amp-accordion > h1 {
  background: white;
}

@mixin box-shadow {
  box-shadow: 0 5px 25px 0 rgba(72,82,92,0.30);
}

@mixin drop-shadow {
  filter: drop-shadow(0px 2px 5px rgba(72, 82, 92, 0.3));
}

@mixin turbo-pizazz {
	background: linear-gradient(45deg, color('pizazz'), color('turbo'));
}

@mixin emerald-doger {
	background: linear-gradient(45deg, color('emerald'), color('doger-blue'));
}

@mixin river-ebony {
	background: linear-gradient(45deg, color('river-bed'), color('ebony-clay'));
}

@mixin gradient-e-mails {
  background: linear-gradient(45deg, color('forest-green'), color('manz'));
}

@mixin gradient-ads {
  background: linear-gradient(45deg, color('crimson'), color('pizazz'));
}

@mixin gradient-stories {
  background: linear-gradient(45deg, color('pizazz'), color('yellow'));
}

@mixin gradient-websites {
  background: linear-gradient(45deg, color('azure-radiance'), color('robins-egg-blue'));
}