$prefix: (
    atom: 'a',
    molecule: 'm',
    organism: 'o'
);

$sizes: (
    xs: '1',
    sm: '2',
    md: '3',
    lg: '4',
    xl: '5'
);

$colors: (
    'white'  : #FFFFFF,
    'black'  : #20202A,
    'grey': #48525C,
    'black2': #20202A,
    'hoverBlue': #005AF0,
    'guideBody': #FAFAFC,
    'tipGreen': #00CD3C,
    'tipRed': #EF0000,
    'tipYellow': #FFE100
);
