/* A project prefix that is added by using the prefix() function. Abbreviation
of the project name amp.dev */
$projectPrefix: 'ad';

/* All category codes which are prepended to selector by using either atom(selector),
molecule(selector) or organism(selector) */
$categoryPrefixes: (
  atom: 'a',
  molecule: 'm',
  organism: 'o',
);

$sizes: (
  xs: '1',
  sm: '2',
  md: '3',
  lg: '4',
  xl: '5',
);

/* The following map contains every color that is used inside the project. The
names are identified by using the http://chir.ag/projects/name-that-color to
prevent double colors and/or hirarchy dicussions */
$colors: (
  'black':           #20202A,
  'ebony-clay':      #29323C,
  'river-bed':       #48525C,
  'silver':          #CCCCCC,
  'gray-chateau':    #A3A8AD,
  'whisper':         #FAFAFC,
  'white':           #FFFFFF,
  'blue-ribbon':     #005AF0,
  'azure-radiance':  #0388F7,
  'doger-blue':      #21C1FA,
  'robins-egg-blue': #00DCC0,
  'emerald':         #38CA71,
  'malachite':       #00CD3C,
  'forest-green':    #2DB932,
  'turbo':           #FFE100,
  'yellow':          #FFF300,
  'manz':            #F1F068,
  'pizazz':          #FF8F00,
  'red':             #EF0000,
  'crimson':         #C8114D,
  'pigment-indigo':  #4C038C,
  'ultramarine':     #180CA4,
  'hawkes-blue':     #CEE8FC,
);

$shadows: (
  'regular': 0 5px 25px 0 rgba(72,82,92,0.30),
  'drop': 0px 2px 5px rgba(72, 82, 92, 0.3),
)