---
$title: Roadmap
class: roadmap post-detail
$parent: /content/latest/roadmap.html
$view: /views/base.html
$localization:
  locales:
    - en

components:
  - social-share
---
{% set roadmap = g.json('/content/includes/roadmap.json') %}
{% set tag = doc.base if doc.base != 'roadmap' else False %}
{% include "/views/partials/breadcrumb-nav.html" %}
<div class="container xl">
  <div class="content">

    <h1 class="post-title">The AMP Project Roadmap</h1>

    <div class="note">Note: This is a high level overview suitable for all audiences. For a more detailed developer view, <a href="https://github.com/ampproject/amphtml/projects/43">head to Github</a>.</div>

    <div class="category-filter">
      Filter by category:
      <ul>
        {% for label in roadmap.labels %}
        {% set labelSlug = label|slug %}
        <li class="tag tag-{{ label|slug }}{% if tag %} {% if tag == labelSlug %}active{% else %}inactive{%endif%}{% endif %}"><a href="{% if tag == labelSlug %}/roadmap{% else %}/roadmap/{{ label|slug }}{% endif %}">{{ label }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="roadmap-section-wrapper">
        {% for column in roadmap.columns %}
        <section>

          <div class="workstream-title"><h4>{{ column.name }}</h4></div>

          <ul>
              {% for card in column.cards %}

                {% set inTag = [] %}
                {% if tag %}
                  {% for label in card.issue.labels %}
                    {% set labelSlug = label.name|slug %}
                    {% if labelSlug == tag %}
                      {% do inTag.append(1) %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                {% do inTag.append(1) %}
                {% endif %}

                {% if inTag %}
                <li>
                    <h5><a href="{{ card.issue.url }}">{{ card.issue.title }}</a></h5>
                    {{ card.issue.description|markdown|safe }}
                    <ul class="tags">
                        {% for label in card.issue.labels %}
                        <li class="tag tag-{{label.name|slug}}"><a href="/roadmap/{{label.name|slug}}">{{ label.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}

              {% endfor %}
          </ul>

        </section>
        {% endfor %}
    </div>

    </div>
  </div>
</div>
