{% extends 'partials/base.html.twig' %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-exclamation-triangle"></i> {{ "PLUGIN_ADMIN.ERROR"|tu }}</h1>
{% endblock %}

{% block content %}
<div class="error-block">
    <h1>Error {{ page.header.http_response_code }}</h1>
    <div class="padding">
    <p>
        {{ page.content|raw }}
    </p>
    </div>
</div>
{% endblock %}

{% block footer_section %}
<br /><br /><br />
{% endblock %}
