{% embed 'partials/register.html.twig' with {title:'Grav Register Admin User', classes:'wide'} %}

    {% block instructions %}
    <div class="instructions">
        {{ page.content|raw }}
    </div>
    {% endblock %}

    {% block form %}
        {% for field in form.fields %}
            {% if field.type %}
                {% set value = form.value(field.name) %}
                <div class="wrapper-{{ field.name }}">
                    {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
                </div>
            {% endif %}
        {% endfor %}

        <div class="form-actions primary-accent">

            <button type="reset" class="button secondary"><i class="fa fa-exclamation-circle"></i> {{ 'PLUGIN_ADMIN.LOGIN_BTN_CLEAR'|tu }}</button>
            <button type="submit" class="button primary"><i class="fa fa-sign-in"></i> {{ 'PLUGIN_ADMIN.LOGIN_BTN_CREATE_USER'|tu }}</button>

        </div>

    {% endblock %}

{% endembed %}
