{% set currentDoc = g.doc(doc.pod_path) %}
{% set listItems %}
<li>{{currentDoc.titles('breadcrumb')}}</li>
{% endset %}
{% set currentDoc = g.doc(currentDoc.pod_path).parent %}
{% if not currentDoc == None %}
  {% for _ in range(10) %}
    {% set nextListItem %}
    <li><a href="{{currentDoc.url.path}}">{{currentDoc.titles('breadcrumb')}}</a></li>
    {% endset %}
    {% set listItems %}
    {{nextListItem|safe + listItems|safe}}
    {% endset %}
    {% set currentDoc = g.doc(currentDoc.pod_path).parent %}
    {% if currentDoc == None %}{% break %}{% endif %}
  {% endfor %}
{% endif %}
<nav class="breadcrumb">
  <ul>
  {{listItems|safe}}
  </ul>
</nav>
