<amp-geo layout="nodisplay">
  <script type="application/json">
    {
      "ISOCountryGroups": {
        "eu": ["at", "be", "bg", "ch", "cy", "cz", "dk", "de", "ee", "el", "es", "fi", "fr", "hr", "ie", "is", "it", "li", "lv", "lt", "lu", "hu", "mt", "nl", "no", "pl", "pt", "ro", "si", "sk", "se", "uk"]
      }
    }
  </script>
</amp-geo>

<amp-consent id="consent" layout="nodisplay">
  <script type="application/json">
    {
      "consents": {
        "eu": {
          "promptIfUnknownForGeoGroup": "eu",
          "promptUI": "consent-popup"
        }
      }
    }
  </script>

  <div id="consent-popup" class="consent-popup">
    <div>
      <button type="reset" class="close-button" on="tap:consent.dismiss" role="button" tabindex="0"></button>
      <p>
        {{_('We use cookies to understand how you use our site and to improve your experience. By continuing to use our site, you accept our')}} <a href="https://policies.google.com/technologies/cookies">{{_('use of cookies')}}</a> and <a href="https://policies.google.com/privacy">{{_('privacy policy')}}</a>.
      </p>
      <button on="tap:consent.accept" class="button text-label" role="button" tabindex="1">{{_('OK')}}</button>
    </div>
  </div>
</amp-consent>