{% set usedDoc = usedDoc or doc %}

{% if usedDoc.collection and usedDoc.collection.build_root %}
  {% set secondaryCollection = usedDoc.collection %}
{% elif usedDoc.collection and usedDoc.collection.parent.build_root %}
  {% set secondaryCollection = usedDoc.collection.parent %}
{% elif usedDoc.collection.parent and usedDoc.collection.parent.parent.build_root %}
  {% set secondaryCollection = usedDoc.collection.parent.parent %}
{% elif usedDoc.collection.parent.parent and usedDoc.collection.parent.parent.parent.build_root %}
  {% set secondaryCollection = usedDoc.collection.parent.parent.parent %}
{% endif %}

{% macro render_item(item, class) -%}
  {% set sub_collection = g.collection(item.collection.pod_path + '/' + item.base) %}
  {% set custom_children = item.collection.custom_children %}
  {% set open = sub_collection.pod_path in usedDoc.pod_path[:-3] %}
  <li class="{{class}} {% if sub_collection.exists %}expandable{% endif %}">

    <a class="{% if doc == item %}current{% endif %} section-name {% if open %}open{% endif %} section-name {% if item.goto %}external{% endif %}" href="{% if item.goto_internal %} {{g.doc(item.goto_internal, locale=usedDoc.locale).url.path}} {% else %} {{item.goto or item.url.path}} {% endif %}">{{_(item.title)}}</a>

    {% if open and sub_collection.exists%}
      {% if sub_collection.custom_children %}
        {{ render_custom_children(item, sub_collection.custom_children) }}
      {% else %}
        {{ render_children(item, sub_collection.docs(locale=usedDoc.locale)) }}
      {% endif %}
    {% endif %}
  </li>
{% endmacro %}

{% macro render_item_custom(item_custom, class) -%}
  {% set item = g.doc(item_custom.href) %}
  {% set sub_collection = g.collection(item_custom.collection) %}
  {% set open = sub_collection.pod_path in usedDoc.pod_path[:-3] %}
  <li class="{{class}} {% if sub_collection.exists %}expandable{% endif %}">

    <a class="{% if doc == item %}current{% endif %} section-name {% if open %}open{% endif %} section-name {% if item.goto %}external{% endif %}" href="{% if item.goto_internal %} {{g.doc(item.goto_internal, locale=usedDoc.locale).url.path}} {% else %} {{item.goto or item.url.path}} {% endif %}">{{_(item_custom.title)}}</a>

    {% if open and sub_collection.exists %}
      {% if sub_collection.custom_children %}
        {{ render_custom_children(item, sub_collection.custom_children) }}
      {% else %}
        {{ render_children(item, sub_collection.docs(locale=usedDoc.locale)) }}
      {% endif %}
    {% endif %}
  </li>
{% endmacro %}

{% macro tag(item) -%}
  {{"ol" if item.numbered else "ul"}}
{%- endmacro %}

{% macro render_children(item, docs) -%}

  {% if item.categories %}
    {% for category in item.categories %}
      <h5>{{_(category)}}</h5>
      <{{tag(item)}}>
        {% for child in docs if child.category == category %}
          {{render_item(child, "sub-level")}}
        {% endfor %}
      </{{tag(item)}}>
    {% endfor %}
  {% else %}
    <{{tag(item)}}>
      {% for child in docs %}
        {{render_item(child, "sub-level")}}
      {% endfor %}
    </{{tag(item)}}>
  {% endif %}
{%- endmacro %}

{% macro render_custom_children(item, custom_children) -%}
  <{{tag(item)}}>
    {% for child in custom_children %}
      {{render_item_custom(child, "sub-level")}}
    {% endfor %}
  </{{tag(item)}}>
{%- endmacro %}

<nav class="doc-sidebar">

    <div class="current-header">
      <h1 class="title"><a href="/{% if doc.locale == 'en' %}docs{% else %}{{doc.locale}}/docs{% endif %}">{{_(secondaryCollection.title)}}</a><h1>
    </div>

    <div class="current-sections">
      <ul>
        <li>
          <ul>
          {% for item in secondaryCollection.docs(recursive=false, locale=doc.locale) %}
            {% if not item.goto %}
            {{render_item(item, "top-level")}}
            {% endif %}
          {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

</nav>
