{% set usedDoc = usedDoc or doc %}

{% if usedDoc.collection.parent.build_root %}
  {% set secondaryCollection = usedDoc.collection %}
  {% set navCollection = usedDoc.collection %}
{% elif usedDoc.collection.parent.parent.build_root %}
  {% set secondaryCollection = usedDoc.collection.parent %}
  {% set navCollection = usedDoc.collection %}
{% elif usedDoc.collection.parent.parent.parent.build_root %}
  {% set secondaryCollection = usedDoc.collection.parent.parent %}
  {% set navCollection = usedDoc.collection.parent %}
{% endif %}

{% macro render_item(item, class) -%}
  {% set sub_collection = g.collection(item.collection.pod_path + '/' + item.base) %}
  {% set open = sub_collection.pod_path in usedDoc.pod_path[:-3] %}
  <li class="{{class}} {% if sub_collection.exists %}expandable{% endif %}">
    <h5 class="{% if doc == item %}current{% endif %} section-name">
      <a href="{{item.goto or item.url.path}}"{% if item.goto %} class="external"{% endif %}>{{_(item.title)}}</a>
    </h5>
  {% if open and sub_collection.exists %}
        {{ render_children(item, sub_collection.docs(locale=usedDoc.locale)) }}
  {% endif %}
        </li>
{% endmacro %}

{% macro tag(item) -%}
  {{"ol" if item.numbered else "ul"}}
{%- endmacro %}

{% macro render_children(item, docs) -%}
  <{{tag(item)}}>
    {% for child in docs %}
      {{render_item(child, "sub-level")}}
    {% endfor %}
  </{{tag(item)}}>
{%- endmacro %}

<nav class="doc-sidebar">
  <div class="current-header">
    <div class="breadcrumbs">
      <div class="breadcrumb light">
        {{_(g.collection('docs').title)}}
      </div>
      <div class="breadcrumb light">
        {{_(secondaryCollection.title)}}
      </div>
    </div>
    <h1 class="title">
        {{_(navCollection.title)}}
    </h1>
  </div>

  <div class="current-sections">
    <ul>
      <li>
        <ul>
        {% for item in navCollection.docs(recursive=false, locale=doc.locale) %}
          {{render_item(item, "top-level")}}
        {% endfor %}
        </ul>
      </li>
    </ul>

<!--     <ul style="margin-top:100px;">
      <li class="top-level expandable">
        <h5 class="section-name">Styling & Layout</h5>
        <ul class="section-content">
          <li class="sub-level expandable">
            <h5 class="section-name">Supported CSS</h5>
            <ul>
              <li>Disallowed styles</li>
              <li>Restricted styles</li>
              <li>The custom fonts exception</li>
              <li>Using CSS preprocessors</li>
            </ul>
          </li>
          <li class="sub-level">
            <h5 class="section-name">Layout & Media Queries</h5>
          </li>
          <li class="sub-level">
            <h5 class="section-name">Placeholders & Fallbacks</h5>
          </li>
          <li class="sub-level">
            <h5 class="section-name">Art direction with srcset, sizes & heights</h5>
          </li>
          <li class="sub-level">
            <h5 class="section-name">Custom Fonts</h5>
          </li>
        </ul>
      </li>
      <li class="top-level">
        <h5 class="section-name">Include Media & Iframes</h5>
      </li>
      <li class="top-level">
        <h5 class="section-name">Include Third-Party Content</h5>
      </li>
      <li class="top-level">
        <h5 class="section-name">Ads on your AMP pages</h5>
      </li>
    </ul>
 -->  </div>

  <div class="navigation">
    <a href="#" class="previous">
      <div class="navigation-label">
        <div class="title">Tutorials</div>
      </div>
    </a>
    <a href="#" class="next">
      <div class="navigation-label">
        <div class="subtitle light">Next Guide</div>
        <div class="title">Debug</div>
      </div>
    </a>
  </div>
</nav>
