<div class="inline-toc">
  <ul>
  {% for section in doc.faq %}
    <li><a href="#{{section.section_title|slug}}">{{section.section_title}}</a></li>
  {% endfor %}
  </ul>
</div>

{% for section in doc.faq %}
  <h2 id="{{section.section_title|slug}}" class="section-label">{{section.section_title}}</h2>
  <amp-accordion>
    {% for question in section.questions %}
    <section>
      <header class="accordion-header">
        <h4 class="accordion-title">{{question.title}}</h4>
      </header>
      <div class="accordion-content">
        {{question.answer|markdown|safe}}
      </div>
    </section>
    {% endfor %}
  </amp-accordion>
{% endfor %}
