<footer>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="{{footer.fields.github.link}}" class="footer-link">
          <amp-img class="footer-image"
              layout=fixed
              height=30
              width=30
              src="{{footer.fields.github.img}}"
              alt="{{_(footer.fields.github.text)}}">
          </amp-img>
          <span>{{_(footer.fields.github.text)}}</span>
        </a>
      </div>

    </div>
</footer>

<amp-install-serviceworker src="/sw.js" layout="nodisplay"></amp-install-serviceworker>
