<footer>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <a href="/" class="footer-link">
          <amp-img class="footer-image"
              layout=fixed
              height=30
              width=30
              src="/static/img/logo-blue-standalone.svg"
              alt="Accelerated Mobile Pages Project">
          </amp-img>
          <span>Accelerated Mobile Pages Project</span>
        </a>
      </div>

    </div>
  </div>
</footer>

<amp-install-serviceworker src="/service-worker.js?v2" layout="nodisplay"></amp-install-serviceworker>
