<a href="{% if cta.link_url.startswith('http') %}{{ cta.link_url }}{% else %}{{ g.doc(cta.link_url, locale=doc.locale).url.path }}{% endif %}" class="footer-cta">
  <amp-img class="cta-line left desktop-up"
      noloading
      height=279
      width=312
      layout=responsive
      src="/static/img/footer/line-left.png">
  </amp-img>
  <amp-img class="cta-line right"
      noloading
      height=215
      width=350
      layout=responsive
      src="/static/img/footer/line-right.png">
  </amp-img>
  <div class="cta-line right-half">
    <amp-img
        noloading
        height=215
        width=350
        layout=responsive
        src="/static/img/footer/line-right-2.png">
    </amp-img>
  </div>

  <div class="inner">
    <h2>{{_(cta.title)}}</h2>
    <div class="link-text">{{_(cta.link_text)}}</div>
  </div>
</a>
