<footer>
 <div class="container">
    <div class="row">
      <div class="twelve columns footer-icons">
        <a href="//twitter.com/amphtml">
          <div class="footer-image twitter"></div>
        </a>
        <a href="//amphtml.wordpress.com/">
          <div class="footer-image wordpress"></div>
        </a>
        <a href="//youtube.com/TheAMPProject">
          <div class="footer-image youtube"></div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns footer-icons">
        <a class="footer-privacy" href="https://www.google.com/intl/en/policies/privacy/">{{_('Privacy')}}</a>
      </div>
    </div>
  </div>
</footer>

<amp-install-serviceworker src="/service-worker.js?v2" layout="nodisplay"></amp-install-serviceworker>
