{% set goto = g.url(doc.goto, locale=doc.locale).path if doc.goto and 'http' not in doc.goto %}

<a class="card" href="{{goto or doc.goto or doc.url.path}}">
  <div class="card-inner">
    {% if isCase %}
    <div class="card-meta">
      <span class="card-type text-label">{{_(doc.category)}}</span>
      <span class="card-date light">{{doc.date}}</span>
    </div>
    <div class="card-logo">
      <amp-img alt="{{doc.title}}"
        height="{{doc.logo.height}}"
        layout="fixed"
        noloading
        src="/static/img/{{doc.logo.src}}"
        width="{{doc.logo.width}}"></amp-img>
    </div>
    {% endif %}

    <div class="card-title">
      {% if isCase %}<h4>{% else %}<h2>{% endif %}
        {{doc.headline or _(doc.title)}}
      {% if isCase %}</h4>{% else %}</h2>{% endif %}
    </div>

    <div class="card-link">
      <p class="text-label"> {% if isCase %} {{_('Read the Case Study')}}
          {% else %} {{_('Learn More')}} {% endif %} </p>
    </div>
  </div>
</a>
