{% set goto = g.url(doc.goto, locale=doc.locale).path if doc.goto and 'http' not in doc.goto %}

<div class="card">
  <div class="card-inner">
    <div class="hero-image">
      <a href="{{doc.site_url}}"><amp-img
          noloading
          width="{{doc.hero.hero_img_width}}"
          height="{{doc.hero.hero_img_height}}"
          layout=responsive
          src="{{doc.hero.hero_img_base}}">
      </amp-img></a>
    </div>
    <div class="card-inner-content">
      <div class="card-logo">
        <amp-img alt="{{doc.title}}"
          height="{{doc.logo.height}}"
          layout="fixed"
          noloading
          src="/static/img/{{doc.logo.src}}"
          width="{{doc.logo.width}}"></amp-img>
      </div>
      <div class="card-description">
        <p class="headline">{{doc.headline}}</p>
      </div>
    {% if doc.features %}
    <div class="card-features">
      <h4>Features</h4>
      <ul>
      {% for feature in doc.features %}
        <li>{{feature}}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
      <div class="card-link">
        <a class="underlined cta" href="{{doc.site_url}}">{{_('See it in action')}}</a>
      </div>
    </div>
  </div>
</div>
