<header class="header fixed">

  <div class="container">
    <div class="nav-container">
      <div class="left-nav alt">
        <a href="{{g.doc('/content/pages/home.html', locale=doc.locale).url.path}}" class="tab header-title"><span></span></a>

        <div class="tabs">
          {% for entry in menu %}
          <div class="tab{% if doc.pod_path.split('/')[2] == entry.collection %} active{% endif %}">
            <a{% if entry.href.startswith('http') %} class="external"{% endif %} href="{% if entry.href.startswith('http') %}{{ entry.get('href') }}{% else %}{{ g.doc(entry.get('href'), locale=doc.locale).url.path }}{% endif %}">{{_(entry.get('copy'))}}</a>
            <div class="list-container">
              <div class="list-shadow"></div>
              <ul>
                {% if entry.children %}
                {% for subEntry in entry.children %}
                <li{% if subEntry.href.startswith('http') %} class="external"{% endif %} {% if subEntry.collection %} class="has-sublist" {% endif %}>
                  <a href="{% if subEntry.href.startswith('http') %}{{ subEntry.get('href') }}{% elif subEntry.static %}{{ g.static(subEntry.get('href')).url.path }}{% else %}{{ g.doc(subEntry.get('href'), locale=doc.locale).url.path }}{% endif %}" {% if subEntry.href.startswith('http') %} target="_blank" {% endif %}>{{_(subEntry.get('copy'))}}</a>
                  {% if subEntry.collection %}
                    <ul class="sublist">
                      {% set menuCollection = g.collection(subEntry.collection) %}
                      {% for item in menuCollection.docs(recursive=false, locale=doc.locale) %}
                      <li{% if item.goto %} class="external"{% endif %}>
                        {% if item.goto_internal %}
                          <a href="{{g.doc(item.goto_internal, locale=doc.locale).url.path}}">{{_(item.title)}}</a>
                        {% else %}
                          <a href="{{item.goto or item.url.path}}" {% if item.goto %} target="_blank" {% endif %}>{{_(item.title)}}</a>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
                {% endfor %}
                {% else %}
                {% set menuCollection = g.collection(entry.collection) %}
                {% for item in menuCollection.docs(recursive=false, locale=doc.locale) %}
                  {% if item.goto_internal %}
                    <a href="{{g.doc(item.goto_internal, locale=doc.locale).url.path}}">{{_(item.title)}}</a>
                  {% else %}
                    <a href="{{item.goto or item.url.path}}">{{_(item.title)}}</a>
                  {% endif %}
                {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="right alt">
        {% include "/views/partials/search.html" %}
        {% include "/views/partials/lang_switcher.html" %}
        <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>
      </div>
    </div>
  </div>
</header>
