<header class="header fixed">
  <div class="wrap">
    <div class="container">
      <div class="nav-container">
         <div class="left-nav">
            <a href="{{g.doc('/content/pages/home.html', locale=doc.locale).url.path}}" class="tab header-title">
              <span>AMP</span>
            </a>
        </div>
        <div class="right alt">

          {% for entry in menu %}
          {% if entry.children %}
          <div class="tab">
            <a{% if entry.href.startswith('http') %} class="external"{% endif %} href="{% if entry.href.startswith('http') %}{{ entry.get('href') }}{% else %}{{ g.doc(entry.get('href'), locale=doc.locale).url.path }}{% endif %}">
              {{_(entry.get('copy'))}}
            </a>
            <ul>
              {% for subEntry in entry.children %}
              <li{% if subEntry.href.startswith('http') %} class="external"{% endif %}>
                <a href="{% if subEntry.href.startswith('http') %}{{ subEntry.get('href') }}{% else %}{{ g.doc(subEntry.get('href'), locale=doc.locale).url.path }}{% endif %}">
                  {{_(subEntry.get('copy'))}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% else %}
          <a class="tab desktop {{is_active_class('/who')}}" href="{% if entry.external %}entry.get('href'){% else %}{{ g.doc(entry.get('href'), locale=doc.locale).url.path }}{% endif %}">
            {{_(entry.get('copy'))}}
          </a>
          {% endif %}
          {% endfor %}

          {% include "/views/partials/lang_switcher.html" %}

          <button class="tab hamburger" id="menu-button" on='tap:sidebar.toggle'></button>

        </div>
      </div>
    </div>
  </div>
</header>
