<div class="language desktop">
  <amp-accordion disable-session-states>
    <section>
      <h6 class="current">
        <a class="flag-{{ doc.locale }}"><span>{{ doc.locale.get_language_name() }}</span></a>
      </h6>
      <div class="others">
        <div class="others-inner">
          {% for locale in doc.locales if not locale == doc.locale  %}
          {% set localized_doc = doc.localize(locale) %}
          <div><a href="{{ localized_doc.url.path }}" class="flag-{{locale}}"><span>{{locale.get_language_name()}}</span></a></div>
          {% endfor %}
        </div>
      </div>
    </section>
  </amp-accordion>
</div>