<section class="large-cta">
  <amp-img class="large-cta-lines left desktop-up"
      noloading
      height={{large_cta.lines_left_height}}
      width={{large_cta.lines_left_width}}
      layout=fixed
      src="{{large_cta.lines_left}}">
  </amp-img>
  <amp-img class="large-cta-lines right desktop-up"
      noloading
      height={{large_cta.lines_right_height}}
      width={{large_cta.lines_right_width}}
      layout=fixed
      src="{{large_cta.lines_right}}">
  </amp-img>
  <h1>{{_(large_cta.title)}}</h1>
  {% if large_cta.subtitle %}
    <p>{{_(large_cta.subtitle)}}</p>
  {% endif %}
  <a href="{% if large_cta.cta_url.startswith('http') %}{{ large_cta.cta_url }}{% else %}{{ g.doc(large_cta.cta_url, locale=doc.locale).url.path }}{% endif %}" class="button light"><span>{{_(large_cta.cta)}}</span></a>
</section>
