  <div class="animated-lines-big">
    <amp-img
        noloading
        height=224
        src="/static/img/motions/amp-lines-motions.png">
    </amp-img>
    <div class="line-pos pos-306-75-delay--1050"><div class="line line-a"></div></div>
    <div class="line-pos pos-155-101-delay--5100"><div class="line line-b"></div></div>
    <div class="line-pos pos-282-62-delay--5090"><div class="line line-c"></div></div>
    <div class="line-pos pos-255-559-delay--4150"><div class="line line-d"></div></div>
    <div class="line-pos pos-318-0-delay--4120"><div class="line line-a"></div></div>
    <div class="line-pos pos-297-268-delay--4050"><div class="line line-e"></div></div>
    <div class="line-pos pos-353-107-delay--3160"><div class="line line-f"></div></div>
    <div class="line-pos pos-74-0-delay--3150"><div class="line line-a"></div></div>
    <div class="line-pos pos-257-312-delay--3120"><div class="line line-d"></div></div>
    <div class="line-pos pos-207-435-delay--3090"><div class="line line-g"></div></div>
    <div class="line-pos pos-294-244-delay--2150"><div class="line line-e"></div></div>
    <div class="line-pos pos-251-401-delay--2120"><div class="line line-g"></div></div>
    <div class="line-pos pos-52-69-delay--2100"><div class="line line-c"></div></div>
    <div class="line-pos pos-203-164-delay--1940"><div class="line line-g"></div></div>
    <div class="line-pos pos-0-184-delay--1130"><div class="line line-b"></div></div>
    <div class="line-pos pos-76-553-delay--1110"><div class="line line-d"></div></div>
    <div class="line-pos pos-306-75-delay--1010"><div class="line line-a"></div></div>
    <div class="line-pos pos-280-322-delay--950"><div class="line line-b"></div></div>
  </div>

<!--   <div class="animated-lines-small">
    <div class="line-pos pos-54-106-delay-0"><div class="line line-h"></div></div>
    <div class="line-pos pos-0-20-delay-20"><div class="line line-j"></div></div>
    <div class="line-pos pos-20-0-delay-60"><div class="line line-i"></div></div>
    <div class="line-pos pos-40-46-delay-190"><div class="line line-j"></div></div>
  </div>

  <div class="animated-lines-small">
    <div class="line-pos pos-57-32-delay-0"><div class="line line-j"></div></div>
    <div class="line-pos pos-38-0-delay-10"><div class="line line-i"></div></div>
    <div class="line-pos pos-0-38-delay-70"><div class="line line-i"></div></div>
    <div class="line-pos pos-17-98-delay-110"><div class="line line-j"></div></div>
    <div class="line-pos pos-57-151-delay-130"><div class="line line-h"></div></div>
  </div>
 -->
