{% macro render_nav_link(item) -%}
  {% if item == doc %}
  <span>{{ doc.title }}</span>
  {% else %}
  <a href="{% if item.goto %}{{ item.goto }}{% else %}{{ item.url.path }}{% endif %}">{{ item.title }}</a>
  {% endif %}
{%- endmacro %}

{% macro render_children(item, docs) -%}
  {% for doc in item.collection if doc.parent == item and item.locale == doc.locale %}
    {% if loop.first %}{% if item.numbered %}<ol>{% else %}<ul>{% endif %}{% endif %}
    <li>
      {{ render_nav_link(doc) }}
    </li>
    {% if loop.last %}{% if item.numbered %}</ol>{% else %}</ul>{% endif %}{% endif %}
  {% endfor  %}
{%- endmacro %}

<nav>

{#
  {% macro nav(collection) %}
    <ul>
      <li>
      {# TODO: Fix hack. #}
      <h2>{{_(collection.title)}}</h2>
        {% set sub_folder = g.collection(doc.pod_path.replace('.md', '')) %}
        {% if sub_folder %}
          {% for item in sub_folder %}
            {{nav(item)}}
          {% endfor %}
        {% endif %}
      <ul>
        {% for page in collection.list_docs(recursive=false) %}
        <li><a href="{{page.url.path}}">{{_(page.title)}}</a></li>
        {% endfor %}
      </ul>
    </ul>
  {% endmacro %}
  #}

  {% block main %}
    {% for collection in g.collections('docs') %}
      {% for sub in collection.collections() %}
        {{nav(sub)}}
      {% endfor %}
    {% endfor %}
  {% endblock %}

</nav>
