<section class="points">
  {% if points.title %}
    <h3>{{_(points.title)}}</h3>
  {% endif %}
  {% for point in points.pointlist %}
    <div class="point" {% if point.id %}id="{{point.id}}"{% endif %}>
      <div class="point-text">
        <h4>{{_(point.title)}}</h4>
        <div class="description small">
          {{_(point.description)|markdown|safe}}
        </div>
      </div>
      {% if point.example %}
        <div class="point-example">
          {% set example = g.doc(point.example, locale=doc.locale) %}
          {{example.html|safe}}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
