{% set isEvent = (post.type|lower == "event") %}
{% set isBlog = (post.type|lower == "blog") %}
{% set isVideo = (post.type|lower == "video") %}
{% set isRoadmap = (post.type|lower == "roadmap") %}
{% set latest = g.doc('/content/includes/latest.yaml', locale=doc.locale) %}

<div class="post-item">
  {% if meta %}
    <div class="post-meta">
      {% if not isRoadmap %}
        {% if isVideo %}
        <a class="type" href="https://youtube.com/TheAMPProject">{{post.type}}</a>
        {% else %}
        <a class="type" href="{{g.doc('/content/latest/list-' ~ post.type|lower ~ '.html', locale=doc.locale).url.path}}">{{post.type}}</a>
        {% endif %}
      {% else %}
        <a class="type" href="{{g.doc('/content/latest/roadmap.html', locale=doc.locale).url.path}}">{{post.type}}</a>
      {% endif %}
      {% if isBlog %}
        <span class="time text-label">{{post.date}}</span>
      {% endif %}
      {% if isRoadmap %}
        <span class="time text-label">{{post.updated}}</span>
      {% endif %}
    </div>
  {% endif %}
  {% if isBlog %}
    <a href="{{g.doc('/content/latest/blog/' ~ post.id ~ '.md', locale=doc.locale).url.path}}" class="post-title">
  {% elif isEvent %}
    <a href="{{post.href}}" class="post-title">
  {% elif isVideo %}
    <a href="{{post.origin}}" class="post-title">
  {% endif %}
  {% if isRoadmap %}
    <a href="{{g.doc('/content/latest/roadmap.html', locale=doc.locale).url.path}}" class="post-title">
    <h4>{{post.current}}</h4>
  {% else %}
    <h4>{{post.title|truncate(80, False)}}</h4>
  {% endif %}
  </a>
  {% if isVideo %}
    <amp-youtube data-videoid="{{ post.id }}" layout="responsive" width="480" height="270"></amp-youtube>
  {% else %}
    {% if not isEvent or not past %}
      <p class="post-excerpt small">{{post.excerpt|safe|truncate(170, False)}}</p>
    {% endif %}
  {% endif %}
  {% if isEvent %}
    <div class="event-meta">
      <span class="event-time smaller">
        <amp-img
            noloading
            height=15
            width=15
            src="{{latest.feed.icon_calendar}}">
        </amp-img>
        {{post.event_time_text}}
      </span>
      <span class="location smaller">
        <amp-img
            noloading
            height=15
            width=15
            src="{{latest.feed.icon_location}}">
        </amp-img>
        {{post.location}}
      </span>
      <span class="participant smaller">
        <amp-img
            noloading
            height=15
            width=15
            src="{{latest.feed.icon_audience}}">
        </amp-img>
        {{post.participant}}
      </span>
    </div>
  {% endif %}
  {% if isEvent and not past %}
    <a class="underlined cta" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{post.title}}&dates={{post.event_time}}&details={{post.href}}&location={{post.location}}&sf=true&output=xml">{{_(latest.feed.add_to_calendar)}}</a>
  {% endif %}
</div>