<div class="promo">

  <a href="https://www.youtube.com/playlist?list=PLXTOW_XMsIDSl5iyPxgtEI0ts5HfBTH8c" class="left">
    <div class="description desktop-up">
      {{_('AMP Conf 2018. Feb 13/14.')}}
    </div>
    <div class="description mobile-down">
      {{_('AMP Conf.')}}
    </div>
    <div class="link">{{_('See all videos')}}</div>
  </a>

  <a href="{{g.doc('/content/pages/amp-roadshow.html').url.path}}" class="right">
    <div class="description desktop-up">
      {{_('New AMP Roadshows.')}}
    </div>
    <div class="description mobile-down">
      {{_('AMP Roadshows.')}}
    </div>
    <div class="link">{{_('Sign up')}}</div>
  </a>

</div>
