<a href="{{g.doc('/content/pages/amp-conf-2017.html').url.path}}" class="promo">
  <div class="promo-inner">
    <amp-img class="promo-line left desktop-up"
        noloading
        height=279
        width=312
        layout=responsive
        src="/static/img/footer/line-left.png">
    </amp-img>

    <div class="description desktop-up">
      {{_('Tune in live to our first-ever AMP Conf, happening right now!')}}
    </div>
    <div class="description mobile-down">
      {{_('Watch the AMP Conf live stream.')}}
    </div>
    <div class="link">{{_('Watch now')}}</div>
  </div>
</a>