<a href="{{g.doc('/content/pages/amp-conf-2017.html').url.path}}" class="promo">
  <div class="promo-inner">
    <amp-img class="promo-line left desktop-up"
        noloading
        height=279
        width=312
        layout=responsive
        src="/static/img/footer/line-left.png">
    </amp-img>

    <div class="description desktop-up">
      {{_('Save the date: Tune in live on March 7/8 or join us in person in NYC for our first-ever AMP Conf.')}}
    </div>
    <div class="description mobile-down">
      {{_('AMP Conf. March 7/8.')}}
    </div>
    <div class="link">{{_('Learn More')}}</div>
  </div>
</a>