<a href="{% if doc.base == "amp-conf-2017" %}{{g.doc('/content/pages/amp-conf-2017-pwa.html').url.path}}{% else %}{{g.doc('/content/pages/amp-conf-2017.html').url.path}}{% endif %}" class="promo promo-live">

    <div class="description desktop-up">
      {{_('Watch the AMP Conf live.')}}
    </div>
    <div class="description mobile-down">
      {{_('Watch the AMP Conf live.')}}
    </div>

    <amp-youtube
      data-videoid="lX8szUWpfjk"
      layout="responsive"
      width="480" height="270"></amp-youtube>

      <div class="link">{% if doc.base == "amp-conf-2017" %}Get the app{% else %}{{_('Full schedule')}}{% endif %}</div>

</a>