{% set lists = g.doc('/content/includes/lists.yaml', locale=doc.locale) %}
<amp-accordion disable-session-states class="share-module">
  <section class="control">
    <header>
      <div class="toggle-buttons">
        <div class="button-open"><p class="text-label">{{_(lists.share)}}</p></div>
        <div class="button-close"></div>
      </div>
    </header>
    <p></p>
  </section>
  <section expanded class="share-content">
    <header></header>
    <div class="share-buttons">
      <amp-social-share
          width="63"
          height="63"
          type="facebook"
          data-param-app_id="206123646531919"></amp-social-share>
      <amp-social-share
          width="63"
          height="63"
          type="gplus"></amp-social-share>
      <amp-social-share
          width="63"
          height="63"
          type="linkedin"></amp-social-share>
      <amp-social-share
          width="63"
          height="63"
          type="twitter"></amp-social-share>
    </div>
  </section>
</amp-accordion>