<amp-accordion class="share-module">
  <section class="control">
    <header>
      <div class="toggle-buttons">
        <div class="button-open">Share</div>
        <div class="button-close">X</div>
      </div>
    </header>
    <p></p>
  </section>
  <section expanded class="share-content">
    <header></header>
    <div class="share-buttons">
      <amp-social-share
          width="63"
          height="63"
          type="facebook"></amp-social-share>
      <amp-social-share
          width="63"
          height="63"
          type="gplus"></amp-social-share>
      <amp-social-share
          width="63"
          height="63"
          type="linkedin"></amp-social-share>
      <amp-social-share
          width="63"
          height="63"
          type="twitter"></amp-social-share>
    </div>
  </section>
</amp-accordion>