<amp-sidebar id='sidebar' side='{% if doc.locale.is_rtl %}left{% else %}right{% endif %}' layout='nodisplay'>
  <form class="menu-layer primary" action="/" target="_top">
    <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
    <div class="items">
    {% for entry in menu %}
      {% if entry.children %}
        <label class="menu-item item-layer-1 has-sub-level{% if doc.pod_path.split('/')[2] == entry.collection %} active{% endif %}"><input type="checkbox">
        {{_(entry.get('copy'))}}
          <div class="submenu menu-layer secondary">
            <div class="return-button">Back</div>
            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
            <div class="items">
            {% for subEntry in entry.children %}
              {% if subEntry.collection %}
                <label class="menu-item item-layer-2 has-sub-level"><input type="checkbox">{{_(subEntry.get('copy'))}}
                  <div class="submenu menu-layer tertiary">
                    <div class="return-button">Back</div>
                    <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
                    <div class="items">
                      <a class="menu-item item-layer-3" href="{{ g.doc(subEntry.get('href'), locale=doc.locale).url.path }}">{{_(subEntry.get('copy'))}}</a>
                      {% set menuCollection = g.collection(subEntry.collection) %}
                      {% for item in menuCollection.docs(recursive=false, locale=doc.locale) %}
                      <a class="menu-item item-layer-3{% if item.goto %} external{% endif %}" href="{{item.goto or item.url.path}}">{{_(item.title)}}</a>
                      {% endfor %}
                    </div>
                  </div>
                </label>
              {% else %}
                <a class="menu-item item-layer-2{% if subEntry.href.startswith('http') %} external{% endif %}" href="{% if subEntry.href.startswith('http') %}{{ subEntry.get('href') }}{% elif subEntry.static %}{{ g.static(subEntry.get('href') ).url.path }}{% else %}{{ g.doc(subEntry.get('href'), locale=doc.locale).url.path }}{% endif %}">{{_(subEntry.get('copy'))}}</a>
              {% endif %}
            {% endfor %}
            </div>
          </div>
        </label>
      {% elif entry.collection %}
        <label class="menu-item item-layer-1 has-sub-level{% if doc.pod_path.split('/')[2] == entry.collection %} active{% endif %}"><input type="checkbox">
        {{_(entry.get('copy'))}}
          <div class="submenu menu-layer secondary">
            <div class="return-button">Back</div>
            <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
            <div class="items">
              <a class="menu-item item-layer-2" href="{{ g.doc(entry.get('href'), locale=doc.locale).url.path }}">{{_(entry.get('copy'))}} Overview</a>
              {% set menuCollection = g.collection(entry.collection) %}
              {% for item in menuCollection.docs(recursive=false, locale=doc.locale) %}
                <a class="menu-item item-layer-2{% if item.goto %} external{% endif %}" href="{{item.goto or item.url.path}}">{{_(item.title)}}</a>
              {% endfor %}
            </div>
          </div>
        </label>
      {% else %}
        <a class="menu-item item-layer-1{% if entry.href.startswith('http') %} external{% endif %}" href="{% if entry.href.startswith('http') %}{{ entry.get('href') }}{% else %}{{ g.doc(entry.get('href'), locale=doc.locale).url.path }}{% endif %}">{{_(entry.get('copy'))}}</a>
      {% endif %}
    {% endfor %}
    </div>
    {% include "/views/partials/lang_switcher.html" %}
  </form>
</amp-sidebar>