<amp-sidebar id='sidebar' side='{% if doc.locale.is_rtl %}left{% else %}right{% endif %}' layout='nodisplay'>
  <form class="menu-layer-1">
    <button type="reset" class="close-button" id="menu-button" on='tap:sidebar.toggle'></button>
    <label class="menu-item item-layer-1"><input type="checkbox">
      This is the first menu item >
      <div class="submenu menu-layer-2">
        <div class="return-button"></div>
        <label class="menu-item item-layer-2"><input type="checkbox"> This is the first menu item >
          <div class="submenu menu-layer-3">
            <div class="return-button"></div>
            <a class="menu-item item-layer-3" href="google.com" target="_blank">link</a>
          </div>
        </label>
        <a class="menu-item item-layer-2" href="google.com" target="_blank">link</a>
      </div>
    </label>
    
    <label class="menu-item item-layer-1"><input type="checkbox">
      This is the second menu item >
      <div class="submenu menu-layer-2">
        <div class="return-button"></div>
        <label class="menu-item item-layer-2"><input type="checkbox"> This is the first menu item >
          <div class="submenu menu-layer-3">
            <div class="return-button"></div>
            <a class="menu-item item-layer-3" href="google.com" target="_blank">link</a>
          </div>
        </label>
        <a class="menu-item item-layer-2" href="google.com" target="_blank">link</a>
      </div>
    </label>
    <a class="menu-item item-layer-1" href="google.com" target="_blank">This is the third menu item ></a>
  </form>

  {% include "/views/partials/lang_switcher.html" %}
</amp-sidebar>