{% macro render_nav_link(item) -%}
  {% if item == doc %}
  <span>{{ doc.title }}</span>
  {% else %}
  <a href="{% if item.goto %}{{ item.goto }}{% else %}{{ item.url.path }}{% endif %}">{{ item.title }}</a>
  {% endif %}
{%- endmacro %}

{% macro render_children(item, docs) -%}
  {% for doc in docs if item.locale == doc.locale %}
    {% if loop.first %}{% if item.numbered %}<ol>{% else %}<ul>{% endif %}{% endif %}
    <li>
      {{ render_nav_link(doc) }}
    </li>
    {% if loop.last %}{% if item.numbered %}</ol>{% else %}</ul>{% endif %}{% endif %}
  {% endfor  %}
{%- endmacro %}

{% set sub_collection = g.collection(doc.collection.pod_path + '/' + doc.base) %}
{{ render_children(doc, sub_collection) }}