<div>
  <p class="message">
    {{ error.message }}
    <a href="{{ error.specUrl }}" target="_blank" rel="noopener">
      Learn&nbsp;more
    </a>
  </p>
  <div class="location">line {{ error.line }}, column {{ error.col }}</div>
</div>
