---
$view: /views/styleguide/component.j2
$title: Benefit
items:
- title: Ready to use
  text: Components with high quality user experience.
  icon: lego
- title: Easy as abc
  text: Create clean, performant and safe Code.
  icon: edit
- title: Lightning fast
  text: From small website projects to complex platforms.
  icon: browser
---
<div class="col-2-1">
	<p class="ad-a-txt ad-a-txt-p ad-a-txt-accent-2">Three benefit molecules with different contents.</p>
</div>
<div class="col-span-1"></div>
{% for item in doc.items %}
<div class="ad-m-benefit col-span-2">
	{{ atoms.icon(item.icon, 'ad-m-benefit-icon') }}
	<h4 class="ad-m-benefit-headline">{{ item.title }}</h4>
	<p class="ad-m-benefit-copy">{{ item.text }}</p>
</div>
{% if item != doc.items|last() %}
<span class="ad-a-divider"></span>
{% endif %}
{% endfor %}