---
$view: /views/styleguide/component.j2
$title: Float Image

components:
- name: amp-img
  src: https://cdn.ampproject.org/v0.js
- name: amp-fx-collection
  src: https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js
copies:
- headline: Headline Three
---
<div class="ad-o-container col-6-5">
	<div class="ad-m-shift-image">
		{{atoms.image(['shadow-static', 'static-image'], src="../../../static/img/amp-img-01.png")}}
	</div>
  {% for copy in doc.copies %}
  <div class="ad-m-copy-wrapper">
    <h3 class="ad-a-hl ad-a-hl-h3">{{ copy.headline }}</h3>
		<p class="ad-a-txt ad-a-txt-3">{{ lipsum(n=1, html=False) }}</p>
  </div>
  {% endfor %}
	<div class="ad-m-shift-image">
		{{atoms.image(['shadow-static', 'parallax'], src="../../../static/img/amp-img-03.png", type="parallax")}}
		{{atoms.image([''], src="../../../static/img/amp-img-02.png")}}
	</div>
	{% for copy in doc.copies %}
  <div class="ad-m-copy-wrapper">
    <h3 class="ad-a-hl ad-a-hl-h3">{{ copy.headline }}</h3>
		<p class="ad-a-txt ad-a-txt-3">{{ lipsum(n=1, html=False) }}</p>
  </div>
  {% endfor %}
	<div class="ad-m-shift-image">
		{{atoms.image(['shadow-static', 'parallax'], src="../../../static/img/amp-img-03.png", type="parallax")}}
		{{atoms.image([''], src="../../../static/img/amp-img-02.png")}}
	</div>
	{% for copy in doc.copies %}
  <div class="ad-m-copy-wrapper">
    <h3 class="ad-a-hl ad-a-hl-h3">{{ copy.headline }}</h3>
		<p class="ad-a-txt ad-a-txt-3">{{ lipsum(n=1, html=False) }}</p>
  </div>
  {% endfor %}
</div>