---
$view: /views/styleguide/component.j2
$title: Float Image

components:
- name: amp-img
  src: https://cdn.ampproject.org/v0.js
- name: amp-fx-collection
  src: https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js
copies:
- headline: Placeholder copy text
---
<div class="ad-o-container col-6-4">
  {% for copy in doc.copies %}
  <h3 class="ad-a-hl ad-a-hl-h3">{{ copy.headline }}</h3>
	<p class="ad-a-txt ad-a-txt-3">{{ lipsum(n=4, html=False) }}</p>
  {% endfor %}
  <div class="ad-m-float-image">
    {{atoms.image(['static'], src='../../../static/img/amp-img-02.png', layout='fill', width='', height='', alt='Alt of static image.')}}
		{{atoms.image(['shadow-static', 'parallax'], src='../../../static/img/amp-img-03.png', layout='fill', alt='Alt for floating image.', type='parallax')}}
	</div>
</div>
<div class="ad-o-container col-6-4">
	{% for copy in doc.copies %}
  <h3 class="ad-a-hl ad-a-hl-h3">{{ copy.headline }}</h3>
	<p class="ad-a-txt ad-a-txt-3">{{ lipsum(n=4, html=False) }}</p>
  {% endfor %}
</div>