---
$view: /views/styleguide/component.j2
$title: News

articles:
- date: July 11, 2018
  headline: Serverless AMP solution on AWS
  text: Text Small Contrary to popular belief, Lorem Ipsum is not simply random text.
  link: '#'
  label: Read More
  description: Single news molecule without modifiers.
- date: June 1, 2018
  headline: 'Save the dates: AMP Roadshow is traveling Europe this autumn'
  text: Text Small Contrary to popular belief, Lorem Ipsum is not simply random text.
  link: '#'
  label: Read More
  modifier: shadow
  description: Single news molecule with shadow modifier.
---

{% for article in doc.articles %}
  <div class="ad-o-container col-2-1">
    <p><small>{{ article.description }}</small></p>
  </div>
  <div class="ad-o-container col-4-4">
    <article class="ad-m-news {% if article.modifier %}ad-m-news-{{article.modifier}} {% endif %}">
      <span class="ad-m-news-date">{{ article.date }}</span>
      <span class="ad-m-news-headline">{{ article.headline }}</span>
      <p class="ad-m-news-copy">{{ article.text }}</p>
      <a href={{ article.link }} class="ad-m-lnk ad-m-news-link">
        {{ atoms.icon('internal', 'ad-m-lnk-icon') }}
        <span class="ad-m-lnk-text">{{ article.label }}</span>
      </a>
    </article>
  </div>
{% endfor %}
