---
$view: /views/styleguide/component.j2
$title: Teaser

items:
- headline: Component Accent One
  subline: Category Accent 3
  icon: stories
  link: '/styleguide/organisms/teaser-list.html'
  label: Code now
  description: Single teaser without modifiers.
- headline: Component Accent One
  subline: Category Accent 3
  icon: flask
  link: '/styleguide/organisms/teaser-list.html'
  label: Code now
  modifier: white
  description: Single teaser with background modifier.
---

{% for item in doc.items %}
  <div class="ad-o-container col-2-1">
    <p><small>{{ item.description }}</small></p>
  </div>
  <div class="ad-o-container col-3-4">
    <div class="ad-m-teaser {% if item.modifier %}ad-m-teaser-{{item.modifier}}{% endif %}">
      <span class="ad-m-teaser-subline">{{ item.subline }}</span>
      <span class="ad-m-teaser-headline">
        {{ item.headline }}
        {{ atoms.icon(item.icon, 'ad-m-teaser-icon') }}
      </span>
      <p class="ad-m-teaser-copy">{{ lipsum(n=1, html=False, min=15, max=16) }}</p>
      <a href={{ item.link }} class="ad-m-lnk ad-m-teaser-link">
        {{ atoms.icon('internal', 'ad-m-lnk-icon') }}
        <span class="ad-m-lnk-text">{{ item.label }}</span>
      </a>
    </div>
  </div>
{% endfor %}
