<div class="form-field grid user-details">
    <div class="form-label block size-1-3">
        {% include 'partials/userinfo-avatar.html.twig' %}
    </div>
    <div class="form-data block size-2-3">
        <h2>{{ data.fullname }}</h2>
        <h5>
        <a href="mailto:{{ data.email }}">{{ data.email }}</a>
        {% if data.title %}
        - {{ data.title }}
        {% endif %}
        </h5>
        {% include 'partials/userinfo-avatar-credit.html.twig' %}
    </div>
</div>
