.#{prefix(null, 'banner')} {
  display: flex;
  justify-content: center;
  padding: 3px 15px;
  min-height: 32px;
  background-color: color('blue-ribbon');
  font-size: 14px;
  color: color('white');

  @include respond-to('small') {
    align-items: center;
  }

  .#{prefix(null, 'icon')} {
    display: inline;
    width: 0.9em;
    height: 1em;
    margin-right: 5px;
    fill: currentColor;
  }
}
