.#{project('button')} {
  display: inline-block;
  max-width: 100%;
  padding: 0.75em 1.75em;
  margin: 0;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  font-family: $fontFamilyHeadline;
  text-decoration: none;
  text-align: center;
  color: color('white');
  background: color('blue-ribbon');
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0 15px 35px -5px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1),
    box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  &:hover {
    transform: translateY(-0.125em);
    box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.15);
  }

  &.--inverted {
    background: color('white');
    color: color('blue-ribbon');
  }
}
