.#{prefix(null, 'content')} {
  grid-column: 4 / 12;
  margin-top: 25px;
  margin-bottom: 55px;
  position: relative;
  width: 100%;
  padding: 60px;
  background: color('white');
  box-shadow: 0 10px 60px 0 transparentize(color('black'), 0.9);

  &-sidebar-observer {
    position: absolute;
    top: calc(100vh - 50px);
    height: calc(100% - 100vh);
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    margin-top: 2em;
  }
}
