.#{prefix(null, 'content')} {
  grid-column: 4 / 12;
  z-index: 1;
  margin: 25px 0 55px 60px;
  position: relative;
  width: 100%;
  padding: 10px 60px 60px 60px;
  background: color('white');
  box-shadow: 0 10px 60px 0 transparentize(color('black'), 0.9);

  &-sidebar-observer {
    position: absolute;
    top: calc(100vh - 50px);
    height: calc(100% - 100vh);
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    margin-top: 2em;
  }

  .--sidebaropen & {
    width: calc(100% - 250px);
    margin-left: auto;
  }
}
