.#{prefix(null, 'content')} {
  z-index: 1;
  position: relative;
  width: 100%;
  margin: 25px 0 55px 0;
  padding: 10px 15px 60px 15px;
  background: color('white');
  box-shadow: 0 10px 60px 0 transparentize(color('black'), 0.9);

  @include respond-to('medium') {
    margin: 25px 0 55px 55px;
    padding: 10px 60px 60px 50px;
  }

  &-sidebar-observer {
    position: absolute;
    top: calc(100vh - 50px);
    height: calc(100% - 100vh);
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    margin-top: 2em;
  }

  .--sidebaropen & {
    width: 100%;

    @include respond-to('small') {
      margin-left: 30px;
      width: calc(100% - 250px);
    }
  }
}
