.#{prefix(null, 'copy-script')} {
  display: flex;
  align-items: center;

  code {
    flex: 1 0;
    overflow-x: scroll;
    margin: 6px 8px 6px 0;
    padding: 4px 6px;
    background: color('iron');
    font-size: 12px;
    white-space: nowrap;

    @include scrollbar;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
    }
  }
}
