.#{prefix(null, 'header')} {
  $header: &;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1001;
  width: 100%;
  max-width: 2020px;
  margin: 0 auto;
  background: color('white');
  /* Add a shadow to simulate that the flyouts are under the header */
  &:after {
    content: "";
    pointer-events: none;
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 8px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, fade_out(color('black'), 0.93) 0%, fade_out(color('white'), 0.93) 100%);
  }

  &-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 50px;
    max-width: 1460px;
    padding: 0 30px;
    margin: 0 auto;
  }

  &-home {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    display: flex;
    align-items: center;
    margin-right: auto;

    &-logo {
      height: 30px;
      margin-right: 6px;
      width: 30px;
    }

    &-title {
      margin-left: 4px;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: color('blue-ribbon');

      @media (min-width: 1024px) {
        font-size: 18px;
      }
    }
  }

  &-nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 100%);
    padding: 30px;
    background: color('white');
    transform: translateX(100%);
    transition: transform 0.2s cubic-bezier(.25,.1,.25,1);

    .mainmenuopen & {
      transform: translateX(0);
    }

    @media (min-width: 1024px) {
      position: relative;
      top: 0;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      height: 100%;
      padding: 0 30px;
      transform: translateX(0);
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      @media (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin-bottom: 0;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      height: 100%;
      border: 0;
      background: none;

      @media (min-width: 1024px) {
        padding: 0 18px;
      }

      &-icon {
        font-size: 8px;
        margin-left: 5px;
        transform: rotate(0deg);
        transition: transform 0.2s cubic-bezier(.25,.1,.25,1);
      }
    }
  }

  &-flyout {
    display: none;
    margin: 0;
    padding: 15px 5px;
    border-radius: 0 0 4px 4px;
    list-style: none;
    background: color('white');
    transition: opacity 0.2s scubic-bezier(0.25, 0.1, 0.25, 1);

    @media (min-width: 1024px) {
      position: absolute;
      top: 100%;
      left: 18px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0 10px 25px 0 transparentize(color('black'), 0.8);
    }

    &-item {
      min-width: 200px;

      & + & {
        margin-top: 16px;
      }

      &-link {
        display: flex;
        align-items: center;
        border-radius: 4px;

        @media (min-width: 1024px) {
          padding: 10px;
          margin: 0 5px;
        }

        &-icon {
          @include ico;
          display: none;
          width: 32px;
          height: 32px;

          @media (min-width: 1024px) {
            display: block;
          }

          svg {
            width: 100%;
            height: 100%;

            .websites & {
              fill: url(#gradient-websites) #000;
            }

            .stories & {
              fill: url(#gradient-stories) #000;
            }

            .ads & {
              fill: url(#gradient-ads) #000;
            }

            .email & {
              fill: url(#gradient-email) #000;
            }
          }
        }

        &-info {
          @media (min-width: 1024px) {
            margin: 0 20px 0 15px;
          }
        }
      }

      &-title {
        font-size: 16px;
        font-weight: 400;
        color: color('river-bed');

        @media (min-width: 1024px) {
          font-size: 14px;
          font-weight: 700;
          color: color('black');
        }
      }

      &-description {
        display: none;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.25;
        color: color('river-bed');

        @media (min-width: 1024px) {
          display: block;
        }
      }

      &.--secondary {
        @media (min-width: 1024px) {
          padding: 0 15px;
        }
      }

      &.--primary {
        width: 300px;
        border-radius: 4px;

        @media (min-width: 1024px) {
          margin-top: 0;
        }
      }

      &:hover {
        &.--secondary a {
          color: color('blue-ribbon');
        }

        &.--primary {
          background: color('blue-ribbon');

          #{$header}-flyout-item-description,
          #{$header}-flyout-item-title {
            color: color('white');
          }

          svg {
            fill: color('white');
          }
        }

        &.websites {
          @include gradient-websites;
        }

        &.stories {
          @include gradient-stories;

          #{$header}-flyout-item-description,
          #{$header}-flyout-item-title {
            color: color('charade');
          }

          svg {
            fill: color('charade');
          }
        }

        &.ads {
          @include gradient-ads;
        }

        &.email {
          @include gradient-e-mails;

          #{$header}-flyout-item-description,
          #{$header}-flyout-item-title {
            color: color('charade');
          }

          svg {
            fill: color('charade');
          }
        }
      }
    }
  }

  &-flyout:hover,
  &-nav-link:focus ~ &-flyout,
  &-nav-link:hover ~ &-flyout {
    display: block;
    opacity: 1;
    pointer-events: all;
  }

  &-flyout:focus-within {
    opacity: 1;
    pointer-events: all;
  }

  &-burger {
    @media (min-width: 1024px) {
      display: none;
    }

    &-icon {
      width: 30px;
      height: 30px;
    }
  }
}
