.#{prefix(null, 'nav-link')} {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: color('black');

  @media (min-width: 1024px) {
    font-size: 16px;
  }

  .#{prefix(null, 'icon')} {
    font-size: 8px;
  }

  &-2 {
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    color: color('river-bed');

    @media (min-width: 1024px) {
      font-size: 14px;
    }

    &.active {
      text-decoration: underline;
    }
  }

  &:hover {
    color: color('blue-ribbon');
  }

  &.active {
    font-weight: bold;
    color: color('blue-ribbon');
  }
}
