.#{prefix(null, 'pie-charts')} {

  &-chart {
    --size: 360px;

    &:nth-child(even) {
      --size: 240px;
      margin-left: 0;
    }

    position: relative;
    width: var(--size);
    height: var(--size);
    margin-left: auto;
    border-radius: 50%;
    background: color('iron');

    &-clip {
      position: absolute;
      top: 0;
      left: 0;
      width: var(--size);
      height: var(--size);
      clip: rect(0, calc(var(--size)/2), var(--size), 0);
    }

    &-part {
      position: absolute;
      width: var(--size);
      height: var(--size);
      clip: rect(0, var(--size), var(--size), calc(var(--size)/2));
      border-radius: 50%;
      @include gradient-websites;
    }

    &-clip:last-child, &-part {
      animation: fill 1s ease-in-out 0s both;
    }

    &-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      color: currentColor;
      background: color('white');
      box-shadow: shadows('center');
      transform: translateX(-50%) translateY(-50%);

      font-size: 16px;
      text-align: center;
      line-height: 1.1;
      font-weight: bold;
      color: color('charade');

      span {
        font-size: 65px;
      }
    }
  }
}


@keyframes fill {
  to {
    transform: rotate(var(--fill));
  }
}
