.#{prefix(null, 'section')} {
  grid-column: 2 / 22;
  width: 100%;
  margin-top: 100px;

  &:first-child {
    margin-top: 80px;

    @include respond-to('large') {
      margin-top: 140px;
    }
  }

  &:last-child {
    margin-bottom: 100px;

    @include respond-to('large') {
      margin-bottom: 150px;
    }
  }

  &.--col-4-15 {
    @include respond-to('small') {
      grid-column: 2 / 15;
    }
    @include respond-to('large') {
      grid-column: 4 / 15;
    }
  }

  &.--col-3-22 {
    @include respond-to('large') {
      grid-column: 2 / 22;
    }
  }

  &.--col-4-23 {
    @include respond-to('small') {
      grid-column: 2 / 23;
    }
    @include respond-to('large') {
      grid-column: 4 / 23;
    }
  }

  &.--fullscreen {
    margin: 0;
    grid-column: 1 / -1;
  }
}
