.#{prefix(null, 'sidebar')} {
  grid-column: 2/5;
  position: relative;
  margin-top: 50px;

  &-toggle {
    position: absolute;
    left: 100%;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: $fontFamilyHeadline;
    font-size: 12px;
    font-weight: bold;
    color: color('white');
    background: color('blue-ribbon');

    svg {
      width: 1.2em;
      height: 1.2em;
      fill: currentColor;
      margin-right: 0.5em;
    }
  }

  &-nav-list {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 50px - 32px);

    &-section-title {
      margin-top: 20px;
      font-family: $fontFamilyHeadline;
      font-size: 28px;
      line-height: 1;
      font-weight: bold;
      color: color('iron');
    }

    &-link {
      padding: 3px 25px 3px 0;
      font-size: 14px;
      line-height: 1.4;
      font-weight: normal;
      color: color('river-bed');

      &:hover {
        color: color('blue-ribbon');
      }
    }
  }
}
