.#{prefix(null, 'sidebar-toggle')} {
  z-index: 1;
  position: sticky;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 34px;
  margin-left: -120px;
  margin-bottom: 20px;
  padding-left: 2px;
  border-radius: 4px;
  font-family: $fontFamilyHeadline;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  color: color('white');
  box-shadow: 0 5px 15px -5px transparentize(color('black'), 0.75);
  background: color('blue-ribbon');
  transform: rotate(-90deg);

  svg {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
    transform: rotate(-90deg);
    transition: transform .3s ease-in-out;
  }

  #sidebar-toggle-label {
    position: absolute;
    top: 0;
    left: -100px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    transform-origin: left;
    background: color('blue-ribbon');
    transition: transform .3s ease-in-out;
  }

  &:focus #sidebar-toggle-label {
    top: -1px;
    height: calc(100% + 2px);
  }

  .--sidebaropen & {
    margin-left: -120px;
    transform: rotate(0);

    #sidebar-toggle-label {
      left: 30px;
    }

    svg {
      transform: rotate(0);
    }
  }
}
