.#{prefix(null, 'sidebar')} {
  grid-column: 2/4;
  position: relative;
  margin-top: 25px;
  width: 0;

  &.--sidebaropen {
    width: auto;
  }

  &-format-toggle {
    width: calc(100% - 44px);
    height: 44px;
    outline: 1px solid;
  }

  &-scroll-container {
    height: 100vh;
    max-height: calc(100vh - 150px);
    overflow-y: scroll;
    outline: 1px solid;
  }

  &-toggle {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 135px;
    height: 35px;
    padding: 5px 10px;
    border-radius: 4px;
    font-family: $fontFamilyHeadline;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    color: color('white');
    background: color('blue-ribbon');
    transform-origin: left;
    transform: rotate(-90deg) translate(-120px, 17px);

    svg {
      width: 1.2em;
      height: 1.2em;
      fill: currentColor;
      margin: 0 0.5em;
      transform: rotate(-90deg);
    }

    .--sidebaropen & {
      left: calc(100% - 34px);
      flex-direction: row;
      transform: rotate(0);

      svg {
        transform: rotate(0);
      }
    }
  }

  &-nav-list {
    padding: 0;
    list-style: none;

    &-section-title {
      margin-top: 20px;
      font-family: $fontFamilyHeadline;
      font-size: 28px;
      line-height: 1;
      font-weight: bold;
      color: color('iron');
    }

    &-link {
      padding: 3px 25px 3px 0;
      font-size: 14px;
      line-height: 1.4;
      font-weight: normal;
      color: color('river-bed');

      &:hover {
        color: color('blue-ribbon');
      }
    }
  }
}
