.#{prefix(null, 'teaser-carousel')} {
  position: relative;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 68px 1fr 68px;
  max-width: 1440px;
  margin: 0 auto 100px;

  amp-base-carousel {
    grid-column: 2;
    grid-row: 1;
  }

  &-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    grid-row: 1;

    &.--prev {
      left: 0;
      grid-column: 1;
    }

    &.--next {
      right: 0;
      grid-column: 3;
    }

    .amp-carousel-button {
      width: 68px;
      height: 68px;
      background-size: 28px 28px;
    }
  }

  @include respond-to('small') {
    .ap-teaser {
      &:nth-child(3n+1) {
        align-items: center;
      }
      &:nth-child(3n+2) {
        align-items: flex-end;
      }
  
      &:nth-child(3n+3) {
        align-items: flex-start;
      }
    }
  }
}
