.#{prefix(null, 'teaser-carousel')} {
  grid-column: 1/-1;

  .amp-carousel-slide {
    position: relative;
    padding-left: 20px;
    margin: 0 0 80px 0;
    top: 0px;

    &:last-child {
      padding-right: 20px
    }

    @include respond-to('medium') {
      padding-left: 30px;

      &:nth-child(even) {
        margin-bottom: 40px;
        top: 40px;
      }

      &:last-child {
        padding-right: 30px
      }
    }
  }
}
