.#{prefix(null, 'text-media')} {
  display: flex;
  flex-direction: column;

  &.--reverse {
    flex-direction: column-reverse;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;

    & > div {
      width: 50%;

      &:last-child {
        margin: 0 0 0 30px;
      }
    }

    &.--reverse {
      flex-direction: row-reverse;

      & > div {
        &:first-child {
          margin: 0 0 0 30px;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
