@use 'sass:math';
$skew-angle: 4deg;

.#{project('formats')} {
  --width: 100vw;
  --skew-angle: #{$skew-angle};
  --magic-number: #{math.tan($skew-angle) / 2};
  --skew-padding: calc(var(--width) * var(--magic-number));
  --gap: 10px;

  grid-column: 1/-1;
  margin: 0 auto;
  max-width: $maxWidth;

  display: flex;
  flex-direction: column;
  position: relative;

  @include respond-to('small') {
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: var(--gap);
    padding: 0 10px;
  }

  @include respond-to('medium') {
    grid-column: 2/22;
  }

  @include respond-to('large') {
    grid-column: 2/24;
  }

  h2 {
    font-size: 28px;
  }

  &-navigation {
    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    z-index: 1;
    padding: 136px 0;

    @include respond-to('small') {
      display: none;
    }

    &-wrapper {
      position: sticky;
      top: 25vh;
      left: 0;
      display: flex;
      flex-direction: column;
    }

    &-icon {
      fill: color('white');
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;

      &-wrapper {
        position: relative;
      }

      &.active {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background-color: color('white');
        opacity: 0;
        visibility: hidden;

        &.websites {
          fill: url('#gradient-websites') color('black');
        }

        &.stories {
          fill: url('#gradient-stories') color('black');
        }

        &.ads {
          fill: url('#gradient-ads') color('black');
        }

        &.email {
          fill: url('#gradient-email') color('black');
        }
      }

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  &-format {
    position: relative;
    flex: 1;
    color: color('charade');
    overflow: hidden;
    transform: skewY(calc(var(--skew-angle) * -1));

    &-content {
      position: relative;
      padding: 136px 20px 137px 109px;
      transform: skewY(var(--skew-angle));
      display: flex;
      flex-direction: column;
      height: 100%;

      p {
        font-weight: bold;
        flex-grow: 2;
        margin-bottom: 40px;
      }

      a {
        color: inherit;
      }

      .ap-m-lnk {
        padding-bottom: 0;
        &-text {
          color: inherit;
        }
        .ap-a-ico {
          fill: currentColor;
        }
      }
    }

    &.websites {
      .cta {
        display: none;
      }
    }

    &.websites, &.ads {
      color: color('white');
    }

    @include respond-to('small') {
      transform: skewY(0deg);
      @include shadow-large;
      transition: box-shadow .3s ease-in-out;
      flex: 1 0 calc(50% - (2 * var(--gap)));

      &:hover {
        @include shadow-small;
      }

      &-content {
        padding: 65px 25px 38px;
        transform: skewY(0deg);

        .cta {
          margin-bottom: 19px;
        }
      }

      &:nth-child(even) {
        top: -24px;
      }

      &:nth-child(odd) {
        top: 24px;
      }

      &.websites {
        .cta {
          display: inline-block;
        }
      }
    }

    @include respond-to('large') {
      flex: 1 0 calc(25% - (4 * var(--gap)));
    }
  }

  &-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    display: none;

    @include respond-to('small') {
      display: initial;

      .websites &, .ads & {
        fill: color('white');
      }
    }
  }

  &-background {
    position: absolute;
    top: calc(var(--skew-padding) * -1);
    right: 0;
    bottom: calc(var(--skew-padding) * -1);
    left: 0;
    transform: skewY(var(--skew-angle));

    @include respond-to('small') {
      top: 0;
      bottom: 0;
      transform: skewY(0deg);
    }

    .websites & {
      @include ci-websites;
    }

    .stories & {
      @include ci-stories;
    }

    .email & {
      @include ci-e-mails;
    }

    .ads & {
      @include ci-ads;
    }

    svg {
      position: absolute;
      height: 100%;
      top: 0;
      left: 50%;
      opacity: 0.1;
    }
  }
}