.#{project('home-stage')} {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 28px 20px 68px;
  text-align: center;
  grid-column: 1/-1;

  &:first-child {
    margin-top: 28px;
  }

  &-logo {
    position: relative;
    margin-bottom: 19px;

    svg {
      width: 50vw;
      height: 50vw;
    }

    @include respond-to('small') {
      margin-bottom: 0;
      padding: 0;
      flex: 1;

      svg {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        max-width: 514px;
        max-height: 514px;
      }
    }
  }

  @include respond-to('small') {
    flex-direction: row-reverse;
    text-align: left;
    grid-column: 2/22;

    h1 {
      flex: 2;
    }
  }
}