# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore
.github
.cache

node_modules/
yarn.lock
LICENSE
MAINTENANCE.md
README.md
CONTRIBUTING.md
packager/

# The complete frontend, pages and examples packages aren't needed on App Engine
/frontend/
pages/
# The transformed pages from dist/pages are used instead
platform/pages*

# playground: ignore everything except the dist folder
/playground/*
!/playground/backend
!/playground/dist

# boilerplate: ignore everything except the dist folder
/boilerplate/*
!/boilerplate/backend
!/boilerplate/dist
!/boilerplate/lib
