# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#

.gcloudignore

# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.gitignore
.github
.cache

node_modules/
yarn.lock
LICENSE
MAINTENANCE.md
README.md
CONTRIBUTING.md
packager/
thumbor/
pixi/cloud-function/
pixi/mocks/

# The complete frontend and pages folders aren't needed on App Engine
/frontend/
/pages
# The transformed pages from dist/pages are used instead
platform/pages*

# playground: ignore everything except the dist folder
/playground/*
!/playground/backend
!/playground/dist

# boilerplate: ignore everything except the dist folder
/boilerplate/*
!/boilerplate/backend
!/boilerplate/dist
!/boilerplate/lib

# Infrastructure
contributing
jest.config.js
smoke-tests
renovate.json
gulpfile.js
scripts
tests
