*.mo
.DS_Store
.sass-cache
.idea
node_modules

build
assets/css/*

content/includes/who.yaml
content/contribute/governance.md
content/learn/design-principles.md
content/docs/reference/spec.md
content/docs/reference/components/*.md
