*.mo
.DS_Store
.sass-cache
.idea
.podcache.yaml
.vscode
*.pyc
*.log
node_modules

build
assets/css/*
.depcache.json

# Ignore dynamically built and collected files that are only
# used during development
pages/podspec.yaml
pages/extensions
pages/css
pages/icons
pages/macros
pages/partials
pages/templates
pages/views
pages/content/amp-dev/documentation/examples
pages/content/amp-dev/documentation/components/*/**

# Ignore files created during build process
platform/pages
platform/static
