{
  "bracketSpacing": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": "*.md",
      "options": {"parser": "markdown"}
    },
    {
      "files": [".eslintrc", ".prettierrc", ".renovaterc.json", "*.json"],
      "options": {"parser": "json"}
    },
    {
      "files": ["*.yml", ".travis.yml"],
      "options": {"parser": "yaml"}
    }
  ]
}
