@import 'components/atoms/_text.scss';

.fab {
  display: none;
}

@media (max-width: 767px) {
  .fab {
    display: flex;
    position: fixed;
    border-radius: 50%;
    margin: auto;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    z-index: 10000;
    height: 56px;
    width: 56px;
    min-width: 56px;
    bottom: 32px;
    right: 32px;
    background-color: color('blue-ribbon');
    color: color('white');
    border: none;
    transform: scale(0.0);
    pointer-events: none;
    user-select: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    outline: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    &:before, &::after {
      background-color: rgba(255, 255, 255, 0.16);
      position: absolute;
      top: calc(50% - 100%);
      left: calc(50% - 100%);
      width: 200%;
      height: 200%;
      -webkit-transition: opacity 250ms linear;
      transition: opacity 250ms linear;
      border-radius: 50%;
      opacity: 0;
      pointer-events: none;
      content: "";
    }
    &:active {
      box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
    }
    &:focus {
      outline: none;
    }
  }
  fab:active {
    outline: none;
  }
  @keyframes collapse {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.0);
    }
  }

  @keyframes expand {
    0% {
      transform: scale(0.0);
    }

    100% {
      transform: scale(1);
    }
  }

  .fab {
    &.show {
      animation: expand .25s ease-in-out .25s forwards;
      pointer-events: auto;
    }
    &.hide {
      animation: collapse .25s ease-in-out forwards;
    }
  }
}
