<!doctype html>
<html ⚡4ads>
<head>
  <meta charset="utf-8">
{% if not example.has_tag_in_head('title') %}
  <title>{{export.title|e}} - {{_('Example')|e}} {{example.index|e}}</title>
{% else %}
  <title>{{example.get_tag_content(example.head, 'title')|e}}</title>
{% endif %}
  <script async src="https://cdn.ampproject.org/amp4ads-v0.js"></script>
{% for dependency in example.imports if dependency %}
{% if not example.has_import_in_head(dependency) %}
  <script custom-element="{{dependency.name}}" src="https://cdn.ampproject.org/v0/{{dependency.name}}-{{dependency.version}}.js" async></script>
{% endif %}
{% endfor %}
{% if example.template and not example.has_import_in_head(example.template) %}
  <script custom-template="{{example.template.name}}" src="https://cdn.ampproject.org/v0/{{example.template.name}}-{{example.template.version}}.js" async></script>
{% endif %}
  <meta name="viewport" content="width=device-width">
  <style amp4ads-boilerplate>body{visibility:hidden}</style>
{% if example.custom_style %}
  <style amp-custom>
    {{example.custom_style|render|safe}}
  </style>
{% endif %}
</head>
<body>
{% if example.body %}
{{example.body|render|safe}}
{% endif %}
</body>
</html>
