{% set body_contains_story = example.body and example.has_tag(example.body, 'amp-story') %}
<!doctype html>
<html amp lang="en">
<head>
{% if not example.has_tag_in_head('meta', 'charset') %}
  <meta charset="utf-8">
{% endif %}
{% if not example.has_tag_in_head('title') %}
  <title>{{export.title|e}} - {{_('Example')|e}} {{example.index|e}}</title>
{% endif %}
{% if not example.has_amp_script() %}
  <script async src="https://ampjs.org/v0.js"></script>
{% endif %}
{% if not example.has_tag_in_head('script', 'custom-element', 'amp-story') %}
  <script async custom-element="amp-story" src="https://ampjs.org/v0/amp-story-1.0.js"></script>
{% endif %}
{% for dependency in example.imports if dependency %}
{% if not example.has_import_in_head(dependency) and dependency.name != 'amp-story' %}
  <script custom-element="{{dependency.name}}" src="https://ampjs.org/v0/{{dependency.name}}-{{dependency.version}}.js" async></script>
{% endif %}
{% endfor %}
{% if example.template and not example.has_import_in_head(example.template) %}
  <script custom-template="{{example.template.name}}" src="https://ampjs.org/v0/{{example.template.name}}-{{example.template.version}}.js" async></script>
{% endif %}
{% if not example.has_tag_in_head('link', 'rel', 'canonical') %}
  <link rel="canonical" href="{{export.canonical}}">
{% endif %}
{% if not example.has_tag_in_head('meta', 'name', 'viewport') %}
  <meta name="viewport" content="width=device-width">
{% endif %}
{% if not example.has_boilerplate() %}
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
{% endif %}
{% if example.head %}
{{example.head|render|safe}}
{% endif %}
{% if example.custom_style or not body_contains_story %}
  <style amp-custom>
  {% if not body_contains_story %}
    amp-story {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI ", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji ", "Segoe UI Emoji ", "Segoe UI Symbol ";
    }
    amp-story-page * {
      color: white;
      text-align: center;
    }
  {% endif %}
  {% if example.custom_style %}
    {{example.custom_style|render|safe}}
  {% endif %}
  </style>
{% endif %}
</head>
<body>
{% if body_contains_story %}
{{example.body|render|safe}}
{% else %}
  <amp-story standalone
    title="{{export.title|e}} - {{_('Example')}} {{example.index}}"
    publisher="AMP Project"
    publisher-logo-src="https://amp.dev/static/samples/img/favicon.png"
    poster-portrait-src="https://amp.dev/static/samples/img/amp.jpg">
    <amp-story-page id="page-1">
      <amp-story-grid-layer template="vertical">

{% if example.body %}
{{example.body|render|safe}}
{% endif %}

      </amp-story-grid-layer>
    </amp-story-page>
  </amp-story>
{% endif %}
</body>
</html>
