<!---

hidePreview: 'true'
teaserImage: '/static/samples/img/teaser/core-web-vitals.png'
author: micajuineho

--->

<!--
  ## Introduction

  AMP developers can measure [Core Web Vitals](https://blog.amp.dev/2020/05/06/amp-web-vitals-a-better-web-together/) metrics through the `amp-analytics` component. Use variable substitution to add these metrics to any outgoing requests made by `amp-analytics`.

  Learn more about `amp-analytics` in our guide [Analytics: the basics](/content/amp-dev/documentation/guides-and-tutorials/optimize-measure/configure-analytics/analytics_basics.md).
-->
<!-- -->
<!doctype html>
<html ⚡ lang="en">
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="<% canonical %>">
  <meta name="viewport" content="width=device-width">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <title>Tracking Core Web Vitals</title>
  <!-- ## Setup -->
  <!--  Import the amp-analytics component in the header. -->
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
</head>
<body>

  <!-- ## Using `amp-analytics` to track Core Web Vitals -->
  <!--
The `amp-analytics` component provides the following macros:

* [Largest Contentful Paint](https://web.dev/lcp/): `${largestContentfulPaint}`
* [Cumulative Layout Shift](https://web.dev/cls/): `${cumulativeLayoutShift}`
* [First Input Delay](https://web.dev/fid/): `${firstInputDelay}`

While you can attach these macros to any trigger, they resolve individually and asynchronously.
Since a trigger will not complete until all macros have resolved, it is often best to split each
macro into it's own seperate trigger to prevent underreporting.
  -->
  <div>
    <amp-analytics>
      <script type="application/json">
        {
          "requests": {
            "event": "<% base_path %>/ping?user=[= user =]&account=ampdev&event=${eventId}",
            "CWV_EVENT": "${event}&type=CWV"
          },
          "triggers": {
              "cls": {
                "on": "visible",
                "request": "CWV_EVENT",
                "extraUrlParams": {
                  "cls": "${cumulativeLayoutShift}"
                }
              },
              "lcp": {
                "on": "visible",
                "request": "CWV_EVENT",
                "extraUrlParams": {
                  "lcp": "${largestContentfulPaint}"
                }
              },
              "fid": {
                "on": "visible",
                "request": "CWV_EVENT",
                "extraUrlParams": {
                  "fid": "${firstInputDelay}"
                }
              },
            }
          }
        }
      </script>
    </amp-analytics>
  </div>


  <!--
  ## Tracking Core Web Vitals in AMP using Google Analytics
  -->
  <!--
  Analytics must be configured in the body. Here we use the `type=gtag` attribute and value to enable Google Analytics to track pageviews and use the `extraUrlParams` feature to append the Core Web Vitals to the request URL.

  We also set the data-credentials attribute to "include" to enable cookies.

[tip type="note"]
Google Analytics metrics are required to be whole numbers. Since Cumulative Layout Shift is measured from 0 to 1, you can use the built in "$CALC" macro to get greater precision.

$CALC(${cumulativeLayoutShift}, 1000, multiply)
[/tip]
  -->
  <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
      {
        "vars": {
           "gtag_id": "G-XXXXXXXX",
           "config": {
             "G-XXXXXXXX": {
                "groups": "default"
             }
           }
        },
        "requests": {
          "event": "<% base_path %>/ping?user=[= user =]&account=ampdev&event=${eventId}",
          "CWV_EVENT": "${event}&type=CWV"
        },
        "triggers": {
          "defaultPageview": {
            "on": "visible",
            "request": "pageview",
            "vars": {
              "title": "{{title}}"
            }
          },
          "cls": {
            "on": "visible",
            "request": "CWV_EVENT",
            "extraUrlParams": {
              "cls": "$CALC(${cumulativeLayoutShift}, 1000, multiply)"
            }
          },
          "lcp": {
            "on": "visible",
            "request": "CWV_EVENT",
            "extraUrlParams": {
              "lcp": "${largestContentfulPaint}"
            }
          },
          "fid": {
            "on": "visible",
            "request": "CWV_EVENT",
            "extraUrlParams": {
              "fid": "${firstInputDelay}"
            }
          }
        }
      }
    </script>
  </amp-analytics>

  <!--
  ## Google Analytics 4 and AMP
  -->
  <!--
  For more information on how to set up Google Analytics 4 with amp-analytics see https://developers.google.com/analytics/devguides/collection/amp-analytics and https://developers.devsite.corp.google.com/tag-platform/gtagjs/amp?technology=gtagjs
  -->

  <!--
  ## Comparing performance on AMP Cache vs Origin
  -->
  <!--
AMP Caches work to make sure your users have as great an expierence possible, but it is important to make sure that the Origin version of the page is just as performant. Your Core Web Vitals may be negativly impacted if your AMP page performs really great when served from an AMP Cache, but less well on the origin. A good way to make sure you are delivering a great experience for all your users is to keep track of how your pages' Core Web Vitals are performing on and off of the AMP Cache.

We can build on our Google Analytics to do this. One of substitutions provided by amp-analytics is `ampdocHost` - this lets us track the URL of the page the user visited. We exand our earlier config using `extraUrlParams`. This lets us define a custom key and value for our analytics events. We need to [set up](https://support.google.com/analytics/answer/2709829) a new Custom Dimension, that will be used as the key. 

<amp-img src="/static/img/google-analytics-custom-dimensions-example.jpg" layout="intrinsic" width="1069" height="566" alt="Screenshot of Google Analytics, showing the Custom Dimensions edit page"></amp-img>

Once you have created the Custom Dimension to track the AMP Host, make sure you note the `Index` listed on the analytics page. This number is used in our configuration objects to connect `ampdocHost` to the Dimension you just created. Below  we assume your index was "1", (i.e. `cd1`). If your `Index` is 2, then use `cd2`, etc.
  -->
  <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
      {
        "vars": {
           "gtag_id": "G-XXXXXXXX",
           "config": {
             "G-XXXXXXXX": {
                "groups": "default"
             }
           }
        },
        "requests": {
          "event": "<% base_path %>/ping?user=[= user =]&account=ampdev&event=${eventId}",
          "CWV_EVENT": "${event}&type=CWV"
        },
        "triggers": {
          "defaultPageview": {
            "on": "visible",
            "request": "pageview",
            "vars": {
              "title": "{{title}}"
            },
            "extraUrlParams": {
              "cd1": "${ampdocHost}"
            }
          },
          "cls": {
            "on": "visible",
            "request": "CWV_EVENT",
            "extraUrlParams": {
              "cls": "$CALC(${cumulativeLayoutShift}, 1000, multiply)"
            }
          },
          "lcp": {
            "on": "visible",
            "request": "CWV_EVENT",
            "extraUrlParams": {
              "lcp": "${largestContentfulPaint}"
            }
          },
          "fid": {
            "on": "visible",
            "request": "CWV_EVENT",
            "extraUrlParams": {
              "fid": "${firstInputDelay}"
            }
          }
        }
      }
      </script>
  </amp-analytics>
