amp-accordion {
  section {
    border-bottom: 2px solid $color-grey-lt;
  }
}

.accordion-header,
.accordion-content {
  margin: 20px 0;
  padding: 0 25px 0 65px;
}

.accordion-header {
  background-color: transparent;
  border: 0;
}

.accordion-title {
  margin: 0;
  position: relative;
  transition: color 0.3s;

  &:hover {
    color: $color-ampblue;
  }

  &::before,
  &::after {
    background: $gradient-med;
    content: '';
    display: inline-block;
    height: 2px;
    left: -40px;
    position: absolute;
    top: 50%;
    width: 8px;
  }

  &::after {
    transform: rotate(90deg);
  }

  section[expanded] &::after {
    content: none;
  }
}

.accordion-content {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 2px;
  }
}

@include max-screen($mobile-breakpoint) {
  amp-accordion {
    section {
      border-bottom: 1px solid $color-grey-lt;
    }
  }

  .accordion-header,
  .accordion-content {
    margin: 15px 0;
    padding: 0 0 0 30px;
  }

  .accordion-title::before,
  .accordion-title::after {
    left: -30px;
  }
}
