amp-accordion {
  section {
    border-bottom: 2px solid $color-grey-lt;
    padding: 20px 0;
  }

  @include max-screen($mobile-medium-breakpoint) {
    section {
      border-bottom: 1px solid $color-grey-lt;
      padding: 15px 0;
    }

    .accordion-header {
      padding: 0;
    }

    .accordion-content {
      margin-left: 40px;
    }
  }
}

.accordion-header {
  background-color: transparent;
  border: 0;
  padding: 0 25px;
}

.accordion-title {
  margin: 0;
  padding-left: 40px;
  position: relative;

  &::before,
  &::after {
    background: $gradient-med;
    content: '';
    display: inline-block;
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 8px;
  }

  &::after {
    transform: rotate(90deg);
  }

  section[expanded] &::after {
    content: none;
  }
}

.accordion-content {
  margin: 20px 0 0 65px;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 2px;
  }
}
