amp-accordion {
  section {
    border-bottom: 2px solid $color-grey-lt;
    padding: 20px 0;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  &.nested {
    > section::before {
      background: linear-gradient(transparent, $color-white);
      content: '';
      display: block;
      height: 200px;
      opacity: 1;
      position: absolute;
      top: -200px;
      width: 100%;
      z-index: 1;
    }

    > section[expanded]::before {
      content: none;
    }

    .accordion-header {
      padding: 20px;
      text-align: center;
    }

    section[expanded] .open {
      display: none;
    }

    section:not([expanded]) .close {
      display: none;
    }
  }
}

.accordion-header {
  background-color: transparent;
  border: 0;
  padding: 0 25px;

  h3 {
    display: inline-block;
    margin: 0;
  }
}

.accordion-toggle {
  display: inline-block;
  height: 10px;
  margin-right: 30px;
  position: relative;
  width: 8px;

  &::before,
  &::after {
    background: $gradient-med;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
  }

  &::after {
    transform: rotate(90deg);
  }

  section[expanded] &::after {
    content: none;
  }
}

.accordion-content {
  margin-top: 30px;
}
