@keyframes cta-line {
  0% {
    transform-origin: 100% 50%;
    transform: scaleX(1);
  }

  45% {
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }

  55% {
    transform-origin: 0% 50%;
    transform: scaleX(0);
  }

  100% {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }
}