@mixin line-animation(
    $grow-time,
    $hold-time,
    $erase-time,
    $total-time,
    $color,
    $length,
    $name
  ) {

  @keyframes line-#{$name}-after {
    0% {
      transform: scaleX(0);
    }

    #{$grow-time / $total-time * 100%} {
      transform: scaleX(1);
    }

    100% {
      transform: scaleX(1);
    }
  }

  @keyframes line-#{$name}-div {
    0% {
      width: $length;
    }

    #{($grow-time + $hold-time) / $total-time * 100%} {
      width: $length;
    }

    #{($grow-time + $hold-time + $erase-time) / $total-time * 100%} {
      width: 0;
    }

    100% {
      width: 0;
    }
  }

  .line-#{$name} {
    animation: $total-time infinite line-#{$name}-div ease-in;
    width: $length;

    &::before {
      animation: $total-time infinite line-#{$name}-after ease-in;
      background: $color;
      width: $length;
    }
  }
}

@mixin line-pos-delay($x, $y, $delay) {
  .pos-#{$x}-#{$y}-delay-#{$delay} {
    left: #{$y}px;
    top: #{$x}px;

    .line,
    .line::before {
      animation-delay: #{$delay}ms;
    }
  }
}

.animated-lines {
  position: relative;
  height: 500px;
  width: 1000px;
  transform: rotate(90deg) scale(0.8);
  transform-origin: 250px 250px;

  .line {
    position: relative;
    overflow: hidden;
    transform-origin: left;

    &::before {
      transform-origin: right;
      display: block;
      content: '';
      height: 9px;
    }
  }

  @include line-animation(1s, 0s, 1s, 5.17s,
      linear-gradient(to left, $color-white, $color-brightblue, $color-lightblue),
      510px, a);

  @include line-animation(.06s, 0s, .17s, 5.17s,
      linear-gradient(to left, $color-brightblue, $color-ampblue),
      90px, b);

  @include line-animation(.17s, 0s, 1.08s, 5.17s,
      linear-gradient(to left, $color-white, $color-brightblue, $color-lightblue),
      450px, c);

  @include line-animation(.09s, 0s, .16s, 5.17s,
      $gradient-light, 120px, d);

  @include line-animation(.08s, 0.11s, .19s, 5.17s,
      $gradient-light, 300px, e);

  @include line-animation(.07s, 1.05s, .2s, 5.17s,
      linear-gradient(to left, $color-white, $color-brightblue, $color-lightblue),
      250px, f);

  @include line-animation(.07s, 0s, .19s, 5.17s,
      $color-lightblue, 80px, g);
}

.line-pos {
  position: absolute;
  width: 1px;
  height: 1px;
}

@include line-pos-delay(47, 12, -1050);
@include line-pos-delay(198, 583, -5100);
@include line-pos-delay(71, 96, -5090);
@include line-pos-delay(98, 453, -4150);
@include line-pos-delay(35, 0, -4120);
@include line-pos-delay(56, 231, -4050);
@include line-pos-delay(0, 225, -3160);
@include line-pos-delay(279, 244, -3150);
@include line-pos-delay(96, 451, -3120);
@include line-pos-delay(146, 541, -3090);
@include line-pos-delay(59, 234, -2150);
@include line-pos-delay(102, 397, -2120);
@include line-pos-delay(301, 326, -2100);
@include line-pos-delay(150, 445, -1940);
@include line-pos-delay(353, 738, -1130);
@include line-pos-delay(277, 632, -1110);
@include line-pos-delay(47, 12, -1010);
@include line-pos-delay(73, 458, -950);
