$big-loop-time: 5.17s;
$small-loop-time: 5s;

@mixin line-animation(
    $grow-time,
    $hold-time,
    $erase-time,
    $total-time,
    $color,
    $length,
    $name
  ) {

  @keyframes l-#{$name}-b {
    0% {
      transform: scaleX(0);
    }

    #{$grow-time / $total-time * 100%} {
      transform: scaleX(1);
    }

    100% {
      transform: scaleX(1);
    }
  }

  @keyframes l-#{$name} {
    0% {
      transform: scale3d(1,1,1);
    }

    #{($grow-time + $hold-time) / $total-time * 100%} {
      transform: scale3d(1,1,1);
    }

    #{($grow-time + $hold-time + $erase-time) / $total-time * 100%} {
      transform: scale3d(0,1,1);
    }

    100% {
      transform: scale3d(0,1,1);
    }
  }

  .line-#{$name} {
    animation-name: l-#{$name};
    width: $length;

    &::before {
      animation-name: l-#{$name}-b;
      background: $color;
      width: $length;
    }
  }
}

@mixin line-pos-delay($x, $y, $delay) {
  .pos-#{$x}-#{$y}-delay-#{$delay} {
    left: #{$y}px;
    top: #{$x}px;

    .line,
    .line::before {
      animation-delay: #{$delay}ms;
    }
  }
}

.animated-lines-big {
  position: relative;
  height: 500px;
  width: 1000px;
  transform: rotate(144deg) scale(.8);
  transform-origin: 250px 250px;
  contain: strict;

  .line,
  .line::before {
    animation-duration: $big-loop-time;
  }

  amp-img {
    position: relative;
    left: -21px;
    top: 18px;
  }
}

/*.animated-lines-small {
  position: relative;
  height: 500px;
  width: 500px;
  transform: rotate(144deg) scale(.8);
  transform-origin: 250px 250px;

  .line,
  .line::before {
    animation-duration: $small-loop-time;
  }
}*/

.line {
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.9, .01, .82, .5);
  position: relative;
  overflow: hidden;
  transform-origin: left;

  &::before {
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.89, .01, .15, 1);
    transform-origin: right;
    display: block;
    content: '';
    height: 9px;
  }
}

@include line-animation(.7s, 0s, 1s, $big-loop-time,
    linear-gradient(to left, $color-white, $color-brightblue, $color-lightblue),
    510px, a);

@include line-animation(.17s, 0s, .17s, $big-loop-time,
    linear-gradient(to left, $color-brightblue, $color-ampblue),
    120px, b);

@include line-animation(.65s, 0s, 1.08s, $big-loop-time,
    linear-gradient(to left, $color-white, $color-brightblue, $color-lightblue),
    450px, c);

@include line-animation(.22s, 0s, .26s, $big-loop-time,
    $gradient-light, 120px, d);

@include line-animation(.16s, 0.11s, .22s, $big-loop-time,
    $gradient-light, 300px, e);

@include line-animation(.1s, 1.05s, .2s, $big-loop-time,
    linear-gradient(to left, $color-white, $color-brightblue, $color-lightblue),
    250px, f);

@include line-animation(.19s, 0s, .23s, $big-loop-time,
    $color-lightblue, 80px, g);

@include line-animation(.6s, 0s, .11s, $small-loop-time,
    linear-gradient(to left, $color-white, $color-brightblue, $color-lightblue),
    60px, h);

@include line-animation(.6s, 0s, .15s, $small-loop-time,
    $color-ampblue, 180px, i);

@include line-animation(.17s, 0s, .17s, $small-loop-time,
    linear-gradient(to left, $color-brightblue, $color-ampblue),
    120px, j);

.line-pos {
  position: absolute;
}

@include line-pos-delay(306, 75, -1050);
@include line-pos-delay(155, 101, -5100);
@include line-pos-delay(282, 62, -5090);
@include line-pos-delay(255, 559, -4150);
@include line-pos-delay(318, 0, -4120);
@include line-pos-delay(297, 268, -4050);
@include line-pos-delay(353, 107, -3160);
@include line-pos-delay(74, 0, -3150);
@include line-pos-delay(257, 312, -3120);
@include line-pos-delay(207, 435, -3090);
@include line-pos-delay(294, 244, -2150);
@include line-pos-delay(251, 401, -2120);
@include line-pos-delay(52, 69, -2100);
@include line-pos-delay(203, 164, -1940);
@include line-pos-delay(0, 184, -1130);
@include line-pos-delay(76, 553, -1110);
@include line-pos-delay(306, 75, -1010);
@include line-pos-delay(280, 322, -950);

@include line-pos-delay(54, 106, 0);
@include line-pos-delay(0, 20, 20);
@include line-pos-delay(20, 0, 60);
@include line-pos-delay(40, 46, 190);

@include line-pos-delay(57, 32, 0);
@include line-pos-delay(38, 0, 10);
@include line-pos-delay(0, 38, 70);
@include line-pos-delay(17, 98, 110);
@include line-pos-delay(57, 151, 130);
