.bg-triangle-primary,
.bg-triangle-secondary,
.bg-triangle-bottom {
  .wrap {
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      background: $gradient-med-faded;
      display: block;
      height: 1400px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    &::before {
      content: '';
      top: 0;
      transform: skewY(36deg);
      transform-origin: top right;
    }
  }
}

.bg-triangle-primary {
  .wrap::before {
    background: $gradient-med;
  }

  .post-title,
  nav.breadcrumb li,
  nav.breadcrumb a {
    color: $color-white;
  }
}

.bg-triangle-bottom {
  .wrap::after {
    bottom: 0;
    content: '';
    transform: skewY(-36deg);
    transform-origin: bottom right;
  }
}
