aside {
  background: #eff9fc;
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 16px 0;
  padding: 24px 24px 24px 80px;
  position: relative;
  clear: both;

  strong {
    color: $color-brightblue;
    text-transform: uppercase;
  }

  code {
    font-size: 13px;
  }

  &::before {
    float: left;
    word-wrap: normal;
    white-space: nowrap;
    margin-left: -36px;

    content: '';
    height: 70px;
    left: 44px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
  }

  &.none {
    background: #fafafa;
    padding: 24px 24px 24px 24px;

    strong {
      color: #333;
      text-transform: none;
    }
  }

  &.note {
    &::before {
      background: url(/static/img/docs/icon_note.svg) center/cover no-repeat;
    }
  }

  &.caution {
    background: #fff6f6;

    strong {
      color: #ff5252;
    }

    &::before {
      background: url(/static/img/docs/icon_important.svg) center/cover no-repeat;
    }

  }

  &.warning {
    background: #fff6f6;

    strong {
      color: #ff5252;
    }

    &::before {
      background: url(/static/img/docs/icon_important.svg) center/cover no-repeat;

    }
  }

  &.success {
    background-color: #f2fff8;

    strong {
      color: #00e676;
    }

    &::before {
      background: url(/static/img/docs/icon_tip.svg) center/cover no-repeat;
      top: 45%;
    }
  }

  &.read {
    background-color: #fffcef;

    strong {
      color: #edc10a;
    }

    &::before {
      background: url(/static/img/docs/icon_read.svg) center/cover no-repeat;
    }
  }
}

.rtl aside {
  padding: 24px 80px 24px 24px;

  &::before {
    left: auto;
    margin: 0 -36px 0 0;
    right: 44px;
  }
}
