aside {
  background: $color-lightestblue;
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 16px -15px;
  padding: 24px 24px 24px 80px;
  position: relative;

  strong {
    color: $color-ampblue;
    text-transform: uppercase;
  }

  &::before {
    float: left;
    word-wrap: normal;
    white-space: nowrap;
    margin-left: -36px;

    content: '';
    height: 70px;
    left: 44px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
  }

  &.note {
    &::before {
      background: url(/static/img/docs/icon_note.svg) center/cover no-repeat;
    }
  }

  &.caution {
    &::before {
      background: url(/static/img/docs/icon_important.svg) center/cover no-repeat;
    }
  }

  &.warning {
    &::before {
      background: url(/static/img/docs/icon_important.svg) center/cover no-repeat;

    }
  }

  &.success {
    &::before {
      background: url(/static/img/docs/icon_tip.svg) center/cover no-repeat;
      top: 45%;
    }
  }

  &.read {
    &::before {
      background: url(/static/img/docs/icon_read.svg) center/cover no-repeat;
    }
  }
}