amp-carousel {
  .card-container {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.amp-carousel-button {
  background: transparent;
  cursor: pointer;

  &:before, &:after {
    background: $color-bluegrey;
    content: '';
    display: block;
    height: 2px;
    width: 20px;
  }

  &:before {
    transform: translate(10px, 10px) rotate(45deg);
  }

  &:after {
    transform: translate(10px, 22px) rotate(-45deg);
  }
}

.amp-carousel-button-prev {
  left: 0;
  transform: translateY(-50%) translateY(-10px) rotateY(180deg);
}

.amp-carousel-button-next {
  right: 0;
  transform: translateY(-50%) translateY(-10px);
}

.rtl {
  .amp-carousel-button-prev {
    left: 10px;
  }

  .amp-carousel-button-next {
    right: 10px;
  }
}

@include max-screen($mobile-breakpoint) {
  amp-carousel {
    .amp-carousel-button {
      display: none;
    }

    .card-container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

