.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  overflow: hidden;
  background: #fff;
  border-radius: 2px;
  box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex: 0 0 31%; // IE10: calc not allowed in flex
  flex: 0 0 calc(33% - 10px);
}

.card__title {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 16px;
  color: $color-grey-800;
}

.card__content {
  padding: 20px;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
  text-align: left;

  flex: 1 0 auto;
}

.card p {
  margin: 0;
  color: $color-grey-700
}

.card__action {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 14px;

  a {
    padding: 20px;
    display: block;
  }
}

.card__image {
  position: relative;
}
