.card-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
}

.card {
  @extend %text-base;
  @extend %text-body;
  background: $color-white;
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  display: inline-block;
  flex: 0 0 31%; // IE10: calc not allowed in flex
  flex: 0 0 calc(33% - 30px);
  flex-basis: calc(33% - 30px);
  height: 90%;
  margin: 10px 5px;
  padding: 10px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;

  &::before {
    background: $gradient-bold;
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
    top: -2px;
  }

  &.centered {
    align-items: center;
    text-align: center;
  }

  &:hover {
    box-shadow: 0px 3px 50px 0 rgba(0, 0, 0, 0.075);
    transform: translateY(-5px);
  }

  &--spacer {
    box-shadow: none;
    height: 0;
    padding: 0;

    &::before {
      display: none;
    }

    &:hover {
      box-shadow: none;
    }
  }
}

.card-inner {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.card-type {
  color: $color-ampblue;
  margin-bottom: 15px;
}

.card-content {
  font-weight: 300;
  text-transform: none;
}

.card-date {
  margin-top: 10px;
}

.card-section-heading {
  font-size: 30px;
  margin: 50px 10px 0;
}

// for grids in support, build, guides, etc pages
.card-container.grid {
  flex-wrap: wrap;

  &::after {
    content: '';
    display: block;
    flex: 0 0 31%; //IE 10: calc not allowed in flex
    flex: 0 0 calc(33% - 30px);
    flex-basis: calc(33% - 30px); // IE 11
    margin: 10px 5px;
    visibility: hidden;
  }

  .card {
    display: flex;
    height: auto;
    min-height: 400px;
    padding: 0;

    &:hover {
      .card-link p::before {
        animation: .5s 1 cta-line;
      }
    }
  }

  .card-inner {
    display: flex;
    height: auto;
    padding: 50px;
    width: 100%;
  }

  .card-title {
    display: block;
    flex: 1 0 auto;
    hyphens: none;
    margin-bottom: 1em;

    h2 {
      font-size: 36px;
      word-break: initial;
    }
  }

  .card-link p {
    @extend a.underlined;
    color: $color-ampblue;
    display: inline;
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      bottom: -5px;
      height: 2px;
    }
  }
}

// for case studies
.card-container.case {
  .card-inner {
    padding: 50px;
  }

  .card-date {
    &::before {
      content: ' | ';
      display: inline;
      margin: 0 12px;
    }
  }

  .card-logo {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 1em 0;
  }

  // .card-title {
  //   margin-bottom: 1em;
  // }
}

@include max-screen($mobile-breakpoint) {
  .card-container.grid,
  .card-container.case {
    .card {
      flex: 0 0 48%; // IE10: calc not allowed in flex;
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px); // IE 11
    }

    .card-inner {
      // padding: 10%;
    }

    .card-title {
      margin-bottom: 2em;
    }
  }

  .card-section-heading {
    margin: 50px 0 0;
  }
}

@include max-screen($tablet-portrait-breakpoint) {
  .card-container.grid,
  .card-container.case {
    .card {
      flex: 0 0 100%;
      margin: 10px 0;
      min-height: 300px;
    }
  }
}
