// old colors - clean up later
$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
$color-grey-200: #e9e9e9;
$color-grey-500: #9E9E9E;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-darkgrey: #797c82;
$color-midblue: #0379C4;
$color-orange: #f68c1e;
$color-black-95: #333333;
// TODO: Legacy, remove these vars
$color-lightgrey: $color-grey-100;

// new colors
$color-ampblue: #1c79c0;
$color-brightblue: #0389ff;
$color-lightblue: #0dd3ff;
$color-white: #fff;
$color-black: #000;

// gradients
$gradient-angle: 36deg;
$gradient-dark: linear-gradient(to right, $color-ampblue, $color-brightblue, $color-lightblue);
$gradient-med: linear-gradient(to right, $color-brightblue, $color-lightblue);
$gradient-light: linear-gradient(to right, $color-lightblue, $color-lightblue, $color-white);
$gradient-anglebold: linear-gradient($gradient-angle, $color-lightblue, $color-brightblue, $color-ampblue);
// $gradient-anglelight: linear-gradient($gradient-angle, $color-ampblue, $color-brightblue, $color-lightblue);

//$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-family: 'Roboto', sans-serif;
$font-size-xs: 14px;

$margin: 20px;

$container-size: 1000px;

$mobile-breakpoint: 956px;
$mobile-medium-breakpoint: 460px;
$mobile-baby-breakpoint: 320px;
$tablet-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;

$header-padding: 40px;
