// post content for docs

// Components table

.post-title {
  color: $color-ampblue;
  margin: 0 75px;
  padding: 0 15px;
}

.post-content {
  @extend %text-small;
  margin: 0 75px;
  padding: 0 15px;

  a {
    text-transform: none;
  }

  a[href*="//"]:not([href*="www.ampproject.org"]):not([href*="github.com/ampproject"]):not([href*="localhost"])::after {
    content: "";
    display: inline-block;
    background-image: url('/static/img/ic_open_in_new_blue.svg');
    background-size: 18px;
    width: 18px;
    height: 18px;
    margin-left: 4px;
    vertical-align: text-bottom;
  }

  a.tutorial-file {
    background-color: #f5f5f5;
    font-family: $font-family-mono;
    font-weight: 300;
    font-size: inherit;
    letter-spacing: 0px;
  }

  .noshowtoc {
    display: none;
  }

  .button {
    &:before {
      display: none;
    }
  }

  td:first-child a:hover {
    text-decoration: none;
  }

  th.col-twenty,
  td.col-twenty {
    min-width: 90px;
  }

  dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  table.noborder {

    code.filename {
      background: none;
      box-shadow: none;
      padding: 0;
    }

    code.nopad {
      padding: 0;
    }

    h5 {
      margin-top: 2px;
      font-size: 16px;
    }
    td {
      padding: 10px;
    }
    td:first-child {
      border: none;
    }
  }

  /* styles for layouts demonstrated doc */
  .main-layouts {
    display: flex;
    flex-wrap: wrap;

    amp-img {
      margin: 0;
    }

   .parent {
      padding: 10px;
      background: #ffa500;
      animation-name: resize;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes resize {
      from { height: 200px; width: 200px; }
      to   { height: 330px; width: 330px; }
    }

    .wrapper {
      display: block;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .fixed-container {
      height: 350px;
      padding: 10px;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      width: 330px;
      height: 150px;
    }
    .layout-item {
      width: 400px;
    }
    amp-selector {
      background-color: #1e5091;
    }

    @include min-screen(874px) {
      .description {
        height: 120px;
        padding: 10px;
      }
    }
  }
}

/* previous & next buttons */

.prev-next-buttons {
  width: 100%;
  display: inline-block;
  padding-top: 30px;
}

.start-button {
  padding-top: 20px;
}

.prev-button {
  text-align: left;
  float: left;
}

.next-button {
  text-align: right;
  float: right;
}

.arrow-prev {
  &::before {
    background: url(/static/img/arrow.svg) center/cover no-repeat;
    content: '';
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    width: 12px;
    transform: rotate(180deg);
  }
}

.arrow-next {
  &::after {
    background: url(/static/img/arrow.svg) center/cover no-repeat;
    content: '';
    display: inline-block;
    height: 12px;
    margin-left: 10px;
    width: 12px;
  }
}


.ads-container {
  margin-top: 40px;

  ol.item-container {
    margin-left: 0px;
  }
}

.item-container {
  column-count: 4;
  column-gap: $grid-gutters;
  list-style: none;

  .item {
    padding: 5px 0;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
  }
}


@include min-screen($toc-breakpoint) {
  .post.has-toc {
    .post-title,
    .post-content {
      margin: 0 190px 0 15px;
    }
  }

  .rtl {
    .post.has-toc {
      .post-title,
      .post-content {
        margin: 0 15px 0 190px;
      }
    }
  }
}

@include max-screen($toc-breakpoint) {
  .post.has-toc {
    .post-title,
    .post-content {
      margin: 0;
    }
  }

  .item-container {
    column-count: 3;
  }

  .rtl {
    .post.has-toc {
      .post-title,
      .post-content {
        margin: 0;
      }
    }
  }
}

@include max-screen($tablet-breakpoint) {
  .post-title,
  .post-content {
    margin: 0 15px;
  }
  .item-container {
    column-count: 3;
  }
}

@include max-screen($mobile-breakpoint) {
  .post-title,
  .post-content {
    margin: 0;
  }
  .item-container {
    column-count: 3;
  }
}

