@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

amp-consent {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.26) 0 0 19px 0;
  animation: .5s ease-out 0s 1 slideUp;
}

.consent-popup {
  p {
    line-height: 20px;
    font-size: 14px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-transform: none;
    font-size: inherit;
  }

  .close-button {
    background: url(/static/img/symbols/close.svg) no-repeat center transparent;
    filter: brightness(0.25);
    border: 0;
    position: absolute;
  }

  .button.text-label {
    flex: none;
    align-self: center;
    padding: 13px 18px;
    width: 142px;
    border: none;
  }
}

/* phones */
@include max-screen(640px) {
  .consent-popup {
    div {
      flex-flow: column wrap;
      align-items: center;
      margin: 12px 25px 15px 12px;
    }

    p {
      padding: 5px 20px 5px 10px;
      margin: 0 0 10px 0;
    }

    .close-button {
      background-size: 17px;
      top: 15px;
      right: 13px;
      width: 20px;
      height: 20px;
    }
  }
}

/* tablets and desktop */
@include min-screen(640px) {
  .consent-popup {
    div {
      flex-flow: row;
      height: 100px;
      margin: 0 40px;
    }

    p {
      max-width: 530px;
      padding: 0 25px 0 40px;
      margin: 0;
    }

    .close-button {
      background-size: 20px;
      left: 30px;
      width: 30px;
      height: 55px;
    }
  }
}

@include max-screen($mobile-baby-breakpoint) {
  .consent-popup p {
    line-height: 16px;
    font-size: 12px;
  }
}