// page content

.container {
  .content {
    margin: 0 auto;
    min-width: 0;
    padding: 100px 0;
    transition: all .25s ease;
    width: 100%;
    word-break: break-word;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    // hyphens: auto;
  }
}

// docs
.main {
  align-items: stretch;
  display: flex;
  margin-left: 350px;
  min-height: 100vh;

  h1 {
    font-size: 40px;
    font-weight: 100;
    line-height: 50px;
    margin-top: 0;
  }

  h2 {
    border-top: 3px solid $color-grey-lt;
    font-size: 30px;
    line-height: 40px;
    margin-top: 30px;
    padding-top: 20px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 30px;
  }

  a {
    font-size: 16px;
  }

  aside {
    a {
      font-size: 14px;
    }
  }

  .content {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    max-width: 1000px;
    padding-bottom: 60px;
    padding-top: 70px;

    ul,
    ol {
      margin-left: 40px;
    }
  }

  amp-img,
  amp-youtube,
  amp-iframe {
    margin: 1em 0;
  }
}

.rtl .main {
  .content {
    ul,
    ol {
      margin-left: 0;
      margin-right: 40px;
    }
  }
}

@include max-screen($mobile-breakpoint) {
  .container {
    .content {
      max-width: 100%;
      padding: 70px 0;
    }
  }

  .main {
    flex-direction: column;
    margin-left: 0;

    h1 {
      font-size: 26px;
      line-height: 40px;
      font-weight: 300;
    }

    h2 {
      font-size: 20px;
      line-height: 28px;
    }

    h3 {
      font-size: 18px;
      line-height: 26px;
    }

    a {
      font-size: 14px;
    }
  }
}
