// old colors - clean up later
$color-darkgrey: #797c82;
$color-midblue: #0379c4;

// new colors
$color-ampblue: #1c79c0;
$color-buildblue: #1573ca;
$color-brightblue: #0389ff;
$color-brightbluefaded: rgba(3, 137, 255, .05);
$color-lightblue: #0dd3ff;
$color-lightbluefaded: rgba(13, 211, 255, .05);
$color-lightestblue: rgba(13, 210, 250, .1);
$color-white: #fff;
$color-black: #000;
$color-black-95: #333;
$color-grey-md: #959595;
$color-grey-ltmd: #b3b3b3;
$color-grey-lt: #ededed;
$color-bluegrey: #acbac1;
$color-lightgrey: #f9f9f9;

// gradients
$gradient-angle: 36deg;
$gradient-bold: linear-gradient(to right, $color-ampblue, $color-brightblue, $color-lightblue);
$gradient-med: linear-gradient(to right, $color-brightblue, $color-lightblue);
$gradient-med-faded: linear-gradient(to right, $color-brightbluefaded, $color-lightbluefaded);
$gradient-light: linear-gradient(to right, $color-lightblue, $color-lightblue, $color-white);
$gradient-anglebold: linear-gradient($gradient-angle, $color-lightblue, $color-brightblue, $color-ampblue);
$gradient-anglemed: linear-gradient($gradient-angle, $color-lightblue, $color-brightblue);
$gradient-anglebuild: linear-gradient($gradient-angle, $color-buildblue, $color-brightblue);
$gradient-anglelight: linear-gradient($gradient-angle, $color-lightblue 40%, $color-brightblue);
// $gradient-anglelight: linear-gradient($gradient-angle, $color-ampblue, $color-brightblue, $color-lightblue);

$header-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.10);

//$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-family: 'Roboto', sans-serif;
$font-family-mono: 'Roboto Mono', Menlo, Monaco, Consolas, "Courier New", monospace;
$font-size-xs: 14px;

$container-size: 3000px;
$container-size-mobile: 320px;
$grid-margin: 22px;
$grid-gutters: 20px;

$mobile-breakpoint: 956px;
$mobile-medium-breakpoint: 460px;
$mobile-baby-breakpoint: 320px;
$tablet-breakpoint: 1024px;
$tablet-portrait-breakpoint: 768px;
$toc-breakpoint: 1100px;

$header-padding: 40px;
$header-mobile-padding: 30px;
$header-height: 80px;

$share-button-size: 63px;
$share-button-distance: 10px;
$share-button-size-full: $share-button-size + $share-button-distance;