// post content for docs

// Components table

.post-title {
  color: $color-ampblue;
  margin: 0 75px;
  padding: 0 15px;
}

.post-content {
  @extend %text-small;
  margin: 0 75px;
  padding: 0 15px;

  a {
    text-transform: none;
  }

  .button {
    &:before {
      display: none;
    }
  }

  td:first-child a:hover {
    text-decoration: none;
  }
}

@include min-screen($toc-breakpoint) {
  .post.has-toc {
    .post-title,
    .post-content {
      margin: 0 250px 0 75px;
    }
  }

  .rtl {
    .post.has-toc {
      .post-title,
      .post-content {
        margin: 0 75px 0 250px;
      }
    }
  }
}

@include min-screen($toc-breakpoint) {
  .post.has-toc {
    .post-title,
    .post-content {
      margin: 0 190px 0 15px;
    }
  }

  .rtl {
    .post.has-toc {
      .post-title,
      .post-content {
        margin: 0 15px 0 190px;
      }
    }
  }
}

@include max-screen($tablet-breakpoint) {
  .post-title,
  .post-content {
    margin: 0 15px;
  }
}

@include max-screen($mobile-breakpoint) {
  .post-title,
  .post-content {
    margin: 0;
  }
}
