// post content for docs

// Components table

.post-title {
  color: $color-ampblue;
  margin: 0 75px;
  padding: 0 15px;
}

.post-content {
  @extend %text-small;
  margin: 0 250px 0 75px;
  padding: 0 15px;

  a {
    @extend .underlined;
    text-transform: none;
  }

  .button {
    &:before {
      display: none;
    }
  }

  td:first-child a:hover {
    text-decoration: none;
  }

  @include max-screen($mobile-medium-breakpoint) {
    td {
      position: relative;

      &:first-child {
        a {
          left: 8px;
          position: absolute;
          top: 5px;
          z-index: 1;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@include max-screen($tablet-breakpoint) {
  .post-title,
  .post-content {
    margin: 0 15px;
  }
}

@include max-screen($mobile-breakpoint) {
  .post-title,
  .post-content {
    margin: 0;
  }
}
