// page content

.container {
  .content {
    margin: 0 auto;
    min-width: 0;
    padding: 100px 0;
    transition: all .25s ease;
    width: 100%;
    word-break: break-word;

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    // hyphens: auto;
  }
}

// docs
.main {
  align-items: stretch;
  display: flex;
  min-height: 100vh;

  h1 {
    font-size: 40px;
    margin-top: 0;
  }

  h2 {
    margin-top: 50px;
  }

  h3 {
    margin-top: 30px;
  }

  .content {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    max-width: 1000px;
    padding-bottom: 60px;
    padding-top: 70px;

    ul,
    ol {
      margin-left: 40px;
    }
  }

  amp-img,
  amp-youtube,
  amp-iframe {
    margin: 1em 0;
  }
}

.rtl .main {
  .content {
    ul,
    ol {
      margin-left: 0;
      margin-right: 40px;
    }
  }
}

@include max-screen($mobile-breakpoint) {
  .container {
    .content {
      max-width: 100%;
      padding: 70px 0;
    }
  }

  .main {
    flex-direction: column;
  }
}
