#consent-close-button {
  background: url(/static/img/symbols/close.svg) no-repeat center / 14px transparent;
  border: 0;
  height: 58px;
  position: absolute;
  right: 13px;
  top: 0;
  width: 68px;
}