.doc-sidebar {
  border-left: 3px solid $color-grey-lt;
  border-right: 3px solid $color-grey-lt;
  margin-left: -25px;
  min-width: 400px;
  width: 400px;
  position: relative;
  z-index: 1;

  .current-header {
    background: $gradient-anglemed;
    padding: 35px 30px 20px;
    margin: 0 -3px;

    h1, .breadcrumb {
      color: $color-white;
    }

    .breadcrumb {
      display: inline-block;

      &::after {
        content: '»';
        margin-left: 5px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .current-sections {
    padding: 30px;
  }

  ul, ol, li {
    list-style-type: none;
  }

  li {
    background: none;
    border: none;
    position: relative;
    padding: 0;
  }

  .section-name {
    background: none;
    border: none;
    margin: 0;
    position: relative;

    &:hover {
      background: $gradient-med-faded;
    }

    &.current {
      background: $gradient-med-faded;
    }

    a {
      @include text-body();
      @extend .small;
    }
  }

  li.top-level {
    & > .section-name {
      padding: 20px;

      &::before {
        background: $gradient-bold;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }

    &.expandable {

      & > .section-name::after {
        @include sprite(carat);
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .section-name.current::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  li.sub-level {
    & > .section-name {
      @extend .small;
      padding: 10px 20px 10px 40px;
    }

    &.expandable {
      .section-name::after {
        color: $color-grey-ltmd;
        content: '+';
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .section-name.current {
        color: $color-ampblue;

        &::after {
          content: '–';
        }
      }
    }

    ul {
      list-style-type: none;
    }

    li {
      color: $color-grey-md;
      font-size: 14px;
      padding-left: 60px;

      &:hover {
        background: $gradient-med-faded;
      }
    }
  }

  .navigation {
    display: flex;
    margin: 150px 0 0;
    width: 400px;

    position: fixed;
    border-right: 3px solid $color-grey-lt;
    bottom: 0;
    left: 0;

    .previous, .next {
      @include text-body();
      background: white;
      border-bottom: 3px solid $color-grey-lt;
      border-top: 3px solid $color-grey-lt;
      color: $color-black-95;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      justify-content: center;
      min-height: 50px;
      padding: 15px 20px;
      position: relative;
      width: 0;

      &::after {
        content: '';
        height: 20px;
        position: absolute;
        width: 20px;
      }

      .subtitle {
        color: $color-ampblue;
        font-size: 12px;
        margin: 0;
      }

      &.section {
        background: $gradient-anglemed;
        border: 0;
        color: white;

        &::after {
          background: url(/static/img/arrow.svg) center/cover no-repeat;
        }
      }
    }

    .previous {
      border-right: 3px solid $color-grey-lt;
      text-align: right;
      padding-left: 50px;

      &::after {
        background: url(/static/img/arrow-blue.svg) center/cover no-repeat;
        left: 20px;
        transform: rotate(180deg);
      }
    }

    .next {
      padding-right: 50px;

      &::after {
        background: url(/static/img/arrow-blue.svg) center/cover no-repeat;
        right: 20px;
      }
    }
  }

  @include max-screen($mobile-breakpoint) {
    border: none;
    border-bottom: 3px solid $color-grey-lt;
    margin: 0 -25px;

    .current-sections {
      padding: 15px 20px;
    }

    li.top-level {
      & > .section-name {
        padding: 5px 15px;
      }
    }

    li.sub-level {
      & > .section-name {
        padding: 0px 15px;
      }
    }

    .navigation {
      display: none;
    }
  }
}

.doc-footer {
  border-left: 3px solid $color-grey-lt;
  margin-left: 400px;
}
