.doc-sidebar {
  border-left: 3px solid $color-grey-lt;
  border-right: 3px solid $color-grey-lt;
  margin-left: -25px;

  .current-header {
    background: $gradient-anglemed;
    padding: 35px 30px 20px;
    margin: 0 -3px;

    h1, .breadcrumb {
      color: $color-white;
    }

    .breadcrumb {
      display: inline-block;

      &::after {
        content: '»';
        margin-left: 5px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }

  .current-sections {
    padding: 30px;
  }

  section {
    background: none;
    border: none;
    position: relative;
    padding: 0;
  }

  .section-name {
    background: none;
    border: none;
    position: relative;

    &:hover {
      background: $gradient-med-faded;
    }
  }

  section.top-level {
    & > .section-name {
      padding: 20px;

      &::before {
        background: $gradient-bold;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }

    &.expandable {

      & > .section-name::after {
        @include sprite(carat);
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &[expanded] > .section-name::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  section.sub-level {
    & > .section-name {
      @extend .small;
      padding: 10px 20px 10px 40px;
    }

    &.expandable {
      .section-name::after {
        color: $color-grey-ltmd;
        content: '+';
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &[expanded] > .section-name {
        color: $color-ampblue;

        &::after {
          content: '–';
        }
      }
    }

    ul {
      list-style-type: none;
    }

    li {
      color: $color-grey-md;
      font-size: 14px;
      padding-left: 60px;

      &:hover {
        background: $gradient-med-faded;
      }
    }
  }

  .navigation {
    display: flex;
    margin: 150px 0 100px;
    width: 100%;

    .previous, .next {
      @include text-body();
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      justify-content: center;
      padding: 15px 20px;
      position: relative;

      &::after {
        content: '';
        height: 20px;
        position: absolute;
        width: 20px;
      }
    }

    .previous {
      background: $gradient-anglemed;
      color: white;
      text-align: right;

      &::after {
        background: url(/static/img/arrow.svg) center/cover no-repeat;
        left: 20px;
        transform: rotate(180deg);
      }
    }

    .next {
      border-bottom: 3px solid $color-grey-lt;
      border-top: 3px solid $color-grey-lt;
      color: $color-black-95;

      &::after {
        background: url(/static/img/arrow-blue.svg) center/cover no-repeat;
        right: 20px;
      }

      .subtitle {
        color: $color-ampblue;
        font-size: 12px;
        margin: 0;
      }
    }
  }
}