.doc-sidebar {
  border-left: 3px solid $color-grey-lt;
  border-right: 3px solid $color-grey-lt;
  margin-left: -25px;
  min-width: 350px;
  width: 350px;
  position: relative;
  z-index: 1;

  .current-header {
    background: $gradient-anglebuild;
    padding: 35px 30px 20px;
    margin: 0 -3px;

    h1 {
      color: $color-white;
    }

    h1 {
      font-size: 40px;
    }
  }

  .current-sections {
    padding: 30px;
  }

  ul, ol, li {
    list-style-type: none;
  }

  li {
    background: none;
    border: none;
    position: relative;
    padding: 0;
  }

  .section-name {
    background: none;
    border: none;
    margin: 0;
    position: relative;

    &:hover {
      background: #f4fcfe;
    }

    &.open a {
      color: $color-ampblue;
    }

    a {
      @extend %text-base;
      @extend %text-small;
      font-size: 22px;
    }
  }

  li.top-level {
    & > .section-name {
      padding: 20px;

      &::before {
        background: $gradient-bold;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }

    &.expandable {

      & > .section-name::after {
        @include sprite(carat);
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .section-name.current::after,
      .section-name.open::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    a.external {
      background: no-repeat right 3px / 20px;
      display: inline-block;
      padding-right: 16px;
      width: 95%;

      &:hover {
        background-image: url('/static/img/ic_open_in_new_black.svg');
      }
    }
  }

  li.sub-level {
    & > .section-name {
      @extend .small;
      padding: 10px 20px 10px 20px;

      a {
        color: black;
        font-size: 18px;
        font-weight: 400;
      }

      &.current a {
        color: $color-ampblue;
      }
    }

    &.expandable {
      .section-name::after {
        color: $color-grey-ltmd;
        content: '+';
        font-size: 20px;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      .section-name.current,
      .section-name.open {
        &::after {
          content: '–';
        }
      }
    }

    li {
      color: $color-grey-md;
      padding-left: 30px;

      .section-name {
        &::after {
          display: none;
        }

        a {
          font-size: 16px;
        }

        &.open a {
          color: $color-ampblue;
        }
      }

      &:hover {
        background: #f4fcfe;
      }

    }
  }

  .navigation {
    background: white;
    display: flex;
    margin: 150px 0 0;
    width: 350px;

    position: fixed;
    border-right: 3px solid $color-grey-lt;
    bottom: 0;
    left: 0;

    .previous, .next {
      @extend %text-base;
      @extend %text-body;
      border-bottom: 3px solid $color-grey-lt;
      border-top: 3px solid $color-grey-lt;
      color: $color-black-95;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      justify-content: center;
      min-height: 50px;
      padding: 15px 20px;
      position: relative;
      transition: color 0.3s;
      width: 0;

      &:before {
        background: $gradient-anglebuild;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.3s;
        z-index: -1;
      }

      &::after {
        content: '';
        height: 20px;
        position: absolute;
        transition: transform 0.3s;
        width: 20px;
      }

      .subtitle {
        color: $color-ampblue;
        font-size: 12px;
        margin: 0;
      }

      &:hover {
        color: white;

        &:before {
          opacity: 1;
        }

        &::after {
          background: url(/static/img/arrow.svg) center/cover no-repeat;
        }
      }
    }

    .previous {
      border-right: 3px solid $color-grey-lt;
      text-align: right;
      padding-left: 50px;

      &::after {
        background: url(/static/img/arrow-blue.svg) center/cover no-repeat;
        left: 30px;
        transform: rotate(180deg);
      }

      &:hover::after {
        transform: translateX(-15px) rotate(180deg);
      }
    }

    .next {
      padding-right: 50px;

      &::after {
        background: url(/static/img/arrow-blue.svg) center/cover no-repeat;
        right: 30px;
      }

      &:hover::after {
        transform: translateX(15px);
      }
    }
  }

  @include max-screen($mobile-breakpoint) {
    border: none;
    border-bottom: 3px solid $color-grey-lt;
    margin: 0 -25px;
    width: 100%;

    .current-header {
      background: white;
      padding: 20px 30px;

      .breadcrumb {
        color: $color-grey-md;
      }

      h1 {
        color: $color-black-95;
        margin-bottom: 0;
      }
    }

    .current-sections {
      padding: 5px 20px 30px;
    }

    li.top-level {
      & > .section-name {
        padding: 5px 15px;
      }
    }

    li.sub-level {
      & > .section-name {
        padding: 0px 15px;
      }
    }

    .navigation {
      display: none;
    }
  }
}

.doc-footer {
  border-left: 3px solid $color-grey-lt;
  margin-left: 350px;

  .cta-line.left {
    display: none;
  }
}
