footer {
  background-color: $color-white;
  padding: 30px 0;

  a {
    line-height: 0;
  }

  .footer-image {
    margin: 0 10px;

    &.twitter {
      @include sprite(twitter);
    }

    &.wordpress {
      @include sprite(wordpress);
    }
  }

  .footer-icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.footer-cta {
  background: $gradient-bold;
  padding: 20px 30px;
  position: relative;

  .cta-line {
    position: absolute;

    &.left {
      height: 140px;
      left: -30px;
      top: -50px;
      width: 186px;
    }

    &.right {
      bottom: -30px;
      height: 107.5px;
      right: -50px;
      width: 175px;
    }
  }

  .inner {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;

    h1, a {
      color: $color-white;
      display: inline-block;
    }

    a {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      &::after {
        @include sprite(arrow);
        content: '';
        margin-left: 10px;
      }
    }
  }
}

@include max-screen($mobile-breakpoint) {
  .footer-cta {
    .cta-line.right {
      bottom: 10px;
      right: -100px;
    }

    .inner {
      text-align: center;
      width: 100%;

      h1, a {
        display: block;
      }

      a {
        margin-top: 20px;
        position: static;
      }
    }
  }
}
