footer {
  padding: 25px 0 25px 0;
  background-color: $color-grey-100;

  p {
    margin: 0;
  }

  .footer-image {
    height: 30px;
    width: 30px;
    margin-right: 20px;
  }

  .footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
