footer {
  background-color: $color-white;
  padding: 25px 0;

  .footer-image {
    margin: 0 10px;

    &.twitter {
      @include sprite(twitter);
    }

    &.wordpress {
      @include sprite(wordpress);
    }
  }

  .footer-icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
