/**
 * Reset some basic elements
 */
body, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html,
body {
  // -webkit-font-smoothing: antialiased;
  @include text-body();
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  padding-top: 80px;
  @include max-screen($mobile-breakpoint) {
    padding-top: 66px;
  }
}

img {
  border: 0;
  max-width: 100%;
}

// strong, b {
//   font-weight: 600;
// }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5 {
  color: $color-black;
  font-weight: 300;
  margin: 0.25em 0;

  // &:before {
  //   display: block;
  //   content: " ";
  //   margin-top: -90px;
  //   height: 90px;
  //   visibility: hidden;
  // }

}

h1 {
  font-size: 50px;
  font-weight: 100;
  line-height: 65px;

  @include max-screen($mobile-breakpoint) {
    font-size: 35px;
    line-height: 44px;
  }

  // .home &,
  // .who & {
  //   margin-top: 0;
  // }
}


h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;

  @include max-screen($mobile-breakpoint) {
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
  }
}

h3 {
  font-size: 30px;
  line-height: 40px;

  @include max-screen($mobile-breakpoint) {
    font-size: 20px;
    line-height: 28px;
  }
}

h4 {
  font-size: 24px;
  line-height: 32px;

  @include max-screen($mobile-breakpoint) {
    font-size: 18px;
    line-height: 26px;
  }
}

/**
 * Links
 */
a {
  color: $color-ampblue;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;

  &.underlined {
    @include no-break();

    &::before {
      background: $gradient-med;
      bottom: -5px;
      content: '';
      left: 0;
      height: 2px;
      position: absolute;
      right: 0;
    }
  }
}

.button {
  background: $color-brightblue;
  display: inline-block;
  color: $color-white;
  padding: 15px 20px;
  position: relative;

  &::before {
    background: $gradient-med;
    bottom: -2px;
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
  }

  &.light {
    background: $color-white;
    color: $color-ampblue;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $color-darkgrey;
  border-left: 4px solid $color-lightgrey;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  > :last-child {
  	margin-bottom: 0;
  }
}

.rtl blockquote {
  border-left: 0;
  border-right: 4px solid $color-lightgrey;
  padding-left: 0;
  padding-right: 15px;
}

/**
 * Lists
 */

ul li,
ol li {
  @include text-body();
}

p {
  @include text-body();

  a {
    font-weight: 400;
  }

  &.subtitle {
    font-size: 28px;
    line-height: 37px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

.rtl figure {
	direction: ltr;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-size;
  padding: 0 $grid-margin;

  &.md {
    max-width: 800px;
  }

}


.wrap {
  margin: 0 auto;

  .who & {
    // margin-top: 60px;
  }
}

.centered {
  text-align: center;

  @include max-screen($mobile-breakpoint) {
    text-align: left;
  }
}

.align-right {
  text-align: right;
}

@include max-screen($mobile-breakpoint) {
  .margin-bottom-mobile:last-child,
  .margin-bottom-mobile {
    margin-bottom: 40px;
  }
}

.margin-bottom-sm:last-child,
.margin-bottom-sm {
  margin-bottom: 40px;
}

.margin-bottom:last-child,
.margin-bottom {
  margin-bottom: 60px;

  &.desktop {
    @include max-screen($mobile-breakpoint) {
      margin-bottom: inherit;
    }
  }
}

.hidden {
  display: none;
}

.go-button {
  display: inline-block;
  background-color: $color-midblue;
  padding: 0.8em 1em;
  border: 0;
  border-radius: 4px;
  color: $color-white;
  font-family: Roboto, verdana, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);

  transition:
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: darken($color-midblue, 2%);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.4);
  }

  &:hover {
    text-decoration: none;
  }

  &--alt {
    background-color: $color-white;
    color: $color-midblue;
    &:hover,
    &:focus {
      background-color: $color-grey-50;
    }
  }
}

.desaturate {

  @include min-screen($tablet-breakpoint) {
    @include desaturate(100%);
    opacity: .7;
    transition: all .4s ease-out;
    &:hover {
      @include desaturate(0%);
      opacity: 1;
    }
  }

}

.center-content {
  text-align: center;
}

.code {
  position: relative;
}
