// Reset some basic elements
html, body, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  @extend %text-base;
  @extend %text-body;
  color: $color-black;
  font-family: $font-family;
  padding-top: $header-height;

  @include max-screen($mobile-breakpoint) {
    padding-top: 120px;
  }
}

img {
  border: 0;
  max-width: 100%;
}

// Headings
h1,
h2,
h3,
h4,
h5 {
  color: $color-black;
  font-weight: 300;
  margin: 0.25em 0;
}

h1,
h2.h1 {
  font-size: 50px;
  font-weight: 100;
  line-height: 65px;

  @include max-screen($mobile-breakpoint) {
    font-size: 35px;
    line-height: 44px;
  }
}

h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;

  @include max-screen($mobile-breakpoint) {
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
  }
}

h3 {
  font-size: 30px;
  line-height: 40px;

  @include max-screen($mobile-breakpoint) {
    font-size: 20px;
    line-height: 28px;
  }
}

h4 {
  font-size: 24px;
  line-height: 32px;

  @include max-screen($mobile-breakpoint) {
    font-size: 18px;
    line-height: 26px;
  }
}

// Links
a {
  @extend %text-label;
  color: $color-ampblue;
  position: relative;
  text-decoration: none;

  &.underlined {
    @extend %no-break;

    &::before {
      background: $gradient-med;
      bottom: -3px;
      content: '';
      left: 0;
      height: 1px;
      position: absolute;
      right: 0;
    }

    &.cta {
      overflow: hidden;

      &::before {
        bottom: -5px;
        height: 2px;
      }

      &:hover {
        &::before {
          animation: 0.5s 1 cta-line;
        }
      }
    }
  }

  @include max-screen($mobile-breakpoint) {
    font-size: 14px;
  }
}

.small {
  @extend %text-small;
}

.smaller {
  @extend %text-smaller;
}

.light {
  @extend %text-light;
}

.button {
  background-color: $color-brightblue;
  display: inline-block;
  color: $color-white;
  padding: 15px 20px;
  position: relative;
  transition: background-color 0.3s;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    background: $gradient-med;
    bottom: -2px;
    content: '';
    left: 0;
    height: 2px;
    position: absolute;
    right: 0;
  }

  &::after {
    background: $gradient-anglemed;
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    background-color: transparent;

    .arrow {
      transform: translateX(3px);
    }
  }

  &.light {
    background: $color-white;
    color: $color-ampblue;

    &::after {
      background: linear-gradient($gradient-angle, #5ADAFD, #51B9FD);
      opacity: 0;
      transition: opacity 0.3s;
      z-index: 0;
    }

    &:hover {
      color: $color-white;

      &::after {
        opacity: 1;
      }
    }
  }

  .arrow {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid white;
    display: inline-block;
    height: 0;
    margin-left: 8px;
    transition: transform 0.3s;
    width: 0;
  }
}

.rtl .button {
  .arrow {
    margin: 0 8px 0 0;
    transform: rotate(180deg);
  }

  &:hover {
    .arrow {
      transform: rotate(180deg) translateX(3px);
    }
  }
}

// Blockquotes
blockquote {
  color: $color-darkgrey;
  border-left: 4px solid $color-lightgrey;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
  > :last-child {
  	margin-bottom: 0;
  }
}

.rtl blockquote {
  border-left: 0;
  border-right: 4px solid $color-lightgrey;
  padding-left: 0;
  padding-right: 15px;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

amp-youtube, amp-vimeo {
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.rtl figure {
  direction: ltr;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-size;
  padding: 0 $grid-margin;

  &.sm {
    max-width: 800px;
  }

  &.md {
    max-width: 925px;
  }

  &.lg {
    max-width: 1200px;
  }

  &.xl {
    max-width: 1440px;
  }
}

.text-label {
  @extend %text-label;
}

.wrap {
  margin: 0 auto;
  overflow: hidden; /* fixes a strange iOS overflow panning bug.. */
}

// for jumplink target x-offset
// will fail if target has: bg color,
// repeating bg img, padding- or border-top
:target::before {
  content: '';
  display: block;
  height: 110px;
  margin-top: -110px;
  visibility: hidden;

  @include max-screen($mobile-breakpoint) {
    height: 70px;
    margin-top: -70px;
  }
}
