.header {
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 300;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-color: $color-white;

  .container {

    @include max-screen($mobile-breakpoint) {
      // aligns the hamburger
      padding-right: 18px;
    }
  }

  &.absolute,
  &.fixed {
    transform: translateY(0%);
    transition: all .4s ease;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &.absolute {
    position: absolute;
  }

  &.nav--pinned,
  &.nav--unpinned,
  &.nav--top {
    position: fixed;

    @include max-screen($mobile-breakpoint) {
      position: relative;
    }
  }

  &.nav--pinned,
  &.nav--unpinned {
    background: $color-midblue;
  }

  &.nav--top {
    background-color: transparent;
  }


  &.hidden {
    display: block;

    // Auto-hide header on mobile only.
    @include max-screen($mobile-breakpoint) {
      transform: translateY(-100%);
    }
  }

  &.menu-open {
    transform: translate(-243px, 0px);
  }

  .wrap {
    // background-color: white;

    @include max-screen($mobile-breakpoint) {
      color: transparent;
    }
  }

  .content.mobile-show {
    padding: 0 10px 5px;

  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  .left-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 20px;
    letter-spacing: 0.04em;
    margin-left: 0;
    font-weight: 300;

    @include max-screen($mobile-breakpoint) {
      justify-content: flex-start;
      flex: 1 1 auto;
      text-align: left;
      width: auto;
      font-size: 15px;
    }

    .header-title {
      color: $color-midblue;
      font-family: Roboto, verdana, arial, sans-serif;
      padding: 10px 10px 10px 50px;
      margin: 18px 0;
      width: auto;
      text-transform: none;
      white-space: nowrap;

      background-image: url('/static/img/logo-blue.svg');
      background-repeat: no-repeat;
      background-size: 40px 40px;
      background-position: center left;

      @include max-screen($mobile-breakpoint) {
        width: auto;
        padding: 10px 0 10px 40px;
        margin: 14px 0;
        background-size: 30px 30px;
      }
    }

  }

  .alt {
    padding: 00;
    text-align: right;

    display: flex;
    align-items: stretch;
    justify-content: center;

    &.right {
      letter-spacing: 0.04em;
      font-size: 15px;
    }
  }

  .tab {
    color: $color-grey-800;
    padding: 6px;
    margin: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;

    transition: .1s ease color;

    @include max-screen($mobile-breakpoint) {
      margin-left: auto;
      padding: 10px 12px;
    }

    &.desktop {
      display: flex;
      align-items: center;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 3px;
        background-color: $color-midblue;

        transition: .1s ease opacity;
        opacity: 0;
        visibility: hidden;
      }

      &:hover,
      &.is-active {
        color: $color-midblue;

        &:after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .tab.hamburger {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    display: none;
    pointer: cursor;
    align-self: center;
  }

  @include max-screen($mobile-breakpoint) {
    .tab.desktop,
    .desktop {
      display: none;
    }
    .tab.hamburger {
      display: inline-block;


      background-image: url("/static/img/hamburger.svg");
      background-repeat: no-repeat;
      background-size: 30px 24px;
      background-position: center center;

      width: 40px;
      height: 40px;
    }
  }

  @include max-screen($mobile-baby-breakpoint) {
      .header-title span {
        display: none;
      }
      .header-title::after {
        content: "AMP";
      }
  }

}

.rtl header {
  .left-nav {
    .header-title {
      padding: 10px 50px 10px 10px;

      @include max-screen($mobile-breakpoint) {
        width: auto;
        padding: 0 50px 0 0;
      }

      background-position: center right;
    }
  }

  .alt.right {
    text-align: left;
  }
}

amp-sidebar {
  ul {
    list-style-type: square;
    padding-right: 1em;
  }
}

.rtl amp-sidebar {
  ul {
    padding-right: 0;
    padding-left: 1em;
  }
}
