.header {
  box-shadow: $header-shadow;
  font-size: 14px;
  font-weight: 300;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-color: $color-white;

  .container {

    @include max-screen($mobile-breakpoint) {
      // aligns the hamburger
      padding-right: 18px;
    }
  }

  &.fixed {
    transform: translateY(0%);
    transition: all .4s ease;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  .left-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 20px;
    margin-left: 0;
    font-weight: 300;

    @include max-screen($mobile-breakpoint) {
      justify-content: flex-start;
      flex: 1 1 auto;
      text-align: left;
      width: auto;
      font-size: 15px;
    }

    .header-title {
      color: $color-midblue;
      padding: $header-padding $header-padding $header-padding ($header-padding + 20px);
      margin: 0;
      width: auto;
      text-transform: none;
      white-space: nowrap;

      background-image: url('/static/img/logo-blue.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center left;

      @include max-screen($mobile-breakpoint) {
        width: auto;
        margin: 0;
      }
    }

  }

  .alt {
    padding: 00;
    // text-align: right;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    &.right {
      font-size: 15px;
    }
  }

  .tabs {
    align-items: stretch;
    display: flex;
    justify-content: center;
    margin-left: 50px;
  }

  .tab {
    position: relative;
    color: $color-black-95;
    padding: 6px;
    margin: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;

    transition: .1s ease color;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      margin: auto;
      height: 3px;
      background: $gradient-bold;

      transition: .1s ease opacity;
      opacity: 0;
    }

    &:hover,
    &.active {
      color: $color-ampblue;
    }

    &.active {
      &:after {
        opacity: 1;
      }

      &:hover {
        &:after {
          opacity: 0;
        }
      }
    }
  }

  .tab.hamburger {
    background-color: transparent;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="-3 -6 24 24"><path fill="#4A4A4A" d="M0 12h18v-2H0v2M0 7h18V5H0v2M0 0v2h18V0H0"/></svg>');
    background-repeat: no-repeat;
    background-size: 30px 24px;
    background-position: center center;
    border: none;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    align-self: center;
  }

  @include max-screen($mobile-breakpoint) {
    div.tab,
    .desktop {
      display: none;
    }
    .tab.hamburger {
      display: inline-block;
    }
  }

  div.tab {
    padding: 6px 20px;
    position: relative;

    &::before {
      box-shadow: $header-shadow;
      content: '';
      position: absolute;
      bottom: 0;
      left: -10px;
      right: -10px;
      top: 20px;
      opacity: 0;
      transition: opacity 0.2s ease-out;
    }

    > a {
      position: relative;
      top: 19px;
      color: inherit;
      text-decoration: none;
    }

    .list-container {
      position: absolute;
      top: 100%;
      left: -60px;
      padding: 0 200px 500px 50px;
      pointer-events: none;
      opacity: 0;
      overflow: hidden;
      transition: 0.2s ease-out;
      z-index: 1;
    }

    .list-container > ul {
      list-style: none;
      position: relative;
      min-width: 200px;
      text-align: left;

      background: #fff;
      box-shadow: $header-shadow;

      li {
        padding: 7.5px 20px;
        box-sizing: border-box;
        font-weight: 400;
        font-size: inherit;
        position: relative;

        &:hover {
          background: #f0f0f0;

          .sublist {
            opacity: 1;
            pointer-events: all;
          }
        }

        a {
          @include text-body();
          @extend .small;
        }

        &:first-child {
          padding-top: 15px;
        }

        &:last-child {
          padding-bottom: 20px;
        }
      }

      li.external {
        padding-right: 26px;
        a {
          background-size: 12px 12px;
          background-repeat: no-repeat;
          background-position: right 2px;
          padding-right: 16px;
        }
        &:hover {
          a {
            background-image: url(/static/img/ic_open_in_new_black.svg);
          }
        }
      }

      .sublist {
        background: $color-lightgrey;
        list-style-type: none;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: opacity 0.3s;

        li {
          padding: 7.5px 15px;

          a {
            font-size: 14px;
          }
        }
      }

    }

    &:hover {
      &::before {
        opacity: 1;
      }

      .list-container {
        opacity: 1;
        pointer-events: all;
      }
    }

  }

  .searchbar {
    position: absolute;
    top: 23px;
    right: 175px;
    z-index: 2;

    @include max-screen(1030px) {
      display: none;
    }
  }
}

.rtl header {
  .left-nav {
    .header-title {
      padding: $header-padding ($header-padding + 20px) $header-padding $header-padding;

      @include max-screen($mobile-breakpoint) {
        width: auto;
      }

      background-position: center right;
    }
  }

  .alt.right {
    text-align: left;
  }
}