.inline-toc {
  margin: 50px 0;

  ul,
  ol {
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 25px;
  }

  a {
    color: $color-grey-md;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .56px;
    line-height: 28px;
    position: relative;
    text-transform: none;

    &:hover,
    &.active {
      color: $color-black-95;

      &::before {
        background: $gradient-med;
        bottom: -5px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}

@include max-screen($mobile-breakpoint) {
  .inline-toc {
    margin: 25px 0;

    ul,
    ol {
      border-left: 1px solid $color-brightblue;
      text-align: left;
      text-align: start;
    }

    li {
      display: block;
      line-height: 16px;
      margin: 15px 20px;
      width: 100%;
    }

    a {
      color: $color-black-95;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .rtl .inline-toc {
    ul, ol {
      border-left: 0;
      border-right: 1px solid $color-brightblue;
    }
  }
}
