div.language {

  overflow: hidden;
  position: relative;
  height: 33px;
  width: 132px;
  box-shadow: 0px 1px 2px #b7b7b7;

  &:hover {
    overflow: visible;
  }

  ul {
    position: absolute;
    left: 0;
    right: 0;
  }

  li {
    background-color: #f7f7f7;
    padding: 4px 10px;
    margin: 0;
    border-bottom: 1px solid rgb(231, 235, 236);
    display: flex;
    flex-direction: column;

    &.current {
      background-image: url('/static/img/lang-icon.svg');
      background-repeat: no-repeat;
      background-position: 6px 6px;
      background-size: 20px;
      background-color: transparent;
    }

    &:hover {
      background-color: #0379c4;
      a {
        color: #fff;
      }
    }

    a {
      display: block;
      padding: 0;
      padding-left: 26px;
      color: #424242;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      span {
          padding: 0;
          background-color: transparent;
      }



    }
  }
}

.rtl div.language {
  li {
    a {
      padding-right: 26px;
      padding-left: 0;
      background-position: right 6px;
    }
  }
}

header div.language {
  margin-left: 12px;
  align-self: center;
}

.rtl header div.language {
  margin-left: 0;
  margin-right: 12px;
}

amp-sidebar div.language {
  width: auto;
  box-shadow: 0px 1px 5px #0b5d92;
  height: 45px;
  margin-bottom: 12px;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #0379c4;
    position: absolute;
    top: 19px;
    right: 20px;
    z-index: 1;
  }

  li {
    background-color: #204b67;
    border-bottom: 1px solid #1c6b9e;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 6px;
  }
}

.rtl amp-sidebar div.language {

  &::before {
    left: 20px;
    right: auto;
  }

  li {
    padding-left: 0;
    padding-right: 16px;
  }
}
