.language {
  height: 33px;
  left: 100px;
  position: relative;
  top: -4px;
  user-select: none;

  section {
    border: 0;
    padding: 0;

    &[expanded] {
      .current,
      .others-inner {
        box-shadow: $header-shadow;
      }

      .current {
        left: 60px;

        &::after {
          transform: scale(.75);
        }
      }
    }
  }

  .current {
    font-size: 1em;
    margin-right: 100px;
    text-align: right;
    width: 140px;

    &::after {
      @include sprite(carat-down);
      content: '';
      display: inline-block;
      position: relative;
      top: -4px;
      transform: scale(.75);
    }
  }

  .others {
    padding: 0 50px 50px 50px;
    left: -50px;
    top: -1px;
  }

  .others-inner {
    background: $color-white;
    margin: 0;

    div {
      width: 200px;

      a {
        margin: 0 10px;
        text-transform: capitalize;
      }

      &:hover {
        background-color: $color-lightgrey;
      }
    }
  }

  .current,
  .others-inner div {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    height: auto;
    padding: 10px 15px 8px;

    &:hover {
      a {
        text-decoration: none;
      }
    }

    a {
      color: $color-black-95;
      display: inline-block;
      overflow: hidden;
      padding: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.rtl .language {
  left: auto;
  right: 100px;

  .current {
    margin: 0 0 0 100px;
    right: -60px;
  }

  .others {
    left: auto;
    right: -50px;
  }

  section[expanded] .current {
    left: auto;
    right: 0;
  }

  .current,
  .others-inner div {
    a {
      background-position: right 6px;
    }
  }
}

header .language {
  align-self: center;
  margin-left: 12px;

  @media only screen and (max-height: 775px) {
    .others-inner div {
      padding: 7px 15px;

      a {
        display: block;
      }
    }
  }
}

amp-sidebar {
  .language {
    bottom: 15px;
    left: 10px;
    position: absolute;
    top: auto;

    section[expanded] {
      .current {
        left: 0;
      }
    }

    .current a,
    .others-inner div a {
      color: $color-ampblue;
    }

    .current {
      margin-right: 0;
      text-align: left;

      &::after {
        @include sprite(carat);
        top: -5px;
        transform: rotate(180deg) scale(.75);
      }
    }

    .others {
      box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
      left: 0;
      padding: 0;
      transform: translateY(-117%);
      transform: translateY(calc(-100% - 50px));

      .others-inner {
        box-shadow: none;
        width: 240px;

        &::after {
          clear: both;
          content: '';
          display: table;
        }

        div {
          float: left;
          width: 120px;
        }
      }
    }
  }
}

.rtl amp-sidebar .language {
  section[expanded] .current {
    right: -50px;
  }
}
