div.language {

  position: relative;
  height: 33px;
  width: 132px;
  box-shadow: 0px 1px 2px #b7b7b7;
  user-select: none;

  amp-accordion {
    height: 33px;
    width: 132px;
  }

  section {
    padding: 0;
  }

  .current {
    background-image: url('/static/img/lang-icon.svg');
    font-size: 1em;
    font-weight: normal;
  }

  .current,
  .others div {

    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 20px;

    padding: 8px 10px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgb(231, 235, 236);
    box-sizing: border-box;
    height: 33px;

    &:hover {
      background-color: #0379c4;
      border-bottom: 1px solid #0379c4;
      background-image: url('/static/img/lang-icon-inverted.svg');

      a {
        color: #fff;
        text-decoration: none;
      }
    }

    a {
      display: block;
      padding: 0;
      padding-left: 24px;
      color: #424242;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      span {
          padding: 0;
          background-color: transparent;
      }

    }

  }

  .others {
    box-shadow: 0px 1px 2px #b7b7b7;
  }



}

.rtl .language {
  .current,
  .others div {
    a {
      padding-right: 26px;
      padding-left: 0;
      background-position: right 6px;
    }
  }
}

header .language {
  margin-left: 12px;
  align-self: center;
}

.rtl header .language {
  margin-left: 0;
  margin-right: 12px;
}

amp-sidebar .language {

  width: auto;
  box-shadow: none;
  height: 66px;
  margin-bottom: 12px;
  background: #f9f9f9;

  amp-accordion {
    width: auto;
    height: 66px;
  }

  /*
  .current a span::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 11px solid #454545;
    z-index: 1;
  }
  */

  .current,
  .others div {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    padding-left: 16px;
    padding-top: 25px;
    padding-bottom: 6px;
    height: 66px;

    &.current {
      background: none;
      border-bottom: 1px solid #eee;
      span {
        color: #424242;
      }
    }

    a {
      padding-left: 0;
    }

  }
}

.rtl amp-sidebar .language {

  &::before {
    left: 20px;
    right: auto;
  }

  .current,
  .others div {
    padding-left: 0;
    padding-right: 16px;
  }
}
