.large-cta {
  background: $gradient-anglebold;
  padding: 100px 0;
  position: relative;
  text-align: center;

  .large-cta-lines {
    position: absolute;

    &.left {
      bottom: -30%;
      left: -10%;
    }

    &.right {
      right: -5%;
      top: -30%;
    }
  }

  h1, p {
    color: $color-white;
    margin: 0 auto 50px;
    max-width: 600px;
  }

  h1 + p {
    margin-top: -30px;
  }
}