@mixin max-screen($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin min-screen($min-width) {
  @media only screen and (min-width: $min-width + 1px) {
    @content;
  }
}

@mixin min-max-screen($min-width, $max-width) {
  @media only screen and (min-width: $min-width + 1px) and (max-width: $max-width) {
    @content;
  }
}

@mixin retina-screen($density:2) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: $density),
  only screen and (min-device-pixel-ratio: $density),
  only screen and (min-resolution: 1dppx * $density) {
    @content;
  }
}

%no-break {
  hyphens: manual;
  overflow-wrap: normal;
  white-space: nowrap;
  word-break: normal;
  word-wrap: normal;
}

%break {
  // hyphens: auto;
  overflow-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
}

%text-label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .56px;
  line-height: 16px;
  text-transform: uppercase;

  @include max-screen($mobile-breakpoint) {
    font-size: 12px;
  }
}

%text-base {
  font-weight: 300;
  text-transform: none;
}

%text-body {
  font-size: 20px;
  line-height: 28px;

  @include max-screen($mobile-breakpoint) {
    font-size: 16px;
    line-height: 26px;
  }
}

%text-small {
  color: $color-black-95;
  font-size: 16px;
  line-height: 26px;

  @include max-screen($mobile-breakpoint) {
    font-size: 14px;
  }
}

%text-smaller {
  color: $color-black-95;
  font-size: 14px;
  line-height: 26px;
}

%text-light {
  @extend %text-label;
  color: $color-grey-md;
  margin-bottom: 15px;
}

%link-inherit {
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-transform: none;
}
