@mixin text-body() {
  color: $color-black-54;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;

  @include max-screen($mobile-breakpoint) {
    font-size: 16px;
    line-height: 28px;
  }
}

@mixin desaturate($amt){
  filter: grayscale($amt);
}

@mixin max-screen($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}

@mixin min-screen($min-width) {
  @media only screen and (min-width: $min-width + 1px) {
    @content;
  }
}

@mixin min-max-screen($min-width, $max-width) {
  @media only screen and (min-width: $min-width + 1px) and (max-width: $max-width) {
    @content;
  }
}

@mixin retina-screen($density:2) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: $density),
  only screen and (min-device-pixel-ratio: $density),
  only screen and (min-resolution: 1dppx * $density) {
    @content;
  }
}
