nav {
  margin-top: 10px;
  position: absolute;
  z-index: 1;

  ul {
    list-style: none;
  }

  li,
  a {
    color: $color-grey-md;
    font-size: 12px;
    font-weight: 300;
    text-transform: none;
  }

  li {
    display: inline-block;

    &::after {
      content: '\00bb';
      margin-left: 5px;
    }

    &:last-child::after {
      content: '';
    }
  }
}

.rtl nav {
  li::after {
    margin-left: 0;
    margin-right: 5px;
  }
}
