nav {
  border-right: 2px solid #E6E6E6;
  padding: 20px;
  margin-right: 30px;
  margin-left: -20px;
  width: 200px;
  flex-shrink: 0;
  background: #0379c4;
  color: #fff;

  h2 {
    font-size: 20px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
  }

  a {
      color: #fff;
  }

  ul, ol {

    li {
      margin-bottom: 10px;
      list-style: none;

      ul, ol {
        padding-left: 0;
        margin-left: 20px;
        margin-bottom: 1.2em;
        li {
          margin-bottom: 6px;
          font-size: 14px;
          list-style: square;
          color: #fff;

          &.current {
            color: rgba(255,255,255,0.6);
          }

          span {
            font-weight: 500;
            color: rgba(255,255,255,0.6);;
          }
          ul, ol {
            margin-bottom: 0;
            margin-left: 0;
            margin-top: 5px;
            padding-left: 20px;
            border-top: 1px solid rgb(65, 143, 193);
            padding-top: 3px;
            padding-bottom: 0px;
          }
          ol li {
            list-style: decimal;
          }
        }
      }
    }
  }
}

.rtl nav {
    border-right: 0;
    border-left: 2px solid #E6E6E6;
    margin-left: 30px;
    margin-right: -20px;

    ul, ol {
    	li {
    		ul, ol {
    			padding-left: 0;
          padding-right: 0;
          margin-right: 20px;
    			margin-left: 0;
    			li {
    				ul, ol {
              margin-left: 0;
              margin-right: 0;
              padding-right: 20px;
              padding-left: 0;
    				}
    			}
    		}
    	}
    }
}

@include max-screen($mobile-breakpoint) {
  .container nav {
    display: none;
  }

  amp-sidebar {
    background: #fff;
  }

  amp-sidebar nav {

    margin: 0;
    padding: 0;
    border-right: none;
    background: #fff;

    ul {
      padding-right: 0;

      li {
        list-style: none;
        margin-bottom: 0;

        ul {
          margin-left: 0;
          margin-bottom: 0;
          li {
            list-style: none;
            margin: 0;

            &.is-active {
              background: #f9f9f9;

              a {
                color: #0379C4;
                border-left: 3px solid;
              }
            }

            a {
              padding: 6px 15px;
              font-size: 1.2em;
            }
          }
        }
      }
    }

    a, span {
      color: #424242;
      text-transform: uppercase;
      font-weight: 400;
      display: block;
      padding: 6px 12px;
      letter-spacing: 0.04em;
      font-size: 15px;
    }

  }

  .rtl amp-sidebar nav {
      padding-left: 0;
      padding-right: 36px;
      ul {
          padding-left: 0;
      }
  }

  amp-sidebar nav + nav {
    background: #f9f9f9;
    padding-left: 12px;
    padding-top: 12px;
    box-sizing: border-box;

    h2 {
      font-size: 16px;
      font-style: italic;
      margin-bottom: 0;
      color: #424242;
    }

    li {
      font-size: 14px;
      ul li.current span {
        color: #0379C4;
        font-weight: 400;
      }
      ul li a {
        font-size: 1em;
      }
    }

  }

}
