nav.breadcrumb {
  margin: 15px 20px;
  position: absolute;
  z-index: 2;

  ul {
    line-height: 12px;
    list-style: none;
  }

  li,
  a {
    color: $color-grey-md;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 17px;
    text-transform: none;
  }

  li {
    display: inline;

    &::after {
      content: '\00bb';
      margin-left: 5px;
    }

    &:last-child::after {
      content: '';
    }
  }
}

.rtl nav {
  li::after {
    margin-left: 0;
    margin-right: 5px;
  }
}

@include max-screen($mobile-breakpoint) {
  nav {
    li,
    a {
      font-size: 10px;
    }
  }
}
