.points {
  max-width: 1200px;
  padding: 100px;
  position: relative;
}

.point {
  border-bottom: 3px solid #e5f7ff;
  padding: 30px;

  &:last-child {
    border-bottom: 0;
  }
}

.point-text {
  align-items: flex-start;
  display: flex;

  h4, .description {
    margin: 0 20px;
    width: 0;
  }

  h4 {
    flex: 1 1 auto;
  }

  .description {
    flex: 2 1 auto;

    a {
      text-transform: none;
    }

    p {
      margin-top: 0;
    }
  }
}

.point-example {
  margin: 40px 20px 20px;
}

@include max-screen($tablet-breakpoint) {
  .points {
    padding: 100px 30px;
  }
}

@include max-screen($tablet-portrait-breakpoint) {
  .points {
    padding: 0;
  }

  .point {
    padding: 30px 0;

    .point-text {
      display: block;
    }

    h4, .description {
      width: auto;
    }

    h4 {
      margin-bottom: 30px;
    }
  }
}
