.post-item {
  border-bottom: solid 1px $color-grey-lt;
  padding: 30px 0 40px 0;

  &:last-of-type {
    border-bottom: 0;
    margin-bottom: 60px;
  }

  .post-title {
    font-weight: 300;
    text-transform: none;

    h4:hover {
      color: $color-ampblue;
    }
  }

  .event-meta {
    margin: 10px 0;
    .smaller {
      color: $color-grey-md;
      display: inline-block;
      margin-right: 10px;

      amp-img {
        display: inline-block;
        position: relative;
        top: 2px;
      }

      i-amp-sizer {
        width: 15px;
      }
    }
  }

  .post-excerpt {
    margin-top: 12px;
  }

  .post-meta {
    // @extend %text-label;
    margin-bottom: 12px;

    .time {
      color: $color-grey-md;

      &::before {
        content: '|';
        margin-left: .8em;
        margin-right: 1.1em;
      }
    }
  }
}
