.promo {
  align-items: center;
  background: $gradient-anglebold;
  display: flex;
  font-weight: 300;
  height: 60px;
  justify-content: center;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-transform: none;

  .description, .link {
    color: white;
    line-height: 1.5;
    position: relative;
  }

  .description {
    font-size: 20px;
  }

  @include min-screen($mobile-breakpoint + 1) {
    .description.desktop-up {
      display: inline-block;
    }
  }

  .link {
    display: inline-block;
    font-weight: 400;
    margin-left: 20px;
    text-transform: uppercase;
    vertical-align: center;

    &::after {
      background: url(/static/img/arrow.svg) center/cover no-repeat;
      content: '';
      display: inline-block;
      height: 10px;
      margin-left: 10px;
      width: 10px;
    }
  }

  @include max-screen($mobile-breakpoint) {

    .promo {
      .description, .link {
        font-size: 16px;
      }

      .description.mobile-down {
        display: inline-block;
      }
    }

    .promo {
      .description, .link {
        font-size: 14px;
      }
    }

  }

}

.promo-line {
  left: 50px;
  top: -50px;
  position: absolute;
  width: 150px;
}

.rtl .header {
  .promo .link::after {
    transform: rotate(180deg);
  }
}

/* fixes for other elements when promo is up */
.doc-sidebar,
.toc {
  top: 80px + 60px;
}
