

.desktop-up,
.desktop-only {
  display: none;
  visibility: hidden;
  @include min-screen($mobile-breakpoint) {
    display: block;
    visibility: visible;
  }
}

.tablet-up {
  display: none;
  visibility: hidden;
  @include min-screen($tablet-breakpoint) {
    display: block;
    visibility: visible;
  }
}

.tablet-down {
  display: none;
  visibility: hidden;
  @include max-screen($tablet-breakpoint) {
    display: block;
    visibility: visible;
  }
}

.mobile-down {
  display: none;
  visibility: hidden;
  @include max-screen($mobile-breakpoint) {
    display: block;
    visibility: visible;
  }
}
