.searchbar {
  position: absolute;
  right: 175px;
  top: 23px;
  z-index: 2;

  @include max-screen(1030px) {
    display: none;
  }

  input {
    @extend %text-base;
    @extend %text-small;
    border: 0;
    border-bottom: 1px solid #4d4d4d;
    font-family: $font-family;
    outline: 0;
    vertical-align: bottom;
  }

  button {
    background: url(/static/img/symbols/search.svg) center/cover no-repeat;
    border: 0;
    cursor: pointer;
    height: 24.2px;
    position: relative;
    top: 3px;
    vertical-align: middle;
    width: 24.6px;
  }
}

.rtl .searchbar {
  left: 230px;
  right: auto;
}