.share-module {
  border-bottom: 0;
  position: absolute;
  z-index: 1;

  section,
  header {
    border: 0;
  }

  p.text-label {
    color: $color-ampblue;
    text-align: center;
    position: relative;
    top: $share-button-size;
  }

  .control header {
    width: $share-button-size + 22px;
    height: $share-button-size + 50px;
    background-color: transparent;
    padding-right: 0;
    position: relative;
    left: -10px;
    top: -10px;
    transition: height .5s;
  }

  .toggle-buttons {
    position: absolute;
    width: $share-button-size + 2px;
    height: $share-button-size + 2px;
    top: 10px;
    left: 10px;
    background: $color-ampblue;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15);
  }

  .button-open,
  .button-close {
    position: absolute;
    top: 0;
    left: 0;
    width: $share-button-size + 2px;
    height: $share-button-size + 2px;
  }

  .button-open {
    background: url(/static/img/symbols/share.svg) center/38% no-repeat;
    transition: opacity .25s;
  }

  .button-close {
    display: none;
    background: url(/static/img/symbols/share-close.svg) center/38% no-repeat;
  }

  .share-buttons {
    position: absolute;
    width: $share-button-size;
    height: $share-button-size * 5 + $share-button-distance * 4;
    top: 1px;
    left: 1px;
    amp-social-share {
      position: absolute;
      width: $share-button-size;
      height: $share-button-size;
      top: 0;
      left: 0;
      transition: transform .25s ease-in-out;
      border-radius: 50%;
      background-size: 70%;
    }
  }

  .share-content {
    header {
      height: 0;
    }
    position: absolute;
    top: 0;
  }

  .control[expanded] {
    header {
      height: $share-button-size + 22px;
    }

    .button-close {
      display: block;
    }

    .button-open {
      opacity: 0;
    }

    & + section amp-social-share {
      &:nth-child(1) {
        transform: translateY($share-button-size-full * 4);
      }
      &:nth-child(2) {
        transform: translateY($share-button-size-full * 3);
      }
      &:nth-child(3) {
        transform: translateY($share-button-size-full * 2);
      }
      &:nth-child(4) {
        transform: translateY($share-button-size-full);
      }
    }
  }

  @include max-screen(1121px) {
    p.text-label {
      top: $share-button-size - 5px;
    }
  }
}

.rtl .share-module {
  .control header {
    left: auto;
    right: -10px;
  }
}