.card:nth-child(even) .hero-image {
    padding-left: 75px;
    order: 2;
}

.card:nth-child(odd) .hero-image {
    padding-right: 75px;
}

.hero-image {
    display: inline-block;
    width: 30%;
    background-image: url(/static/img/home/home_hero_phone.png);
    background-size: cover;
    background-position: right top;

    amp-img {
      outline: 1px solid red;
      transform: rotate3d(0deg, 0deg, 0deg);
    }
}

.headline {
  max-width: 500px;
}

.card-description {
  margin: 35px 0;
}

h4 {
  color: #959595;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .56px;
}

.card {
  @extend %text-base;
  @extend %text-body;
  box-sizing: border-box;
  display: inline-block;
  height: 90%;
  margin: 20px 5px;
  padding: 10px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
}

.card-inner {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  ul, ol {
    padding-left: 1em;

    li {
      list-style-type: none;
      position: relative;
      &::before {
        content: '\2022 ';
        color: $color-ampblue;
        position: absolute;
        left: -.8em;
      }
    }
  }

  .card-features {
    margin-bottom: 1em;

    a {
      text-transform: none;
      font-size: 18px;
    }
  }

  .card-link a {
    &::after {
      background: url(/static/img/arrow-blue.svg) center/cover no-repeat;
      content: '';
      display: inline-block;
      height: 12px;
      margin-left: 10px;
      width: 12px;
    }
  }
}

.card-content {
  font-weight: 300;
  text-transform: none;
}

@include max-screen($mobile-medium-breakpoint) {

  .card-inner {
    display: inline-flex;
    flex-direction: column;

    .hero-image-right ,
    .hero-image-left  {
      padding: 0;
      margin: 0;
      width: 100%;
      order: 0;

    }
    .headline {
      max-width: none;
    }
    .card-logo {
      padding-top: 35px;
      text-align: center;
    }
  }
}

@include max-screen($tablet-portrait-breakpoint) {

  .hero-image-left {
    padding-right: 40px;
  }
  .hero-image-right {
    padding-left: 40px;
  }
}
