.card-inner {
  align-items: flex-start;
}

.hero-image {
    display: inline-block;
    width: 30%;
    background-image: url(/static/img/skewed_phone_alt.png);
    background-size: contain;
    background-position: right top;
    position: relative;

    .hero-image-sizer {
      padding-top: 197.5%;
    }

    a {
      position: absolute;
      top: 11.1%;
      left: 7.9%;
      width: 83%;
      height: 100%;
      transform-origin: top left;
      transform: perspective(180vw) rotateY(25.8deg) rotateZ(1.8deg) rotateX(14deg) scaleY(1.01);

      @include min-screen(1200px) {
        transform: perspective(2300px) rotateY(25.8deg) rotateZ(1.8deg) rotateX(14deg) scaleY(1.01);
      }
    }

}

.card:nth-child(even) .hero-image {
  background-image: url(/static/img/skewed_phone.png);
  margin-left: 5vw;
  order: 2;

  a {
    top: 12.8%;
    left: 18.2%;
    width: 76.5%;

    transform: perspective(190vw) rotateY(-26deg) rotateZ(-2.7deg) rotateX(17deg) scaleY(1.04);

    @include min-screen(1200px) {
      transform: perspective(2600px) rotateY(-26deg) rotateZ(-2.7deg) rotateX(17deg) scaleY(1.04);
    }
  }

}

.card:nth-child(odd) .hero-image {
  margin-right: 5vw;
}

.headline {
  max-width: 500px;
}

.card-description {
  margin: 25px 0;
}

h4 {
  color: #959595;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .56px;
}

.card {
  @extend %text-base;
  @extend %text-body;
  box-sizing: border-box;
  display: inline-block;
  height: 90%;
  margin: 20px 5px;
  padding: 10px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
}

.card amp-iframe {
  margin: 0;
}

.card-inner {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  ul, ol {
    padding-left: 1em;

    li {
      list-style-type: none;
      position: relative;
      &::before {
        content: '\2022 ';
        color: $color-ampblue;
        position: absolute;
        left: -.8em;
      }
    }
  }

  .card-features {
    margin-bottom: 1em;

    li p {
      margin-top: 2px;
    }

    a {
      text-transform: none;
      font-size: inherit;
    }
  }

  .card-link a {
    &::after {
      background: url(/static/img/arrow-blue.svg) center/cover no-repeat;
      content: '';
      display: inline-block;
      height: 12px;
      margin-left: 10px;
      width: 12px;
    }
  }
}

.card-content {
  font-weight: 300;
  text-transform: none;
}

@include max-screen($tablet-portrait-breakpoint) {

  .card-inner {
    display: inline-flex;
    flex-direction: column;

    .hero-image  {
      padding: 0;
      margin: 0;
      width: 100%;
      max-width: 287px;
      order: 0;

      a {
        transform: perspective(580vw) rotateY(25.8deg) rotateZ(1.8deg) rotateX(14deg) scaleY(1.01);

        @include min-screen(390px) {
          transform: perspective(430vw) rotateY(25.8deg) rotateZ(1.8deg) rotateX(14deg) scaleY(1.01);
        }
        @include min-max-screen(575px, $tablet-portrait-breakpoint) {
          transform: perspective(270vw) rotateY(25.8deg) rotateZ(1.8deg) rotateX(14deg) scaleY(1.01);
        }
      }
    }

    .headline {
      max-width: none;
    }
    .card-logo {
      padding-top: 35px;
      text-align: center;
    }
  }

  .card:nth-child(even) .hero-image {
    order: 0;
    margin: 0 auto;
    a {
      transform: perspective(650vw) rotateY(-26deg) rotateZ(-2.7deg) rotateX(17deg) scaleY(1.04);

      @include min-screen(365px) {
        transform: perspective(450vw) rotateY(-26deg) rotateZ(-2.7deg) rotateX(17deg) scaleY(1.04);
      }
      @include min-max-screen(500px, $tablet-portrait-breakpoint) {
        transform: perspective(320vw) rotateY(-26deg) rotateZ(-2.7deg) rotateX(17deg) scaleY(1.04);
      }
    }
  }

  .card:nth-child(odd) .hero-image {
    margin: 0 auto;
  }
}

