amp-sidebar {
  background: $color-white;
  width: 100vw;

  .submenu {
    background: $color-white;
    bottom: 0;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.075);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 233ms cubic-bezier(0, 0, .21, 1);
  }

  input:checked + .submenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }

  .menu-item {
    border-bottom: solid 1px $color-grey-lt;
    color: $color-black;
    display: block;
    position: relative;
    text-transform: none;

    &:hover {
      background: $color-lightgrey;
    }
  }

  .item-layer-1 {
    font-size: 35px;
    font-weight: 100;
    line-height: 44px;
    padding: 30px 35px 30px 25px;
  }

  .item-layer-2,
  .item-layer-3 {
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    padding: 15px 35px 15px 25px;
  }

  .menu-layer {
    &::after {
      background: $color-ampblue;
      bottom: 0;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 13px;
    }

    .items {
      left: 0;
      overflow-x: hidden;
      overflow-y: scroll;
      position: absolute;
      right: 0;
    }

    &.primary {
      height: 100%;
      position: relative;

      .items {
        bottom: 80px;
        top: 60px;
      }
    }

    &.secondary {
      z-index: 2;
    }

    &.tertiary {
      z-index: 3;
    }

    &.secondary,
    &.tertiary {
      .items {
        bottom: 0;
        top: 85px;
      }
    }
  }

  .has-sub-level {
    &::after {
      @include sprite(carat)
      content: '';
      height: 12px;
      position: absolute;
      right: 35px;
      top: calc(50% - 6px);
      transform: rotate(90deg) scale(.75);
      width: 16px;
    }
  }

  .close-button {
    background: url(/static/img/symbols/close.svg) no-repeat center / 18px transparent;
    border: 0;
    height: 58px;
    position: absolute;
    right: 13px;
    top: 0;
    width: 68px;
  }

  .return-button {
    @extend %text-label;
    color: $color-grey-ltmd;
    font-weight: 300;
    left: 25px;
    position: absolute;
    top: 22px;

    &::before {
      background: url(/static/img/symbols/return.svg) no-repeat center / contain transparent;
      border: 0;
      content: '';
      display: inline-block;
      height: 11px;
      margin-right: 5px;
      position: relative;
      top: 1px;
      width: 7px;
    }
  }
}

.rtl amp-sidebar {
  .item-layer-1 {
    padding: 30px 35px;
  }

  .has-sub-level::after {
    left: 35px;
    right: auto;
    transform: rotate(-90deg) scale(.75);
  }

  .return-button::before {
    margin: 0 5px;
    transform: rotate(180deg);
  }

  .submenu {
    transform: translateX(-100%);
  }
}