amp-sidebar {
  width: 100vw;
  max-width: 100vw!important;
  background: $color-white;

  .submenu {
    transform: translateX(100%);
    transition: transform 0.3s ease;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $color-white;
  }

  input:checked + .submenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }

  .menu-item {
    position: relative;
    display: block;
    border-bottom: solid 1px $color-grey-lt;
    text-transform: none;
    color: $color-black;
  }

  .item-layer-1 {
    padding: 30px 25px;
    font-size: 35px;
    font-weight: 100;
    line-height: 44px;
  }

  .item-layer-2,
  .item-layer-3 {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
  }

  .menu-layer-2 {
    z-index: 2;
  }

  .menu-layer-3 {
    z-index: 3;
  }

  .menu-layer-1,
  .menu-layer-2,
  .menu-layer-3 {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 13px;
      background: $color-ampblue;
    }
  }

  .menu-layer-1 {
    padding-top: 60px;
  }

  .menu-layer-2,
  .menu-layer-3 {
    padding-top: 85px;
  }

  .return-button,
  .close-button {
    position: relative;
    float: right;
    right: 26px;
    top: -42px;
    width: 18px;
    height: 18px;
    background: $color-ampblue;
  }

  .return-button {
    top: -57px;
  }
  .close-button {
    top: -42px;
  }
}
