$icons: (
    sprite: (width: 84px, height: 74px, svgPath: '/static/img/sprite.svg'),
    carat: (width: 15.53px, height: 8.3px, backgroundX: -60px, backgroundY: -43.66px),
    caret-right: (width: 6.12px, height: 11.88px, backgroundX: -48.63px, backgroundY: -30px),
    close: (width: 15.71px, height: 15.71px, backgroundX: -19.65px, backgroundY: -54.2px),
    lang-icon: (width: 24px, height: 24px, backgroundX: -60px, backgroundY: 0px),
    logo-blue-standalone: (width: 30px, height: 30px, backgroundX: -30px, backgroundY: 0px),
    return: (width: 6.05px, height: 10.71px, backgroundX: -48.63px, backgroundY: -41.88px),
    search: (width: 24.6px, height: 24.2px, backgroundX: 0px, backgroundY: -30px),
    share: (width: 19.65px, height: 19.04px, backgroundX: 0px, backgroundY: -54.2px),
    share-close: (width: 14.93px, height: 14.93px, backgroundX: -35.36px, backgroundY: -54.2px),
    twitter: (width: 22.93px, height: 19.66px, backgroundX: -60px, backgroundY: -24px),
    video-play: (width: 30px, height: 30px, backgroundX: 0px, backgroundY: 0px),
    wordpress: (width: 24.03px, height: 24.03px, backgroundX: -24.6px, backgroundY: -30px),
);