table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  padding: 20px 30px;
  text-align: left;
  vertical-align: top;
}

tr:nth-child(even) {
  background: #eff9fc;
}

.rtl td,
.rtl th {
  text-align: right;
}

th.col-fourty,
td.col-fourty {
  width: 40%;
}

th.col-thirty,
td.col-thirty {
  width: 30%;
}

th.col-twenty,
td.col-twenty,
 {
  width: 20%;
}

td:first-child {
  border-right: 2px solid $color-ampblue;
}

.rtl {
  td:first-child {
    border-left: 2px solid $color-ampblue;
    border-right: 0;
  }
}

html, body {
  th {
    @extend %text-label;
    background: $color-white;
    border-bottom: 2px solid $color-ampblue;
    color: $color-ampblue;
  }
}

@include max-screen($mobile-breakpoint) {
  td, th {
    padding: 5px;
  }

  th:first-child {
    border-right: 2px solid $color-ampblue;
  }
}