.toc,
.inline-toc {
  ul,
  ol {
    list-style: none;
    margin: 0 auto;
  }

  a {
    position: relative;
    text-transform: none;

    &:hover,
    &.active {
      &::before {
        background: $gradient-med;
        bottom: -5px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}

.toc {
  @extend .desktop-up;

  background: white;
  box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
  padding: 50px 20px;
  overflow: auto;
  width: 200px;

  &::before {
    @include text-label();
    color: $color-ampblue;
    content: 'Contents';
  }

  ul,
  ol {
    .main .content & {
      margin-left: 0;
    }
  }

  li {
    margin: 15px 0;

    ul {
      margin-left: 10px;

      .main .content & {
        margin-left: 10px;
      }

      a {
        color: $color-grey-md;
      }
    }
  }

  a {
    @include break();
    color: $color-black-95;
    display: block;

    &:before {
      display: none;
    }

    &:hover,
    &.active {
      color: $color-ampblue;
    }
  }
}

.inline-toc {
  margin: 50px 0;

  ul,
  ol {
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 25px;
  }

  a {
    color: $color-grey-md;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    position: relative;
    text-transform: none;

    &:hover,
    &.active {
      color: $color-black-95;
    }
  }
}

// for jumplink target x-offset
// will fail if target has: bg color,
// repeating bg img, padding- or border-top
:target::before {
  content: '';
  display: block;
  height: 110px;
  margin-top: -110px;
  visibility: hidden;
}

@include max-screen($mobile-breakpoint) {
  .toc,
  .inline-toc {
    margin: 25px 0;

    ul,
    ol {
      border-left: 1px solid $color-brightblue;
      text-align: left;
    }

    li {
      display: block;
      margin: 15px 20px;
      width: 100%;
    }
  }

  .inline-toc {
    li {
      line-height: 16px;
    }

    a {
      color: $color-black-95;
      font-size: 16px;
      line-height: 26px;
    }
  }

  :target::before {
    height: 70px;
    margin-top: -70px;
  }
}
