.toc {
  @extend .desktop-up;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .075);
  background: $color-white;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
  padding: 50px 20px;
  overflow: auto;
  width: 200px;

  &::before {
    @include text-label();
    color: $color-ampblue;
    content: 'Contents';
  }

  ul,
  ol {
    list-style: none;
    margin: 0 auto;

    .main .content & {
      margin-left: 0;
    }
  }

  li {
    margin: 15px 0;

    ul {
      margin-left: 10px;

      .main .content & {
        margin-left: 10px;
      }

      a {
        color: $color-grey-md;
      }
    }
  }

  a {
    @include break();
    color: $color-black-95;
    display: block;
    position: relative;
    text-transform: none;

    &::before {
      display: none;
    }

    &:hover,
    &.active {
      color: $color-ampblue;

      &::before {
        background: $gradient-med;
        bottom: -5px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
      }
    }
  }
}

@include max-screen($mobile-breakpoint) {
  .toc {
    margin: 25px 0;

    ul,
    ol {
      border-left: 1px solid $color-brightblue;
      text-align: left;
    }

    li {
      display: block;
      margin: 15px 20px;
      width: 100%;
    }
  }
}
