.who {
  background-color: white;
  padding-top: 100px;

  @include max-screen($mobile-breakpoint) {
    padding-top: 150px;
  }

  h1 {
    margin-bottom: 1em;
  }

  .section-title {
    color: $color-verydarkblue;
    margin-top: 2em;
  }

  .question {
    font-size: 22px;
  }

  .answer {
    font-size: 16px;
    padding-right: 35px;
  }

  ul {
    padding: 0;
  }

  li {
    padding: 18px 0;
  }

}
