{% extends '/templates/styleguide.j2' %}

{% block main %}
{% include 'partials/styleguide/sidebar.j2' %}

<main class="o-content o-content--index">
  <p class="o-content-text">Choose a component from the <a href="#" on="tap:sidebar.toggle">drawer</a>.</p>
</main>
{% endblock main %}
