{% extends '/templates/styleguide.j2' %}

{% block main %}
{% include 'partials/styleguide/sidebar.j2' %}

<header class="styleguide__header styleguide__header--overview">
  <button class="styleguide__toggle" on="tap:sidebar.toggle">
    {{ icon.icon('amp', size='4') }}
  </button>

  <div>
    <h1 class="styleguide__title">amp.dev Styleguide</h1>
    <p class="styleguide__hint">{{ doc.html|render|safe }}</p>
  <div>
</header>
{% endblock main %}
