@import '../variables.scss';

.p-guideHeader {
  background: map-get($colors, 'black');
  color: map-get($colors, 'white');
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  min-height: 100%;

  & .md-hd {
    font-family: Nato Sans;
    font-size: 16px;
    margin:0;
    white-space: nowrap;
    padding-bottom: 10px;
  }

  & .lg-hd {
    font-size: 34px;
    line-height: 42px;
    font-family: Poppins;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
  }
}