@import '../variables.scss';

.p-guideHeader {
  grid-column-start: 2;
  background: map-get($colors, 'black');
  color: map-get($colors, 'white');
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 25px;

  & .md-hd {
    font-family: Nato Sans;
    font-size: 16px;
    margin:0;
  }

  & .lg-hd {
    font-size: 34px;
    font-family: Poppins;
    font-weight: bold;
    margin: 0;
  }
}