<div id="notifications" class="dashboard-item admin-block default-box-shadow">
    <h1>
        {{ "PLUGIN_ADMIN.NOTIFICATIONS"|tu }}
        <span class="right">
            <a href="#" class="button button-small" data-refresh="notifications"><i class="fa fa-refresh"></i></a>
        </span>
    </h1>
    <div class="widget-content">
        <div class="widget-loader"><i class="fa fa-refresh fa-spin"></i></div>
        <ul></ul>
    </div>
</div>
