{{#htmlWebpackPlugin.files.js }}
<amp-script layout="container" src="{{ . }}" sandbox="allow-forms">
  <button class="ap-a-btn">Hello amp-script!</button>
</amp-script>
{{/htmlWebpackPlugin.files.js }}
