<header class="ad--header ad--header-fixed">
  <div class="ad-o-header">
    <a class="ad-o-header-home" href="/index.html">
      <svg class="ad-o-header-home-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
      <span class="ad-o-header-home-title">AMP</span> <span class="ad-o-header-home-sub-title">Example Preview: {{ document.title }}</span>
    </a>
    <a class="ad-m-homepage-link" href="/">amp.dev
      <svg class="ad-a-ico icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
    </a>
  </div>
</header>
