<header class="ap--header ap--header-fixed">
  <div class="ap-o-header">
    <a class="ap-o-header-home" href="/index.html">
      <svg class="ap-o-header-home-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
      <span class="ap-o-header-home-title">AMP</span> <span class="ap-o-header-home-sub-title">Example Preview: {{ document.title }}</span>
    </a>
    <a class="ap-m-homepage-link" href="{{ route }}">AMP.DEV
      <svg class="ap-a-ico icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
    </a>
  </div>
</header>
