/*

######################
### ORGANISM: list ###
######################

### INFO:

The teaser-list organism includes multiple teaser molecules.
All lists should be <ul> tags with <li> tags for their items (accessibility reasons).

### MODIFIERS:

default
	Wrapping flex container for both mobile and desktop.

scroll
	Scrolling list without wrapping for mobile, desktop is a normal wraping flex container.

nowrap-desktop
	Items wrap on mobile, but do not wrap on desktop (ex: benefits list).

*/

.#{organism('list')} {
	margin: 0 -0.625em;

	&-item {
		flex: 1 0 75%;
		padding: 0 0.625em;

		@media screen and (min-width: 768px) {
			flex: 1 0 auto;
		}

		&-col-2 {
			@media screen and (min-width: 768px) {
				flex: 0 0 50%;
			}
		}

		&-col-3 {
			@media screen and (min-width: 768px) {
				flex: 0 0 33.3333333%;
			}
		}
	}

	&-nowrap-desktop {
		display: flex;
		flex-wrap: wrap;

		@media screen and (min-width: 768px) {
			flex-wrap: nowrap;
		}
	}

	&-scroll {
		display: flex;
		flex-wrap: nowrap;
		overflow-y: hidden;
		overflow-x: scroll;

		@media screen and (min-width: 768px) {
			overflow: visible;
			flex-wrap: wrap;
		}
	}
}