@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

@mixin sidebar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100vh;
  padding-bottom: 80px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  background-color: color('white');
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);

  @media screen and (min-width: 768px) {
    position: -webkit-sticky;
    position: sticky;
    z-index: 0;
    top: 82px;
    left: auto;
    padding-bottom: 0;
    height: calc(100vh - 82px);
    width: auto;
    margin-right: 0;
    margin-left: -15px;
    background: none;
    box-shadow: none;
  }

  @media screen and (min-width: 1024px) {
    top: 120px;
    height: calc(100vh - 120px);
  }
}

@mixin sidebar-nav {
  margin: 34px 0 0;

  @media screen and (min-width: 768px){
    overflow-y: scroll;
    max-height: calc(100vh - 281px);
  }

  @media screen and (min-width: 1024px){
    overflow-y: scroll;
    max-height: calc(100vh - 264px);
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset -1px 0 rgba(color('black'), 0.10);
  }

  &::-webkit-scrollbar-thumb {
    background-color: color('oslo-gray');
  }
}

@mixin sidebar-nav-list {
  max-width: 300px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin sidebar-nav-list-level-1 {
  margin: 0 15px;
}

@mixin sidebar-nav-list-sublevels {
  display: none;
  margin-bottom: 20px;
}

@mixin sidebar-nav-item {
  position: relative;
  margin: 0;
  padding: 0;
}

@mixin sidebar-nav-item-level-1 {
  border-bottom: 1px solid rgba(color('black'), 0.15);

  &:last-child {
    border-bottom: none;
  }
}

@mixin sidebar-nav-link {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  color: rgba(color('black'), 0.75);
  border: none;
  background-color: transparent;
}

@mixin sidebar-nav-link-lastword {
  white-space: nowrap;
}

@mixin sidebar-nav-link-level-1 {
  padding: 10px 25px 10px 0;
  @include txt-1;
  @include txt-strong;
  @include txt-font-accent;
  @include color-black;
}

@mixin sidebar-nav-link-level-2 {
  padding: 7px 25px 8px 0;
  @include txt;
  @include txt-2;
  line-height: 1.4em;
}

@mixin sidebar-nav-link-level-3 {
  padding: 7px 25px 8px 25px;
  @include txt-3;
}

@mixin sidebar-nav-link-active {
  @include txt-strong;
  color: color('blue-ribbon');
}

@mixin sidebar-nav-link-hover {
  color: color('blue-ribbon');
}

@mixin sidebar-nav-trigger {
  position: absolute;
  right: -15px;
  top: 0;
  width: 40px;
  padding: 0;
  margin: 0;
  background: none transparent;
  cursor: pointer;
}

@mixin sidebar-nav-trigger-level-1 {
  height: 46px;
}

@mixin sidebar-nav-trigger-level-2 {
  height: 33px;
}

@mixin sidebar-nav-trigger-state {
  opacity: 0;
  z-index: 1;

  &:checked {
    & ~ ul {
      display: block;
    }

    & + .nav-icon .#{atom('ico')} {
      transform: rotate(0);
    }
  }
}

@mixin sidebar-nav-icon {
  width: 12px;
  height: 12px;
  margin: 0 auto;
  transform: rotate(-90deg);
}

@mixin sidebar-type-icon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

@mixin sidebar-nav-icon-level-1 {
  margin-top: 14px;
}

@mixin sidebar-nav-icon-level-2 {
  width: 10px;
  height: 10px;
  margin-top: 10px;
}
