@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_color.scss';

.#{organism('accordion')} {
  grid-column: 2 / 24;
  width: 100%;

  section {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    &[expanded] {
      .#{atom('ico')} {
        transform: scale(-1);
      }
    }
  }

  &-header {
    padding: 30px;
    margin-bottom: 1em;
    background: none;
    background-color: color('white');
    border: 1px solid color('whisper');
    border-left: none;
    border-right: none;
    border-radius: 4px;
    box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

    &:hover {
      transform: translateY(-0.125em);
      box-shadow: 0 25px 60px 0px rgba(0, 0, 0, 0.10);
    }
  }

  &-title {
    display: flex;
    align-items: center;

    h4 {
      margin: 0;
    }

    .#{atom('ico')} {
      @include ico-1;
      margin-left: auto;

      @media (min-width: 768px) {
        @include ico-2;
      }
    }
  }

  &-list {
    list-style: none;
    columns: 2;
    padding-left: 30px;

    @media (min-width: 768px) {
      columns: 3;
    }

    @media (min-width: 1024px) {
      columns: 4;
    }

    &-item {
       margin-bottom: 10px;
       @include txt;
       @include txt-2;
    }
  }
}
