/*

#############################
### ORGANISM: agenda ########
#############################

*/


@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';

.#{organism('agenda')} {
  @include agenda-list-shadow;

  grid-column: 5 / 21;
  background: color('white');
  border-radius: 4px;

  &-block {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 30px;
  }

  &-content {
    grid-column: 3 / 14;
    padding: 50px 0;

    &-headline {
      @include hl;
      @include hl-h2;
    }

    &-sub-text {
      @include txt;
      @include txt-1;

      & span {
        @include txt-strong;
      }
    }

    &-list {
      list-style: none;
      padding-left: 0;

      &-item {
        @include txt;
        @include txt-lrg;
        @include txt-font-accent;
        display: flex;
        align-items: center;
        text-align: left;

        &-time {
          width: 50px;
          margin-right: 15px;
          padding-right: 15px;
        }

        &-title {
          width: 80%;
          margin-right: auto;
          padding: 7px 0 7px 15px;
          border-left: 1px solid color('blue-ribbon');
          position: relative;
          display: flex;
          align-items: center;

          &:before {
            content: '';
            position: absolute;
            border-radius: 50%;
            left: -9px;
            background: color('white');
            height: 15px;
            width: 15px;
            border: 1px solid color('blue-ribbon');
          }

          &.break {
            color: fade_out(color('charade'), 0.5);

            &:before {
              height: 8px;
              width: 8px;
              left: -5px;
              background: color('blue-ribbon');
            }
          }

          &.keynote {
            color: color('blue-ribbon');
          }
        }
      }
    }
  }

}