/*

#############################
### ORGANISM: ampconf-footer ########
#############################

*/


@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';

.#{organism('ampconf-footer')} {
  display: flex;
  grid-column: 7 / 19;
  padding: 0;
  list-style: none;
  margin-bottom: 42px;

  &-item {
    @include txt;
    @include txt-2;
    @include txt-font-accent;
    padding-right: 25px;

    @media (min-width: 768px) {
      white-space: nowrap;
      padding-right: 50px;
    }
  }
}