/*

#############################
### ORGANISM: banner ########
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';

.#{utility('banner')} {
  margin: 0 -30px;
  padding: 30px 30px;
  background-color: color('blue-ribbon');

  @media (min-width: 930px) {
    padding: 70px 90px 70px 90px;
  }
}

.#{organism('banner')} {

  &-headline, &-copy {
    color: color('white');
    max-width: 720px;
  }
}
