/*

#############################
### MOLECULES: nav-link #####
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';

.#{organism('burger-menu')} {
/* This is where the actual burger-menu starts */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 110px 20px 80px;
  z-index: 16;
  background-color: color('white');
  pointer-events: none;
  opacity: 0;
  transition: transform 0.2s ease, opacity 0.2s ease;

  /* The following elements are not inside the burger-menu itself */
  &-label {
    position: fixed;
    z-index: 17;
    top: 45px;
    right: 20px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &.mainmenuopen {
      z-index: 1004;
    }

    @media (min-width: 768px) {
      right: 30px;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
  }

  &-input {
    display: none;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  /* Styles for the opened burger menu */
  &-input:checked {
    & + .#{organism('burger-menu')} {
      pointer-events: auto;
      opacity: 1;

      &.mainmenuopen {
        z-index: 1003;
      }

      & ~ .ap--main, ~ .ap--footer {
        display: none;
      }
    }
  }

  &-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    /* This block defines the styles for the second level elements */
    & & {
      margin-top: 1rem;

      & .#{organism('burger-menu')}-item {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

    &-item {
      margin-bottom: 1rem;
      position: relative;
      &:last-child {
        margin-top: auto;
      }
      ul {
        display: none;
      }
      &-trigger {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 36px;
        padding: 0;
        margin: 0;
        opacity: 0;
        background: none transparent;
        cursor: pointer;
        &:checked {
          & ~ ul {
            display: block;
          }
          & + .nav-icon .#{atom('ico')} {
            transform: rotate(-90deg);
          }
        }
        & + .nav-icon .#{atom('ico')} {
          display: inline-block;
          transform: rotate(0);
        }
      }

      .#{atom('ico')} {
        height: 0.6em;
        margin-bottom: 0.3em;
        margin-left: 0.3em;
        width: 0.6em;
      }
    }
}
