@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@include levitateAnimation;

.#{organism('case-band')} {
  grid-column: 1 / -1;
  width: 100%;
  height: auto;
  padding-top: 54.43%;
  // filter: drop-shadow(50px 50px 35px rgba(0, 0, 0, 0.25));
  transform: perspective(100px) rotate(0.1deg) rotateY(-0.1deg) skewX(-4deg) skewY(0deg) translateX(6.3%);
  transform-origin: center;

  &-image {
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: levitate 7s ease-in-out infinite forwards;
    
    &-landscape {
      width: 42.5%;
    }

    &-portrait {
      width: 23.9%;
    }

    &-1 {
      right: 74.2%;
      top: 13.4%;
      animation-delay: -6s;
    }

    &-2 {
      right: 61.3%;
      top: 2%;
      animation-delay: -5s;
    }

    &-3 {
      right: 39.5%;
      top: 32.5%;
      animation-delay: -4s;
    }

    &-4 {
      right: 34.6%;
      top: 11.4%;
      animation-delay: -3s;
    }

    &-5 {
      right: 9.7%;
      top: 25.3%;
      animation-delay: -2s;
    }

    &-6 {
      right: 9.7%;
      top: 21.7%;
      animation-delay: -1s;
    }

    &-7 {
      right: 0%;
      top: 0%;
      animation-delay: 0s;
    }
  }
}
