/*

##############################
### ORGANISM: code-preview ###
##############################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_text.scss';
@import '../atoms/_button.scss';

.#{organism('code-preview')} {
  position: relative;
  margin: 1rem 0;
  background: color('ebony-clay');

  &-reload {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 15px;
    cursor: pointer;
    @include unset-button;

    @media (max-width: 649px) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      top: calc(50% - 100%);
      left: calc(50% - 100%);
      width: 200%;
      height: 200%;
      pointer-events: none;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.16);
      transform: scale(0);
      transition: transform 280ms cubic-bezier(.4,0,.2,1);
    }

    &:hover::before,
    &:focus::before {
      transform: scale(1)
    }

    .#{atom('ico')} {
      width: 20px;
      height: 20px;
      fill: #FFF;
    }
  }

  /* inline preview above */
  &-preview {
    position: relative;
    top: 1em;
    margin: 1em;
    background: color('white');
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);

    & + div.#{molecule('code-snippet')} {
      @media (min-height: 768px) {
        min-height: 0;
      }
    }
  }

  /* iframe preview above */
  &-preview-iframe {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1em;
    margin: 1em;

    amp-iframe {
      @media screen and (max-width: 412px) {
        width: 240px;
        height: 427px;
      }
      @media screen and (min-width: 413px) {
        width: 320px;
        height: 569px;
      }
    }

    &.landscape {
      display: block;
      amp-iframe {
        width: auto;
        height: auto;
      }
    }

    &-portrait,
    &-landscape,
    &-responsive {
      width: 100%;
      padding: 1em;
      margin: 0 auto;
      top: 0;

      @media (min-width: 768px) {
        padding: 0 1em;
      }

      amp-iframe {
        width: auto;
        height: auto;
        margin: 0;
      }
    }

    &-portrait {
      max-width: 411px;

      amp-iframe {
        padding-top: 177.78%;
      }
    }

    &-landscape {
      max-width: 731px;

      amp-iframe {
        padding-top: 56.25%;
      }
    }

    &-responsive {
      height: calc(90vh - 200px);
    }
  }

  /* top preview like playground embed mode */
  &-top-preview {
    @media (min-width: 768px) {
      & + div.#{molecule('code-snippet')} {
        width: 100%;
        min-height: 0;
      }
    }
  }

  /* side preview like playground embed mode */
  &-side-preview {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;

    @media (min-width: 768px) {
      width: auto;
      left: 60%;
      background-color: darken(color('ebony-clay'), 2%);
    }

    @media (max-width: 767px) {
      overflow: hidden;
      pointer-events: none;

      &-active {
        pointer-events: auto;
      }
    }

    &-frame-portrait &-sizer {
      padding-top: 177.78%;
    }

    &-frame-landscape &-sizer {
      padding-top: 56.25%;
    }

    &-sizer {
      @media (max-width: 767px) {
        display:none;
      }
    }

    &-frame {
      position: absolute;
      max-height: 100%;
      right: 15px;
      top: auto;
      background-color: white;

      @media (max-width: 767px) {
        position: static;
        background: #fff;
        pointer-events: none;
        transform: translateY(100%);
        transition: transform .2s cubic-bezier(0,0,.3,1);

        &.show {
          transform: translateY(0);
          pointer-events: auto;
          height:100%;
        }
      }

      &-portrait {
        @media (min-width: 768px) {
          width: calc(100% - 30px);
        }
      }

      &-landscape {
        @media (min-width: 768px) {
          width: calc(172% - 30px);
          box-shadow: -10px 10px 0 rgba(darken(color('ebony-clay'), 2%), .75);
        }
      }
    }
  }

  &-iframe {
    background: color('white');
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);
    margin-bottom: 1em;
  }

  &.top-frame,
  &.side-frame {
    .#{molecule('code-snippet')} {
      min-height: 150px;
      max-height: 450px;
    }
  }

  &.side-frame {
    .#{molecule('code-snippet')} {
      width: 100%;
      margin: 0;
      background: none;

      @media (min-width: 768px) {
        width: 60%;
        min-height: 580px;
      }

      @media (min-width: 1024px) { min-height: 738px; }
      @media (min-width: 1280px) { min-height: 842px; }
      @media (min-width: 1441px) { min-height: 746px; }
    }
  }
}
