
/*

#############################
### ORGANISM: header ###
#############################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_text.scss';
@import '../atoms/_button.scss';

.#{organism('code-preview')} {
  position: relative;
  background: color('ebony-clay');

  &-reload {
    position: absolute;
    top: 1em;
    right: 1em;
    @include unset-button;

    .#{atom('ico')} {
      fill: #FFF;
    }
  }

  &-preview {
    position: relative;
    top: 1em;
    margin: 1em;
    background: color('white');
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);
  }

  &-preview-iframe {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1em;
    margin: 1em;
  }

    &-iframe {
      background: color('white');
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);
      margin-bottom: 1em;
    }

  .#{molecule('code-snippet')} {
    background: none;
  }
}
