
/*

#############################
### ORGANISM: header ###
#############################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_text.scss';
@import '../atoms/_button.scss';

.#{organism('code-preview')} {
  background: linear-gradient(45deg, color('river-bed'), color('ebony-clay'));

  &-meta-bar {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    margin-bottom: -1em;
    background-color: color('bright-gray');
  }

    &-reload {
      @include unset-button;

      .ad-a-ico {
        fill: #FFF;
      }
    }

  &-preview {
    position: relative;
    top: 1em;
    margin: 1em;
    background: color('white');
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);
  }
}
