/*

############################
### Organism: component-sidebar #####
############################

*/


@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';
@import '../atoms/_color.scss';
@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';

@import '_sidebar.scss';

amp-sidebar {
  width: 100%;
  max-width: 90vw;
  background: color('whisper');
}

nav[toolbar] {
  top: 86px;
  height: 100vh;
  max-height: calc(100vh - 86px);

  @media (min-width: 768px){
    position: -webkit-sticky;
    position: sticky;
  }

  & > ul {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;

    @media (min-width: 768px){
      overflow: auto;
      max-height: 100%;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(color('black'), 0.10);
    }
  }
}

.#{utility('sidebar')} {
  margin-top: 10px;
}

.#{organism('component-sidebar')} {
  @include sidebar;

  &:before {
    z-index: 2;
  }

  .nav {
    @include sidebar-nav;

    &-list {
      @include sidebar-nav-list;

      &.level-1 {
        @include sidebar-nav-list-level-1;
      }

      .nav-list {
        @include sidebar-nav-list-sublevels;
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }

    &-item {
      @include sidebar-nav-item;

      &.level-1 {
        pointer-events: none;

        .nav-link {
          @include hl;
          @include hl-h2;
          padding: 0;
          margin: 0;
          line-height: 1;
          word-break: break-all;
          pointer-events: auto;
          color: color('alto');
        }

        & > .nav-link {
          padding-top: 10px;
          pointer-events: none;
          z-index: 1;
          transition: color 0.15s cubic-bezier(0.25, 0.1, 0.25, 1);
        }

        &.active > .nav-link {
          color: color('gray-chateau');
        }

        &:hover > .nav-link {
          color: color('gray-chateau');
        }

        .nav-trigger,
        .nav-icon {
          @include sidebar-nav-trigger-level-1;
        }

        .nav-icon .#{atom('ico')} {
          @include sidebar-nav-icon-level-1;
        }
      }

      &.level-2 {
        .nav-link {
          @include sidebar-nav-link-level-2;
          padding: 3px 25px 3px 0;
          margin: 0;
        }

        .nav-trigger,
        .nav-icon {
          @include sidebar-nav-trigger-level-2;
        }

        .nav-icon .#{atom('ico')} {
          @include sidebar-nav-icon-level-2;
        }
      }

      &.level-3 {
        @include sidebar-nav-link-level-3;
      }

      &.active > .nav-link {
        @include sidebar-nav-link-active;
      }

      &:hover > .nav-link {
        @include sidebar-nav-link-hover;
      }
    }

    &-link {
      @include sidebar-nav-link;
    }

    &-icon,
    &-trigger {
      @include sidebar-nav-trigger;
    }

    &-trigger {
      @include sidebar-nav-trigger-state;
    }

    &-icon .#{atom('ico')} {
      @include sidebar-nav-icon;
    }

    span.nav-link + .nav-trigger {
      width: calc(100% + 15px);
    }
  }
}

.#{organism('sidebar')} {

  &-section {
    max-width: 100%;
  }
}
