/*

############################
### Organism: consent #####
############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_button.scss';

.#{organism('consent')} {
  right: 20px;
  left: auto;
  bottom: 20px;
  width: calc(100% - 40px);
  padding: 15px;
  @include txt;
  @include txt-2;
  background-color: color('white');
  box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  @media (min-width: 768px) {
    max-width: 500px;
  }

  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    @include unset-button;

    svg {
      width: 10px;
      height: 10px;
    }
  }

  button {
    cursor: pointer;
  }
}
