@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_color.scss';

.#{organism('examples-list')} {
  position: relative;
  margin: -10px -15px 0 0;

  @media (min-width: 768px) {
    margin: -20px 0 0;
  }

  [role="list"] {
    width: 100%;
  }

  &-slide {
    width: 100%;
    margin-left: 10px;

    @media (max-width: 767px) {
      width: calc(100% + 20px);
    }
  }

  &-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    padding: 10px 0;

    @media (min-width: 768px) {
      padding: 20px 0;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &-count-1 &-group,
  &-count-2 &-group,
  &-count-4 &-group {
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1280px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  &-item {
    line-height: 38px;
    padding: 0 2.5em 0 1em;
    white-space: normal;
    font-size: .75rem;
    @include txt-font-accent;
    color: #fff;
    background: color('ebony-clay');
    border-radius: 3px;
    transition: transform .3s cubic-bezier(.25,.1,.25,1),
                box-shadow .3s cubic-bezier(.25,.1,.25,1);

    &:hover {
      background: color('bright-gray');
      transform: translateY(-2px);
      box-shadow: 0 9px 7px -8px rgba(0, 0, 0, 0.30);
    }
  }

  &-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &-icon {
    fill: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .amp-carousel-button {
    width: 30px;
    height: 100%;
    margin: 0;
    border-radius: 0;
    background-size: 18px 18px;
    background-color: color('whisper');
    transition: opacity .3s ease-in-out;

    @media (max-width: 767px) {
      display: none;
    }

    &-prev {
      left: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000'%3E%3Cpath d='M23.999 28.147a2.327 2.327 0 010 3.157c-.396.429-.961.696-1.589.696s-1.193-.268-1.588-.695l-.001-.001L8.002 17.579a2.33 2.33 0 010-3.157L20.821.697C21.24.247 21.803 0 22.41 0s1.169.247 1.589.697a2.327 2.327 0 010 3.157L12.654 16.001l11.345 12.146z'/%3E%3C/svg%3E");
      box-shadow: 10px 0 10px -10px rgba(color('black'), .35);
    }
    &-next {
      right: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000'%3E%3Cpath d='M8.001 28.147a2.33 2.33 0 000 3.157c.396.429.961.696 1.589.696s1.193-.268 1.588-.695l.001-.001 12.819-13.725a2.327 2.327 0 000-3.157L11.179.697C10.76.247 10.197 0 9.59 0S8.421.247 8.001.697a2.33 2.33 0 000 3.157l11.344 12.147L8 28.147z'/%3E%3C/svg%3E");
      box-shadow: -10px 0 10px -10px rgba(color('black'), .35);
    }
  }
}
