@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_color.scss';

.#{organism('examples-list')} {
  &-slide {
    width: 100%;
    margin-left: 40px;
  }

  &-group {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-gap: 20px 40px;
  }

  &-count-4 &-group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &-item {
    line-height: 46px;
    padding: 0 3em 0 1em;
    white-space: normal;
    @include txt-3;
    @include txt-font-accent;
    color: #fff;
    background: color('ebony-clay');
    border-radius: 3px;

    &:hover {
      background: color('bright-gray');
    }
  }

  &-label {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
  }

  &-icon {
    fill: #fff;
    position: absolute;
    right: 10px;
    top: 14px;
  }

  .amp-carousel-button {
    background-color: color('blue-ribbon');
    border-radius: 50%;
  }
}
