@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_color.scss';

.#{organism('format-explainer')} {
  
  &-image {
    position: relative;
    grid-column: 1 / -1;

    @media screen and (min-width: 1024px) {
      grid-column: 2 / 13;
    }
  }
  
  &-content {
    grid-column: 1 / -1;

    @media screen and (min-width: 1024px) {
      grid-column: 13 / 24;
    }
  }
  
  &-button {
    @include hl;
    @include hl-h5;
    -webkit-appearance: none;
    display: block;
    min-width: 300px;
    padding: 14px;
    margin: 0 0 18px;
    text-align: left;
    background: none transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    &-websites.active {
      color: #fff;
      @include gradient-websites;
    }
    &-stories.active {
      color: #fff;
      @include gradient-stories;
    }
    &-ads.active {
      color: #fff;
      @include gradient-ads;
    }
    &-emails.active {
      color: #fff;
      @include gradient-e-mails;
    }
  }
  
  &-link {
    margin: 95px 0 0;
  }
}