@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_color.scss';

@import '../molecules/_copy.scss';

.#{organism('format-explainer')} {
  
  &-image {
    position: relative;
    grid-column: 1 / -1;

    @media screen and (min-width: 1024px) {
      grid-column: 1 / 13;
      padding-top: 8em;
    }
  }
  
  &-content {
    grid-column: 1 / -1;
    margin-bottom: 0;

    @media screen and (min-width: 1024px) {
      grid-column: 13 / 23;
    }
  }
  
  &-headline {
    margin-top: 0;
  }
  
  &-copy {
    margin-bottom: 2.250em;
  }
  
  &-button {
    @include hl;
    @include hl-h5;
    -webkit-appearance: none;
    display: flex;
    align-items: center;
    min-width: 300px;
    padding: 10px 20px;
    margin: 0 0 1em;
    text-align: left;
    background: none transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    &.active {
      color: #fff;
    }
    
    &-websites.active { @include gradient-websites; }
    &-stories.active { @include gradient-stories; }
    &-ads.active { @include gradient-ads; }
    &-emails.active { @include gradient-e-mails; }
    
    &-icon {
      width: 30px;
      height: 30px;
      margin-right: 14px;
      
      &.active {
        fill: #fff;
      }
    }
  }
  
  &-link {
    margin: 6em 0 0;
  }
}