/*

##############################
### MOLECULE: format-cards ###
##############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

.#{utility('format-cards')} {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  @media (min-width: 600px) {
    flex-direction: row;
  }
  @media (min-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 930px) {
    padding: 0 60px 75px 60px;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
.#{organism('format-cards')} {
  &-text {
    width: 100%;
  }

  &-card {
    box-shadow: 6px 9px 40px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 15px 25px;
    margin: 20px 0;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    background-color: color('white');

    &:hover {
      box-shadow: 12px 18px 80px 10px rgba(0,0,0,0.05);
    }

    @media (min-width: 600px) {
      max-width: 31%;
    }
    @media (min-width: 768px) {
      max-width: 100%;
    }
    @media (min-width: 1024px) {
      max-width: 31%;
    }

    &-text {
      width: 100%;
    }

    &-icon {
      position: absolute;
      left: -10px;
      top: -10px;
      height: 60px;
      width: 60px;
      border-radius: 50%;

      &-websites {
        @include gradient-websites;
        fill: color('white');
      }
      &-stories {
        @include gradient-stories;
        fill: color('ultramarine');
      }
      &-ads {
        @include gradient-ads;
        fill: color('white');
      }
      &-emails {
        @include gradient-e-mails;
        fill: color('ultramarine');
      }
      svg {
        width: 50%;
      }
    }
    &-headline {
      @include txt-font-accent;
      margin: auto auto 35px 40px;
    }
    .ap-m-lnk {
      padding: 0;
      margin-left: -5px;
    }
  }

}
