/*

#################################
### ORGANISM: fragment-slider ###
#################################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';


.#{organism('fragment-slider')} {
  input:focus {
    outline: none;
  }

  button {
    position: absolute;
    top: 20vh;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.4);
    z-index: 3;
    border: none;
  }

  &-prevbtn {
    left: 0;
    div {
      margin: 0;
      transform: rotate(180deg);
    }
    &:focus {
      outline: none;
    }
    &.slide1 {
      display: none;
    }
  }

  &-nextbtn {
    right: 0;
    div {
      margin: 0;
    }
    &:focus {
      outline: none;
    }
    &.slide6 {
      display: none;
    }
  }
}