/*

#################################
### ORGANISM: fragment-slider ###
#################################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';


.#{organism('fragment-slider')} {
  &-text {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40vw;
    max-width: 100%;
    @media screen and (min-width: 768px) {
      margin-top: 30vw;
    }
    @media screen and (min-width: 1024px) {
      margin-top: -20px;
      grid-column: 14 / 25;
    }
    h2,h3 {
      @media screen and (min-width: 1024px) {
        @include color-white;
      }
    }
    > div {
      min-width: 100%;
    }
    div {
      &.copy {
        min-width: 100%;
        a {
          display: block;
          margin-bottom: 15px;
          @media screen and (min-width: 1280px) {
            display: inline-block;
            width: 49%;
          }
        }
      }
      opacity: 0;
      transition: opacity 400ms, transform 400ms;
      transition-delay: 400ms;
      &.active {
        opacity: 1;
        div {
          opacity: 1;
        }
      }
    }

    &.slide2 {
      > div {
        transform: translateX(100%);
      }
    }
    &.slide3 {
      > div {
        transform: translateX(200%);
      }
    }
    &.slide4 {
      > div {
        transform: translateX(300%);
      }
    }
    &.slide5 {
      > div {
        transform: translateX(400%);
      }
    }
    &.slide6 {
      > div {
        transform: translateX(500%);
      }
    }
  }
  &-preheadline {
    margin: 0;
  }
  &-headline {
    @include hl-lrg;
    margin: 0;
    @media screen and (min-width: 1024px) {
      margin: 0 0 25% 0;
      min-height: 2.5em;
    }
    @media screen and (min-width: 1280px) {
      margin: 0 0 13vw 0;
    }
  }
}