/*

#################################
### ORGANISM: fragment-slider ###
#################################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';


.#{organism('fragment-slider')} {
  button {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 23vw;
    @media (min-width: 768px) {
      height: 60px;
      width: 60px;
    }
    display: flex;
    justify-content: center;
    z-index: 3;
    border: none;
    border-radius: 50%;
    @include slider-button-shadow;
    transition: 400ms;
    overflow: hidden;
    background-color: color('athens-gray');
    &:hover {
      cursor: pointer;
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
      background: #FFFFFF;
    }
    div {
      font-size: 20px;
    }
  }

  &-prevbtn {
    left: 10px;
    div {
      margin: 0;
      transform: rotate(180deg);
    }
    &.slide1 {
      display: none;
    }
  }

  &-nextbtn {
    right: 10px;
    div {
      margin: 0;
    }
    &.slide3 {
      display: none;
    }
  }
  &-carouselcontroller {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
