/*

###################################
### ORGANSIM: ghost-frame-block ###
###################################

### INFO:

The tool-block can contain two children. On larger screens, the children will be placed side by side; On smaller screens, among each another.
This positioning can be change by using the modifier `-alternate`.

### MODIFIERS:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../templates/_default.scss';

.#{organism('ghost-frame-block')} {
  position: relative;
  width: 100%;

  @media screen and (max-width: 767px) {
    left: 25%;
  }

  .#{molecule('ghost-frame-mobile')},
  .#{molecule('ghost-frame-tablet')},
  .#{molecule('ghost-frame-desktop')} {
    position: absolute;
  }

  .all + & {
    .#{molecule('ghost-frame-desktop')} {
      &:before {
        height: 3%;
        top: 2%;
      }
    }

    .#{molecule('ghost-frame-mobile')} {
      margin-top: 30%;
      margin-left: 30%;
    }

    .#{molecule('ghost-frame-tablet')} {
      margin-top: 20%;
      margin-left: -10%;
    }
  }

  .tablet-mobile + & {
    .#{molecule('ghost-frame-desktop')} {
      display: none;
    }

    .#{molecule('ghost-frame-mobile')} {
      margin-top: 18%;
      margin-left: 50%;
    }

    .#{molecule('ghost-frame-tablet')} {
      margin-top: 10%;
      margin-left: 0%;
    }
  }

  .mobile + & {
    .#{molecule('ghost-frame-desktop')} {
      display: none;
    }

    .#{molecule('ghost-frame-tablet')} {
      display: none;
    }

    .#{molecule('ghost-frame-mobile')} {
      margin-top: 0%;
      margin-left: 20%;
      width: 17vw;
    }
  }
}
