
/*

#############################
### ORGANISM: header ###
#############################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_icon.scss';

@import '../molecules/_link.scss';

.#{organism('header')} {
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);

  @media screen and (min-width: 768px) {
    max-width: 1280px;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -640px;
    z-index: 11;
  }

  &-list {
    height: 50px;
    padding: 0;
    margin: 0;
    list-style: none;
    align-items: center;

    &-desktop {
      display: none;
      // overflow: hidden;
      // flex-direction: column;
      // align-items: flex-start;
      // display: flex;

      @media screen and (min-width: 768px) {
        margin: 0 auto;
        display: flex;
        overflow: visible;
        flex-direction: row;
        align-items: center;
      }
    }

    &-mobile {
      display: flex;
      height: 60px;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &-subnav {
      display: flex;
      overflow: hidden;
      height: 60px;

      @media screen and (min-width: 768px) {
        height: 45px;
      }
    }

  }

  &-lnk {
    white-space: nowrap;
    margin: 0 5px;
    order: 3;

    @media screen and (min-width: 768px) {
      margin: 0 20px;
      order: 1;
    }

    a {
      @include txt-font-accent;
      @include hl-h4;
      @include color-black;

      margin: 0;

      &:hover {
        @include color-blue-ribbon;
      }

      @media screen and (min-width: 768px) {
        @include txt-1;
      }
    }

    &-selected {
      @include txt-strong;
      @include txt-font-accent;
      @include txt-1;
      margin-bottom: 0;
      color: color('blue-ribbon');

      a {
        color: color('blue-ribbon');
      }
    }

    &-subnav {
      margin: 0;
      margin-left: 20px;

      a {
        @include txt;
        @include txt-2;
        @include color-black;
      }

      &-selected {

        a {
          @include txt-strong;
          margin-bottom: 0;
          color: color('blue-ribbon');
        }
      }
    }

    &-home {
      margin: 10px 0px 10px 20px;

      @media screen and (min-width: 768px) {
        margin: 10px 40px 10px 0;
      }

      a  {
        @include color-blue-ribbon;
      }
    }

    &-support {
      margin: 0 30px 0 30px;
    }

    &-lang {
      margin: 0;
    }

    &-divider {
      height: 1px;
      width: 100%;
      background-color: color('blue-ribbon');
    }
  }


  &-main-nav {
    background-color: color('white');
    border-bottom: 1px solid color('wild-sand');

    @media screen and (min-width: 768px) {
      padding: 0 30px;
    }
  }


  &-subnav {
    display: block;
    height: 60px;
    background-color: color('white');

    @media screen and (min-width: 768px) {
      padding: 0 30px;
      height: 45px;
    }
  }

  &-subnav-logo {
    display: none;
    margin: 10px 45px 10px 0;

    @media screen and (min-width: 1024px){
      display: block;
      opacity: 0;
      z-index: -10;
    }
  }

  &-icon {
    display: flex;
    align-items: center;


    & svg {
      @include ico;
      @include ico-1;
    }

    &-text {
      margin-left: 4px;

      @media screen and (min-width: 768px) {
        @include txt-logo;
      }

      &-uppercase {
        text-transform: uppercase;
      }
    }

    &-logo {

      & svg {
        @include ico;
        @include ico-blue-ribbon;
        @include drop-shadow;
        height: 30px;
        width: 30px;
        margin-right: 6px;
      }
    }
  }


  &-search {
    margin-right: 0;
    // order: 2;
    padding: 17.5px 0 12.5px 0;

    @media screen and (min-width: 768px) {
      margin-left: auto;
      order: 1;
    }

    &-button {
      background: transparent;
      border: none;
      padding: 0;
    }
  }


  &-burger-menu {
    position: fixed;
    padding: 10px;
    right: 0;
    z-index: 100;

    @media screen and (min-width: 1024px){
      display: none;
    }

    & svg {
      height: 40px;
      width: 40px;
    }

    &-btn {
      display: none;

      &:checked ~.ad-o-header-list-desktop {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10;

        .ad-o-header-lnk{
          margin: 10px 0 10px 20px;
        }

        .ad-o-header-lnk-home {
          order: 1;
          margin: 15px 0px 80px 20px;
        }

        .ad-o-header-lnk-support {
          margin-top: auto;
        }

        .ad-o-header-lnk-lang {
          margin-bottom: 30px;
        }
      }

      &:checked ~.ad-o-header-list-mobile {
        display: none;
      }
    }
  }
}

##{organism('header')}-content-indicator {
  position: absolute;
  width: 1px;
  height: calc(100% - 100vh);
  top: calc(100vh + 2px);
  left: 0;
  pointer-events: none;
}
