/*

#############################
### ORGANISM: header ########
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';

.#{utility('header')} {
  width: 100%;
  max-width: 2020px;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 17;
  background-color: color('white');
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);

  &.mainmenuopen {
    z-index: 1004;
  }

  @media (min-width: 1024px) {
    top: -35px;
  }

  &-fixed {
    top: 0;

    @media (min-width: 1024px) {
      top: -35px;
    }
  }
}

.#{organism('header')} {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1300px;
  padding-top: 14px;
  padding-left: 20px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    display: flex;
    padding-left: 30px;
  }

  &-home {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

      &-logo {
        height: 30px;
        margin-right: 6px;
        width: 30px;
      }

      &-title, &-sub-title {
        margin-left: 4px;
        @include txt-font-accent;
        font-size: 1.5em;
        color: color('blue-ribbon');

        @media (min-width: 1024px) {
          @include txt-lrg;
        }
      }
      &-sub-title {
        color: color('black');
      }
  }

  &-first-level {
    display: none;
    flex: 1 1 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;

    @media (min-width: 1024px) {
      display: flex;
    }

    &-link {
      margin: 0 20px;

      &:last-child {
        margin-left: auto;
      }
    }
  }

  &-second-level {
    display: none;
    flex: 1 1 100%;
    padding-top: 8px;
    /* Pull out to have a 100% width border */
    margin-left: -30px;
    padding-left: 146px;
    padding-bottom: 8px;
    border-top: 1px solid color('wild-sand');

    @media (min-width: 1024px) {
      display: block;
    }

    &-link {
      margin: 2px 15px;
      display: inline-block;
      white-space: nowrap;
    }
  }
}
