/*

######################
### Organism: Help ###
######################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';
@import 'components/atoms/_image.scss';
@import 'components/atoms/_icon.scss';
@import 'components/atoms/_divider.scss';

@import 'components/molecules/_link.scss';


.#{organism('help')} {

  padding-top: 84px;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  &-hl {
    @include hl;
    @include hl-h2;
    padding: 20px 0;

    &-lnk {
      @include hl;
      @include hl-h4;
      padding-left: 20px;
      margin-bottom: 0;
    }
  }

  &-copy {
    @include txt;
    @include txt-1;
  }

  &-divider {
    @include divider-header-mobile;
  }
}

/* if the ap-o-help is inside an ap--content, it has too much padding to the top. */
@media (min-width: 768px) {
  .ap--content > .#{organism('help')} {
    padding-top: 22px;
  }
}
