/*

######################
### Organism: Help ###
######################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';
@import 'components/atoms/_image.scss';
@import 'components/atoms/_icon.scss';
@import 'components/atoms/_divider.scss';

@import 'components/molecules/_link.scss';


.#{organism('help')} {
  padding: 84px 15px 0;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  &-hl {
    @include hl;
    @include hl-h2;
    padding: 20px 0;

    &-lnk {
      @include hl;
      @include hl-h4;
      padding-left: 20px;
      margin-bottom: 0;
    }
  }

  &-copy {
    @include txt;
    @include txt-1;
  }

  &-divider {
    @include divider-header-mobile;
  }
}
