/*

#############################
### ORGANISM: jumpto-list ########
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';

.#{utility('jumpto')} {
  width: 100%;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    position: relative;
  }

}

.#{organism('jumpto')} {
  width: 100%;
  position: relative;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    margin-bottom: 64px;
  }

  &-content {
    width: 100%;
    position: relative;

    @media (min-width: 768px) {
      grid-column-start: 3;
    }
  }

  &-text {
    @include txt;
  }

  &-list {
    @include jumpto-list-shadow;
    display: flex;
    flex-wrap: wrap;
    background: color('white');
    border-radius: 4px;
    margin: 0;
    margin-right: 50px;
    padding: 15px 0;

    @media (min-width: 768px) {
      flex-wrap: nowrap;
    }

  &-item {
    list-style: none;
    border-right: 1px solid fade_out(color('charade'), 0.70);
    margin: 10px 0;


    &-link {
      @include txt;
      @include txt-font-accent;
      font-size: 0.75em;

      padding: 5px 15px;

      @media (min-width: 768px) {
        @include txt-1;
        padding: 0 30px;
      }

    }

    &:last-child {
      border-right: none;
    }
  }



  }

}
