/*

#############################
### ORGANISM: jumpto-list ########
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';

.#{utility('jumpto')} {
  width: 100%;

  @media (min-width: 768px) {
    grid-column: 1 / -1;
    position: relative;
  }

}

.#{organism('jumpto')} {
  width: 100%;

  @media (min-width: 768px) {
    grid-column: 2 / -1;
    margin-bottom: 64px;
  }

  &-content {
    width: 100%;
    position: relative;

    @media (min-width: 768px) {
      grid-column-start: 3;
    }
  }

  &-text {
    @include txt;
    margin-bottom: 0.5em;
  }

  &-list {
    @include jumpto-list-shadow;
    position: relative;
    display: flex;
    background: color('white');
    border-radius: 4px;
    margin: 0;
    padding: 15px 0;
    list-style: none;
    overflow: auto;

    @media (min-width: 768px) {
      justify-content: center;
      margin-right: 50px;
    }

  }

}
