/*

##########################
### ORGANSIM: kpi-list ###
##########################

### INFO:

### MODIFIERS:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

.#{utility('kpi')} {
  margin-bottom: 2em;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 8vw;
  }

  .#{organism('kpi-list')} {
    &.#{utility('container')} {
      flex-wrap: nowrap;
      padding: 0;
      
      @media screen and (min-width: 768px) {
        padding: 0 30px;
      }
    }
  }
}

.#{organism('kpi-list')} {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
