@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';

.#{utility('made-of')} {
  margin-bottom: 7em;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 8vw;
  }
}

.#{organism('made-of')} {
  
  &-headline {
    grid-column: 3 / 19;
    @include hl-xlrg;
    margin-top: 0;
  }
  
  .#{molecule('code-snippet')} {
    grid-column: 1 / 12;
    padding: 3em 0;
  }

  &-hello-world {
    grid-column: 13 / -1;
    @include hl;
    font-size: 100px;
    margin: auto 0 0;
    opacity: 0.1;
    line-height: 1em;

    @media screen and (min-width: 768px) {
      font-size: 140px;
      line-height: 0.85;
    }
  }
}
