@import '_functions.scss';
@import '_variables.scss';

.#{organism('pixi-basic-checks')} {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 10px 25px 0 rgba(0,0,0,0.13);
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    overflow: visible;
  }
}
