@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_button.scss';

.#{organism('pixi-primary-checks')} {
  $primary-checks: &;
  border-radius: 4px;
  overflow: hidden;

  &-tabs {
    display: flex;
    border-bottom: solid 2px color('mercury');
    transition: opacity 0.2s ease;

    &-tab {
      flex-grow: 1;
      padding: 14px 20px;
      @include unset-button;
      @include txt-font-accent;
      font-size: 18px;
      text-align: left;
      color: color('white');
      background-color: transparentize(color('black'), 0.9);
      transition: color 0.2s ease, background-color 0.2s ease;
      cursor: pointer;

      @media (min-width: 768px) {
        padding: 16px 36px;
      }

      &:hover {
        background-color: transparentize(color('black'), 0.7);
      }

      &.active {
        color: color('mirage');
        background-color: color('white');
      }
    }
  }

  &-data {
    display: none;

    &.active {
      display: block;
    }
  }
}
