@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_button.scss';

.#{organism('pixi-primary-checks')} {
  $primary-checks: &;
  margin-bottom: 70px;
  border-radius: 4px;
  overflow: visible;
  // box-shadow: 0 10px 25px 0 transparentize(color('black'), 0.87);

  &-tabs {
    display: flex;
    transition: opacity 0.2s ease;

    @media (min-width: 768px) {
      width: 66.6%;
    }

    &-tab {
      flex-grow: 1;
      @include unset-button;
      padding: 14px 20px;
      @include txt-font-accent;
      font-size: 18px;
      text-align: left;
      background-color: color('alto');
      transition: color 0.2s ease, background-color 0.2s ease;
      cursor: pointer;

      @media (min-width: 768px) {
        padding: 16px 36px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }

      &:hover {
        background-color: transparentize(color('black'), 0.7);
      }

      &.active {
        color: color('mirage');
        background-color: color('white');
      }
    }
  }

  &-data {
    display: none;

    &.active {
      display: block;
    }
  }
}
