/*

#############################
### ORGANISM: code-grid ########
#############################

*/


@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';

.#{utility('resources-grid')} {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0;

  @media (min-width: 600px) {
    flex-direction: row;
  }
  @media (min-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 930px) {
    margin: 0 60px 30px 60px;
  }
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
.#{organism('resources-grid')} {
  &-text {
    width: 100%;
    padding-bottom: 20px;
  }

  &-card {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: color('white');
    box-shadow: 6px 9px 40px 0px rgba(0,0,0,0.07);
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

    &:hover {
      transform: translateY(-2px);
    }

    @media (min-width: 600px) {
      max-width: 32%;
    }
    @media (min-width: 768px) {
      max-width: 100%;
    }
    @media (min-width: 1024px) {
      max-width: 32%;
    }

    &-icon {
      height: 65px;
      width: 65px;
      margin: 25px 0px 35px 0;
    }

    &-headline {
      color: color('blue-ribbon');
    }


  }



}
