@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_color.scss';

.#{utility('sampler')} {
  margin-bottom: 7em;

  @media (max-width: 320px) {
    display: none
  }

  @media (min-width: 768px) {
    margin-bottom: 8vw;
  }

  .#{molecule('copy')} {
    grid-column: 3 / 13;
    padding: 0 20px;
    margin-bottom: 1.5em;

    @media (min-width: 768px) {
      padding-left: 20px;
      margin-bottom: 3em;
    }

    @media (min-width: 1680px) {
      grid-column: 5 /  13;
    }

    &-center {
      grid-column: 6 / 20;

      h2 {
        @include hl-lrg;
        margin: 0;
      }

      .#{atom('ico')} {
        @include ico-4;
        margin: 0 auto 0.5em;
      }
    }
  }
}

.#{organism('sampler')} {
  grid-column: 3 / -1;
  width: 100%;
  max-width: 1024px;
  padding-left: 20px;

  @media (min-width: 1680px) {
    grid-column: 5 /  -3;
    padding-left: 0;
  }
  &-header {
    background: linear-gradient(225deg,#29323c,#485563 75%);
    @include txt-3;
    @include txt-font-accent;
    color: #fff;
    padding: 1.125em 1.75em;
  }
  &-tab-bar {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    background: color('charade');
  }

  &-tab {
    cursor: pointer;
    padding: 1.125em 1.75em;
    border-right: 1px solid color('river-bed');
    background: color('charade');

    &.active {
      background: color('river-bed');

      span {
        opacity: 1;
      }
    }

    &-title {
      @include txt-3;
      @include txt-font-accent;
      color: #fff;
      opacity: 0.5;
    }
  }

  &-iframe {
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #48525c, #101923);
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
    [placeholder] {
      display: flex;
    }
    [placeholder] &-source {
      width: calc(50% - 4px);
    }
  }

  &-link {
    margin-top: 1em;
    display: inline-block;
  }
}
