@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';
@import '../atoms/_color.scss';
@import '../atoms/_text.scss';

@import '_sidebar.scss';

.#{organism('sidebar')} {
  @include sidebar;

  .nav {
    @include sidebar-nav;

    &-list {
      @include sidebar-nav-list;

      &.level-1 {
        @include sidebar-nav-list-level-1;
      }

      .nav-list {
        @include sidebar-nav-list-sublevels;
      }
    }

    &-item {
      @include sidebar-nav-item;

      &.level-1 {
        @include sidebar-nav-item-level-1;

        .nav-link {
          @include sidebar-nav-link-level-1;
        }

        .nav-trigger,
        .nav-icon {
          @include sidebar-nav-trigger-level-1;
        }

        .nav-icon .#{atom('ico')} {
          @include sidebar-nav-icon-level-1;
        }
      }

      &.level-2 {
        .nav-link {
          @include sidebar-nav-link-level-2;
        }

        .nav-trigger,
        .nav-icon {
          @include sidebar-nav-trigger-level-2;
        }

        .nav-icon .#{atom('ico')} {
          @include sidebar-nav-icon-level-2;
        }
      }

      &.level-3 {
        .nav-link {
          @include sidebar-nav-link-level-3;
        }
      }

      &.active > .nav-link {
        @include sidebar-nav-link-active;
      }

      &:hover > .nav-link {
        @include sidebar-nav-link-hover;
      }
    }

    &-link {
      @include sidebar-nav-link;
    }

    &-icon,
    &-trigger {
      @include sidebar-nav-trigger;
    }

    &-trigger {
      @include sidebar-nav-trigger-state;
    }

    &-icon .#{atom('ico')} {
      @include sidebar-nav-icon;
    }

    span.nav-link + .nav-trigger {
      width: calc(100% + 15px);
    }
  }

  .format-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    margin: 0 0 0 15px;
    padding: 10px 0px;

    :nth-child(1) {
      margin-left: 0;
    }

    :nth-child(3) {
      margin-left: 10px;
    }


    &-item {
      margin: 5px;

      button {
        @include txt;
        @include txt-strong;
        @include txt-3;
        @include format-bubble-shadow;
        line-height: 12px;
        padding: 8px;
        min-width: 80px;
        background: color('white');
        border-radius: 30px;
        cursor: pointer;
        outline: none;


        &.Stories {
          border: 2px solid color('pizazz');
          color: color('pizazz');

          &:hover {
            transition: background 0.2s ease-in;
            background: color('pizazz');
            color: color('white');
          }
        }

        &.Email {
          transition: background 0.2s ease-in;
          border: 2px solid color('malachite');
          color: color('malachite');

          &:hover {
            background: color('malachite');
            color: color('white');
          }
        }

        &.Ads {
          transition: background 0.2s ease-in;
          border: 2px solid color('pink-flamingo');
          color: color('pink-flamingo');

          &:hover {
            background: color('pink-flamingo');
            color: color('white');
          }
        }

        &.Websites {
          border: 2px solid color('blue-ribbon');
          color: color('blue-ribbon');

          &:hover {
            transition: background 0.2s ease-in;
            background: color('blue-ribbon');
            color: color('white');
          }
        }

      }
    }
  }
}