@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_divider.scss';

.#{utility('stage')} {
  grid-column: 1 / -1;
}

.#{organism('stage')} {
  position: relative;
  width: 100%;
  margin-bottom: calc((100vh - 66vh) + 35%);

	@media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row;
    margin-bottom: calc((100vh - 66vh) + 15%);
  }

  &-clipped-background {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      border-bottom-left-radius: 80px;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 101%);
      clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 101%);
      padding-bottom: calc(100vh - 33vh);


      @media screen and (min-width: 1080px) {
        border-bottom-left-radius: 100px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 101%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 101%);
      }
  }

	&-content {
    position: relative;
    padding: 30px 0;
    margin: 20px;

		@media screen and (min-width: 1024px){
      display: flex;
      max-width: 75%;
    }

    &-headlines {
      margin-left: 25px;
    }

  }

  &-image {
    width: 100%;
    top: 0;
    margin-bottom: 100px;

    @media screen and (min-width: 768px) {
      width: 40%;
      margin-top: 100px;
      margin-bottom: -200px;
      right: 0;
    }
  }

  &-formats {
    position: absolute;
    width: 100%;
    margin: 50px 25vw 0;

    @media screen and (min-width: 1024px) {
      left: 35%;
      top: 75%;
      width: 50%;
    }
  }



	.hl {
    @include hl;
    @include hl-stage;
		@include color-white;
		margin: 0;


		&-sub {
      @include txt;
      @include txt-stage;
      @include color-white;

      &:after {
        content: '';
        display: block;
        margin-bottom: 30px;
      }
    }

    &-inline {
      height: 28px;
      display: inline-block;
      width: 180px;
    }

		&-stories {
			@include color-stories;
		}

		&-ads {
			@include color-ads;
		}

		&-emails {
			@include color-e-mails;
		}
  }


  .dark-blue {
    @include gradient-default;

    & ~ .ad-o-stage-content .hl,
    & ~ .ad-o-stage-content .hl-sub {
      @include color-websites;
    }
  }

  .light-blue {
    @include gradient-websites;

    & ~ .ad-o-stage-content .hl,
    & ~ .ad-o-stage-content .hl-sub {
      @include color-websites;
    }
  }

  .orange {
    @include gradient-stories;

    & ~ .ad-o-stage-content .hl,
    & ~ .ad-o-stage-content .hl-sub {
      @include color-stories;
    }
  }

  .purple {
    @include gradient-ads;

    & ~ .ad-o-stage-content .hl,
    & ~ .ad-o-stage-content .hl-sub {
      @include color-ads;
    }
  }

  .green {
    @include gradient-e-mails;

    & ~ .ad-o-stage-content .hl,
    & ~ .ad-o-stage-content .hl-sub {
      @include color-e-mails;
    }
  }

  .ad-a-ico {
    height: 5em;
    width: 5em;
    margin-top: -1.5em;
    stroke: color('white');
  }
}
