@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';

.#{utility('stage')} {
  overflow: hidden;

  .#{organism('case-band')} {
    grid-column: 1 / -1;
    width: 150vw;
    padding-top: 84.43%;
    margin-top: -40%;
    margin-right: -150vw;

    @media screen and (min-width: 768px) {
      width: 100%;
      padding-top: 54.43%;
      margin-top: -30%;
      margin-right: 0;
    }
  }

  .#{organism('ghost-frame-block')} {
    margin-top: -10%;
    grid-column: 15 / -1;

    @media screen and (min-width: 768px) {
      margin-top: -65%;
      grid-column: 14 / -2;
    }

    @media screen and (min-width: 1024px) {
      grid-column: 13 / -3;
      margin-top: -60%;
    }

    .#{molecule('ghost-frame-mobile')} {
      max-width: 25%;
      padding: 2.5% 1% 1.5%;
    }

    .#{molecule('ghost-frame-tablet')} {
      max-width: 38%;
      padding: 3% 1% 1%;
    }

    .#{molecule('ghost-frame-desktop')} {
      max-width: 90%;
      padding: 3% 1.5% 1.5%;
    }
  }

  .#{molecule('format-visual-websites')},
  .#{molecule('format-visual-stories')},
  .#{molecule('format-visual-email')} {
    grid-column: 9 / -1;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -30%;

    @media screen and (min-width: 768px) {
      position: static;
      margin-top: -50%;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 1024px) {
      margin-top: -40%;
    }
  }
}

.#{organism('stage')} {
  grid-column: 1 / -1;
  position: relative;
  width: 100%;
  margin-left: 30px;
  border-bottom-left-radius: 4em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2em), 4em 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2em), 4em 100%, 0% 100%);

  @media screen and (min-width: 768px) {
    margin-left: 64px;
    border-bottom-left-radius: 6.250em;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3em), 6.250em 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3em), 6.250em 100%, 0% 100%);
  }

  &-default { @include gradient-default; }
  &-websites { @include gradient-websites; }
  &-stories { @include gradient-stories; }
	&-ads { @include gradient-ads; }
	&-emails { @include gradient-e-mails; }

  div.#{utility('container')} {
    padding: 0 2em;

    @media screen and (min-width: 768px) {
      padding: 0 0 0 2.5em;
    }
  }

	&-content {
    position: relative;
    margin: 20vw 0;

    @media screen and (min-width: 768px) {
      grid-column: 3 / 16;
      margin: 7vw 0 11vw;
    }

    &-icon {
      @include ico;
      @include ico-2;
      position: absolute;
      left: 0;
      bottom: calc(100% + 1em);
      padding: 0.5em;
      border: 1px solid color('white');
      border-radius: 50%;

      @media screen and (min-width: 768px) {
        left: auto;
        bottom: auto;
        right: calc(100% + 0.75em);
        top: -0.6em;
      }

      @media screen and (min-width: 1024px) {
        width: 3em;
        height: 3em;
        right: calc(100% + 1em);
        top: -1.5em;
        padding: 1em;
        border-width: 2px;
      }
    }

    &-headline {
      @include hl;
      @include hl-xlrg;
      @include color-white;
      margin: 0;
    }

    &-subline {
      @include txt;
      @include txt-1;
      @include color-white;
      margin-top: 0;

      @media screen and (min-width: 768px) {
        @include txt-2;
      }

      @media screen and (min-width: 1024px) {
        @include txt-lrg;
      }
    }
  }

  &-websites, &-ads {
    .#{organism('stage')} {
      &-content {
        &-icon { @include fill-websites; border-color: color('white'); }
        &-headline { @include color-websites; }
        &-subline { @include color-websites; }
      }
    }
  }

  &-emails, &-stories {
    .#{organism('stage')} {
      &-content {
        &-icon { @include fill-stories; border-color: color('ultramarine'); }
        &-headline { @include color-stories; }
        &-subline { @include color-stories; }
      }
    }
  }
}
