/*

############################
### ORGANSIM: tool-block ###
############################

### INFO:

The tool-block can contain two children. On larger screens, the children will be placed side by side; On smaller screens, among each another.
This positioning can be change by using the modifier `-alternate`.

### MODIFIERS:

`-alternate`
  Alternates the position of the children on every odd number.

*/

@import 'extends';
@import 'functions';
@import 'mixins';
@import 'variables';

@import '../atoms/_headline';

.#{organism('tool-block')} {
  h2 {
    @include hl;
    @include hl-h1;
    margin-top: 0;
  }



  div:first-child {
    grid-column: 3 / span 9;
  }

  div:last-child {
    grid-column: 14 / span 9;
  }

  @media (min-width: 768px) {
    &.-alternate {
      &:nth-child(odd) {
        :first-child {
          grid-column: 14 / span 9;
          grid-row: 1;
        }

        :last-child {
          grid-column: 3 / span 9;
        }
      }
    }
  }
}
