/*

#############################
### ORGANISM: translation-hint ###
#############################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_text.scss';
@import '../atoms/_headline.scss';

.#{organism('translation-hint')} {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;

  &-wrapper {
    @include txt;
    @include txt-2;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1em 30px;
    background-color: color('white');
    border-top: 5px solid color('turbo');
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.07);
  }
}
