/*

#############################
### ORGANISM: translation-hint ###
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_headline.scss';

.#{organism('translation-hint')} {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;

  @media (max-width: 767px) {
    display: none
  }

  &-wrapper {
    @include txt;
    @include txt-2;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1em 30px;
    background-color: color('white');
    border-top: 5px solid color('school-bus');
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,0.07);
  }

    &-link {
      display: inline-block;
    }

  .#{molecule('banner')} + & {
      bottom: 25px;
  }
}
