/*

#############################
### ORGANISM: video-slider ########
#############################

*/


@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_headline.scss';
@import 'components/atoms/_text.scss';

.#{utility('video-slider')} {
  padding: 0 60px 40px 60px;
}
.#{organism('video-slider')} {
  &-text {
    width: 100%;
  }

  &-carousel {
    .amp-carousel-button {
      background-color: color('white');
      color: black;
      height: 75px;
      width: 75px;
      border-radius: 50%;
      outline: none;
      // background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M15 8.25H5.87l4.19-4.19L9 3 3 9l6 6 1.06-1.06-4.19-4.19H15v-1.5z" fill="#fff" /></svg>');
    }
  }
}
