{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}

  <div class="container xl about-overview-block">
    <section class="hero">
      <div class="text">
        <h1>{{_(doc.hero.title)}}</h1>
        <p>{{_(doc.hero.subtitle)}}</p>
      </div>
    </section>

    <div class="video">
      <amp-youtube
          data-videoid="{{doc.video}}"
          layout="responsive"
          width="480" height="270">
      </amp-youtube>
    </div>


    {% with points = doc.points %}
      {% include "/views/partials/points.html" %}
    {% endwith %}
  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}