{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}
  <div class="container xl about-who-block">
    <div class="hero-images">
      <amp-img class="triangle"
          noloading
          width=1424
          height=2095
          layout=responsive
          src="/static/img/about/who-use-amp/{{doc.hero.triangle_img}}">
      </amp-img>
      <amp-img class="lines"
          noloading
          width=579
          height=481
          layout=responsive
          src="/static/img/about/who-use-amp/{{doc.hero.line_img}}">
      </amp-img>
      <amp-img class="phones"
          noloading
          width=3104
          height=1926
          layout=responsive
            srcset="{{doc.hero.hero_img_base + '.png 3104w'}},
                    {{doc.hero.hero_img_base + '@1_5x.png 2049w'}},
                    {{doc.hero.hero_img_base + '@1x.png 1552w'}}"
            src="{{doc.hero.hero_img_base + '.png'}}">
      </amp-img>
    </div>
    <section class="hero">
      <h1 class="title">{{_(doc.hero.title)}}</h1>
      <p class="subtitle">{{_(doc.hero.subtitle)}}</p>
    </section>
    <section class="user-categories card-container">
      {% for card in doc.cards %}
        <a class="card" id="{{card.filename|slug}}" href="{{g.doc('/content/learn/who/' ~ card.filename|slug ~ '.yaml', locale=doc.locale).url.path}}">
          <amp-img
              noloading
              height=150
              layout=fixed-height
              src="/static/img/about/who-use-amp/{{card.icon}}">
          </amp-img>
          <h4 class="user-name">{{card.name}}</h4>
          <div class="underlined cta user-link">{{_(card.cta)}}</div>
        </a>
      {% endfor %}
    </section>
  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}
