{% extends "/views/base.html" %}

{% block main %}
  <div class="container about-who-block">
    {{ navmarkup|safe }}
    <section class="hero">
      <amp-img class="icon"
          noloading
          width={{doc.hero.hero_icon_width}}
          height={{doc.hero.hero_icon_height}}
          layout=responsive
          src="/static/img/about/who-use-amp/{{doc.hero.hero_icon}}">
      </amp-img>
      <div class="hero-images">
        <amp-img class="triangle"
            noloading
            width=1424
            height=2095
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.triangle_img}}">
        </amp-img>
        <amp-img class="phones"
            noloading
            width=1321
            height=1891
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.hero_img}}">
        </amp-img>
      </div>
      <p class="label">{{doc.title}}</p>
      <h1 class="title">{{_(doc.hero.title)}}</h1>
      <p class="small paragraph">{{_(doc.hero.paragraph)}}</p>
      <div class="example-users">
        {% for user in doc.hero.users %}
          <div class="example-user-logo">
            <amp-img
                noloading
                width={{user.logo_width}}
                height={{user.logo_height}}
                layout=responsive
                src="/static/img/about/who-use-amp/{{user.logo}}">
            </amp-img>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="why-use">
      <h3>{{_(doc.why.title)}}</h3>
      <div class="reasons">
        {% for reason in doc.why.reasons %}
          <div class="reason">
            <amp-img
                noloading
                height=140
                layout=fixed-height
                src="/static/img/about/who-use-amp/{{reason.icon}}">
            </amp-img>
            <h4>{{_(reason.title)}}</h4>
            <p class="small">{{_(reason.paragraph)}}</p>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="case-study">
      <h3>{{_(doc.case.title)}}</h3>
    </section>
  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}