{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}
  <div class="container xl about-who-block">
    <section class="hero">
      <div class="hero-images">
        <amp-img class="triangle"
            noloading
            width=1424
            height=2095
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.triangle_img}}">
        </amp-img>
        <amp-img class="lines"
            noloading
            width=2001
            height=1681
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.line_img}}">
        </amp-img>
        <amp-img class="phones"
            noloading
            width=2001
            height=1681
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.hero_img}}">
        </amp-img>
      </div>
      <h1 class="title">{{_(doc.hero.title)}}</h1>
      <div class="example-users">
        {% for user in doc.hero.users %}
          <div class="example-user-logo">
            <amp-img
                noloading
                width={{user.logo_width}}
                height={{user.logo_height}}
                layout=responsive
                src="/static/img/about/who-use-amp/{{user.logo}}">
            </amp-img>
          </div>
        {% endfor %}
      </div>
      <div class="inline-toc">
        <ul>
          {% for card in doc.cards %}
            <li>
              <a href="#{{card.name|slug}}">{{card.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
    <section class="user-categories card-container">
      {% for card in doc.cards %}
        <div class="card" id="{{card.name|slug}}">
          <amp-img
              noloading
              height=90
              layout=fixed-height
              src="/static/img/about/who-use-amp/{{card.icon}}">
          </amp-img>
          <h4 class="user-name">{{card.name}}</h4>
          <a class="underlined cta user-link" href="{{g.doc('/content/learn/who/' ~ card.name|slug ~ '.yaml').url.path}}">{{_(card.cta)}}</a>
        </div>
      {% endfor %}
    </section>
  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}