{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}
  <div class="container lg">
    <div class="content">
      <article class="post">
        <span class="post-tag">{{_('Case Studies')}}</span>
        <h1 class="post-title">{{ _(doc.titles('page')) or _(doc.title) }}</h1>
        <div class="post-content">
          <div class="inline-toc">
            <ul>
              <li>
                <a href="{{g.url('/content/learn/case-studies.html', locale=doc.locale).path}}"{% if doc.base == 'case-studies' %} class="active"{% endif %}>All</a>
              </li>
              {% for item in g.collection('/content/learn/case-studies/category').docs(recursive=false, locale=doc.locale) %}
              <li>
                <a href="{{item.url.path}}"{% if item.title|slug == doc.base %} class="active"{% endif %}>{{_(item.title)}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>

          {{doc.html|render|safe}}

          <div class="card-container grid case">
          {% for item in g.collection('/content/learn/case-studies').docs(recursive=false, locale=doc.locale)|reverse %}
            {% if doc.base == 'case-studies' or doc.base == item.category|slug %}
              {% with doc = item, isCase = true %}
                {% include "/views/partials/grid-card.html" %}
              {% endwith %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </article>
    </div>
  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}