{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block nav %}
  {{ navmarkup|safe }}
{% endblock %}

{% block main %}
  <div class="container main">
    {{ navmarkup|safe }}
    <div class="content">
      <article class="post">
        <span class="post-tag">Case Studies</span>
        <h1 class="post-title">{{ doc.titles('page') or doc.title }}</h1>
        <div class="post-content">
          <div class="toc">
            <ul>
              <li>
                <a href="{{g.url('/content/learn/case-studies.html', locale=doc.locale).path}}"{% if doc.title == 'Case Studies' %} class="active"{% endif %}>All</a>
              </li>
              {% for item in g.collection('/content/learn/case-studies/category').docs(recursive=false, locale=doc.locale) %}
              <li>
                <a href="{{item.url.path}}"{% if item.title == doc.title %} class="active"{% endif %}>{{item.title}}</a>
              </li>
              {% endfor %}
            </ul>
          </div>

          {{doc.html|render|safe}}

          <div class="card-container grid case">
          {% for item in g.collection('/content/learn/case-studies').docs(recursive=false, locale=doc.locale)|reverse %}
            {% if doc.title == 'Case Studies' or doc.title == item.category %}
              {% with doc = item, isCase = true %}
                {% include "/views/partials/grid-card.html" %}
              {% endwith %}
            {% endif %}
          {% endfor %}
          </div>
        </div>
      </article>
    </div>
  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}