{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}
  <div class="container xl about-overview-block">
    <section class="hero">
      <div class="images">
        <amp-img class="triangle"
            noloading
            height=1575
            width=1076
            layout=responsive
            src="/static/img/about/overview/{{doc.hero.triangle_img}}">
        </amp-img>
        <amp-img class="lines"
            noloading
            height=692
            width=663
            layout=responsive
            src="/static/img/about/overview/{{doc.hero.line_img}}">
        </amp-img>
        <amp-img class="phone"
            noloading
            height=1148
            width=1112
            layout=responsive
            src="/static/img/about/overview/{{doc.hero.phone_img}}">
        </amp-img>
      </div>
      <div class="text">
        <h1>{{_(doc.hero.title)}}</h1>
      </div>
    </section>

    <section class="core">
      {% for component in doc.core.components %}
        <h3>{{_(component.title)}}</h3>
        <div class="subtitle">{{_(component.subtitle)|markdown|safe}}</div>
        <div class="description">{{_(component.description)|markdown|safe}}</div>
      {% endfor %}
    </section>
  </div>

  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}

{% endblock %}