{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  <div class="about-who-block {{doc.vertical_class}}">
    {{ navmarkup|safe }}
    <div class="container xl">
      <section class="hero">
          {% if doc.hero.hero_icon %}
            <amp-img class="icon"
                noloading
                width="{{doc.hero.hero_icon_width}}"
                height="{{doc.hero.hero_icon_height}}"
                layout=responsive
                src="/static/img/about/who-use-amp/{{doc.hero.hero_icon}}">
            </amp-img>
          {% endif %}
        <div class="hero-images desktop-only">
          {% if doc.hero.triangle_img %}
          <amp-img class="triangle"
              noloading
              width="{{doc.hero.triangle_img_width}}"
              height="{{doc.hero.triangle_img_height}}"
              layout=responsive
              src="/static/img/about/who-use-amp/{{doc.hero.triangle_img}}">
          </amp-img>
          {% endif %}
          {% if doc.hero.lines_img %}
          <amp-img class="lines"
              noloading
              width="{{doc.hero.lines_img_width}}"
              height="{{doc.hero.lines_img_height}}"
              layout=responsive
              src="/static/img/about/who-use-amp/{{doc.hero.lines_img}}">
          </amp-img>
          {% endif %}
          {% if doc.hero.hero_img_base %}
          <amp-img class="phones"
              noloading
              width="{{doc.hero.hero_img_width}}"
              height="{{doc.hero.hero_img_height}}"
              layout=responsive
                srcset="{{doc.hero.hero_img_base + '.png ' ~ doc.hero.hero_img_width ~ 'w'}},
                        {{doc.hero.hero_img_base + '@1_5x.png ' ~ (doc.hero.hero_img_width * 0.66) ~ 'w'}},
                        {{doc.hero.hero_img_base + '@1x.png ' ~ (doc.hero.hero_img_width * 0.5) ~ 'w'}}"
                src="{{doc.hero.hero_img_base + '.png'}}">
          </amp-img>
          {% endif %}
        </div>
        <p class="label">{{doc.title}}</p>
        <div class="tablet-wrapper">
          <h1 class="title">{{_(doc.hero.title)}}</h1>
          <p class="small paragraph">{{_(doc.hero.paragraph)}}</p>
        </div>
        <div class="example-users">
          {% for user in doc.hero.users %}
            <div class="example-user-logo{% if user.class %} {{user.class}}{% endif %}">
              <amp-img
                  noloading
                  width={{user.logo_width}}
                  height={{user.logo_height}}
                  layout=responsive
                  src="/static/img/about/who-use-amp/{{user.logo}}">
              </amp-img>
            </div>
          {% endfor %}
        </div>
      </section>
      <section class="why-use">
        <h3>{{_(doc.why.title)}}</h3>
        <div class="reasons desktop">
          {% for reason in doc.why.reasons %}
            <div class="reason">
              <amp-img
                  noloading
                  height=140
                  layout=fixed-height
                  src="/static/img/about/who-use-amp/{{reason.icon}}">
              </amp-img>
              <h4>{{_(reason.title)}}</h4>
              <p class="small">{{_(reason.paragraph)}}</p>
            </div>
          {% endfor %}
        </div>
        <div class="reasons tablet">
          <amp-carousel class="latest-carousel"
            height="550"
            layout="fixed-height"
            type="slides">
          <div class="card-container">
          {% for reason in doc.why.reasons %}
              <div class="reason card">
                <amp-img
                    noloading
                    height=150
                    width=150
                    layout=responsive
                    src="/static/img/about/who-use-amp/{{reason.icon}}">
                </amp-img>
                <h4>{{_(reason.title)}}</h4>
                <div><p class="small">{{_(reason.paragraph)}}</p></div>
              </div>
              {% if loop.last and loop.index is not divisibleby 2 %}
                {% for number in range(0, 2 - loop.index % 2) %}
                  <div class="card card--spacer"></div>
                {% endfor %}
              {% endif %}
              {% if not loop.last and loop.index is divisibleby 2 %}
              </div>
              <div class="card-container">
              {% endif %}
          {% endfor %}
          </div>
          </amp-carousel>
        </div>
        <div class="reasons mobile">
          <amp-carousel class="latest-carousel"
            height="550"
            layout="fixed-height"
            type="slides">
          {% for reason in doc.why.reasons %}
            <div class="card-container">
              <div class="reason card">
                <amp-img
                    noloading
                    height=150
                    width=150
                    layout=responsive
                    src="/static/img/about/who-use-amp/{{reason.icon}}">
                </amp-img>
                <h4>{{_(reason.title)}}</h4>
                <div><p class="small">{{_(reason.paragraph)}}</p></div>
              </div>
            </div>
          {% endfor %}
          </amp-carousel>
        </div>
      </section>

      {% if doc.points %}
        {% with points = doc.points %}
          {% include "/views/partials/points.html" %}
        {% endwith %}
      {% endif %}

      {% if doc.case %}
        <section class="case-study">
          <h3>{{_(doc.case.title)}}</h3>
          <div class="card-container grid case desktop">
            {% for case in doc.case.cases %}
              {% set locale = doc.locale %}
              {% with doc = g.doc('/content/learn/case-studies/' ~ case.filename, locale=doc.locale), isCase = true %}
                {% include "/views/partials/grid-card.html" %}
              {% endwith %}
            {% endfor %}
          </div>
          <amp-carousel
              height="430"
              layout="fixed-height"
              type="slides">
          {% for case in doc.case.cases %}
            <div class="card-container grid case">
            {% with doc = g.doc('/content/learn/case-studies/' ~ case.filename, locale=doc.locale), isCase = true %}
              {% include "/views/partials/grid-card.html" %}
            {% endwith %}
            </div>
          {% endfor %}
          </amp-carousel>

          {% if doc.case.lines_img %}
            <amp-img class="lines"
                noloading
                width={{doc.case.lines_img_width}}
                height={{doc.case.lines_img_height}}
                layout=responsive
                src="/static/img/about/who-use-amp/{{doc.case.lines_img}}">
            </amp-img>
          {% endif %}
        </section>
      {% endif %}
    </div>

    {% if doc.large_cta %}
      {% with large_cta = doc.large_cta %}
        {% include "/views/partials/large-cta.html" %}
      {% endwith %}
    {% endif %}
  </div>
  {% if doc.cta %}
    {% with cta = doc.cta %}
      {% include "/views/partials/footer-cta.html" %}
    {% endwith %}
  {% endif %}
  {% include "/views/partials/footer.html" %}

{% endblock %}