{% extends "/views/base.html" %}

{% block main %}
  {{ navmarkup|safe }}
  <div class="container xl">
    <section class="hero">
      <div class="hero-images desktop-only">
        {% if doc.hero.triangle_img %}
        <amp-img class="triangle"
            noloading
            width="{{doc.hero.triangle_img_width}}"
            height="{{doc.hero.triangle_img_height}}"
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.triangle_img}}">
        </amp-img>
        {% endif %}
        {% if doc.hero.lines_img %}
        <amp-img class="lines"
            noloading
            width="{{doc.hero.lines_img_width}}"
            height="{{doc.hero.lines_img_height}}"
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.lines_img}}">
        </amp-img>
        {% endif %}
        {% if doc.hero.hero_img_base %}
        <amp-img class="phones"
            noloading
            width="{{doc.hero.hero_img_width}}"
            height="{{doc.hero.hero_img_height}}"
            layout=responsive
              srcset="{{doc.hero.hero_img_base + '.png ' ~ doc.hero.hero_img_width ~ 'w'}},
                      {{doc.hero.hero_img_base + '@1_5x.png ' ~ (doc.hero.hero_img_width * 0.66) ~ 'w'}},
                      {{doc.hero.hero_img_base + '@1x.png ' ~ (doc.hero.hero_img_width * 0.5) ~ 'w'}}"
              src="{{doc.hero.hero_img_base + '.png'}}">
        </amp-img>
        {% endif %}
      </div>

      <div class="tablet-wrapper">
        <h1 class="title">{{_(doc.hero.title)}}</h1>
        <p class="small paragraph">{{_(doc.hero.paragraph)}}</p>
        <a class="button" href="{{doc.hero.cta_external_url}}">
          {{_(doc.hero.cta)}}
        </a>
      </div>

      <div class="hero-images-tablet">
        {% if doc.hero.triangle_img %}
        <amp-img class="triangle"
            noloading
            width="{{doc.hero.triangle_img_width}}"
            height="{{doc.hero.triangle_img_height}}"
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.triangle_img}}">
        </amp-img>
        {% endif %}
        {% if doc.hero.lines_img %}
        <amp-img class="lines"
            noloading
            width="{{doc.hero.lines_img_width}}"
            height="{{doc.hero.lines_img_height}}"
            layout=responsive
            src="/static/img/about/who-use-amp/{{doc.hero.lines_img}}">
        </amp-img>
        {% endif %}
        {% if doc.hero.hero_img_base %}
        <amp-img class="phones"
            noloading
            width="{{doc.hero.hero_img_width}}"
            height="{{doc.hero.hero_img_height}}"
            layout=responsive
              srcset="{{doc.hero.hero_img_base + '.png ' ~ doc.hero.hero_img_width ~ 'w'}},
                      {{doc.hero.hero_img_base + '@1_5x.png ' ~ (doc.hero.hero_img_width * 0.66) ~ 'w'}},
                      {{doc.hero.hero_img_base + '@1x.png ' ~ (doc.hero.hero_img_width * 0.5) ~ 'w'}}"
              src="{{doc.hero.hero_img_base + '.png'}}">
        </amp-img>
        {% endif %}
      </div>
    </section>

    <section class="what">
      <h3>{{_(doc.what.title)}}</h3>
      <div class="flex">
        <p class="small paragraph">{{_(doc.what.paragraph)}}</p>
        <div class="testimonial">
          <blockquote>{{_(doc.what.testimonial.quote)}}</blockquote>
          <div class="byline">
            &mdash; {{_(doc.what.testimonial.byline)}}
          </div>
          <div class="role">
            {{_(doc.what.testimonial.role)}}
          </div>
        </div>
      </div>
    </section>

  </div>

  <div class="container xl">

    <section class="why-use">
      <h3>{{_(doc.why.title)}}</h3>
      <div class="reasons desktop">
        {% for reason in doc.why.reasons %}
          <div class="reason {{reason.icon}}">
            <amp-img
                noloading
                height=140
                layout=fixed-height
                src="/static/img/about/who-use-amp/amp-ads/{{reason.icon}}.svg">
            </amp-img>
            <h4>{{_(reason.title)}}</h4>
            <p class="small">{{_(reason.paragraph)}}</p>
          </div>
        {% endfor %}
      </div>
      <div class="reasons tablet">
        <amp-carousel class="latest-carousel"
          height="550"
          layout="fixed-height"
          type="slides">
        <div class="card-container">
        {% for reason in doc.why.reasons %}
            <div class="reason card {{reason.icon}}">
              <amp-img
                  noloading
                  height=150
                  width=150
                  layout=responsive
                  src="/static/img/about/who-use-amp/amp-ads/{{reason.icon}}.svg">
              </amp-img>
              <h4>{{_(reason.title)}}</h4>
              <div><p class="small">{{_(reason.paragraph)}}</p></div>
            </div>
            {% if loop.last and loop.index is not divisibleby 2 %}
              {% for number in range(0, 2 - loop.index % 2) %}
                <div class="card card--spacer"></div>
              {% endfor %}
            {% endif %}
            {% if not loop.last and loop.index is divisibleby 2 %}
            </div>
            <div class="card-container">
            {% endif %}
        {% endfor %}
        </div>
        </amp-carousel>
      </div>
      <div class="reasons mobile">
        <amp-carousel class="latest-carousel"
          height="550"
          layout="fixed-height"
          type="slides">
        {% for reason in doc.why.reasons %}
          <div class="card-container">
            <div class="reason card {{reason.icon}}">
              <amp-img
                  noloading
                  height=150
                  width=150
                  layout=responsive
                  src="/static/img/about/who-use-amp/amp-ads/{{reason.icon}}.svg">
              </amp-img>
              <h4>{{_(reason.title)}}</h4>
              <div><p class="small">{{_(reason.paragraph)}}</p></div>
            </div>
          </div>
        {% endfor %}
        </amp-carousel>
      </div>
    </section>
  </div> <!-- centering container -->

  <section class="difference">
    <h3>{{_(doc.difference.title)}}</h3>

    <div class="video-container">

      <amp-img
        class="lines"
        noloading
        width=1200
        height=800
        layout=responsive
        src="/static/img/about/who-use-amp/amp-ads/lines_4.svg">
      </amp-img>

      <amp-video
        class="video"
        src="/static/video/amp_ad_video.mp4"
        poster="/static/video/amp_ad_video_poster.png"
        layout="responsive"
        width="1050" height="732" autoplay loop >
          <div fallback>
            <p>{{_('Your browser doesn’t support HTML5 video')}}</p>
          </div>
      </amp-video>

      <amp-img
          noloading
          width=1560
          height=2009
          layout="responsive"
          class="phone-overlay one"
          src="/static/img/about/who-use-amp/amp-ads/video_phone.png">
      </amp-img>

      <amp-img
          noloading
          width=1560
          height=2009
          layout="responsive"
          class="phone-overlay two"
          src="/static/img/about/who-use-amp/amp-ads/video_phone.png">
      </amp-img>

      <amp-img
          noloading
          width=132
          height=33
          class="logo one"
          src="/static/img/about/who-use-amp/amp-ads/logo-ads-blue.svg">
      </amp-img>

      <div class="logo two">
        {{_('Regular Ad')}}
      </div>

    </div>
  </section>


  <section class="large-cta testimonial">
    <blockquote>{{_(doc.experiencequote.quote)}}</blockquote>
    <div class="byline">&mdash; {{_(doc.experiencequote.byline)}}</div>
    <div class="role">{{_(doc.experiencequote.role)}}</div>
  </section>

  <section class="experience desktop-only">
    <h3>{{_(doc.experience.title)}}</h3>
    <amp-img
        noloading
        width=672
        height=800
        class="shape"
        src="/static/img/about/who-use-amp/amp-ads/experience/shape_2.svg">
    </amp-img>
    <div class="logo ads">
      {{_('AMP Ad')}}
    </div>
    <div class="logo landing-page">
      {{_('AMP Landing Page')}}
    </div>
    <div class="logo page">
      {{_('AMP Page')}}
    </div>
    <amp-img
        noloading
        width=348
        height=300
        class="lines lines-1"
        src="/static/img/about/who-use-amp/amp-ads/experience/lines_1.svg">
    </amp-img>
    <amp-img
        noloading
        width=209
        height=225
        class="lines lines-2"
        src="/static/img/about/who-use-amp/amp-ads/experience/lines_2.svg">
    </amp-img>
    <amp-img
        noloading
        width=315
        height=200
        class="lines lines-3"
        src="/static/img/about/who-use-amp/amp-ads/experience/lines_3.svg">
    </amp-img>
    <amp-img
        width=1979
        height=1735
        class="phones"
        layout=responsive
        srcset="/static/img/about/who-use-amp/amp-ads/experience/amp_ads_steps.png 1979w,
                /static/img/about/who-use-amp/amp-ads/experience/amp_ads_steps@1x.png 989w"
        src="/static/img/about/who-use-amp/amp-ads/experience/amp_ads_steps.png">
    </amp-img>
  </section>

  <div class="experience-mini mobile-down">
    <amp-img
        height=1764
        width=2092
        layout=responsive
        src="/static/img/about/who-use-amp/amp-ads/experience/mobile-flattened.png">
    </amp-img>
  </div>

  <div class="container xl">

    <section class="who-for">
      <h3>{{_(doc.who.title)}}</h3>
      <p class="small paragraph subtitle">{{_(doc.who.subtitle)}}</p>
      <div class="reasons desktop">
        {% for reason in doc.who.reasons %}
          <div class="reason">
            <amp-img
                noloading
                height=36
                layout=fixed-height
                class="number"
                src="/static/img/about/who-use-amp/{{reason.icon}}">
            </amp-img>
            <h4>{{_(reason.title)}}</h4>
            <p class="small">{{_(reason.paragraph)}}</p>
          </div>
        {% endfor %}
      </div>
      <div class="reasons tablet">
        <amp-carousel class="latest-carousel"
          height="550"
          layout="fixed-height"
          type="slides">
        <div class="card-container">
        {% for reason in doc.who.reasons %}
            <div class="reason card">
              <amp-img
                  noloading
                  height=150
                  width=150
                  layout=responsive
                  src="/static/img/about/who-use-amp/{{reason.icon}}">
              </amp-img>
              <h4>{{_(reason.title)}}</h4>
              <div><p class="small">{{_(reason.paragraph)}}</p></div>
            </div>
            {% if loop.last and loop.index is not divisibleby 2 %}
              {% for number in range(0, 2 - loop.index % 2) %}
                <div class="card card--spacer"></div>
              {% endfor %}
            {% endif %}
            {% if not loop.last and loop.index is divisibleby 2 %}
            </div>
            <div class="card-container">
            {% endif %}
        {% endfor %}
        </div>
        </amp-carousel>
      </div>
      <div class="reasons mobile">
        <amp-carousel class="latest-carousel"
          height="550"
          layout="fixed-height"
          type="slides">
        {% for reason in doc.who.reasons %}
          <div class="card-container">
            <div class="reason card">
              <amp-img
                  noloading
                  height=150
                  width=150
                  layout=responsive
                  src="/static/img/about/who-use-amp/{{reason.icon}}">
              </amp-img>
              <h4>{{_(reason.title)}}</h4>
              <div><p class="small">{{_(reason.paragraph)}}</p></div>
            </div>
          </div>
        {% endfor %}
        </amp-carousel>
      </div>
    </section>

  </div>

  <section class="users">
    {% for user in doc.users %}
      <div class="user-logo{% if user.class %} {{user.class}}{% endif %}">
        <amp-img
            noloading
            width={{user.logo_width}}
            height={{user.logo_height}}
            layout=responsive
            class="img"
            src="/static/img/about/who-use-amp/{{user.logo}}">
        </amp-img>
      </div>
    {% endfor %}
  </section>

  <section class="large-cta testimonial">
    <blockquote>{{_(doc.whoquote.quote)}}</blockquote>
    <div class="byline">&mdash; {{_(doc.whoquote.byline)}}</div>
    <div class="role">{{_(doc.whoquote.role)}}</div>
  </section>

  <section class="latest">
    {% set blog = g.doc('/content/includes/list-blog-ads.yaml', locale=doc.locale) %}
    <h3 class="latest-label">{{_(doc.latest.carousel_title)}}</h3>
    <amp-carousel class="latest-carousel tablet-up"
      height="215"
      layout="flex-item"
      type="slides">

      <div class="card-container">
      {% for article in blog.blogs %}
          <a href="{{g.doc('/content/latest/blog/' ~ article.id ~ '.md', locale=doc.locale).url.path}}" class="card">
            <div class="card-inner">
              <div class="card-type text-label news">
                {{_('News')}}
              </div>
              <div class="card-content small">
                {{article.title}}
              </div>
              <div class="card-date light">
                {{article.date}}
              </div>
            </div>
          </a>

          {% if loop.last and loop.index is not divisibleby 3 %}
            {% for number in range(0, 3 - loop.index % 3) %}
              <div class="card card--spacer"></div>
            {% endfor %}
          {% endif %}

        {% if not loop.last and loop.index is divisibleby 3 %}
        </div>
        <div class="card-container">
        {% endif %}
      {% endfor %}
      </div>
    </amp-carousel>
    <amp-carousel class="latest-carousel mobile-down"
      height="180"
      layout="fixed-height"
      type="carousel">

      {% for article in blog.blogs %}
        {% if loop.index <= 6 %}
        <div class="card-container">
          <a href="{{g.doc('/content/latest/blog-ads/' ~ article.id ~ '.md', locale=doc.locale).url.path}}" class="card">
            <div class="card-inner">
              <div class="card-type text-label news">
                {{_('News')}}
              </div>
              <div class="card-content small">
                {{article.title}}
              </div>
              <div class="card-date light">
                {{article.date}}
              </div>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </amp-carousel>

  </section>

  {% if doc.large_cta %}
    {% with large_cta = doc.large_cta %}
      {% include "/views/partials/large-cta.html" %}
    {% endwith %}
  {% endif %}

  {% include "/views/partials/footer.html" %}

{% endblock %}