<!DOCTYPE html>
<html ⚡{% if doc.locale.is_rtl %} dir="rtl" lang="ar"{% endif %}>
{% include "/views/partials/head.html" %}


<body class="{{doc.class}}{% if doc.locale.is_rtl %} rtl{% endif %}">

  <amp-analytics type="googleanalytics" id="analytics-ga">
    <script type="application/json">
    {
      "vars": {
        "account": "UA-67833617-1"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
  </amp-analytics>

  {% set menu_doc = g.doc('/content/includes/menu.yaml', locale=doc.locale) %}
  {% with menu = menu_doc.fields.menu %}
    {% include "/views/partials/sidebar.html" %}
    {% include "/views/partials/header.html" %}
  {% endwith %}

  <div class="wrap">
    {% block main %}
    <div class="content">

      {{doc.html|render|safe}}

      {% set footer_doc = g.doc('/content/includes/footer.yaml', locale=doc.locale) %}
      {% with footer = footer_doc %}
        {% include "/views/partials/footer.html" %}
      {% endwith %}
    </div>
    {% endblock %}
  </div>

</body>
</html>
