<!DOCTYPE html>
<html ⚡ {% if doc.locale.is_rtl %} dir="rtl" lang="ar"{% else %}lang="{{doc.locale}}"{% endif %}>
{% include "/views/partials/head.html" %}

<body class="{{doc.class}}{% if doc.locale.is_rtl %} rtl{% endif %}">

  <amp-analytics type="googleanalytics" id="analytics-ga">
    <script type="application/json">
    {
      "vars": {
        "account": "UA-67833617-1"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
  </amp-analytics>

  {% set menu_doc = g.doc('/content/includes/menu.yaml', locale=doc.locale) %}
  {% with menu = menu_doc.fields.menu %}
    {% include "/views/partials/sidebar.html" %}
    {% include "/views/partials/header.html" %}
  {% endwith %}

  {% macro callout(title, type='note') -%}
  <aside class="{{ type }}">
    <strong>{{ title }} — </strong>
    <span>{{ caller() }}</span>
  </aside>
  {%- endmacro %}

  {% macro image(src, width, height, type='responsive', alt='', caption='', align='', margin='') -%}
  <figure class="alignment-wrapper {{ align }} margin-{{ margin }}">
    <amp-img src="{{ src }}" width="{{ width }}" height="{{ height }}" layout="responsive" alt="{{ alt }}"></amp-img>
    {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
  </figure>
  {%- endmacro %}

  <div class="wrap">
    {% block main %}
    <div class="content">

      {{doc.html|render|safe}}

      {% include "/views/partials/footer.html" %}
    </div>
    {% endblock %}
  </div>

</body>
</html>
