{% extends "/views/base.html" %}

{% block main %}
{% include "/views/partials/breadcrumb-nav.html" %}
  <div class="container md">
    <div class="content">
      <article class="post">
        <div class="post-meta">
          <a class="post-type" href="{{g.doc('/content/latest/list-' ~ doc.type|lower ~ '.html', locale=doc.locale).url.path}}">{{ doc.type }}</a>
          <span class="post-date">{{ doc.date }}</span>
        </div>

        <h1 class="post-title">{{ doc.title }}</h1>

        <div class="post-sheet">
          {% include "/views/partials/share.html" %}
          <div class="author-meta small">
            <div class="author-avatar">
              <amp-img
                  noloading
                  height=50
                  width=50
                  src="{{doc.avatar}}">
              </amp-img>
            </div>
            By <span class="author-name">{{ doc.author }}</span>
            <div class="author-role">{{ doc.role }}</div>
          </div>
          <div class="post-content">
            {{doc.html|render|safe}}
          </div>
        </div>
        </article>
      </div>

      {% if doc.prev() %}
        <div class="post-footer list">
          <h2>Previous Posts</h2>
          <div class="card-container grid case">
            {% with post = doc.prev(), past = false, meta = true %}
              {% include "/views/partials/post-item.html" %}
            {% endwith %}

            {% if doc.prev().prev() %}
              {% with post = doc.prev().prev(), past = false, meta = true %}
              {% include "/views/partials/post-item.html" %}
            {% endwith %}
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% include "/views/partials/footer.html" %}

{% endblock %}
