{% extends "/views/base.html" %}

{% block main %}
  <div class="post-detail-block">
    <div class="container">
    {% include "/views/partials/breadcrumb-nav.html" %}
      <div class="content md">
        <article class="post">
          <div class="post-meta">
            <a class="post-type" href="{{g.doc('/content/pages/list-' ~ doc.type|lower ~ '.html').url.path}}">{{ doc.type }}</a>
            <span class="post-date">{{ doc.date }}</span>
          </div>

          <h1 class="post-title">{{ doc.title }}</h1>

          <div class="post-sheet">
            <div class="author-meta small">
              <div class="author-avatar">
                <amp-img
                    noloading
                    height=50
                    width=50
                    src="{{doc.avatar}}">
                </amp-img>
              </div>
              By <span class="author-name">{{ doc.author }}</span>
              <div class="author-role">{{ doc.role }}</div>
            </div>
            <div class="post-content">
              {{doc.html|render|safe}}
            </div>
          </div>

        </article>
      </div>
    </div>
  </div>
{% include "/views/partials/footer.html" %}

{% endblock %}
