{% extends "/views/base.html" %}

{% block main %}
  <div class="container main">

    <div class="content">
      <article class="post">
        <div class="post-meta">
          <span class="post-type">{{ doc.type }}</span>
          <span class="post-date">{{ doc.date }}</span>
        </div>

        <h1 class="post-title">{{ doc.title }}</h1>

        <div class="post-sheet">
          <div class="author-meta">
            <div class="author-avatar">
              <amp-img
                  noloading
                  height=24
                  width=24
                  src="{{doc.avatar}}">
              </amp-img>
            </div>
            By <span class="author-name">{{ doc.author }}</span>
            <div class="author-role">{{ doc.role }}</div>
          </div>
          <div class="post-content">
            {{doc.html|render|safe}}
          </div>
        </div>

      </article>
    </div>
  </div>

{% include "/views/partials/footer.html" %}

{% endblock %}
