{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  <div class="post-detail-block">
    {{ navmarkup|safe }}
    <div class="container md">
      <div class="content">
        <article class="post">
          <div class="post-header">
            <div class="post-meta">
              <span class="post-date">{{doc.date}}</span>
            </div>
            {% if doc.logo %}
              <amp-img layout="responsive"
                  src="/static/img/{{doc.logo.src}}"
                  width="{{doc.logo.width}}"
                  height="{{doc.logo.height}}"
                  class="post-logo"></amp-img>
            {% endif %}
            <h1 class="post-title">{{ doc.headline or doc.title }}</h1>
          </div>

          {% if doc.results %}
          <div class="post-results {% if doc.results|length > 3%} post-results--small {% endif %}">
            {% for result in doc.results %}
            <div class="result">
              <p class="result-stat">{{result.stat}}</p>
              <p class="result-description">{{result.description}}</p>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="post-sheet">
            {% include "/views/partials/share.html" %}
            <div class="post-content">
              {{doc.html|render|safe}}

              {% if doc.download %}
              <p class="post-download">
                <a class="underlined cta" href="/static/img/{{doc.download}}">{{_('Download PDF Case study')}}</a>
              </p>
              {% endif %}
            </div>
          </div>
        </article>

        {% if doc.prev() %}
        <div class="post-footer">
          <h2>{{_('Previous Posts')}}</h2>
          <div class="card-container grid case">
            {% with doc = g.doc(doc.prev().pod_path, locale=doc.locale), isCase = true %}
              {% include "/views/partials/grid-card.html" %}
            {% endwith %}

            {% if doc.prev().prev() %}
              {% with doc = g.doc(doc.prev().prev().pod_path, locale=doc.locale), isCase = true %}
                {% include "/views/partials/grid-card.html" %}
              {% endwith %}
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% include "/views/partials/footer.html" %}

{% endblock %}