{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/doc_nav.html" %}
{% endset %}

{% block nav %}
  {{ navmarkup|safe }}
{% endblock %}

{% block main %}
  <div class="container main">
    {{ navmarkup|safe }}
    <div class="content">
      <article class="post{% if doc.toc %} has-toc{% endif %}">

        <h1 class="post-title">{{ doc.title }}</h1>

        <div class="post-content">
          {% if not doc.title in ['amp-form', 'amp-list'] %}
          {{doc.html|render|safe}}
          {% endif %}
        </div>

      </article>
    </div>
  </div>

  <div class="doc-footer">
    <div class="left"></div>
    <div class="right">
      {% set doc_data = g.doc('/content/includes/doc.yaml', locale=doc.locale) %}
      {% with cta = doc_data.cta %}
        {% include "/views/partials/footer-cta.html" %}
      {% endwith %}
      {% include "/views/partials/footer.html" %}
    </div>
  </div>
{% endblock %}
