{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/doc_nav.html" %}
{% endset %}

{% block nav %}
  {{ navmarkup|safe }}
{% endblock %}

{% block main %}
  <div class="container main">
    {{ navmarkup|safe }}
    <div class="content">
      <article class="post{% if doc.toc %} has-toc{% endif %}">

        <h1 class="post-title">{{ _(doc.title) }}</h1>

        <div class="post-content">
          {{doc.html|render|safe}}

          {% if doc.collectionPath %}
            {% set collection = doc.collectionPath %}
          {% elif doc.collection.title == doc.title %}
            {% set collection = doc.collection.pod_path %}
          {% else %}
            {% set collection = (doc.collection.pod_path + '/' + doc.base) %}
          {% endif %}

          {% if doc.sections %}
            {% for section in doc.sections %}
              <h2 class="card-section-heading">{{_(section.title)}}</h2>
              <div class="card-container grid">
                {% set sectionIndex = loop.index0 %}
                {% for item in g.collection(collection).docs(recursive=false, locale=doc.locale) %}
                  {% if item.group == sectionIndex %}
                    {% with doc = item %}
                      {% include "/views/partials/grid-card.html" %}
                    {% endwith %}
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          {% else %}
            <div class="card-container grid">
              {% for item in g.collection(collection).docs(recursive=false, locale=doc.locale) %}
                {% with doc = item %}
                  {% include "/views/partials/grid-card.html" %}
                {% endwith %}
              {% endfor %}
            </div>
          {% endif %}
        </div>

      </article>
    </div>
  </div>

  <div class="doc-footer">
    <div class="left"></div>
    <div class="right">
      {% set doc_data = g.doc('/content/includes/doc.yaml', locale=doc.locale) %}
      {% with cta = doc_data.cta %}
        {% include "/views/partials/footer-cta.html" %}
      {% endwith %}
      {% include "/views/partials/footer.html" %}
    </div>
  </div>
{% endblock %}
