{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/doc_nav.html" %}
{% endset %}

{% block nav %}
  {{ navmarkup|safe }}
{% endblock %}

{% block main %}
  <div class="container main">
    {{ navmarkup|safe }}
    <div class="content">
      <h1 class="doc-landing-title">Welcome to AMP!</h1>
      <!-- Getting Started cards -->
      <section class="getting-started">
        <div class="container">
          <h3>Get started with AMP</h3>
          <div class="row">
            <div class="twelve columns">
              <amp-carousel class="tablet-up" loop controls
                    height="300"
                    layout="flex-item"
                    type="slides">
                <div class="card-container">
                {% for card in doc.start_cards %}
                <a class="card centered" href="{{card.link}}">
                  <div class="card-inner">
                    <div class="card-content">
                      <h4>{{card.name}}</h4>
                      <p>{{_(card.desc)}}</p>
                    </div>
                  </div>
                </a>

                {% if loop.last and loop.index is not divisibleby 3 %}
                  {% for number in range(0, 3 - loop.index % 3) %}
                    <div class="card card--spacer"></div>
                  {% endfor %}
                {% endif %}

                {% if not loop.last and loop.index is divisibleby 3 %}
              </div>
              <div class="card-container">
                {% endif %}
              {% endfor %}
              </div>
            </amp-carousel>
            <amp-carousel class="tablet-down" loop controls
              height="400"
              layout="flex-item"
              type="slides">

              {% for card in doc.start_cards %}
              <div class="card-container">
                <a class="card centered" href="{{card.link}}">
                  <div class="card-inner">
                    <div class="card-content">
                      <h3>{{card.name}}</h3>
                      <p>{{(card.desc)}}</p>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </amp-carousel>
            </div>
          </div>
        </div>
      </section>
      <!-- Video cards -->
      <section class="getting-started">
        <div class="container">
          <h3 class="video-section">Featured videos</h3>
          <div class="row">
            <div class="twelve columns">
              <amp-carousel class="tablet-up"
                  loop controls
                  height="300"
                  layout="flex-item"
                  type="slides">
                <div class="card-container">
                {% for card in doc.video_cards %}
                <a class="card-video centered" href="{{card.link}}">
                  <div class="card-inner">
                    <div class="card-content">
                    {% if loop.last %}
                      <h3>{{card.name}}</h3>
                      <p>{{(card.desc)}}</p>
                    {% else %}
                      <amp-youtube
                          data-videoid="{{card.videoid}}"
                          layout="responsive"
                          width="480" height="270"></amp-youtube>
                    {% endif %}
                    </div>
                  </div>
                </a>   

                {% if loop.last and loop.index is not divisibleby 2 %}
                  {% for number in range(0, 2 - loop.index % 2) %}
                    <div class="card card--spacer"></div>
                  {% endfor %}
                {% endif %}

                {% if not loop.last and loop.index is divisibleby 2 %}
              </div>
              <div class="card-container">
                {% endif %}
              {% endfor %}
              </div>
            </amp-carousel>
            <amp-carousel class="tablet-down"
                loop controls
                layout="responsive"
                width="16" height="9"
                type="slides">
              {% for card in doc.video_cards %}
              <div class="card-container">
                 <a class="card-video centered" href="{{card.link}}">
                  <div class="card-inner">
                    <div class="card-content">
                      {% if loop.last %}
                        <h3>{{card.name}}</h3>
                        <p>{{(card.desc)}}</p>
                      {% else %}
                        <amp-youtube
                          data-videoid="{{card.videoid}}"
                          layout="responsive"
                          width="480" height="270"></amp-youtube>
                      {% endif %}
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </amp-carousel>
          </div>
        </div>
      </div>
    </section>
    <!-- Featured doc cards -->
    <section class="getting-started">
      <div class="container">
        <h3>Featured docs</h3>
        <div class="row">
          <div class="twelve columns">
            <amp-carousel class="tablet-up" loop controls
                  height="300"
                  layout="flex-item"
                  type="slides">
              <div class="card-container">
              {% for card in doc.doc_cards %}
              <a class="card centered" href="{{card.link}}">
                <div class="card-inner">
                  <div class="card-content">
                    <h4>{{card.name}}</h4>
                    <p>{{_(card.desc)}}</p>
                  </div>
                </div>
              </a>

              {% if loop.last and loop.index is not divisibleby 3 %}
                {% for number in range(0, 3 - loop.index % 3) %}
                  <div class="card card--spacer"></div>
                {% endfor %}
              {% endif %}

              {% if not loop.last and loop.index is divisibleby 3 %}
            </div>
            <div class="card-container">
              {% endif %}
            {% endfor %}
            </div>
          </amp-carousel>
          <amp-carousel class="tablet-down" loop controls
            height="400"
            layout="flex-item"
            type="slides">

            {% for card in doc.doc_cards %}
            <div class="card-container">
              <a class="card centered" href="{{card.link}}">
                <div class="card-inner">
                  <div class="card-content">
                    <h3>{{card.name}}</h3>
                    <p>{{(card.desc)}}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </amp-carousel>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
  <div class="doc-footer">
    <div class="left"></div>
    <div class="right">
      {% set doc_data = g.doc('/content/includes/doc.yaml', locale=doc.locale) %}
      {% with cta = doc_data.cta %}
        {% include "/views/partials/footer-cta.html" %}
      {% endwith %}
      {% include "/views/partials/footer.html" %}
    </div>
  </div>
{% endblock %}
