{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}
  <div class="container lg">
    <div class="content">
      <article class="post">
        <h1 class="post-title">{{_(doc.title)}}</h1>
        <div class="post-content">
          {{doc.html|render|safe}}
            <div class="card-container grid">
              {% for card in doc.cards %}
                {% set locale = doc.locale %}
                {% set title = card.name %}
                  {% include "/views/partials/grid-card-docs.html" %}
              {% endfor %}
            </div>
        </div>
      </article>
    </div>
  </div>

  <div class="doc-footer">
    {% set doc_data = g.doc('/content/includes/doc.yaml', locale=doc.locale) %}
    {% with cta = doc_data.cta %}
      {% include "/views/partials/footer-cta.html" %}
    {% endwith %}
    {% include "/views/partials/footer.html" %}
  </div>

{% endblock %}
