{% extends "/views/base.html" %}

{# TODO(lily): add breadcrumb nav partial here
  {% set navmarkup %}
  {% with flat = 1 %}
  {% include "/views/partials/nav.html" %}
  {% endwith %}
  {% endset %}

  {% block nav %}
    {{ navmarkup|safe }}
  {% endblock %}
#}

{% block main %}
  <div class="container main">
    {{ navmarkup|safe }}
    <div class="content">
      <article class="post">

        <h1 class="post-title">{{ doc.title }}</h1>

        <div class="post-content">
          {{doc.html|render|safe}}
        </div>

      </article>
    </div>
  </div>

  {% if doc.cta %}
    {% with cta = doc.cta %}
      {% include "/views/partials/footer-cta.html" %}
    {% endwith %}
  {% endif %}

  {% include "/views/partials/footer.html" %}

{% endblock %}
