{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  {{ navmarkup|safe }}
  <div class="container lg">
    <div class="content">
      <article class="post">
        <span class="post-tag">{{_('Showcase')}}</span>
        <h1 class="post-title">{{ _(doc.titles('page')) or _(doc.title) }}</h1>
        <div class="post-content">
          {{doc.html|render|safe}}
          {% for item in g.collection('/content/learn/showcases').docs(recursive=false, locale=doc.locale) %}
            {% with doc = item%}
              {% include "/views/partials/grid-showcase.html" %}
            {% endwith %}
          {% endfor %}
        </div>
      </article>
    </div>
  </div>
  {% with cta = doc.cta %}
    {% include "/views/partials/footer-cta.html" %}
  {% endwith %}
  {% include "/views/partials/footer.html" %}
{% endblock %}
