{% extends "/views/base.html" %}

{% set navmarkup %}
{% include "/views/partials/breadcrumb-nav.html" %}
{% endset %}

{% block main %}
  <div class="post-detail-block">
    {{ navmarkup|safe }}
    <div class="container md">
      <div class="content">
        <article class="post">
          <div class="post-header">
            <amp-img layout="responsive"
                src="/static/img/{{doc.logo.src}}"
                width="{{doc.logo.width}}"
                height="{{doc.logo.height}}"
                class="post-logo"></amp-img>
            <h1 class="post-title">{{ doc.headline or doc.title }}</h1>
          </div>

          <div class="post-sheet">
            <div class="post-content">
              {{doc.html|render|safe}}
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>

  {% include "/views/partials/footer.html" %}

{% endblock %}
