@mixin container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  padding: 120px 20px 0;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: repeat(24, 1fr);
    padding: 96px 30px 0;
  }
  
  section {
    width: 100%;
    grid-column: 1;
    position: relative;

    @media screen and (min-width: 1024px){
      grid-column-start: 7;
      grid-column-end: 19;
    }
  }
  
  .toc {
    position: fixed;
    width: 625px;
    transform: translateX(50%);
    left: 50%;
    padding-left: 30px;

    &:before {
      @include txt;
      @include txt-2;
      @include txt-strong;
      content: 'On this page:';
    }

    h4 {
      display: none;
    }

    & ul {
      list-style: none;
      margin: 0;
      padding-left: 0;

      & > li > a {
        @include txt;
        @include txt-3;

        &:hover {
          @include color-blue-ribbon;
        }
      }
    }
  }
}