@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

.ad-t-docs-details {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 30px;
  margin-top: 100px;
}

.ad-o-video {
  position: relative;
  grid-column: 8 / span 12;
}