/*

#############################################
### TEMPLATE: overview benefits ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/quote';
@import '../molecules/benefit';
@import '../molecules/link';
@import '../molecules/table.scss';

@import '../templates/_default.scss';

.#{template('overview-benefits')} {
  @include container;

  section {
    position: relative;
    z-index: 1;

    &.#{organism('stage')} {
      grid-column: 1 / -1;
    }

    &.teaser-grid {
      @media screen and (min-width: 1024px){
        grid-column-start: 1;
        grid-column-end: 25;
      }
    }

    &.quote {
      grid-column-start: 5;
      grid-column-end: 19;
    }

    &.intro {
      grid-column: 8 / 18;
      margin-bottom: 150px;
    }

    &.benefits {
      display: flex;
      flex-direction: column;
      align-items: center;

      &.first {
        @media screen and (min-width: 768px) {
          grid-column: 1 / 22;
        }
      }

      &.second {
        @media screen and (min-width: 768px) {
          grid-column: 4 / -1;
        }
      }

      & h2 {
        @include hl;
        @include hl-h4;
      }

      .benefit-cards {
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: 768px) {
          flex-wrap: nowrap;
        }
      }
    }

    &.copy {
      margin-bottom: 150px;
      &.left {
        grid-column: 4 / 14;
      }

      &.right {
        grid-column: 12 / 22;
      }
    }

  }

  table {
    grid-column: 4 / 22;
  }
}

