/*

#############################################
### TEMPLATE: overview framework websites ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/quote';

@import '../templates/_default.scss';

.#{template('overview-framework')} {
  @include container;

  section {
    position: relative;
    z-index: 1;

    &.#{organism('stage')},
    &.teaser-grid {
      @media screen and (min-width: 1024px){
        grid-column-start: 1;
        grid-column-end: 25;
      }
    }

    &.intro {
      &.intro h1 {
        @include hl;
        @include hl-h4;
      }
    }

    &.quote {
      grid-column-start: 5;
      grid-column-end: 19;
    }

    &.kpi-grid {
      grid-column-start: 4;
      grid-column-end: 22;
    }

    &.col-7-19 {
      grid-column-start: 7;
      grid-column-end: 19;
    }

    &.col-5-15 {
      grid-column-start: 5;
      grid-column-end: 15;
    }

    &.benefits {
      grid-column-start: 4;
      grid-column-end: 22;

      .benefit-cards {
        display: flex;
      }
    }
  }
}