{% extends 'default.html.twig' %}

{% block body %}
<header class="styleguide__header">
  <button class="styleguide__toggle" on="tap:sidebar.toggle">
    {{ icons.useIcon('amp') }}
  </button>

  <h1>{{ header.title }}</h1>
</header>

<main class="styleguide__content">
  {{ page.content }}
</main>
{% endblock body %}
