@import 'base.scss';
@import 'components/atoms/_text.scss';

.fly-in {
  $headerHeight: 64px;

  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 240px;
  overflow: hidden;
  background: white;
  transition: transform .3s ease-in, box-shadow .2s ease-in;

  @media (min-width: 768px) {
    top: #{$headerHeight};
    width: 42%;
    height: calc(100% - #{$headerHeight} - 8px);
  }

  &--left {
    left: 0;
    transform: translate3d(-105%, 0, 0);
  }

  &--right {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 15px 0 25px;
    border-bottom: 1px solid color('silver');
    font-family: Poppins;

    h2 {
      margin: 0 auto 0 0;
      padding-left: 40px;
      background-repeat: no-repeat;
      background-position: left;
      color: #20202a;
    }

    .fly-in-close {
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'%3E%3C/path%3E%3Cpath d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  &--error h2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28'%3E%3Cpath fill='%2320202A' d='M14 0c7.732 0 14 6.268 14 14s-6.268 14-14 14S0 21.732 0 14 6.268 0 14 0zm0 2.545C7.668 2.545 2.545 7.668 2.545 14S7.668 25.455 14 25.455 25.455 20.332 25.455 14 20.332 2.545 14 2.545zm-.025 15.16c.304 0 .58.08.83.24.25.16.447.367.593.623.145.256.217.522.217.796 0 .29-.076.56-.227.812a1.7 1.7 0 01-.608.601 1.562 1.562 0 01-1.6.006 1.579 1.579 0 01-.583-.595 1.663 1.663 0 01-.212-.824 1.704 1.704 0 01.8-1.43c.243-.152.506-.228.79-.228zM14.005 7c.492 0 .884.136 1.174.408.291.273.436.708.436 1.307a3 3 0 01-.01.286l-.593 7.881h-2.068l-.548-7.881-.011-.245c0-.606.143-1.05.43-1.332.287-.283.684-.424 1.19-.424z'/%3E%3C/svg%3E");
  }

  &--state h2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='22'%3E%3Cpath d='M6.696 21.204v-.234c-.696-.288-1.275-.804-1.737-1.548-.462-.744-.693-1.686-.693-2.826 0-.492.06-1.122.18-1.89a9.688 9.688 0 00.162-1.62c0-1.392-.666-2.214-1.998-2.466v-.036c.684-.132 1.188-.405 1.512-.819.324-.414.486-.969.486-1.665 0-.444-.054-.99-.162-1.638-.12-.744-.18-1.362-.18-1.854 0-1.14.231-2.082.693-2.826C5.421 1.038 6 .522 6.696.234V0h-2.88c-.3.144-.63.393-.99.747s-.681.864-.963 1.53c-.282.666-.423 1.467-.423 2.403 0 .468.06 1.086.18 1.854.108.648.162 1.2.162 1.656 0 1.116-.594 1.74-1.782 1.872v1.08c.648.06 1.107.267 1.377.621s.405.771.405 1.251c0 .456-.054 1.008-.162 1.656-.12.768-.18 1.386-.18 1.854 0 .936.141 1.737.423 2.403.282.666.603 1.176.963 1.53.36.354.69.603.99.747h2.88zm12.276-3.906V14.22h-3.186v3.078h3.186zm4.356 0V14.22h-3.186v3.078h3.186zm-8.73 0V14.22h-3.186v3.078h3.186zm16.416 3.906c.3-.144.63-.393.99-.747s.681-.864.963-1.53c.282-.666.423-1.467.423-2.403 0-.468-.06-1.086-.18-1.854-.12-.72-.18-1.272-.18-1.656 0-.492.141-.924.423-1.296.282-.372.741-.564 1.377-.576v-1.08c-.636-.024-1.095-.219-1.377-.585a2.048 2.048 0 01-.423-1.287c0-.384.06-.936.18-1.656.12-.768.18-1.386.18-1.854 0-.936-.141-1.737-.423-2.403-.282-.666-.603-1.176-.963-1.53-.36-.354-.69-.603-.99-.747h-2.88v.234c.432.18.834.492 1.206.936.372.444.669.987.891 1.629a6.32 6.32 0 01.333 2.079c0 .492-.06 1.11-.18 1.854a10.252 10.252 0 00-.162 1.638c0 .612.162 1.101.486 1.467.324.366.828.615 1.512.747v.036c-1.332.252-1.998.984-1.998 2.196 0 .456.054.996.162 1.62.12.768.18 1.398.18 1.89a6.32 6.32 0 01-.333 2.079c-.222.642-.519 1.185-.891 1.629-.372.444-.774.756-1.206.936v.234h2.88z'/%3E%3C/svg%3E%0A");
  }

  &.active {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    transform: translate3d(0, 0, 0);
  }

}
