/* A project prefix that is added by using the prefix() function. Abbreviation
of the project name amp.dev */
$projectPrefix: 'ap';

/* All category codes which are prepended to selector by using either atom(selector),
molecule(selector) or organism(selector) */
$categoryPrefixes: (
  utility: '',
  atom: 'a',
  molecule: 'm',
  organism: 'o',
  template: 't',
);

$sizes: (
  xs: '1',
  sm: '2',
  md: '3',
  lg: '4',
  xl: '5',
);

/* This variables are used in the following files:
- frontend/scss/components/molecules/banner.scss
- frontend/scss/components/organisms/header.scss
- frontend/scss/components/organisms/burger-menu.scss

The calculations of the height and top values of banner, header and burger-menu
are based on this variables. If you change them, they automatically adjust. */
$mobileHeaderHeight: 55px;
$bannerHeight: 31px;

/* The following map contains every color that is used inside the project. The
names are identified by using the http://chir.ag/projects/name-that-color to
prevent double colors and/or hirarchy dicussions */
$colors: (
  'black':           #000000,
  'mirage':          #1A2129,
  'charade':         #20202A,
  'ebony-clay':      #29323C,
  'bright-gray':     #3D444D,
  'mine-shaft':      #3E3E3E,
  'river-bed':       #48525C,
  'limed-spruce':    #333D47,
  'oslo-gray':       #91979D,
  'gray-chateau':    #A3A8AD,
  'silver':          #CCCCCC,
  'alto':            #DFDFDF,
  'gallery':         #EAEAEA,
  'athens-gray':     #EBEBF0,
  'wild-sand':       #F4F4F4,
  'whisper':         #FAFAFC,
  'white':           #FFFFFF,
  'blue-ribbon':     #005AF0,
  'doger-blue':      #21C1FA,
  'mariner':         #2980B9,
  'robins-egg':      #00DCC0,
  'reef':						 #B6FF92,
  'emerald':         #38CA71,
  'malachite':       #00CD3C,
  'forest-green':    #2DB932,
  'shamrock':        #2ECC71,
  'mountain-meadow': #1DB395,
  'hawkes-blue':     #CEE8FC,
  'confetti':        #E1EB64,
  'apple':           #64BF46,
  'yellow':          #FFF300,
  'turbo':           #FFE100,
  'school-bus':      #FFDC00,
  'manz':            #F1F068,
  'pizazz':          #FF8F00,
  'zest':            #E67E22,
  'buttercup':       #F39C12,
  'carnation':       #F56C64,
  'persimmon':       #FF5757,
  'cinnabar':        #E74C3C,
  'red':             #EF0000,
  'crimson':         #C8114D,
  'pink-flamingo':   #FF52E1,
  'lavender-magenta':#EB49E1,
  'studio':          #943FB5,
  'lavender':        #B75DDE,
  'pigment-indigo':  #4C038C,
  'electric-violet': #5500D7,
  'ultramarine':     #180CA4,
  'pickled-bluewood':#2C3E50,

);

$shadows: (
  'regular': 0 30px 30px -15px rgba(0, 0, 0, 0.25),
  'drop': 0 30px 30px -15px rgba(0, 0, 0, 0.25),
)
