@import '_variables.scss';
@import '_functions.scss';
@import '_extends.scss';
@import '_mixins.scss';
@import '_fonts.scss';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-width: $minDeviceWidth;
  color: color('river-bed');
  background-color: #fff;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: $minDeviceWidth) {
    font-size: 14px;
  }
}

/* Used to jump before an anchor and not beneath it */
:target::before {
  content: '';
  display: block;
  visibility: hidden;
  height: 120px;
  margin-top: -120px;
}

@media (min-width: 1024px) {
  h1:target::before { height: 75px; margin-top: -75px; }
  h2:target::before { height: 81px; margin-top: -81px; }
  h3:target::before { height: 87px; margin-top: -87px; }
  h4:target::before { height: 90px; margin-top: -90px; }
  h5:target::before { height: 93px; margin-top: -93px; }
  h6:target::before { height: 97px; margin-top: -97px; }
}
