@import '_variables.scss';
@import '_functions.scss';
@import '_extends.scss';
@import '_mixins.scss';
@import '_fonts.scss';

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  color: color('river-bed');
  background-color: #fff;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Used to jump before an anchor and not beneath it */
:target::before {
  content: '';
  display: block;
  height: 145px;
  margin-top: -145px;
  visibility: hidden;

  @media (min-width: 1024px) {
    height: 110px;
    margin-top: -110px;
  }
}

/* Custom loader for media elements */
@keyframes PULSE {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.#{utility('media')} .amp-active {
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg id="bolt-outline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 47"><path fill="%2391979D" fill-rule="nonzero" d="M16.545 1.2h2.763l-2.732 16.566 8.46-.012.119-.002c.761 0 1.38.619 1.38 1.381 0 .328-.306.883-.306.883L11.027 45.41l-2.81-.012 2.8-16.592-8.503.01-.135.002A1.38 1.38 0 0 1 1 27.437c0-.31.12-.582.293-.813L16.545 1.2z"/></svg>');
  background-repeat: no-repeat;
  animation: PULSE 1s infinite ease alternate;

  & > div {
    display: none;
  }
}
