{% extends "/views/base.html" %}


{% block nav %}
{% set homeDoc = g.doc('/content/pages/home.html') %}
    <amp-accordion>
      {% for category in homeDoc.categories %}
        <section>
        <h1>{{ category.title }}</h1>
        <ul>
         {% set catDoc = g.doc(category.text) %}
         {% for category in catDoc.categories %}
          <h1><a href= {{category.path}}>{{category.title}}</a></h1>
         {% endfor %}
        </ul>
        </section>
      {% endfor %}
    </amp-accordion>
{% endblock %}