---
$title: Roadmap
$order: 2
$view: /views/custom.j2
roadmap: !g.yaml /shared/data/roadmap.yaml

---
{% do doc.styles.addCssFile('css/components/templates/roadmap.css') %}

<main class="ap--main ap-t-roadmap">
  <section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

    <div class="ap-o-stage">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content">
          <h1 class="ap-o-stage-content-headline">{{ _('The AMP Project Roadmap') }}</h1>
        </div>
        <div class="ap-o-stage-image">
          <amp-img alt="AMP Working Group"
              media="(min-width: 670px)"
              width="800"
              height="435"
              src="/static/img/working-groups-top-desktop.png"
              layout="responsive">
          </amp-img>
          <amp-img alt="AMP Working Group"
              media="(max-width: 669px)"
              width="600"
              height="669"
              src="/static/img/working-groups-top.png"
              layout="responsive">
          </amp-img>
        </div>
      </div>
    </div>
  </section>

  <div class="ap-o-roadmap">
    <section class="ap-o-roadmap-intro">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. For the overall AMP Roadmap for 2020 please read this blogpost.<br><br>An AMP Working Group is a segment of the community with knowledge/interest in specific area of AMP. Working Groups are created by AMP’s Technical Steering Committee.</p>
    </section>
    <section class="ap-o-roadmap-list">
      <a class="ap-o-roadmap-list-quarter"
          href="#{{ doc.roadmap.issues[0].quarter|slug }}">
        {{ doc.roadmap.issues[0].quarter }}
      </a>
      {% for issue in doc.roadmap.issues %}
        {% if issue.quarter != doc.roadmap.issues[loop.index - 2].quarter and loop.index > 1 %}
        <a class="ap-o-roadmap-list-quarter"
            href="#{{ issue.quarter|slug }}">
          {{ issue.quarter }}
        </a>
        {% endif %}
        <amp-accordion
            id="{{ issue.quarter|slug }}"
            disable-session-states>
          <section class="ap-o-roadmap-list-item">
            <header class="ap-o-roadmap-list-item-header">
              <h4 class="ap-o-roadmap-list-item-header-title">{{ issue.wg_name }}</h4>
              <span>Status Update {{ issue.status_update }}</span>
            </header>
            <div class="ap-o-roadmap-list-item-body">
              <p>{{ issue.body|markdown|safe }}</p>
              <a href="{{ issue.html_url }}">See details on GitHub</a>
            </div>
          </section>
        </amp-accordion>
      {% endfor %}
    </section>
  </div>
  
</main>
