---
$title: Roadmap
$order: 2
$view: /views/custom.j2
roadmap: !g.json /content/amp-dev/community/roadmap.json
---
{% do doc.styles.addCssFile('css/components/templates/roadmap.css') %}
{% do doc.amp_dependencies.add('amp-bind', '0.1') %}

<main class="ap--main ap-t-roadmap">
  <div class="ap--container">
    <div class="ap-o-roadmap">

      <amp-state id="roadmapfilter">
        <script type="application/json">
          {
            "activefilter": "all"
          }
        </script>
      </amp-state>

      {% do doc.styles.addCssFile('css/components/organisms/filter-bubbles-list.css') %}

      <section class="ap--content">
        <h1>{{ _('The AMP Project Roadmap') }}</h1>
        <div class="ap-m-tip ap-m-tip-note">
          <div class="ap-m-tip-content">
            {% do doc.styles.addCssFile('css/components/molecules/tip.css') %}
            <p>{{ _('This is a high level overview suitable for all audiences. For a more detailed developer view, <a href="https://github.com/ampproject/amphtml/projects/43">head to GitHub.</a>') }}</p>
          </div>
        </div>


        <!-- Filter bubbles -->
        {% do doc.icons.useIcon('icons/close.svg') %}
        <div class="ap-o-roadmap-filter-list all" [class]="roadmapfilter.activefilter != 'all' ? 'ap-o-roadmap-filter-list filtered' : 'ap-o-roadmap-filter-list all' ">
          {% for label in doc.roadmap.labels %}

          <button class="ap-m-filter-bubble {{ label | slug}} active" on="tap:AMP.setState({roadmapfilter: {activefilter: '{{ label | slug}}' } })"
          [class]="roadmapfilter.activefilter == 'all' || roadmapfilter.activefilter == '{{label|slug}}' ? 'ap-m-filter-bubble {{ label | slug}} active' : 'ap-m-filter-bubble {{ label | slug}}'">
            {{ _(label) }}
            <span tabindex="-1" role="reset" class="ap-m-filter-bubble-reset" [class]="roadmapfilter.activefilter == '{{ label | slug}}' ? 'ap-m-filter-bubble-reset show': 'ap-m-filter-bubble-reset'" on="tap:AMP.setState({roadmapfilter: {activefilter: 'all' }})">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
            </span>
          </button>

          {% endfor %}
        </div>
      </section>

      <div class="ap-o-roadmap-tiles ap--container-fluid">
        <!-- Columns -->
        {% do doc.icons.useIcon('icons/notepad.svg') %}
        {% do doc.icons.useIcon('icons/wrench.svg') %}
        {% do doc.icons.useIcon('icons/dolly.svg') %}

        {% for column in doc.roadmap.columns %}
        <div class="ap-o-roadmap-tiles-list">
          <div class="ap-a-ico">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{% if loop.index == 1 %}notepad{% elif loop.index == 2 %}wrench{% elif loop.index == 3 %}dolly{% endif %}"></use></svg>
          </div>
          <h4>{{ _(column.name) }}</h4>
          <ul>
            {% for card in column.cards %}
            <li class="ap-o-roadmap-tiles-item ap-m-copy active {% if card.issue.labels[0] %}{% for label in card.issue.labels %}{{ label.name | slug}} {% endfor %}{% endif %}"
            [class]= "{% if card.issue.labels[0] %}{% for label in card.issue.labels %}roadmapfilter.activefilter == '{{ label.name | slug}}' ||{% endfor %}{% endif %} roadmapfilter.activefilter == 'all' ? 'ap-o-roadmap-tiles-item ap-m-copy active ' : 'ap-o-roadmap-tiles-item ap-m-copy '"
            >
              <a class="ap-o-roadmap-tiles-link" href="{{ card.issue.url }}">
                <div class="ap-o-roadmap-tiles-title">{{ card.issue.title }}</div>
              </a>
              <div class="ap-o-roadmap-tiles-description">{{ _(card.issue.description|markdown|safe) }}</div>
              <div class="ap-o-roadmap-tiles-categories">
                {% if card.issue.labels[0] %}
                  {% for label in card.issue.labels %}
                  <button class="ap-m-filter-bubble {{ label.name | slug }} active" on="tap:AMP.setState({roadmapfilter: {activefilter: '{{ label.name | slug}}' }})">{{ _(label.name) }}</button>
                  {% endfor %}
                {% endif %}
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
