---
$title: Roadmap
$order: 2
$view: /views/custom.j2
roadmap: !g.yaml /shared/data/roadmap.yaml

---
{% do doc.styles.addCssFile('css/components/templates/roadmap.css') %}

<main class="ap--main ap-t-roadmap">
  <section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

    <div class="ap-o-stage">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content">
          <h1 class="ap-o-stage-content-headline">{{ _('The AMP Project Roadmap') }}</h1>
        </div>
        <div class="ap-o-stage-image">
          <amp-img alt="AMP Working Group"
              media="(min-width: 670px)"
              width="800"
              height="435"
              src="/static/img/working-groups-top-desktop.png"
              layout="responsive">
          </amp-img>
          <amp-img alt="AMP Working Group"
              media="(max-width: 669px)"
              width="600"
              height="669"
              src="/static/img/working-groups-top.png"
              layout="responsive">
          </amp-img>
        </div>
      </div>
    </div>
  </section>

  <div class="ap-o-roadmap">
    <section class="ap-o-roadmap-intro">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. For the overall AMP Roadmap for 2020 please read this blogpost.<br><br>An AMP Working Group is a segment of the community with knowledge/interest in specific area of AMP. Working Groups are created by AMP’s Technical Steering Committee.</p>
      <div class="ap-m-tip ap-m-tip-note">
        <div class="ap-m-tip-content">
          {% do doc.styles.addCssFile('css/components/molecules/tip.css') %}
          <p>{{ _('This is a high level overview suitable for all audiences. For a more detailed developer view, <a href="https://github.com/ampproject/amphtml/projects/43">head to GitHub.</a>') }}</p>
        </div>
      </div>
    </section>

    <section class="ap-o-roadmap-filter">
      {% do doc.styles.addCssFile('css/components/organisms/filter-bubbles-list.css') %}
      {% do doc.icons.useIcon('icons/close.svg') %}

      <h2>Select workgroups</h2>
      <div class="ap-o-roadmap-filter-list">
        {% for group in g.collection('/content/amp-dev/community/working-groups').list_docs(locale=doc.locale) %}
        <button class="ap-m-filter-bubble {{ group.name|slug }} active">
          {{ group.name }}
          <span tabindex="-1" role="reset" class="ap-m-filter-bubble-reset">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg>
          </span>
        </button>
        {% endfor %}
      </div>
    </section>

    <section class="ap-o-roadmap-container">
      <div class="ap-o-roadmap-navigation">
        <div class="ap-o-roadmap-navigation-list">
          {% for quarter in doc.roadmap.list %}
          <amp-animation id="anim-{{ quarter[0].quarter|slug }}" layout="nodisplay">
            <script type="application/json">
              {
                "duration": ".3s",
                "fill": "both",
                "direction": "alternate",
                "animations": [
                  {
                    "selector": ".ap-o-roadmap-navigation-list-item",
                    "keyframes": {
                      "opacity": ".3"
                    }
                  },
                  {
                    "selector": "#nav-item-{{ quarter[0].quarter|slug }}",
                    "keyframes": {
                      "opacity": "1"
                    }
                  },
                  {
                    "selector": ".ap-o-roadmap-navigation-list-item-timeline",
                    "keyframes": {
                      "opacity": "0"
                    }
                  },
                  {
                    "selector": "#nav-item-timeline-{{ quarter[0].quarter|slug }}",
                    "keyframes": {
                      "opacity": "1"
                    }
                  }
                ]
              }
            </script>
          </amp-animation>
          <a class="ap-o-roadmap-navigation-list-item"
              id="nav-item-{{ quarter[0].quarter|slug }}"
              href="#{{ quarter[0].quarter|slug }}">
            <h3 class="ap-o-roadmap-navigation-list-item-title">
              {{ quarter[0].quarter }}
            </h3>
            <span class="ap-o-roadmap-navigation-list-item-timeline"
                id="nav-item-timeline-{{ quarter[0].quarter|slug }}">
            </span>
          </a>
          {% endfor %}
        </div>
      </div>

      {% do doc.icons.useIcon('icons/chevron-down-light.svg') %}
      {% do doc.icons.useIcon('icons/chevron-up-light.svg') %}

      <div class="ap-o-roadmap-list">
        {% for quarter in doc.roadmap.list %}
        <div class="ap-o-roadmap-list-title">
          <amp-position-observer intersection-ratios="1"
              on="enter:anim-{{ quarter[0].quarter|slug }}.start"
              layout="nodisplay">
          </amp-position-observer>
          <h3 id="{{ quarter[0].quarter|slug }}">{{ quarter[0].quarter }}</h3>
        </div>
        {% for issue in quarter %}
        <div class="ap-o-roadmap-list-item">
          <span class="ap-o-roadmap-list-item-timeline">
            <span class="ap-o-roadmap-list-item-timeline-dot"></span>
          </span>

          <div  class="ap-o-roadmap-list-item-issue {{ issue.wg_name }}">
            <amp-truncate-text layout="fixed-height" height="12em">
              <h4 class="ap-o-roadmap-list-item-issue-title">{{ issue.wg_name }}</h4>
              <span class="ap-o-roadmap-list-item-issue-subtitle">Status Update {{ issue.status_update }}</span>
              <p class="ap-o-roadmap-list-item-issue-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Labore et dolore magna aliquyam erat, sed diam voluptua.</p>

              <div class="ap-o-roadmap-list-item-issue-body">
                {{ issue.body|markdown|safe }}
                <a href="{{ issue.html_url }}">See details on GitHub</a>
              </div>

              <button class="ap-o-roadmap-list-item-issue-button" slot="collapsed">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down-light"></use></svg>
              </button>
              <button class="ap-o-roadmap-list-item-issue-button" slot="expanded">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-up-light"></use></svg>
              </button>
            </amp-truncate-text>
          </div>

        </div>
        {% endfor %}
        {% endfor %}
      </div>

    </section>
  </div>

</main>
