---
$title: AMP Ads
$view: /views/overview/what-is-amp.j2
description: A growing number of publishers and advertisers are adopting AMP to deliver faster and more engaging content to their users. As your clients embrace the speed of AMP and ...
sharing_images:
  square: /static/img/sharing/about-ads-1x1.png
  wide: /static/img/sharing/about-ads-600x314.png

benefits: !g.yaml /shared/data/benefits.yaml

flyout:
  format: ads
  description: Super fast ads on the web
  icon: amp-ads

kpis:
  - figure: 13%
    description: Increase in revenue
    success_story: !g.doc /content/amp-dev/about/success-stories/triplelift.yaml
  - figure: 200%
    description: Increase in average clickthrough rate
    success_story: !g.doc /content/amp-dev/about/success-stories/teads.yaml
  - figure: 6x
    description: Increase in ad load speed
    success_story: !g.doc /content/amp-dev/about/success-stories/teads.yaml
---

<section class="ap--stage ap--container-fluid">
  {% do doc.styles.addCssFile('css/components/organisms/stage-ads.css') %}
  <div class="ap-o-stage">
    <div class="ap--container-fluid">
      <div class="ap-o-stage-content">
          <div class="ap-o-stage-content-icon ap-a-ico">
            {% do doc.icons.useIcon('icons/bolt-solid.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt-solid"></use></svg>
          </div>

          <h2 class="ap-o-stage-content-subline">{{ _('AMP Ads') }}</h2>
          <h1 class="ap-o-stage-content-headline">{{ _('Use AMP to build and serve lightning fast, safe ads to pages and stories.') }}</h1>

          {% do doc.styles.addCssFile('/css/components/atoms/button.css') %}
          <a href="../documentation/guides-and-tutorials/start/create_amphtml_ad/index.md?format=ads" class="ap-o-stage-content-button ap-a-btn">{{ _('Start developing') }}</a>
          <a href="#tools" class="ap-o-stage-content-button ap-a-btn">{{ _('Explore tools') }}</a>
       </div>
    </div>
  </div>

  {% include 'views/partials/format-visuals/ads.j2' %}
</section>

<section class="ap--content">
  <div class="ap--container">
    <div class="ap-m-copy ap-m-copy-left" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
      <h1>{{ _('AMP<br> Ads') }}</h1>
      <h5>{{ _('These days, if it isn’t instant - it’s not fast enough. Even the most memorable creative won’t serve its purpose if the ad is slow and disruptive for a user.') }}</h5>
      <p>{{ _('AMP is fundamentally changing the way ads are built, delivered and measured on the web, making them faster and minimizing disruptions for users. This increases viewability and click-through rates to improve monetization, making everyone happy: users, publishers and advertisers alike.') }}</p>
      <p>{{ _('Advertising continues to be the cornerstone of every publisher’s business model; AMP is fundamentally changing the way ads are built and delivered on the web by supporting ads that are fast, safe, compelling and effective for users.') }}</p>
      <div class="ap-o-component-visual-link">
        <a href="../documentation/guides-and-tutorials/index.html?format=ads" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('Get Started') }}</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="ap--content">
    <div class="ap--container">
      <div class="ap-m-copy ap-m-copy-left" amp-fx="fade-in fly-in-left" data-duration="1s" data-fly-in-distance="5%">
        <h1>{{ _('A faster way to grow your business') }}</h1>
        <p>{{ _('A growing number of publishers and advertisers are adopting AMP to deliver faster and more engaging content to their users. As your clients embrace the speed of AMP and more users consume content on AMP pages, ensure that your business is positioned for the future and integrate your technology with AMP. Speeding up ads is the fastest way to boost performance.') }}</p>
        <p>{{ _('AMP ads greatly improve the mobile internet through their intelligent design and pre-loading features. This leads to increased traffic, higher sales conversion rates and more pages per visit - delivering the value you’re looking for in your ads.') }}</p>
        <p>{{ _('Although AMP pages support traditional HTML ads, these ads can be slow to load. To make ads themselves as fast as the rest of the AMP page, you can build ads in AMPHTML.') }}</p>
        <p>{{ _('AMPHTML ads load as fast as content, increasing viewability and enticing engagement. AMPHTML ads are only delivered after being validated, ensuring that the ads are free of malware.') }}</p>
        <p>{{ _('Ads created with AMPHTML are served on both AMP and non-AMP pages. By building an ad with AMP, you can deliver a memorable brand experience everywhere without worrying about speed and platform compatibility.') }}</p>
      <div class="ap-o-component-visual-link">
        <a href="../documentation/guides-and-tutorials/start/create_amphtml_ad/index.md" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('Get Started') }}</span>
        </a>
      </div>
      </div>
    </div>
</section>

<section class="ap--teaser-grid ap--container">
  <div class="ap-o-teaser-grid">
    <div class="ap-o-teaser-grid-list">
      {% for kpi in doc.kpis %}
        {% with %}
        {% set teaser_doc = kpi.success_story %}
        {% set teaser = {
          "figure": kpi.figure,
          "description": kpi.description,
          "logo": teaser_doc.teaser.logo,
          "text": teaser_doc.teaser.text
        }%}
        {% include '/views/partials/teaser.j2' %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
</section>


<section class="ap--benefits-overview">
  <div class="ap-o-benefits-overview ap--container">

    <div class="ap-o-benefits-overview-header">
      <div class="ap-m-headline-icon">
        <div class="ap-m-headline-icon-icon">
          {% do doc.icons.useIcon('icons/exclamation.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#exclamation"></use></svg>
        </div>
        <h1 class="ap-m-headline-icon-hl">{{ _('The benefits of AMP ads') }}</h1>
      </div>
    </div>

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-developers">

      {% for benefit in doc.benefits.ads.developer %}
        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/'+ benefit.icon +'.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline">{{ _(benefit.headline) }}</span>
            <span class="ap-m-benefit-text-copy"> {{ _(benefit.text) }}</span>
          </div>
        </div>

      {% endfor %}

    </div>

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-business">
      {% for benefit in doc.benefits.ads.business %}

        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/'+ benefit.icon +'.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline">{{ _(benefit.headline) }}</span>
            <span class="ap-m-benefit-text-copy"> {{ _(benefit.text) }}</span>
          </div>
        </div>

      {% endfor %}

    </div>

    <div class="ap-o-benefits-overview-link">
      <a href="../documentation/guides-and-tutorials/learn/intro-to-amphtml-ads.md" class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('Read on about AMP ads') }}</span>
      </a>
    </div>

  </div>
</section>

<section class="ap--quote ap--container">
  <div class="ap-m-quote">
    <div class="ap-m-quote-source">
      <div class="ap-a-ico">
        {% do doc.icons.useIcon('icons/quote.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use></svg>
      </div>
    </div>
    <div class="ap-m-quote-quote">
      <blockquote>
        <p class="ap-a-txt">{{ _('AMP Ads get a nice comparative boost over competitors by Google giving non-AMP ads an artifial one-second delay.') }}<p>
      </blockquote>
      <p>{{ _('Civil Action No.: 1:21-md-03010-PKC') }}</p>

      <a href="https://storage.courtlistener.com/recap/gov.uscourts.nysd.564903/gov.uscourts.nysd.564903.152.0.pdf" class="ap-m-lnk" taret="_blank" rel="noopener">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('Read Success Story') }}</span>
      </a>
    </div>
  </div>
</section>

<section class="ap--content">
  <div class="ap--container">
    <div class="ap-m-copy ap-m-copy-left" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
      <h1>{{ _('AMP for advertisers') }}</h1>
      <h5>{{ _('Grow engagement and increase conversions with faster experiences') }}</h5>
      <p>{{ _('The average mobile site takes 19 seconds to load over a 3G connection. Coupled with the fact that conversions fall by 12% for every additional second a webpage takes to load, you can safely assume two things: speed equals performance, and most advertiser campaigns have room to improve. That’s where you come in. As an SSP, DSP, analytics provider, or anything in between, embracing speed means improving campaign performance, delivering quality user experiences, and establishing yourself as the adtech platform for the fast web. Join the hundreds of technology platforms currently supporting the open source AMP ecosystem.') }}</p>
      <p>{{ _('AMP offers a way for you to give users a faster experience everywhere: on ads, landing pages or on your entire website. AMP ads help users engage with your brand and improve the performance of your campaigns. When your target audience lands on an AMP page, they get what they’re looking for in the moment they’re looking for it. The net result – they’re more likely to be engaged with and receptive to your brand’s messages, and more likely to take the actions you’re guiding them towards like completing a purchase.') }}</p>
      <div class="ap-o-component-visual-link">
        <a href="../documentation/guides-and-tutorials/learn/intro-to-amphtml-ads.md" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('Get Started') }}</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% do doc.styles.addCssFile('css/components/molecules/shift-card.css') %}
<section class="ap--shift-cards">

  <div class="ap--container">
    <div class="ap-m-copy ap-m-copy-left" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
      <h1>{{ _('What’s the difference between an AMPHTML ad and a regular ad? Seconds.') }}</h1>
    </div>
  </div>

  <div class="ap--shift-cards-grid ap--container">
    <div class="ap-m-shift-card ap-m-shift-card-1 small">
      <div class="ap-m-shift-card-title">{{ _('AMPHTML Ad') }}</div>
      {% do doc.styles.addCssFile('css/components/molecules/ghost-frame-mobile.css') %}
      <div class="ap-m-ghost-frame-mobile">
        <amp-video
          width="410"
          height="732"
          layout="responsive"
          src="/static/img/amp_ad_video_left.mp4"
          poster="/static/img/amp_ad_video_left.jpg"
          title="An ad implemented as AMPHTML Ad"
          autoplay
          loop
        ></amp-video>
      </div>
    </div>
    <div class="ap-m-shift-card ap-m-shift-card-2 small">
      <div class="ap-m-shift-card-title">{{ _('Regular Ad') }}</div>
      <div class="ap-m-ghost-frame-mobile">
        <amp-video
          width="410"
          height="732"
          layout="responsive"
          src="/static/img/amp_ad_video_right.mp4"
          poster="/static/img/amp_ad_video_right.jpg"
          title="A regular ad"
          autoplay
          loop
        ></amp-video>
      </div>
    </div>
  </div>

</section>

{% with format = 'ads', group = 'creation' %}
{% include 'views/partials/tools-widget.j2' %}
{% endwith %}
