---
$title: AMP Email
$view: /views/overview/what-is-amp.j2
---

<section class="ap--stage ap--container-fluid">
  {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}
  <div class="ap-o-stage ap-o-stage-emails">
    <div class="ap--container-fluid">
      <div class="ap-o-stage-content">
          <div class="ap-o-stage-content-icon ap-a-ico">
            {% do doc.icons.useIcon('icons/bolt-solid.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt-solid"></use></svg>
          </div>

          <h2 class="ap-o-stage-content-subline">AMP Email</h2>
          <h1 class="ap-o-stage-content-headline">Use AMP to send interactive, dynamic emails to your customers.</h1>

          {% do doc.styles.addCssFile('/css/components/atoms/button.css') %}
          <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/start/create_email/index.md', locale=doc.locale).url.path }}" class="ap-o-stage-content-button ap-a-btn">Get started</a>
      </div>
    </div>
  </div>

  {% include 'views/partials/format-visuals/email.j2' %}
</section>

<section class="ap--content">
  <div class="ap--container-fluid">
    <div class="ap-m-copy ap-m-copy-left-small" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
      <h1>AMP<br> Email</h1>
      <h5>A whole new world of possibilities for content engagement</h5>
      
      {% do doc.styles.addCssFile('/css/components/atoms/video.css') %}
      <figure class="ap-a-video">
        <amp-youtube id="myLiveChannel" data-videoid="R_YQB6rLo_M" width="358" height="204" layout="responsive"></amp-youtube>
      </figure>

      <p>AMP for email allows senders to include AMP components inside rich engaging emails, making modern app functionality available within email. The AMP email format provides a subset of AMPHTML components for use in email messages, that allows recipients of AMP emails to interact dynamically with content directly in the message.</p>
      <p>More than 270 billion emails are sent every day, it is the pillar of many consumer and enterprise workflows. However the content that is sent in an email message is still limited – messages are static, can become out of date, and are not actionable without opening a browser. AMP email seeks to enhance and modernize the email experience through added support for dynamic content and interactivity while keeping users safe.</p>
      <div class="ap-o-component-visual-link">
        <a href="#" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Get Started</span>
        </a>
      </div>
    </div>
  </div>
</section>

{% with %}
{% set kpis = doc.kpis %}
{% set format = 'email' %}
{% include 'views/partials/kpis.j2' %}
{% endwith %}

<section class="ap--quote ap--container">
  <div class="ap-m-quote">
    <div class="ap-m-quote-source">
     <div class="ap-a-ico">
        {% do doc.icons.useIcon('icons/quote.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use></svg>
     </div>
      <div class="ap-a-img ap-a-img-static">
        <amp-img src="/static/img/logo-dummy-washingtonpost.png" layout="responsive" height="96" width="630" alt="placeholder" />
      </div>
    </div>
    <div class="ap-m-quote-quote">
      <blockquote>
        <p class="ap-a-txt">It’s the biggest thing happening to email since the creation of email.<p>
      </blockquote>
      <p>Antony Malone, Senior Product Owner Direct Marketing at Booking.com</p>

      <a href="#" class="ap-m-lnk">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">Read Success Story</span>
      </a>
    </div>
  </div>
</section>

<section class="ap--content">
  <div class="ap--container-fluid">
    <div class="ap-m-copy ap-m-copy-left-small" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
      <h1>Modern app functionality for email</h1>
      <h5>Modernize email with the power of AMP</h5>
      <p>AMP email is an expansion of the already existing blazingly fast and high-performing AMP project.   Expand your business through unprecedented features.</p>
      <div class="ap-o-component-visual-link">
        <a href="#" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Get Started</span>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="ap--benefits-overview">
  <div class="ap-o-benefits-overview ap--container">

    <div class="ap-o-benefits-overview-header">
      <div class="ap-m-headline-icon">
        <div class="ap-m-headline-icon-icon">
          {% do doc.icons.useIcon('icons/exclamation.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#exclamation"></use></svg>
        </div>
        <h1 class="ap-m-headline-icon-hl">The benefits of AMP email</h1>
      </div>
    </div>

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-developers">

      <div class="ap-m-benefit">
        <div class="ap-m-benefit-icon">
          {% do doc.icons.useIcon('icons/integration.svg') %}
          <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#integration"></use></svg>
        </div>
        <div class="ap-m-benefit-text">
          <span class="ap-m-benefit-text-headline">Increased in-mail capabilities</span>
          <span class="ap-m-benefit-text-copy">Senders can include AMP components inside rich, engaging emails, making them dynamic and interactive. Users can engage with content and quickly take action such as RSVP to events, fill out questionnaires and personalize their content. AMP emails are always up to date and can function like digests, with fewer clicks necessary to achieve efficient results.</span>
        </div>
      </div>

      <div class="ap-m-benefit">
        <div class="ap-m-benefit-icon">
          {% do doc.icons.useIcon('icons/user-shield.svg') %}
          <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user-shield"></use></svg>
        </div>
        <div class="ap-m-benefit-text">
          <span class="ap-m-benefit-text-headline">Safe and secure</span>
          <span class="ap-m-benefit-text-copy">AMP for email has no arbitrary 3rd party features to limit security issues, and far surpasses the capabilities currently provided by third party providers. Ad components are not allowed in AMP email, keeping users safe. To maintain users’ expectations of security and privacy, only a conservative subset of AMP functionality will be allowed.</span>
        </div>
      </div>

      <div class="ap-m-benefit">
        <div class="ap-m-benefit-icon">
          {% do doc.icons.useIcon('icons/documents.svg') %}
          <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#documents"></use></svg>
        </div>
        <div class="ap-m-benefit-text">
          <span class="ap-m-benefit-text-headline">Consistency and scalability</span>
          <span class="ap-m-benefit-text-copy">Embedding AMP within an email is simple, add a new MIME part with a content type of text/x-amp-html as a descendant of multipart/alternative. It should live alongside the existing text/html or text/plain parts. This ensures that the email message works on all clients.</span>
        </div>
      </div>

    </div>

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-business">

      <div class="ap-m-benefit">
        <div class="ap-m-benefit-icon">
          {% do doc.icons.useIcon('icons/survey.svg') %}
          <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#survey"></use></svg>
        </div>
        <div class="ap-m-benefit-text">
          <span class="ap-m-benefit-text-headline">Increased personalization</span>
          <span class="ap-m-benefit-text-copy">AMP for email allows exciting smarter and efficient user engagement, as customers can take action directly within their email such as managing their subscriptions, responding to polls, doodles, and bookings. This is possible because the server retrieves fresh content from remote endpoints, keeping email up to date.</span>
        </div>
      </div>

      <div class="ap-m-benefit">
        <div class="ap-m-benefit-icon">
          {% do doc.icons.useIcon('icons/interaction.svg') %}
          <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#interaction"></use></svg>
        </div>
        <div class="ap-m-benefit-text">
          <span class="ap-m-benefit-text-headline">Interactive customer experience</span>
          <span class="ap-m-benefit-text-copy">AMP Email’s expanding capabilities allows you to take action right inside your Inbox. This includes carousels and accordions, and taking user input on forms and questionnaires.</span>
        </div>
      </div>

      <div class="ap-m-benefit">
        <div class="ap-m-benefit-icon">
          {% do doc.icons.useIcon('icons/checkmark-component.svg') %}
          <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#checkmark-component"></use></svg>
        </div>
        <div class="ap-m-benefit-text">
          <span class="ap-m-benefit-text-headline">Improved and smarter services</span>
          <span class="ap-m-benefit-text-copy">AMP email allows an attractive option for promotional and subscriber-list emails. Through smarter engagement you can improve customer satisfaction through hassle-free feedback and subscription management all within their inbox.</span>
        </div>
      </div>

    </div>

    <div class="ap-o-benefits-overview-link">
      <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/learn/amp-email-format.md').url.path }}" class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">Read on about AMP email</span>
      </a>
    </div>

  </div>
</section>
