---
$title: AMP Stories
$view: /views/overview/what-is-amp.j2
description: AMP stories immerse your readers in fast-loading full-screen experiences. Easily create visual narratives, with engaging animations and tappable interactions.

benefits: !g.yaml /content/shared/data/benefits.yaml

flyout:
  format: stories
  description: Snackable formats for everyone
  icon: amp-stories

stories:
  - image: /static/img/stories/story-cnn.jpg
    immage_alt@: Protecting the Antarctic - A journey to a continent in distress
    logo: /static/img/stories/logo-cnn.png
    logo_alt@: CNN
    url: https://edition.cnn.com/ampstories/world/protecting-the-antarctic-a-journey-to-a-continent-in-distress
  - image: /static/img/stories/story-mic.jpg
    immage_alt@: Did you know these fun facts about Stan Lee?
    logo: /static/img/stories/logo-mic.png
    logo_alt@: Mic
    url: https://mic.com/stories/500/did-you-know-these-fun-facts-about-stan-lee
  - image: /static/img/stories/story-wired.jpg
    immage_alt@: The Ice Cream Factory and the Rise of the Made-for-Instagram Museum | WIRED
    logo: /static/img/stories/logo-wired.png
    logo_alt@: Wired
    url: https://www.wired.com/amp-stories/space-photos-of-the-week-111817/
  - image: /static/img/stories/story-expansion.jpg
    immage_alt@: Nueve hoteles en los que tienes que dormir antes de morir
    logo: /static/img/stories/logo-expansion.png
    logo_alt@: Expansion
    url: https://expansion.mx/ampstories/2018/12/12/nueve-hoteles-para-dormir-antes-de-morir
  - image: /static/img/stories/story-bbc.jpg
    immage_alt@: What's left behind on the Moon?
    logo: /static/img/stories/logo-bbc.png
    logo_alt@: BBC
    url: https://www.bbc.co.uk/news/ampstories/moonmess/index.html
  - image: /static/img/stories/story-terra.jpg
    immage_alt@: Presidenciáveis
    logo: /static/img/stories/logo-terra.png
    logo_alt@: Terra
    url: https://www.terra.com.br/amp/story/noticias/eleicoes/amp/story/presidenciaveis,42f13db5e872e0e682ac0432577c0e24i04kdc0f.html
  - image: /static/img/stories/story-pcgamesn.jpg
    immage_alt@: The best battle royale games on PC
    logo: /static/img/stories/logo-pcgamesn.png
    logo_alt@: PCGamesN
    url: https://www.pcgamesn.com/amp-stories/best-battle-royale-games.html
  - image: /static/img/stories/story-theatlantic.jpg
    immage_alt@: The Amazon Gold Rush
    logo: /static/img/stories/logo-theatlantic.png
    logo_alt@: The Atlantic
    url: https://www.theatlantic.com/assets/media/interactives/2019/01/02/the-amazon-gold-rush-atlantic-amp-story/

templates:
  - video: /static/img/templates/single_video.mp4
    poster: /static/img/templates/single_video.jpg
    immage_alt@: Single video
  - video: /static/img/templates/single-image-template.mp4
    poster: /static/img/templates/single-image-template.jpg
    immage_alt@: Single Image
  - image: /static/img/templates/multiple-image-template.jpg
    immage_alt@: Multiple Image
  - image: /static/img/templates/app_install.jpg
    immage_alt@: App Install
---

<section class="ap--stage ap--container-fluid">
  {% do doc.styles.addCssFile('css/components/organisms/stage-stories.css') %}
  <div class="ap-o-stage">
    <div class="ap--container-fluid">
      <div class="ap-o-stage-content">
          <div class="ap-o-stage-content-icon ap-a-ico">
            {% do doc.icons.useIcon('icons/bolt-solid.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt-solid"></use></svg>
          </div>

          <h2 class="ap-o-stage-content-subline">AMP Stories</h2>
          <h1 class="ap-o-stage-content-headline">Use AMP to create visual stories on the web.</h1>

          {% do doc.styles.addCssFile('/css/components/atoms/button.css') %}
          <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/start/visual_story/index.md', locale=doc.locale).url.path }}?format=stories" class="ap-o-stage-content-button ap-a-btn">Get started</a>
      </div>
    </div>
  </div>

  {% include 'views/partials/format-visuals/stories.j2' %}
</section>

<section class="ap--content">
  <div class="ap--container-fluid">
    <div class="ap-m-copy ap-m-copy-left-small" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
      <h1>AMP<br> Stories</h1>
      <h5>visual storytelling for the open web</h5>
      <p>AMP stories immerse your readers in fast-loading full-screen experiences. Easily create visual narratives, with engaging animations and tappable interactions. The AMP story format is free and part of the open web and are available for everyone to try on their websites. They can be shared and embedded across the web without being confined to a closed ecosystem or platform.</p>
      <p>AMP stories provides content publishers with a mobile-focused format for delivering news and information as visually rich, tap-through stories. AMP Stories offers a robust set of advertising opportunities for advertisers and publishers to reach a unique audience on the web with immersive experiences.</p>
    </div>

    <div class="ap--component-visual-container">
      <div class="ap-o-component-visual-link">
        <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/start/visual_story/index.md').url.path }}" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Build your first story</span>
        </a>
      </div>
       <div class="ap-o-component-visual-link">
        <a href="#monetization" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Learn about story ads</span>
        </a>
      </div>
    </div>

  </div>
</section>


<section class="ap--quote ap--container">
  <div class="ap-m-quote">
    <div class="ap-m-quote-source">
     <div class="ap-a-ico">
        {% do doc.icons.useIcon('icons/quote.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use></svg>
     </div>
      <div class="ap-a-img ap-a-img-static">
        <amp-img src="/static/img/logo-dummy-washingtonpost.png" layout="responsive" height="96" width="630" alt="placeholder" />
      </div>
    </div>
    <div class="ap-m-quote-quote">
      <blockquote>
        <p class="ap-a-txt">As a source for breaking news and information, AMP stories allows us to showcase our quality journalism when there are multiple elements we want to bring together. Combining reporting, photography, videos and motion graphics, this gives readers a more visual entry point when they are searching for our coverage.<p>
      </blockquote>
      <p>Greg Manifold, Design Director of The Washington Post</p>

      <a href="{{ g.doc('/content/amp-dev/about/success-stories/washingtonpost.yaml').url.path }}" class="ap-m-lnk">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">Read Success Story</span>
      </a>
    </div>
  </div>
</section>

<section class="ap--benefits-overview">

  <div class="ap-o-benefits-overview ap--container">

    <div class="ap-o-benefits-overview-header">
      <div class="ap-m-headline-icon">
        <div class="ap-m-headline-icon-icon">
          {% do doc.icons.useIcon('icons/exclamation.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#exclamation"></use></svg>
        </div>
        <h1 class="ap-m-headline-icon-hl">The benefits of AMP stories</h1>
      </div>
    </div>

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-developers">

      {% for benefit in doc.benefits.stories.developer %}

        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/'+ benefit.icon + '.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline">{{ benefit.headline }}</span>
            <span class="ap-m-benefit-text-copy"> {{ benefit.text }} </span>
          </div>
        </div>

    {% endfor %}
    </div>

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-business">


      {% for benefit in doc.benefits.stories.business %}

        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/'+ benefit.icon + '.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline">{{ benefit.headline }}</span>
            <span class="ap-m-benefit-text-copy"> {{ benefit.text }} </span>
          </div>
        </div>

      {% endfor %}

    </div>

    <div class="ap-o-benefits-overview-link">
      <a href="{{ g.doc('/content/amp-dev/about/how-amp-works.html').url.path }}" class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">Read on how AMP works</span>
      </a>
    </div>

  </div>
</section>

<section class="ap--content">
    <div class="ap--container-fluid">

      <div class="ap-m-copy ap-m-copy-left-small" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
        <h2>Images, videos and GIFs</h2>
        <p>AMP stories are built with visually rich media, and whether you utilize pictures, videos or GIF assets is up to you. Images and videos expand to visually fill the readers’ screens, providing a smooth and fully engaging experience. AMP allows you to specify the file type to account for the user’s network connection and browser capabilities.</p>
      </div>

      <div class="ap-m-copy ap-m-copy-right-small" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
        <h2>Text and audio</h2>
        <p>Convey facts and figures via bite-sized chunks of one or two sentences – ideal for mobile devices. Choose from different font colors for basic readability. Or add visual elements like subtle black transparent gradient overlays to ensure readability even on random background imagery, for example user generated content. On top of this, you can use short audio files on every page to provide spoken information or background music.</p>
      </div>

      <div class="ap-m-copy ap-m-copy-left-small" amp-fx="fade-in fly-in-left" data-margin-start="5%" data-duration="1s" data-fly-in-distance="5%">
        <h2>Animations and interactions</h2>
        <p>It’s easy to create visual effects and tappable interactions that keep readers engaged. Titles can fly  drop, fade in, or animate onto the page. Configure your story to automatically progress to the next page when a video snippet is finished. Provide social sharing and related links at the end of your story, so users can share it or dive further into other content on your site.</p>
      </div>

    </div>
</section>

{% do doc.styles.addCssFile('css/components/organisms/story-carousel.css') %}
<section class="ap--story-carousel ap--container-fluid">

  <div class="ap-m-copy ap-m-copy-center">
    <h2>Check out AMP stories on the web</h2>
  </div>

  <div class="ap-o-story-carousel">
    <amp-carousel
      layout="fixed-height"
      media="(min-width: 1024px)"
      height="555"
      type="carousel">
      {% for story in doc.stories %}
      <a
        class="ap-o-story-carousel-slide"
        href="{{story.url}}"
        target="_blank">
        <div class="ap-o-story-carousel-slide-image">
          <amp-img
            src="{{story.image}}"
            width="282"
            height="470"
            alt="{{ story.image_alt }}">
          </amp-img>
        </div>
        <div class="ap-o-story-carousel-slide-logo">
          <amp-img
            layout="responsive"
            src="{{story.logo}}"
            width="395"
            height="45"
            alt="{{ story.logo_alt }}">
          </amp-img>
        </div>
      </a>
      {% endfor %}
    </amp-carousel>

    <amp-carousel
      layout="fixed-height"
      media="(max-width: 1023px)"
      height="370"
      type="carousel">
      {% for story in doc.stories %}
      <a
        class="ap-o-story-carousel-slide"
        href="{{story.url}}"
        target="_blank">
        <div class="ap-o-story-carousel-slide-image">
          <amp-img
            src="{{story.image}}"
            width="171"
            height="285"
            alt="{{ story.image_alt }}">
          </amp-img>
        </div>
        <div class="ap-o-story-carousel-slide-logo">
          <amp-img
            layout="responsive"
            src="{{story.logo}}"
            width="395"
            height="45"
            alt="{{ story.logo_alt }}">
          </amp-img>
        </div>
      </a>
      {% endfor %}
    </amp-carousel>
  </div>
</section>

<section class="ap--stories-monetize ap--container-fluid" id="monetization">
  <div class="ap-m-copy ap-m-copy-left-small">
    <h1>AMP Stories <br />Monetization Options</h1>
    <h4>Single Page Story Ad</h4>
    <p>Story Ads are full screen, single page ads that appear within AMP Stories. Advertisers/ Publishers can invite users to a web page, an AMP page or an App with a single tap. A story ad has a rich, flexible canvas that allows images, videos, animations or a combination of all those elements.
    Story ads are supported by Google Ad Manager and Google DV360 (Beta) with additional ad server support coming soon!</p>
  </div>
</section>

<section class="ap--monetize-carousel ap--container-fluid">

  <div class="ap-o-story-carousel monetize">
    <amp-carousel
      layout="fixed-height"
      media="(min-width: 1024px)"
      height="555"
      type="carousel">
      {% for template in doc.templates %}
        {% if template.image %}
          <div class="ap-o-story-carousel-slide">
            <div class="ap-o-story-carousel-slide-image no-logo">
              <amp-img
                src="{{template.image}}"
                width="282"
                height="470"
                alt="{{ template.image_alt }}">
              </amp-img>
            </div>
          </div>
        {% elif template.video %}
          <div class="ap-o-story-carousel-slide">
            <div class="ap-o-story-carousel-slide-image no-logo">
              <div class="ap-o-story-carousel-slide-image-wrapper">
                <amp-video
                  layout="responsive"
                  height="16"
                  width="9"
                  poster="{{ template.poster }}"
                  src="{{ template.video }}"
                  autoplay muted loop>
                </amp-video>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </amp-carousel>

    <amp-carousel
      layout="fixed-height"
      media="(max-width: 1023px)"
      height="370"
      type="carousel">
      {% for template in doc.templates %}
        {% if template.image %}
          <div class="ap-o-story-carousel-slide">
            <div class="ap-o-story-carousel-slide-image no-logo">
              <amp-img
                src="{{template.image}}"
                width="171"
                height="285"
                alt="{{ template.image_alt }}">
              </amp-img>
            </div>
          </div>
        {% elif template.video %}
          <div class="ap-o-story-carousel-slide">
            <div class="ap-o-story-carousel-slide-image no-logo">
              <div class="ap-o-story-carousel-slide-image-wrapper">
                <amp-video
                  layout="responsive"
                  height="16"
                  width="9"
                  src="{{ template.video }}"
                  poster="{{ template.poster }}"
                  autoplay muted loop>
                </amp-video>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </amp-carousel>
  </div>

  <div class="ap-m-copy ap-m-copy-right-centered">
    <h4>Get Started with our Story Ads Templates</h4>
    <div class="ap-o-component-visual-link">
      <a href="{{ g.doc('/content/amp-dev/documentation/templates/index.html').url.path }}" class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">Discover All Templates</span>
      </a>
    </div>
  </div>

  <div class="ap-m-copy ap-m-copy-left-small">
    <h4>Affliate Links</h4>
    <p>Publishers can use affiliate links as a form of monetization by placing outlinks in organic story pages.</p>
    <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/develop/story_ads_best_practices.md').url.path }}" class="ap-m-lnk">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      </div>
      <span class="ap-m-lnk-text">Read Best Practices Guide</span>
    </a>
  </div>
</section>
