---
$title: AMP Websites
$view: /views/2021/base.html
description: 'AMP is a simple and robust format to ensure your website is fast, user-first, and makes money. AMP
provides long-term success for your web strategy with distribution across ...'
sharing_images:
  square: /static/img/sharing/about-websites-1x1.png
  wide: /static/img/sharing/about-websites-600x314.png
cards:
  - icon: icon-flash
    headline: Lightning Speed
    text: AMP pages load near instantly – across all devices and platforms.
  - icon: icon-build
    headline: Easy Building
    text: 'You can often convert your entire archive in days – especially when using common CMS like WordPress or Drupal.'
  - icon: icon-flexible
    headline: Maintain flexibility
    text: 'You can use CSS to customize your styling and dynamic data to fetch the freshest data where needed.'
  - icon: icon-performance
    headline: Ensure performance
    text: 'It takes a lot of time and effort to build a great website. AMP components are already optimized for the best performance.'
  - icon: icon-touch-points
    headline: Various web touch points
    text: 'Used by global platforms like Google, Bing and Twitter, AMP allows users a native-feeling experience across all platforms by defaulting to AMP pages when available.'
  - icon: icon-heart
    headline: Open web
    text: 'The AMP Project is an open source initiative to protect the future of the web by delivering a better, faster and more user-friendly experience.'
success_stories:
  - !g.doc /content/amp-dev/about/success-stories/washingtonpost.yaml
  - !g.doc /content/amp-dev/about/success-stories/teads.yaml
  - !g.doc /content/amp-dev/about/success-stories/carved.yaml
  - !g.doc /content/amp-dev/about/success-stories/wompmobile.yaml
---

<main>
  <section class="ap-stage">
    <div class="ap-stage-text">
      <div class="ap-text-block">
        <h2>{{ _('AMP Websites') }}</h2>
        <h1>{{ _('A framework that amplifies page experience.') }}</h1>
        <p class="ap-p-large">
          {{ _('AMP is a simple and robust web components framework that makes
          it easy to build fast websites that are user-first and make money. AMP
          provides long-term success for your web strategy with distribution
          across popular platforms and reduced operating costs.') }}
        </p>

        <a
          class="ap-button --inverted"
          href="{{ g.doc('/content/amp-dev/documentation/index.html', locale=doc.locale).url.path }}"
        >
          {{ _('Get started with AMP') }}
        </a>
      </div>
    </div>

    <div class="ap-stage-backdrop">
      <svg width="457" height="457">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/static/frontend/sprite.svg#deco-foundation"
        ></use>
      </svg>
    </div>

    <div class="ap-stage-media">
      <amp-img
        src="/static/img/about/websites-amp-sidebar.png"
        layout="responsive"
        width="778"
        height="669"
        alt="{{ _('A screenshot showing amp-sidebar.') }}"
      ></amp-img>
    </div>
  </section>

  <section class="ap-section --offset">
    <div class="ap-text-block">
      <h2 class="ap-h1">{{ _('Grab-and-go components') }}</h2>
    </div>

    <div class="ap-text-media --thirds">
      <div class="ap-text-media-col">
        <div class="ap-text-block">
          <p>
            {{ _('Quickly build pages with AMP’s extensive component library.
            These components are copy-and-pastable and meet a wide range of UI
            and functionality needs. They are customizable in behavior and style
            through attributes and CSS. Best of all, they have a team of
            engineers working full-time behind the scenes to guarantee a great
            performance.') }}
          </p>
        </div>
        {% with %}
          {% set square = true %}
          {% set href = g.doc('/content/amp-dev/documentation/components/index.html', locale=doc.locale).url.path %}
          {% set text = _("See the full component library") %}
          {% include '/views/2021/partials/content/link.j2' %}
        {% endwith %}

        <p>
          {{ _('Want just the components without the AMP ecosystem? ')}}
          <a
            href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/start/bento_guide', locale=doc.locale).url.path }}"
            >Check out Bento AMP</a
          >!
        </p>
      </div>
      <div class="ap-text-media-col">
        {% include 'views/2021/partials/extras/about/components-showcase.j2' %}
      </div>
    </div>
  </section>

  <section class="ap-section --offset">
    <div class="ap-text-media">
      <div class="ap-text-media-col">
        <amp-img
          alt="{{ _('A green check mark') }}"
          src="/static/img/about/page-experience.jpg"
          width="1070"
          height="1034"
          layout="responsive"
        >
        </amp-img>
      </div>
      <div class="ap-text-media-col">
        <div class="ap-text-block">
          <h2 class="ap-h1">{{ _('Guaranteed Page Experience') }}</h2>
          <p>
            {{ _('AMP provides you with the tools needed to build websites that
            meet Page Experience ranking signals while remaining flexible and
            customizable to your needs. Page experience is a set of signals from
            Google that measure how users perceive their experience interacting
            with a web page beyond its pure information value. AMP is a
            straightforward way to a high page experience score. Domains built
            with AMP are 5 times more likely to pass Core Web Vitals metrics
            than non-AMP!') }}
          </p>
        </div>

        <a
          class="ap-button"
          href="{{ g.doc('/content/amp-dev/page-experience.html', locale=doc.locale).url.path }}"
        >
          {{ _('Check your page’s performance') }}
        </a>

        {% with %}
          {% set href = g.doc('/content/amp-dev/about/page-experience.html', locale=doc.locale).url.path %}
          {% set text = _("Learn more") %}
          {% include '/views/2021/partials/content/link.j2' %}
        {% endwith %}
      </div>
    </div>
  </section>

  <section class="ap-center-stage">
    <div class="ap-center-stage-content">
      <h2 class="ap-h2">{{ _('How AMP works for you') }}</h2>
      <p class="ap-center-stage-copy ap-p-large">
        {{ _("AMP meets you exactly where you are. Whether you're building a
        site from scratch, using a CMS or optimizing an in-house solution, AMP
        can help! AMP’s built-in validation system guides your development
        process, ensuring your page is performant and user-first. AMP comes with
        built-in accessibility and compatibility across browsers.") }}
      </p>
      <a
        class="ap-button --inverted"
        href="{{ g.doc('/content/amp-dev/about/how-amp-works.html', locale=doc.locale).url.path }}"
      >
        {{ _('Learn how AMP works') }}
      </a>
    </div>
  </section>
  <section class="ap-cards">
    <div class="ap-cards-grid" role="list">
      {% for card in doc.cards %}
      <div class="ap-cards-item" role="listitem">
        <svg class="ap-cards-item-icon" width="30" height="30">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/static/frontend/sprite.svg#{{ card.icon }}"
          ></use>
        </svg>

        <h3>{{ card.headline }}</h3>
        <p>{{ card.text }}</p>
      </div>
      {% endfor %}
    </div>

    <amp-base-carousel
      id="cards-carousel"
      class="ap-cards-carousel"
      role="list"
      layout="fixed-height"
      height="350"
      controls="never"
      on="slideChange:cards-carousel-pagination.toggle(index=event.index, value=true)"
    >
      {% for card in doc.cards %}
      <div class="ap-cards-item-wrapper">
        <div class="ap-cards-item" role="listitem">
          <svg class="ap-cards-item-icon" width="30" height="30">
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="/static/frontend/sprite.svg#{{ card.icon }}"
            ></use>
          </svg>

          <h3>{{ card.headline }}</h3>
          <p>{{ card.text }}</p>
        </div>
      </div>
      {% endfor %}
    </amp-base-carousel>
    <amp-selector class="ap-cards-carousel-pagination" id="cards-carousel-pagination" layout="container" on="select: cards-carousel.goToSlide(index=event.targetOption)">
      {% for card in doc.cards %}
        <div class="ap-cards-carousel-pagination-item" option="{{ loop.index0 }}" {% if loop.index0==0 %}selected{% endif
          %}></div>
      {% endfor %}
    </amp-selector>
  </section>

  <section class="ap-section --offset">
    <div class="ap-text-block">
      <h2 class="ap-h1">{{ _('Frameworks and CMSs') }}</h2>
    </div>

    <div class="ap-text-media --thirds --center --mobile-reverse">
      <div class="ap-text-media-col">
        <div class="ap-text-block">
          <p>
            {{ _('Select a ready-to-go framework or integration-enabled CMS to
            get an AMP valid site up and running, fast. These platforms give you
            all the benefits of AMP without all the built-from-scratch hassle.')
            }}
          </p>
        </div>
        {% with %}
          {% set square = true %}
          {% set href = g.doc('/content/amp-dev/support/faq/platform-and-vendor-partners.md', locale=doc.locale).url.path %}
          {% set text = _("See supported platforms") %}
          {% include '/views/2021/partials/content/link.j2' %}
        {% endwith %}
      </div>
      <div class="ap-text-media-col">
        <figure>
          <amp-img
            alt="{{ _('Supported CMS’ and frameworks') }}"
            src="/static/img/frameworks.jpg"
            width="714"
            height="288"
            layout="responsive"
          >
          </amp-img>
        </figure>
      </div>
    </div>
  </section>

  <section class="ap-section --col-4-23">
    <div class="ap-text-media --thirds --center --mobile-reverse">
      <div class="ap-text-media-col">
        <div class="ap-text-block">
          <h2 class="ap-h1">{{ _('Check out AMP in action') }}</h2>
          <p>{{ _('Exemplary websites built with AMP out in the wild.') }}</p>
        </div>
      </div>
    </div>
  </section>

  {% set slider_id = 'success-stories' %} {% set teaser_docs =
  doc.success_stories %} {% include '/views/2021/partials/teaser-slider.j2' %}

  <section class="ap-section --offset">
    <div class="ap-text-media">
      <div class="ap-text-media-col">
        <amp-img
          alt="{{ _('AMP Contributors in front of GitHub issues') }}"
          src="/static/img/about/start-contributing.jpg"
          width="924"
          height="656"
          layout="responsive"
        >
        </amp-img>
      </div>
      <div class="ap-text-media-col">
        <div class="ap-text-block">
          <h2 class="ap-h1">{{ _('Get involved') }}</h2>
          <p>
            {{ _('AMP is open source! This means it’s built by the community,
            for the community with the OpenJS foundation. There are many ways to
            contribute, including implementing features, fixing bugs and writing
            documentation! ') }}
          </p>
        </div>

        {% with %}
          {% set square = true %}
          {% set href = g.doc('/content/amp-dev/documentation/guides-and-tutorials/contribute/index.md', locale=doc.locale).url.path %}
          {% set text = _("Start contributing") %}
          {% include '/views/2021/partials/content/link.j2' %}
        {% endwith %}
      </div>
    </div>
  </section>

  <section class="ap-center-stage">
    <div class="ap-center-stage-content">
      <h2 class="ap-h2 ap-center-stage-headline">{{ _('Get started') }}</h2>
      <p class="ap-center-stage-copy ap-p-large">
        {{ _("Ready to start building websites with AMP? Click the button below
        to find step one of your AMP journey!") }}
      </p>

      <a
        class="ap-button --inverted"
        href="{{ g.doc('/content/amp-dev/documentation/index.html', locale=doc.locale).url.path }}"
      >
        {{ _('Get started with AMP') }}
      </a>
    </div>
  </section>
</main>
