---
$title: AMP Websites
$view: /views/overview/what-is-amp.j2
description: AMP is a simple and robust format to ensure your website is fast, user-first, and makes money. AMP provides long-term success for your web strategy with distribution across ...
sharing_images:
  square: /static/img/sharing/about-websites-1x1.png
  wide: /static/img/sharing/about-websites-600x314.png

benefits: !g.yaml /shared/data/benefits.yaml

flyout:
  format: websites
  description: Create flawless web experiences
  icon: amp-websites

kpis:
  - figure: 6x
    description: More overall traffic
    success_story: !g.doc /content/amp-dev/about/success-stories/indiatoday.yaml
  - figure: 23%
    description: Increase in returning users from mobile search
    success_story: !g.doc /content/amp-dev/about/success-stories/washingtonpost.yaml
  - figure: 3x
    description: Faster page load time
    success_story: !g.doc /content/amp-dev/about/success-stories/gizmodo.yaml
---
<section class="ap--stage ap--container-fluid">
  {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}
  <div class="ap-o-stage">
    <div class="ap--container-fluid">
      <div class="ap-o-stage-content">
          <div class="ap-o-stage-content-icon ap-a-ico">
            {% do doc.icons.useIcon('icons/bolt-solid.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt-solid"></use></svg>
          </div>

          <h2 class="ap-o-stage-content-subline">Compelling, smooth and instant</h2>
          <h1 class="ap-o-stage-content-headline">Easily create user first websites with AMP.</h1>

          {% do doc.styles.addCssFile('/css/components/atoms/button.css') %}
          <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/start/create/index.md', locale=doc.locale).url.path }}?format=websites" class="ap-o-stage-content-button ap-a-btn">Get started</a>
      </div>
    </div>
  </div>

  {% include 'views/partials/format-visuals/websites.j2' %}
</section>

<section class="ap--content">
  <div class="ap--container-fluid">
    <div class="ap-m-copy ap-m-copy-left-small">
      <h1>What is<br> AMP?</h1>
      <h5>Web pages that are compelling, smooth, and load near instantaneously</h5>
    </div>
  </div>
</section>

<section class="ap--component-visual">
  <div class="ap-o-component-visual ap--container-fluid">
    <div class="ap-o-component-visual-copy ap-m-copy ap-m-copy-left-small" amp-fx="fade-in fly-in-left" data-duration="1s" data-fly-in-distance="5%" data-margin-start="0%">
      <p>AMP is a simple and robust format to ensure your website is fast, user-first, and makes money. AMP provides long-term success for your web strategy with distribution across popular platforms and reduced operating and development costs.</p>
      <div class="ap-o-component-visual-link">
        <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/index.html', locale=doc.locale).url.path }}" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Get Started</span>
        </a>
      </div>
    </div>
    {% include 'views/partials/component-visual-image.j2' %}
  </div>
</section>

<section class="ap--teaser-grid ap--container">
  <div class="ap-o-teaser-grid">
    <div class="ap-o-teaser-grid-list">
      {% for kpi in doc.kpis %}
        {% with %}
        {% set teaser_doc = kpi.success_story %}
        {% set teaser = {
          "figure": kpi.figure,
          "description": kpi.description,
          "logo": teaser_doc.teaser.logo,
          "text": teaser_doc.teaser.text
        }%}
        {% include '/views/partials/teaser.j2' %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="ap--case-band">
  <div class="ap--container-fluid">
    <div class="ap-m-copy ap-m-copy-left-small" amp-fx="fade-in fly-in-left" data-duration="1s" data-fly-in-distance="5%">
      <h3>Create great web experiences for users across the open web</h3>
      <p>AMP enables the creation of websites and ads that are consistently fast, beautiful and high-performing across devices and distribution platforms. Publishers and advertisers can decide how to present their content that emphasizes a user-first experience.</p>
    </div>

    {% with %}
    {% set case_band_images = [
      {"src": "/static/img/case-band-post-mobile.jpg", "width": "750", "height": "1334"},
      {"src": "/static/img/case-band-vox-mobile.jpg", "width": "750", "height": "1334"},
      {"src": "/static/img/case-band-iene-desktop.jpg", "width": "1440", "height": "900"},
      {"src": "/static/img/case-band-bmw-mobile.jpg", "width": "750", "height": "1334"},
      {"src": "/static/img/case-band-magebit-desktop.jpg", "width": "1440", "height": "900"},
      {"src": "/static/img/case-band-renovationbrands-desktop.jpg", "width": "1440", "height": "900"},
      {"src": "/static/img/case-band-tasty-mobile.jpg", "width": "750", "height": "1334"}
      ]
    %}
    {% include 'views/partials/case-band.j2' %}
    {% endwith %}
  </div>
</section>

<section class="ap--benefits-overview">
  <div class="ap-o-benefits ap--container">

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-developers">

      {% for benefit in doc.benefits.websites.developer %}

        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/'+ benefit.icon +'.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline"> {{ benefit.headline }}</span>
            <span class="ap-m-benefit-text-copy">{{ benefit.text }}</span>
          </div>
        </div>

      {% endfor %}
    </div>

    <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-business">

     {% for benefit in doc.benefits.websites.business %}

        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/'+ benefit.icon +'.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline"> {{ benefit.headline }}</span>
            <span class="ap-m-benefit-text-copy">{{ benefit.text }}</span>
          </div>
        </div>

      {% endfor %}

    </div>

    <div class="ap-o-benefits-overview-link">
      <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/index.html', locale=doc.locale).url.path }}" class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">Get started with AMP</span>
      </a>
    </div>

  </div>
</section>


<section class="ap--quote ap--container">
  <div class="ap-m-quote">
    <div class="ap-m-quote-source">
     <div class="ap-a-ico">
        {% do doc.icons.useIcon('icons/quote.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use></svg>
     </div>
      <div class="ap-a-img ap-a-img-static">
        <amp-img src="/static/img/logo-dummy-washingtonpost.png" layout="responsive" height="96" width="630" alt="placeholder" />
      </div>
    </div>
    <div class="ap-m-quote-quote">
      <blockquote>
        <p class="ap-a-txt">We are committed to improving speed across the board. If our site takes a long time to load, it doesn’t matter how great our journalism is, some people will leave the page before they see what’s there.<p>
      </blockquote>
      <p>David Merrell, Senior Product Manager</p>

      <a href="{{ g.doc('/content/amp-dev/about/success-stories/washingtonpost.yaml').url.path }}" class="ap-m-lnk">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">Read Success Story</span>
      </a>
    </div>
  </div>
</section>

<div class="ap--container">
  <h1 class="ap--made-of-headline">What AMP HTML is made of</h1>
</div>

{% do doc.styles.addCssFile('/css/components/molecules/biggy.css') %}
<section class="ap--container-fluid ap-m-biggy">
  <div class="ap-m-biggy-aside">
      {% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}
      {% set code_snippet = g.doc('/shared/data/hello-world.html').content %}
      {% set markdown = doc.pod.markdown %}
      {{ markdown.convert('```html\n' + code_snippet + '\n```')|safe }}
    </div>
    <div class="ap-m-biggy-main">
      <h2 class="ap-m-biggy-headline">Hello<br> World!</h2>
    </div>
</section>

<section class="ap--content">
  <div class="ap--container">
    <div class="ap-m-copy ap-m-copy-left">
      <h2>Built-in components</h2>
      <p>AMP HTML is HTML with some restrictions for reliable performance.</p>

      <p>Though most tags in an AMP HTML page are regular HTML tags, some HTML tags are replaced with AMP-specific tags (see also HTML Tags in the AMP spec). These custom elements,  called AMP HTML  components, make common patterns easy to implement in a performant way.</p>

      <p>For example, the amp-img tag provides full srcset support even in browsers that don’t support it yet. Learn how to create your first AMP HTML page.</p>

      <p>AMP pages are discovered by search engines and other platforms through the HTML tag. You can choose to have a non-AMP version and an AMP version of your page, or just an AMP version. </p>
      <div class="ap-m-copy-left-link">
        <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/optimize-measure/discovery.md', locale=doc.locale).url.path }}?format=websites" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Learn more in  Make Your Page Discoverable.</span>
        </a>
      </div>
    </div>

    <div class="ap-m-copy ap-m-copy-right">
      <h2>AMP Cache</h2>

      <p>AMP pages can be cached for near instantaneous loading on the web. Platforms like Google run AMP caches to enable fast loading of your content from their service.</p>

      <p>The Google AMP Cache is a proxy-based content delivery network for delivering all valid AMP documents. It fetches AMP HTML pages, caches them, and improves page performance automatically. When using the Google AMP Cache, the document, all JS files and all images load from the same origin that is using HTTP 2.0 for maximum efficiency.
        The cache also comes with a built-in validation system which confirms that the page is guaranteed to work, and that it doesn't depend on external resources. The validation system runs a series of  assertions confirming the page’s markup meets the AMP HTML specification.</p>

      <p>Another version of the validator comes bundled with every AMP page. This version can log validation errors directly to the browser’s console when the page is rendered, allowing you to see how complex changes in your code might impact performance and user experience.</p>

      <div class="ap-m-copy-right-link">
        <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/learn/amp-caches-and-cors/how_amp_pages_are_cached.md', locale=doc.locale).url.path }}" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">Learn more about caching in AMP</span>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="ap--case-grid">
  <div class="ap--container">
    <h1 class="ap-o-case-grid-headline">Explore use cases of AMP websites</h1>
  </div>

  <div class="ap--container-fluid">
    {% include 'views/partials/case-grid.j2' %}
  </div>
</section>
