<figure class="ap-pie-charts">
  <div class="ap-pie-charts-chart" style="--rotation: 108deg">
    <div class="ap-pie-charts-chart-clip">
      <div class="ap-pie-charts-chart-part"></div>
    </div>
    <div class="ap-pie-charts-chart-clip">
      <div class="ap-pie-charts-chart-part"></div>
    </div>
    <div class="ap-pie-charts-chart-overlay">
      <span>60%</span>
      <aside>AMP<br />domains</aside>
    </div>
  </div>
  <div class="ap-pie-charts-chart" style="--rotation: 23deg">
    <div class="ap-pie-charts-chart-clip">
      <div class="ap-pie-charts-chart-part"></div>
    </div>
    <div class="ap-pie-charts-chart-clip">
      <div class="ap-pie-charts-chart-part"></div>
    </div>
    <div class="ap-pie-charts-chart-overlay">
      <span>12%</span>
      <aside>non-AMP<br />domains</aside>
    </div>
  </div>
  <figcaption class="ap-pie-charts-caption">
    {{ _('Domains built with AMP are 5 times more likely to pass* Core Web
    Vitals metrics than non-AMP!') }}<br /><br />

    <small>{{ _('*where „passing“ means 75% of pages on the domain passed in October 2020') }}</small>
  </figcaption>
</figure>