{% extends '/views/2021/base.html' %}

{% block main %}
<main>
  <amp-animation  id="sidebarToggleAnim" layout="nodisplay">
    <script type="application/json">
      {
        "duration": "350ms",
        "fill": "both",
        "animations": [
          {
            "selector": "#sidebar-toggle-label",
            "keyframes": { "opacity": "var(--value)" }
          },
          {
            "selector": "#sidebar-toggle-background",
            "delay": "100ms",
            "easing": "cubic-bezier(0,0,.21,1)",
            "keyframes": { "transform": "scaleX(var(--value))" }
          }
        ]
      }
    </script>
  </amp-animation>


  {% include 'views/2021/partials/sidebar.j2' %}

  <div class="ap-content">
    <div class="ap-content-sidebar-observer">
      <amp-position-observer on="exit:sidebarToggleAnim.start(--value=1); enter:sidebarToggleAnim.start(--value=0)"
          intersection-ratio="0.01"
          layout="nodisplay">
      </amp-position-observer>
    </div>
    {{ doc.html|render|safe }}
  </section>
</main>
{% endblock %}
