{% extends '/views/2021/base.html' %}

{% block main %}
<main id="main" class="--sidebaropen">
  <amp-animation  id="sidebarToggleAnimEnter" layout="nodisplay">
    <script type="application/json">
      {
        "selector": "#sidebar-toggle-label",
        "duration": "180ms",
        "fill": "both",
        "keyframes": {
          "transform": "scaleX(0)" ,
          "opacity": "0"
        }
      }
    </script>
  </amp-animation>
  <amp-animation  id="sidebarToggleAnimExit" layout="nodisplay">
    <script type="application/json">
      {
        "selector": "#sidebar-toggle-label",
        "duration": "180ms",
        "fill": "both",
        "keyframes": {
          "transform": "scaleX(1)" ,
          "opacity": "1"
        }
      }
    </script>
  </amp-animation>

  <div class="ap-container">
    {% include 'views/2021/partials/sidebar.j2' %}

    <div class="ap-content">
      <div class="ap-content-sidebar-observer">
        <amp-position-observer on="enter:sidebarToggleAnimEnter.start; exit:sidebarToggleAnimExit.start"
            intersection-ratio="0.01"
            layout="nodisplay">
        </amp-position-observer>
      </div>
      {% include 'views/2021/partials/sidebar-toggle.j2' %}
      {{ doc.html|render|safe }}
    </div>
  </div>
</main>
{% endblock %}
