{% extends '/views/2021/base.html' %}

{% block main %}
<main>
  {% include 'views/2021/partials/sidebar.j2' %}

  <div class="ap-content">
    {{ doc.html|render|safe }}
  </section>
</main>
{% endblock %}
