{% do doc.styles.addCssFile('css/components/organisms/stage-destination-dropdown-sidebar.css') %}

<section class="sidebar">
  <div class="ad-o-component-sidebar">
    <div class="destination-stage websites websites-background">
      <div class="destination-stage-content">
        <span class="hl">Select your topic:</span>
        <div class="destination-list-view-box destination-list-view-box-gradient"
          [class]="toggle ? 'destination-list-view-box destination-list-view-box-gradient destination-list-view-box-expand': 'destination-list-view-box destination-list-view-box-gradient'">
            <button on="tap:AMP.setState({ toggle: !toggle })" class="destination-list-icon">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down-solid"></use></svg>
            </button>
          <amp-selector layout="container">
            <ul class="destination-list">
              {% set filters = ['all', 'websites', 'ads', 'stories', 'e-mails'] %}
              {% for filter in filters %}
                <li class="{{ filter }}" option="{{ filter }}">
                  <a href="#" class="destination-list-item destination-list-item-drop-down {{ filter }} {{ filter }}-background">
                    {{ filter }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </amp-selector>
        </div>
      </div>
    </div>
  </div>
</section>