{% do doc.styles.addCssFile('css/components/molecules/destination-switch.css') %}

<div class="ad-m-destination-switch {{ switch_type }}{% if switch_type == 'selected' or switch_type == 'dropdown' %} menu-list{% endif %}" [class]="toggle ? 'ad-m-destination-switch {{ switch_type }} ad-m-destination-switch-expand': 'ad-m-destination-switch {{ switch_type }}'">
  {% if switch_type == 'selected' or switch_type == 'dropdown' %}
  <button on="tap:AMP.setState({ toggle: !toggle })" class="destination-switch-icon {{ selected }}">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down-solid"></use></svg>
  </button>
  {% endif %}

  {# Default and dropdown types get an animated, rolling list #}
  {% if switch_type != 'selected' %}
  {% for destination in destinations %}
  {% if destination.text != 'overview' %}
  <span class="destination-list-item destination-list-item-animated destination-list-item-animated-{{destination.text}} {% if switch_type == 'dropdown' %}{{ destination.text }}{% endif %}">
    {{ destination.text }}
  </span>
  {% endif %}
  {% endfor %}
  {% endif %}

  {# Selected and dropdown types have a dropdown list  #}
  {% if switch_type == 'selected' or switch_type == 'dropdown' %}
  <amp-selector layout="container">
    <ul class="destination-list {% if selected %} selected {{ selected }}{% endif %}">
      {% for destination in destinations %}
      {% set link = g.doc(destination.link).url.path if destination.link else '#' %}
      {% if selected %}
      <li option="{{ destination.text }}" {% if selected == destination.text %} selected {% endif %} class="{{ destination.text }}">
        <a href="{{ link }}" class="destination-list-item {{ destination.text}} {{ destination.text}}-{% if selected == destination.text %}selected{% else %}background{% endif %}">{{ destination.text }}</a>
      </li>
      {% else %}
      <li option="{{ destination.text }}" class="{{ destination.text }}">
        <a href="{{ link }}" class="destination-list-item {{ destination.text}} {{ destination.text}}-background">{{ destination.text }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </amp-selector>
  {% endif %}
</div>
