{% do doc.styles.addCssFile('css/components/organisms/footer.css') %}

<footer class="ad-o-footer" role="content-info">
  <div class="ad-o-footer-container">
    <div class="line-top">
      <p>Of course, this site is made with AMP!</p>
      <div class="social">
        Follow us: twitter, youtube, wordpress, github, slack
      </div>
    </div>
    <div class="ad-o-footer-nav">
      <div class="ad-o-footer-nav-column">
        <h4>Overview</h4>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">AMP Framework</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Benefits</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Use Cases</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Success stories</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Functionality</a></li>
        </ul>
      </div>
      <div class="ad-o-footer-nav-column">
        <h4>Docs</h4>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Get Started</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Guides and Tutorials</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Components</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Examples</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Design Templates</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Tools</a></li>
        </ul>
      </div>
      <div class="ad-o-footer-nav-column">
        <h4>Community</h4>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">The AMP Team</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Platform and Vendor Partners</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Contribute</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Roadmap</a></li>
        </ul>
      </div>
      <div class="ad-o-footer-nav-column">
        <h4>Events</h4>
        <ul class="ad-o-footer-nav-menu">
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">AMP Roadshow</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">AMP Conf</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">AMP Contributor Summit</a></li>
          <li class="ad-o-footer-nav-item"><a href="#" class="ad-o-footer-nav-link">Additional Events</a></li>
        </ul>
      </div>
    </div>
    <div class="line-bottom">
      <ul class="legal-nav">
        <li class="legal-nav-item><a class="legal-nav-link" href="#">Privacy Policy</a></li>
        <li class="legal-nav-item><a class="legal-nav-link" href="#">Legal Disclaimer</a></li>
        <li class="legal-nav-item><a class="legal-nav-link" href="#">Legal Disclaimer</a></li>
      </ul>
      <p class="copyright">© 2018 AMP Open Source Project</p>
    </div>
  </div>
</footer>