{% do doc.styles.addCssFile('css/components/organisms/header.css') %}
{% import '/macros/atoms.j2' as atoms %}
{% set home = g.doc('/content/amp-dev/index.md') %}


<header class="ad-o-header">
  <nav class="ad-o-header-main-nav">
    <input id="burger-menu-state" class="ad-o-header-burger-menu-btn" type="checkbox" />
     <label class="ad-o-header-burger-menu" for="burger-menu-state">
      {# Remove hamburger bars, hamburger will be an svg #}
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>

    <ul class="ad-o-header-list-mobile">
      <li class="ad-o-header-list-lnk ad-o-header-list-lnk-home">
        <a class="ad-a-ico" href="{{ home.url.path }}">
        {{ atoms.icon('logo') }}
        </a>
      </li>
      <li class="ad-o-header-search ad-o-header-search-mobile">
        <button class="ad-o-header-search-icon" name="search" type="submit">
          <a class="ad-a-ico ad-a-ico-search" href="{{ home.url.path }}">
            {{ atoms.icon('search') }}
          </a>
        </button>
        {# {% do assets.addAmpComponent('amp-form') %} #}
        <form method="GET"
        id="ampsearch"
        action="//www.google.com/search"
        target="_top">
          <input type="text" placeholder="Search..." on="submit:ampsearch.submit"/>
        </form>
      </li>
       <li class="ad-o-header-lnk ad-o-header-lnk-mobile">
        <a class="ad-m-lnk" href="{{ home.url.path }}">
          <span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong">{{ home.title }}</span>
        </a>
      </li>

    {% for collection in g.collection('amp-dev').collections() %}
      {% for _doc in g.docs(collection.collection_path) %}
        {# Check if collection contains a index document and if so treat as navigation item #}
        {% if _doc.base == 'index' %}
        {% if _doc == doc %}
          <li class="ad-o-header-lnk ad-o-header-lnk-mobile">
            <a class="link-preview-1 ad-m-lnk " href="{{ _doc.url.path }}">{{ _doc.title }}</a>
          </li>
        {% else %}
          <li class="ad-o-header-lnk ad-o-header-lnk-mobile">
            <a class="ad-m-lnk" href="{{ _doc.url.path }}">{{ _doc.title }}</a>
          </li>
        {% endif %}
        {% endif %}
      {% endfor %}
      {% endfor %}
       {% set languages = g.doc('/content/languages/index.md')%}
        <li class="ad-o-header-lnk ad-o-header-lnk-mobile ad-o-header-lnk-lang">
          <a class="ad-m-lnk " href="{{ languages.url.path }}">EN</a>
        </li>
    </ul>

  <ul class="ad-o-header-list">
    {% set home = g.doc('/content/amp-dev/index.md') %}
    <li class="ad-o-header-lnk ad-o-header-lnk-home">
      <a class="" href="{{ home.url.path }}">
        {{ atoms.icon('logo') }}
      </a>
    </li>
    {% for mainNav in g.collection('amp-dev').collections() %}
      {% for subNavItem in g.docs(mainNav.collection_path) %}
       {% if subNavItem.base == 'index' %}
        <li class="ad-o-header-lnk {% if subNavItem.title == doc.title or subNavItem.collection.title == doc.collection.title %} ad-o-header-lnk-selected {% endif %}">
          <a class="ad-m-lnk" href="{{ subNavItem.url.path }}">{{ subNavItem.collection.title }}</a>
        </li>
       {% endif %}
      {% endfor %}
    {% endfor %}
    <li class="ad-o-header-search">
      <button class="ad-o-header-search-icon" name="search" type="submit">
        <a class="ad-a-ico ad-a-ico-search" href="">
          {{ atoms.icon('search') }}
        </a>
      </button>
      <form method="GET"
      id="ampsearch"
      action="//www.google.com/search"
      target="_top">
        <input type="text" placeholder="Search..." on="submit:ampsearch.submit"/>
      </form>
    </li>
    {% set languages = g.doc('/content/languages/index.md')%}
    <li class="ad-o-header-lnk ad-o-header-lnk-lang">
      <a class="ad-m-lnk " href="{{ languages.url.path }}">EN</a>
    </li>
  </ul>
  </nav>

{% if doc.collection.collection_path != 'amp-dev' %}
{# Check if there are items for a sub-navigation #}
  <amp-animation id="header-animation" layout="nodisplay">
    <script type="application/json">
      {
        "duration": "0.5s",
        "fill": "both",
        "media": "(min-width: 768px)",
        "animations": [
          {
            "selector": ".ad-o-header",
            "easing": "cubic-bezier(0.25, 0.1, 0.25, 1)",
            "keyframes": [
              { "transform": "translateY(0%)" },
              { "transform": "translateY(-50%)" }
            ]
          },
          {
            "selector": ".ad-o-header-lnk-home",
            "easing": "cubic-bezier(0.25, 0.1, 0.25, 1)",
            "keyframes": [
              { "transform": "translateY(0%)"},
              { "transform": "translateY(100%)"}
            ]
          }
        ]
      }
    </script>
  </amp-animation>

  <amp-position-observer intersection-ratios="0 1" target="ad-o-header-content-indicator" on="enter:header-animation.start;exit:header-animation.start,header-animation.reverse" layout="nodisplay"></amp-position-observer>

  <nav class="ad-o-header-subnav">
    <ul class="ad-o-header-list">
      <li class="ad-o-header-lnk ad-o-header-subnav-logo">
        <a class="ad-a-ico" href="{{ home.url.path }}">{{ atoms.icon('logo') }}</a>
      </li>
      {% for _doc in doc.collection %}
          <li class="ad-o-header-lnk ad-o-header-lnk-subnav {% if _doc.title == doc.title %} ad-o-header-lnk-subnav-selected {% endif %}">
            <a class="ad-m-lnk ad-m-lnk-underline-dark" href="{{ _doc.url.path }}">
            {{ _doc.title }}
            </a>
             {% if _doc.title == doc.title %}
            <div class="ad-o-header-lnk-divider"></div>
          {% endif %}
          </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
</header>


{% if doc.collection.collection_path != 'amp-dev' %}
{# The following element is the target used for the position observer - as <thead>
  header itself is fixed it needs to be outside of <header> #}
<div id="ad-o-header-content-indicator"></div>
{% endif %}
