{% if doc.html %}
  {% set has_toc = 'class="toc"' in doc.html %}
  {% if has_toc %}

    {% do doc.styles.addCssFile('css/components/organisms/toc.css') %}
    {% set first_div = doc.html.find('</div>') %}
    <section class="toc-column">
      <div class="ad-o-toc">
        <b>On this page:</b>
        {{doc.html[0:first_div + 6] | safe}}
      </div>
    </section>

    <section class="main">
      {% set docNoToc = doc.html.split('</div>', 1) %}
      {{ docNoToc[1]|render|safe }}

      {# Always assume doc.author and doc.translator are GitHub handles #}
      {% if doc.author %}
      <p class="ad-o-footer-hint ad-o-footer-hint-meta">This particular document was written by <a href="https://github.com/{{ doc.author }}" target="_blank" rel="nofollow">@{{ doc.author }}</a>{% if doc.translator %} and translated by <a href="https://github.com/{{ doc.translator }}" target="_blank" rel="nofollow">@{{ doc.translator }}</a>{% endif %}.</p>
      {% endif %}
    </section>

  {% else %}

    <section class="main">
      {{ doc.html|render|safe }}

      {# Always assume doc.author and doc.translator are GitHub handles #}
      {% if doc.author %}
      <p class="ad-o-footer-hint ad-o-footer-hint-meta">This particular document was written by <a href="https://github.com/{{ doc.author }}" target="_blank" rel="nofollow">@{{ doc.author }}</a>{% if doc.translator %} and translated by <a href="https://github.com/{{ doc.translator }}" target="_blank" rel="nofollow">@{{ doc.translator }}</a>{% endif %}.</p>
      {% endif %}
    </section>

  {% endif %}

{% else %}

  {% do doc.styles.addCssFile('css/components/molecules/tip.css') %}
  <section class="main">
    <h1>{{ doc.title }}</h1>
    <div class="ad-m-tip-container">
      <div class="ad-m-tip ad-m-tip-default">
        <h4>Empty space.</h4>
        <p>For now this page is purposefully empty. Its only purpose is to have something to link to if the real content does not yet exist.</p>

        <div class="ad-m-code-snippet">
          <pre>
<span class="l l-Scalar l-Scalar-Plain">view</span><span class="p p-Indicator">: </span><span class="s">"{{ doc.view }}"</span>
<span class="l l-Scalar l-Scalar-Plain">collection_path</span><span class="p p-Indicator">: </span><span class="s">"{{ doc.collection.collection_path }}{{ doc.collection_path }}"</span>
          </pre>
        </div>
      </div>
    </div>
  </section>

{% endif %}
