{% do doc.styles.addCssFile('css/components/organisms/stage-destination-dropdown-sidebar.css') %}
{% do doc.styles.addCssFile('css/components/organisms/sidebar.css') %}
{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-light.svg') %}

<section class="sidebar">
  <div class="ad-o-sidebar">

    <div class="destination-stage websites websites-background">
      <div class="destination-stage-content">
        <span class="hl">Select your topic:</span>
        <div class="destination-list-view-box destination-list-view-box-gradient"
          [class]="toggle ? 'destination-list-view-box destination-list-view-box-gradient destination-list-view-box-expand': 'destination-list-view-box destination-list-view-box-gradient'">
            <button on="tap:AMP.setState({ toggle: !toggle })" class="destination-list-icon">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down-solid"></use></svg>
            </button>
          <amp-selector layout="container">
            <ul class="destination-list">
              {% set allCollection = g.collection('amp-dev/documentation') %}
              <li class="{{ allCollection.filter }}" option="{{ allCollection.filter }}">
                <a href="#" class="destination-list-item destination-list-item-drop-down {{ allCollection.filter }} {{ allCollection.filter }}-background">
                  {{ allCollection.filter }}
                </a>
              </li>
              {% for collections in g.collection('amp-dev/documentation').collections() %}
                {% if collections.filter  %}
                  <li class="{{ collections.filter }}" option="{{ collections.filter }}">
                    <a href="#" class="destination-list-item destination-list-item-drop-down {{ collections.filter }} {{ collections.filter }}-background">
                      {{ collections.filter }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </amp-selector>
        </div>
      </div>
    </div>
    <div class="ad-o-sidebar-list ad-o-sidebar-list-main">
      <amp-accordion animate>

        {% for collections in g.collection('amp-dev/documentation').collections() %}

          {# get all collections inside of documentation, split its path and render only the collections related to current document #}
          {% set collectionName = collections.collection_path.split('/')[2] %}

          {# if a document is nested deeper than one collection, get the name of its parent collection #}
          {% set currenctDocCollection = doc.url.path.split('/')[2] %}

          {% if collectionName == doc.base or collectionName == currenctDocCollection %}
            {% for category in collections.categories %}
              <section class="ad-o-sidebar-list-section">
                <header class="ad-o-sidebar-list-item ad-o-sidebar-list-header">
                  {{ category }}
                  <div class="ad-a-ico ad-o-sidebar-list-icon">
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
                  </div>
                </header>
                <ul class="ad-o-sidebar-list ad-o-sidebar-list-sub">
                {% for subCollections in  g.collection(collections.collection_path).collections() %}
                  {% for subDocs in g.docs(subCollections.collection_path) %}
                    <li class="ad-o-sidebar-list-item ad-o-sidebar-list-item-sub">
                      <a href="{{ subDocs.url.path }}" class="ad-o-sidebar-list-item-lnk {% if subDocs.title == doc.title %} ad-o-sidebar-list-item-lnk-selected {% endif %}">
                        {{ subDocs.title }}
                      </a>
                    </li>
                  {% endfor %}
                {% endfor %}
                </ul>
              </section>
            {% endfor %}
          {% endif %}
        {% endfor %}

      </amp-accordion>
    </div>

  </div>
</section>