
{% if options.type =='default' %}
{% do doc.styles.addCssFile('css/components/organisms/stage-destination-rolling.css') %}

<div class="destination-stage websites">
	<div class="destination-stage-content">
		<span class="hl-sub">What is Amp?</span>
    <div class="hl-divider"></div>
		<h2 class="hl" >AMP is a web component based framework for easily creating user first </h2>
    <div class="destination-list-view-box">
		  {% for dest in ['websites', 'stories', 'ads', 'emails'] %}
			  <span class="destination-list-item destination-list-item-rolling destination-list-item-rolling-{{ dest }}">{{ dest }}</span>
		  {% endfor %}
	</div>
</div>

{% elif options.type == 'dropdown' %}
{% do doc.styles.addCssFile('css/components/organisms/stage-destination-dropdown.css') %}

<div class="destination-stage websites websites-background">
  <div class="destination-stage-content">
		<span class="hl-sub">What is Amp?</span>
		<span class="hl-divider"></span>
		<h2 class="hl">AMP is a web component based framework for easily creating user first </h2>
    <div class="destination-list-view-box destination-list-view-box-gradient">
		  {% for collection in g.collection('amp-dev/overview').collections() %}
        {% for doc in g.docs(collection.collection_path) %}
			    <span class="destination-list-item destination-list-item-rolling destination-list-item-rolling-{{ doc.title }}">{{ doc.title }}</span>
		    {% endfor %}
      {% endfor %}
		  <amp-selector layout="container">
			  <ul class="destination-list">
		    {% for collection in g.collection('amp-dev/overview').collections() %}
          {% for doc in g.docs(collection.collection_path) %}
			 	    <li option={{ doc.title }} class="{{ doc.title }}">
              <a href="{{ doc.url.path }}" class="destination-list-item destination-list-item-drop-down {{ doc.title }} {{doc.title}}-background">{{ doc.title }}</a>
            </li>
			    {% endfor %}
        {% endfor %}
			  </ul>
		  </amp-selector>
	  </div>
    </div>
	</div>

{% elif options.type == 'selected' %}
{% do doc.styles.addCssFile('css/components/organisms/stage-destination-dropdown-selected.css') %}

<div class="destination-stage destination-stage-active {{ doc.title }} {{doc.title}}-background">
  <div class="destination-stage-content">
		<span class="hl-{{ doc.title }} hl-sub">What is Amp?</span>
		<span class="hl-{{ doc.title }} hl-divider"></span>
		<h1 class="hl hl-{{ doc.title }}">AMP is a web component based framework for easily creating user first </h1>
    <div class="destination-list-view-box destination-list-view-box-no-animation destination-list-view-box-{{ doc.title }}">
		  <amp-selector layout="container">
			  <ul class="destination-list destination-list-display destination-list-{{doc.title}}">
		    {% for collection in g.collection('amp-dev/overview').collections() %}
          {% for dest in g.docs(collection.collection_path) %}
			 	    <li option={{ dest.title }} {% if dest.title == doc.title %} selected {% endif %}>
             <a href="{{ dest.url.path }}" class="destination-list-item destination-list-item-drop-down {{ dest.title }} {{ dest.title }}-background">{{ dest.title }}</a>
            </li>
          {% endfor %}
			  {% endfor %}
        {% for collection in g.collection('amp-dev/overview') %}
          {% if collection.collection_path == '/index.md' %}
           <li option={{ collection.category }}>
              <a href="{{ collection.url.path}}"
                class="destination-list-item destination-list-item-drop-down {{ collection.category }} {{ collection.category }}-background">{{ collection.category }}</a>
            </li>
          {% endif %}
        {% endfor %}
			  </ul>
		  </amp-selector>
	  </div>
    </div>
	</div>

{% endif %}