{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-light.svg') %}

{% if doc.view == '/views/detail/docs-detail.j2' or '/views/overview/template-overview.j2' %}
</section>
<section class="stage">
{% endif %}

{% do doc.styles.addCssFile('css/components/organisms/stage-destination-dropdown.css') %}

<div class="destination-stage">
  <div class="destination-stage-clipped-background {{ stage_background_color }}"></div>
  <div class="destination-stage-content">
		<span class="hl-sub">{{ sub_headline }}</span>
		<span class="hl"> {{ headline }}</span>
    <div class="hl-inline">
      {% if destination_switch %}
        {{ destination_switch|safe }}
      {% endif %}
    </div>
    {% if headline_part_two %}
		  <span class="hl">{{ headline_part_two }}</span>
    {% endif %}
    {% if button_link %}
      <a href="{{ g.doc(button_link).url }}">{{ button_title }}</a>
    {% endif %}
    </div>
	</div>

{% if doc.view == '/views/detail/docs-detail.j2' or '/views/overview/template-overview.j2' %}
</section>
<section class="main">
{% endif %}