{% do doc.icons.useIcon('icons/chevron-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
{% do doc.icons.useIcon('icons/angle-down-light.svg') %}

{% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

<section class="ad-o-stage">
  <div class="ad-o-stage-clipped-background {{ background_color }}"></div>
  <div class="ad-o-stage-content">
		<span class="hl-sub">{{ sub_headline }}</span>
		<span class="hl"> {{ headline }}</span>
    {% if destination_switch %}
    <div class="hl-inline">{{ destination_switch|safe }}</div>
    {% endif %}
    {% if headline_part_two %}
    <span class="hl">{{ headline_part_two }}</span>
    {% endif %}

    {% if button.link and button.text %}
    <button class="ad-o-stage-button">
      <a href="{{ g.doc(button.link).url.path }}">{{ button.text }}</a>
    </button>
    {% endif %}
  </div>
</section>