{% do doc.styles.addCssFile('css/components/organisms/teaser-grid.css') %}

{% set extract_teasers = 'detail' in doc.view or 'overview' in doc.view %}
{% if extract_teasers %}
</section>
<section class="teaser-grid">
{% endif %}

<div class="ad-o-teaser-grid">

  {% if headline %}
  <h2>{{ headline }}</h2>
  {% endif %}

  <div class="ad-o-teaser-grid-list ad-o-teaser-grid-list-count-{{ teasers|count }}">
    {% for teaser in teasers %}

    {# Teaser for guides and tutorial pages #}
    {% if teaser.type == 'guide' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-guide-tutorial.css') %}

    <div class="ad-m-teaser ad-m-teaser-guide-tutorial">
      <a href="{{ teaser.doc.url|relative }}">

        {% if teaser.image %}
        <div class="ad-a-img ad-m-teaser-image">
          <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
        </div>
        {% endif %}

        <div class="ad-m-teaser-card">
          {% if teaser.destinations %}
          {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
          <div class="ad-m-teaser-tags">
            {% for destination in teaser.destinations %}
            <div class="ad-m-tag ad-m-tag-{{ destination }} ad-m-teaser-tag"></div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="ad-m-teaser-content">
            <h4 class="ad-m-teaser-headline">{{ teaser.headline }}</h4>
            {% if teaser.video %}
            <div class="ad-m-teaser-video-length">
              {% do doc.icons.useIcon('icons/play.svg') %}
              <div class="ad-a-ico ad-m-teaser-video-length-icon">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#play"></use></svg>
              </div>
              <span class="ad-m-teaser-video-length-text">{{ teaser.video.length }}</span>
            </div>
          {% endif %}
          </div>
        </div>
      </a>
    </div>

    {# Teaser for success stories #}
    {% elif teaser.type == 'success_story' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-success-story.css') %}

    <div class="ad-m-teaser ad-m-teaser-success-story">
      <a href="{{ teaser.doc.url|relative }}">

        {% if teaser.destination %}
        {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
        <div class="ad-m-tag ad-m-tag-{{ teaser.destination }} ad-m-teaser-tag">{{ teaser.destination }}</div>
        {% endif %}

        <div class="ad-m-teaser-card">
          {% if teaser.image %}
          <div class="ad-a-img ad-m-teaser-image">
            <amp-img src="{{ teaser.image.src }}" layout="responsive" width="1" height="1" alt="{{ teaser.image.alt }}"></amp-img>
          </div>
          {% elif teaser.kpi %}
          {% do doc.styles.addCssFile('css/components/molecules/kpi.css') %}
          <div class="ad-m-kpi ad-m-kpi-{{ teaser.destination }} ad-m-teaser-kpi ad-m-teaser-kpi-{{ teaser.destination }}">
            <div class="ad-m-kpi-content">
              {% if teaser.kpi.icon %}
              {% do doc.icons.useIcon('icons/' + teaser.kpi.icon + '.svg') %}
              <div class="ad-a-ico ad-m-kpi-icon">
                <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ teaser.kpi.icon }}"></use></svg>
              </div>
              {% endif %}
              <span class="ad-m-kpi-number">{{ teaser.kpi.title }}</span>
              <span class="ad-m-kpi-text">{{ teaser.kpi.text }}</span>
            </div>
          </div>
          {% endif %}

          <div class="ad-m-teaser-content">
            {% if teaser.logo %}
            <div class="ad-a-img ad-m-teaser-logo">
              <amp-img src="{{ teaser.logo.src }}" layout="responsive" width="{{ teaser.logo.width }}" height="{{ teaser.logo.height }}" alt="{{ teaser.logo.alt }}"></amp-img>
            </div>
            {% endif %}

            <h4 class="ad-m-teaser-headline">{{ teaser.headline }}</h4>
          </div>
        </div>
      </a>
    </div>

    {# Teaser for templates #}
    {% elif teaser.type == 'template' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-template.css') %}

    <div class="ad-m-teaser ad-m-teaser-template ad-m-teaser-template-{{ teaser.destination }}">
      <a href="{{ teaser.doc.url|relative }}">
        {% if teaser.destination %}
        {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
        <div class="ad-m-tag ad-m-tag-{{ teaser.destination }} ad-m-teaser-tag">{{ teaser.destination }}</div>
        {% endif %}

        <div class="ad-m-teaser-card">
          <div class="ad-a-img ad-m-teaser-image">
            <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
          </div>
        </div>
        <div class="ad-m-teaser-content">
          <h4 class="ad-m-teaser-headline">{{ teaser.headline }}</h4>
        </div>
      </a>
    </div>

    {# Teaser for use cases #}
    {% elif teaser.type == 'use-case' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-use-case.css') %}

    <div class="ad-m-teaser ad-m-teaser-use-case">
      <a href="{{ teaser.doc.url|relative }}">
        {% if teaser.destination %}
        {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
        <div class="ad-m-tag ad-m-tag-{{ teaser.destination }} ad-m-teaser-tag">{{ teaser.destination }}</div>
        {% endif %}

        <div class="ad-m-teaser-card">
          {% if teaser.image %}
          <div class="ad-a-img ad-m-teaser-image">
            <amp-img src="{{ teaser.image.src }}" layout="responsive" width="{{ teaser.image.width }}" height="{{ teaser.image.height }}" alt="{{ teaser.image.alt }}"></amp-img>
          </div>
          {% endif %}

          <div class="ad-m-teaser-content">
            <h4 class="ad-m-teaser-headline">{{ teaser.headline }}</h4>
          </div>
        </div>
      </a>
    </div>

    {# Teaser for examples #}
    {% elif teaser.type == 'example' %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-example.css') %}
    {% do doc.icons.useIcon('icons/example.svg') %}

    <div class="ad-m-teaser ad-m-teaser-example">
      <a href="{{ teaser.doc.url|relative }}">
        <div class="ad-m-teaser-card">
          {% if teaser.destinations %}
          {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
          <div class="ad-m-teaser-tags">
            {% for destination in teaser.destinations %}
            <div class="ad-m-tag ad-m-tag-{{ destination }} ad-m-teaser-tag"></div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="ad-m-teaser-header">
            <div class="ad-a-ico ad-m-teaser-header-icon">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#example"></use></svg>
            </div>
          </div>

          <div class="ad-m-teaser-content">
            <h4 class="ad-m-teaser-headline">{{ teaser.headline }}</h4>
            <p class="ad-m-teaser-copy">{{ teaser.text }}</p>
          </div>
        </div>
      </a>
    </div>

    {# Teaser for components and as fallback if no fitting type is available #}
    {% elif teaser.type == 'component' or not teaser.type %}
    {% do doc.styles.addCssFile('css/components/molecules/teaser-component.css') %}

    <div class="ad-m-teaser ad-m-teaser-component">
      <a href="{{ teaser.doc.url|relative }}">
        <div class="ad-m-teaser-card">
          {% if teaser.destinations %}
          {% do doc.styles.addCssFile('css/components/molecules/tag.css') %}
          <div class="ad-m-teaser-tags">
            {% for destination in teaser.destinations %}
            <div class="ad-m-tag ad-m-tag-{{ destination }} ad-m-teaser-tag"></div>
            {% endfor %}
          </div>
          {% endif %}

          <div class="ad-m-teaser-header">
            <h4 class="ad-m-teaser-header-title">{{ teaser.headline }}</h4>
          </div>

          <div class="ad-m-teaser-content">
            <p class="ad-m-teaser-copy">{{ teaser.text }}</p>
          </div>
        </div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  {% if cta %}
  {% do doc.icons.useIcon('icons/internal.svg') %}
  <a class="ad-m-lnk ad-m-lnk-square" href="{{ cta.doc.url }}">
    <div class="ad-a-ico ad-m-lnk-icon">
      <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
    </div>
    <span class="ad-m-lnk-text">{{ cta.text }}</span>
  </a>
  {% endif %}
</div>

{% if extract_teasers %}
</section>
<section class="main">
{% endif %}
