@import '../../frontend/scss/_functions.scss';
@import '../../frontend/scss/_mixins.scss';
@import '../../frontend/scss/_variables.scss';
@import '../../frontend/scss/components/atoms/_text.scss';
@import '../../frontend/scss/components/atoms/_color.scss';

@import 'components/section.scss';
@import 'components/text-media.scss';
@import 'components/text-block.scss';
@import 'components/button.scss';
@import 'components/pie-chart.scss';

main {
  padding: 0;
  width: 100%;
  max-width: 1920px;
  margin: auto;

  @media (min-width: 768px) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }
}

h1 {
  @media (min-width: 768px) {
    font-size: 52px;
  }
}

p {
  font-size: 16px;
  line-height: 1.63;
}

figure {
  margin: 0;
}

figcaption {
  max-width: 80%;
  margin-top: 20px;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.71;

  span {
    margin-top: 10px;
    font-size: 12px;
  }
}
