@import '../../frontend/scss/_functions.scss';
@import '../../frontend/scss/_mixins.scss';
@import '../../frontend/scss/_variables.scss';
@import '../../frontend/scss/components/atoms/_text.scss';
@import '../../frontend/scss/components/atoms/_color.scss';


@import 'components/text-media.scss';
@import 'components/text-block.scss';
@import 'components/button.scss';
@import 'components/pie-chart.scss';


section {
  margin: 100px auto;

  &.--content-width {
    max-width: 970px;
  }

  &.--fullscreen {

  }
}

p {
  font-size: 16px;
  line-height: 1.63;
}

figure {
  margin: 0;
}

figcaption {
  max-width: 80%;
  margin-top: 20px;
  margin-left: auto;
  font-size: 14px;
  line-height: 1.71;
}
