<div class="fly-in-content import-url">
  <p class="experimental-view-intro">
    Enter a valid URL to import the page's markup into the editor.
  </p>
  <div class="import-url-bar">
    <input id="url-bar-input"
        class="import-url-bar-input"
        type="url"
        name="import-url"
        placeholder="Your URL">
    <button id="url-bar-submit"
        class="import-url-bar-submit"
        type=""
        name="button">
      Import
    </button>
  </div>
  <label id="url-bar-label"
      class="import-url-bar-label"
      for="url-bar-input">
  </label>
</div>
