    <header class="fixed">
      <div class="wrap">
        <div class="container">
          <div class="clearfix">
            <div class="right alt">
              <a class="tab desktop" href="/docs/guides/responsive_amp.html">
                Guides
              </a>
              <a class="tab desktop" href="/docs/reference/amp-ad.html">
                Reference
              </a>
              <a class="tab desktop" href="/docs/support/faqs.html">
                Support
              </a>
              <a class="tab desktop" href="https://github.com/ampproject/amphtml">
                Github
              </a>
              <a class="tab go-button" href="/docs/get_started/about-amp.html">
                Get started
              </a>
              <a class="tab hamburger" id="menu-button" href="">&#x2261;</a>
            </div>
            <div class="left-nav">
                <a href="https://ampproject.org" class="tab header-title">
                  Accelerated
                  Mobile
                  Pages
                  Project
                </a>
              </div>
          </div>
        </div>
      </div>
    </header>
