.#{project('intro')} {
  color: color('charade');
  margin-bottom: 36px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 40px;
  }

  .ap-m-lnk-square {
    border-bottom: none;
  }

  @include respond-to('medium') {
    margin-bottom: 56px;
  }
}