/*

###################################
### TEMPLATE: Examples / Manual ###
###################################

*/

@import 'extends.scss';
@import 'functions.scss';
@import 'mixins.scss';
@import 'variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

.#{template('examples-manual')} {

  .#{utility('container')} {
    @include container;
  }

  .#{utility('content')},
  .#{utility('help')} {
    @include content;
  }

    .#{utility('ctas')} {
      display: flex;
      flex-wrap: wrap;

      @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
      }

      .#{atom('btn')} {
        flex: 1 0 100%;
        margin-right: 10px;
        margin-bottom: 10px;

        @media screen and (min-width: 768px) {
          flex: 1 0 50%;
          max-width: 50%;
        }
      }
    }

  .#{utility('playground-link')} {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('toc')} {
    @include toc;
  }

  .#{utility('sidebar')} + .#{utility('content')},
  .#{utility('toc')} + .#{utility('content')} {
    @include content-with-sidebar;
  }

  .#{utility('content')} {
    h1 {@include hl-h2;}
    h2 {@include hl-h3;}
    h3 {@include hl-h4;}
    h4 {@include hl-h5;}
  }

    .#{utility('title')} {
      margin-top: 20px;
    }

    .#{utility('format-tags')} {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .#{molecule('code-snippet')} {
      max-height: 500px;
    }
}
