@import '_variables.scss';
@import '_functions.scss';
@import 'components/atoms/_text.scss';

.autocomplete-item {
  border-bottom: 1px solid color('silver');
  padding: 7px 15px 7px 25px;
  cursor: pointer;

  &:last-child { border-bottom: 0; }

  &:hover {
    background: color('wild-sand');
  }

  button {
    margin: 5px 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-align: left;
    @include txt;
    @include txt-2;

    strong {
      color: color('black');
    }
  }
}
