{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/component-overview.css') %}
{% endblock %}

{% block main %}
<main class="ad--main ad-t-component-overview">
  <div class="ad--container">
    {% include 'views/partials/component-sidebar.j2' %}
    {% include 'views/partials/main.j2' %}
  </div>
</main>
{% endblock %}
