{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/component-overview.css') %}
{% endblock %}

{% block main %}
<div class="ad-t-container ad-t-component-overview">
  {% include 'views/partials/component-sidebar.j2' %}
  {% include 'views/partials/main.j2' %}
</div>
{% endblock %}
