{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/custom-content.css') %}
{% endblock %}

{% block main %}
<main class="ap--main ap-t-custom-content">
  {{ doc.html|render|safe }}
</main>
{% endblock %}
