{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/template.css') %}
{% endblock %}

{% block main %}
<main class="ap--main ap-t-template">
    {{ doc.html|render|safe }}
</main>
{% endblock %}
