{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/use-cases.css') %}
{% endblock %}

{% block main %}
<main class="ad--main ad-t-use-cases">
    {{ doc.html|render|safe }}
</main>
{% endblock %}
