{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/what-is-amp.css') %}
{% endblock %}

{% block main %}
<div class="ad-t-container ad-t-what-is-amp">
    {{ doc.html|render|safe }}
</div>
{% endblock %}
