{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/what-is-amp.css') %}
{% endblock %}

{% block main %}
<main class="ap--main ap-t-what-is-amp">
  {{ doc.html|render|safe }}
</main>
{% endblock %}
