{% extends "/templates/base.html" %}

{% block nav %}
{% set homeDoc = g.doc('/content/pages/home.html') %}
    <amp-accordion animate class="m-acc">
      {% for category in homeDoc.categories %}
        <section>
        <h1>{{ category.title }}</h1>
        <ul>
        {% for category, docs in g.categories(category.text) %}
          {% for doc in docs %}
            <h1><a href={{doc.url.path}}>{{doc.title}}</a></h1>
          {% endfor %}
         {% endfor %}
        </ul>
        </section>
      {% endfor %}
    </amp-accordion>
{% endblock %}

{% block header %}
  {% include "/views/partials/guideHeader.html" %}
{% endblock %}
