---
$view: /views/styleguide/news-teaser-page.j2
$title: News Teaser Template

articles:
- date: July 11, 2018
  headline: Serverless AMP solution on AWS
  text: Text Small Contrary to popular belief, Lorem Ipsum is not simply random text.
  link: '#'
  label: Read More
  description: Single news molecule without modifiers.
- date: June 1, 2018
  headline: 'Save the dates: AMP Roadshow is traveling Europe this autumn'
  text: Text Small Contrary to popular belief, Lorem Ipsum is not simply random text.
  link: '#'
  label: Read More
  modifier: shadow
  description: Single news molecule with shadow modifier.

items:
- headline: Component Accent One
  subline: Category Accent 3
  icon: stories
  link: '/styleguide/organisms/teaser-list.html'
  label: Code now
  description: Single teaser without modifiers.
- headline: Component Accent One
  subline: Category Accent 3
  icon: flask
  link: '/styleguide/organisms/teaser-list.html'
  label: Code now
  modifier: white
  description: Single teaser with background modifier.
---

{% for article in doc.articles %}
  <div class="ad-o-container col-2-1">
    <p class="ad-a-txt ad-a-txt-p ad-a-txt-accent-2">{{ article.description }}</p>
  </div>
  <div class="ad-o-container col-4-4">
    <article class="ad-m-news {% if article.modifier %}ad-m-news-{{article.modifier}} {% endif %}">
      <span class="ad-m-news-date">{{ article.date }}</span>
      <span class="ad-m-news-headline">{{ article.headline }}</span>
      <p class="ad-m-news-copy">{{ article.text }}</p>
      <a href={{ article.link }} class="ad-m-lnk ad-m-news-link">
        {{ atoms.icon('internal', 'ad-m-news-link-icon') }}
        <span class="ad-m-news-link-label">{{ article.label }}</span>
      </a>
    </article>
  </div>
{% endfor %}


{% for item in doc.items %}
  <div class="ad-o-container col-2-1">
    <p class="ad-a-txt ad-a-txt-p ad-a-txt-accent-2">{{ item.description }}</p>
  </div>
  <div class="ad-o-container col-3-4">
    <div class="ad-m-teaser {% if item.modifier %}ad-m-teaser-{{item.modifier}}{% endif %}">
      <span class="ad-m-teaser-subline">{{ item.subline }}</span>
      <span class="ad-m-teaser-headline">
        {{ item.headline }}
        {{ atoms.icon(item.icon, 'ad-m-teaser-icon') }}
      </span>
      <p class="ad-m-teaser-copy">{{ lipsum(n=1, html=False, min=15, max=16) }}</p>
      <a href={{ item.link }} class="ad-m-lnk ad-m-teaser-link">
        {{ atoms.icon('internal', 'ad-m-news-link-icon') }}
        <span class="ad-m-news-link-label">{{ item.label }}</span>
      </a>
    </div>
  </div>
{% endfor %}