@import '_variables.scss';
@import '_functions.scss';
@import 'components/atoms/_text.scss';

.dropzone {
  .dz-button {
    width: 100%;
    height: 200px;
    border: 2px dashed color('silver');
    border-radius: 4px;
  }
}
