---
$title: Use cases
$view: /views/custom.j2
---
{% block styles %}
{% do doc.styles.addCssFile('css/components/templates/use-cases.css') %}
{% endblock %}

{% block main %}
<main class="ad--main ad-t-use-cases">
  <section class="ad--stage ad--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}
    <div class="ad-o-stage ad-o-stage-websites">
      <div class="ad--container">
        <div class="ad-o-stage-content"></div>
      </div>
    </div>

    <div class="ad-o-fragment-slider">
        <div class="ad--container-fluid">
          {% include 'views/partials/fragment-slider-controls.j2' %}
          {% include 'views/partials/fragment-slider-images.j2' %}
        </div>
        <div class="ad--container">
          {% include 'views/partials/fragment-slider-texts.j2' %}
        </div>
    </div>
  </section>
</main>
{% endblock %}
