<amp-sidebar class="styleguide__sidebar" id="sidebar" layout="nodisplay" side="left">
  {% set demoAtoms = g.collection('/content/styleguide/atoms') %}
  <section>
    {% if demoAtoms %}
    <p class="ad-a-txt ad-a-txt-strong ad-a-txt-blue-ribbon">Atoms</p>
    <ul>
      {% for doc in demoAtoms %}
      <li>
        <a class="ad-m-lnk" href="{{ doc.url|relative }}">
					{{ atoms.icon('internal', size=1, fill='river-bed') }}
					<span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-river-bed">{{ doc.title }}</span>
				</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% set demoMolecules = g.collection('/content/styleguide/molecules') %}
  {% if demoMolecules %}
  <section>
    <p class="ad-a-txt ad-a-txt-strong ad-a-txt-blue-ribbon">Molecules</p>
    <ul>
      {% for doc in demoMolecules %}
      <li>
        <a class="ad-m-lnk" href="{{ doc.url|relative }}">
					{{ atoms.icon('internal', size=1, fill='river-bed') }}
					<span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-river-bed">{{ doc.title }}</span>
				</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% set demoOrganisms = g.collection('/content/styleguide/organisms') %}
  {% if demoOrganisms %}
  <section>
    <p class="ad-a-txt ad-a-txt-strong ad-a-txt-blue-ribbon">Organisms</p>
    <ul>
      {% for doc in demoOrganisms %}
      <li>
        <a class="ad-m-lnk" href="{{ doc.url|relative }}">
					{{ atoms.icon('internal', size=1, fill='river-bed') }}
					<span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-river-bed">{{ doc.title }}</span>
				</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% set prototypes = g.collection('/content/styleguide/prototypes') %}
  {% if prototypes %}
  <section>
    <p class="ad-a-txt ad-a-txt-strong ad-a-txt-blue-ribbon">Prototypes</p>
    <ul>
      {% for doc in prototypes %}
      <li>
        <a class="ad-m-lnk" href="{{ doc.url|relative }}">
					{{ atoms.icon('internal', size=1, fill='river-bed') }}
					<span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-river-bed">{{ doc.title }}</span>
				</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

	{% set templates = g.collection('/content/styleguide/templates') %}
  {% if templates %}
  <section>
    <p class="ad-a-txt ad-a-txt-strong ad-a-txt-blue-ribbon">Templates</p>
    <ul>
      {% for doc in templates %}
      <li>
        <a class="ad-m-lnk" href="{{ doc.url|relative }}">
					{{ atoms.icon('internal', size=1, fill='river-bed') }}
					<span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-river-bed">{{ doc.title }}</span>
				</a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
</amp-sidebar>
