<div class="file-upload">
  <div id="dz-target" class="file-upload-dropzone">
    <div class="file-upload-info dz-info">
      <span>Drop EML File here or click to select</span>
    </div>
  </div>
  <label class="file-upload-label">
  </label>
</div>
