{{#if helpText}}
  <p>{{ helpText }}</p>
{{/if}}

<div id="file-upload" class="file-upload">
  <div class="file-upload-info dz-info">
    <span class="dfb-logo-selector-hint">Drop Email here or click to upload.</span>
  </div>
  <button id="file-upload-remove" class="file-upload-remove" type="button" name="button">Remove</button>
</div>
