{% macro icon(name, class) -%}
	<div class="ap-a-ico {{ class }}">
	  <svg>
	    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ name }}"></use>
	  </svg>
	</div>
{%- endmacro %}

{% macro image(class, src, layout='responsive', width='300', height='300', alt='Image', type='static') -%}
	<div
    class="ap-a-img {{ class }}"
    {% if type == 'parallax' %}
      amp-fx="parallax"
		  data-parallax-factor="1.1"
  	{% endif %}
	>
	  <amp-img
			src={{src}}
	  	layout="{{layout}}"
			width="{{width}}"
			height="{{height}}"
	  	alt="{{alt}}">
		</amp-img>
	</div>
{%- endmacro %}
