{% macro image(src, width, height, layout='responsive', alt='', caption='', align='', margin='') -%}
<figure class="alignment-wrapper {{ align }} margin-{{ margin }}">
  <amp-img src="{{ src }}" width="{{ width }}" height="{{ height }}" layout="{{ layout }}" alt="{{ alt }}"></amp-img>
  {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
</figure>
{%- endmacro %}
