{% do doc.styles.addCssFile('css/components/organisms/stage-destination-dropdown-sidebar.css') %}
{% do doc.styles.addCssFile('css/components/organisms/sidebar.css') %}
{% do doc.icons.useIcon('partials/icons/arrow-down-thick.svg') %}

<section class="sidebar">
  <div class="ad-o-sidebar">

    <div class="destination-stage websites websites-background">
      <div class="destination-stage-content">
        <span class="hl">Select your topic:</span>
        <div class="destination-list-view-box destination-list-view-box-gradient"
          [class]="toggle ? 'destination-list-view-box destination-list-view-box-gradient destination-list-view-box-expand': 'destination-list-view-box destination-list-view-box-gradient'">
            <button on="tap:AMP.setState({ toggle: !toggle })" class="destination-list-icon">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down-thick"></use></svg>
            </button>
          <amp-selector layout="container">
            <ul class="destination-list">
              {% set documentation = g.collection('amp-dev/documentation') %}
              <li class="{{ documentation.filter }}" option="{{ documentation.filter }}">
                <a href="#" class="destination-list-item destination-list-item-drop-down {{ documentation.filter }} {{ documentation.filter }}-background">
                  {{ documentation.filter }}
                </a>
              </li>

              {% for collection in g.collection('amp-dev/documentation').collections() %}
              {% for _doc in g.docs(collection.collection_path) %}
              <li class="{{ collection.title }}" option="{{ collection.title }}">
                <a href="{{ _doc.url.path }}" class="destination-list-item destination-list-item-drop-down {{ collection.title }} {{ collection.title }}-background">
                  {{ collection.title }}
                </a>
              </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </amp-selector>
        </div>
      </div>
    </div>

    <div class="ad-o-sidebar-list-main">
      <amp-accordion animate>

        {% for category in g.collection('amp-dev/documentation').categories %}
        <section>
          <header class="ad-o-sidebar-list-item">
            {{ category }}
            <span class="open">+</span>
            <span class="close">–</span>
          </header>
          <ul class="ad-o-sidebar-list ad-o-sidebar-list-sub">
            {% for _docs in g.collection('amp-dev/documentation') %}
            {% if _docs.category == category %}
            <li class="ad-o-sidebar-list-item ad-o-sidebar-list-item-sub">
              <a href="{{ _docs.url.path }}" class="ad-o-sidebar-list-item-lnk {% if doc.title == _docs.title %} ad-o-sidebar-list-item-lnk-selected {% endif %}">
                {{ _docs.title }}
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </section>
        {% endfor %}

      </amp-accordion>
    </div>

  </div>
</section>