---
$title: Blog
$path: /latest/blog
$parent: /content/latest/latest.html

$localization:
  path: /{locale}/latest/blog

class: list
---
{% set lists = g.doc('/content/includes/lists.yaml', locale=doc.locale) %}
{% set blogs = g.doc('/content/includes/list-blog.yaml', locale=doc.locale) %}

<h1 class="title">{{_(lists.blog.title)}}</h1>
<section class="post-list">
  {% for post in blogs.blogs if not post.type == "Video" %}
    {% with past = false, meta = false %}
      {% include "/views/partials/post-item.html" %}
    {% endwith %}
  {% endfor %}
</section>
<a href="https://amphtml.wordpress.com/" class="underlined cta">{{_('See all posts')}}</a>