---
$title@: Past Events
$path: /latest/event/past-event
$parent: /content/latest/list-event.html

$localization:
  path: /{locale}/latest/event/past-event

class: list
---
{% set lists = g.doc('/content/includes/lists.yaml', locale=doc.locale) %}
{% set events = g.doc('/content/includes/events.yaml', locale=doc.locale) %}

<h1 class="title">{{_(lists.past_event.title)}}</h1>
<section class="post-list">
  {% for post in events.past_events %}
    {% with past = true, meta = false %}
      {% include "/views/partials/post-item.html" %}
    {% endwith %}
  {% endfor %}
</section>
