---
$title: Roadmap
class: roadmap post-detail
$parent: /content/latest/latest.html
$path: /{base}/
$view: /views/base.html
$localization:
  path: /{locale}/{base}/

components:
  - social-share
---
{% set roadmap = g.doc('/content/includes/roadmap.yaml', locale=doc.locale) %}
{% include "/views/partials/breadcrumb-nav.html" %}
<div class="container xl">
  <div class="content">

    <h1 class="post-title">AMP's Roadmap</h1>

    <div class="roadmap-section-wrapper">
        {% for sectionId, section in roadmap.sections|dictsort %}
        <section>

          <div class="workstream-title"><h4>{{ section.title }}</h4><p class="small">{{ section.description }}</p></div>

          <ul>
            <li>
              <h5>I am title</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, veniam expedita. Ducimus, ex enim. Minus ab voluptatum in beatae est itaque doloribus doloremque rerum optio incidunt neque cum, sit nemo.
              </p>
              <ul class="tags">
                <li>Apple</li>
                <li>Banana</li>
                <li>Peanut</li>
              </ul>
            </li>
            <li>
                <h5>I am title</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, veniam expedita. Ducimus, ex enim. Minus ab voluptatum in beatae est itaque doloribus doloremque rerum optio incidunt neque cum, sit nemo.
                </p>
                <ul class="tags">
                  <li>Apple</li>
                  <li>Banana</li>
                  <li>Peanut</li>
                </ul>
              </li>
          </ul>

        </section>
        {% endfor %}
    </div>

    </div>
  </div>
</div>
