.textfield-fullwidth {
  input {
    width: 100%;
    height: 100%;
    padding: 0;
    resize: none;
    border: none !important;
    -webkit-appearance: none;
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
  height: 56px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
}

#templates {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.75rem;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    margin-left: -8px;
    padding: 8px;
    list-style-type: none;
    cursor: pointer;
    &:hover, &:active {
      background-color: color('athens-gray');
    }
    &.filtered {
      display: none;
    }
  }
}
