<header class="ad-o-header">
  <nav class="ad-o-header-main-nav">
    <ul class="ad-o-header-lnk-list">
      <li class="ad-o-header-lnk">
        <a class="ad-a-ico ad-a-ico-5 ad-a-ico-blue-ribbon" href="#">{{ icons.useIcon('logo') }}</a>
      </li>

      {% for link in ['Why AMP', 'Documentation', 'Community', 'News', 'Events'] %}
      <li class="ad-o-header-lnk">
        <a class="ad-m-lnk" href="#/{{link}}">
          <span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-black">{{ link }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <nav class="ad-o-header-sub-nav">
    <ul class="ad-o-header-lnk-list">
      {% for link in ['Guides & Tutorials', 'Components', 'Examples'] %}
      <li class="ad-o-header-lnk">
        <a class="ad-m-lnk" href="#">
          <span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-black">{{ link }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
