{% macro image(src, width, height, layout='responsive', alt='', caption='', align='', margin='') -%}
<figure class="alignment-wrapper {{ align }} margin-{{ margin }}">
  <amp-img src="{{ src }}" width="{{ width }}" height="{{ height }}" layout="{{ layout }}" alt="{{ alt }}"></amp-img>
  {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
</figure>
{%- endmacro %}

{% macro anim(src, width, height, poster, layout='responsive', alt='', align='', margin='') -%}
<figure class="alignment-wrapper {{ align }} margin-{{ margin }}">
  <amp-anim src="{{ src }}" width="{{ width }}" height="{{ height }}" layout="{{ layout }}" alt="{{ alt }}"><amp-img placeholder width="{{ width }}" height="{{ height }}" src="{{ poster }}"></amp-img></amp-anim>
</figure>
{%- endmacro %}

<!DOCTYPE HTML>
<html amp lang="{{ doc.locale }}">
<head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>{{ doc.title }}</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="canonical" href="{{ doc.url }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Poppins:700" rel="stylesheet">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    {% block styles %}
    {# Some basic styling should always be present #}
    {% do doc.styles.addCssFile('css/base.css') %}
    {% do doc.styles.addCssFile('css/components/atoms/headline.css') %}
    {% do doc.styles.addCssFile('css/components/atoms/text.css') %}
    {% do doc.styles.addCssFile('css/components/atoms/anchor.css') %}

    {% do doc.styles.addCssFile('css/components/molecules/table.css') %}
    {% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}
    {% endblock %}

    <style amp-custom>
     {{ doc.styles.emit() }}
    </style>
  </head>
  {# The body tag needs an empty class attribute in order to add the filter class #}
  <body class="">
	  <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        {{ doc.icons.emit() }}
      </defs>
    </svg>

    <div class="grid-toggle">
        <input type="checkbox">
        <div class="toggle"><div class="dot"></div></div>
        <div class="grid"></div>
    </div>

    {% include 'views/partials/header.j2' %}

    {% block main %}
    {% include 'views/partials/main.j2' %}
    {% endblock %}

    {% include 'views/partials/footer.j2' %}

    {% block fonts %}
    <amp-font layout="nodisplay" font-family="Noto Sans" timeout="3000"></amp-font>
    <amp-font layout="nodisplay" font-family="Poppins" timeout="3000"></amp-font>
    {% endblock %}
  </body>
</html>
