{% macro filter(formats='websites, ads, stories, email') -%}
{% if not formats.strip() %}
{{ caller() }}
{% else %}
{% set formats = formats.split(',') %}
<div class="{% for format in formats %}ap--{{ format.strip() }} {% endfor %}">
{{ caller() }}
</div>
{% endif %}
{%- endmacro %}

{% macro tip(title, type='note') -%}
{% with %}
{% set text = caller() %}
{% include '/views/partials/tip.j2' %}
{% endwith %}
{%- endmacro %}

{% macro image(src, width, height, layout='responsive', alt='', caption='', align='', margin='') -%}
<figure class="alignment-wrapper {{ align }} margin-{{ margin }}">
  <amp-img src="{{ src }}" width="{{ width }}" height="{{ height }}" layout="{{ layout }}" alt="{{ alt }}"></amp-img>
  {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
</figure>
{%- endmacro %}

{% macro anim(src, width, height, poster, layout='responsive', alt='', align='', margin='') -%}
<figure class="alignment-wrapper {{ align }} margin-{{ margin }}">
  <amp-anim src="{{ src }}" width="{{ width }}" height="{{ height }}" layout="{{ layout }}" alt="{{ alt }}"><amp-img placeholder width="{{ width }}" height="{{ height }}" src="{{ poster }}"></amp-img></amp-anim>
</figure>
{%- endmacro %}

<!DOCTYPE HTML>
<html amp lang="{{ doc.locale }}">
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    {% if podspec.env.name == 'development' %}
    <link rel="shortcut icon" href="/static/img/favicon-local.png"/>
    {% else %}
    <link rel="shortcut icon" href="/static/img/favicon.png"/>
    {% endif %}

    <meta name="theme-color" content="#005af0"/>

    <link rel="canonical" href="{{ doc.pod.podspec.base_urls.platform }}{{ doc.url.path }}"/>
    <link rel="alternate" hreflang="x-default" href="{{ doc.pod.podspec.base_urls.platform }}{{ doc.localize(podspec.default_locale).url.path }}"/>
    {% for locale in doc.locales if not locale == doc.locale  %}
    {% set localized_doc = doc.localize(locale) %}
    {# If the document really is localized cross-reference it #}
    {% if '@' in localized_doc.pod_path %}
    <link rel="alternate" hreflang="{{ locale }}" href="{{ doc.pod.podspec.base_urls.platform }}{{ localized_doc.url.path }}"/>
    {% endif %}
    {% endfor %}

    {# Do not index untranslated content #}
    {% if not '@' in doc.pod_path and not doc.locale == podspec.default_locale %}
    <meta name="robots" content="noindex,follow"/>
    {% endif %}

    {# Add SEO and sharing tags #}
    {% include 'views/partials/structured-data.j2' %}

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>

    <link rel="preload" href="/static/fonts/noto-sans-v7-latin-regular.woff2" as="font" crossorigin>
    <link rel="preload" href="/static/fonts/noto-sans-v7-latin-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/static/fonts/poppins-v5-latin-700.woff2" as="font" crossorigin>
    <link rel="preload" href="/static/fonts/fira-mono-v7-latin-500.woff2" as="font" crossorigin>

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    {% endblock %}

    <style amp-custom>
      {% block styles %}
      {# Some basic styling should always be present #}
      {% do doc.styles.addCssFile('css/base.css', -5) %}
      {% do doc.styles.addCssFile('css/components/atoms/headline.css', -4) %}
      {% do doc.styles.addCssFile('css/components/atoms/text.css', -3) %}
      {% do doc.styles.addCssFile('css/components/atoms/anchor.css', -2) %}
      {% do doc.styles.addCssFile('css/components/molecules/link.css', -2) %}
      {% do doc.styles.addCssFile('css/components/atoms/icon.css', -1) %}
      {% endblock %}

      {{ doc.styles.emit() }}
    </style>
    <link rel="manifest" href="/manifest.json">
  </head>
  {# The body tag needs an empty class attribute in order to add the filter class.
  It is a block solely for the purpose to be overridable by the samples. #}
  {% block body %}
  {% set formats = doc.formats or doc.collection.formats or ['websites', 'stories', 'ads', 'email'] %}
  <body data-available-formats="{{ ' '.join(formats) }}">
  {% endblock %}
    {% block icons %}
	  <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        {{ doc.icons.emit() }}
      </defs>
    </svg>
    {% endblock %}

    {% block header %}
    {% include 'views/partials/header.j2' %}
    {% include 'views/partials/burger-menu.j2' %}
    {% endblock %}

    {% if doc.pod.env.dev %}
    {% do doc.styles.addCssFile('/css/components/atoms/grid-toggle.css') %}
    <aside class="ap-a-grid-toggle">
        <input type="checkbox"/>
        <div class="toggle"><div class="dot"></div></div>
        <div class="grid"></div>
    </aside>
    {% endif %}

    {% block main %}
    {# Only render the grid toggle during development #}
    {% include 'views/partials/content.j2' %}
    {% endblock %}

    {% block footer %}
    {% include 'views/partials/footer.j2' %}
    {% endblock %}

    {% block fonts %}
    <amp-font layout="nodisplay" font-family="Noto Sans" timeout="3000"></amp-font>
    <amp-font layout="nodisplay" font-family="Poppins" timeout="3000"></amp-font>
    <amp-font layout="nodisplay" font-family="Fira Mono" timeout="3000"></amp-font>
    {% endblock %}

    {# For untranslated content add hint that we might use help to translate it #}
    {% if not '@' in doc.pod_path and not doc.locale == podspec.default_locale %}
    {% do doc.styles.addCssFile('/css/components/organisms/translation-hint.css') %}
    <aside class="ap-o-translation-hint">
      <p class="ap-o-translation-hint-wrapper">{{ _('Sadly this page isn\'t translated yet, but we could use some help doing so. If you want to lend a hand ...?')}}</p>
    </aside>
    {% endif %}

    {% block analytics %}
    {% include 'views/partials/analytics.j2' %}
    {% include 'views/partials/consent.j2' %}
    {% endblock %}

    {% block serviceWorker %}
    {% include 'views/partials/service-worker.j2' %}
    {% endblock %}
  </body>
</html>
