<a class="ap-banner"
    href="https://go.amp.dev/devx-survey"
    target="_blank"
    rel="noopener">
  <div class="ap-icon">
    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
  </div>
  {{ _('Do you build things with AMP? Fill out the AMP Developer Survey!') }}
</a>
