{# Simply set to False to disable banner #}
{% set show_banner = True %}
{% set banner_notification_id = 'survey-q3' %}
{% set banner_closeable = False %}

{% if show_banner and banner_closeable %}
{# Outside of the banner.j2 partial as it needs to be at root level
to provide its state to other components #}
<amp-user-notification id="{{ banner_notification_id }}" class="ap-m-banner-user-notification" layout="nodisplay">
</amp-user-notification>
{% endif %}

<header class="ap-header"
    [class]="'ap-header' + (mainmenuopen ? ' mainmenuopen' : '')">
  {% if show_banner %}
    {% include '/views/partials/banner.j2' %}
  {% endif %}

  <div class="ap-header-main">
    {# Resources need to be added outside the cached partial #}
    {% do doc.styles.addCssFile('/css/components/organisms/header.css') %}
    {% do doc.styles.addCssFile('/css/components/molecules/nav-link.css') %}
    {% do doc.icons.useIcon('/icons/logo.svg') %}
    {% do doc.icons.useIcon('/icons/angle-down-solid.svg') %}

    <a class="ap-header-home" href="{{g.doc('/content/amp-dev/index.html', locale=doc.locale).url.path}}">
      <svg class="ap-header-home-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
      <span class="ap-header-home-title">AMP</span>
    </a>

    <nav class="ap-header-nav">
      {# Top level sections, defined by their top collection and landing page #}
      {% set sections = [
        (g.collection('/content/amp-dev/about/'), None),
        (g.collection('/content/amp-dev/documentation/'), None),
        (g.collection('/content/amp-dev/community/'), None),
        (g.collection('/content/amp-dev/events/'), None),
        ('external', (_('Blog'), 'https://blog.amp.dev')),
        (g.collection('/content/amp-dev/support/'), None)
      ] %}

      {% for section, homepage in sections %}
      <div class="ap-header-nav-item">
        {% if section == 'external' %}
        <a class="ap-header-nav-link ap-m-nav-link" href="{{ homepage[1] }}">{{ homepage[0] }}</a>
        {% elif not section %}
        <a class="ap-header-nav-link ap-m-nav-link [% if homepage.url.path == '{{ doc.url.path }}' %]active[% endif %]" href="{{ homepage.url.path }}">{{_(homepage.titles('navigation'))}}</a>
        {% else %}
        <button class="ap-header-nav-link ap-m-nav-link [% if requestPath.startsWith('{{ section.pod_path.replace('/content/amp-dev/', '/') }}') %]active[% endif %]">
          {{_(section.title)}}
          <div class="ap-a-ico ap-header-nav-link-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
          </div>
        </button>

        <ul class="ap-header-flyout">
          {% for path in section.flyout %}
          {% set flyout_doc = g.doc(path, locale=doc.locale) %}
          {% set flyout = flyout_doc.flyout or {} %}

          {# If the flyout has an icon and a description its a primary item #}
          {% if flyout.icon and flyout.description %}
          <li class="ap-header-flyout-primary-item">
            <a class="ap-header-flyout-primary-item-link {{ flyout.format }}" href="{{ flyout_doc.url.path }}">
              <div class="ap-header-flyout-primary-item-link-icon {{ flyout.format }}">
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ flyout.icon }}"></use></svg>
              </div>

              <div class="ap-header-flyout-primary-item-link-info{% if flyout.format %} ap-header-flyout-primary-item-link-info-{{ flyout.format }}{% endif %}">
                <div class="ap-header-flyout-item-title">{{_(flyout_doc.titles('navigation'))}}</div>
                <div class="ap-header-flyout-item-description">{{_(flyout.description)}}</div>
              </div>
            </a>
          </li>
          {% else %}
          <li class="ap-header-flyout-item-secondary">
            <a class="ap-header-flyout-item-title secondary" href="{{ flyout_doc.url.path }}">{{_(flyout_doc.titles('navigation'))}}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </nav>

    <button class="ap-header-burger"
        on="tap:AMP.setState({mainmenuopen: !mainmenuopen, noScrollState: !noScrollState})"
        [class]="'ap-header-burger ' + (mainmenuopen ? 'mainmenuopen ' : '')"
        tabindex="0"
        aria-label="{{ _('Burger Menu') }}">
      <div class="ap-a-ico ap-header-burger-icon">
        {% do doc.icons.useIcon('/icons/menu.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg>
      </div>
    </button>

  </div>
</header>
