/* A project prefix that is added by using the prefix() function. Abbreviation
of the project name amp.dev */
/* All category codes which are prepended to selector by using either atom(selector),
molecule(selector) or organism(selector) */
/* The following map contains every color that is used inside the project. The
names are identified by using the http://chir.ag/projects/name-that-color to
prevent double colors and/or hirarchy dicussions */
amp-accordion > h1 { background: white; }

/**
/// Pulls a name out of the $colors array by key and throws a warning
/// if the specified color name does not exist
/// @param  {String} $name A color name inside that is inside $colors
/// @return {String}       The matching color or null
*/
/**
/// Prefixes a given string with the $projectPrefix and a category prefix out
/// of $categoryPrefixes by the key $category
/// @param  {String} $category A category name in $categoryPrefixes
/// @param  {String} $selector The selector that gets prefixed
/// @return {String}           The prefixed selector
*/
/**
/// Pulls a name out of the $shadows array by key and throws a warning
/// if the specified shadow name does not exist
/// @param  {String} $name A shadow name inside that is inside $shadows
/// @return {String}       The matching shadow or null
*/
*, *:after, *:before { box-sizing: border-box; }

html, body { padding: 0; margin: 0; min-width: 320px; color: #20202A; background: #FFFFFF; font-size: 16px; font-family: sans-serif; overflow-x: hidden; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*

######################
### ATOM: headline ###
######################

### SAMPLE MARKUP:

<h2 class="ad-a-hl ad-a-hl-h1">
  The Headline Text
</h2>

### INFO:

This is a regular headline.
It should be never overwritten in any other file.
New modifiers can be added below.

### MODIFIERS:

h1 - h6
  All values in em depending on base font-size of 16 px.

light
  Changes the text color to light (default is dark).

*/
.ad-a-hl, .ad-a-btn { font-family: Poppins; font-weight: bold; line-height: 1.2em; color: #20202A; }

.ad-a-hl-h1 { font-size: 3em; }

.ad-a-hl-h2 { font-size: 2.25em; }

.ad-a-hl-h3, .ad-a-btn { font-size: 1.5em; }

.ad-a-hl-h4 { font-size: 1em; }

.ad-a-hl-light, .ad-a-btn { color: #FFFFFF; }

/*

##################
### ATOM: text ###
##################

### SAMPLE MARKUP:

<p class="ad-a-txt ad-a-txt-p">
  The Text
</p>

### INFO:

Text atom could be used almost everywhere.
It has multiple size modifiers (more could be added below).

### MODIFIERS:

sizes
  Selector names of the sizes could be changed globally in variables.

p
  Paragraph style text.

TODO: mono (inline, block)
  Changes the font-family to a monospaced font as inline or block text.

*/
.ad-a-txt, p { font-family: Noto Sans; line-height: 1.6em; font-weight: normal; color: #48525C; margin: 0; }

.ad-a-txt-1 { font-size: 0.625em; }

.ad-a-txt-2 { font-size: 0.75em; }

.ad-a-txt-3, p { font-size: 0.875em; }

.ad-a-txt-4 { font-size: 1em; }

.ad-a-txt-strong { font-weight: bold; }

.ad-a-txt-black { color: #20202A; }

.ad-a-txt-blue-ribbon { color: #005AF0; }

.ad-a-txt-light { color: #FFFFFF; }

.ad-a-txt-teaser-sm { opacity: 0.5; text-transform: uppercase; font-weight: bold; }

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/
.hljs { display: block; overflow-x: auto; padding: 0.5em; background: #23241f; }

.hljs, .hljs-tag, .hljs-subst { color: #f8f8f2; }

.hljs-strong, .hljs-emphasis { color: #a8a8a2; }

.hljs-bullet, .hljs-quote, .hljs-number, .hljs-regexp, .hljs-literal, .hljs-link { color: #ae81ff; }

.hljs-code, .hljs-title, .hljs-section, .hljs-selector-class { color: #a6e22e; }

.hljs-strong { font-weight: bold; }

.hljs-emphasis { font-style: italic; }

.hljs-keyword, .hljs-selector-tag, .hljs-name, .hljs-attr { color: #f92672; }

.hljs-symbol, .hljs-attribute { color: #66d9ef; }

.hljs-params, .hljs-class .hljs-title { color: #f8f8f2; }

.hljs-string, .hljs-type, .hljs-built_in, .hljs-builtin-name, .hljs-selector-id, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable, .hljs-template-variable { color: #e6db74; }

.hljs-comment, .hljs-deletion, .hljs-meta { color: #75715e; }

/*

####################
### ATOM: button ###
####################

### SAMPLE MARKUP:

<a class="ad-a-btn" href="#">
	The Button Text
</a>

### INFO:

The regular button has only one size and no modifiers yet.
The text style is always extended from light headline 3 but in uppercase letters.

### MODIFIERS:

none

*/
.ad-a-btn { display: inline-block; max-width: 100%; min-width: 230px; width: auto; height: auto; padding: .813rem 1.626rem; margin: 0; text-transform: uppercase; text-decoration: none; text-align: center; background-color: #005AF0; border: 3px solid #005AF0; }

.ad-a-btn:hover { background-color: #48525C; border: 3px solid #48525C; }

/*

####################
### ATOM: icon ###
####################

### SAMPLE MARKUP:

<svg class="ad-a-ico ad-a-ico-amp">
  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp"></use>
</svg>

### INFO:

An icon could have fice different sizes and multiple (background)colors.
New colors can be added below.

### MODIFIERS:

sizes
  Selector names of the sizes could be changed globally in variables.

colors
  Color of icons are based on original color names.

square
  Gaves the icon a square shape with background color (default is transparent).

*/
.ad-a-ico { display: flex; }

.ad-a-ico-1 { width: 1em; height: 1em; }

.ad-a-ico-2 { width: 1.375em; height: 1.375em; }

.ad-a-ico-3 { width: 3em; height: 3em; }

.ad-a-ico-4 { width: 4em; height: 4em; }

.ad-a-ico-5 { width: 5em; height: 5em; }

.ad-a-ico-blue-ribbon { fill: #005AF0; }

.ad-a-ico-white { fill: #FFFFFF; }

.ad-a-ico-river-bed { fill: #48525C; }

.ad-a-ico-square { fill: #FFFFFF; background-color: #005AF0; }

/*

###################
### ATOM: image ###
###################

### SAMPLE MARKUP:

<div class="ad-a-img ad-a-img-circle">
	<amp-img src="images/sample.jpg" layout="fill" alt="The Alt Text"></amp-img>
</div>

### INFO:

Some basic styling for images.
If using images in stages, no modifiers should be applied.
Image atoms are implemented by a macro.
Give the image macro the parameter "parallax" to add the amp-parallax-fx to it.

### MODIFIERS:

circle
  Sets a border-radius 50% to the image (make sure it is a sqaure).

shadow-static
  Adds a simple static drop-shadow to the image.

shadow-animated
  Adds the same shadow as the static one, but also moves up and down while scrolling.

*/
.ad-a-img { position: relative; }

.ad-a-img-shadow-static { box-shadow: 0 5px 25px 0 rgba(72, 82, 92, 0.3); }

.ad-o-container-image { display: grid; grid-template-rows: repeat(3, 75px); grid-template-columns: repeat(3, 75px); }

.ad-o-container-image .ad-a-img-shadow-static { grid-column: 1 / 4; grid-row: 1 / 4; }

.ad-a-divider { height: 1px; width: 100%; background-color: #FAFAFC; }

@media screen and (min-width: 768px) { .ad-a-divider { display: none; } }

/*

######################
### MOLECULE: link ###
######################

### SAMPLE MARKUP:

<a class="ad-m-lnk" href="#" target="_blank">
	<svg class="ad-a-ico ad-a-ico-external ad-a-ico-1 ad-a-ico-blue-ribbon ad-a-ico-transparent">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use>
	</svg>
	<span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-blue-ribbon">
		The Link Text
	</span>
</a>

### INFO:

The link molecule is a combination of icon and text atom.
The size of the icon should be 1 (xsmall) and text should be 3 (medium).

### MODIFIERS:

none

*/
.ad-m-lnk { display: flex; align-items: center; text-decoration: none; padding: 0.75em 0; margin: 0.75em 0; }

.ad-m-lnk .ad-a-ico { margin-bottom: auto; margin-right: 0.625em; padding: 0.438em 0; box-sizing: initial; }

.ad-m-lnk .ad-a-ico-square { padding: 0.438em; }

/*

#####################
### MOLECULE: tip ###
#####################

### SAMPLE MARKUP:

<div class="ad-m-tip-container">
	<div class="ad-m-tip ad-m-tip-default">
		<h4 class="ad-a-hl ad-a-hl-h4">
			The Headline Text
		</h4>
		<p class="ad-a-txt ad-a-txt-3  ad-a-txt-p">
			The Copy Text
		</p>
	</div>
</div>

### INFO:

The tip molecule includes headline and text atoms.
It has 4 different modifiers for different use-cases.

### MODIFIERS:

default
	Green border on the right and triangle outside the lower left corner.

note
	Blue border on the right and triangle inside the lower right corner.

important
	Red border on the right and cutted triangles inside the left corners.

read-on
	Yellow border on the right and ribbon shape outside the lower right corner.

*/
.ad-m-tip { width: 100%; background: #FFFFFF; border-right: 5px solid #00CD3C; padding: 25px 30px 70px 25px; grid-row: span 1; position: relative; }

@media screen and (min-width: 768px) { .ad-m-tip { width: auto; padding: 25px 55px 55px 40px; } }

.ad-m-tip-default { clip-path: polygon(0px 0px, 100% 0px, 100% calc(100% - 30px), 30px calc(100% - 30px), 0px 100%); }

.ad-m-tip-read-on { border-right: 5px solid #FFE100; }

.ad-m-tip-read-on:before { content: ''; position: absolute; height: calc(100% + 32px); width: 37px; top: 0; left: calc(100% - 32px); z-index: -1; background-color: #FFE100; -webkit-clip-path: polygon(0% 0%, 0 100%, 50% 90%, 100% 100%, 100% 0%); clip-path: polygon(0% 0%, 0 100%, 50% 90%, 100% 100%, 100% 0%); }

.ad-m-tip-important { border-right: 5px solid #EF0000; -webkit-clip-path: polygon(0% 20px, 20px 0%, 100% 0, 100% 100%, 20px 100%, 0% calc(100% - 20px)); clip-path: polygon(0% 20px, 20px 0%, 100% 0, 100% 100%, 20px 100%, 0% calc(100% - 20px)); }

.ad-m-tip-note { border: none; width: calc(100% - 25px); padding: 25px 10px 20px 25px; }

@media screen and (min-width: 768px) { .ad-m-tip-note { padding: 25px 0px 35px 40px; } }

.ad-m-tip-note:before { content: ''; position: absolute; border-bottom: 32px solid transparent; border-left: 25px solid #005AF0; left: 100%; right: 0; bottom: 0; }

.ad-m-tip-note:after { content: ''; position: absolute; right: 0; top: 0px; height: calc(100% - 32px); left: 100%; width: 25px; background-color: #FFFFFF; border-right: 5px solid #005AF0; }

.ad-m-tip-container { filter: drop-shadow(0px 2px 5px rgba(72, 82, 92, 0.3)); grid-column: 1 / span 1; padding: 0px 80px 40px 20px; }

@media screen and (min-width: 768px) { .ad-m-tip-container { grid-column: 2 / span 1; padding: 0px 50px 40px 10px; } }

/*

########################
### MOLECULE: teaser ###
########################

### SAMPLE MARKUP:

<div class="ad-m-teaser ad-m-teaser-white">
	<h5 class="ad-a-txt ad-a-txt-1">
		The Subline Text
	</h5>
	<h4 class="ad-a-hl ad-a-hl-h4">
		The Headline Text
	</h4>
	<p class="ad-a-txt ad-a-txt-3 ad-a-txt-p">
		The Text
	</p>

	<a class="ad-m-lnk" href="#">
		<svg class="ad-a-ico ad-a-ico-internal ad-a-ico-1 ad-a-ico-blue-ribbon ad-a-ico-transparent">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use>
		</svg>
		<span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-blue-ribbon">
			The Link Text
		</span>
	</a>
</div>


### INFO:

The teaser molecule includes link molecule and headline, text and icon atom.
The link molecule inside this should not be customized.

### MODIFIERS:

white
	Gaves the teaser a white background, padding and drop-shadow. (Default is transparent)

*/
.ad-m-teaser-white { box-shadow: 0 5px 25px 0 rgba(72, 82, 92, 0.3); padding: 20px 40px 50px 25px; background-color: white; }

.ad-o-container { grid-column: 1; padding: 0 20px; }

@media screen and (min-width: 768px) { .ad-o-container { grid-column: 2 / span 1; } }

/*

######################
### MOLECULE: copy ###
######################

### SAMPLE MARKUP:

<div class="ad-m-copy">
	<h3 class="ad-a-hl ad-a-hl-h3">The Headline Text</h3>
	<p class="ad-a-txt ad-a-txt-p">The Copy Text</p>
</div>

### INFO:

The copy molecule is a combination of headline and text atom.
Currently no custom styles are required here.

### MODIFIERS:

none

*/
.ad-m-copy-container { grid-column: 2 / span 1; display: grid; grid-template-columns: 1fr; padding: 0 20px; }

@media screen and (min-width: 768px) { .ad-m-copy-container { display: grid; grid-template-columns: repeat(12, 1fr); } }

.ad-m-copy-wrapper { grid-column: 1; }

@media screen and (min-width: 768px) { .ad-m-copy-wrapper { grid-column: 4 / span 6; } }

/*

###########################
### MOLECULE: load-more ###
###########################

### SAMPLE MARKUP:

<div class="ad-m-load-more">
	<span class="ad-a-hl ad-a-hl-h4">
		The Text
	</span>
	<svg class="ad-a-ico ad-a-ico-arrow-down-thin ad-a-ico-1 ad-a-ico-river-bed ad-a-ico-transparent">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down-thin"></use>
	</svg>
</div>

### INFO:

The load-more molecule is a combination of headline and icon atom.
The size of the icon should be 1 and headline should be h4.
The icon should be arrow-down-thin.

### MODIFIERS:

none

*/
.ad-m-load-more { display: flex; flex-direction: column; align-items: center; }

@media screen and (min-width: 768px) { .ad-m-load-more { grid-column: 2 / span 1; } }

.ad-m-shift-image { display: grid; grid-template-columns: repeat(6, 75px); grid-template-rows: 40px repeat(5, 75px); padding: 30px 0px; }

.ad-m-shift-image .ad-a-img { grid-column: 1 / 4; grid-row: 2 / 6; position: relative; }

.ad-m-shift-image .ad-a-img-parallax { grid-column: 2 / 5; grid-row: 1 / 4; z-index: 4; }

.ad-m-shift-image .ad-a-img-static-image { grid-column: 3 / 6; grid-row: 2 / 5; }

@media screen and (min-width: 768px) { .ad-m-shift-image .ad-a-img-static-image { grid-column: 4 / 7; } }

.ad-m-static-image { display: grid; grid-template-columns: repeat(3, 75px); grid-template-rows: repeat(3, 75px); }

.ad-m-copy-wrapper { display: grid; grid-template-columns: repeat(6, 75px); grid-template-rows: repeat(6, 75px); }

.ad-a-txt, p { grid-column: 1 / 6; grid-row: 2 / 5; padding-right: 40px; }

@media screen and (min-width: 768px) { .ad-a-txt, p { grid-column: 1 / 7; padding: 0; } }

.ad-a-hl, .ad-a-btn { grid-column: 1 / 4; }

.ad-m-kpi { height: 170px; width: 170px; box-shadow: 0 5px 25px 0 rgba(72, 82, 92, 0.3); display: flex; flex-direction: column; justify-content: flex-end; padding: 1.5em; }

@media screen and (min-width: 768px) { .ad-m-kpi { height: 100%; width: 100%; } }

.ad-m-kpi .ad-a-txt, .ad-m-kpi p { white-space: normal; padding: 0; }

.ad-m-kpi-emerald-doger { background: linear-gradient(45deg, #38CA71, #21C1FA); }

.ad-m-kpi-turbo-pizazz { background: linear-gradient(45deg, #FF8F00, #FFE100); }

.ad-m-kpi-river-ebony { background: linear-gradient(45deg, #48525C, #29323C); }

.ad-m-benefit { display: flex; flex-direction: column; padding: 20px; }

@media screen and (min-width: 768px) { .ad-m-benefit { padding: 0; } }

.ad-m-benefit .ad-a-hl, .ad-m-benefit .ad-a-btn { padding-top: 20px; }

.ad-m-benefit .ad-a-txt, .ad-m-benefit p { padding: 20px 0; }

.ad-m-event { width: 200px; padding: 0 20px; }

@media screen and (min-width: 768px) { .ad-m-event { padding: 0; } }

.ad-m-event-content { position: relative; padding-bottom: 20px; display: block; }

.ad-m-event .ad-a-ico { position: absolute; }

.ad-m-event .ad-a-txt, .ad-m-event p { padding-left: 30px; }

/*

#############################
### ORGANISM: teaser-list ###
#############################

### SAMPLE MARKUP:

<ul class="ad-o-teaser-list>
	<li class="ad-o-teaser-list-container">

		<div class="ad-m-teaser ad-m-teaser-white">
			<h5 class="ad-a-txt ad-a-txt-1">
				The Subline Text
			</h5>
			<h4 class="ad-a-hl ad-a-hl-h4">
				The Headline Text
			</h4>
			<p class="ad-a-txt ad-a-txt-3 ad-a-txt-p">
				The Text
			</p>

			<a class="ad-m-lnk" href="#">
				<svg class="ad-a-ico ad-a-ico-internal ad-a-ico-1 ad-a-ico-blue-ribbon ad-a-ico-transparent">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use>
				</svg>
				<span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-blue-ribbon">
					The Link Text
				</span>
			</a>
		</div>

	</li>

	<li>...</li>
</ul>

### INFO:

The teaser-list organism includes multiple teaser molecules.

### MODIFIERS:

none

*/
.ad-o-list { list-style: none; padding-left: 20px; display: grid; grid-gap: 20px; }

.ad-o-list-item { min-width: 60%; padding: 20px 20px 0px 0px; }

@media screen and (min-width: 768px) { .ad-o-list-columns { grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 768px) { .ad-o-list-columns-fixed-width { grid-template-columns: repeat(3, 190px); } }

/*

#############################
### ORGANISM: header ###
#############################

*/
.ad-o-header-lnk-list { display: flex; list-style: none; padding: 0; margin: 0; max-width: 1280px; margin: 0 auto; }

.ad-o-header-sub-nav { background-color: #F5F5F5; }
