{% extends '/layouts/default.j2' %}
{% set inline_preview = not doc.example.document.metadata.hidePreview %}

{% block head %}
{{ super() }}

{% if not doc.example.document.metadata.hidePreview %}
{{ doc.example.document.head|safe }}
{% endif %}
{% endblock %}

{% include 'views/partials/first_survey.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}

{% do doc.styles.addCssFile('css/components/templates/examples/manual.css') %}

{# Add eventual specific sample styles to page if preview enabled #}
{% if not doc.example.document.metadata.hidePreview %}
{{ doc.example.document.styles|safe }}
{% endif %}
{% endblock %}

{% block body %}
{% set body_tag = doc.example.document.body %}
{% set available_formats = ' '.join(doc.formats or doc.collection.formats or ['websites', 'stories', 'ads', 'email']) %}
{{ (body_tag.replace('>', ' data-available-formats="' + available_formats + '" class="[= \'ap--\' + format if format =]">'))|safe }}
{{ doc.example.document.elementsAfterBody|safe }}
{% endblock %}

{% block main %}
{% include 'views/partials/sidebar-toggle-observer.j2' %}
{% include 'views/partials/format-filter-hint.j2' %}
<main class="ap--main ap-t-examples-manual">
  <div class="ap--container">
    {% include 'views/partials/sidebar-toggle.j2' %}
    <span id="ap--sidebar-content" class="ap--sidebar"></span>

    <section class="ap--toc">
      {% do doc.styles.addCssFile('/css/components/atoms/sidebar-toggle.css') %}
      {% do doc.styles.addCssFile('/css/components/organisms/toc.css') %}

      <div class="ap-o-toc" [class]="contentmenuopen ? 'ap-o-toc contentmenuopen' : 'ap-o-toc'">
        <label class="ap-o-toc-toggle" for="toc" on="tap:AMP.setState({contentmenuopen: !contentmenuopen})" role="contentmenutrigger" tabindex="0">
          <p class="ap-o-toc-hl">{{ _('Table of contents') }}</p>
        </label>
        <input class="ap-a-sidebar-toggle-input ap-a-sidebar-toggle-input-toc" type="checkbox" name="toc" id="toc" autocomplete="off">
        <ul>
          <li>
            <a href="#{{ doc.example.document.title|slug }}">{{ doc.example.document.title }}</a>
            <ul>
              <li>
                {% for section in doc.example.document.sections %}
                {% for heading in section.headings %}
                <a href="#{{ heading.id }}">{{ heading.name }}</a>
                {% endfor %}
                {% endfor %}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    {# The examples manual template does not make use of the main partial
    as it's content is rendered from the JSON loaded in doc.example #}
    <section class="ap--content">
      {% include '/views/partials/sidebar-toggle-button.j2' %}

      <ul class="ap--format-tags">
        {% do doc.styles.addCssFile('/css/components/atoms/format-tags.css') %}
        {% for format in doc.formats %}
        <li class="ap--format-tag ap-a-format-tag ap-a-format-tag-{{ format }}">{{ format }}</li>
        {% endfor %}
      </ul>

      {% include '/views/partials/breadcrumbs.j2' %}
      <h1 class="ap--title" id="{{ doc.example.document.title|slug }}">{{ doc.example.document.title }}</h1>

      {# Render widget to toggle experiments if there are any #}
      {% if doc.example.document.metadata.experiments %}
      {% with experiments = doc.example.document.metadata.experiments %}
      <script>const experiments = {{ experiments|tojson }}</script>
      {% include '/views/partials/experiments/experiments.j2' %}
      {% endwith %}
      {% endif %}

      {# Check if the sample has a demo button as then this is the primary CTA #}
      {% set has_demo = doc.example.document.metadata.preview or doc.example.document.isAmpStory %}
      {% set has_playground = not doc.example.document.metadata.disablePlayground %}
      {% if has_demo or has_playground %}
      {% do doc.styles.addCssFile('css/components/atoms/button.css') %}
      <div class="ap--ctas">
        {% if has_demo %}
        {% set preview_url = doc.url.path + '/../preview/' %}
        <a class="ap-a-btn" href="{{ preview_url }}">{{ _('View demo') }}</a>
        {% endif %}

        {% if has_playground %}
        {% set playground_url = podspec.base_urls.playground + '/?url=' + podspec.base_urls.preview + doc.source %}
        <a class="ap-a-btn ap--playground-link {% if has_demo %}ap--playground-link-hollow{% endif %}" href="{{ playground_url }}">{{ _('Open in playground') }}</a>
        {% endif %}
      </div>
      {% endif %}

      {% for section in doc.example.document.sections %}
      {{ doc.pod.amp_dev.transform_markdown(section.doc_, section.doc_.strip(), section.doc_.strip())|markdown|render|safe }}

      {% set render_code = section.doc_.strip() and section.code.strip() %}
      {% if render_code %}
      {% do doc.styles.addCssFile('/css/components/organisms/code-preview.css') %}
      <div class="ap-o-code-preview">
        {% set story_preview = doc.example.document.isAmpStory and section.storyPageId %}
        {% set show_preview = section.preview and section.inBody and not doc.example.document.metadata.hidePreview %}
        {% if story_preview %}
        {% set story_preview_embed = podspec.base_urls.preview + doc.source + '/embed?id=' + section.storyPageId %}
        {# Storys should be repeatable, therefore render reload icon #}
        <div class="ap-o-code-preview-controls">
          <button class="ap-o-code-preview-controls-button" on="tap:AMP.setState({'section{{ section.id }}': '{{ story_preview_embed + '&' }}' + random()})">
            <div class="ap-a-ico ap-o-code-preview-controls-icon">
              {% do doc.icons.useIcon('icons/reload.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#reload"></use></svg>
            </div>
          </button>
        </div>
        <div class="ap-o-code-preview-preview-iframe{% if doc.example.document.metadata.landscape %} landscape{% endif %}">
          <div>
            <amp-iframe class="ap-o-code-preview-iframe" src="{{ story_preview_embed }}" [src]="section{{ section.id }}"
            {% if doc.example.document.metadata.landscape %}
            width="16" height="9" layout="responsive"
            {% else %}
            layout="flex-item"
            {% endif %}
            sandbox="allow-scripts allow-popups allow-same-origin" frameborder="0"><div placeholder></div></amp-iframe>
          </div>
        </div>
        {% elif not doc.example.document.isAmpStory and show_preview %}
        <div class="ap-o-code-preview-preview">
          {{ section.preview|safe }}
        </div>
        {% endif %}
        {% set markdown = doc.pod.markdown %}
        {{ markdown.convert('```html\n' + section.code + '\n```')|safe }}
      </div>

      {% if section.inBody and not playground_disabled and doc.example.document.metadata.standaloneSnippets %}
      <a href="{{ playground_url }}/{{ section.id }}" class="ap-m-lnk ap--playground-link">
          <div class="ap-a-ico ap-m-lnk-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('Open this snippet in playground' ) }}</span>
      </a>
      {% endif %}
      {% endif %}
      {% endfor %}
    </section>

    {% do doc.styles.addCssFile('/css/components/organisms/help.css') %}
    {% do doc.icons.useIcon('icons/external.svg') %}
    <section class="ap--help">
      <div class="ap-o-help">
        <span class="ap-o-help-hl">{{ _('Need further explanation?') }}</span>
        <p class="ap-o-help-copy">{{ _('If the explanations on this page don\'t cover all of your questions feel free to reach out to other AMP users to discuss your exact use case.')}}</p>
        <a href="https://stackoverflow.com/questions/tagged/amp-html" rel="noopener" class="ap-m-lnk">
          <svg class="ap-a-ico ap-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          <span class="ap-m-lnk-text">{{ _('Go to Stack Overflow') }}</span>
        </a>
        <div class="ap-o-help-divider"></div>
        <span class="ap-o-help-hl">{{ _('An unexplained feature?') }}</span>
        <p class="ap-o-help-copy">{{ _('The AMP project strongly encourages your participation and contributions! We hope you\'ll become an ongoing participant in our open source community but we also welcome one-off contributions for the issues you\'re particularly passionate about.') }}</p>
        <a href="{{ podspec.base_urls.repository + doc.example.filePath }}" rel="noopener" class="ap-m-lnk link-preview-1">
          <svg class="ap-a-ico ap-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          <span class="ap-m-lnk-text">{{ _('Edit sample on GitHub') }}</span>
        </a>
        <div class="ap-o-help-divider"></div>
      </div>
    </section>

    {% include 'views/partials/author.j2' %}
  </div>
</main>
{% with type = 'example' %}
{% include 'views/partials/sidebar.j2' %}
{% endwith %}
{% endblock %}

{% block serviceWorker %}
{# Do not render amp-install-serviceworker if used in the sample #}
{% if 'amp-install-serviceworker' not in doc.used_components or not inline_preview %}
{% include 'views/partials/service-worker.j2' %}
{% endif %}
{% endblock %}

{% block analytics %}
{# Do not render amp-consent if used in the sample #}
{% if 'amp-consent' not in doc.used_components or not inline_preview %}
{% include 'views/partials/consent.j2' %}
{% endif %}
{% include 'views/partials/analytics.j2' %}
{% endblock %}
