{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/examples/manual.css') %}

{# Add eventual specific sample styles to page #}
{{ doc.example.document.styles|safe }}
{% endblock %}

{% block body %}
{% set body_tag = doc.example.document.body %}
{{ (body_tag.replace('<body', '<body class=""') if 'class="' not in body_tag else body_tag)|safe }}
{{ doc.example.document.elementsAfterBody|safe }}
{% endblock %}

{% block main %}
<main class="ad--main ad-t-examples-manual">
  <div class="ad--container">
    {% include 'views/partials/sidebar.j2' %}

    <section class="ad--toc">
      {% do doc.styles.addCssFile('/css/components/atoms/sidebar-toggle.css') %}
      <label class="ad-a-sidebar-toggle-label ad-a-sidebar-toggle-label-toc" for="toc">Contents</label>
      <input class="ad-a-sidebar-toggle-input" type="checkbox" name="toc" id="toc">

      {% do doc.styles.addCssFile('css/components/organisms/toc.css') %}
      <div class="ad-o-toc">
        <p class="ad-o-toc-hl">Table of contents</p>
        <div class="toc">
          <ul>
            <li>
              {% for section in doc.example.document.sections %}
              {% for heading in section.headings %}
              <a href="{{ heading.id }}">{{ heading.name }}</a>
              {% endfor %}
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </section>

    {# The examples manual template does not make use of the main partial
    as it's content is rendered from the JSON loaded in doc.example #}
    <section class="ad--content">
      <h1>{{ doc.example.document.title }}</h1>

      <ul class="ad--ctas">
        <li>
          {% do doc.icons.useIcon('/icons/external.svg') %}
          {% set source_document = g.doc(doc.pod_path.replace('-manual.html', '-source.html')) %}
          <a href="{{ podspec.base_urls.playground + source_document.url|string }}" class="ad-m-lnk ad-m-lnk-square"><div class="ad-a-ico ad-m-lnk-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg></div><span class="ad-m-lnk-text">{{ _('Open in playground') }}</span></a>
        </li>
        <li>
          <a href="{{ podspec.base_urls.repository + doc.example.filePath }}" class="ad-m-lnk ad-m-lnk-square"><div class="ad-a-ico ad-m-lnk-icon"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg></div><span class="ad-m-lnk-text">{{ _('Edit on GitHub') }}</span></a>
        </li>
      </ul>

      {% for section in doc.example.document.sections %}
      {{ section.doc|markdown|safe }}

      {% set render_code = section.doc.strip() and section.code.strip() %}
      {% if render_code %}
      {% do doc.styles.addCssFile('/css/components/organisms/code-preview.css') %}
      <div class="ad-o-code-preview">
        {% set story_preview = doc.example.document.isAmpStory and section.storyPageId %}
        {% set show_preview = section.preview and section.inBody %}
        {% if story_preview %}
        {% set preview_document = g.doc(doc.pod_path.replace('-manual.html', '-preview.html')) %}
        {% set story_preview_src = podspec.base_urls.sample_embed + preview_document.url.path + '?id=' +  section.storyPageId %}
        {# Storys should be repeatable, therefore render reload icon #}
        <button class="ad-o-code-preview-reload" on="tap:AMP.setState({'{{ section.storyPageId }}': '{{ story_preview_src + '&' }}' + random()})">
          <div class="ad-a-ico">
            {% do doc.icons.useIcon('icons/reload.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#reload"></use></svg>
          </div>
        </button>
        <div class="ad-o-code-preview-preview-story">
          <amp-iframe class="ad-o-code-preview-story" media="(min-width: 650px)" src="{{ story_preview_src }}" [src]="{{ section.storyPageId }}" width="440" height="732" sandbox="allow-scripts allow-popups allow-same-origin" frameborder="0"></amp-iframe>
        </div>
        {% elif show_preview %}
        <div class="ad-o-code-preview-preview">
          {{ section.preview|safe }}
        </div>
        {% endif %}
        {% set markdown = doc.pod.markdown %}
        {{ markdown.convert('```html\n' + section.code + '\n```')|safe }}
      </div>
      {% endif %}
      {% endfor %}
    </section>
  </div>
</main>
{% endblock %}
