{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/docs-detail.css') %}

{# Add eventual specific sample styles to page #}
{{ doc.example.document.styles|safe }}
{% endblock %}

{% block body %}
{% set body_tag = doc.example.document.body %}
{{ (body_tag.replace('<body', '<body class=""') if 'class="' not in body_tag else body_tag)|safe }}
{{ doc.example.document.elementsAfterBody|safe }}
{% endblock %}

{% block main %}
<div class="ad-t-container ad-t-docs-detail">
  {% include 'views/partials/sidebar.j2' %}

  {% do doc.styles.addCssFile('css/components/organisms/toc.css') %}
  <section class="toc-column">
    <div class="ad-o-toc">
      <b>Table of contents:</b>
      <div class="toc">
        <ul>
          <li>
            {% for section in doc.example.document.sections %}
            {% for heading in section.headings %}
            <a href="{{ heading.id }}">{{ heading.name }}</a>
            {% endfor %}
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </section>

  {# The examples manual template does not make use of the main partial
  as it's content is rendered from the JSON loaded in doc.example #}
  <section class="main">
    <h1>{{ doc.example.document.title }}</h1>

    {% for section in doc.example.document.sections %}
    {{ section.doc|markdown|safe }}

    {% set render_code = section.doc.strip() and section.code.strip() %}
    {% if render_code %}
    {% do doc.styles.addCssFile('/css/components/organisms/code-preview.css') %}
    <div class="ad-o-code-preview">
      {% set show_preview = section.preview and section.inBody %}
      {% if show_preview %}
      <div class="ad-o-code-preview-preview">
        {{ section.preview|safe }}
      </div>
      {% endif %}
      <div class="ad-m-code-snippet ad-o-code-preview-code">
        {% set markdown = doc.pod.markdown %}
        {{ markdown.convert('```html\n' + section.code + '\n```')|safe }}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </section>
</div>
{% endblock %}
