{% extends '/layouts/default.j2' %}

{% do doc.styles.addCssFile('/css/components/atoms/format-backgrounds.css') %}

{% block header %}
{% do doc.styles.addCssFile('/css/components/organisms/header.css') %}
{% do doc.styles.addCssFile('/css/components/molecules/homepage-link.css') %}
<header class="ap--header ap--header-fixed">
  <div class="ap-o-header">
    <a class="ap-o-header-home" href="/index.html">
      {% do doc.icons.useIcon('/icons/logo.svg') %}
      <svg class="ap-o-header-home-logo"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
      <span class="ap-o-header-home-title">AMP</span> <span class="ap-o-header-home-sub-title">Example Preview</span>
    </a>

    {% do doc.styles.addCssFile('/css/components/atoms/sample-preview-title.css') %}
    <h1 class="ap-a-sample-preview-title">{{ doc.title }}</h1>

    <a class="ap-m-homepage-link" href="{{ doc.url.path.replace('/preview', '') }}">
      <span>{{ _('Back to sample') }}</span>
      {% do doc.icons.useIcon('/icons/angle-down-solid.svg') %}
      <svg class="ap-a-ico icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
    </a>
  </div>
</header>

{% do doc.styles.addCssFile('/css/components/molecules/device-toggle.css') %}
<div class="ap-m-device-toggle">
  {% set devices = ['mobile', 'tablet', 'desktop'] %}
  {% if doc.example.document.isAmpEmail %}
  {% set devices = ['mobile', 'tablet'] %}
  {% endif %}

  {% for device in devices %}
  {% do doc.icons.useIcon('/icons/device-' + device + '.svg') %}
  <button class="ap-m-device-toggle-button {% if device == 'mobile' %}active{% endif %}" [class]="device.selected == '{{ device }}' ? 'ap-m-device-toggle-button active' : 'ap-m-device-toggle-button'" on="tap:AMP.setState({device: {selected: '{{ device }}'}})">
    <svg class="ap-a-ico ap-m-device-toggle-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#device-{{ device }}"></use>
    </svg>
  </button>
  {% endfor %}
</div>
{% endblock %}

{% block main %}
{% do doc.styles.addCssFile('/css/components/organisms/preview-pane.css') %}
<main class="ap--preview-pane">
  <article class="ap-o-preview-pane ap-o-preview-pane-mobile" [class]="'ap-o-preview-pane ap-o-preview-pane-' + device.selected">
    <amp-iframe layout="fill" sandbox="allow-scripts allow-forms allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-presentation allow-top-navigation" allowfullscreen allowpaymentrequest frameborder="0" src="{{ doc.pod.podspec.base_urls.preview }}{{ doc.source }}">
      <div placeholder="">
    </amp-iframe>
  </article>
</main>

<amp-state id="device">
  <script type="application/json">
    {
      "selected": "mobile"
    }
  </script>
</amp-state>
{% endblock %}

{% block footer %}
{% endblock %}
