{% macro icon(name, size=3, fill='blue-ribbon', bg='transparent') -%}
	<div class="ad-a-ico ad-a-ico-{{ name }} ad-a-ico-{{ size }} ad-a-ico-{{ fill }} ad-a-ico-{{ bg }}">
	  <svg>
	    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ name }}"></use>
	  </svg>
	</div>
{%- endmacro %}

{% macro image(modifiers, src='../../../static/img/amp-img-01.png', type='static') -%}
  	<div
      class="ad-a-img {% for modifier in modifiers %}ad-a-img-{{ modifier }} {% endfor %}"
      {% if type == 'parallax' %}
      amp-fx="parallax"
		  data-parallax-factor="1.1"
    {% endif %}>
		  <amp-img src={{src}}
		  	layout="fill"
		  	alt="AMP">
		  </amp-img>
	</div>
{%- endmacro %}
