/*

##################
### Organism: Destination Rolling Stage ###
##################

### SAMPLE MARKUP:

<div class="destination-stage">
		<div class="destination-stage-hero websites"></div>
		<div class="destination-stage-content">
			<h3 class="hl" >AMP is a web component based framework for easily creating user first </h3>
			{{ molecules.rollingSwitch() }}
		</div>
	</div>

### INFO:

The destination-rolling-stage organism contains the rolling switch molecule along with a headline and a background.

### MODIFIERS:

*/


@import '../components/atoms/headline';
@import '../molecules/rolling-switch';


.destination-stage {
	height: 100vh;
	width: 100vw;
	position: relative;

	@media screen and (min-width: 768px) {
		height: 0%;
		width: 100%;
		padding-top: 29.29%;
	}

	&-content {
		position: absolute;
		padding: 10% 0 0 5%;
		z-index: 10;
		max-width: 250px;

		@media screen and (min-width: 768px) {
			max-width: 550px;
		}
	}

	.hl {
		@include hl;
		@include hl-h2;
		@include hl-light;
		margin: 0;
		display: inline;
		padding-right: 12px;
	}
}