/*

#############################
### ORGANISM: header ###
#############################

*/

.#{organism('header')} {

  &-lnk-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    left: 0;
    margin-right: 100%;
  }

  &-lnk {
    margin: 0 20px;
    white-space: nowrap;
  }

  &-main-nav {

  }

    &-main-nav &-lnk-list {
    }

  &-sub-nav {
    background-color: color('wild-sand');
  }

    &-sub-nav &-lnk-list {
    }
}
