/*

#############################
### ORGANISM: teaser-list ###
#############################

### SAMPLE MARKUP:

	<ul class="ad-o-list ad-o-list-scroll col-5-4"  aria-labelledby="KPI list">
		<li class="ad-m-kpi" aria-labelledby="KPI item">
				{{ atoms.icon( item.icon , size=2, fill="white") }}
				<span class="ad-a-hl ad-a-hl-h1 ad-a-hl-light">title</span>
				<p class="ad-a-txt ad-a-txt-4 ad-a-txt-light">text</p>
		</li>
		<li class="ad-m-kpi" aria-labelledby="KPI item">
				{{ atoms.icon( item.icon , size=2, fill="white") }}
				<span class="ad-a-hl ad-a-hl-h1 ad-a-hl-light">title</span>
				<p class="ad-a-txt ad-a-txt-4 ad-a-txt-light">text</p>
		</li>
	</ul>

### INFO:

The teaser-list organism includes multiple teaser molecules. All lists should be <ul> tags with <li> tags for their items (accessibility reasons).

### MODIFIERS:

-default: wrapping flex container for both mobile and desktop.

-scroll: scrolling list without wrapping for mobile, desktop is a normal wraping flex container.

-nowrap-desktop: items wrap on mobile, but do not wrap on desktop (ex: benefits list).

*/

.#{organism('list')} {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	&-nowrap-desktop {
		@media screen and (min-width: 768px) {
			flex-wrap: nowrap;
		}
	}

	&-scroll {
		flex-wrap: nowrap;
		overflow: scroll;

		@media screen and (min-width: 768px) {
			overflow: visible;
			flex-wrap: wrap;
		}
	}

  &-item {
    // min-width: 60%;
		padding: 20px 20px 0px 0px;
	}


}
