/*
#############################
### ORGANISM: stage ###
#############################
*/

.#{organism('stage')} {
  margin-bottom: 2em;

  @media screen and (min-width: 768px){
    /* This margin is depending on the width of #content */
    margin-left: #{calc((100vw - 40vw) / -2)};
    margin-right: #{calc((100vw - 40vw) / -2)};
  }

  &-container {
    display: flex;
    align-items: center;
    /* This margin is depending on the padding of #content */
    margin-left: -30px;
    margin-right: -30px;
    min-height: 50vh;
    font-size: 1.75em;
    color: color('white');
    background: linear-gradient(45deg, color('emerald'), color('doger-blue'));

    &-bg-orange {
      background: linear-gradient(45deg, color('pizazz'), color('turbo'));
    }

    &-bg-grey {
      background: linear-gradient(45deg, color('river-bed'), color('ebony-clay'));
    }
  }

    &-content {
      width: 100%;
      max-width: 1260px;
      padding: 0 30px;
      margin: 0 auto;

      @media screen and (min-width: 768px){
        /* This width is depending on the width of #content */
        width: 40%;
      }
    }
}
