@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';
@import '../atoms/_text.scss';

.#{organism('sidebar')} {
  @include box-shadow;
  order: 2;
  grid-column: auto;
  margin-right: -30px;

  @media screen and (min-width: 1024px) {
    order: inherit;
    grid-column-start: 1;
    grid-column-end: 6;
    margin-right: 0;
    margin-left: -30px;
  }

  &-list {
    list-style: none;

    &-main {
      margin: 20px 0px;
    }

  }

  section:focus {
    border: none;
    outline: none;
  }

  &-list-item {
    @include txt;
    @include txt-accent-1;
    @include txt-strong;
    padding: 10px 20px;
    border: none;
    background-color: color('white');

    &-sub {
      padding: 0;
    }

    &:focus {
      outline: 1px solid color('white');
    }

    &-lnk {
      @include txt;
      @include txt-accent-2;
      display: block;
      padding: 3px 0;

      &:hover {
        color: color('blue-ribbon');
      }
    }

  }
}

