@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';
@import '../atoms/_text.scss';


.#{organism('sidebar')} {
  @include box-shadow;
  grid-column: 1 / span 4;

  &-list {
    list-style: none;

    &-main {
      margin: 20px 0px;
    }

  }

  section:focus {
    border: none;
    outline: none;
  }

  &-list-item {
    @include txt;
    @include txt-accent-1;
    @include txt-strong;
    padding: 10px 20px;
    border: none;
    background-color: color('white');

    &-sub {
      padding: 0;
    }

    &:focus {
      outline: 1px solid color('white');
    }

    &-lnk {
      @include txt;
      @include txt-accent-2;
      display: block;
      padding: 3px 0;

      &:hover {
        color: color('blue-ribbon');
      }
    }

  }
}

