/*

##################
### Organism: Destination Drop Down Selected ###
##################

### INFO:

The destination-rolling-stage organism contains the drop down switch molecule along with a headline.

The background of the destination-stage requires the heroEnterAnimation mixin.

### MODIFIERS:

 - active
		triggers the heroEnterAnimation mixin.

*/

@import '../molecules/dropdown-selected';
@import '../atoms/_divider.scss';

@include heroEnterAnimation;

.destination-stage {
  height: calc(100vh - 110px);
	width: 100vw;
  position: relative;

	@media screen and (min-width: 768px) {
		height: 0%;
		width: 100%;
    padding-top: 30%;
    border-bottom-left-radius: 130px;
  }

  &-clipped-background {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;

      @media screen and (min-width: 768px) {
        border-bottom-left-radius: 80px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 102%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 102%);
      }

      @media screen and (min-width: 1080px) {
        border-bottom-left-radius: 100px;
      }
  }

	&-active {
		animation: growDown 0.5s ease-in-out;
	}

	&-content {
    position: absolute;
    padding: 10% 5% calc(5% + 190px);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;

		@media screen and (min-width: 768px){
      padding: 5%;
      top: 0;
      width: 50%;
		}
}

	.hl {
		@include hl;
		@include hl-h3;
		@include color-white;
		margin: 0;
		display: inline;
    padding-right: 12px;

    &-block {
      display: block;
    }

		&-sub {
			@include hl;
			@include hl-h3;
			@include color-white;
		}

		&-divider {
			@include divider;
			@include divider-stage;
		}

		&-stories {
			@include color-stories;
		}

		&-ads {
			@include color-ads;
		}

		&-emails {
			@include color-e-mails;
		}
	}
}