/*

##################
### Organism: Destination Rolling Stage ###
##################

### INFO:

The destination-rolling-stage organism contains the rolling switch molecule along with a headline and a background.

### MODIFIERS:

*/

@import '../atoms/_headline';
@import '../atoms/_divider';

@import '../molecules/rolling-switch';


.destination-stage {
	height: 90vh;
  width: 100vw;
  position: relative;

	@media screen and (min-width: 768px) {
		height: 50vh;
		width: 100%;
	}

	&-content {
		position: absolute;
		top: 0;
		padding: 20% 0 0 5%;
		max-width: 50%;
	}
}

.hl {
	@include hl;
	@include hl-h3;
	@include color-white;
	margin: 0;
	display: inline;
	padding-right: 12px;

	&-sub {
		@include hl;
		@include hl-h3;
		@include color-white;
	}

	&-divider {
    @include divider-stage;
	}
}

.websites {
	@include gradient-websites;
}

.stories {
	@include gradient-stories;
}

.ads {
	@include gradient-ads;
}

.e-mails {
	@include gradient-e-mails;
}