/*

##################
### Organism: Destination Drop Down Stage ###
##################

### SAMPLE MARKUP:

<div [class]="stages.currentStage != 'default' ? 'destination-stage ' + stages.currentStage + ' destination-stage destination-stage-active' : 'destination-stage'"
class="destination-stage websites">
	<div class="destination-stage-content">
		<h1 class="hl" [class]="stages.currentStage != 'default' ? 'hl hl-'+stages.currentStage : 'hl' ">
			AMP is a web component based framework for easily creating user first
		</h1>
		{% call molecules.dropdownSwitch( doc.destinations ) %} {{ atoms.icon('arrow-down-thick' ) }} {% endcall %}
	</div>
</div>

### INFO:

The background of the destination-stage requires the heroEnterAnimation mixin.

### MODIFIERS:

 - active
		triggers the heroEnterAnimation mixin.

*/

@import '../molecules/dropdown-sidebar.scss';
@import '../atoms/_divider.scss';


.destination-stage {
  position: relative;

	&-content {
    padding: 28px 60px 85px 30px;
  }

	.hl {
    @include txt;
    @include txt-accent-2;
    @include color-white;
    @include txt-strong;
		margin: 0;
    display: inline;

		&-divider {
			@include divider;
			@include divider-stage;
		}

		&-stories {
			@include color-stories;
		}

		&-ads {
			@include color-ads;
		}

		&-emails {
			@include color-e-mails;
		}
	}
}