/*

#############################
### ORGANISM: teaser grid ###
#############################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

section.teaser-grid {
	@media screen and (min-width: 768px){
		grid-column-start: 1;
		grid-column-end: 25;
	}

	@media screen and (min-width: 1024px){
		grid-column-start: 4;
		grid-column-end: 22;
	}
}

.#{organism('teaser-grid')} {
	&-list {
		scroll-snap-type: x mandatory;
		overflow-y: hidden;
		overflow-x: scroll;
		width: auto;
		display: flex;
		flex-wrap: nowrap;
		padding: 20px 0;
    margin: 0 -20px;

		@media screen and (min-width: 575px) {
			overflow: visible;
			width: 100%;
			display: grid;
			grid-gap: 30px;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			padding: 0;
			margin: 0;
		}
		
		&-2-col {
			@media screen and (min-width: 575px) {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		
		&-3-col {
			@media screen and (min-width: 575px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media screen and (min-width: 768px) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
		
		&-4-col {
			@media screen and (min-width: 575px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media screen and (min-width: 768px) {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}
