---
$view: /views/styleguide/component.j2
$title: KPI List

components:
- name: amp-carousel
  src: https://cdn.ampproject.org/v0/amp-carousel-0.1.js
- name: amp-selector
  src: https://cdn.ampproject.org/v0/amp-selector-0.1.js

kpis:
- documentation:
  items:
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: river-ebony
    icon: stories
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: river-ebony
    icon: code
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: river-ebony
    icon: search
- community:
  items:
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: turbo-pizazz
    icon: stories
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: turbo-pizazz
    icon: code
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: turbo-pizazz
    icon: search
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: turbo-pizazz
    icon: search
- amp:
  items:
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: emerald-doger
    icon: stories
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: emerald-doger
    icon: code
  - title: 63%
    text: Lorem ipsum dolor sit amet
    type: emerald-doger
    icon: search
---

<div class="ad-o-kpi-list col-6-5">
{% for kpi in doc.kpis %}
	<amp-carousel height="170" media="(max-width: 767px)" layout="fixed-height" type="carousel">
	{% for item in kpi['items'] %}
			<div class="ad-m-kpi ad-m-kpi-{{ item.type }}">
				{{ atoms.icon( item.icon , size=2, fill="white") }}
				<span class="ad-a-hl ad-a-hl-h1 ad-a-hl-light">{{ item.title }}</span>
				<p class="ad-a-txt ad-a-txt-4 ad-a-txt-light">{{ item.text }}</p>
		</div>
		{% endfor %}
  </amp-carousel>
	<amp-selector media="(min-width: 768px)" layout="container">
		<div class="ad-o-kpi-list-wrapper">
			{% for item in kpi['items'] %}
				<div class="ad-m-kpi ad-m-kpi-{{ item.type }}">
					{{ atoms.icon( item.icon , size=2, fill="white") }}
					<span class="ad-a-hl ad-a-hl-h1 ad-a-hl-light">{{ item.title }}</span>
					<p class="ad-a-txt ad-a-txt-4 ad-a-txt-light">{{ item.text }}</p>
			</div>
			{% endfor %}
		</div>
  </amp-selector>
{% endfor %}
</div>