---
$view: /views/styleguide/component.j2
$title: List

components:
- name: amp-carousel
  src: https://cdn.ampproject.org/v0/amp-carousel-0.1.js
- name: amp-selector
  src: https://cdn.ampproject.org/v0/amp-selector-0.1.js

kpis:
- title: 63%
  text: Lorem ipsum dolor sit amet
  type: river-ebony
  icon: stories
- title: 63%
  text: Lorem ipsum dolor sit amet
  type: river-ebony
  icon: stories
- title: 63%
  text: Lorem ipsum dolor sit amet
  type: river-ebony
  icon: stories

teasers:
- headline: Component Accent One
  subline: Category Accent 3
  icon: stories
  link: '/styleguide/organisms/teaser-list.html'
  label: Code now
  modifier: white
- headline: Component Accent One
  subline: Category Accent 3
  icon: flask
  link: '/styleguide/organisms/teaser-list.html'
  label: Code now
  modifier: white
---
<div class="ad-o-container col-2-1">
  <p class="ad-a-txt ad-a-txt-p ad-a-txt-accent-2">
    List organism with <span class="ad-a-txt ad-a-txt-strong">scroll</span> modifier.
  </p>
</div>
<ul class="ad-o-container ad-o-list ad-o-list-scroll col-9-4" aria-labelledby="KPI list">
  {% for kpi in doc.kpis %}
    <li class="ad-o-list-item ad-o-list-item-col-3" aria-labelledby="KPI item">
      <div class="ad-m-kpi ad-m-kpi-{{ kpi.type }}">
        <div class="ad-m-kpi-content">
    			{{ atoms.icon( kpi.icon ) }}
    			<span class="ad-a-txt ad-a-txt-strong ad-a-txt-light ad-m-kpi-number">{{ kpi.title }}</span>
    			<p class="ad-a-txt ad-a-txt-p ad-a-txt-3 ad-a-txt-light ad-m-kpi-text">{{ kpi.text }}</p>
    		</div>
      </div>
    </li>
  {% endfor %}
</ul>

<div class="ad-o-container col-2-1">
  <p class="ad-a-txt ad-a-txt-p ad-a-txt-accent-2">
    List organism with <span class="ad-a-txt ad-a-txt-strong">scroll</span> modifier.
  </p>
</div>
<ul class="ad-o-container ad-o-list ad-o-list-scroll col-9-4" aria-labelledby="Teaser list">
  {% for teaser in doc.teasers %}
    <li class="ad-o-list-item ad-o-list-item-col-2" aria-labelledby="Teaser item">
      <div class="ad-m-teaser {% if teaser.modifier %}ad-m-teaser-{{teaser.modifier}}{% endif %}">
        <span class="ad-a-txt ad-a-txt-hl ad-a-txt-accent-3 ad-a-txt-strong ad-a-txt-uppercase ad-a-txt-gray-chateau">{{ teaser.subline }}</span>
        <span class="ad-a-txt ad-a-txt-hl ad-a-txt-accent-1 ad-a-txt-strong ad-a-txt-font-accent ad-a-txt-black ad-m-teaser-headline">
          {{ teaser.headline }}
          {{ atoms.icon(teaser.icon) }}
        </span>
        <p class="ad-a-txt ad-a-txt-3 ad-a-txt-p">{{ lipsum(n=1, html=False, min=15, max=16) }}</p>
        <a href={{ teaser.link }} class="ad-m-lnk">
          {{ atoms.icon('internal') }}
          <span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-blue-ribbon">{{ teaser.label }}</span>
        </a>
      </div>
    </li>
  {% endfor %}
</ul>