---
$view: /views/styleguide/component.j2
$title: Teaser Success Stories

items:
- tag: 'stories'
  kpi:
    title: 25 Mio
    text: websited with 678 new websites today
    icon: flask
  headline: Stories with rich visuals and native videos
  logo: '/static/static/img/logo-dummy-teads.png'
  link: '#'
- tag: 'stories'
  image: '/static/static/img/teaser-dummy-1x1-1.jpg'
  headline: Stories with rich visuals and native videos
  logo: '/static/static/img/logo-dummy-teads.png'
  link: '#'
- tag: 'stories'
  kpi:
    title: 25 Mio
    text: websited with 678 new websites today
    icon: flask
  headline: Stories with rich visuals and native videos
  logo: '/static/static/img/logo-dummy-teads.png'
  link: '#'
- tag: 'e-mails'
  image: '/static/static/img/teaser-dummy-1x1-1.jpg'
  headline: Stories with rich visuals and native videos
  logo: '/static/static/img/logo-dummy-teads.png'
  link: '#'
---

<div class="ad-o-container col-12 ad-o-teaser-grid">

  <h2>Explore AMP success stories</h2>

  <div class="ad-o-teaser-grid-list">
    {% for item in doc.items %}
      <div class="ad-m-teaser ad-m-teaser-success-story">
        <a href="{{ item.link }}">

          <div class="ad-m-tag ad-m-tag-{{ item.tag }} ad-m-teaser-tag">{{ item.tag }}</div>
          <div class="ad-m-teaser-card">

            {% if item.image %}
            {{ atoms.image('ad-m-teaser-image', src=g.static(item.image).url|relative, layout='responsive', width=1, height=1, alt=item.headline, type='static') }}
            {% endif %}

            {% if item.kpi %}
            <div class="ad-m-kpi ad-m-teaser-kpi ad-m-teaser-kpi-{{ item.tag }}">
              <div class="ad-m-kpi-content">
                {{ atoms.icon(item.kpi.icon, 'ad-m-kpi-icon') }}
                <span class="ad-m-kpi-number">{{ item.kpi.title }}</span>
                <p class="ad-m-kpi-text">{{ item.kpi.text }}</p>
              </div>
            </div>
            {% endif %}

            <div class="ad-m-teaser-content">
              {{ atoms.image('ad-m-teaser-logo', src=g.static(item.logo).url|relative, layout='fixed', width=153, height=38, alt=item.headline, type='static') }}
              <h4 class="ad-m-teaser-headline">{{ item.headline }}</h4>
            </div>
          </div>

        </a>
      </div>
    {% endfor %}
  </div>

  <a class="ad-m-lnk" href="#">
    {{ atoms.icon('internal', 'ad-m-lnk-icon') }}
    <span class="ad-m-lnk-text">See all success stories</span>
  </a>

</div>
