

.desktop-up,
.desktop-only {
  display: none;
  visibility: hidden;
  @include min-screen($mobile-breakpoint) {
    display: block;
    visibility: visible;
  }
}

.tablet-up {
  display: none;
  visibility: hidden;
  @include min-screen($tablet-portrait-breakpoint) {
    display: block;
    visibility: visible;
  }
}

.tablet-down {
  display: none;
  visibility: hidden;
  @include max-screen($tablet-portrait-breakpoint) {
    display: block;
    visibility: visible;
  }
}

.mobile-down,
.mobile-only {
  display: none;
  visibility: hidden;
  @include max-screen($mobile-breakpoint) {
    display: block;
    visibility: visible;
  }
}

.mobile-show {
  @include max-screen($mobile-breakpoint) {
    display: block;
  }
}

.mobile-hide {
  @include max-screen($mobile-breakpoint) {
    display: none;
  }
}

.tablet-show {

  @include max-screen($tablet-breakpoint) {
    display: block;
  }
}

.tablet-hide {

  @include max-screen($tablet-breakpoint) {
    display: none;
  }
}
