@import 'base.scss';

@keyframes HIGHTLIGHT {
  from {
    background: color('lavender');
  }
  to {
    background: transparent;
  }
}

#state-view {
  width: 50%;
  max-width: 780px;

  .highlight {
    border-radius: 2px;
    animation: HIGHTLIGHT 1s ease-out;
  }
}
