<section class="ad-o-stage">
  <div class="ad-o-stage-container{% if color %} ad-o-stage-container-bg-{{ color }}{% endif %}">
    <div class="ad-o-stage-content">
      {{ content|raw }}
    </div>
  </div>
</section>
