/*

#########################
### MOLECULE: benefit ###
#########################

### SAMPLE MARKUP:

<div class="m-benefit">
    <icon />
    <headline />
    <text />
</div>

TODO: Update sample markup.

### INFO:

This molecule outputs three atoms: icon, headline and text.
NOTE: It is important to not overwrite the atoms in the molecule.
If custom changes are needed, they have to be added as modifiers in the atoms.

### MODIFIERS:

TODO: Discuss about which different modifiers will be needed here.

*/

#{map-get($prefix, molecule)}-benefit {
}
