/*

######################
### MOLECULE: benefit ###
######################

### SAMPLE MARKUP:

<div class="ad-m-benefit col-2-6">
	{{ atoms.icon('lego', size=3) }}
	<span class="ad-a-hl ad-a-hl-h3">Ready to use</span>
	<p class="ad-a-txt ad-a-txt-2">{{ lipsum(n=1, html=False) }}</p>
</div>

### INFO:

The copy molecule is a combination of icon and text atom.
The Icon atom size should be 3 (medium) and the txt size should be 2 (small).

### MODIFIERS:

none

*/

.#{molecule('benefit')} {
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-right: 20px;

	@media screen and (min-width: 768px) {
		padding: 0;
	}

	& .ad-a-hl {
		white-space: nowrap;
		padding-top: 20px;
	}

	& .ad-a-txt {
		padding: 20px 0;
	}
}