/*

#########################
### MOLECULE: benefit ###
#########################

### INFO:

The benefit molecule is a combination of icon, headline and text atom.
No list organismn is needed here, you can use as much benefit molecules as desired.

### MODIFIERS:

none

*/

// TODO: implement mono font and modifier

.#{molecule('benefit')} {
	position: relative;
	padding-left: 4em;

	@media screen and (min-width: 768px) {
		padding: 0;
	}

	&-headline {
		@include hl;
		@include hl-h4;
		margin: 0 0 0.375em;
	}

	&-copy {
		@include txt;
		@include txt-3;
		@include txt-p;
	}

	&-icon {
		@include ico-3;
		@include ico-blue-ribbon;

		position: absolute;
		left: 0;
		top: 0;

		@media screen and (min-width: 768px) {
			position: static;
			margin-bottom: 0.75em;
		}
	}
}