/*

######################
### MOLECULE: copy ###
######################

### SAMPLE MARKUP:

<div class="ad-m-copy">
	<h3 class="ad-a-hl ad-a-hl-h3">The Headline Text</h3>
	<p class="ad-a-txt ad-a-txt-p">The Copy Text</p>
</div>

### INFO:

The copy molecule is a combination of headline and text atom.
Currently no custom styles are required here.

### MODIFIERS:

none

*/

.#{molecule('copy')} {
  // no custom styling required yet
}