/*

######################
### MOLECULE: copy ###
######################

### SAMPLE MARKUP:

<div class="ad-m-copy">
	<h3 class="ad-a-hl ad-a-hl-h3">The Headline Text</h3>
	<p class="ad-a-txt ad-a-txt-p">The Copy Text</p>
</div>

### INFO:

The copy molecule is a combination of headline and text atom.
Currently no custom styles are required here.

### MODIFIERS:

none

*/

.#{molecule('copy')} {

  &-container {
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 20px;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }

  &-wrapper {
    grid-column: 1;

    @media screen and (min-width: 768px) {
      grid-column: 4 / span 6;
    }
  }
}

