/*

######################
### MOLECULE: dropdown-switch ###
######################

### INFO:

The dropdown switch is a more complex version of the rolling switch. It includes the rolling switch with
a gradient animation for the view box and multiple text colors for each text atom. It also includes a
dropdown list visible on hover and also an icon atom.

requires rollingAnimation and viewboxGradientAnimation from /source/scss/mixins.scss

### MODIFIERS:

*/

@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_icon.scss';
@import '../atoms/_text.scss';


@include viewboxGradientAnimation;


.destination-list-view-box {
	overflow: hidden;
	width: auto;
  height: 34px;
  overflow: hidden;
  position: absolute;
	top: 0;
	right: 30px;
  margin-top: 11px;
  z-index: 2;

	@media screen and (min-width: 768px) {
		width: calc(100% - 36px);
		height: 40px;
		top: auto;
		right: auto;
		left: 15px;
		margin-top: 14px;
	}

	&-gradient {
		background: linear-gradient(-220deg,
				color('blue-ribbon'),color('robins-egg'),
				color('pizazz'), color('yellow'),
				color('crimson'), color('pizazz'),
				color('electric-violet'), color('pink-flamingo'),
				color('azure-radiance'), color('robins-egg'));
		background-size: 1200% 100%;
		background-position: 0% 0%;
		box-shadow: 0 10px 25px 0 rgba(0,0,0,0.21);
  }

  &-expand {
    height: 190px;
    transition: height 0.5s ease;
		background: transparent;

		@media screen and (min-width: 768px) {
			height: 210px;
		}

		.destination-list-icon {
			transform: rotate(180deg);
    }
  }

  @media screen and (min-width: 768px) {
    &:hover {
      height: 235px;
      transition: height 0.5s ease;
      background: transparent;

      .destination-list-icon {
        transform: rotate(180deg);
      }
    }
  }

  // DROP DPOWN LIST

  .destination-list {
    display: flex;
    flex-direction: column;
  	padding: 0;
    margin: 0;

    li {
      padding-left: 0;
    }

    &-icon {
      position: absolute;
      right: 0;
      z-index: 2;
      transition: transform 0.5s ease;
      padding: 10px;
      background: transparent;
      border: none;
      outline: none;

      & svg {
        @include ico;
        @include ico-1;
        @include ico-blue-ribbon;

				@media screen and (min-width: 768px) {
					@include ico-2;
				}
      }
    }


  	&-display {
  		display: flex;
  		flex-direction: column;
  	}

  	&:hover {
  		.ad-a-ico {
  			transform: rotate(100deg);
      }
  	}
  }
}


// default list item

.destination-list-item {
	@include hl;
	@include hl-h4;
	@include color-white;
	outline: color('white');
	padding: 4px 20px 4px 10px;
  display: block;

	@media screen and (min-width: 768px) {
		@include hl-h2;
		padding: 1px 20px 1px 10px;
	}

  [option][selected] {
    order: 1;
    outline: 1px solid #fff;
    margin-bottom: 0px;
    pointer-events: none;
  }

	&-drop-down {
		margin-bottom: 5px;

		&:hover {
			padding-left: 12px;
		}
  }
}


.websites {
  order: 1;
  @include color-white;

  &-background {
	  @include gradient-websites;
  }
}

.ads {
  order: 2;
  @include color-ads;

  &-background {
	  @include gradient-ads;
  }
}

.stories {
  order: 3;
  @include color-stories;

  &-background {
	  @include gradient-stories;
  }
}

.e-mails {
  order: 4;
  @include color-e-mails;

  &-background {
	  @include gradient-e-mails;
  }
}

.all {
  color: color('blue-ribbon');
  pointer-events: none;

	&-background {
		@include gradient-overview;
	}
}
