/*

######################
### MOLECULE: event ###
######################

### SAMPLE MARKUP:

<div class="ad-m-event col-3-5">
		<div class="ad-m-event-date">
			<span class="ad-a-hl ad-a-hl-h5 ad-a-hl-silver ad-m-event-header">2018</span>
			<span class="ad-a-hl ad-a-hl-h5">aug</span>
			<span class="ad-a-hl ad-a-hl-h5">15</span>
		</div>
		<div class="ad-m-event-content">
			<span class="ad-a-hl ad-a-hl-h5 ad-m-event-header">Hamburg</span>
			<ul class="ad-m-event-detail-list">
				<li class="ad-m-event-detail">
					{{ atoms.icon('map', size=1) }}
					<span class="ad-a-txt ad-a-txt-2">location</span>
				</li>
				<li class="ad-m-event-detail">
					{{ atoms.icon('time', size=1) }}
					<span class="ad-a-txt ad-a-txt-2">Register by: some date</span>
				</li>
			</ul>
		</div>
	</div>

### INFO:

The event molecule is a combination of icon, headline and text atoms. The event molecule also creates a list for the event details (location, registration).
Positioning of the atoms (eg. padding, margin) are defined in this style sheet.
The size of the icon should be 1 (xsmall) and text should be 2 (small).

### MODIFIERS:

none

*/

.#{molecule('event')} {
	margin: 10px;
	padding: 20px;
	min-width: 250px;
	display: grid;
	grid-template-columns: 15% auto;
	grid-column-gap: 20px;
	@include box-shadow;

	&-date {
		grid-column: 1;
		display: flex;
		flex-direction: column;
		text-align: right;
	}

	&-detail-list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&-detail {
		position: relative;
		padding-bottom: 4px;
	}

	&-header {
		display: block;
		padding-bottom: 10px;
	}

	& .ad-a-txt {
		display: block;
		padding-left: 20px;
	}

	& .ad-a-ico {
		position: absolute;
		left:0;
		top:0;
	}

}