.#{molecule('float-image')} {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	padding-top: 6em;

	.#{atom('img')} {
		padding-top: 100%;
		margin-right: 0;

		img {
			object-fit: contain;
			object-position: left bottom;
		}

		&-static {
			grid-column: 1 / 3;
			grid-row: 2 / 4;
		}

		&-parallax {
			grid-column: 2 / 4;
			grid-row: 1 / 3;
		}
	}
}