.#{molecule('kpi')} {
	height: 190px;
	width: 190px;
	@include box-shadow;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1.5em;

	.ad-a-txt {
		white-space: normal;
	}

	&-blue {
		@include emerald-doger;
	}

	&-orange {
		@include turbo-pizazz;
	}

	&-black {
		@include river-ebony;
	}
}
