/*

######################
### MOLECULE: KPI ###
######################

### SAMPLE MARKUP:

<div class="ad-m-kpi ad-m-kpi-emerald-doger col-3-6">
	{{ atoms.icon('stories', size=2, fill="white") }}
	<span class="ad-a-hl ad-a-hl-h1 ad-a-hl-light">63%</span>
	<span class="ad-a-txt ad-a-txt-4 ad-a-txt-light">Lorem ipsum dolor sit amet</span>
</div>

### INFO:

The KPI molecule is a combination of icon, headline and text atoms.
The size of the icon should be 2 (small), the headline should be h1 (xxlarge) and text should be 4 (large).

### MODIFIERS:
he current modifiers change the background gradient color for the KPI. Modifiers are labeled by the fist word in each color name inside the gradient.
Please refer to mixins.scss to see gradients.

-emerald-doger
-tubo-pizazz
-river-ebony

*/

.#{molecule('kpi')} {
	height: 170px;
	width: 170px;
	@include box-shadow;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1.5em;

	@media screen and (min-width: 768px){
		height: 100%;
		width: 100%;
	}

	.ad-a-txt {
		white-space: normal;
		padding: 0;
	}

	&-emerald-doger {
		@include emerald-doger;
	}

	&-turbo-pizazz {
		@include turbo-pizazz;
	}

	&-river-ebony {
		@include river-ebony;
	}
}