.#{molecule('kpi')} {
	height: 170px;
	width: 170px;
	@include box-shadow;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1.5em;

	@media screen and (min-width: 768px){
		height: 190px;
		width: 190px;
	}

	.ad-a-txt {
		white-space: normal;
		padding: 0;
	}

	&-blue {
		@include emerald-doger;
	}

	&-orange {
		@include turbo-pizazz;
	}

	&-black {
		@include river-ebony;
	}
}