/*

######################
### MOLECULE: link ###
######################

### SAMPLE MARKUP:

<a class="ad-m-lnk" href="#" target="_blank">
	<svg class="ad-a-ico ad-a-ico-external ad-a-ico-1 ad-a-ico-blue-ribbon ad-a-ico-transparent">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use>
	</svg>
	<span class="ad-a-txt ad-a-txt-3 ad-a-txt-strong ad-a-txt-blue-ribbon">
		The Link Text
	</span>
</a>

### INFO:

The link molecule is a combination of icon and text atom.
The size of the icon should be 1 (xsmall) and text should be 3 (medium).

### MODIFIERS:

none

*/

@mixin link {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.813em 0;
	margin: 0.813em 0;
}

// Default link styling
.#{molecule('lnk')} {
	@include link;

	.#{atom('ico')} {
		@include ico-1;
		@include ico-blue-ribbon;

		padding: 0.438em 0;
		margin-bottom: auto;
		margin-right: 0.625em;
		box-sizing: initial;

		&-square {
			padding: 0.438em;
			@include box-shadow;
		}
	}
}
