/*

######################
### MOLECULE: news ###
######################

### SAMPLE MARKUP:

<article class="ad-m-news ad-m-news-shadow">
	<span class="ad-a-txt ad-a-txt-hl ad-a-txt-accent-3 ad-a-txt-strong ad-a-txt-uppercase ad-a-txt-font-accent ad-a-txt-blue-ribbon">
		June 1, 2018
	</span>
	<span class="ad-a-txt ad-a-txt-hl ad-a-txt-2 ad-a-txt-strong ad-a-txt-font-accent ad-a-txt-black">
		The news headline
	</span>
	<p class="ad-a-txt ad-a-txt-p ad-a-txt-accent-2">
		The news copy text.
	</p>

	<a href="#" class="ad-m-lnk">
		<div class="ad-a-ico ad-a-ico-1 ad-a-ico-blue-ribbon ad-a-ico-transparent">
			<svg>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use>
			</svg>
		</div>
		<span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-blue-ribbon">Read More</span>
	</a>
</article>

### INFO:

The news molecule is a combination of text atoms and link molecule.
There is one modifier for setting a shadow.
The default has always a white background color but without shadow.

### MODIFIERS:

shadow
	Adds a box shadow to the molecule.

*/

.#{molecule('news')} {
	padding: 1.5em 1.25em;
	margin-bottom: 2em;
	background-color: white;

	&-date {
		@include txt;
		@include txt-hl;
		@include txt-accent-3;
		@include txt-strong;
		@include txt-uppercase;
		@include txt-font-accent;
		@include txt-blue-ribbon;
	}

	&-headline {
		@include txt;
		@include txt-hl;
		@include txt-2;
		@include txt-strong;
		@include txt-font-accent;
		@include txt-black;
	}

	&-copy {
		@include txt;
		@include txt-p;
		@include txt-accent-2;
	}

	&-link {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	&-shadow {
		@include box-shadow;
	}
}