/*

#################################
### MOLECULE: teaser use case ###
#################################

### INFO:

The use case teaser molecule includes the tag molecule, an image and a headline.
There is no copy text or logo included.

*/

.#{molecule('teaser-usecase')} {
	position: relative;
	margin-bottom: 2em;

	&:nth-child(3n) {
		transform: translateY(40px);
	}

	&:nth-child(3n+1) {
		transform: translateY(80px);
	}

	&:nth-child(3n+2) {
		transform: translateY(0);
	}

	a {
		display: block;
		transition: transform 0.25s ease-out;

		&:hover {
			transform: translateY(-10px);
		}
	}

	&-tag {
		position: absolute;
		right: 16px;
		top: -15px;
		z-index: 1;
	}

	&-card {
		overflow: hidden;
		position: relative;
		background-color: white;
		border-radius: 10px;
		@include box-shadow;
	}

	&-image {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: -1px;
			bottom: 0;
			width: calc(100% + 2px);
			height: 150px;
			background: linear-gradient(0deg, rgba(0,0,0,0.12), rgba(0,0,0,0));
			z-index: 1;
		}
	}

	&-headline {
		@include txt;
		@include txt-hl;
		@include txt-1;
		@include txt-strong;
		@include txt-font-accent;
		@include txt-black;
		padding: 1.250em;
		margin: 0;
	}
}