/*

########################
### MOLECULE: teaser ###
########################

### SAMPLE MARKUP:

<div class="ad-m-teaser ad-m-teaser-white">
	<span class="ad-a-txt ad-a-txt-hl ad-a-txt-accent-3 ad-a-txt-strong ad-a-txt-uppercase ad-a-txt-gray-chateau">
		The teaser subline
	</span>

	<span class="ad-a-txt ad-a-txt-hl ad-a-txt-accent-1 ad-a-txt-strong ad-a-txt-font-accent ad-a-txt-black ad-m-teaser-headline">
		The teaser headline

		<div class="ad-a-ico ad-a-ico-2 ad-a-ico-river-bed ad-a-ico-transparent">
			<svg>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#flask"></use>
			</svg>
		</div>
	</span>

	<p class="ad-a-txt ad-a-txt-3 ad-a-txt-p">
		The teaser copy text.
	</p>

	<a href="#" class="ad-m-lnk">
		<div class="ad-a-ico ad-a-ico-1 ad-a-ico-blue-ribbon ad-a-ico-transparent">
			<svg>
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use>
			</svg>
		</div>
		<span class="ad-a-txt ad-a-txt-accent-2 ad-a-txt-strong ad-a-txt-blue-ribbon">
			The link text
		</span>
	</a>
</div>

### INFO:

The teaser molecule includes link molecule and text and icon atoms.
There is one modifier that enables a white background color with shadow.
By default the teaser background is transparent and has no padding or shadows.

### MODIFIERS:

white
	Gaves the teaser a white background, padding and drop-shadow. (Default is transparent)

*/

.#{molecule('teaser')} {
	margin-bottom: 2em;

	&-white {
		@include box-shadow;
		padding: 1.5em 1.25em;
		background-color: white;
	}

	&-icon {
		@include ico-2;
		@include ico-river-bed;

		position: absolute;
		right: 0;
		top: 25%;
		opacity: 0.2;
		transform: translateY(-50%);
	}

	&-headline {
		@include txt;
		@include txt-hl;
		@include txt-accent-1;
		@include txt-strong;
		@include txt-font-accent;
		@include txt-black;

		position: relative;
		padding-right: 30px;
	}

	&-subline {
		@include txt;
		@include txt-hl;
		@include txt-accent-3;
		@include txt-strong;
		@include txt-uppercase;
		@include txt-gray-chateau;
	}

	&-copy {
		@include txt;
		@include txt-3;
		@include txt-p;
	}

	&-link {
		padding-bottom: 0;
		margin-bottom: 0;
	}
}