.#{molecule('teaser')} {
  &-white {
    @include box-shadow;
    padding: 20px 40px 50px 25px;
    background-color: white;
  }
}

.#{organism('container')} {
  grid-column:1;
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    grid-column: 2 / span 1;
  }
}