.#{molecule('teaser')} {

  &-container {
    grid-column:1;
    width: 315px;
    padding: 0 20px;

    @media screen and (min-width: 768px) {
      grid-column: 2 / span 1;
      width: auto;
    }

    &-whiteBg {
      background-color: white;
    }
  }

}