/*

######################
### MOLECULE: dropdown-switch ###
######################

### INFO:

Destination switch is the switch found inside the stage. It can include either an animated list with no dropdown which is default, an animated list including a gradient
and with a seperate dropdown list, or a dropdown list without animations and gradient.

requires rollingAnimation and viewboxGradientAnimation from /source/scss/mixins.scss

### MODIFIERS:

*/

@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';
@import '../atoms/_icon.scss';


@include viewboxGradientAnimation;
@include rollingAnimation;

.#{molecule(destination-switch)} {
  padding: 0;
  margin: 10px 0;
  height: 38px;
  padding-right: 180px;
  overflow: hidden;
  position: absolute;

  @media screen and (min-width: 1024px){
    padding-right: 200px;
  }

  &.dropdown {
		background: linear-gradient(-220deg,
				color('blue-ribbon'),color('robins-egg'),
				color('pizazz'), color('school-bus'),
				color('electric-violet'), color('lavender-magenta'),
				color('forest-green'), color('confetti'),
				color('blue-ribbon'), color('robins-egg'));
		background-size: 1200% 100%;
		background-position: 0% 0%;
		animation: gradientChange 12.8s ease infinite;
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.21);
  }

  &.menu-list {
    &:hover {
      height: 210px;
      padding-right: 0px;
      transition: height 0.5s ease;
      background: transparent;
      animation: none;
      z-index: 10;

      .destination-switch-icon {
        transform: rotate(180deg);
        fill: color('white');
      }

      .destination-list {
        display: flex;
        flex-direction: column;
      }

      .destination-list-item {
        padding: 1px 60px 1px 10px;
        margin-bottom: 5px;

        &:hover {
          padding-left: 15px;
        }
      }

      .destination-list-item-animated {
      	display: none;
      	animation-play-state: paused;
      }
    }
  }

  &.selected {
    padding-right: 0px;

    .destination-list {
      display: flex;
      flex-direction: column;
    }

    li {
      order: 2
    }

    [option][selected] {
      order: 1;
    }
  }

  .destination-switch-icon {
    position: absolute;
    right: 0;
    z-index: 2;
    transition: transform 0.5s ease;
    padding: 11px;
    background: transparent;
    border: none;
    outline: none;

    @media screen and (min-width: 1024px) {
      padding: 10px;
    }

    & svg {
      @include ico;
      @include ico-1;
      @include ico-white;

      @media screen and (min-width: 768px) {
        @include ico-2;
      }
    }
  }

  .destination-list {
    display: none;
    padding: 0;
    list-style: none;
    margin: 0;

    &-display {
      display: flex;
      flex-direction: column;
    }

    &-icon {
      position: absolute;
      right: 0;
      z-index: 2;
      transition: transform 0.5s ease;
      padding: 11px;
      background: transparent;
      border: none;
      outline: none;

      @media screen and (min-width: 1024px) {
        padding: 10px;
      }

      & svg {
        @include ico;
        @include ico-1;
        @include ico-white;

				@media screen and (min-width: 768px) {
					@include ico-2;
				}
      }
    }
  }
}

// default list item

.destination-list-item {

	@include hl;
	@include hl-h2;
	@include color-white;
	outline: color('white');
	padding: 1px 40px 1px 10px;
  order: 2;
  display: block;

  @media screen and (min-width: 1024px) {
    @include hl-h3;
  }

	&-animated {
		position: absolute;

		&-websites {
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
      animation-delay: 0s;
		}

		&-stories {
			opacity: 0;
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
			animation-delay: 3.2s;
		}

		&-ads {
			opacity: 0;
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
			animation-delay: 6.4s;
		}

		&-e-mails {
			opacity: 0;
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
			animation-delay: 9.6s;
    }

		&-light {
			color: color('white');
		}
	}
}


.websites {
  @include color-white;

  &-background {
		@include gradient-websites;
  }

  &-selected {
    color: color('blue-ribbon');
    background-color: color('white');
  }

}

.ads {
  @include color-ads;

  &-background {
		@include gradient-ads;
	}

  &-selected {
    color: color('electric-violet');
    background-color: color('hawkes-blue');
  }
}

.stories {
  @include color-stories;

  &-background {
		@include gradient-stories;
  }

  &-selected {
    color: color('school-bus');
    background-color: color('ultramarine');
  }
}

.e-mails {
  @include color-e-mails;

  &-background {
		@include gradient-e-mails;
  }

  &-selected {
    color: color('forest-green');
    background-color: color('ultramarine');
  }
}


.overview {
  order: 5;
  @include color-blue-ribbon;

	&-background {
		@include gradient-overview;
	}
}
