        
        <nav>
          <ul>
            {% for collection in site.collections %}
            {% if collection.docs.size > 0 %}

            <li>
            <h2>{{ site.data.messages.locales[page.locale].collections[collection.label] }}</h2>

            <ul>
              {% assign sorted = collection.docs | sort: 'order' %}
              {% for post in sorted %}
              {% unless post.relative_path contains 'index.md' or post.locale != page.locale %}

                {% capture slug    %}{{ post.url | split: "/"   | last }}{% endcapture %}
                {% capture nested_path %}{{ post.url | remove: slug | remove: collection.label | remove: "//" }}{% endcapture %}

                {% if nested_path == "" %}
                {% if page.url == post.url %}
                <li class="current">
                  <span>{{ post.title }}</span>
                {% else %}
                <li>
                  <a href="{% if post.goto %}{{ post.goto }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a>
                {% endif %}

                {% if post.folder and page.relative_path contains post.folder %}
                  {% if post.numbered %}<ol>{% else %}<ul>{% endif %}
                  {% for nested_post in sorted %}
                  {% unless nested_post.locale != page.locale %}

                    {% capture slug2 %}{{ nested_post.url | split: "/"   | last }}{% endcapture %}
                    {% capture nested_path2 %}{{ nested_post.url | remove: slug2 | remove: collection.label | remove: "/" }}{% endcapture %}

                    
                    {% if nested_path2 == post.folder %}
                    
                    {% if page.url == nested_post.url %}
                    <li class="current">
                      <span>{{ nested_post.title }}</span>
                    </li>
                    {% else %}
                    <li>
                      <a href="{{ nested_post.url | prepend: site.baseurl }}">{{ nested_post.title }}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    
                  {% endunless %}
                  {% endfor %}
                  {% if post.numbered %}</ol>{% else %}</ul>{% endif %}
                {% endif %}

                </li>
                {% endif %}

              {% endunless %}
              {% endfor %}
            </ul>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </nav>
        
