{% extends '/templates/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/component.css') %}
{% endblock %}

{% block main %}
<div class="ad-t-container ad-t-component">
  {% include 'partials/sidebar.j2' %}
  <section class="main">
    {% if doc.html %}
    {{ doc.html|render|safe }}
    {% endif %}
  </section>
</div>
{% endblock %}
