{% do doc.styles.addCssFile('css/components/molecules/format-visual.css') %}
{% do doc.styles.addCssFile('css/components/molecules/format-visual-websites.css') %}
{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}

<div class="ap-m-format-visual ap-m-format-visual-websites">
  <div class="ap-m-format-visual-image ap-m-format-visual-bottom-image">
    <amp-img class="ap--media" src="/static/img/component-visual-site.jpg" layout="responsive" width="750" height="1334" alt="{{ _('A website screenshot.') }}"></amp-img>
  </div>
  <div class="ap-m-format-visual-image ap-m-format-visual-top-image" title="&lt;amp-sidebar&gt;">
    <amp-img class="ap--media" src="/static/img/component-visual-nav.jpg" layout="responsive" width="520" height="1334" alt="{{ _('A screenshot showing amp-sidebar.') }}"></amp-img>
  </div>
  <div class="ap-m-format-visual-code-snippet">
    <div class="ap-m-code-snippet">
<pre>
<span class="p">&lt;</span><span class="nt">amp-sidebar</span>
  <span class="na">id</span><span class="o">=</span><span class="s">"sidebar"</span>
  <span class="na">layout</span><span class="o">=</span><span class="s">"nodisplay"</span>
  <span class="na">side</span><span class="o">=</span>"<span class="ap-m-format-visual-code-snippet-highlight"></span>"<span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">amp-sidebar</span><span class="p">&gt;</span>
</pre>
    </div>
  </div>
</div>
