/*

#############################
### MOLECULE: share ###
#############################

*/

@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_button.scss';

.share-view {
  &-intro {
    h3 {
      color: color('charade');
    }

    p {
      @include txt;
      @include txt-2;
    }
  }

  &-textarea {
    width: 100%;
    height: 200px;
    resize: none;
    margin: 10px 0 30px 0;
    padding: 10px 15px;
    border: 1px solid color('iron');
    border-radius: 4px;

    @include txt;
    @include txt-2;
    font-family: Noto Sans;
    color: color('oslo-gray');
  }

  &-copy-button {
    @include btn;
    min-width: 215px;
  }
}
