<div class="share-view-intro">
  <h4>Copy & paste unique URL</h4>
  <p>This unique URL contains all changes made up to that point. As you make further changes to the code, a new URL will be generated.</p>
</div>
<textarea id="share-url" class="share-view-url"></textarea>
<button id="copy-button" class="share-view-copy-button" type="button" name="button">
  Copy to Clipboard
</button>
