{% extends '/templates/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/docs-overview.css') %}
{% endblock %}

{% block main %}
<div class="ad-t-container ad-t-docs-overview">
  {% if doc.title  == 'Components' or doc.collection_path.split('/')[1] == 'components' %}
    {% include 'partials/component-sidebar.j2' %}
  {% else %}
    {% include 'partials/sidebar.j2' %}
  {% endif %}
  {% include 'partials/main.j2' %}
</div>
{% endblock %}
