{% extends '/templates/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/docs-quick-start.css') %}
{% endblock %}

{% block main %}
<div class="ad-t-container ad-t-docs-quick-start">
  {% include 'partials/sidebar.j2' %}
  {% include 'partials/main.j2' %}
</div>
{% endblock %}
