/*

####################
### ATOM: button ###
####################

### SAMPLE MARKUP:

<button type="button" name="button" class="a-btn a-btn-outline">
    Text
</button>

### INFO:

The regular button has only one size and one modifier.
It should be never overwritten in any other file.
New modifiers can be added below.

### MODIFIERS:

outline
    Changes the button style to outline (default is filled).

*/

.#{atom('btn')} {
	@extend
		.#{atom('hl')} !optional,
		.#{atom('hl-h3')} !optional,
		.#{atom('hl-light')} !optional;

    display: inline-block;
    max-width: 100%;
    min-width: 230px;
    width: auto;
    height: auto;
    padding: .813rem 1.626rem;
    margin: 0;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    background-color: color('blue-ribbon');
    border: 3px solid color('blue-ribbon');

    &:hover {
    	background-color: color('river-bed');
    	border: 3px solid color('river-bed');
    }
}
