@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

/*

###################
### ATOM: color ###
###################

### INFO:

Text atom could be used almost everywhere.
It has multiple size modifiers (more could be added below).

*/

@mixin color-black {
	color: color('black');
}

@mixin color-blue-ribbon {
	color: color('blue-ribbon');
}

@mixin color-silver {
	color: color('silver');
}

@mixin color-gray-chateau {
	color: color('gray-chateau');
}

@mixin color-white {
	color: color('white');
}

@mixin color-websites {
	@include color-white;
}

@mixin color-stories {
	color: color('ultramarine');
}

@mixin color-ads {
	color: color('hawkes-blue');
}

@mixin color-e-mails {
	color: color('reef');
}

@mixin color-overview {
  color: color('mine-shaft');
}

@mixin gradient-websites {
  background: linear-gradient(45deg, color('blue-ribbon'), color('robins-egg'));
}

@mixin gradient-stories {
	background: linear-gradient(45deg, color('pizazz'), color('yellow'));
}

@mixin gradient-ads {
	background: linear-gradient(45deg, color('forest-green'), color('manz'));
}

@mixin gradient-e-mails {
	background: linear-gradient(-220deg, color('electric-violet'), color('pink-flamingo'));
}

@mixin gradient-e-mails-alt {
	background: linear-gradient(45deg, color('forest-green'), color('manz'));
}

@mixin gradient-overview {
	background: color('white');
}
