/*

#####################
### ATOM: divider ###
#####################

### SAMPLE MARKUP:

<hr>

### INFO:

A simple element that can be used anywhere.
More modifiers can be added below.

*/

hr {
	display: block;
	width: 100%;
  border: none;
	background-color: color('whisper');
	height: 1px;
	margin: 1.5em 0;
}
