/*

#####################
### ATOM: divider ###
#####################

### SAMPLE MARKUP:

<span class="ad-a-divider ad-a-divider-desktop"></span>

### INFO:

A simple element that can be used anywhere.
More modifiers can be added below.

### MODIFIERS:

desktop
	Displays the divider also on desktop resolution. Default is just for mobile.

*/

.#{atom('divider')} {
	display: block;
	width: 100%;
	height: 1px;
	margin-bottom: 0.813em;
	background-color: color('whisper2');

	@media screen and (min-width: 768px) {
		display: none;
	}

	&-desktop {
		@media screen and (min-width: 768px) {
			display: block;
		}
	}
}


@mixin divider {
	display: block;
	width: 100%;
	height: 1px;
	margin-bottom: 0.813em;
	background-color: color('whisper2');
}

@mixin divider-stage {
	width: 60px;
	height: 4px;
	margin-bottom: 3em;
}