@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

/*

######################
### ATOM: headline ###
######################

### SAMPLE MARKUP:

<h2 class="ad-a-hl ad-a-hl-h1">
  The Headline Text
</h2>

### INFO:

This is a regular headline.
It should be never overwritten in any other file.
New modifiers can be added below.

### MODIFIERS:

h1 - h6
  All values in em depending on base font-size of 16 px.

light
  Changes the text color to light (default is dark).

*/
// TODO: implement mono font and modifier

@mixin hl {
  display: block;
  margin-top: 0;
  margin-bottom: 0.75em;
  font-family: 'Poppins';
  font-weight: bold;
  line-height: 1.25em;
  color: color('black');
}

@mixin hl-h1 {
  font-size: 3em;

  @media screen and (min-width: 768px) {
    font-size: 3.25em;
  }
}

@mixin hl-h2 {
  font-size: 2.25em;

  @media screen and (min-width: 768px) {
    font-size: 2.625em;
  }
}

@mixin hl-h3 {
  font-size: 1.5em;

  @media screen and (min-width: 768px) {
    font-size: 1.75em;
  }
}

@mixin hl-h4 {
  font-size: 1em;
}

@mixin hl-h5 {
  font-size: 0.875em;
}

@mixin hl-silver {
  color: color('silver');
  font-size: 0.625em;
}

@mixin hl-blue-ribbon {
  color: color('blue-ribbon');
}

@mixin hl-h4 {
  font-size: 1em;

  @media screen and (min-width: 768px) {
    font-size: 1.25em;
  }
}

@mixin hl-light {
  color: color('white');
}

@mixin hl-mono {
  font-family: monospace;
}
