/*

##################
### ATOM: icon ###
##################

### SAMPLE MARKUP:

TODO: add sample markup

### INFO:

TODO: add info
NOTE: we prefer using svg icons rather than font icons for better handling

### MODIFIERS:

TODO: add modifiers for different styles (filled, outline, ...)

*/

.#{atom('icon')} {
}
