/*

###################
### ATOM: image ###
###################

### SAMPLE MARKUP:

<div class="ad-a-img ad-a-img-circle">
	<amp-img src="images/sample.jpg" layout="fill" alt="The Alt Text"></amp-img>
</div>

### INFO:

Some basic styling for images.
If using images in stages, no modifiers should be applied.
Image atoms are implemented by a macro.
Give the image macro the parameter "parallax" to add the amp-parallax-fx to it.

### MODIFIERS:

circle
  Sets a border-radius 50% to the image (make sure it is a sqaure).

shadow-static
  Adds a simple static drop-shadow to the image.

*/

// TODO: make decissions about how to implement animated shadow modifier

.#{atom('img')} {
	position: relative;

	&-single {
		margin-right: -30px;

		@media screen and (min-width: 768px) {
			margin-right: 0;
		}
	}

	&-shadow-static amp-img {
		@include drop-shadow;
	}
}