/*

##################
### ATOM: text ###
##################

### SAMPLE MARKUP:

<p class="ad-a-txt ad-a-txt-p">
  The Text
</p>

### INFO:

Text atom could be used almost everywhere.
It has multiple size modifiers (more could be added below).

### MODIFIERS:

sizes
  Selector names of the sizes could be changed globally in variables.

p
  Paragraph style text.

TODO: mono (inline, block)
  Changes the font-family to a monospaced font as inline or block text.

*/

.#{atom('txt')} {
	font-family: 'Noto Sans';
	line-height: 1.6em;
	font-weight: normal;
	color: color('river-bed');

	&-1 {
		font-size: 1em;

		@media screen and (min-width: 768px) {
			font-size: 1.25em;
		}
	}

	&-2 {
		font-size: 0.875em;

		@media screen and (min-width: 768px) {
			font-size: 1em;
		}
	}

	&-3 {
		font-size: 0.75em;
	}

	&-accent-1 {
		font-size: 1em;
	}

	&-accent-2 {
		font-size: 0.875em;
	}

	&-accent-3 {
		font-size: 0.625em;
	}

	&-font-accent {
		font-family: 'Poppins', sans-serif;
	}

	&-hl {
		display: block;
		margin-top: 0;
		margin-bottom: 0.75em;
		line-height: 1.25em;
	}

	&-p {
		display: block;
		margin-top: 0;
		margin-bottom: 0.75em;
	}

	&-mono-inline {
		display: inline-block;
		padding: 0 4px;
		font-weight: bold;
		font-family: monospace;
		color: color('black');
		background-color: #eee;
	}

	&-mono-block {
		display: block;
		font-family: monospace;
		background-color: color('whisper');
	}

	&-strong {
		font-weight: bold;
	}

	&-center {
		text-align: center;
	}

	&-uppercase {
		text-transform: uppercase;
	}

	&-black {
		color: color('black');
	}

	&-blue-ribbon {
		color: color('blue-ribbon');
  }

  &-light {
    color: color('white');
  }

	&-silver {
		color: color('silver');
	}

	&-gray-chateau {
		color: color('gray-chateau');
	}

	&-light {
		color: color('white');
	}
}
