/*

######################
### MOLECULE: dropdown-switch ###
######################

### INFO:

The dropdown switch is a more complex version of the rolling switch. It includes the rolling switch with
a gradient animation for the view box and multiple text colors for each text atom. It also includes a
dropdown list visible on hover and also an icon atom.

requires rollingAnimation and viewboxGradientAnimation from /source/scss/mixins.scss

### MODIFIERS:

*/

@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';
@import '../atoms/_icon.scss';


@include viewboxGradientAnimation;


.destination-list-view-box {
  padding: 0;
  height: 38px;
  padding-right: 180px;
  overflow: hidden;
  position: absolute;

	@media screen and (min-width: 1024px){
    padding-right: 200px;
	}


	&-gradient {
		background: linear-gradient(-220deg,
				color('azure-radiance'),color('robins-egg'),
				color('pizazz'), color('yellow'),
				color('crimson'), color('pizazz'),
				color('electric-violet'), color('pink-flamingo'),
				color('azure-radiance'), color('robins-egg'));
		background-size: 1200% 100%;
		background-position: 0% 0%;
		animation: gradientChange 12.8s ease infinite;
		box-shadow: 0 10px 25px 0 rgba(0,0,0,0.21);
	}

	&:hover {
    height: 210px;
    padding-right: 0px;
    transition: height 0.5s ease;
		background: transparent;
    animation: none;
    z-index: 10;

		.#{atom('ico')} {
			transform: rotate(100deg);
			fill: color('white');
		}

		.destination-list {
			display: flex;
			flex-direction: column;
    }

    .destination-list-item {
      padding-right: 75px;
    }

		.destination-list-item-rolling {
			display: none;
			animation-play-state: paused;
		}
  }


  // DROP DPOWN LIST

  .destination-list {
    display: none;
    padding: 0;
    list-style: none;
    margin: 0;

    li {
      padding-left: 0;
    }

    &-display {
      display: flex;
      flex-direction: column;
    }

    &:focus {

        .#{atom('ico')} {
          transform: rotate(100deg);
        }

        .destination-list-view-box {
          animation: none;
        }

        .destination-list-rolling-item {
          display: none;
          animation-play-state: paused;
        }
    }

    @media screen and (min-width: 768px) {
      &:hover {

        .destination-list-view-box {
          animation: none;
        }

        .destination-list-rolling-item {
          display: none;
          animation-play-state: paused;
        }

      }
    }

    &-icon {
      position: absolute;
      right: 0;
      z-index: 2;
      transition: transform 0.5s ease;
      padding: 11px;
      background: transparent;
      border: none;
      outline: none;

      @media screen and (min-width: 1024px) {
        padding: 10px;
      }

      & svg {
        @include ico;
        @include ico-1;
        @include ico-white;

				@media screen and (min-width: 768px) {
					@include ico-2;
				}
      }
    }
  }
}

// default list item

.destination-list-item {

	@include hl;
	@include hl-h2;
	@include color-white;
	outline: color('white');
	padding: 1px 20px 1px 10px;
  order: 2;
  display: block;

  @media screen and (min-width: 1024px) {
    @include hl-h3;
  }

  [option][selected] {
    order: 1;
    outline: 1px solid #fff;
  }


	&-drop-down {
		margin-bottom: 5px;

		&:hover {
			padding-left: 12px;
		}
	}

	&-rolling {
		position: absolute;

		&-hide {
			display: none;
			animation: none;
		}

		&-websites {
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
      animation-delay: 0s;
		}

		&-stories {
			opacity: 0;
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
			animation-delay: 3.2s;
      @include color-stories;
		}

		&-ads {
			opacity: 0;
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
			animation-delay: 6.4s;
      @include color-ads;
		}

		&-e-mails {
			opacity: 0;
			animation: roll 12.8s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
			animation-delay: 9.6s;
      @include color-e-mails;
    }

		&-light {
			color: color('white');
		}
	}
}


.websites {
  order: 1;
  @include color-white;
}

.ads {
  order: 2;
  @include color-ads;

}

.stories {
  order: 3;
  @include color-stories;
}

.e-mails {
  order: 4;
  @include color-e-mails;
}


.overview {
  order: 5;
  @include color-blue-ribbon;
  pointer-events: none;

	&-background {
		@include gradient-overview;
	}
}
