/*

######################
### MOLECULE: link ###
######################

### INFO:

The link molecule is a combination of icon and text atom.
The size of the icon should be 1 (xsmall) and text should be 3 (medium).

### MODIFIERS:

none

*/

@import '../atoms/_color.scss';

@mixin link {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0 0 1.5em;
	margin: 0;
}

// Default link styling
.#{molecule('lnk')} {
	@include link;

	&-text {
		@include txt;
		@include txt-2;
		@include txt-strong;
		@include color-blue-ribbon;
		line-height: 1.3;
	}

	&-icon {
		@include ico-blue-ribbon;
		padding: 0.438em 0;
		margin-bottom: auto;
		margin-right: 0.625em;
		box-sizing: initial;
	}
	
	&-square {
		border-bottom: 1px solid color('athens-gray');

		.#{molecule('lnk')} {
			&-text {
				@include txt-1;
				@include txt-font-accent;
				@include color-black;
				padding-left: 10px;
			}
			
			&-icon {
				@include ico-2;
				@include ico-square;
				padding: 0.563em;
				box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.25);
			}
		}
	}
}
