/*

######################
### MOLECULE: link ###
######################

### INFO:

The link molecule is a combination of icon and text atom.
The size of the icon should be 1 (xsmall) and text should be 3 (medium).

### MODIFIERS:

none

*/

@import '../atoms/_color.scss';

@mixin link {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.813em 0;
	margin: 0.813em 0;
}

// Default link styling
.#{molecule('lnk')} {
	@include link;

	&-text {
		@include txt;
		@include txt-2;
		@include txt-strong;
		@include color-blue-ribbon;
	}

	&-icon {
		@include ico-blue-ribbon;
		padding: 0.438em 0;
		margin-bottom: auto;
		margin-right: 0.625em;
		box-sizing: initial;
	}
}

.link-preview-1 {
	.#{molecule('lnk')} {
		&-text {
			@include txt-font-accent;
			@include color-black;
		}

		&-icon {
			@include ico-square;
			padding: 0.438em;
			@include box-shadow;
		}
	}
}

.link-preview-2 {
	.#{molecule('lnk')} {
		&-text {
			@include color-blue-ribbon;
		}

		&-icon {
			@include ico-blue-ribbon;
		}
	}
}
