/*

######################
### MOLECULE: agenda-item ###
######################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';

.#{molecule('agenda-item')} {
  @include txt;
  @include txt-lrg;
  display: flex;
  align-items: center;
  text-align: left;

  &-image {
    display: none;

    @media (min-width: 768px) {
      display: block;
      border-radius: 50%;
      align-self: flex-start;
      margin-right: 10px;
      margin-left: -60px;
    }

    &.multiple {
      position: absolute;

      &:nth-child(1) {
        margin-top: -35px;
      }

      &:nth-child(odd) {
        margin-left: -90px;
      }

      &:nth-child(even) {
        margin-left: -55px;
      }

      &:nth-child(3) {
        margin-top: 35px;
      }

      &:nth-child(4) {
        margin-top: 70px;
      }

      &:nth-child(5) {
        margin-top: 105px;
      }

      &:nth-child(6) {
        margin-top: 140px;
      }

      &:nth-child(7) {
        margin-top: 175px;
      }

    }

  }

  &-time {
    @include txt-font-accent;
    width: 50px;
    margin-right: 25px;
    padding: 7px 15px 0 0;
    color: color('charade');
    align-self: flex-start;
  }


  &-description {
    position: relative;
    width: 80%;
    border-left: 2px solid color('blue-ribbon');
    padding: 13.5px 0 13.5px 25px;

    &:before {
      content: '';
      position: absolute;
      border-radius: 50%;
      margin-top: 8px;
      height: 8px;
      width: 8px;
      left: -5px;
      background: color('blue-ribbon');
    }

    &.session, &.keynote, &.panel {

      &:before {
        left: -10px;
        background: color('white');
        height: 14px;
        width: 14px;
        border: 2px solid color('blue-ribbon');
      }
    }

    &.keynote {
      color: color('blue-ribbon');
    }

    &-title {
      @include txt;
      @include txt-lrg;
      @include txt-font-accent;
      color: color('charade');

      &.break {
        color: fade_out(color('charade'), 0.5);
      }
    }

    &-text {
      @include txt;
    }

    &-speaker {
      @include txt;
      color: color('carnation');
    }
  }
}