/*

######################
### MOLECULE: agenda-item ###
######################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';

.#{molecule('agenda-item')} {
  @include txt;
  @include txt-lrg;
  display: flex;
  align-items: center;
  text-align: left;

  &-image {
    display: none;

    @media (min-width: 768px) {
      display: block;
      border-radius: 50%;
      align-self: flex-start;
      margin-right: 10px;
      margin-left: -60px;
    }

    &.multiple {
      &:nth-child(1) {
        position: absolute;
        margin-left: -80px;
        margin-top: -45px;
      }
    }

  }

  &-time {
    @include txt-font-accent;
    width: 50px;
    margin-right: 25px;
    padding: 7px 15px 0 0;
    color: color('charade');
    align-self: flex-start;
  }


  &-description {
    position: relative;
    width: 80%;
    border-left: 2px solid color('blue-ribbon');
    padding: 7px 0 7px 25px;

    &:before {
      content: '';
      position: absolute;
      border-radius: 50%;
      left: -10px;
      background: color('white');
      height: 14px;
      width: 14px;
      border: 2px solid color('blue-ribbon');
      margin-top: 3px;
    }


    &.break {
      color: fade_out(color('charade'), 0.5);

      &:before {
        height: 8px;
        width: 8px;
        left: -7px;
        background: color('blue-ribbon');
      }
    }

    &.keynote {
      color: color('blue-ribbon');
    }

    &-title {
      @include txt;
      @include txt-lrg;
      @include txt-font-accent;
      color: color('charade');
    }

    &-text {
      @include txt;
    }

    &-speaker {
      @include txt;
      color: color('carnation');
    }
  }
}