@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';


.#{utility('stage')} {
  .#{organism('stage')} {

    &-content {
      grid-column: 3 / 12;
    }
  }
}

.#{molecule('roadshow-video')} {
  grid-column: 1 / 26;
  margin-bottom: 0;

  &-notice {
    text-align: center;
    a {
      display: inline-block;
      background: #ffffff6e;
      border-radius: 0.5rem;
      padding: 0.2rem 0.5rem;
      margin-top: 1rem;
    }
  }

  &-block {
    @include roadshow-video-shadow;
    width: 100%;

  }

}
