/*

#########################
### MOLECULE: amplify ###
#########################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

.#{molecule('amplify')} {
  @include agenda-list-shadow;
  grid-column: 5 / 22;
  background: color('blue-ribbon');
  border-radius: 4px;
  margin: 25px 0;

  @media (min-width: 768px) {
    margin: 50px 0;
  }

  &-content {
    padding: 40px 100px 60px 50px;

    @media (min-width: 768px) {
      padding: 25px 100px 30px 50px;
    }

    &-headline {
      @include hl;
      @include hl-h2;
      color: color('white');

    }

    &-subline {
      @include txt;
      @include txt-2;
      color: color('white');
    }
  }

}