/*

########################
### MOLECULE: banner ###
########################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_headline.scss';

.#{molecule('banner')} {
  $root: &;
  &-user-notification {
    display: none;

    & ~ header #{$root} {
      display: none;
    }

    &.amp-active ~ header #{$root} {
      display: flex;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: $bannerHeight;
  padding: 0 5px;
  line-height: 1;
  text-align: center;
  color: color('whisper');
  @include txt-font-accent;
  @include txt-2;
  background: color('blue-ribbon');

  &-link {
    color: currentColor;

    svg {
      width: 0.9em;
      height: 0.9em;
      margin-right: 5px;
      vertical-align: bottom;
      fill: currentColor;
    }
  }

  &-beta {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    color: color('black');
    background: color('school-bus');
  }

  &-dismiss {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: color('white');
    border: 0;
    cursor: pointer;
    margin: 0 8px;

    svg {
      fill: color('blue-ribbon');
      width: 110%;
      height: 110%;
    }
  }
}
