@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_headline';
@import '../atoms/_text';

@import '../molecules/_copy';

.#{utility('collaboration')} {
  padding: 0 20px;
  background: #FAFAFC;
  
  @media screen and (min-width: 768px) {
    padding: 30px;
  }
  
  @media screen and (min-width: 1024px) {
    padding: 0;
  }
  
  h2 {
    grid-column: 1 / -1;
    width: 100%;
    @include hl;
    @include hl-lrg;
    text-align: center;
    
    @media screen and (min-width: 768px) {
      margin-top: 10rem;
    }
  }
}

.#{molecule('collabo-card')} {
  grid-column: span 6;
  width: 100%;
  margin-bottom: 3em;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  @include box-shadow;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 10rem;
  }
  
  &-1 {
    grid-column: 1 / 13;
    
    @media screen and (min-width: 1024px) {
      grid-column: 2 / 12;
    }
    
    @media screen and (min-width: 1280px) {
      grid-column: 3 / 12;
    }
  }
  
  &-2 {
    grid-column: 13 / 25;
    
    @media screen and (min-width: 768px) {
      transform: translateY(7rem);
    }
    
    @media screen and (min-width: 1024px) {
      grid-column: 14 / 24;
    }

    @media screen and (min-width: 1280px) {
      grid-column: 14 / 23;
    }
  }
  
  &-headline {
    padding: 0 2.5rem;
    
    @media screen and (min-width: 768px) {
      padding: 0 5rem;
    }
  }
  
  &-copy {
    @include txt;
    padding: 0 2.5rem;
    margin-bottom: 3em;
    
    @media screen and (min-width: 768px) {
      padding: 0 5rem;
    }
  }
}
