@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_headline';
@import '../atoms/_text';

@import '../molecules/_copy';

.#{utility('collaboration')} {
  padding: 3em 0;
  background: color('whisper');

  @media screen and (min-width: 768px) {
    padding: 8vw 0;
  }

  .#{utility('container-fluid')} {
    grid-template-rows: auto 100px auto 100px;
  }

  h2 {
    grid-column: 1 / -1;
    width: 100%;
    @include hl;
    @include hl-h1;
    text-align: center;
    margin-top: 0;
  }
}

.#{molecule('collabo-card')} {
  grid-column: span 6;
  width: 100%;
  margin-bottom: 2em;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1), box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    transform: translateY(-0.125em);
    box-shadow: 0 25px 60px 0px rgba(0, 0, 0, 0.10);
  }

  & > a {
    display: block;
    height: 100%;
  }

  &-1 {
    grid-column: 1 / 13;
    grid-row: 2 / 4;

    @media screen and (min-width: 1024px) {
      grid-column: 2 / 12;
    }

    @media screen and (min-width: 1280px) {
      grid-column: 3 / 12;
    }
  }

  &-2 {
    grid-column: 13 / 25;
    grid-row: 3 / 5;

    @media screen and (min-width: 1024px) {
      grid-column: 14 / 24;
    }

    @media screen and (min-width: 1280px) {
      grid-column: 14 / 23;
    }
  }

  &-headline {
    padding: 0 2.5rem;
    @include hl-h4;

    @media screen and (min-width: 768px) {
      padding: 0 5rem;
      @include hl-h3;
    }
  }

  &-copy {
    @include txt;
    @include txt-2;
    padding: 0 2.5rem 3em;
    margin-bottom: 0;

    @media screen and (min-width: 768px) {
      padding: 0 5rem 3em;
      @include txt-1;
    }
  }
}
