/*

######################
### MOLECULE: ampconf-location ###
######################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';

.#{molecule('conf-speaker')} {
  display: flex;
  flex-direction: column;
  max-width: 175px;
  margin: 20px 5px;
  padding: 20px 5px;

  &:hover {
    cursor: pointer;

    .#{molecule('conf-speaker')}-image {
      @include ampconf-speaker-shadow;
    }
  }

  @media (min-width: 768px) {
    max-width: 225px;
    padding: 20px 30px;
    margin: 15px;
  }

  &-image {
    border-radius: 50%;
    margin: 0 auto;
    transition: box-shadow 0.2s ease;

  }

  &-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &-name {
    @include txt;
    @include txt-font-accent;
    @include txt-lrg;
    margin: 8px 0 0;
  }

  &-company {
    @include txt;
    margin: 0;
    line-height: 20px;
  }

}
