/*

#############################
### MOLECULE: experiments ###
#############################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_headline.scss';

.#{molecule('experiments')} {
  $self: &;
  background: color('white');
  margin: 25px 0 32px -30px;
  padding: 20px 30px 20px 30px;

  & > p {
    margin-bottom: 25px;
  }

  &-default {
    width: 100%;
  }

  &-minimal {
    padding: 0;
    margin: 0;
    flex: 1 0 33.3333%;
    background: none;

    @media (max-device-width: 767px) { text-align: center; }
    @media (min-device-width: 768px) { text-align: right; }
  }

  &-preview {
    width: 100%;
    padding: 0;
    margin: 0;
    background: none;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: auto;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding: 0 10%;
      margin: 0;
      background: #fff;
      z-index: 1002;

      @media (max-width: 767px) {
        padding: 0 5%;
      }

      h4 {
        margin: 0 0 0.75rem;
        font-size: 1rem;
      }

      p {
        font-size: 0.75rem;
        line-height: 1.2rem;
        margin: 0 0 1rem;

        @media (max-width: 767px) {
          display: none;
        }
      }

      amp-iframe.amp-iframe {
        padding-top: 0;
        box-shadow: none;
      }
    }
  }

  &-hint {
    position: absolute;
    left: 0;
    top: calc(100% + 7px);
    padding: 3px 15px;
    background-color: rgba(color('turbo'), .4);
    z-index: 1003;

    .inline &,
    .side-frame & {
      display: none;
    }

    p {
      display: inline-block;
      margin: 0;
      padding-left: 30px;
      font-family: 'Fira Mono', monospace;
      font-size: 0.813rem;
      line-height: 1.2rem;
      color: #fff;

      a {
        font-family: 'Fira Mono', monospace;
        font-size: 0.813rem;
        font-weight: 700;
        text-transform: none;
        text-decoration: underline;
        color: #fff;
      }
    }

    .ap-a-ico {
      position: absolute;
      left: 15px;
      top: 6px;
      fill: color('turbo');
    }
  }

  &-controls {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 0 5px;
    margin: 0 -15px;
    list-style: none;

    #{$self}-default & {
      padding: 0;
    }

    #{$self}-minimal & {
      display: inline-flex;
      margin: 0;

      @media (max-device-width: 767px) { justify-content: center; }
      @media (min-device-width: 768px) { justify-content: flex-end; }
    }

    #{$self}-preview & {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }

  &-control {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    padding: 15px 10px;
    margin: 0 15px;
    background-color: color('wild-sand');

    #{$self}-minimal & {
      flex-grow: 0;
      padding: 0;
      margin: 4px 15px;
      background: none;
    }

    #{$self}-preview & {
      display: none;
      padding: 16px 24px;
      margin: 0;
      text-align: center;
      background: color('blue-ribbon');

      @media (max-width: 767px) {
        font-size: 0.75rem;
        padding: 10px 18px;
      }

      &:first-child {
        display: block;
      }
    }
  }

  &-label {
    flex: 1 0 auto;
    margin-right: 6px;
    @include txt-font-accent;
    color: color('black');

    #{$self}-minimal & {
      margin-right: 15px;
    }

    #{$self}-preview & {
      color: color('white')
    }
  }

  &-channel {
    margin-left: auto;
    margin-right: 6px;
    @include txt-font-accent;

    &-name {
      color: color('alto');

      &.active {
        color: color('blue-ribbon');
      }

      #{$self}-minimal & {
        color: color('oslo-gray');

        &.active {
          color: color('blue-ribbon');
        }
      }

      #{$self}-preview & {
        color: color('oslo-gray');

        &.active {
          color: color('blue-ribbon');
        }
      }
    }
  }

  &-toggle {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    opacity: 0;
    margin: 0;
    cursor: pointer;

    #{$self}-preview & {
      width: 100%;
    }

    &:checked {

      & + .#{molecule('experiments')}-indicator {
        background: color('blue-ribbon');

        &:before {
          transform: translateX(100%);
        }
      }
    }
  }

  &-indicator {
    position: relative;
    height: 25px;
    width: 50px;
    border-radius: 2px;
    padding: 2px;
    background: #c4c4c4;
    cursor: pointer;
    transition: background 0.2s ease;

    #{$self}-preview & {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
    }

    &:before {
      content: " ";
      display: block;
      width: 50%;
      height: 100%;
      box-shadow: 0 1px 3px 0 fade_out(color('black') ,0.6);
      background: color('white');
      transition: transform 0.2s ease;
    }
  }

  .on {
    position: absolute;
    top: 7px;
    left: 12px;
    height: 12px;
    width: 1px;
    background-color: color('white');
  }

  .off {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 12px;
    width: 12px;
    border: 1px solid color('white');
    border-radius: 50%;
  }

  &-reload-hint {
    margin-right: 15px;

    #{$self}-preview & {
      font-size: 0.75rem;
    }
  }
}
