/*

#########################
### MOLECULE: faq ###
#########################

*/

@import '_extends';
@import '_functions';
@import '_mixins';
@import '_variables';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

.#{molecule('faq')} {
  grid-column: 7 / 19;
  margin: 50px 20px 100px 5px;

  @media (min-width: 768px) {
    margin: 50px 0 100px;
  }

  &-headline {
    @include hl;
    @include hl-h2;

    padding-bottom: 50px;
  }

  &-content {
    @include txt;
    padding-top: 24px;

    &-question {
      @include txt-font-accent;
      @include txt-lrg;
      margin: 15px 0;
    }

    &-answer {
      @include txt-2;
      margin: 0;
      padding-bottom: 25px;
    }
  }
}