/*

#############################
### MOLECULE: filter-bubbles ###
#############################

### INFO:

The filter-bubble molecule is a simple button used to filter content based on their respected category. It contains a simple text atom with a  box-shadow

### MODIFIERS:
  currently no modifiers.
*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';
@import '../atoms/_text';

.#{molecule('filter-bubble')} {
  @include txt;
  @include txt-3;
  @include txt-strong;
  @include filter-bubble-shadow-regular;
  border-radius: 25px;
  border: none;
  padding: 5px 10px;
  background: color('white');
  color: color('oslo-gray');
  cursor: pointer;
  margin: 5px 5px;

  &[name="none"] {
    display: none;
  }

  @media (min-width: 550px) {
    padding: 5px 20px;
    margin: 5px 10px;
  }

  @media (min-width: 768px) {
    margin: 5px;
    padding: 5px 20px;
  }

  &:hover, &.filtered {
    @include filter-bubble-shadow-selected;
    background: color('blue-ribbon');
    color: color('white');
  }

  &-reset {
    &:focus {
      outline: none;
    }
  }
}
