@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text';

.#{molecule('format-toggle')} {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 15px 0 15px 0;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.25);
  max-width: 85%;

  @media (min-width: 768px) {
    padding: 0 0 20px 0;
    margin: 0 15px;
    max-width: 100%;
  }

  &-hl {
    margin-bottom: 15px;
    @include txt-font-accent;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
  }

  &-format {
    flex: 1 50%;
    max-width: 50%;
    padding: 2px;
  }

  &-link {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    padding: 16px 8px;
    @include txt;
    @include txt-font-accent;
    line-height: 1.2em;
    font-size: 1em;
    text-overflow: ellipsis;
    border-radius: 6px;
    color: color('black');
    background: color('athens-gray');
    transition: opacity 0.2s ease;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: 0.70em;
    }

    @media (min-width: 1440px) {
      font-size: 1rem;
    }

    &.active {
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
    }

    .#{atom('ico')} {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      fill: color('black');

      @media (min-width: 768px) {
        width: 0;
        height: 0;
        margin-right: 0;
      }

      @media (min-width: 1200px) {
        width: 22px;
        height: 22px;
        margin-right: 8px;
      }
    }

    &-websites:not(.inactive),
    &-websites.active {
      @include gradient-websites; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-stories:not(.inactive),
    &-stories.active {
      @include gradient-stories; color: color('pigment-indigo');
      .#{atom('ico')} { fill: color('pigment-indigo'); }
    }

    &-ads:not(.inactive),
    &-ads.active {
      @include gradient-ads; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-email:not(.inactive),
    &-email.active {
      @include gradient-e-mails; color: color('ultramarine');
      .#{atom('ico')} { fill: color('ultramarine'); }
    }
  }

  &:hover &-link {
    &:not(.active),
    &.inactive {
      color: color('black');
      background: color('athens-gray');

      .#{atom('ico')} {
        fill: color('black');
      }
    }

    &-websites:hover {
      @include gradient-websites; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-stories:hover {
      @include gradient-stories; color: color('pigment-indigo');
      .#{atom('ico')} { fill: color('pigment-indigo'); }
    }

    &-ads:hover {
      @include gradient-ads; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-email:hover {
      @include gradient-e-mails; color: color('ultramarine');
      .#{atom('ico')} { fill: color('ultramarine'); }
    }
  }
}
