/*

########################################
### MOLECULE: format-visual-websites ###
########################################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/component-frame.scss';

.#{molecule('format-visual-websites')} {
  padding: 0;
  grid-template-columns: 11.1fr 32.4fr 18.1fr 32.1fr 7fr;
  grid-template-rows: 3.5fr 56.3fr 25.1fr 12.3fr 3.3fr;
  
  &:after {
    transform-origin: left bottom;
    animation: 10s ease-in-out 3.5s infinite both rotateShadow;
  }
  
  .#{molecule('format-visual')} {
    &-bottom-image {
      grid-column: 2 / 5;
      grid-row: 1 / 5;
      max-width: 8.125em;
      transform: translate3d(0%, 3%, 0) scale(0.9);
      
      @media screen and (min-width: 768px) {
        max-width: 100%;
      }
    }

    &-top-image {
      grid-column: 3 / 6;
      grid-row: 2 / 6;
      max-width: 5.625em;
      @include component-frame-websites;
      animation: 10s ease-in-out 3.5s infinite both slide;
      
      @media screen and (min-width: 768px) {
        max-width: 100%;
      }
    }

    &-code-snippet {
      &-highlight:before {
        content: 'right';
        color: #e6db74;
        animation: 10s ease-in-out 3.5s infinite both highlight-code;
      }
    }
  }
}


@keyframes slide {
  0%, 9%, 18%, 36%, 90%, 100% { transform: translateX(0); }
  45%, 54%, 63%, 72%, 81% { transform: translateX(-90%); }
}

@keyframes rotateShadow {
  0%, 9%, 18%, 36%, 90%, 100% { transform: rotate(-5deg) scale(1, 1.1) skew(-25deg); }
  45%, 54%, 63%, 72%, 81% { transform: rotate(-10deg) scale(1, 1.1) skew(-22deg); }
}

@keyframes highlight-code {
  0%, 90%, 100% { content: 'right'; background-color: transparent; }
  9% { content: 'right'; background-color: color('pink-flamingo'); }
  18% { content: " "; background-color: color('pink-flamingo'); }
  36% { content: 'left'; background-color: color('pink-flamingo'); }
  45%, 54% { content: 'left'; background-color: transparent; }
  63% { content: 'left'; background-color: color('pink-flamingo'); }
  72% { content: " "; background-color: color('pink-flamingo'); }
  81% { content: 'right'; background-color: color('pink-flamingo'); }
}