@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text';

.#{molecule('format-toggle')} {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 15px 0 0 0;

  @media screen and (min-width: 768px) {
    padding: 0;
    margin: 0;
    margin-left: 12px;
  }

  &-format {
    flex: 1 50%;
    max-width: 50%;
    padding: 2px;
  }

  &-link {
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    @include txt;
    @include txt-font-accent;
    line-height: 1.2em;
    font-size: 1em;
    text-overflow: ellipsis;
    border-radius: 4px;
    color: color('black');
    background: color('athens-gray');
    transition: opacity 0.2s ease;

    @media screen and (min-width: 768px) {
      font-size: 0.75em;
    }
    
    &.active {
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.25);
    }

    .#{atom('ico')} {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      fill: color('black');

      @media screen and (min-width: 768px) {
        width: 22px;
        height: 22px;
        margin-right: 8px;
      }

      @media screen and (min-width: 1024px) {
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }

      @media screen and (min-width: 1200px) {
        width: 22px;
        height: 22px;
        margin-right: 8px;
      }
    }

    &-websites:not(.inactive),
    &-websites.active {
      @include gradient-websites; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-stories:not(.inactive),
    &-stories.active {
      @include gradient-stories; color: color('pigment-indigo');
      .#{atom('ico')} { fill: color('pigment-indigo'); }
    }

    &-ads:not(.inactive),
    &-ads.active {
      @include gradient-ads; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-email:not(.inactive),
    &-email.active {
      @include gradient-e-mails; color: color('ultramarine');
      .#{atom('ico')} { fill: color('ultramarine'); }
    }
  }

  &:hover &-link {
    &:not(.active),
    &.inactive {
      color: color('black');
      background: color('athens-gray');

      .#{atom('ico')} {
        fill: color('black');
      }
    }
    
    &-websites:hover {
      @include gradient-websites; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-stories:hover {
      @include gradient-stories; color: color('pigment-indigo');
      .#{atom('ico')} { fill: color('pigment-indigo'); }
    }

    &-ads:hover {
      @include gradient-ads; color: color('white');
      .#{atom('ico')} { fill: color('white'); }
    }

    &-email:hover {
      @include gradient-e-mails; color: color('ultramarine');
      .#{atom('ico')} { fill: color('ultramarine'); }
    }
  }
}

/* The following selectors are not specifically styles for the format format-toggle
but are needed to make it work. As they will always be needed when there is a format
toggle on the page this is the most fitting place to put them */

body {
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  background-attachment: fixed;
}

body.ad--websites {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768"><defs><linearGradient id="a" x1="239.67" y1="855.23" x2="606.28" y2="-152.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23d5e6f2"/></linearGradient></defs><g><path fill="url(%23a)" d="M0 0h1024v214L786.37 768H0V0z"/></g></svg>');
}

body.ad--ads {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768"><defs><linearGradient id="a" x1="239.67" x2="606.28" y1="855.23" y2="-152.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23ddd3eb"/></linearGradient></defs><g><path fill="url(%23a)" d="M0 0h1024v214L786.37 768H0V0z"/></g></svg>');
}

body.ad--stories {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768"><defs><linearGradient id="a" x1="239.67" x2="606.28" y1="855.23" y2="-152.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23ebdfd3"/></linearGradient></defs><g><path fill="url(%23a)" d="M0 0h1024v214L786.37 768H0V0z"/></g></svg>');
}

body.ad--email {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768"><defs><linearGradient id="a" x1="239.67" x2="606.28" y1="855.23" y2="-152.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23d7ebd3"/></linearGradient></defs><g><path fill="url(%23a)" d="M0 0h1024v214L786.37 768H0V0z"/></g></svg>');
}
