@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_text';

.#{molecule('format-toggle')} {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 15px;
  padding: 10px 0px;

  &-format {
    flex: 1 50%;
    padding: 2px;
  }

    &-link {
      display: block;
      position: relative;
      padding: 8px;
      @include txt;
      @include txt-font-accent;
      text-transform: capitalize;
      text-overflow: ellipsis;
      border-radius: 4px;
      color: color('white');
      opacity: 0.9;
      transition: opacity 0.2s ease;
      overflow: hidden;

      &-websites {
        @include gradient-websites;
      }

      &-stories {
        @include gradient-stories;
      }

      &-ads {
        @include gradient-ads;
      }

      &-email {
        @include gradient-e-mails;
      }

      @each $format in websites, stories, ads, email {
        .ad--#{$format} & {
          opacity: 0.6;

          &-#{$format} {
            opacity: 1;
          }
        }
      }
    }

  &:hover &-link {
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
