/*

#######################################
### MOLECULE: format-visual-stories ###
#######################################

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/component-frame.scss';

.#{molecule('format-visual-stories')} {
  grid-template-columns: 15px auto 15px;
  grid-template-rows: 17fr auto 7fr;
  
  .#{molecule('format-visual')} {
    &-bottom-image {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      max-width: 11em;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
      
      @media screen and (min-width: 768px) {
        max-width: 100%;
      }
    }

    &-top-image {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      max-width: 12em;
      @include component-frame-stories;
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
      
      @media screen and (min-width: 768px) {
        max-width: 100%;
      }
    }
  }
}