/*

#####################################
### MOLECULE: ghost frame desktop ###
#####################################

### INFO:

The ghost frame desktop wraps an element with a desktop-like frame.

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color';

.#{molecule('ghost-frame-desktop')} {
  background: rgba(color('white'), .9);
  border-radius: 5px;
  box-shadow: shadows('drop');
  display: inline-block;
  height: auto;
  margin-bottom: auto;
  max-width: calc((5/8) * 70vw);
  padding: 4% 1% 1%;
  position: relative;
  width: 100%;
  z-index: 0;

  &.left-flat {
    -webkit-box-shadow:
      -40px 40px 100px -35px rgba(0, 0, 0, 0.7),
      inset 25px -25px 10px -25px rgba(255, 255, 255, 0.8),
      inset 25px -25px 20px -30px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:
      -40px 40px 100px -35px rgba(0, 0, 0, 0.7),
      inset 25px -25px 10px -25px rgba(255, 255, 255, 0.8),
      inset 25px -25px 20px -30px rgba(0, 0, 0, 0.7);
    box-shadow:
      -40px 40px 100px -35px rgba(0, 0, 0, 0.7),
      inset 25px -25px 10px -25px rgba(255, 255, 255, 0.8),
      inset 25px -25px 20px -30px rgba(0, 0, 0, 0.7);
    transform:
      rotateX(45deg)
      rotateY(5deg)
      rotateZ(-50deg);
  }

  &.left {
    -webkit-box-shadow:
      -40px 40px 100px -35px rgba(0, 0, 0, 0.7),
      inset 25px -25px 10px -25px rgba(255, 255, 255, 0.8),
      inset 25px -25px 20px -30px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:
      -40px 40px 100px -35px rgba(0, 0, 0, 0.7),
      inset 25px -25px 10px -25px rgba(255, 255, 255, 0.8),
      inset 25px -25px 20px -30px rgba(0, 0, 0, 0.7);
    box-shadow:
      -40px 40px 100px -35px rgba(0, 0, 0, 0.7),
      inset 25px -25px 10px -25px rgba(255, 255, 255, 0.8),
      inset 25px -25px 20px -30px rgba(0, 0, 0, 0.7);
    transform:
      rotateX(60deg)
      rotateY(-5deg)
      rotateZ(30deg)
      skewX(-20deg)
      skewY(20deg);
  }

  // ui
  &:before {
        background-image: radial-gradient(circle at center, color('silver') 25%, transparent 25%), radial-gradient(circle at center, color('silver') 25%, transparent 25%), radial-gradient(circle at center, color('silver') 25%, transparent 25%);
    background-position: 0%, 2%, 4%;
    background-repeat: no-repeat;
    background-size: 4% 100%, 4% 100%, 4% 100%;
    border-top-left-radius: calc(1rem/6);
    border-top-right-radius: calc(1rem/6);
    content: '';
    height: 3%;
    left: 0;
    position: absolute;
    top: 2%;
    width: 100%;
    z-index: 1;
  }
}
