/*

######################################
### MOLECULES: homepage-link #####
######################################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';

.#{molecule('homepage-link')} {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  padding-bottom: 10px;
  @include txt-font-accent;

  @media (min-width: 1024px) {
    margin-right: 0;
    padding-right: 30px;
    @include txt-lrg;
  }

  @media (max-width: 1023px) {
    display: none;
  }

  & .icon {
    display: inline-block;
    width: 9pt;
    height: 9pt;
    margin: 0 auto;
    transform: rotate(-90deg);
    fill: color('oslo-gray');

    &:hover {
      fill: color('blue-ribbon');
    }
  }
}
