/*
######################
### MOLECULE: input-bar ###
######################
*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';

.#{molecule('input-bar')} {
  $inputBar: &;
  padding: 0 15px 50px 15px;

  @media (min-width: 768px) {
    padding: 0 0 30px 0;
  }

  &-title {
    font-size: 24px;

    @media (min-width: 768px) {
      padding: 0;
      font-size: 28px;
    }
  }

  &-container {
    display: flex;
    height: 66px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 10px 25px 0 transparentize(color('black'), 0.87);
    background: safeColor('white');

    @media (min-width: 1024px) {
      height: 76px;
      padding: 13px 15px;
    }
  }

  &-input {
    position: relative;
    width: 100%;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      height: 2px;
      background: color('red');
      opacity: 0;
      transition: opacity 0.3s ease-in-out;

      @media (min-width: 1024px) {
        left: 25px;
        right: 25px;
      }
    }

    &-field {
      height: 100%;
      width: 100%;
      padding: 0 10px;
      border: 0;
      border-radius: 4px 0 0 4px;
      font-family: Poppins, sans-serif;
      font-size: 18px;
      font-weight: bold;

      @media (min-width: 720px) {
        padding: 0 15px;
      }

      @media (min-width: 1024px) {
        padding: 0 20px;
        font-size: 22px;
      }
    }
  }

  &-submit {
    cursor: pointer;
    @include txt-font-accent;
    min-width: 45px;
    margin: 0;
    border: 0;
    border-radius: 4px;
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 0;
    color: safeColor('white');
    background: safeColor('blue-ribbon');

    @media (min-width: 600px) {
      min-width: 129px;
      font-size: 16px;
    }

    svg {
      transform: rotate(-90deg);
      height: 20px;
      width: 20px;
      fill: safeColor('white');

      @media (min-width: 600px) {
        display: none;
      }
    }

    &[disabled] {
      background: color('silver');
    }

    &.loading {
      pointer-events: none;

      #{$inputBar}-submit-title {
        font-size: 0;
      }

      svg {
        display: none;
      }
    }

    .#{atom('pixi-analyzing-dots')} {
      font-size: 20px;
    }
  }

  &-label {
    @include txt;
    @include txt-2;
    display: block;
    padding-left: 25px;
    color: color('red');
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.2s ease;

    &:before {
      content: "\00a0";
    }
  }

  &.error {
    #{$inputBar} {
      &-textbox:after {
        opacity: 1;
      }

      &-label {
        opacity: 1;
        transform: translate3d(0, 10px, 0);
      }
    }
  }
}
