/*

#######################
### MOLECULE: jumbo ###
#######################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_headline.scss';
@import 'components/atoms/_icon.scss';

.#{molecule('jumbo')} {
  grid-column: 6 / 20;
  margin-bottom: 1.5em;
  text-align: center;

  @media (min-width: 768px) {
    margin-bottom: 3em;
  }

  .#{atom('ico')} {
    @include ico-4;
    fill: color('blue-ribbon');
    margin: 0 auto 0.5em;
  }

  &-headline {
    @include hl-lrg;
    margin: 0;
  }

  &-subline {
    @include hl-h3;
  }

  &-copy {
    @include txt;
  }
}
