/*

######################
### MOLECULE: jumpto-item ###
######################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';


.#{molecule('jumpto-item')} {
  white-space: nowrap;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: color('alto');
  }

  &:last-child:after {
    display: none;
  }

  &-link {
    @include txt;
    @include txt-font-accent;
    font-size: 0.75em;

    padding: 5px 15px;

    @media (min-width: 768px) {
      @include txt-1;
      padding: 0 30px;
    }

  }

  &:last-child {
    border-right: none;
  }

}
