/*

######################################
### MOLECULES: language-selector #####
######################################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';

.#{molecule('language-selector')} {
  position: relative;
  margin-left: auto;
  margin-right: 80px;
  padding-bottom: 10px;
  display: none;

  @media (min-width: 1024px) {
    margin-right: 0;
    padding-right: 30px;
    display: block;
  }

  &-toggle {
    display: flex;
    align-items: center;
    border: none;
    background: none;
  }

    &-icon {
      width: 10px;
      height: 10px;
      margin-left: 5px;
    }

  &-list {
    list-style: none;
    display: none;
    position: absolute;
    right: 15%;
    margin: 0;
    padding: 2px 8px;
    background: color('white');
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  }

    .ap-m-nav-link {
      display: block;
    }

  /* For when the selector is active */
  &-toggle:focus ~ &-list,
  &-toggle:hover ~ &-list,
  &-list:hover {
      display: block;
  }

  .mainmenuopen & {
    display: block;
  }
}
