/*

###########################
### MOLECULE: mini-card ###
###########################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

.#{molecule('mini-card')} {
  align-items: center;
  background: color('white');
  display: flex;
  flex-direction: row;
  font-weight: normal;
  padding: 8px;
  position: relative;
  box-shadow: 0 5px 15px -3px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);

  @include txt;

  amp-img {
    width: 35px;
    display: inline-block;
    border: 1px solid color('athens-gray');
    border-radius: 100%;
    &.large {
      width: 38px;
      flex-shrink: 0;
    }
  }

  span {
    padding-left: 8%;
    // just for the case if the small mini-card item gets two lines
    line-height: 1.3em;
  }

  strong  {
    @include txt-strong;
  }

  @media (max-width: 374px) {
    font-size: .75em;
  }
}
