@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('pixi-primary-metric')} {
  $primary-metric: &;
  padding: 15px 20px;
  background-color: safeColor('white');

  @media (min-width: 768px) {
    padding: 15px 15px 15px 25px;
  }

  @media (min-width: 1024px) {
    padding: 35px 25px 35px 35px;
  }

  & + & {
    border-top: solid 1px color('mercury');
  }

  &:nth-child(2) {
    transition-delay: 80ms;
  }

  &:nth-child(3) {
    transition-delay: 160ms;
  }

  &-header {
    display: flex;
    justify-content: space-between;

    &-title {
      margin-top: 0;
      font-size: 24px;
      line-height: 1.4;

      @media (min-width: 768px) {
        width: 40%;
        font-size: 28px;
      }

      &-full {
        display: inline-block;

        &:after {
          content: "|";
          margin: 0 5px;
        }
      }

      &-id {
        display: inline-block;

        &:after {
          display: block;
          content: "";
        }
      }

      &-status {
        display: block;
        color: safeColor('oslo-gray');

        .fast & {
          color: safeColor('apple');
        }

        .average & {
          color: safeColor('clementine');
        }

        .slow & {
          color: safeColor('guardsman-red');
        }
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &-result {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      font-size: 14px;
      line-height: 1.8;

      @media (min-width: 768px) {
        width: 40%;
        margin-right: 20px;
      }

      a,
      svg {
        white-space: nowrap;
        transition: opacity 0.3s ease;

        .fast &,
        .average &,
        .slow & {
          opacity: 1;
        }
      }

      svg {
        display: none;
        width: 11px;
        height: 11px;
        fill: currentcolor;

        .has-status & {
          display: inline;
        }
      }

      [role="button"] {
        cursor: pointer;
      }

      #{$primary-metric}-score {
        .fast & {
          font-weight: bold;
          color: safeColor('apple');
        }

        .average & {
          font-weight: bold;
          color: safeColor('clementine');
        }

        .slow & {
          font-weight: bold;
          color: safeColor('guardsman-red');
        }
      }
    }
  }

  .error & {
    border-top-color: transparent;

    & > div {
      opacity: 0;
    }
  }
}
