@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('pixi-primary-metric')} {
  $primary-metric: &;
  padding: 15px 20px;
  background-color: color('white');

  @media (min-width: 768px) {
    padding: 15px 25px;
  }

  @media (min-width: 1024px) {
    padding: 35px;
  }

  & + & {
    border-top: solid 2px color('mercury');
  }

  &:nth-child(2) {
    transition-delay: 80ms;
  }

  &:nth-child(3) {
    transition-delay: 160ms;
  }

  &-header {
    display: flex;
    justify-content: space-between;

    &-title {
      margin-top: 0;
      font-size: 24px;
      line-height: 1.4;

      @media (min-width: 768px) {
        width: 40%;
        font-size: 28px;
      }

      &-full {
        display: inline-block;

        &:after {
          content: "|";
          margin: 0 5px;
        }
      }

      &-id {
        display: inline-block;

        &:after {
          display: block;
          content: "";
        }
      }

      &-status {
        display: block;
        color: color('silver');

        .fast & {
          color: color('malachite');
        }

        .average & {
          color: color('buttercup');
        }

        .slow & {
          color: color('red');
        }
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    &-result {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      line-height: 1.8;

      @media (min-width: 768px) {
        width: 40%;
        margin-right: 20px;
      }

      span {
        white-space: nowrap;
        opacity: 0.3;
        transition: opacity .3s ease;

        .fast &,
        .average &,
        .slow & {
          opacity: 1;
        }
      }

      #{$primary-metric}-score {
        .fast & {
          font-weight: bold;
          color: color('malachite');
        }

        .average & {
          font-weight: bold;
          color: color('buttercup');
        }

        .slow & {
          font-weight: bold;
          color: color('red');
        }
      }
    }
  }
}
