@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('pixi-status-intro')} {
  $status-intro: &;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 280px;

  &-text {
    display: flex;
    padding: 0 15px;
    overflow-x: scroll;

    @media (min-width: 768px) {
      padding: 0;
    }

    &-item {
      flex: 1;
      min-width: 250px;

      & + & {
        margin-left: 30px;
      }

      h4, p {
        color: color('white');
      }
    }
  }

  &-banner {
    position: absolute;
    top: 0;
    left: 15px;
    display: flex;
    width: calc(100% - 30px);
    min-height: 100%;
    padding: 30px 15px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 60px 50px;
    background-color: color('white');
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.3s ease-in-out;

    @media (min-width: 768px) {
      left: 0;
      width: 100%;
      padding: 60px 50px;
    }

    &-icon {
      flex: 1;
      min-width: 40px;
      margin-right: 14px;
      background-repeat: no-repeat;
      background-position-x: center;

      @media (min-width: 768px) {
        max-width: 70px;
        margin-right: 28px;
      }
    }

    h3 {
      margin-top: 0;
    }

    &-ctas {
      display: flex;
      margin-top: 30px;
    }

    .#{atom('btn')} {
      &-light {
        margin-left: 15px;
        color: color('blue-ribbon');
        border: solid 1px color('concrete');
        background-color: color('white');
      }
    }
  }

  &-sharing-dialog {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    background: transparentize(color('black'), 0.2);

    @media (min-width: 768px) {
      justify-content: center;
    }

    &-box {
      position: relative;
      height: 100%;
      width: 90%;
      max-width: 810px;
      padding: 120px 20px;
      border-radius: 4px;
      background: color('white');

      @media (min-width: 768px) {
        height: auto;
        padding: 34px 60px;
      }

      h2 {
        margin-top: 70px;

        @media (min-width: 768px) {
          margin-top: 0px;
        }
      }

      textarea {
        width: 100%;
        resize: none;
        margin: 10px 0 30px;
        padding: 10px 15px;
        border: 1px solid color('sliver');
        border-radius: 4px;
        color: color('river-bed');
        font-family: Noto Sans;
        color: color('gray-chateau');
      }

      &-close {
        position: absolute;
        top: 130px;
        right: 20px;
        height: 22px;
        width: 22px;
        padding: 0;
        border: none;
        -webkit-appearance: none;
        background-color: transparent;

        @media (min-width: 768px) {
          top: 36px;
          right: 25px;
        }

        svg {
          fill: color('blue-ribbon');
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &.fail,
  &.pass {
    #{$status-intro} {
      &-text {
        opacity: 0;
      }
      &-banner {
        pointer-events: all;
        opacity: 1;
        transform: translateY(-6px);
        box-shadow: 0 10px 25px 0 transparentize(color('black'), 0.7);
      }
    }

    h3,
    p {
      color: color('black');
    }
  }

  &.pass {
    #{$status-intro}-banner-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52'%3E%3Cpath fill='%2300CD3C' fill-rule='evenodd' d='M26 0c14.36 0 26 11.64 26 26S40.36 52 26 52 0 40.36 0 26 11.64 0 26 0zm10.424 17.469c-.979-.783-2.447-.783-3.262.156L22.233 29.83l-3.915-4.381c-.815-.939-2.283-1.095-3.262-.157-.979.783-.979 2.348-.163 3.286l5.546 6.26c.326.469.978.782 1.63.782l.196-.01c.586-.054 1.159-.35 1.6-.772l12.722-14.083c.816-.94.816-2.348-.163-3.286z'/%3E%3C/svg%3E");
    }
  }

  &.fail {
    #{$status-intro}-banner-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52'%3E%3Cpath fill='%23EF0000' fill-rule='evenodd' d='M7.615 7.615c10.154-10.153 26.616-10.153 36.77 0 10.153 10.154 10.153 26.616 0 36.77-10.154 10.153-26.616 10.153-36.77 0-10.153-10.154-10.153-26.616 0-36.77zm27.577 5.745L26 22.552l-9.191-9.192-3.448 3.448 9.192 9.191-9.192 9.193 3.448 3.448L26 29.446l9.193 9.194 3.448-3.448L29.447 26l9.193-9.192-3.448-3.448z'/%3E%3C/svg%3E");
    }
  }
}
