@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('tooltip')} {
  $tooltip: &;
  background: red;

  &-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 2px;

    svg {
      width: 100%;
      height: 100%;
      opacity: 0.3;
      transition: opacity .2s ease-in-out;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
  &-tip {
    position: absolute;
    z-index: 934834;
    width: 300px;
    pointer-events: none;
    transform: translateX(-70%);
    background: white;
    border: 1px solid red;
    opacity: 0;

    #{$tooltip}.active & {
      opacity: 1;
      pointer-events: all;
    }
  }
}
