@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('pixi-status-intro')} {
  $status-intro: &;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 280px;
  padding: 0 15px;

  &-text {
    display: flex;
    padding: 0 15px;
    overflow-x: scroll;

    &-item {
      flex: 1;
      min-width: 250px;

      & + & {
        margin-left: 30px;
      }

      h4, p {
        color: color('white');
      }
    }
  }

  &-banner {
    position: absolute;
    top: 0;
    width: calc(100% - 30px);
    min-height: 100%;
    padding: 30px 30px 50px 60px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 60px 50px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;

    h3 {
      color: color('silver');
    }
  }

  &.fail,
  &.pass {
    #{$status-intro} {
      &-text {
        opacity: 0;
      }
      &-banner {
        pointer-events: all;
        background-color: color('white');
        box-shadow: 0 10px 25px 0 transparentize(color('black'), 0.7);
      }
    }

    h3,
    p {
      margin-left: 70px;
      color: color('black');
    }
  }

  &.pass {
    #{$status-intro}-banner {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52'%3E%3Cpath fill='%2300CD3C' fill-rule='evenodd' d='M26 0c14.36 0 26 11.64 26 26S40.36 52 26 52 0 40.36 0 26 11.64 0 26 0zm10.424 17.469c-.979-.783-2.447-.783-3.262.156L22.233 29.83l-3.915-4.381c-.815-.939-2.283-1.095-3.262-.157-.979.783-.979 2.348-.163 3.286l5.546 6.26c.326.469.978.782 1.63.782l.196-.01c.586-.054 1.159-.35 1.6-.772l12.722-14.083c.816-.94.816-2.348-.163-3.286z'/%3E%3C/svg%3E");
    }
  }

  &.fail {
    #{$status-intro}-banner {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52'%3E%3Cpath fill='%23EF0000' fill-rule='evenodd' d='M7.615 7.615c10.154-10.153 26.616-10.153 36.77 0 10.153 10.154 10.153 26.616 0 36.77-10.154 10.153-26.616 10.153-36.77 0-10.153-10.154-10.153-26.616 0-36.77zm27.577 5.745L26 22.551l-9.192-9.19-3.448 3.447 9.193 9.19-9.193 9.194 3.448 3.448L26 29.446l9.192 9.194 3.448-3.448L29.448 26l9.192-9.191-3.448-3.448z'/%3E%3C/svg%3E");
    }
  }
}
