@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('pixi-basic-metric')} {
  $basic-metric: &;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 16px;
  background: color('white');
  border-bottom: solid 2px color('mercury');

  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    width: 24%;
    padding: 25px 15px 25px 25px;
    border-radius: 4px;
    border-bottom: 0;
    box-shadow: 0 10px 25px 0 transparentize(color('black'), 0.87);
  }

  @media (min-width: 1024px) {
    padding: 25px 20px 25px 35px;
  }


  &-title {
    margin: 0;
    font-size: 18px;
  }

  &-status {
    color: color('silver');
  }

  &.passed {
    label {
      color: color('malachite');
    }
  }

  &.failed {
    label {
      color: color('red');
    }
  }
}
