@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';


.#{utility('stage')} {
  .#{organism('stage')} {

    &-content {
      grid-column: 3 / 12;
    }
  }
}

.#{molecule('roadshow-video')} {
  grid-column: 1 / -1;
  position: absolute;
  right: 0;
  top: 5%;
  width: 83%;
  max-width: 360px;

  @media (min-width: 768px) {
    grid-column: 13 / 24;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
  }

  &-notice {
    text-align: center;
    a {
      display: inline-block;
      background: #ffffff6e;
      border-radius: 0.5rem;
      padding: 0.2rem 0.5rem;
      margin-top: 1rem;
    }
  }

  &-block {
    @include roadshow-video-shadow;
    width: 100%;

    @media  (min-width: 768px) {
      margin-top: 75px;
    }
  }

}
