@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

$showTime: 4s;

.#{molecule('rolling-formats')} {
  display: inline-block;
  padding-left: 20px;

  &-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  &-item {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    animation-name: roll;
    animation-duration: $showTime * 4;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;

    @media screen and (min-width: 575px) {
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      margin-left: 0;
    }

    &:nth-child(2) { animation-delay: $showTime * 4 * 1 / 4; }
    &:nth-child(3) { animation-delay: $showTime * 4 * 1 / 2; }
    &:nth-child(4) { animation-delay: $showTime * 4 * 3 / 4; }
  }
}

@keyframes roll {
  0% { opacity: 0; transform: translate3d(0, -70%, 0); }
  2.5%, 25% { opacity: 1; transform: translate3d(0, 0, 0); }
  27.5%, 100% { opacity: 0; transform: translate3d(0, 70%, 0); }
}
