/*

#################################
### MOLECULES: search-trigger ###
#################################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('search-trigger')} {
  padding: 0 20px 9px 0;

  &-close {
    position: absolute;
    right: 2rem;
    top: 10rem;
  }

  &-icon {
    width: 20px;
    height: 20px;
  }
}
