/*

#################################
### MOLECULES: search-trigger ###
#################################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('search-trigger')} {
  margin: 0 20px 9px 0;
  padding: 5px 0;

  .#{organism('header')} & {
    @media (max-width: 1023px) {
      padding: 0;
      display: none;
    }
  }

  &-close {
    position: absolute;
    right: 2rem;
    top: 10rem;
    z-index: 3;

    @media (max-width: 1023px) {
      top: 7.5rem;
      right: 0;
    }
  }

  &-close &-icon {
    @media (max-width: 1023px) {
      width: 15px;
      height: 15px;
    }
  }

  &-icon {
    width: 20px;
    height: 20px;
  }
}
