/*

#################################
### MOLECULES: search-trigger ###
#################################

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

.#{molecule('search-trigger')} {
  margin: 0 20px 9px 0;
  padding: 5px 0;

  .#{organism('header')} & {
      padding: 0;
  }

  &-close {
    position: absolute;
    right: 2rem;
    top: 10rem;
    z-index: 1;
  }

  &-icon {
    width: 20px;
    height: 20px;
  }
}
