/*

#####################
### MOLECULE: table ###
#####################

### INFO:

Markdown generated table.

example markup:

| | Amp | Vue.js | React | Angluar | Misc |
|-|-|-|-|-|-|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|

*/

@import '../../extends';
@import '../../mixins';
@import '../../functions';
@import '../../variables';
@import '../atoms/_color.scss';
@import '../atoms/_text.scss';

table {
  position: relative;
  border-collapse: collapse;
  padding: 0 0 0 20px;
  margin: 0 -20px;
  max-width: calc(100% + 40px);
  display: block;
  overflow-x: scroll;
  @include txt;
  @include txt-2;

  @media screen and (min-width: 768px){
    max-width: 100%;
    padding: 0;
    margin: 1.5em 0 2em;
  }

  th {
    padding: 20px;
    border-bottom: 1px solid color('silver');
  }

}

thead {
  @include txt-strong;

  tr {
    text-align: left;
  }
}

tbody {
  tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.75);
  }

  tr {
    border-bottom: 1px solid color('silver');

    td:nth-child(1) {
      border-right: 1px solid color('silver');
    }
  }

  td {
    padding: 20px;
    text-align: left;
    white-space: nowrap;
    code {
      @include txt-mono-inline;
      @include color-blue-ribbon;
    }
  }
}