/*

#####################
### MOLECULE: table ###
#####################

### INFO:

Markdown generated table.

example markup:

| | Amp | Vue.js | React | Angluar | Misc |
|-|-|-|-|-|-|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|
|Requirement <br/> Lorem ipsum|

*/

@import '../atoms/_color.scss';
@import '../atoms/_text.scss';
@import 'extends';
@import 'mixins';
@import 'functions';
@import 'variables';

table {
  position: relative;
  border-collapse: collapse;
  padding: 0 0 0 20px;
  margin: 1.5em -20px 2em -20px;
  max-width: calc(100% + 40px);
  display: block;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  @include txt;
  @include txt-2;

  @media (min-width: 768px){
    max-width: 100%;
    padding: 0;
    margin: 1.5em 0 2em;
  }
}

thead {
  @include txt-strong;

  tr {
    text-align: left;

    th {
      padding: 20px;
      border-bottom: 1px solid color('silver');
    }
  }
}

tbody {
  tr {
    border-bottom: 1px solid color('silver');

    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.5);

    }

    td:nth-child(1) {
      border-right: 1px solid color('silver');
    }
  }

  td {
    padding: 20px;
    text-align: left;

    @media (orientation: portrait) and (max-width: 575px) {
      min-width: 40vw;

      &:last-child {
        min-width: 80vw;
      }
    }

    code {
      @include txt-mono-inline;
      @include color-blue-ribbon;
    }
  }
}
