/*

################################
### ORGANISM: teaser example ###
################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import 'teaser';

.#{molecule('teaser-example')} {
	&.#{molecule('teaser')} {
		@include teaser;
	}

	.#{molecule('teaser')} {

		&-linking {
			@include teaser-linking;
			height: 100%;

			&:hover {
				@include teaser-linking-hover;

				.#{molecule('teaser')}  {
					&-card {
						@include teaser-card-hover;
					}

					&-tags {
						animation: 0.3s ease-out forwards toggleTags;
					}

					&-content {
						position: static;

						&-hover {
							top: 0;
							transition: top 0.3s;
						}
					}
				}
			}
		}

		@keyframes toggleTags {
			0%, 50% { visibility: hidden; transform: translateY(-100%); }
			100% { visibility: visible; transform: translateY(0); }
		}

		&-tags {
			font-size: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 3;
		}

		&-card {
			@include teaser-card;
			height: 100%;
			border-radius: 0;
		}

		&-header {
			@include teaser-header;

			&-icon {
				@include teaser-header-icon;
			}
		}

		&-content {
			@include teaser-content;
			position: relative;

			&-hover{
				position: absolute;
				display: flex;
				flex-direction: column;
		    top: 100%;
		    left: 0;
		    height: 100%;
		    width: 100%;
		    background-color: color('white');
				z-index: 2;
				transition: top 0.3s;

				& > h5 {
					padding-left: 25px;
					color: color('mine-shaft');
				}

				& > a {
					padding: 25px;
					margin-top: auto;
				}

				&-list {
					list-style: none;
					padding: 0px 25px;
					display: grid;
					grid-template-columns: auto auto;
					grid-column-gap: 10px;

					&-item {

						&-link {
							font-weight: normal;
							color: color('black');
						}
					}
				}
			}
		}

		&-image {
			@include teaser-image;
		}

		&-headline {
			@include teaser-headline;
			margin-bottom: 0.65em;
		}

		&-copy {
			@include teaser-copy;
		}

		&-info {
			color: color('black');
			padding-left: 25px;
			border-top: solid 1px color('silver');
		}
	}
}
