/*

#################################
### ORGANISM: teaser template ###
#################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import 'teaser';

.#{molecule('teaser-template')} {
  &.#{molecule('teaser')} {
    @include teaser;

    & > a {
      @include teaser-linking;

      &:hover {
        @include teaser-linking-hover;

        .#{molecule('teaser')}-card {
          @include teaser-card-hover;
        }
      }
    }
  }

  .#{molecule('teaser')} {
    &-tag {
      @include teaser-tag;
    }

    &-card {
      @include teaser-card;
    }

    &-content {
      @include teaser-content;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      flex-direction: row;

      a:first-child {
        display: flex;
        align-items: center;
        width: 100%;
      }
      a {
        margin: 0 5px;
      }

      .#{atom('ico')} {
        height: 25px;
        width: 25px;
        fill: color('blue-ribbon');
      }
    }

    &-image {
      @include teaser-image;
    }

    &-headline {
      @include teaser-headline;
    }
  }
}
