/*

##################################
### ORGANISM: teaser component ###
##################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import 'teaser';

.#{molecule('teaser-component')} {
	&.#{molecule('teaser')} {
		@include teaser;

		& > a {
			@include teaser-linking;
			height: 100%;

			&:hover {
				@include teaser-linking-hover;

				.#{molecule('teaser')}-card {
					@include teaser-card-hover;
				}
			}
		}
	}

	.#{molecule('teaser')} {
		&-tags {
			font-size: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		&-card {
			@include teaser-card;
			height: 100%;
			border-radius: 0;
		}

		&-header {
			@include teaser-header;
			height: 90px;

			&-title {
				@include teaser-header-title;
        font-weight: bold;
			}
		}

		&-content {
			@include teaser-content;
		}

		&-image {
			@include teaser-image;
		}

		&-headline {
			@include teaser-headline;
			margin-bottom: 0.65em;
		}

		&-copy {
			@include teaser-copy;
		}
	}
}
