/*

#####################
### MOLECULE: tip ###
#####################

### INFO:

The tip molecule includes headline and text atoms.
It has 4 different modifiers for different use-cases.

### MODIFIERS:

default
	Green border on the right and triangle outside the lower left corner.

note
	Blue border on the right and triangle inside the lower right corner.

important
	Red border on the right and cutted triangles inside the left corners.

read-on
	Yellow border on the right and ribbon shape outside the lower right corner.

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_icon.scss';

$cornerSize: 40px;
$borderSize: 5px;

%pseudo-base {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
}

.#{molecule('tip')} {
  width: 100%;
  height: auto;
  position: relative;
  padding: $cornerSize/2 ($cornerSize - 10px);
  margin-bottom: 50px;
  background-color: color('white');
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);

  code {
    white-space: normal;
  }

  &-content {
    h4 {
      @include txt-1;
      margin: 0 0 0.75em;
    }

    p,
    ul,
    ol {
      @include txt-2;

      &:first-child {
        margin-top: 0;
      }
    }

  }

  &-icon {
    @include ico;
    @include ico-1;
    float: left;
    margin-right: 5px;
  }

  &-default {
    border-right: $borderSize solid color('malachite');
    border-radius: 0 $borderSize $borderSize 0;
    word-break: break-word;
    margin: 50px 0 0 0;

    &:before {
      @extend %pseudo-base;
      left: 0;
      bottom: 100%;
      border-bottom: ($cornerSize/1.6) solid white;
      border-right: ($cornerSize/1.6) solid transparent;
      border-left: 0 solid white;
    }
  }

  &-info {
    margin: 30px 0 0 0;
    padding: 24px 20px;
    border-radius: 4px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.07);

    @media (min-width: 768px) {
      margin: 40px 0 0 0;
      padding: 27px 30px;
    }

    .#{molecule('tip')} {
      &-content {
        display: flex;

        &:before {
          content: '';
          flex: 0 0 auto;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 13px;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='42'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='83.165%25' x2='18.727%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%2300DCC0'/%3E%3Cstop offset='100%25' stop-color='%230388F7'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23a)' fill-rule='evenodd' d='M21 0c11.598 0 21 9.402 21 21s-9.402 21-21 21S0 32.598 0 21 9.402 0 21 0zm-.036 17.997a2.427 2.427 0 00-2.427 2.426v9.614a2.426 2.426 0 004.853 0v-9.614a2.426 2.426 0 00-2.426-2.426zm0-8.481a2.916 2.916 0 10-.002 5.832 2.916 2.916 0 00.002-5.832z'/%3E%3C/svg%3E");

          @media (min-width: 768px) {
            width: 42px;
            height: 42px;
            margin-right: 23px;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &-note {
    width: calc(100% - #{$cornerSize});

    &:before {
      @extend %pseudo-base;
      left: 100%;
      bottom: 0;
      border-top: $cornerSize solid color('blue-ribbon');
      border-left: 0px solid color('blue-ribbon');
      border-right: $cornerSize solid transparent;
    }

    &:after {
      @extend %pseudo-base;
      width: $cornerSize - $borderSize;
      height: calc(100% - #{$cornerSize});
      left: 100%;
      top: 0;
      background-color: color('white');
      border-right: $borderSize solid color('blue-ribbon');
      border-radius: 0 $borderSize 0 0;
    }
  }

  &-important {
    width: calc(100% - #{$cornerSize/2});
    margin-left: $cornerSize/2;
    padding-left: ($cornerSize/2 - 10px);
    border-right: $borderSize solid color('red');
    border-radius: 0 $borderSize $borderSize 0;

    h4 {
      color: color('red')
    }

    p {
      margin-top: 0;
    }

    .#{molecule('tip')} {
      &-content:before {
        @extend %pseudo-base;
        width: $cornerSize/2;
        height: calc(100% - #{$cornerSize});
        right: 100%;
        top: $cornerSize/2;
        background-color: color('white');
      }

      &-icon {
        fill: red;
      }
    }

    &:before,
    &:after {
      @extend %pseudo-base;
      right: 100%;
      top: 0;
      border-top: $cornerSize/2 solid transparent;
      border-left: 0px solid transparent;
      border-right: $cornerSize/2 solid white;
    }

    &:after {
      top: auto;
      bottom: 0;
      border-top: none;
      border-bottom: $cornerSize/2 solid transparent;
      border-left: 0px solid transparent;
      border-right: $cornerSize/2 solid white;
    }
  }

  &-read-on {
    border-right: $borderSize solid color('turbo');
    border-radius: 0 $borderSize 0 0;

    &:before,
    &:after {
      @extend %pseudo-base;
      top: 100%;
      right: -$borderSize;
      border-top: $cornerSize solid color('turbo');
      border-left: 0px solid color('turbo');
      border-right: $cornerSize solid transparent;
    }

    &:after {
      border-top: $cornerSize solid color('turbo');
      border-right: 0px solid color('turbo');
      border-left: $cornerSize solid transparent;
    }
  }
}
