/*

##############################
### MOLECULE: window frame ###
##############################

### INFO:

The window frame molecule imitates the window of a desktop device and can contain an image or video. It uses the typical UI elements like buttons and a title to improve the look and feel.

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color';
@import '../atoms/_text';

.#{molecule('window-frame')} {
  @include river-ebony;

  padding: 1rem;
  position: relative;
  box-shadow: shadows('drop');

  border-top: 1rem solid color('mirage');
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &:before {
    @include txt();
    @include txt-3();
    @include txt-center();
    @include txt-mono();

    background-image: radial-gradient(circle at center, color('white') 5px, transparent 5px), radial-gradient(circle at center, color('white') 5px, transparent 5px), radial-gradient(circle at center, color('white') 5px, transparent 5px);
    background-position: 0.15rem, 1.15rem, 2.15rem;
    background-repeat: no-repeat;
    background-size: 1rem, 1rem, 1rem;
    border-top-left-radius:  calc(1rem/4);
    border-top-right-radius: calc(1rem/4);
    color: color('white');
    content: attr(data-title);
    height: 1rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: -1rem;
    width: 100%;
    z-index: 2;
  }
}
