<section id="input-bar" class="ap-m-input-bar">
  <div class="ap-m-input-bar-container">
    <div class="ap-m-input-bar-textbox">
      <input id="input-field" class="ap-m-input-bar-textbox-field" type="url" name="url" placeholder="{{ _('Enter your URL') }}" value="[= query.url =]">
    </div>
    <button id="input-submit" class="ap-m-input-bar-submit" name="button">
      {{ _('Analyze') }}
      {% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use>
      </svg>
    </button>
  </div>
  <label class="ap-m-input-bar-label">&nbsp;</label>
</section>
