<div id="{{ primary_metric.id }}" class="ap-t-pixi-checks-primary-metric">
  <h3 class="ap-t-pixi-checks-primary-metric-header">
    <div class="ap-t-pixi-checks-primary-metric-header-full">
      {{ primary_metric.title.full }}
    </div>
    <div class="ap-t-pixi-checks-primary-metric-header-id">
      {{ primary_metric.title.id }}
    </div>
    <div class="ap-t-pixi-checks-primary-metric-header-status">
      {{ _('Analyzing') }} ...
    </div>
  </h3>
  <div class="ap-t-pixi-checks-primary-metric-graph">
    <aside class="ap-t-pixi-checks-primary-metric-graph-indicator">
      <span></span>
    </aside>
    <div class="ap-t-pixi-checks-primary-metric-graph-bar">
      <span>2.5 sec</span>
      <span>4.0 sec</span>
    </div>
  </div>
  <div class="ap-t-pixi-checks-primary-metric-info">
    <div>
      {{ _('Opportunity to improve') }}:
      <span>{{ _('Calculating') }}</span>
    </div>

    <div>
      {{ _('Take action') }}:
      <span>{{ _('Analyzing') }}</span>
    </div>
  </div>
</div>
