{% do doc.styles.addCssFile('css/components/organisms/pixi-primary-checks.css') %}

<div class="ap-o-pixi-primary-checks" id="core-web-vitals">
  <div class="ap-o-pixi-primary-checks-tabs">
    <button class="ap-o-pixi-primary-checks-tabs-tab active">
      {{ _('Field data') }}
    </button>
    <button class="ap-o-pixi-primary-checks-tabs-tab">
      {{ _('Lab data') }}
    </button>
  </div>

  <div class="ap-o-pixi-primary-checks-data active">
    {% with primary_metric = {
      'id': 'fieldData.lcp',
      'title': {
        'full': _('Loading speed'),
        'id': 'LCP'
      },
      'scale': 'simple',
      'tooltip': 'Loading speed is measured by Largest Contentful Paint (LCP), the metric reporting the render time of the largest image or text block visible within the first viewport. <a href="https://web.dev/lcp/" rel="noopener" target="_blank">Learn more.</a>.'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'fieldData.fid',
      'title': {
        'full': _('Interactivity'),
        'id': 'FID'
      },
      'scale': 'simple',
      'tooltip': 'Interactivity is measured by First Input Delay (FID), the metric reporting the time from when a user interacts with a page, such as tapping a button, to when the browser is able to process that event. <a href="https://web.dev/fid/" rel="noopener" target="_blank">Learn more.</a>.'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'fieldData.cls',
      'title': {
        'full': _('Visual stability'),
        'id': 'CLS'
      },
      'scale': 'simple',
      'tooltip': 'Visual stability is measured by Cumulative Layout Shift (CLS), the metric reporting the layout shift scores during the lifespan of a page. Each time a visible element changes its position unexpectedly, the page\'s layout shift score worsens. <a href="https://web.dev/cls/" rel="noopener" target="_blank">Learn more.</a>.'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}
  </div>

  <div class="ap-o-pixi-primary-checks-data">
    {% with primary_metric = {
      'id': 'labData.lcp',
      'title': {
        'full': _('Loading speed'),
        'id': 'LCP'
      },
      'scale': 'weighted',
      'tooltip': 'Loading speed is measured by Largest Contentful Paint (LCP), the metric reporting the render time of the largest image or text block visible within the first viewport. <a href="https://web.dev/lcp/" rel="noopener" target="_blank">Learn more.</a>.'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'labData.fid',
      'title': {
        'full': _('Interactivity'),
        'id': 'TBT'
      },
      'scale': 'weighted',
      'tooltip': 'Interactivity is measured in lab environemtns by Total Blocking Time (TBT). This lab metric reports the load responsiveness and helps quantify the severity of how non-interactive a page is prior to it becoming reliably interactive. <a href="http://web.dev/tbt" rel="noopener" target="_blank">Learn more.</a>.'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'labData.cls',
      'title': {
        'full': _('Visual stability'),
        'id': 'CLS'
      },
      'scale': 'weighted',
      'tooltip': 'Visual stability is measured by Cumulative Layout Shift (CLS), the metric reporting the layout shift scores during the lifespan of a page. Each time a visible element changes its position unexpectedly, the page\'s layout shift score worsens. <a href="https://web.dev/cls/" rel="noopener" target="_blank">Learn more.</a>.'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}
  </div>
</div>
