{% do doc.styles.addCssFile('css/components/organisms/pixi-primary-checks.css') %}

<div class="ap-o-pixi-primary-checks" id="core-web-vitals">
  <div class="ap-o-pixi-primary-checks-tabs">
    <button class="ap-o-pixi-primary-checks-tabs-tab active">
      {{ _('Field data') }}
    </button>
    <button class="ap-o-pixi-primary-checks-tabs-tab">
      {{ _('Lab data') }}
    </button>
  </div>

  <div class="ap-o-pixi-primary-checks-data active">
    {% with primary_metric = {
      'id': 'fieldData.lcp',
      'title': {
        'full': _('Loading speed'),
        'id': 'LCP'
      },
      'scale': 'simple'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'fieldData.fid',
      'title': {
        'full': _('Interactivity'),
        'id': 'FID'
      },
      'scale': 'simple'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'fieldData.cls',
      'title': {
        'full': _('Visual stability'),
        'id': 'CLS'
      },
      'scale': 'simple'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    <div class="ap-o-pixi-primary-checks-data-error-label">
      <label>{{ _('Unfortunately, we do not have sufficient real-world performance data for this page. Please have a look at the lab data or come back later in a view days.') }}</label>
    </div>

  </div>

  <div class="ap-o-pixi-primary-checks-data">
    {% with primary_metric = {
      'id': 'labData.lcp',
      'type': '-lab',
      'title': {
        'full': _('Loading speed'),
        'id': 'LCP'
      },
      'scale': 'weighted'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'labData.tbt',
      'type': '-lab',
      'title': {
        'full': _('Interactivity'),
        'id': 'TBT'
      },
      'scale': 'weighted'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}

    {% with primary_metric = {
      'id': 'labData.cls',
      'type': '-lab',
      'title': {
        'full': _('Visual stability'),
        'id': 'CLS'
      },
      'scale': 'weighted'
    } %}
    {% include 'views/partials/pixi/primary-metric.j2' %}
    {% endwith %}
  </div>
</div>
