{% do doc.styles.addCssFile('css/components/molecules/pixi-recommendations-item.css') %}

<div class="ap-m-pixi-recommendations-item" style="display: none;">
  <header class="ap-m-pixi-recommendations-item-header"
      role="button"
      tabindex="0"
      aria-expanded="false">
    <div class="ap-m-pixi-recommendations-item-header-title"></div>
    <div class="ap-m-pixi-recommendations-item-header-toggle">
    </div>
  </header>
  <div class="ap-m-pixi-recommendations-item-body">
    <div class="ap-m-pixi-recommendations-item-body-text" role="region">
    </div>
    <a class="ap-m-lnk ap-m-lnk-square">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/external.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
      </div>
      <span class="ap-m-lnk-text">{{ pixi.staticText.recommendations.nextAdvice }}</span>
    </a>
  </div>

  <footer class="ap-m-pixi-recommendations-item-tags">
    <span></span>
  </footer>
</div>
