{% do doc.styles.addCssFile('css/components/organisms/pixi-recommendations.css') %}

<section id="recommendations" class="ap-o-pixi-recommendations pristine">
  <h2>Take action. Improve your AMP site</h2>
  {% include 'views/partials/pixi/recommendations-item.j2' %}
</section>
