{% do doc.styles.addCssFile('css/components/molecules/pixi-recommendation.css') %}

<div id="recommendation-xx" class="ap-m-pixi-recommendation">
  <header class="ap-m-pixi-recommendation-header"
      on="tap:recommendation-xx.toggleClass(class=expanded)"
      role="button">
    <h3>Lorem ipsum dolor sit amet</h3>
    <div class="ap-a-ico ap-m-lnk-icon">
      {% do doc.icons.useIcon('icons/angle-down-solid.svg') %}
      <svg class="ap-t-roadmap-list-item-issue-header-toggle"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down-solid"></use></svg>
    </div>
  </header>
  <div class="ap-m-pixi-recommendation-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <footer class="ap-m-pixi-recommendation-footer">
    <span>FID</span><span>LCP</span>
  </footer>
</div>
