{% do doc.styles.addCssFile('css/components/molecules/pixi-recommendations-item.css') %}

<div class="ap-m-pixi-recommendations-item" style="display: none;">
  <header class="ap-m-pixi-recommendations-item-header" role="button">
    <div  class="ap-m-pixi-recommendations-item-header-title"></div>
    <div class="ap-m-pixi-recommendations-item-header-toggle">
    </div>
  </header>
  <div class="ap-m-pixi-recommendations-item-body">
  </div>
  <footer class="ap-m-pixi-recommendations-item-tags">
    <span></span>
  </footer>
</div>
