{% do doc.styles.addCssFile('css/components/organisms/pixi-recommendations.css') %}

<section id="recommendations" class="ap-o-pixi-recommendations pristine">
  <h2>Take action. Improve your AMP site</h2>
  <div class="ap-o-pixi-recommendations-skeleton">
    <h3>Wait a moment. The recommendations are shown once the analyses have been completed …</h3>
  </div>
  {% include 'views/partials/pixi/recommendations-item.j2' %}
</section>
