{% do doc.styles.addCssFile('css/components/molecules/pixi-recommendations-item.css') %}

<div class="ap-m-pixi-recommendations-item" style="display: none;">
  <div class="ap-m-pixi-recommendations-item-box">
    <button class="ap-m-pixi-recommendations-item-header" aria-expanded="false">
      <div class="ap-m-pixi-recommendations-item-header-title"></div>
      <div class="ap-m-pixi-recommendations-item-header-toggle">
      </div>
    </button>
    <div class="ap-m-pixi-recommendations-item-body" role="region">
      <div class="ap-m-pixi-recommendations-item-body-text">
      </div>
      <a class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon"></div>
        <span class="ap-m-lnk-text">{{ pixi.staticText.recommendations.nextAdvice }}</span>
      </a>
    </div>
    <footer class="ap-m-pixi-recommendations-item-tags">
      <span></span>
    </footer>
  </div>
</div>
