{% do doc.styles.addCssFile('css/components/atoms/pixi-scale.css') %}
<div class="ap-a-pixi-scale">

    {% if scale != 'weighted' %}
    <label class="ap-a-pixi-scale-label">{{ _('Page loads rating')}}</label>

    <div class="ap-a-pixi-scale-chart">
      <div class="ap-a-pixi-scale-chart-bar" data-type="fast">
        <span>&nbsp;</span>
      </div>
      <aside class="ap-a-pixi-scale-chart-pitch">
        75th percentile
      </aside>
    </div>
    {% endif %}


    {% if scale == 'weighted' %}
    <label class="ap-a-pixi-scale-label">&nbsp;</label>

    <div class="ap-a-pixi-scale-chart weighted">
      <div class="ap-a-pixi-scale-chart-bar" data-type="average">
        <span>&nbsp;</span>
      </div>
      <div class="ap-a-pixi-scale-chart-bar" data-type="fast">
        <span>&nbsp;</span>
      </div>
      <aside class="ap-a-pixi-scale-chart-indicator">
        &nbsp;
      </aside>
    </div>
    {% endif %}


</div>
