{% do doc.styles.addCssFile('css/components/atoms/pixi-scale.css') %}
<div class="ap-a-pixi-scale">
  <aside class="ap-a-pixi-scale-indicator">
    <span class="ap-a-pixi-scale-value">33%</span>
  </aside>

  <div class="ap-a-pixi-scale-bar">
    <div class="ap-a-pixi-scale-bar-positive"></div>
    <div class="ap-a-pixi-scale-bar-negative"></div>
  </div>

  <div class="ap-a-pixi-scale-pitch">
    <div class="ap-a-pixi-scale-pitch-line-positive">33%</div>
    <div class="ap-a-pixi-scale-pitch-line-negative">66%</div>
  </div>
</div>
