{% do doc.styles.addCssFile('css/components/molecules/pixi-status-intro.css') %}

<section id="status-intro" class="ap-m-pixi-status-intro">
  <div class="ap-m-pixi-status-intro-text">
    <div class="ap-m-pixi-status-intro-text-item">
      <h3>Why is it important</h3>
      <p>Web Vitals is an initiative by Google to provide unified guidance for quality signals that are essential to delivering a great user experience on the web.</p>
    </div>
    <div class="ap-m-pixi-status-intro-text-item">
      <h3>The checks</h3>
      <p>Talk about which checks will be done.  Lorem ipsum dolor sit amet, consectetur adip iscing elit, sed do eiusmod tempor inci didunt ut labore et dolore magna aliqua eres est.</p>
    </div>
    <div class="ap-m-pixi-status-intro-text-item">
      <h3>The recommendations</h3>
      <p>That recommendations will come up Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
  <div id="status-intro-banner-loading" class="ap-m-pixi-status-intro-banner">
    <div class="ap-m-pixi-status-intro-banner-icon"></div>
    <div>
      <h3>Please wait a moment<br>We are currently analyzing your page{% include 'views/partials/pixi/analyzing-dots.j2' %}</h3>
      <p><span id="finished-checks">0</span> out of <span id="total-checks">0</span> checks are completed</p>
      <div class="ap-m-pixi-status-intro-banner-ctas">
        <button class="ap-a-btn"
            on="tap:recommendations.scrollTo(duration=400)"
            type="button"
            name="button">
          {{ _('Fix it now') }}
        </button>
        <button class="ap-a-btn ap-a-btn-light"
            on="tap:share-dialog"
            type="button"
            name="button">
          {{ _('Share') }}
        </button>
      </div>
    </div>
  </div>
</section>
