{% do doc.styles.addCssFile('css/components/molecules/pixi-tooltip.css') %}

<div class="ap-m-tooltip" role="button">
  {% do doc.icons.useIcon('icons/questionmark-outline.svg') %}
  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#questionmark-outline"></use></svg>
</div>
