---
$title: AMP - a web component framework to easily create user-first web experiences
$view: /views/2021/base.html
$titles:
  navigation: Start
description: 'Whether you are a publisher, e-commerce company, storyteller, advertiser or email sender, AMP makes it easy to create great experiences on the web. Use AMP to build websites, stories, ads and emails.'

format_explainer:
  - name: websites
    headline: AMP Websites
    description: "Easily create websites with a great page experience out-of-the-box using AMP’s ready-to-go web components."
    link: "All about AMP Websites"
    cta: "Get started"
    url: /about/websites.html
  - name: stories
    headline: Web Stories
    description: "Immerse readers in visual and tappable stories they can share anywhere on the open web."
    link: "All about Web Stories"
    url: /about/stories.html
  - name: email
    headline: AMP Emails
    description: "Send emails of the future with personalized dynamic content and interactive elements that engage readers."
    link: "All about AMP Emails"
    url: /about/email.html
  - name: ads
    headline: AMP Ads
    description: "Serve lightning fast and secure eye-catching creatives."
    link: "All about AMP Ads"
    url: /about/ads.html

success_stories:
  - !g.doc /content/amp-dev/about/success-stories/washingtonpost.yaml
  - !g.doc /content/amp-dev/about/success-stories/teads.yaml
  - !g.doc /content/amp-dev/about/success-stories/carved.yaml
  - !g.doc /content/amp-dev/about/success-stories/wompmobile.yaml
---

<main class="ap--main">
  <section class="ap-home-stage">
    <div class="ap-home-stage-logo">
      {% do doc.icons.useIcon('icons/logo-outline.svg') %}
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-outline"></use>
      </svg>
    </div>
    <div class="ap-home-stage-text">
      <h1>{{ _('AMP is a web component framework to easily create user-first experiences for the web.') }}</h1>
    </div>
  </section>
  <section class="ap-formats ap-section --fullscreen">
    <aside class="ap-formats-navigation">
      <div class="ap-formats-navigation-wrapper">
        {% for format in doc.format_explainer %}
        <amp-animation id="switchIcon-{{ format.name }}" layout="nodisplay">
          <script type="application/json">
            {
              "duration": "500ms",
                "fill": "both",
                "animations": [
                  {
                      "selector": ".ap-formats-navigation-icon.active.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            },
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            }
                        ]
                    },
                    {
                      "selector": ".ap-formats-navigation-icon.inactive.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            },
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            }
                        ]
                    }
                ]
            }
          </script>
        </amp-animation>
        <div class="ap-formats-navigation-icon-wrapper">
          <div class="ap-formats-navigation-icon inactive {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
          <div class="ap-formats-navigation-icon active {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
        </div>
        {% endfor %}
      </div>
    </aside>
    {% set initial_format = doc.format_explainer[0].name -%}
    {% for format in doc.format_explainer %}
    <div class="ap-formats-format {{ format.name }}{% if format.name == initial_format %} initial{% endif %}">
      <amp-position-observer on="enter:switchIcon-{{ format.name }}.start;exit:switchIcon-{{ format.name }}.start,switchIcon-{{ format.name }}.reverse" intersection-ratios="0.9" layout="nodisplay">
      </amp-position-observer>
      <div class="ap-formats-background">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
      </div>
      <div class="ap-formats-format-content">
        {% do doc.icons.useIcon('/icons/amp-' + format.name + '.svg') %}
        <div class="ap-formats-logo">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
        </div>
        <h2>{{ _(format.headline) }}</h2>
        <p>{{ _(format.description) }}</p>
        {% if format.cta %}
          <a href="documentation/index.html" class="ap-button --inverted cta">{{ _(format.cta) }}</a>
          <a href="{{ format.url }}" class="ap-m-lnk">
            <div class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">{{ _(format.link) }}</span>
          </a>
        {% else %}
          <a href="{{ format.url }}" class="ap-button {% if not format.cta %}--inverted{% endif %}">{{ _(format.link) }}</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </section>

  <section class="ap-intro ap-section --col-left">
    <h1>{{ _('The latest news') }}</h1>
    <p>{{ _('Don\'t want to miss any of the great stuff that happens around AMP? Then always be first in line and subscribe to our newsletter!') }}</p>
    <a href="https://services.google.com/fb/forms/ampnewsletter-doubleopt-in/" class="ap-m-lnk ap-m-lnk-square">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      </div>
      <span class="ap-m-lnk-text">{{ _('Subscribe') }}</span>
    </a>
  </section>
  <section class="ap-section --fullscreen">
    [% set posts = []|importBlog %]
    [% if posts|length %]
    <div class="ap-teaser-carousel --news">
      <div class="ap-teaser-carousel-container">
        <amp-base-carousel
          id="teaser-carousel-news"
          height="573"
          layout="fixed-height"
          role="region"
          visible-count="(min-width: 1440px) 3, (min-width: 768px) 2, 1"
          aria-label="{{ _('News') }}"
          on="slideChange:teaser-carousel-pagination-news.toggle(index=event.index, value=true)">
          [% for post in posts %]
          {% set teaser_doc = {
            'type': 'news',
            'title': '[= post.title =]',
            'image': '[= post.image =]',
            'url': '[= post.url =]',
            'headline': '[= post.headline =]',
            'date': '[= post.date =]'
          } %}
          {% include '/views/2021/partials/teaser.j2' %}
          [% endfor %]
          <button slot="next-arrow"></button>
          <button slot="prev-arrow"></button>
        </amp-base-carousel>
      </div>
      <div class="ap-teaser-carousel-controls --prev">
        <button on="tap: teaser-carousel-news.prev()" class="amp-carousel-button amp-carousel-button-prev" aria-label="Previous"></button>
      </div>
      <div class="ap-teaser-carousel-controls --next">
        <button on="tap: teaser-carousel-news.next()" class="amp-carousel-button amp-carousel-button-next" aria-label="Next"></button>
      </div>
      <amp-selector class="ap-teaser-carousel-pagination" id="teaser-carousel-pagination-news" layout="container" on="select: teaser-carousel-news.goToSlide(index=event.targetOption)">
        [% for post in posts %]
          <div class="ap-teaser-carousel-pagination-item" option="[= loop.index0 =]" [% if loop.index0 == 0 %]selected[% endif %]></div>
        [% endfor %]
      </amp-selector>
    </div>
    [% endif %]
  </section>

  <section class="ap-intro ap-section --col-right">
    <h1>{{ _('Explore AMP<br/> success stories') }}</h1>
    <p>{{ _('Don’t take our word for it - read case studies from industry success stories and see how AMP has produced positive results.') }}</p>
    <a href="about/success-stories/index.html" class="ap-m-lnk ap-m-lnk-square">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      </div>
      <span class="ap-m-lnk-text">{{ _('See all success stories') }}</span>
    </a>
  </section>
  
  {% set slider_id = 'success-stories' %} 
  {% set teaser_docs = doc.success_stories %} 
  {% include '/views/2021/partials/teaser-slider.j2' %}
</main>