---
$title: Start
$view: /views/custom.j2

news:
  - title: News
    headline: A year of open source funding
    date: January 9, 2019
    url: 'https://amphtml.wordpress.com/2019/01/09/a-year-of-open-source-funding/'
  - title: Announcement
    image: /static/img/news/amp_conf.jpg
    headline: "Announcing AMP Conf 2019: Tokyo"
    date: January 8, 2019
    url: 'https://amphtml.wordpress.com/2019/01/08/announcing-amp-conf-2019-tokyo/'
  - title: News
    image: /static/img/news/laterpay1.jpg
    headline: LaterPay, Lessons Learned
    date:  December 19, 2018
    url: 'https://amphtml.wordpress.com/2018/12/19/laterpay-lessons-learned/'
  - title: News
    headline: Why AddThis chose to integrate with AMP
    date: December 13, 2018
    url: 'https://amphtml.wordpress.com/2018/12/13/why-addthis-chose-to-integrate-with-amp/'

format_explainer:
  websites:
    name: websites
    visual: views/partials/format-visuals/websites.j2
    headline: AMP enables great experiences across many web destinations
    description: Whether used by publishers, ad tech companies or email providers, AMP enables the easy creation of great experiences on the web. By ensuring user experience comes first, developers can rest assured what they create will be compelling and engaging.
    url: /what-is-amp/websites.html
  stories:
    name: stories
    visual: views/partials/format-visuals/stories.j2
    headline: AMP enables great experiences across many stories
    description: Whether used by publishers, ad tech companies or email providers, AMP enables the easy creation of great experiences on stories. By ensuring user experience comes first, developers can rest assured what they create will be compelling and engaging.
    url: /what-is-amp/stories.html
  ads:
    name: ads
    visual: views/partials/format-visuals/ads.j2
    headline: AMP enables great experiences across many ads
    description: Whether used by publishers, ad tech companies or email providers, AMP enables the easy creation of great experiences on ads. By ensuring user experience comes first, developers can rest assured what they create will be compelling and engaging.
    url: /what-is-amp/ads.html
  emails:
    name: emails
    visual: views/partials/format-visuals/email.j2
    headline: AMP enables great experiences across many emails
    description: Whether used by publishers, ad tech companies or email providers, AMP enables the easy creation of great experiences on emails. By ensuring user experience comes first, developers can rest assured what they create will be compelling and engaging.
    url: /what-is-amp/email.html

sampler:
  - title: amp-accordion / 6
    url: /documentation/examples/components/amp-accordion.html/source/6
  - title: amp-accordion / 9
    url: /documentation/examples/components/amp-accordion.html/source/9
  - title: amp-accordion / 12
    url: /documentation/examples/components/amp-accordion.html/source/12
  - title: amp-accordion / 15
    url: /documentation/examples/components/amp-accordion.html/source/18
---
{% do doc.styles.addCssFile('css/components/templates/home.css') %}

<main class="ad--main ad-t-home">
  {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}
  <section class="ad--stage ad--container-fluid">
    <div class="ad-o-stage ad-o-stage-websites">
      <div class="ad--container">
        <div class="ad-o-stage-content">
            <h1 class="ad-o-stage-content-headline">AMP is a web component framework for easily creating user first websites</h1>
        </div>
      </div>
    </div>

    {% include 'views/partials/case-band.j2' %}
  </section>

  <section class="ad--news ad--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/news.css') %}

    <div class="ad-m-copy">
      <h2>The latest News</h2>
      <p>Get the latest news and tips from our newsletter:</p>

      <a href="https://amphtml.wordpress.com/" class="ad-m-lnk ad-m-lnk-square">
        <div class="ad-a-ico ad-m-lnk-icon">
          {% do doc.icons.useIcon('icons/external.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
        </div>
        <span class="ad-m-lnk-text">Read more in our blog</span>
      </a>
    </div>

    <div class="ad-o-news">
      <div class="ad-o-news-list">
        {% for news in doc.news %}
        <a class="ad-o-news-item" href="{{ news.url }}">
          <div class="ad-o-news-card">
            <div class="ad-o-news-title">{{ news.title }}</div>
            <div class="ad-o-news-image">
              {% if news.image %}
              <amp-img
                class="ad--media"
                src="{{ news.image }}"
                layout="responsive"
                width="16"
                height="9">
              </amp-img>
              {% else %}
              <div class="ad-o-news-icon">
                <div class="ad-a-ico">
                  {% do doc.icons.useIcon('icons/news.svg') %}
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#news"></use></svg>
                </div>
              </div>
              {% endif %}
            </div>
            <h5 class="ad-o-news-headline">{{ news.headline }}</h5>
            <div class="ad-o-news-date">{{ news.date }}</div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="ad--format-explainer">
    <div class="ad-o-format-explainer ad--container-fluid">
      <amp-state id="formats">
        <script type="application/json">
          {
            "websites": {
              "headline": "{{ doc.format_explainer.websites.headline }}",
              "description": "{{ doc.format_explainer.websites.description }}",
              "url": "{{ doc.format_explainer.websites.url }}"
            },
            "stories": {
              "headline": "{{ doc.format_explainer.stories.headline }}",
              "description": "{{ doc.format_explainer.stories.description }}",
              "url": "{{ doc.format_explainer.stories.url }}"
            },
            "ads": {
              "headline": "{{ doc.format_explainer.ads.headline }}",
              "description": "{{ doc.format_explainer.ads.description }}",
              "url": "{{ doc.format_explainer.ads.url }}"
            },
            "emails": {
              "headline": "{{ doc.format_explainer.emails.headline }}",
              "description": "{{ doc.format_explainer.emails.description }}",
              "url": "{{ doc.format_explainer.emails.url }}"
            }
          }
        </script>
      </amp-state>

      <amp-animation id="switchFormat" layout="nodisplay">
        <script type="application/json">
          [{
            "duration": "1.5s",
            "delay": "0s",
            "fill": "forwards",
            "easing": "cubic-bezier(0.25, 0.1, 0.25, 1)",
            "iterations": "1",
            "selector": ".ad-o-format-explainer-visual",
            "keyframes": [{
              "opacity": "0",
              "transform": "translateX(-15%)"
            },
            {
              "opacity": "1",
              "transform": "translateX(0%)"
            }]
          }]
        </script>
      </amp-animation>

      <div class="ad-o-format-explainer-visual">
        <div class="ad-o-format-explainer-visual-{{ doc.format_explainer.websites.name }}"
          [hidden]="activeFormat != '{{ doc.format_explainer.websites.name }}'">
          {% include doc.format_explainer.websites.visual %}
        </div>
        <div hidden class="ad-o-format-explainer-visual-{{ doc.format_explainer.stories.name }}"
          [hidden]="activeFormat != '{{ doc.format_explainer.stories.name }}'">
          {% include doc.format_explainer.stories.visual %}
        </div>
        <div hidden class="ad-o-format-explainer-visual-{{ doc.format_explainer.ads.name }}"
          [hidden]="activeFormat != '{{ doc.format_explainer.ads.name }}'">
          {% include doc.format_explainer.ads.visual %}
        </div>
        <div hidden class="ad-o-format-explainer-visual-{{ doc.format_explainer.emails.name }}"
          [hidden]="activeFormat != '{{ doc.format_explainer.emails.name }}'">
          {% include doc.format_explainer.emails.visual %}
        </div>
      </div>

      <div class="ad-o-format-explainer-content ad-m-copy">
        <h2 class="ad-o-format-explainer-headline" [text]="formats[activeFormat].headline">{{ doc.format_explainer.websites.headline }}</h2>
        <p class="ad-o-format-explainer-copy" [text]="formats[activeFormat].description">{{ doc.format_explainer.websites.description }}</p>
      </div>

      <div class="ad-o-format-explainer-navigation">
        <button class="ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.websites.name }} active"
          [class]="activeFormat == '{{ doc.format_explainer.websites.name }}' ? 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.websites.name }} active' : 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.websites.name }}'"
          on="tap:AMP.setState({activeFormat: '{{ doc.format_explainer.websites.name }}'}),switchFormat.restart">
          <div class="ad-o-format-explainer-button-icon ad-a-ico active"
          [class]="activeFormat == '{{ doc.format_explainer.websites.name }}' ? 'ad-o-format-explainer-button-icon ad-a-ico active' : 'ad-o-format-explainer-button-icon ad-a-ico'">
            {% do doc.icons.useIcon('icons/amp-websites.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-websites"></use></svg>
          </div>
          <span class="ad-o-format-explainer-button-text">AMP {{ doc.format_explainer.websites.name }}</span>
        </button>
        <button class="ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.stories.name }}"
          [class]="activeFormat == '{{ doc.format_explainer.stories.name }}' ? 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.stories.name }} active' : 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.stories.name }}'"
          on="tap:AMP.setState({activeFormat: '{{ doc.format_explainer.stories.name }}'}),switchFormat.restart">
          <div class="ad-o-format-explainer-button-icon ad-a-ico"
          [class]="activeFormat == '{{ doc.format_explainer.stories.name }}' ? 'ad-o-format-explainer-button-icon ad-a-ico active' : 'ad-o-format-explainer-button-icon ad-a-ico'">
            {% do doc.icons.useIcon('icons/amp-stories.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-stories"></use></svg>
          </div>
          <span class="ad-o-format-explainer-button-text">AMP {{ doc.format_explainer.stories.name }}</span>
        </button>
        <button class="ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.ads.name }}"
          [class]="activeFormat == '{{ doc.format_explainer.ads.name }}' ? 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.ads.name }} active' : 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.ads.name }}'"
          on="tap:AMP.setState({activeFormat: '{{ doc.format_explainer.ads.name }}'}),switchFormat.restart">
          <div class="ad-o-format-explainer-button-icon ad-a-ico"
          [class]="activeFormat == '{{ doc.format_explainer.ads.name }}' ? 'ad-o-format-explainer-button-icon ad-a-ico active' : 'ad-o-format-explainer-button-icon ad-a-ico'">
            {% do doc.icons.useIcon('icons/amp-ads.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-ads"></use></svg>
          </div>
          <span class="ad-o-format-explainer-button-text">AMP {{ doc.format_explainer.ads.name }}</span>
        </button>
        <button class="ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.emails.name }}"
          [class]="activeFormat == '{{ doc.format_explainer.emails.name }}' ? 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.emails.name }} active' : 'ad-o-format-explainer-button ad-o-format-explainer-button-{{ doc.format_explainer.emails.name }}'"
          on="tap:AMP.setState({activeFormat: '{{ doc.format_explainer.emails.name }}'}),switchFormat.restart">
          <div class="ad-o-format-explainer-button-icon ad-a-ico"
          [class]="activeFormat == '{{ doc.format_explainer.emails.name }}' ? 'ad-o-format-explainer-button-icon ad-a-ico active' : 'ad-o-format-explainer-button-icon ad-a-ico'">
            {% do doc.icons.useIcon('icons/amp-emails.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-emails"></use></svg>
          </div>
          <span class="ad-o-format-explainer-button-text">AMP {{ doc.format_explainer.emails.name }}</span>
        </button>
      </div>

      <div class="ad-o-format-explainer-link">
        <a href="{{ doc.format_explainer.websites.url }}" [href]="formats[activeFormat].url" class="ad-m-lnk ad-m-lnk-square">
          <div class="ad-a-ico ad-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span [text]="'Learn more about AMP ' + activeFormat" class="ad-m-lnk-text">Learn more about AMP {{ doc.format_explainer.websites.name }}</span>
        </a>
      </div>
    </div>
  </section>

  <section class="ad--sampler">
    {% do doc.styles.addCssFile('css/components/organisms/sampler.css') %}
    {% set playground_url = podspec.base_urls.api + '/playground' %}

    {# Can't use |tojson filter here since URLs need to be built #}
    <amp-state id="sampler">
      <script type="application/json">
      [{% for sample in doc.sampler %}
        {% set embed_url = playground_url + '/embed?' + loop.index|pprint + '#url=' + podspec.base_urls.platform + sample.url %}

        {
          "title": "{{ sample.title }}",
          "url": "{{ embed_url }}"
        }{{ "," if not loop.last }}
      {% endfor %}]
      </script>
    </amp-state>

    <div class="ad--container">
      <div class="ad-m-copy ad-m-copy-center">
        <div class="ad-o-sampler-icon ad-a-ico">
          {% do doc.icons.useIcon('icons/logo.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
        </div>
        <h2>compelling, smooth, and instant</h2>
      </div>
    </div>

    <div class="ad--container-fluid">
      <div class="ad-m-copy">
        <p>AMP is an open-source html framework that provides a straightforward way to create web pages that are fast, smooth-loading and prioritize the user-experience above all else. At their core, AMP pages are just web pages that you own and control. AMP is supported by many different platforms, and is compatible across browsers. AMP also powers specific web formats such as stories, ads and dynamic emails.</p>
      </div>

      <div class="ad-o-sampler">
        <div class="ad-o-sampler-tab-bar">

          {% for tab in doc.sampler %}
          <div class="ad-o-sampler-tab ad-o-sampler-tab-{{ loop.index-1 }} {{ "active" if loop.first }}"
            [class]="activeSample == '{{ loop.index-1 }}' ? 'ad-o-sampler-tab ad-o-sampler-tab-{{ loop.index-1 }} active' : 'ad-o-sampler-tab ad-o-sampler-tab-{{ loop.index-1 }}'"
            on="tap:AMP.setState({activeSample: '{{ loop.index-1 }}'})">
            <span class="ad-o-sampler-tab-title">{{ tab.title }}</span>
          </div>
          {% endfor %}

        </div>

        {% set embed_url = playground_url + '/embed#url=' + podspec.base_urls.platform + doc.sampler[0].url %}
        <div class="ad-o-sampler-iframe">
          <amp-iframe
            width="11"
            height="5"
            sandbox="allow-scripts allow-same-origin allow-popups allow-forms allow-popups-to-escape-sandbox allow-presentation allow-top-navigation"
            layout="responsive"
            resizable
            frameborder="0"
            src="{{ embed_url }}"
            [src]="sampler[activeSample].url">
            <div overflow tabindex="0" role="button" aria-label="{{ _('Show everything') }}">{{ _('Show everything') }}</div>
          </amp-iframe>
        </div>

        <div class="ad-o-sampler-link">
          <a href="{{ doc.sampler[0].url }}"
            [href]="sampler[activeSample].url"
            class="ad-m-lnk">
            <div class="ad-a-ico ad-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ad-m-lnk-text">Open in AMP Playground</span>
          </a>
        </div>
      </div>

    </div>
  </section>

  <section class="ad--benefits-overview">
    <div class="ad-o-benefits ad--container">

      <div class="ad-o-benefits-overview-list ad-o-benefits-overview-list-developers">

        <h2>Benefits for Developers</h2>

        <div class="ad-m-benefit">
          <div class="ad-m-benefit-icon">
            {% do doc.icons.useIcon('icons/smile.svg') %}
            <svg class="ad-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#smile"></use></svg>
          </div>
          <div class="ad-m-benefit-text">
            <span class="ad-m-benefit-text-headline">AMP can be applied across various web touch points</span>
            <span class="ad-m-benefit-text-copy">Whether used by publishers, ad tech companies or email providers, AMP enables the easy creation of great experiences on the web.</span>
          </div>
        </div>

        <div class="ad-m-benefit">
          <div class="ad-m-benefit-icon">
            {% do doc.icons.useIcon('icons/bolt-outline.svg') %}
            <svg class="ad-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt-outline"></use></svg>
          </div>
          <div class="ad-m-benefit-text">
            <span class="ad-m-benefit-text-headline">Web page speed improves the user experience and core business metrics</span>
            <span class="ad-m-benefit-text-copy">AMP pages load near instantly, enabling you to offer a consistently fast experience across all devices and platforms.</span>
          </div>
        </div>

        <div class="ad-m-benefit">
          <div class="ad-m-benefit-icon">
            {% do doc.icons.useIcon('icons/build.svg') %}
            <svg class="ad-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#build"></use></svg>
          </div>
          <div class="ad-m-benefit-text">
            <span class="ad-m-benefit-text-headline">Building AMP pages is simple and straightforward.</span>
            <span class="ad-m-benefit-text-copy">You can often convert your entire archive in days especially if you use a popular CMS such as Wordpress or Drupal.</span>
          </div>
        </div>

      </div>

      <div class="ad-o-benefits-overview-list ad-o-benefits-overview-list-business">

        <h2>Benefits for Business</h2>

        <div class="ad-m-benefit">
          <div class="ad-m-benefit-icon">
            {% do doc.icons.useIcon('icons/bolt-code.svg') %}
            <svg class="ad-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#bolt-code"></use></svg>
          </div>
          <div class="ad-m-benefit-text">
            <span class="ad-m-benefit-text-headline">Maintain flexibility and control and reduce complexity in your code</span>
            <span class="ad-m-benefit-text-copy">You can use CSS to customize your styling, dynamic data to fetch the freshest data where needed, to build the best possible userexperience     for your customers.</span>
          </div>
        </div>

        <div class="ad-m-benefit">
          <div class="ad-m-benefit-icon">
            {% do doc.icons.useIcon('icons/web-page.svg') %}
            <svg class="ad-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web-page"></use></svg>
          </div>
          <div class="ad-m-benefit-text">
            <span class="ad-m-benefit-text-headline">Build for a sustainable future in the open web for everyone</span>
            <span class="ad-m-benefit-text-copy">The AMP Project is an open source initiative to protect the future of the web helping everyone deliver a better, faster more user-friendly    experience.</span>
          </div>
        </div>

        <div class="ad-m-benefit">
          <div class="ad-m-benefit-icon">
            {% do doc.icons.useIcon('icons/code-small.svg') %}
            <svg class="ad-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#code-small"></use></svg>
          </div>
          <div class="ad-m-benefit-text">
            <span class="ad-m-benefit-text-headline">Less effort, more performance and built and controlled by you</span>
            <span class="ad-m-benefit-text-copy">It takes a lot of time and effort to build a great website. AMP components are already optimized for the best performance.</span>
          </div>
        </div>

      </div>

      <div class="ad-o-benefits-overview-link">
        <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/index.html', locale=doc.locale).url.path }}" class="ad-m-lnk ad-m-lnk-square">
          <div class="ad-a-ico ad-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ad-m-lnk-text">Get started with AMP</span>
        </a>
      </div>

    </div>
  </section>

  <section class="ad--quote ad--container">
    <div class="ad-m-quote">
      <div class="ad-m-quote-source">
       <div class="ad-a-ico">
          {% do doc.icons.useIcon('icons/quote.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use></svg>
       </div>
        <div class="ad-a-img ad-a-img-static" layout="container">
          <amp-img class="ad--media" src="/static/img/success-stories/washington_post/washington_post_logo.png" layout="responsive" height="197" width="1280" alt="placeholder" />
        </div>
      </div>
      <div class="ad-m-quote-quote">
        <blockquote>
          <p class="ad-a-txt">As a source for breaking news and information, AMP stories allows us to showcase our quality journalism when there are multiple elements we want to bring together. Combiningreporting, photography, videos and motion graphics, this gives readers a more visual entry point when they are searching for our coverage.<p>
        </blockquote>
        <p>Greg Manifold, Design Director of The Washington Post</p>

        <a href="{{ g.doc('/content/amp-dev/what-is-amp/success-stories/washingtonpost.yaml').url.path }}" class="ad-m-lnk">
          <div class="ad-a-ico ad-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ad-m-lnk-text">Read Success Story</span>
        </a>
      </div>
    </div>
  </section>

  <section class="ad--case-grid">
    <div class="ad--container">
      <h1 class="ad-o-case-grid-headline">Get inspired by AMP use cases</h1>
    </div>

    <div class="ad--container-fluid">
      {% include 'views/partials/case-grid.j2' %}
    </div>
  </section>

  {% do doc.styles.addCssFile('/css/components/organisms/teaser-grid.css') %}
  <section class="ad--teaser-grid ad--container">
    <div class="ad-o-teaser-grid">
      <div class="ad-o-teaser-grid-list ad-o-teaser-grid-list-count-{{ teasers|count }}">
        {% for n in range(0, 4) %}
        {% with %}
        {% set teaser_doc = g.doc('/content/amp-dev/what-is-amp/success-stories/bmw-com.yaml') %}
        {% include '/views/partials/teaser.j2' %}
        {% endwith %}
        {% endfor %}
      </div>
    </div>

    <div class="ad-m-copy">
      <h2>Explore AMP<br> success stories</h2>
      <p>Whether used by publishers, ad tech companies or email providers, AMP enables the easy creation of great experiences on the web. By ensuring user experience comes first, developers can rest assured what they create will be compelling and engaging.</p>

      <a href="{{ g.doc('/content/amp-dev/what-is-amp/success-stories/index.html').url.path }}" class="ad-m-lnk ad-m-lnk-square">
        <div class="ad-a-ico ad-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ad-m-lnk-text">See all success stories</span>
      </a>
    </div>
  </section>

  <section class="ad--collaboration">
    {% do doc.styles.addCssFile('css/components/molecules/collabo-card.css') %}

    <div class="ad--container">
      <h2>AMP is a dynamic<br> collaborative project</h2>

      <div class="ad-m-collabo-card ad-m-collabo-card-1">
        <a href="https://github.com/orgs/ampproject/people">
          <div class="ad-m-collabo-card-image">
            <amp-img
              class="ad--media"
              src="/static/img/dummy-collabo-image-1.png"
              layout="responsive"
              width="16"
              height="9">
            </amp-img>
          </div>
          <h3 class="ad-m-collabo-card-headline">Many ways for you to contribute</h3>
          <p class="ad-m-collabo-card-copy">The AMP Project would not be possible without help from all members of the community whether you are a developer, content creator or provider of services relevant to AMP.</p>
        </a>
      </div>

      <div class="ad-m-collabo-card ad-m-collabo-card-2">
        <a href="https://github.com/ampproject/docs/issues">
          <div class="ad-m-collabo-card-image">
            <amp-img
              class="ad--media"
              src="/static/img/dummy-collabo-image-2.png"
              layout="responsive"
              width="16"
              height="9">
            </amp-img>
          </div>
          <h3 class="ad-m-collabo-card-headline">Reporting issues with AMP</h3>
          <p class="ad-m-collabo-card-copy">If you have feedback or are experiencing technical issues with AMP, please file it using the issue tracker.</p>
        </a>
      </div>

    </div>
  </section>

  <section class="ad--get-started ad--container">
    {% do doc.styles.addCssFile('css/components/atoms/button.css') %}
    <div class="ad-m-copy ad-m-copy-center">
      <h2>Build your first AMP page now</h2>
      <p>You don’t need to download AMP and no installation is required.<br> Because it is a open-source project, it is free!</p>
      <a href="{{ g.doc('/content/amp-dev/documentation/guides-and-tutorials/index.html', locale=doc.locale).url.path }}" class="ad-a-btn">Get started</a>
    </div>
  </section>
</main>
