---
$title: AMP - a web component framework to easily create user-first web experiences
$titles:
  navigation: Start
$view: /views/custom.j2
description: 'Whether you are a publisher, e-commerce company, storyteller, advertiser or email sender, AMP makes it easy to create great experiences on the web. Use AMP to build websites, stories, ads and emails.'

benefits: !g.yaml /shared/data/benefits.yaml

format_explainer:
  - name: websites
    visual: views/partials/format-visuals/websites.j2
    headline: Use AMP to build great experiences across the web
    description: "Whether you are a publisher, e-commerce company, storyteller, advertiser or email sender, AMP makes it easy to create great experiences on the web. Use AMP to build:"
    url: /about/websites.html
  - name: stories
    visual: views/partials/format-visuals/stories.j2
    headline: Use AMP to create visual stories on the web.
    description: "Whether you are a publisher, e-commerce company, storyteller, advertiser or email sender, AMP makes it easy to create great experiences on the web. Use AMP to build:"
    url: /about/stories.html
  - name: ads
    visual: views/partials/format-visuals/ads.j2
    headline: Use AMP to build and serve lightning fast, safe ads to pages and stories.
    description: "Whether you are a publisher, e-commerce company, storyteller, advertiser or email sender, AMP makes it easy to create great experiences on the web. Use AMP to build:"
    url: /about/ads.html
  - name: email
    visual: views/partials/format-visuals/email.j2
    headline: Use AMP to send interactive, dynamic emails.
    description: "Whether you are a publisher, e-commerce company, storyteller, advertiser or email sender, AMP makes it easy to create great experiences on the web. Use AMP to build:"
    url: /about/email.html

sampler:
  - title: AMP Website
    url: /static/samples/standalone/amp-website/
    line: "56"
  - title: AMP Story
    url: /static/samples/standalone/amp-story/
    line: "487"
  - title: AMP Email
    url: /static/samples/standalone/amp-email/
    line: "90"
  - title: AMP Ad
    url: /static/samples/standalone/amp-ad/
    line: "0"

success_stories:
  - !g.doc /content/amp-dev/about/success-stories/washingtonpost.yaml
  - !g.doc /content/amp-dev/about/success-stories/wompmobile.yaml
  - !g.doc /content/amp-dev/about/success-stories/teads.yaml
  - !g.doc /content/amp-dev/about/success-stories/carved.yaml
---
{% do doc.styles.addCssFile('css/components/templates/home.css') %}

<main class="ap--main ap-t-home">
  {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}
  <section class="ap--stage ap--container-fluid">
    <div class="ap-o-stage">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content">
          <h1 class="ap-o-stage-content-headline">{{ _('AMP is a web component framework to easily create <span style="white-space: nowrap;">user-first</span><br>') }} {% include 'views/partials/rolling-formats.j2' %}</h1>
          <a href="documentation/index.html" class="ap-o-stage-content-button ap-a-btn">{{ _('Get started') }}</a>
        </div>
      </div>
    </div>

    {% with %}
    {% set case_band_images = [
      {"src": "/static/img/case-band-image-2.jpg", "width": "106", "height": "190"},
      {"src": "/static/img/case-band-image-1.png", "width": "131", "height": "152"},
      {"src": "/static/img/case-band-image-5.jpg", "width": "180", "height": "115"},
      {"src": "/static/img/case-band-image-4.jpg", "width": "144", "height": "214"},
      {"src": "/static/img/case-band-image-3.jpg", "width": "162", "height": "104"}
      ]
    %}
    {% include 'views/partials/case-band.j2' %}
    {% endwith %}
  </section>

  <section class="ap--news ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/news.css') %}
    {% do doc.styles.addCssFile('css/components/molecules/copy.css') %}

    [% set posts = []|importBlog %]
    [% if posts|length %]
    <div class="ap-m-copy">
      <h2>{{ _('The latest news') }}</h2>
      <p>{{ _('Don\'t want to miss any of the great stuff that happens around AMP? Then always be first in line and subscribe to our newsletter!') }}</p>

      <a class="ap-m-lnk ap-m-lnk-square ap--newsletter-double" href="https://services.google.com/fb/forms/ampnewsletter-doubleopt-in/">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/external.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('Subscribe') }}</span>
      </a>

      <a class="ap-m-lnk ap-m-lnk-square ap--newsletter" href="https://services.google.com/fb/forms/ampnewsletter/">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/external.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('Subscribe') }}</span>
      </a>
    </div>

    <div class="ap-o-news">
      <amp-carousel class="ap-o-news-list"
          height="460"
          layout="fixed-height"
          type="carousel"
          role="region"
          aria-label="{{ _('News') }}">
        [% for post in posts %]
        <a class="ap-o-news-item" href="[= post.url =]">
          <div class="ap-o-news-card">
            <div class="ap-o-news-title">[= post.title =]</div>
            <div class="ap-o-news-image">
              [% if post.image and post.image != '' and not post.image.includes('AMP_Blog_Square') %]
              <amp-img class="ap--media"
                  src="[= post.image =]"
                  layout="responsive"
                  width="160"
                  height="90"
                  alt="[= post.title =]">
              </amp-img>
              [% else %]
              <div class="ap-o-news-icon">
                <div class="ap-a-ico">
                  {% do doc.icons.useIcon('icons/news.svg') %}
                  <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#news"></use></svg>
                </div>
              </div>
              [% endif %]
            </div>
            <h5 class="ap-o-news-headline">[= post.headline|safe =]</h5>
            <div class="ap-o-news-date">[= post.date =]</div>
          </div>
        </a>
        [% endfor %]
      </amp-carousel>
    </div>
    [% endif %]
  </section>

  <section class="ap--format-explainer">
    <div class="ap-o-format-explainer ap--container-fluid">
      <amp-state id="formats">
        <script type="application/json">
          {
            "websites": {
              "headline": "{{ doc.format_explainer[0].headline }}",
              "description": "{{ doc.format_explainer[0].description }}",
              "url": "{{ doc.format_explainer[0].url }}"
            },
            "stories": {
              "headline": "{{ doc.format_explainer[1].headline }}",
              "description": "{{ doc.format_explainer[1].description }}",
              "url": "{{ doc.format_explainer[1].url }}"
            },
            "ads": {
              "headline": "{{ doc.format_explainer[2].headline }}",
              "description": "{{ doc.format_explainer[2].description }}",
              "url": "{{ doc.format_explainer[2].url }}"
            },
            "email": {
              "headline": "{{ doc.format_explainer[3].headline }}",
              "description": "{{ doc.format_explainer[3].description }}",
              "url": "{{ doc.format_explainer[3].url }}"
            }
          }
        </script>
      </amp-state>

      <amp-animation id="switchFormat" layout="nodisplay">
        <script type="application/json">
          [{
            "duration": "0.4s",
            "delay": "0.4s",
            "fill": "backwards",
            "easing": "cubic-bezier(.55,0,.1,1)",
            "iterations": "1",
            "selector": ".swift > .active",
            "keyframes": [{
              "transform": "translateX(-7.5%)"
            },
            {
              "transform": "translateX(0)"
            }]
          }]
        </script>
      </amp-animation>

      <amp-state id="chosenFormat">
          <script type="application/json">
            {
              "activeFormat": "websites"
            }
          </script>
        </amp-state>

      <div class="ap-o-format-explainer-visual ap-o-format-explainer-group swift">
        {% for format in doc.format_explainer %}
        <div class="ap-o-format-explainer-visual-{{ format.name }} {{ 'active' if loop.index == 1 }}"
          [class]="chosenFormat.activeFormat == '{{ format.name }}' ? 'ap-o-format-explainer-visual-{{ format.name }} active' : 'ap-o-format-explainer-visual-{{ format.name }}'">
          {% include format.visual %}
        </div>
        {% endfor %}
      </div>

      <div class="ap-o-format-explainer-content ap-o-format-explainer-group">
        {% for format in doc.format_explainer %}
        <div class="ap-o-format-explainer-content-{{ format.name }} ap-m-copy {{ 'active' if loop.index == 1 }}"
          [class]="chosenFormat.activeFormat == '{{ format.name }}' ? 'ap-o-format-explainer-content-{{ format.name }} ap-m-copy active' : 'ap-o-format-explainer-content-{{ format.name }} ap-m-copy'">
          <h2 class="ap-o-format-explainer-headline">{{ _(format.headline) }}</h2>
          <p class="ap-o-format-explainer-copy">{{ _(format.description) }}</p>
        </div>
        {% endfor %}
      </div>

      <div class="ap-o-format-explainer-navigation">
        {% for format in doc.format_explainer %}
        <button tabindex="0" role="button" class="ap-o-format-explainer-button ap-o-format-explainer-button-{{ format.name }} {{ 'active' if loop.index == 1 }}"
          [class]="chosenFormat.activeFormat == '{{ format.name }}' ? 'ap-o-format-explainer-button ap-o-format-explainer-button-{{ format.name }} active' : 'ap-o-format-explainer-button ap-o-format-explainer-button-{{ format.name }}'"
          on="tap:AMP.setState({chosenFormat: {activeFormat: '{{ format.name }}'} }),switchFormat.start">
          <div class="ap-o-format-explainer-button-icon ap-a-ico {{ 'active' if loop.index == 1 }}"
          [class]="chosenFormat.activeFormat == '{{ format.name }}' ? 'ap-o-format-explainer-button-icon ap-a-ico active' : 'ap-o-format-explainer-button-icon ap-a-ico'">
            {% do doc.icons.useIcon('icons/amp-' + format.name + '.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
          <span class="ap-o-format-explainer-button-text">AMP {{ _(format.name) }}</span>
        </button>
        {% endfor %}
      </div>

      <div class="ap-o-format-explainer-link ap-o-format-explainer-group">
        {% for format in doc.format_explainer %}
        <div class="ap-o-format-explainer-link-{{ format.name }} {{ 'active' if loop.index == 1 }}"
          [class]="chosenFormat.activeFormat == '{{ format.name }}' ? 'ap-o-format-explainer-link-{{ format.name }} active' : 'ap-o-format-explainer-link-{{ format.name }}'">
          <a href="{{ format.url }}" [href]="formats[chosenFormat.activeFormat].url" class="ap-m-lnk ap-m-lnk-square">
            <div class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">{{ _('Learn more about AMP') }} {{ format.name }}</span>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="ap--sampler">
    {% do doc.styles.addCssFile('css/components/organisms/sampler.css') %}
    {% set playground_url = doc.pod.podspec.base_urls.playground %}

    {% set sampler = [] %}
    {% for sample in doc.sampler %}
      {% do sampler.append({
        'title': sample.title,
        'url': sample.url,
        'embedUrl': playground_url + '/embed?mode=responsive&url=' + (playground_url + sample.url)|urlencode + '&line=' + sample.line,
        'standaloneUrl': playground_url + '/?url=' + (playground_url + sample.url)|urlencode + '&line=' + sample.line,
      }) %}
    {% endfor %}
    <amp-state id="sampler">
      <script type="application/json">
        {{ sampler|tojson }}
      </script>
    </amp-state>
    <amp-state id="activeSample">
      <script type="application/json">
        0
      </script>
    </amp-state>

    <div class="ap--container">
      <div class="ap-m-copy ap-m-copy-center">
        <div class="ap-o-sampler-icon ap-a-ico">
          {% do doc.icons.useIcon('icons/logo.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo"></use></svg>
        </div>
        <h2>{{ _('AMP in action') }}</h2>
      </div>
    </div>

    <div class="ap--container-fluid">
      <div class="ap-m-copy">
        <p>{{ _('AMP is an open-source HTML framework that provides a straightforward way to create web pages that are fast, smooth-loading and prioritize the user-experience above all else. Can\'t believe it? Try it out for yourself in the playground below:') }}</p>
      </div>

      <div class="ap-o-sampler">

        <div class="ap-o-sampler-header">AMPHTML Playground</div>

        {% set embed_url = playground_url + '/embed?mode=responsive&line=' + doc.sampler[0].line + '&url=' + doc.sampler[0].url %}
        {% set standalone_url = playground_url + '/?url=' + doc.sampler[0].url %}
        <div class="ap-o-sampler-iframe">
          <amp-iframe
            height="450px"
            layout="fixed-height"
            sandbox="allow-scripts allow-same-origin allow-popups allow-forms allow-popups-to-escape-sandbox allow-presentation allow-top-navigation"
            resizable
            noloading
            allow="fullscreen"
            frameborder="0"
            src="{{ embed_url }}"
            [src]="sampler[activeSample].embedUrl"
            title="AMP Playground">
            <div overflow tabindex="0" role="button" aria-label="{{ _('Show everything') }}">{{ _('Show everything') }}</div>
            <div placeholder>
              <div class="ap-o-sampler-iframe-source"></div>
            </div>
          </amp-iframe>
        </div>

        <div class="ap-o-sampler-tab-bar">

          {% for tab in doc.sampler %}
          <div tabindex="0" role="button" class="ap-o-sampler-tab ap-o-sampler-tab-{{ loop.index-1 }} {{ "active" if loop.first }}"
            [class]="activeSample == '{{ loop.index-1 }}' ? 'ap-o-sampler-tab ap-o-sampler-tab-{{ loop.index-1 }} active' : 'ap-o-sampler-tab ap-o-sampler-tab-{{ loop.index-1 }}'"
            on="tap:AMP.setState({activeSample: '{{ loop.index-1 }}'})">
            <span class="ap-o-sampler-tab-title">{{ tab.title }}</span>
          </div>
          {% endfor %}

        </div>

        <div class="ap-o-sampler-link">
          <a href="{{ playground_url }}?url={{ doc.sampler[0].url }}"
            [href]="sampler[activeSample].standaloneUrl"
            class="ap-m-lnk">
            <div class="ap-a-ico ap-m-lnk-icon">
              {% do doc.icons.useIcon('icons/internal.svg') %}
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
            </div>
            <span class="ap-m-lnk-text">{{ _('Open in AMP Playground') }}</span>
          </a>
        </div>
      </div>

    </div>
  </section>

  <section class="ap--benefits-overview" id="benefits">
    <div class="ap-o-benefits ap--container">

      <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-developers">

        <h2>{{ _('Business Benefits') }}</h2>

        {% for benefit in doc.benefits.home.business %}

        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/'+ benefit.icon + '.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline">{{ _(benefit.headline) }}</span>
            <span class="ap-m-benefit-text-copy">{{ _(benefit.text) }}</span>
          </div>
        </div>

        {% endfor %}
      </div>

      <div class="ap-o-benefits-overview-list ap-o-benefits-overview-list-business">

        <h2>{{ _('Developer Benefits') }}</h2>

        {% for benefit in doc.benefits.home.developer %}

        <div class="ap-m-benefit">
          <div class="ap-m-benefit-icon">
            {% do doc.icons.useIcon('icons/' + benefit.icon + '.svg') %}
            <svg class="ap-m-benefit-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{ benefit.icon }}"></use></svg>
          </div>
          <div class="ap-m-benefit-text">
            <span class="ap-m-benefit-text-headline">{{ _(benefit.headline) }}</span>
            <span class="ap-m-benefit-text-copy">{{ _(benefit.text) }}</span>
          </div>
        </div>

        {% endfor %}
      </div>

      <div class="ap-o-benefits-overview-link">
        <a href="documentation/index.html" class="ap-m-lnk ap-m-lnk-square">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('Get started with AMP') }}</span>
        </a>
      </div>

    </div>
  </section>

  <section class="ap--quote ap--container">
    <div class="ap-m-quote">
      <div class="ap-m-quote-source">
       <div class="ap-a-ico">
          {% do doc.icons.useIcon('icons/quote.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quote"></use></svg>
       </div>
        <div class="ap-a-img ap-a-img-static">
          <amp-img src="/static/img/success-stories/washington_post/washington_post_logo.png" layout="responsive" height="23" width="150" alt="placeholder" />
        </div>
      </div>
      <div class="ap-m-quote-quote">
        <blockquote>
          <p class="ap-a-txt">{{ _('As a source for breaking news and information, Web Stories allow us to showcase our quality journalism when there are multiple elements we want to bring together. Combining reporting, photography, videos and motion graphics, this gives readers a more visual entry point when they are searching for our coverage.') }}</p>
        </blockquote>
        <p>{{ _('Greg Manifold, Design Director of The Washington Post') }}</p>

        <a href="about/success-stories/washingtonpost.yaml" class="ap-m-lnk">
          <div class="ap-a-ico ap-m-lnk-icon">
            {% do doc.icons.useIcon('icons/internal.svg') %}
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('Read Success Story') }}</span>
        </a>
      </div>
    </div>
  </section>

  <section class="ap--case-grid">
    <div class="ap--container">
      <h1 class="ap-o-case-grid-headline">{{ _('Build anything with AMP.') }}</h1>

    </div>

    <div class="ap--container-fluid">
      {% include 'views/partials/case-grid.j2' %}
    </div>
  </section>

  {% do doc.styles.addCssFile('/css/components/organisms/teaser-grid.css') %}

  <amp-state id="activeFilter">
    <script type="application/json">
      {
        "chosenFilter": "none"
      }
    </script>
  </amp-state>

  <section class="ap--teaser-grid ap--container">
    <div class="ap-o-teaser-grid">
      <div class="ap-o-teaser-grid-list ap-o-teaser-grid-list-count-{{ teasers|count }}">
        {% for success_story in doc.success_stories %}
        {% with %}
        {% set teaser_doc = success_story %}
        {% include '/views/partials/teaser.j2' %}
        {% endwith %}
        {% endfor %}
      </div>
    </div>

    <div class="ap-m-copy">
      <h2>{{ _('Explore AMP<br/> success stories') }}</h2>
      <p>{{ _('Don\'t take our word for it - read case studies from your industry and see how AMP has produced positive results.') }}</p>

      <a href="about/success-stories/index.html" class="ap-m-lnk ap-m-lnk-square">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/internal.svg') %}
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('See all success stories') }}</span>
      </a>
    </div>
  </section>

  {% do doc.styles.addCssFile('css/components/molecules/shift-card.css') %}
  <section class="ap--shift-cards">
    <div class="ap--container">
      <h2 class="ap--shift-cards-headline">{{ _('By the community,<br/>for the community') }}</h2>
    </div>

    <div class="ap--shift-cards-grid ap--container">

      <div class="ap-m-shift-card ap-m-shift-card-shadow ap-m-shift-card-hover ap-m-shift-card-1">
        <a class="ap-m-shift-card-linking" href="https://github.com/orgs/ampproject/people">
          <div class="ap-m-shift-card-image">
            <amp-img
              src="/static/img/dummy-collabo-image-1.png"
              layout="responsive"
              width="365"
              height="205">
            </amp-img>
          </div>
          <h3 class="ap-m-shift-card-headline">{{ _('Many ways for you to contribute') }}</h3>
          <p class="ap-m-shift-card-copy">{{ _('The AMP Project would not be possible without help from all members of the community whether you are a developer, content creator or provider of services relevant to AMP.') }}</p>
        </a>
      </div>

      <div class="ap-m-shift-card ap-m-shift-card-shadow ap-m-shift-card-hover ap-m-shift-card-2">
        <a class="ap-m-shift-card-linking" href="https://github.com/ampproject/amphtml/issues">
          <div class="ap-m-shift-card-image">
            <amp-img
              src="/static/img/dummy-collabo-image-2.png"
              layout="responsive"
              width="365"
              height="205">
            </amp-img>
          </div>
          <h3 class="ap-m-shift-card-headline">{{ _('Reporting issues with AMP') }}</h3>
          <p class="ap-m-shift-card-copy">{{ _('If you have feedback or are experiencing technical issues with AMP, please file it using the issue tracker.') }}</p>
        </a>
      </div>

    </div>
  </section>

  <section class="ap--get-started ap--container">
    {% do doc.styles.addCssFile('css/components/atoms/button.css') %}
    <div class="ap-m-copy ap-m-copy-center">
      <h2>{{ _('Build your first AMP page now') }}</h2>
      <p>{{ _('You don’t need to download AMP and no installation is required.<br/> Because it is an open-source project, it is free!') }}</p>
      <a href="documentation/guides-and-tutorials/index.html" class="ap-a-btn">{{ _('Get started') }}</a>
    </div>
  </section>
</main>
