---
$title: AMP - a web component framework to easily create user-first web experiences
$view: /views/2021/base.html
$titles:
  navigation: Start
description: 'Whether you are a publisher, e-commerce company, storyteller, advertiser or email sender, AMP makes it easy to create great experiences on the web. Use AMP to build websites, stories, ads and emails.'

format_explainer:
  - name: websites
    headline: AMP Websites
    description: "Ready-to-go web components to quickly compose performant and functional websites with minimal maintenance."
    cta: "Start building websites with AMP"
    url: /about/websites.html
  - name: stories
    headline: Web Stories
    description: "Immerse readers in highly visual tappable stories they can share on the open web."
    url: /about/stories.html
  - name: email
    headline: AMP Emails
    description: "Personalized messages with dynamic content and interactive elements that engage users."
    url: /about/email.html
  - name: ads
    headline: AMP Ads
    description: "Serve lightning fast and secure eye-catching creatives."
    url: /about/ads.html

success_stories:
  - !g.doc /content/amp-dev/about/success-stories/washingtonpost.yaml
  - !g.doc /content/amp-dev/about/success-stories/teads.yaml
  - !g.doc /content/amp-dev/about/success-stories/carved.yaml
  - !g.doc /content/amp-dev/about/success-stories/wompmobile.yaml
---

<main class="ap--main">
  <section class="ap-stage ap-section">
    <div class="ap-stage-logo">
      {% do doc.icons.useIcon('icons/logo-outline.svg') %}
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-outline"></use>
      </svg>
    </div>
    <h1>AMP is a component framework to easily create user-first experiences across the web.</h1>
  </section>
  <section class="ap-formats ap-section --fullscreen">
    <aside class="ap-formats-navigation">
      <div class="ap-formats-navigation-wrapper">
        {% for format in doc.format_explainer %}
        <amp-animation id="switchIcon-{{ format.name }}" layout="nodisplay">
          <script type="application/json">
            {
              "duration": "500ms",
                "fill": "both",
                "animations": [
                  {
                      "selector": ".ap-formats-navigation-icon.active.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            },
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            }
                        ]
                    },
                    {
                      "selector": ".ap-formats-navigation-icon.inactive.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            },
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            }
                        ]
                    }
                ]   
            }
          </script>
        </amp-animation>
        <div class="ap-formats-navigation-icon-wrapper">
          <div class="ap-formats-navigation-icon inactive {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
          <div class="ap-formats-navigation-icon active {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
        </div>
        {% endfor %}
      </div>
    </aside>
    {% set initial_format = doc.format_explainer[0].name -%}
    {% for format in doc.format_explainer %}
    <div class="ap-formats-format {{ format.name }}{% if format.name == initial_format %} initial{% endif %}">
      <amp-position-observer on="enter:switchIcon-{{ format.name }}.start;exit:switchIcon-{{ format.name }}.start,switchIcon-{{ format.name }}.reverse" intersection-ratios="0.9" layout="nodisplay">
      </amp-position-observer>
      <div class="ap-formats-background">
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
      </div>
      <div class="ap-formats-format-content">
        {% do doc.icons.useIcon('/icons/amp-' + format.name + '.svg') %}
        <div class="ap-formats-logo">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
        </div>
        <h2>{{ format.headline }}</h2>
        <p>{{ format.description }}</p>
        {% if format.cta %}
          <a href="documentation/index.html" class="ap-button --inverted cta">{{ format.cta }}</a>
        {% endif %}
        <a href="{{ format.url }}" class="ap-button {% if not format.cta %}--inverted{% endif %}">{{ _('Learn more') }}</a>
      </div>
    </div>
    {% endfor %}
  </section>

  <section class="ap-intro ap-section --left">
    <h1>The latest news</h1>
    <p>Don't want to miss any of the great stuff that happens around AMP? Then always be first in line and subscribe to our newsletter! Lorem ipsum dolor sit amet.</p>
    <a href="about/success-stories/index.html" class="ap-m-lnk ap-m-lnk-square">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      </div>
      <span class="ap-m-lnk-text">{{ _('Subscribe newsletter') }}</span>
    </a>
  </section>
  <section class="ap-section --fullscreen">
    [% set posts = []|importBlog %]
    [% if posts|length %]
      <amp-carousel
        class="ap-teaser-carousel --news"
        height="573"
        layout="fixed-height"
        type="carousel"
        role="region"
        aria-label="{{ _('News') }}">
        [% for post in posts %]
        {% set teaser_doc = {
          'type': 'news',
          'title': '[= post.title =]',
          'image': '[= post.image =]',
          'url': '[= post.url =]',
          'headline': '[= post.headline =]',
          'date': '[= post.date =]'
        } %}
        {% include '/views/2021/partials/teaser.j2' %}
        [% endfor %]
      </amp-carousel>
    [% endif %]
  </section>

  <section class="ap-intro ap-section --right">
    <h1>Explore AMP success stories</h1>
    <p>Don't take our word for it - read case studies from your industry and see how AMP has produced positive results. Lorem ipsum dolor sit amet.</p>
    <a href="about/success-stories/index.html" class="ap-m-lnk ap-m-lnk-square">
      <div class="ap-a-ico ap-m-lnk-icon">
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
      </div>
      <span class="ap-m-lnk-text">{{ _('See all success stories') }}</span>
    </a>
  </section>
  <section class="ap-section --fullscreen">
      <amp-carousel
        class="ap-teaser-carousel --success-stories"
        height="573"
        layout="fixed-height"
        type="carousel"
        role="region"
        aria-label="{{ _('Success stories') }}">
        {% for success_story in doc.success_stories %}
        {% with %}
        {% set teaser_doc = success_story %}
        {% include '/views/2021/partials/teaser.j2' %}
        {% endwith %}
        {% endfor %}
      </amp-carousel>
  </section>
</main>