---
$title: AMP Page Experience Guide
$view: /views/custom.j2
description: Coming soon - analyze and learn how to optimize your AMP pages for Google's Page Experience ranking signal.
---

{% do doc.styles.addCssFile('css/components/templates/pixi.css') %}

<main class="ap--main ap-t-pixi">
  <section class="ap--stage ap--container-fluid">
    {% do doc.styles.addCssFile('css/components/organisms/stage.css') %}

    <div class="ap-o-stage">
      <div class="ap--container-fluid">
        <div class="ap-o-stage-content">
          <h1 class="ap-o-stage-content-headline">
            AMP Page Experience Guide
          </h1>
        </div>
        <div class="ap-o-stage-image">
          {% do doc.icons.useIcon('icons/vitals-header.svg') %}
          <svg>
            <use
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xlink:href="#vitals-header"
            ></use>
          </svg>
        </div>
      </div>
    </div>
  </section>

  {% if podspec.env.name == 'production' %}
  <section class="ap-t-pixi-intro ap-t-pixi-coming-soon">
    <p class="ap-t-pixi-intro-text">
      Coming soon! Read more about how AMP helps achieve a great page experience
      in our <a href="https://blog.amp.dev/2020/05/28/amp-page-experience/">blog post</a>.
    </p>
    <br>
    <div class="ap-o-fragment-slider-ctas">
      <a href="https://web.dev/vitals/" class="ap-m-lnk ap-m-lnk-square" target="_blank" rel="noopener">
        <div class="ap-a-ico ap-m-lnk-icon">
          {% do doc.icons.useIcon('icons/external.svg') %}
          <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"
            ></use>
          </svg>
        </div>
        <span class="ap-m-lnk-text">{{ _('Learn about web vitals') }}</span>
      </a>
    </div>
  </section>
  {% else %}
  <section class="ap-t-pixi-intro">
    <p class="ap-t-pixi-intro-text">
      <a href="https://web.dev/vitals/">Web Vitals</a> is an initiative by
      Google to provide unified guidance for quality signals that are essential
      to delivering a great user experience on the web.
    </p>
  </section>

  {% do doc.styles.addCssFile('css/components/molecules/input-bar.css') %}
  <amp-state id="pixi">
    <script type="application/json">
      {
        "i18n": {
          "language": "{{ doc.locale }}",
          "translations": {
            "Analyzing": "{{ _('Analyzing') }}",
            "Failed": "{{ _('Failed') }}",
            "Passed": "{{ _('Passed') }}"
          }
        }
      }
    </script>
  </amp-state>

  {% import '/views/partials/pixi/webpack.j2' as webpack %}
  <amp-script class="ap-t-pixi-checks" src="{{ podspec.base_urls.platform }}{{ webpack.src }}" layout="container" sandbox="allow-forms">
    <div class="ap-m-input-bar">
      <input id="input-field" class="ap-m-input-bar-field" type="url" name="url" placeholder="{{ _('Enter your URL') }}" value="[= query.url =]">
      <button id="input-submit" class="ap-m-input-bar-submit" name="button">
        {{ _('Analyze') }}
      </button>
    </div>

    <div class="ap-t-pixi-checks-reports --pristine">
      <h2>Core Web Vitals</h2>
      <div class="ap-t-pixi-checks-primary">
        {% with primary_metric = {
          'id': 'lcp',
          'title': {
            'full': _('Loading speed'),
            'id': 'LCP'
          }
        } %}
        {% include 'views/partials/pixi/primary-metric.j2' %}
        {% endwith %}

        {% with primary_metric = {
          'id': 'fid',
          'title': {
            'full': _('Interactivity'),
            'id': 'FID'
          }
        } %}
        {% include 'views/partials/pixi/primary-metric.j2' %}
        {% endwith %}

        {% with primary_metric = {
          'id': 'cls',
          'title': {
            'full': _('Visual stability'),
            'id': 'CLS'
          }
        } %}
        {% include 'views/partials/pixi/primary-metric.j2' %}
        {% endwith %}
      </div>

      <h2>Additional checks</h2>
      <div class="ap-t-pixi-checks-basic">
        {% with basic_metric = {
          'id': 'safe',
          'title': _('Safe Browsing')
        } %}
        {% include 'views/partials/pixi/basic-metric.j2' %}
        {% endwith %}

        {% with basic_metric = {
          'id': 'https',
          'title': _('HTTPS')
        } %}
        {% include 'views/partials/pixi/basic-metric.j2' %}
        {% endwith %}

        {% with basic_metric = {
          'id': 'mobile-friendliness',
          'title': _('Mobile Friendliness'),
        } %}
        {% include 'views/partials/pixi/basic-metric.j2' %}
        {% endwith %}

        {% with basic_metric = {
          'id': 'intrusive-interstitials',
          'title': _('Intrusive Interstitials'),
          'status': _('Check manually')
        } %}
        {% include 'views/partials/pixi/basic-metric.j2' %}
        {% endwith %}
      </div>
    </div>
  </amp-script>
  {% endif %}
</main>
