@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@mixin bevel {
  position: relative;
  width: calc(100% + 60px);
  margin-left: -30px;
  z-index: 0;

  @media (min-width: 768px){
    grid-column: 1 / 25;
  }


  &:before,
  &:after {
    content: '';
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  &:before {
    height: 1000px;
    top: -3em;
  }

  &:after {
    height: 1000px;
    background: color('whisper');
  }
}

@mixin bevel-right {
  &:before {
    right: 0;
    background: linear-gradient(30deg, color('whisper') 30%, color('athens-gray') 100%);
  }

  &:after {
    top: 400px;
    left: 100%;
    transform-origin: left top;
    transform: rotate(30deg);
  }
}

@mixin bevel-left {
  &:before {
    left: 0;
    background: linear-gradient(210deg, color('whisper') 30%, color('athens-gray') 100%);
  }

  &:after {
    top: calc(100% - 400px);
    right: 100%;
    transform-origin: right bottom;
    transform: rotate(30deg);
  }
}
