@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

/*

######################
### ATOM: headline ###
######################

### MODIFIERS:

h1 - h6
  All values in em depending on base font-size of 16 px.

light
	Changes the text color to light (default is dark).

stories-home
  Changes text color depending on the destination. Websites text color is white, which has already been delcared with the -light modifier

*/
// TODO: implement mono font and modifier

@mixin hl {
  margin-top: 0;
  margin-bottom: 0.75em;
  font-family: 'Poppins';
  font-weight: 700;
  line-height: 1.3em;
  color: black;
}

//64px TODO: Rename
@mixin hl-xlrg {
  font-size: 3em;

  @media screen and (min-width: 768px) {
    font-size: 4em;
  }
}

// 56px TODO: Rename
@mixin hl-lrg {
  font-size: 2.5em;

  @media screen and (min-width: 768px) {
    font-size: 3.5em;
  }
}

@mixin hl-h1 {
  font-size: 2.125em;

  @media screen and (min-width: 768px) {
    font-size: 2.625em;
  }
}

@mixin hl-h2 {
  font-size: 1.75em;

  @media screen and (min-width: 768px) {
    font-size: 2em;
  }
}

@mixin hl-h3 {
  font-size: 1.5em;

  @media screen and (min-width: 768px) {
    font-size: 1.75em;
  }
}

@mixin hl-h4 {
  font-size: 1.25em;

  @media screen and (min-width: 768px) {
    font-size: 1.375em;
  }
}

@mixin hl-h5 {
  font-size: 1.125em;
}
