@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

/*

##################
### ATOM: text ###
##################

### INFO:

Text atom could be used almost everywhere.
It has multiple size modifiers (more could be added below).

### MODIFIERS:

sizes
  Selector names of the sizes could be changed globally in variables.

p
  Paragraph style text.

TODO: mono (inline, block)
  Changes the font-family to a monospaced font as inline or block text.

*/

@mixin txt {
	font-family: 'Noto Sans';
	line-height: 1.6em;
	font-weight: normal;
	color: color('river-bed');
}

@mixin txt-stage {
  font-size: 15px;
  letter-spacing: 0;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

@mixin txt-1 {
	font-size: 1em; //16px
}

@mixin txt-2 {
	font-size: 0.875em; //14px
}

@mixin txt-3 {
	font-size: 0.75em; //12px
}

@mixin txt-4 {
	font-size: 0.625em; //10px
}

@mixin txt-logo {
  font-size: 18px;
}

@mixin txt-font-accent {
	font-family: 'Poppins', sans-serif;
}

@mixin txt-hl {
	display: block;
	margin-top: 0;
	margin-bottom: 0.75em;
	line-height: 1.25em;
}

@mixin txt-p {
	display: block;
	margin-top: 0;
	margin-bottom: 0.75em;
}

@mixin txt-mono {
	font-family: Inconsolata, monospace;
}

@mixin txt-mono-inline {
	display: inline;
	padding: 2px 4px;
	font-weight: bold;
	font-family: Inconsolata, monospace;
	word-break: break-word;
	color: color('black');
	background-color: #eee;
}

@mixin txt-mono-block {
	display: block;
	font-family: Inconsolata, monospace;
	background-color: color('whisper');
}

@mixin txt-strong {
	font-weight: bold;
}

@mixin txt-center {
	text-align: center;
}

@mixin txt-uppercase {
	text-transform: uppercase;
}
