@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import 'components/atoms/_color.scss';


/*

#####################
### ATOM: component-frame ###
#####################

A simple border and component flag for responsive images. A title attribute is required for rendering the flag text.

### MODIFIERS:

format modifiers for differen color rendering (e.g. websites -> blue border, ads -> purple border). Default is blue

*/

@mixin component-frame {

  &:before {
    content: '';
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    position: absolute;
    left: -3px;
    top: -3px;
    @include gradient-default;
    
    @media screen and (min-width: 768px) {
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      left: -5px;
      top: -5px;
    }
  }
  
  &:after {
    content: attr(title);
    position: absolute;
    left: -3px;
    bottom: 100%;
    padding: 3px 6px;
    background-color: color('doger-blue');
    @include txt;
    @include txt-3;
    @include txt-mono;
    @include txt-strong;
    @include color-white;

    @media screen and (min-width: 768px) {
      left: -5px;
      padding: 5px 10px;
      font-size: inherit;
    }
  }
}

@mixin component-frame-websites {
  &:before {
    @include gradient-websites;
  }
}

@mixin component-frame-ads {
  &:before {
    @include gradient-ads;
  }
}

@mixin component-frame-stories {
  &:before {
    @include gradient-stories;
  }
}

@mixin component-frame-emails {
  &:before {
    @include gradient-emails;
  }
}
