@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

.#{atom('format-tag')} {
  display: inline-block;
  padding: 0 12px;
  border-radius: 14px;
  @include txt-font-accent;
  color: color('white');

  &-websites {
    @include gradient-websites;
  }

  &-stories {
    @include gradient-stories;
    color: color('pigment-indigo');
  }

  &-ads {
    @include gradient-ads;
  }

  &-email {
    @include gradient-e-mails;
    color: color('ultramarine');
  }
}
