@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '_headline.scss';

h1,
h2,
h3,
h4,
h5 {
	@include hl;
	margin-top: 2em;
	
	&:first-child {
		section.main & {
			margin-top: 0;
		}
	}
	
	.toc + & {
		margin-top: 0;
	}
}

h1 {
	@include hl-h1;
}

h2 {
	@include hl-h2;
}

h3 {
	@include hl-h3;
}

h4 {
	@include hl-h4;
}

h5 {
	@include hl-h5;
}
