@import '_functions.scss';
@import '_variables.scss';

.#{atom('pixi-stripes')} {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 121px;

  &.--block {
    position: relative;
  }

  &:after {
    content: '';
    flex: 1 0 auto;
    width: 100vw;
    max-width: 1920px;
    background: linear-gradient(233deg, color('robins-egg') 10%, color('blue-ribbon') 50%);
    clip-path: url(#pixi-stripes);
    transform: skewY(-4.5deg);
  }
}
