@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@keyframes BUMP {
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.#{atom('pixi-scale')} {
  $pixi-scale: &;
  width: 100%;

  &-label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }

  &-bar {
    position: relative;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    overflow: hidden;
    background-color: color('silver');
    overflow: visible;

    &-indicator {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      width: 75%;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;

      &.inversed {
        span {
          border-right: 0;
          border-left: 2px dotted;
          transform: translateX(calc(100% - 2px));
        }
      }

      .fast & {
        background: color('malachite');
      }

      .average & {
        background: color('buttercup');
      }

      .slow & {
        background: color('red');
      }

      span {
        display: inline-flex;
        align-items: flex-end;
        border-right: 2px dotted;
        height: 35px;
        padding: 0 5px;
        font-size: 14px;
        white-space: nowrap;

        .fast & {
          border-color: color('malachite');
        }

        .average & {
          border-color: color('buttercup');
        }

        .slow & {
          border-color: color('red');
        }
      }
    }

    &-pitch {
      position: absolute;
      left: 75%;
      top: -30px;
      display: flex;
      justify-content: center;
      width: 1px;
      font-size: 14px;
      white-space: nowrap;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 19px;
        left: -4px;
        width: 2px;
        height: 24px;
        background: color('black');
        border: 2px solid color('white');
      }
    }
  }


  // .loading &, .pristine & {
  //
  //   &-bar {
  //     &:after {
  //       animation: BUMP 2s infinite both alternate linear;
  //       opacity: 1;
  //     }
  //   }
  //
  //   &-indicator {
  //     opacity: 0;
  //   }
  //
  //   &-pitch {
  //     opacity: 0;
  //   }
  // }
}
