@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

.#{atom('sample-preview-title')} {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 60px;
  display: flex;
  padding: 14px 60px 10px 0;
  margin: 0;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  @include txt-font-accent;
  background: color('white');

  @media (min-width: 768px) {
    left: 0;
    padding: 14px 0 10px;
    justify-content: center;
    font-size: 1.5em;
    background: transparent;
  }

  @media (min-width: 1024px) {
    @include txt-lrg;
  }

  &-prefix {
    @media (max-width: 767px) {
      display: none
    }
  }

  &-title {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 120px);
  }

  &-close {
    margin: 0 10px 0 auto;
    width: 20px;
    height: 20px;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
