@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

#sidebar-left[aria-hidden="false"] {
  &~.ap--main {
    .ap-a-sidebar-mobile-toggle-label {
      z-index: 9999999999;
      right: 0;

      .label-icon {
        svg {
          transform: rotate(0);
        }
      }

      .label-title {
        display: none;
      }
    }
  }
}

.#{utility('sidebar-toggle-observer')} {
  position: absolute;
  top: 50px;
}

.#{atom('sidebar-toggle')} {

  &-input {
    position: fixed;
    top: -99px;
  }

  &-label {
    position: fixed;
    z-index: 16;
    font-size: 12px;
    @include txt-font-accent;
    color: color('white');
    fill: color('white');
    cursor: pointer;
    display: flex;
    align-items: center;

    &:focus {
      outline: none;
    }

    .label-icon {
      border-radius: 4px;
      background: color('blue-ribbon');
      height: 35px;
      width: 32px;
      padding-left: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 10px 20px -5px rgba(0,0,0,0.25);
      svg {
        height: 14px;
        width: 14px;
      }
    }
    .label-title {
      position: absolute;
      left: 32px;
      white-space: nowrap;
      padding: 5px 10px 5px 5px;
      opacity: 0;
      margin-left: -5px;
      border-radius: 0 4px 4px 0;
      background: color('blue-ribbon');
      height: 35px;
      display: flex;
      align-items: center;
      box-shadow: 0 10px 20px -5px rgba(0,0,0,0.25);
    }
  }
}

.#{atom('sidebar-mobile-toggle')} {
  &-input {
    position: fixed;
    top: -99px;
  }

  &-label {
    transform: translate(-25px, -52px);

    @media (min-width: 768px) {
      display: none;
    }

    .label-icon {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.#{atom('sidebar-desktop-toggle')} {
  display: none;

  &-input {
    position: fixed;
    top: -99px;
  }

  &-label {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    display: inline-block;

    &-label {
      position: sticky;
      top: 138px;
      display: inline-flex;
      transform: translate(-40px, -52px);
    }

    &-input {
      &:checked {
        &~ .ap--sidebar {
          grid-column: 1 / 2;
          nav {
            display: none;
          }
          svg {
            transform: rotate(180deg);
          }
        }
        &~ .ap--toc {
          @media (max-width: 1023px) {
            grid-column: 2 / 25;
          }
        }
        &~ .ap--toc ~ .ap--content  {
          padding-left: 80px;
          padding-right: 80px;
          grid-column: 2 / 20;
          @media (max-width: 1023px) {
            grid-column: 2 / 25;
          }
        }

        &~ .ap--content, &~ .ap--help  {
          grid-column-start: 2;
          padding-left: 80px;
          padding-right: 80px;
          .ap-a-sidebar-desktop-toggle-label {
            margin-left: -88px;
            .label-icon {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}
