@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

.#{utility('sidebar-toggle-observer')} {
  position: absolute; 
  top: 0; 
  margin-top: -90px;
  @media (min-width: 768px) {
    margin-top: -120px;
  }
}

.#{atom('sidebar-toggle')} {

  &-input {
    position: fixed;
    top: -99px;
  }
}

.#{atom('sidebar-mobile-toggle')} {
  
  &-input {
    position: fixed;
    top: -99px;
    &~.ap--content {
      .#{atom('sidebar-mobile-toggle-label')} {
        transition: 0.2s;
      }
    }
    &:checked {
      &~.ap--content {
        .#{atom('sidebar-mobile-toggle-label')} {
          z-index: 2247483647;
          transform: translateX(90vw);
          svg {
            transform: rotate(0);
          }
        }
      }
    }
  }

  &-label {
    position: fixed;
    z-index: 21;
    margin-top: -52px;
    margin-left: -25px;
    font-size: 12px;
    font-family: 'Poppins';
    color: color('white');
    fill: color('white');
    cursor: pointer;
    display: flex;
    align-items: center;
  
    @media (min-width: 768px) {
      display: none;
    }

    &:focus {
      outline: none;
    }
    .label-icon {
      border-radius: 4px;
      background: color('blue-ribbon');
      height: 28px;
      width: 32px;
      padding-left: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        transition: 0.4s;
        height: 14px;
        width: 14px;
        transform: rotate(180deg);
      }
    }
    .label-title {
      padding: 5px 10px 5px 5px;
      margin-left: -5px;
      border-radius: 0 4px 4px 0;
      background: color('blue-ribbon');
      height: 28px;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.#{atom('sidebar-desktop-toggle')} {

  display: none;

  &-input {
    position: fixed;
    top: -99px;
  }

  &-label {
    display: none;
  }

  @media (min-width: 768px) {

  display: inline-block;

    &-input {
      &:checked {
        &~ .ap--sidebar {
          grid-column: 1 / 2;
          nav {
            ul {
              display: none;
            }
          }
          svg {
            transform: rotate(180deg);
          }
        }
        &~ .ap--toc {
          grid-column: 2 / 25;
        }
        &~ .ap--toc + .ap--content  {
          padding-left: 80px;
          padding-right: 80px;
          grid-column: 2 / 25;
        }

        &~ .ap--content  {
          grid-column-start: 2;
          padding-left: 80px;
          padding-right: 80px;
          .ap-a-sidebar-desktop-toggle-label {
            margin-left: -88px;
            .label-icon {
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    &-label {
      position: fixed;
      z-index: 21;
      margin-top: -52px;
      margin-left: -40px;
      font-size: 12px;
      font-family: 'Poppins';
      color: color('white');
      fill: color('white');
      cursor: pointer;
      display: flex;
      align-items: center;

      &:focus {
        outline: none;
      }
      .label-icon {
        border-radius: 4px;
        background: color('blue-ribbon');
        height: 28px;
        width: 32px;
        padding-left: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 14px;
          width: 14px;
          transition: 0.4s;
        }
      }
      .label-title {
        padding: 5px 10px 5px 5px;
        margin-left: -5px;
        border-radius: 0 4px 4px 0;
        background: color('blue-ribbon');
        height: 28px;
      }
    }
  }
}