@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';

.#{atom('sidebar-toggle')} {

  &-input {
    position: fixed;
    top: -99px;
    &:checked + label {
      z-index: 3147483647;
      svg {
        opacity: 0;
        transform: rotate(90deg);
        &.closemenu {
          opacity: 1;
        }
      }
    }
  }

  &-label {
    cursor: pointer;
    position: fixed;
    z-index: 21;
    bottom: 5vh;
    right: 30px;
    color: color('white');
    background-color: color('blue-ribbon');
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.25);
    transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
    transform-origin: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus {
      outline: none;
    }
    svg {
      position: absolute;
      height: 30px;
      width: 30px;
      fill: color('white');
      opacity: 1;
      transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 0.2s;
      &.closemenu {
        height: 14px;
        width: 14px;
        opacity: 0;
      }
    }
    &-sidebar {
      &.categorymenuopen {
        svg {
          opacity: 0;
          transform: rotate(-90deg);
          &.closemenu {
            opacity: 1;
          }
        }
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}
