@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_color.scss';
@import 'components/atoms/_text.scss';


.#{atom('sidebar-toggle')} {
  &-input {
    position: fixed;
    top: -99px;
  }

  &-label {
    position: fixed;
    z-index: 15;
    font-size: 12px;
    @include txt-font-accent;
    color: color('black');
    fill: color('black');
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.25);

    .label-icon {
      height: 35px;
      width: 32px;
      padding-left: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      background: color('white');

      svg {
        height: 14px;
        width: 14px;
      }
    }

    .label-title {
      position: fixed;
      left: 32px;
      display: flex;
      align-items: center;
      height: 35px;
      min-width: 40%;
      padding: 5px 10px 5px 0;
      white-space: nowrap;
      background: color('white');
      box-shadow: 0 10px 20px -5px rgba(0,0,0,0.25);
    }
  }
}

.#{atom('sidebar-mobile-toggle')} {
  &-input {
    position: fixed;
    top: -99px;
  }

  &-label {
    bottom: 0;
    left: 0;

    @media (min-width: 768px) {
      display: none;
    }

    .label-icon {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.#{atom('sidebar-desktop-toggle')} {
  display: none;

  &-input {
    position: fixed;
    top: -99px;
  }

  &-label {
    display: none;
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    display: inline-block;

    &-label {
      display: inline-flex;
      transform: translate(-68px, -52px);

      .label-icon {
        background: color('blue-ribbon');
        color: color('white');
        fill: color('white');
        margin-left: 4px;
        border-radius: 6px;
      }

      .label-title {
        visibility: hidden;
        background: color('blue-ribbon');
        color: color('white');
      }
    }

    &-input {
      &:checked {
        &~ .ap--sidebar {
          grid-column: 1 / 2;
          nav {
            display: none;
          }
          svg {
            transform: rotate(180deg);
          }
        }
        &~ .ap--toc {
          @media (max-width: 1023px) {
            grid-column: 2 / 25;
          }
        }
        &~ .ap--toc ~ .ap--content  {
          padding-left: 80px;
          padding-right: 80px;
          grid-column: 2 / 20;
          @media (max-width: 1023px) {
            grid-column: 2 / 25;
          }
        }

        &~ .ap--content, &~ .ap--help  {
          grid-column-start: 2;
          padding-left: 80px;
          padding-right: 80px;
          .ap-a-sidebar-desktop-toggle-label {
            transform: rotate(-90deg);
            top: 176px;
            margin-left: -125px;

            .label-icon {
              width: 35px;
              margin-left: -2px;
              transform: rotate(90deg);
              border-radius: 0 0 6px 6px;
              svg {
                transform: rotate(180deg);
              }
            }

            .label-title {
              visibility: visible;
              border-radius: 0 6px 6px 0;

            }
          }
        }
      }
    }
  }
}
