@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '_text.scss';
@import './_color';


.#{utility('content')} {
  .intro {
    @include txt-1;
    padding: 0;

    * {
      font-size: inherit;
    }
  }

  p {
    @include txt;
    @include txt-p;
    @include txt-2;

  	small {
  		@include txt-2;
  	}
  }

  code {
    @include txt-mono-inline;
  }

  a {
    code {
      @include txt-mono-inline;
      @include color-blue-ribbon;
    }
  }

  pre {
    @include txt-mono;
    @include txt-1;
    white-space: pre-wrap;
  }

  ul,
  ol {
    @include txt;
    @include txt-p;
    @include txt-2;
    padding-left: 2em;
    margin: 1.5em 0 2.5em;

    li {
      padding-left: 0.5em;

      p {
        font-size: 1em;
      }
    }
  }

  hr {
    height: 1px;
    margin: 0.75em 0;
    background-color: color('athens-gray');
    border: none;
  }
}
