/*

###################
### ATOM: video ###
###################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '_text.scss';

.#{atom('video')} {
  margin: 0 -15px 32px 0;

  @media (min-width: 768px) {
    margin-right: -30px;
    max-width: 100%;
  }

  @media (min-width: 1024px) {
    margin-right: 0;
  }

  &-video {
    @include box-shadow;
  }

  &-caption {
    @include txt;
    @include txt-3;
    padding-top: 10px;
  }
}
