{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/component-detail.css') %}
{% endblock %}

{% block main %}
<main class="ad--main ad-t-component-detail">
  <div class="ad--container">
    {% include 'views/partials/component-sidebar.j2' %}
    {% include 'views/partials/content.j2' %}

    {% do doc.styles.addCssFile('css/components/organisms/component-help.css') %}
    {% do doc.icons.useIcon('icons/internal.svg') %}

    <section class="ad--help">
      <div class="ad-o-component-help">
        <span class="ad-o-component-help-hl">{{ _('Need more help?') }}</span>
        <p class="ad-o-component-help-copy">{{ _('You\'ve red this document a dozen times but it doesn\'t really cover all of your questions? Maybe other people felt the same: reach out to them on Stack Overflow.')}}</p>
        <a href="https://stackoverflow.com/questions/tagged/amp-html" rel="noopener" class="ad-m-lnk">
          <svg class="ad-a-ico ad-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          <span class="ad-m-lnk-text">{{ _('Go to Stack Overflow') }}</span>
        </a>
        <div class="ad-o-component-help-divider"></div>
        <span class="ad-o-component-help-hl">{{ _('Found a bug or missing a feature?') }}</span>
        <p class="ad-o-component-help-copy">{{ _('The AMP project strongly encourages your participation and contributions! We hope you\'ll become an ongoing participant in our open source community but we also welcome one-off contributions for the issues you\'re particularly passionate about.') }}</p>
        <a href="https://github.com/ampproject/amphtml" rel="noopener" class="ad-m-lnk link-preview-1">
          <svg class="ad-a-ico ad-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          <span class="ad-m-lnk-text">{{ _('Go to GitHub') }}</span>
        </a>
        <div class="ad-o-component-help-divider"></div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
