{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/molecules/table.css') %}
{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}

{% if doc.has_inline_preview %}
  {% do doc.styles.addCssFile('css/components/atoms/fab.css') %}
  {% do doc.styles.addCssFile('css/components/organisms/code-preview.css') %}
  {% do doc.icons.useIcon('icons/reload.svg') %}
  {% do doc.icons.useIcon('icons/orientation-toggle.svg') %}
{% endif %}

{% do doc.styles.addCssFile('css/components/templates/component-detail.css') %}
{% endblock %}

{% block main %}
{% include 'views/partials/sidebar-toggle-observer.j2' %}
{% include 'views/partials/format-filter-hint.j2' %}
<main class="ap--main ap-t-component-detail">
  <div class="ap--container">
    {% include 'views/partials/sidebar-toggle.j2' %}
    <span id="ap--sidebar-content" class="ap--sidebar"></span>
    {% include 'views/partials/content.j2' %}

    {% do doc.styles.addCssFile('css/components/organisms/help.css') %}
    {% do doc.icons.useIcon('icons/external.svg') %}

    <section class="ap--help">
      <div class="ap-o-help">
        <span class="ap-o-help-hl">{{ _('Need more help?') }}</span>
        <p class="ap-o-help-copy">{{ _('You\'ve read this document a dozen times but it doesn\'t really cover all of your questions? Maybe other people felt the same: reach out to them on Stack Overflow.')}}</p>
        <a href="https://stackoverflow.com/questions/tagged/amp-html" rel="noopener" class="ap-m-lnk">
          <svg class="ap-a-ico ap-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          <span class="ap-m-lnk-text">{{ _('Go to Stack Overflow') }}</span>
        </a>
        <div class="ap-o-help-divider"></div>
        <span class="ap-o-help-hl">{{ _('Found a bug or missing a feature?') }}</span>
        <p class="ap-o-help-copy">{{ _('The AMP project strongly encourages your participation and contributions! We hope you\'ll become an ongoing participant in our open source community but we also welcome one-off contributions for the issues you\'re particularly passionate about.') }}</p>
        <a href="https://github.com/ampproject/amphtml" rel="noopener" class="ap-m-lnk link-preview-1">
          <svg class="ap-a-ico ap-m-lnk-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#external"></use></svg>
          <span class="ap-m-lnk-text">{{ _('Go to GitHub') }}</span>
        </a>
        <div class="ap-o-help-divider"></div>
      </div>
    </section>
  </div>
</main>
{% with type = 'component' %}
{% include 'views/partials/sidebar.j2' %}
{% endwith %}
{% endblock %}
