{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/molecules/table.css') %}
{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}

{% do doc.styles.addCssFile('css/components/templates/docs-detail.css') %}
{% endblock %}

{% block main %}
{% include 'views/partials/sidebar.j2' %}
{% include 'views/partials/sidebar-toggle-observer.j2' %}
<main class="ap--main ap-t-docs-detail">
  <div class="ap--container">
    {% include 'views/partials/sidebar-toggle.j2' %}
    <span id="ap--sidebar-content" class="ap--sidebar"></span>
    {% include 'views/partials/content.j2' %}

    {% if doc.collection.chaptered %}
    <section class="ap--content">
      <div class="ap--chapter-indicator">
        {# If the document hasn't got a previous document, it's the first one #}
        {% set document_list = doc.collection.list_docs(locale=doc.locale, include_hidden=True) %}

        {% set previous_document = doc.prev(docs=document_list) %}
        {% set next_document = doc.next(docs=document_list) %}

        {% if not previous_document and next_document %}
        {% do doc.styles.addCssFile('css/components/atoms/button.css') %}
        <a href="{{ next_document.url.path }}" class="ap-a-btn">
          {{ _('Get started') }}
        </a>
        {% else %}
        {% if previous_document %}
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <a href="{{ previous_document.url.path }}" class="ap-m-lnk ap-m-lnk-square ap--previous">
          <div class="ap-a-ico ap-m-lnk-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
          <span class="ap-m-lnk-text">{{ _('Previous chapter') }}</span>
        </a>
        {% endif %}
        {% if next_document %}
        {% do doc.icons.useIcon('icons/internal.svg') %}
        <a href="{{ next_document.url.path }}" class="ap-m-lnk ap-m-lnk-square ap--next">
          <span class="ap-m-lnk-text">{{ _('Next chapter') }}</span>
          <div class="ap-a-ico ap-m-lnk-icon">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#internal"></use></svg>
          </div>
        </a>
        {% endif %}
        {% endif %}
      </div>
    </section>
    {% endif %}

  {# Always assume doc.author and doc.translator are GitHub handles #}
  {% if doc.author %}
  <section class="ap--content">
    <hr>
    {% do doc.styles.addCssFile('/css/components/molecules/mini-card.css') %}
    {% do doc.styles.addCssFile('/css/components/organisms/mini-card-list.css') %}
    <ul class="ap-o-mini-card-list">
      <li class="ap-o-mini-card-list-item">
        <div class="ap-m-mini-card">
          <amp-img
            alt="Author avatar"
            src="https://github.com/{{ doc.author }}.png?size=38"
            width="38"
            height="38"
            class="large"
            layout="intrinsic">
          </amp-img>
          <span><strong>Written by <a href="https://github.com/{{ doc.author }}" rel="nofollow" target="_blank">@{{ doc.author }}</a></strong>{% if doc.contributors %}<br><small>with contributions from {% for contributor in doc.contributors %}{% if loop.last and not loop.first %}and {% endif %}<strong><a href="https://github.com/{{ contributor }}" rel="nofollow" target="_blank">{{ contributor }}</a></strong>{% if loop.last %}.{% else %}, {% endif %}{% endfor %}</small>{% endif %}</span>
        </a>
      </li>
      {% if doc.translator %}
      <li class="ap-o-mini-card-list-item">
        <a href="https://github.com/{{ doc.translator }}" rel="nofollow" class="ap-m-mini-card" target="_blank">
          <amp-img
            alt="Author avatar"
            src="https://github.com/{{ doc.translator }}.png?size=38"
            width="38"
            height="38"
            layout="intrinsic">
          </amp-img>
          <span>Translated by <strong>@{{ doc.translator }}</strong></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
  {% endif %}

  </div>
{% include 'views/partials/sidebar-toggle-visibility-observer.j2' %}
</main>
{% endblock %}
