{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/molecules/table.css') %}
{% do doc.styles.addCssFile('css/components/molecules/code-snippet.css') %}

{% do doc.styles.addCssFile('css/components/templates/guide.css') %}
{% endblock %}

{% block main %}
{% include 'views/partials/sidebar-toggle-observer.j2' %}
{% include 'views/partials/format-filter-hint.j2' %}
<main class="ap--main ap-t-guide">
  <div class="ap--container">
    {% include 'views/partials/sidebar-toggle.j2' %}
    {% include 'views/partials/content.j2' %}
  </div>
</main>
{% include 'views/partials/sidebar.j2' %}
{% endblock %}
