{% extends '/layouts/default.j2' %}

{% block styles %}
{{ super() }}

{% do doc.styles.addCssFile('css/components/templates/sucess-story.css') %}
{% endblock %}

{% block main %}
<main class="ad--main ad-t-success-story">
  {{ doc.headline }}
  {# {% include 'views/partials/content.j2' %} #}
</main>
{% endblock %}
