<!---
author: TomerAberbach
formats:
  - email
  - websites
--->

<!--
  ## Introduction

  This example shows how to implement a subscription settings icon dropdown. It is perfect for subscription based emails, as it allows the user to easily change their subscription settings at the moment they realize they want to. It also works for websites.
-->
<!-- -->
<!doctype html>
<html ⚡4email lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="<% canonical %>">
    <title>Subscription Settings</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp4email-boilerplate>body{visibility:hidden}</style>

    <!-- ## Setup -->

    <!--
      We need an [`amp-list`](/documentation/components/amp-list) to query the server for the user's current subscription settings on email or page load.
    -->
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>

    <!--
      We'll use [`amp-mustache`](/documentation/components/amp-mustache) to render the icon dropdown in its initial state, which should be based on the server's response.
    -->
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>

    <!--
      We'll also need [`amp-form`](/documentation/components/amp-form) to update the user's subscription settings on the server when they select a new setting from the icon dropdown.
    -->
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>

    <!--
      Lastly, we need [`amp-bind`](/documentation/components/amp-bind) to update the dropdown's state in response to events.
    -->
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>

    <style amp-custom>
      amp-list {
        min-height: 30px;
        font-family: 'Roboto', sans-serif;
        font-size: 0.875em;
      }

      .relative {
        position: relative;
      }

      .absolute {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .icon-sized {
        width: 30px;
        height: 30px;
      }

      .hidden {
        display: none;
      }

      .disabled {
        opacity: 0.3;
      }

      #form {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      #form > * + * {
        margin-left: 5px;
      }

      .icon > * {
        visibility: hidden;
      }

      .icon.watching > .watching,
      .icon.only-mentions > .only-mentions,
      .icon.ignoring > .ignoring {
        visibility: visible;
      }

      #select {
        opacity: 0;
        cursor: pointer;
      }

      .disabled #select {
        cursor: progress;
      }
    </style>
  </head>
  <body>
    <!-- ## Implementation -->
    <!--
      ### Server

      The server responds to [GET](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/GET) and [POST](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST) requests at `<% base_path %>/subscription`.

      It responds to GET requests with one of the following JSON objects (depending on the user's current subscription settings):
      ```json
      {
        "currentSubscription": "watching",
        "watching": true
      }
      ```
      ```json
      {
        "currentSubscription": "only-mentions",
        "only-mentions": true
      }
      ```
      ```json
      {
        "currentSubscription": "ignoring",
        "ignoring": true
      }
      ```
      The purpose of the second property, which may seem unnecessary, is explained in a later section.

      The server expects POST requests to specify one of the subscription settings above (e.g. `ignoring`) for a `nextSubscription` field in its form data, and will update the user's current subscription setting to the specified value.
    -->

    <!--
      ### AMP

      We start with a native [`select`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select) element for our dropdown and fill it with our supported subscription settings. The `select` element is a great choice because it is highly accessible on all platforms.
    -->
    <select>
      <option value="watching">Watching</option>
      <option value="only-mentions">Only mentions</option>
      <option value="ignoring">Ignoring</option>
    </select>

    <!--
      To query the server for the user's current subscription settings on email or page load and pre-select the user's current setting in the dropdown, we wrap the `select` element in an `amp-list` and set its `src` appropriately.

      We use an `amp-mustache` template to render the `select` element with the `option` corresponding to the user's subscription setting having a `selected` attribute. To understand why the code is duplicative, consider that the `selected` attribute is a [boolean attribute](https://www.w3.org/TR/2011/WD-html5-author-20110809/common-microsyntaxes.html#boolean-attribute) and review the [`amp-mustache` restrictions](https://amp.dev/documentation/components/amp-mustache/#restrictions).
    -->
    <amp-list src="<% base_path %>/subscription" binding="refresh" items="." single-item layout="intrinsic">
      <template type="amp-mustache">
        <select>
          {{#watching}}<option selected value="watching">Watching</option>{{/watching}}
          {{^watching}}<option value="watching">Watching</option>{{/watching}}

          {{#only-mentions}}<option selected value="only-mentions">Only mentions</option>{{/only-mentions}}
          {{^only-mentions}}<option value="only-mentions">Only mentions</option>{{/only-mentions}}

          {{#ignoring}}<option selected value="ignoring">Ignoring</option>{{/ignoring}}
          {{^ignoring}}<option value="ignoring">Ignoring</option>{{/ignoring}}
        </select>
      </template>
    </amp-list>


    <!--
    ## Final
    -->
    <amp-list
      src="<% base_path %>/subscription" binding="refresh"
      items="." single-item layout="responsive">
      <template type="amp-mustache">
        <form
          id="form" action-xhr="<% base_path %>/subscription" method="post"
          on="submitting: AMP.setState({ subscription: { error: false } });
              submit-success: AMP.setState({ subscription: { current: subscription.next, next: null } });
              submit-error: AMP.setState({ subscription: { next: null, error: true } });">
          <div class="relative icon-sized" [class]="(subscription.next ? 'disabled' : '') + ' relative icon-sized'">
            <div
              class="{{currentSubscription}} icon relative icon-sized"
              [class]="(subscription.current || '{{currentSubscription}}') + ' icon relative icon-sized'">
              <amp-img class="watching absolute" width="30" height="30" src="/static/samples/img/watching.png"></amp-img>
              <amp-img class="only-mentions absolute" width="30" height="30" src="/static/samples/img/only-mentions.png"></amp-img>
              <amp-img class="ignoring absolute" width="30" height="30" src="/static/samples/img/ignoring.png"></amp-img>
            </div>
            <select
              name="nextSubscription"
              id="select" class="absolute icon-sized"
              on="change: AMP.setState({ subscription: { next: event.value } }), form.submit;">
              {{#watching}}<option selected value="watching">Watching</option>{{/watching}}
              {{^watching}}<option value="watching">Watching</option>{{/watching}}

              {{#only-mentions}}<option selected value="only-mentions">Only mentions</option>{{/only-mentions}}
              {{^only-mentions}}<option value="only-mentions">Only mentions</option>{{/only-mentions}}

              {{#ignoring}}<option selected value="ignoring">Ignoring</option>{{/ignoring}}
              {{^ignoring}}<option value="ignoring">Ignoring</option>{{/ignoring}}
            </select>
          </div>
          <div id="error-message" class="hidden" [class]="subscription.error ? '' : 'hidden'">
            Something went wrong. Please try again
          </div>
        </form>
      </template>
    </amp-list>
  </body>
</html>
