@mixin container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  padding: 120px 20px 0;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(24, 1fr);
    padding: 19px 30px 0;
  }
}

@mixin container-fluid {
  @include container;
  max-width: 2560px;
  padding-left: 0;
  padding-right: 0;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin content {
  grid-column: 1;
  position: relative;

  @media screen and (min-width: 768px){
    grid-column-start: 9;
    grid-column-end: 25;
  }

  @media screen and (min-width: 1024px){
    grid-column-start: 7;
    grid-column-end: 19;
  }
}

@mixin content-with-sidebar {
  padding-top: 42px;

  &:nth-of-type(2),
  &:nth-of-type(3) {
    @media screen and (min-width: 1024px){
      grid-row: 1;
    }
  }
}

@mixin sidebar {
  grid-column: auto;
  padding: 0;

  @media screen and (min-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row: span 6;
    margin-right: 0;
  }

  @media screen and (min-width: 1024px) {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}

@mixin toc {
  @media screen and (min-width: 768px) {
    grid-column-start: 9;
    grid-column-end: 25;
    padding-top: 20px;

    & + .#{utility('content')} {
      padding-top: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    grid-column-start: 20;
    grid-column-end: 25;
    grid-row: span 2;
    padding-top: 46px;

    & + .#{utility('content')} {
      padding-top: 42px;
    }
  }
}
