.#{utility('main')}>.#{utility('container')}:first-child {
  padding-top: 26px;
  padding-bottom: 3rem;
}

@mixin container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(24, 1fr);
    padding: 0 30px;
  }
}

@mixin container-fluid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;

  @media (min-width: 768px) {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(24, 1fr);
    padding: 0;
  }
}

@mixin content {
  grid-column: 1;
  position: relative;
  max-width: 100%;

  @media (min-width: 768px) {
    grid-column: 9/25;
  }

  @media (min-width: 1024px) {
    grid-column: 7 / 19;
  }

  p.limit {
    @media (min-width: 1024px) {
      max-width: 70%;
    }
  }
}

@mixin content-with-sidebar {
  padding-top: 42px;

  &:nth-of-type(2),
  &:nth-of-type(3) {
    @media (min-width: 1024px) {
      grid-row: 1;
    }
  }
}

@mixin sidebar {
  grid-column: auto;
  padding: 0;

  @media (min-width: 768px) {
    grid-column: 1 / 8;
    grid-row: span 6;
    margin-right: 0;
  }

  @media (min-width: 1024px) {
    grid-column: 1 / 6;
  }
}

@mixin toc {
  @media (min-width: 768px) {
    grid-column: 9 / 25;

    &+.#{utility('content')} {
      padding-top: 0;
    }
  }

  @media (min-width: 1024px) {
    grid-column: 20 / 25;
    grid-row: span 2;
    padding-top: 46px;

    &+.#{utility('content')} {
      padding-top: 42px;
    }
  }
}
