/*

###########################
### TEMPLATE: roadmap ###
###########################

### INFO:

*/

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

.#{template('checklist')} {
  $root: &;
  padding: 0 15px;
  background: color('whisper');

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-gap: 30px;
    max-width: 1920px;
    margin: auto;
    padding: 0;
  }

  .#{utility('stage')} {
    @media (min-width: 768px) {
      grid-column: 1/25;
    }

    &.#{utility('container-fluid')} {
      width: calc(100% + 30px);
      margin: 0 -15px;

      @media (min-width: 768px) {
        width: 100%;
        margin: 0;
      }
    }

    .#{organism('stage')} {
      margin-bottom: 50px;

      &-content {
        margin: 15em 0 2em;

        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }

      &-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 70%;

        @media (min-width: 768px) {
          height: 90%;
          width: 60%;
        }
        @media (min-width: 1024px) {
          width: 45%;
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include content;
    max-width: 600px;
    margin: 0 auto;
  }

  &-intro {
    margin-bottom: 0;
    margin-left: 17px;

    @media (min-width: 768px) {
      grid-column: 3/22;
      margin-left: 0;
    }

    @media (min-width: 1024px) {
      grid-column: 7/19;
    }
  }

  &-list {
    grid-column: 2/23;
    width: 100%;
    margin-bottom: 100px;

    @media (min-width: 768px) {
      margin-left: 0;
      grid-column: 3/23;
    }

    @media (min-width: 1024px) {
      grid-column: 7/19;
    }

    h2 {
      margin-top: 60px;
    }

    &-item {
      &-section {
        margin-bottom: 20px;
        border-radius: 8px;

        @media (min-width: 768px) {
          margin-bottom: 30px;
        }

        &-header {
          padding: 23px 20px;
          border: solid 2px color('mercury');
          border-radius: 8px;
          background: transparent;

          @media (min-width: 768px) {
            padding: 23px 35px 23px 25px;
          }

          &-container {
            display: flex;
            align-items: center;
            height: 100%;
          }

          &-title {
            margin: 0;
            max-width: calc(100% - 80px);
          }

          &-toggle {
            width: 21px;
            height: 21px;
            margin-left: auto;
            fill: color('river-bed');
            transition: transform 0.25s cubic-bezier(0, 0, 0.3, 1);
          }
        }

        &-body {
          font-size: 14px;
          line-height: 1.86;
          padding: 0 20px 30px 25px;

          @media (min-width: 768px) {
            padding: 0 35px 35px 25px;
          }

          p {
            margin: 0;
          }

          &-image {
            margin: 30px 0;

            &-caption {
              margin-top: 10px;
            }
          }

          &-separator {
            display: block;
            width: 100%;
            height: 1px;
            margin: 30px 0;
            background: #d8d8d8;
          }

          &-progress {
            display: flex;
            align-items: center;
          }

        }

        &[expanded] {
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);

          #{$root}-list-item-section {

            &-header {
              background: color('white');
              border-bottom: 0;
              border-radius: 8px 8px 0px 0px;

              &-toggle {
                transform: rotate(180deg);
              }
            }

            &-body {
              border: solid 2px color('mercury');
              border-top: 0;
              border-radius: 0px 0px 8px 8px;
              background: color('white');

              button {
                border: 0;
              }
            }
          }
        }
      }

    }
  }
}
