/*

##################################
### TEMPLATE: component detail ###
##################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

body {
  background-color: color('whisper');
}

.#{template('component-detail')} {

  .#{utility('container')} {
    @include container;
    @include container-nogap;
  }

  .#{utility('content')},
  .#{utility('help')} {
    @include content;
    @include content-white-bg;
    padding-left: 0;
    padding-right: 0;
  }

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('toc')} {
    @include toc-white-bg;
  }

  .#{utility('sidebar')} + .#{utility('content')},
  .#{utility('toc')} + .#{utility('content')} {
    @include content-with-sidebar;
  }

  .#{utility('versions')} {
    display: inline-block;
    background: #fff;
    padding: 0.1em 0.2em;
    border-radius: 3px;
    border: 2px solid #d5d9de;    
    a:not([href]) {
      color: #20202A;
      border-bottom: 2px solid #20212a;
    }
  }

}

@media (min-width: 768px){
  .#{template('component-detail')} {
    .#{utility('content')},
    .#{utility('help')} {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}
