/*

######################################
### TEMPLATE: courses overview ###
######################################

### INFO:

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

.#{template('courses-overview')} {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  background-attachment: fixed;

  .#{utility('container')} {
    @include container;
    @include container-nogap;
  }

  .#{utility('content')} {
    @include content;
    @include content-white-bg;
  }

  .#{utility('content')} {
    p.limit {
      margin-bottom: 1.75em;
    }

    h1, h2 {
      margin-bottom: .5em;
    }

    @media (min-width: 930px) {
      .ap-m-breadcrumbs {
        margin-left: 60px;
      }
    }
  }

  .#{utility('section')} {
    @media (min-width: 930px) {
      margin: 0 60px;
    }
  }

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('toc')} {
    @include toc-white-bg;
  }

  .#{utility('sidebar')} + .#{utility('content')},
  .#{utility('toc')} + .#{utility('content')} {
    @include content-with-sidebar;
  }

  .#{utility('intro')} {
    margin-bottom: 50px;
  }

  .#{organism('teaser-grid')} {

    &-list {

      @media (min-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .#{molecule('teaser')} {

      & > a {
        height: auto;
      }

      &-icon {
        background: linear-gradient(225deg, color('blue-ribbon') 0%, color('robins-egg') 75%);
      }
    }
  }

  .#{utility('result')} {
    padding: 20px 0 60px;
    display: grid;

    @media (min-width: 480px) {
      grid-template-columns: 1.5fr 3fr;
      align-items: center;

      amp-img {
        margin-right: 20px;
      }
    }

    .#{utility('section')} {
      @media (min-width: 930px) and (max-width: 1023px) {
        margin: 0 20px;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: 2fr 3fr;
    }
  }

  .#{utility('requirements')} {
    padding: 30px 0;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .#{utility('card-grid')} {
    padding-bottom: 0;
    padding-top: 0;
  }

  .#{organism('card-grid')} {
    &-card {
      margin: 18px 0 36px;
      border: none;
    }
  }

  .#{utility('video-slider')} {
    padding-top: 0;

    h2 {
      margin-top: 10px;
    }
  }

}
