/*

######################################
### TEMPLATE: courses overview ###
######################################

### INFO:

*/

@import '_extends.scss';
@import '_functions.scss';
@import '_mixins.scss';
@import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

.#{template('courses-overview')} {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  background-attachment: fixed;

  .#{utility('container')} {
    @include container;
    @include container-nogap;
  }

  .#{utility('content')} {
    @include content;
    @include content-white-bg;
  }

  .#{utility('content')} {
    p.limit {
      margin-bottom: 1.75em;
    }

    h1, h2 {
      margin-bottom: .5em;
    }

    @media (min-width: 930px) {
      .ap-m-breadcrumbs {
        margin-left: 60px;
      }
    }
  }

  .#{utility('section')} {
    @media (min-width: 930px) {
      margin: 0 60px;
    }
  }

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('toc')} {
    @include toc-white-bg;
  }

  .#{utility('sidebar')} + .#{utility('content')},
  .#{utility('toc')} + .#{utility('content')} {
    @include content-with-sidebar;
  }

  .#{organism('tool-block')} {
    padding-bottom: 3rem;
  }  

  .#{utility('card-grid')} {
    margin-bottom: 40px;

    @media (min-width: 930px) {
      padding-bottom: 40px;
    }    
  }

  .#{organism('card-grid')} {
    &-card {
      margin: 18px 0 36px;
    }
  }

  section {
    &.#{utility('content')} {
      @include content-white-bg;
    }
  }
}
