/*

#############################################
### TEMPLATE: overview benefits ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/benefit';
@import '../molecules/copy';
@import '../molecules/headline-icon.scss';
@import '../molecules/quote';
@import '../molecules/table.scss';

@import '../organisms/benefits-overview.scss';
@import '../organisms/case-band.scss';
@import '../organisms/case-grid.scss';
@import '../organisms/component-visual.scss';
@import '../organisms/kpi-list.scss';
@import '../organisms/made-of.scss';

@import '../templates/_default.scss';

.#{template('custom-content')} {

  .#{utility('container')} {
    @include container;
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include content;
  }

  .#{organism('platformandvendor')} {
    grid-column: 2 / 24;

    &-accordion-header {
      background: none;
      background-color: color('white');
      border: 1px solid color('whisper');
      border-left: none;
      border-right: none;
      border-radius: 4px;
      box-shadow: 0 10px 25px 0px rgba(0, 0, 0, 0.07);
      transition: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
      margin-bottom: 2em;
      h4 {
        margin: 15px;
      }
    }

    &-item-container {
      list-style: none;
      columns: 4;
    }
  }

  .#{utility('content')} {
    @include default-section-padding;
    margin-bottom: 7em;

    @media screen and (min-width: 768px) {
      margin-bottom: 8vw;
    }

    .#{utility('container')} {
      padding: 0;
    }

    .#{molecule('copy')} {
      &:last-child,
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{utility('component-visual')} {
    .#{organism('component-visual')} {
      &-copy {
        @include default-section-padding;
      }
    }
  }

  .#{utility('case-band')} {
    .#{molecule('copy')} {
      @include default-section-padding;
    }
  }

  .#{utility('stage')} {
    .#{organism('stage')} {
      margin-bottom: 50px;

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      &-content {
        margin: 20em 0 4em;

        @media screen and (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }
    }
    
    & + .#{utility('content')} {
      @media screen and (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }
}
