/*

######################################
### TEMPLATE: docs guides overview ###
######################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

@import 'components/molecules/_teaser.scss';

.#{template('docs-guides-overview')} {

  .#{utility('container')} {
    @include container;
  }

  .#{utility('content')},
  .#{utility('help')} {
    @include content;
  }

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('toc')} {
    @include toc;
  }

  .#{utility('sidebar')} + .#{utility('content')},
  .#{utility('toc')} + .#{utility('content')} {
    @include content-with-sidebar;
  }

  section {
    &.#{utility('content')},
    &.#{utility('teaser-grid')} {
      @media screen and (min-width: 1024px){
        grid-column-start: 7;
        grid-column-end: 25;
      }
    }
  }

  .#{organism('teaser-grid')} {
    display: block;
  }

  .#{molecule('teaser')} {
    @include teaser;
    @include teaser-linking;
    height: 100%;

    & > a {
      @include teaser-linking;
      height: 100%;
    }

    &-tags {
      font-size: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }

    &-card {
      @include teaser-card;
      height: 100%;
      border-radius: 0;
    }

    &-header {
      @include teaser-header;
      height: 90px;

      &-title {
        @include teaser-header-title;
      }
    }

    &-content {
      @include teaser-content;
    }

    &-headline {
      @include teaser-headline;
      margin-bottom: 0.65em;
    }

    &-copy {
      @include teaser-copy;
    }

    &-image {
      @include teaser-image;
      @include box-shadow;

      &:before {
        height: 100%;
      }

      + .#{molecule('teaser-card')} {
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        .#{molecule('teaser-content')} {
          padding-left: 0;
          padding-right: 0;
          padding-top: 25px;
        }
      }
    }
  }
}
