/*

######################################
### TEMPLATE: docs guides overview ###
######################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

@import 'components/molecules/_teaser.scss';

.#{template('docs-guides-overview')} {
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  background-attachment: fixed;

  .#{utility('container')} {
    @include container;
    @include container-nogap;
  }

  .#{utility('content')} {
    @include content;
    @include content-white-bg;
  }

  .#{utility('content')} {
    p.limit {
      margin-bottom: 1.75em;
    }

    h1, h2 {
      margin-bottom: .5em;
    }

    @media (min-width: 930px) {
      .ap-m-breadcrumbs {
        margin-left: 60px;
      }
    }
  }

  .#{utility('section')} {
    @media (min-width: 930px) {
      margin: 0 60px;
    }
  }

  .#{utility('sidebar')} {
    @include sidebar;
  }

  .#{utility('toc')} {
    @include toc-white-bg;
  }

  .#{utility('sidebar')} + .#{utility('content')},
  .#{utility('toc')} + .#{utility('content')} {
    @include content-with-sidebar;
  }

  section {
    &.#{utility('content')} {
      @include content-white-bg;
    }
  }
}
