/*

################################
### TEMPLATE: events  ###
################################

### INFO:

*/

@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';


.#{template('events')} {
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top right;
  background-attachment: fixed;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768"><defs><linearGradient id="a" x1="239.67" y1="855.23" x2="606.28" y2="-152.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23EDEDF1"/></linearGradient></defs><g><path fill="url(%23a)" d="M0 0h1024v214L786.37 768H0V0z"/></g></svg>');

  section {
    margin-bottom: 50px;

    .copy {
      grid-column: 7 / 18;
    }
  }
}

  .#{utility('stage')} {
    .#{organism('stage')} {
      margin-bottom: 50px;

      &-content {
        margin: 20em 0 4em;

        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }

      &-content-roadshow {
        margin: 16em 0 2em;

        @media (min-width: 768px) {
          margin: 5vw 0 5vw;
        }
      }

    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }

  }

  .#{utility('container')} {
    @include container;

    &.ampconf-agenda {

      @media (min-width: 768px) {
        grid-gap: 0;
      }

      @media (min-width: 1024px) {
        grid-gap: 30px;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include default-section-padding;

      &-default {
        @include txt;
        @include txt-lrg;
        grid-column: 6 / 18;

        &-disclaimer {
          @include txt-1;
        }
      }

      &-wide {
        grid-column: 5 / 21;
        position: relative;
        width: 100%;

        &.row {
          grid-column: 4 / 22;
          display: flex;
          flex-wrap: wrap;

          @media (min-width:768px) {
            flex-wrap: nowrap;
          }
        }

      }

      &-x-wide {
        grid-column: 4 / 22;
        max-width: 100%;
      }

  }

  .#{utility('stage')} {
    margin-bottom: 0;
    overflow: visible;
  }

  .#{utility('container-float-right')} {
    padding-top: 50px;
    padding-left: 20px;

    @media (min-width: 768px) {
      padding: 50px 20px 0;
    }
  }

  .#{utility('flex-container')} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .#{utility('inline-footer')} {
    grid-column: 3 / 22;

    @media (max-width: 767px) {
      flex-wrap: nowrap;
    }
  }
