/*

#############################################
### TEMPLATE: overview benefits ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

.#{template('overview-use-cases')} {
  
  .#{utility('container')} {
    @include container;
  }
  
  .main,
  .intro,
  .help {
    @include content;
  }
  
  .sidebar {
    @include sidebar;
  }
  
  .toc-column {
    @include toc;
  }
  
  .sidebar + .main,
  .toc-column + .main {
    @include content-with-sidebar;
  }

  section {
    position: relative;
    z-index: 1;

    &.#{organism('stage')} {
      grid-column: 1 / -1;
      z-index: 2;
    }

    &.main {
      padding: 20px;
      grid-column: 1 / -1;

      @media screen and (min-width: 768px) {
        grid-column: 7 / 19;
      }
    }
  }
}