/*

###########################
### TEMPLATE: pixi ###
###########################

### INFO:

*/
@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';
@import 'components/templates/_default.scss';

.#{template('pixi')} {
  $root: &;
  background: color('whisper');

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-gap: 30px;
    max-width: 1920px;
    margin: auto;
    padding: 0;
  }

  .#{utility('stage')} {
    @media (min-width: 768px) {
      grid-column: 1/25;
    }

    &.#{utility('container-fluid')} {
      width: calc(100% + 30px);
      margin: 0 -15px;

      @media (min-width: 768px) {
        width: 100%;
        margin: 0;
      }
    }

    .#{organism('stage')} {
      margin-bottom: 50px;

      &-content {
        margin: 15em 0 2em;

        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }

      &-image {
        position: absolute;
        top: -10%;
        right: 0;
        width: 62%;
        height: 100%;

        @media (min-width: 768px) {
          height: 90%;
          width: 60%;
        }

        @media (min-width: 1024px) {
          width: 45%;
        }

        svg {
          height: 100%;

          @media (min-width: 1024px) {
            height: 140%;
            width: 100%;
            transform: translateY(-5%);
          }
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  &-coming-soon {
    font-size: 18px;
  }

  section {
    grid-column: 6/20;
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px;

    @media (min-width: 1024px) {
      margin: 30px auto;
    }
  }

  &-ctas {
    display: flex;
    margin-bottom: 100px;

    a {
      padding: 0 10px 10px 0;
      transition-delay: 400ms;
    }
  }

  &-intro {
    margin-left: 17px;

    p {
      padding-left: 20px;

      @media (min-width: 768px) {
        padding: 0;
      }
    }
  }

  &-checks {
    grid-column: 1/25;
    margin-bottom: 200px;

    &-reports {
      grid-column: 1/25;
      margin: 57px 0;
      padding: 60px 0 80px;
      background: linear-gradient(225deg, #00dcc0 0, #005af0 75%);

      section {
        grid-column: 6/20;
      }

      h2 {
        margin: 30px 0 20px;
        color: color('white');
        transition: opacity 0.2s ease;
      }

      &.pristine {
        h2 {
          opacity: 0.8;
        }
      }
    }

    &-basic {
      display: flex;
      flex-direction: column;
      border-radius: 4px;
      overflow: hidden;

      .pristine & {
        border: solid 2px transparentize(color('white'), 0.8);

        @media (min-width: 768px) {
          border: 0;
        }
      }

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        border: 0;
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
