/*

###########################
### TEMPLATE: pixi ###
###########################

### INFO:

*/
@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';
@import 'components/templates/_default.scss';

.#{template('pixi')} {
  $root: &;
  background: color('whisper');

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-gap: 30px;
    max-width: 1920px;
    margin: auto;
    padding: 0;
  }

  .#{utility('stage')} {
    @media (min-width: 768px) {
      grid-column: 1/25;
    }

    &.#{utility('container-fluid')} {
      width: calc(100% + 30px);
      margin: 0 -15px;
      @media (min-width: 768px) {
        width: 100%;
        margin: 0;
      }
    }

    .#{organism('stage')} {
      margin-bottom: 50px;

      &-content {
        margin: 15em 0 2em;
        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }

      &-image {
        position: absolute;
        top: -10%;
        right: 0;
        width: 62%;
        height: 100%;
        @media (min-width: 768px) {
          height: 90%;
          width: 60%;
        }
        @media (min-width: 1024px) {
          width: 45%;
        }

        svg {
          height: 100%;
          @media (min-width: 1024px) {
            height: 140%;
            width: 100%;
            transform: translateY(-5%);
          }
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  &-coming-soon {
    margin-bottom: 100px;
  }

  &-intro {
    margin-left: 17px;
    @media (min-width: 768px) {
      grid-column: 4/22;
      margin-left: 0;
    }
    @media (min-width: 1024px) {
      grid-column: 8/20;
    }
  }

  &-checks {
    grid-column: 1/25;
    margin-bottom: 200px;


    .ap-m-input-bar {
      max-width: 900px;
      margin: auto;
    }


    &-reports {
      margin: 57px 0;
      padding: 15px;
      background: linear-gradient(225deg,#00dcc0 0,#005af0 75%);

      @media (min-width: 1024px) {
        padding: 35px;
      }

      h2 {
        max-width: 900px;
        margin: 30px auto 20px auto;
        color: color('white');
      }
    }

    &-primary {
      @media (min-width: 768px) {
        max-width: 900px;
        margin: auto;
        border: solid 2px color('white');
        border-radius: 4px;
      }

      &-metric {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        border-bottom: solid 2px color('mercury');
        background: color('white');

        &.fast {
          label {
            color: color('malachite');
          }
          span:after {
            border-top-color: color('malachite');
          }
        }

        &.average {
          label {
            color: color('buttercup');
          }
          span:after {
            border-top-color: color('buttercup');
          }
        }

        &.slow {
          label {
            color: color('red');
          }
          span:after {
            border-top-color: color('red');
          }
        }

        @media (min-width: 768px) {
          padding: 38px 25px;
        }

        &:last-child {
          border-bottom: 0;
        }

        &-title {
          margin-top: 0;
          line-height: 1.5;

          @media (min-width: 768px) {
            width: 35%;
          }

          label {
            color: color('silver');
          }
        }

        &-info {
          font-weight: bold;
          font-size: 14px;

          @media (min-width: 768px) {
            width: 35%;
          }

          span {
            font-weight: normal;
          }
        }

        &-graph {
          height: 100%;
          width: 100%;

          @media (min-width: 768px) {
            width: 62%;
            padding-left: 30px;
          }

          &-indicator {
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            font-weight: bold;
            transform: translateX(calc(100% - 16px));
            transition: all .6s ease-in-out;

            span {
              display: flex;
              flex-direction: column;
              justify-content: center;
              margin-right: auto;
              transform: translate3d(calc(-50% + 8px), 0, 0);

              &:after {
                content: '';
                margin: 2px auto 5px auto;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid color('red');
              }
            }
          }

          &-bar {
            position: relative;
            width: 100%;
            height: 5px;
            background: linear-gradient(to right, color('malachite') 0%,color('buttercup') 33%,color('buttercup') 66%, color('red') 100%);

            span {
              position: absolute;
              top: -2px;
              display: flex;
              flex-direction: column;
              line-height: 1;
              white-space: nowrap;
              transform: translateX(-50%);

              &:first-child {
                left: 33%;
              }

              &:last-child {
                left: 66%;
              }

              &:before {
                content: '';
                width: 1px;
                height: 10px;
                margin: 0 auto 5px;
                background: color('black');
              }
            }
          }
        }
      }
    }

    &-basic {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 900px;
      margin: auto;
      border-radius: 4px;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      &-metric {
        margin-bottom: 15px;
        padding: 15px 25px;
        border-radius: 4px;
        border: solid 2px color('white');
        font-size: 16px;
        background: color('white');

        @media (min-width: 768px) {
          flex-direction: row;
          width: 24%;
        }

        label {
          color: color('silver');
        }

        &.passed {
          label {
            color: color('malachite');
          }
        }
        &.failed {
          label {
            color: color('red');
          }
        }
      }
    }
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
