/*

###########################
### TEMPLATE: roadmap ###
###########################

### INFO:

*/
// @import '_extends.scss';
// @import '_functions.scss';
// @import '_mixins.scss';
// @import '_variables.scss';

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

.#{template('roadmap')} {
  background: color('whisper');

  .#{utility('stage')} {
    .#{organism('stage')} {
      margin-bottom: 50px;

      &-content {
        margin: 15em 0 2em;
        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }

      &-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        @media (min-width: 768px) {
          right: 8%;
          width: 56%;
        }
        @media (min-width: 1024px) {
          width: 45%;
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include content;
    max-width: 600px;
    margin: 0 auto;
  }

  .#{organism('roadmap')} {
    padding: 0 15px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(24,1fr);
      grid-gap: 30px;
      max-width: 1920px;
      margin: auto;
      padding: 0 2.5em;
    }

    &-intro {
      margin-bottom: 0;
      @media (min-width: 768px) {
        grid-column: 3/22;
      }
      @media (min-width: 1024px) {
        grid-column: 8/20;
        margin-bottom: 7em;

        h4 {
          display: none;
        }
      }
    }

    &-list {
      grid-column: 2/23;

      @media (min-width: 768px) {
        grid-column: 3/23;
      }

      &-quarter {
        position: sticky;
        top: 100px;
        z-index: 12;
      }

      &-item {
        width: 70%;
        margin-left: auto;
        margin-bottom: 30px;
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.07);
        border-left: 5px solid blue;
        background-color: color('white');
        border-radius: 8px;

        &-header {
          background-color: color('white');
          border: 0;
          padding: 20px;
          border-bottom: 1px solid grey;

          &-title {
            text-transform: capitalize;
          }
        }

        &-body {
          padding: 20px;

        }
      }
    }
  }
}
