/*

###########################
### TEMPLATE: roadmap ###
###########################

### INFO:

*/

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

.#{template('roadmap')} {
  $root: &;
  padding: 0 15px;
  background: color('whisper');

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-gap: 30px;
    max-width: 1920px;
    margin: auto;
    padding: 0;
  }

  .#{utility('stage')} {
    grid-column: 1/26;

    .#{organism('stage')} {
      margin-bottom: 50px;

      &-content {
        margin: 15em 0 2em;

        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }

      &-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        @media (min-width: 768px) {
          width: 56%;
        }
        @media (min-width: 1024px) {
          width: 45%;
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include content;
    max-width: 600px;
    margin: 0 auto;
  }

  &-intro {
    margin-bottom: 0;

    &-text {
      margin-left: 17px;

      @media (min-width: 768px) {
        margin-left: 0px;
      }
    }

    @media (min-width: 768px) {
      grid-column: 3/22;
    }

    @media (min-width: 1024px) {
      grid-column: 8/20;

      h4 {
        display: none;
      }
    }

    @media (min-width: 1920px) {
      grid-column: 8/18;
    }
  }

  &-filter {
    grid-column: 8/22;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      padding-top: 60px;
    }

    @media (min-width: 1920px) {
      grid-column: 8/20;
    }

    &-headline {
      margin-top: 0;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;

      .#{molecule('filter-bubble')} {
        transition: background-color .2s ease-in, color .2s ease-in, box-shadow .25s ease-in;

        &-text {
          color: color('oslo-gray');
        }

        &.active,
        &:hover {
          .ap-m-filter-bubble-text {
            color: color('white');
          }
          background-color: currentColor;
        }
      }
    }
  }

  &-container {
    position: relative;
    grid-column: 2/23;

    @media (min-width: 768px) {
      grid-column: 2/24;
      display: flex;
    }

    @media (min-width: 1280px) {
      grid-column: 3/23;
    }

    @media (min-width: 1920px) {
      grid-column: 4/20;
    }
  }

  &-navigation {
    display: none;
    width: 20%;

    @media (min-width: 768px) {
      display: block;
    }

    &-list {
      position: sticky;
      top: 50px;
      padding-top: 100px;
      margin-bottom: 328px;

      &-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        border: 0;
        background: transparent;

        &-title {
          margin: 15px 0;
          font-size: 28px;
          white-space: nowrap;
          cursor: pointer;
        }

        &-timeline {
          flex: 1 0 auto;
          height: 2px;
          margin-left: 20px;
          opacity: 0;
          background: color('link-water');
        }
      }
    }
  }

  &-list {
    margin-bottom: 100px;

    @media (min-width: 768px) {
      margin-left: -2px;
      width: 80%;
    }

    &-quarter-separator h3 {
      font-size: 28px;
      opacity: 0.2;
      margin-bottom: 0px;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &-item {
      position: relative;
      padding-top: 20px;

      &:last-child {
        #{$root}-list-item-timeline--vertical {
          display: none;
        }
      }

      &-timeline {
        display: none;
        position: absolute;
        left: 0;
        top: 130px;
        background: color('link-water');

        @media (min-width: 768px) {
          display: flex;
        }

        &--vertical {
          width: 2px;
          height: 100%;
        }

        &--horizontal {
          width: 7%;
          height: 2px;
        }

        &-dot {
          height: 14px;
          width: 14px;
          margin-left: -6px;
          margin-top: -6px;
          border-radius: 7px;
          border: 4px solid color('whisper');
          background: color('link-water');
        }
      }

      &-issue {
        min-height: 200px;
        padding: 15px 15px 5px 20px;
        border-radius: 8px;
        border-left: 7px solid color('black');
        background-color: color('white');
        box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.07);
        transition: box-shadow .3s ease-in;

        @media (min-width: 768px) {
          margin-left: auto;
          width: 93%;
          padding: 30px 30px 30px 50px;
        }

        p, li {
          font-size: 14px;
          line-height: 23px;
        }

        &-header {
          position: relative;
          outline: 0;
          cursor: pointer;

          &-title {
            margin: 5px 0;
            font-size: 22px;
          }

          &-subtitle {
            font-size: 12px;
            color: color('river-bed');
          }

          &-toggle {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 23px;
            height: 23px;
            border: 0;
            fill: color('blue-ribbon');
            background: color('white');
            transform-origin: center center;
            transition: transform .2s ease-out;
          }
        }

        &-body {
          position: relative;
          height: 7em;
          overflow: hidden;
          margin-top: 15px;
          border-top: solid 1px color('gallery');
          display: flex;
          flex-direction: column;

          @media (min-width: 768px) {
            flex-direction: row;
            height: 8em;
          }

          &-expand {
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            padding: 40px 0;
            border: 0;
            outline: 0;
            font-weight: bold;
            cursor: pointer;
            color: color('blue-ribbon');
            background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 90%);
            transition: transform .3s ease-in;

            @media (min-width: 768px) {
              bottom: 0;
              padding: 45px 40px 3px 0;
              background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 48%);
            }

            &:hover {
              transform: translate3d(0, 3px, 0);
            }

            &-text {
              display: none;

              @media (min-width: 768px) {
                display: block;
              }
            }
          }

          &-column {
            padding-right: 5px;

            @media (min-width: 768px) {
              padding-right: 20px;
              width: 50%;
            }

            .#{molecule('lnk')} {
              margin-top: 25px;
            }
          }

          h1, h2, h3 {
            margin: 20px 0 7px 0;
            font-size: 16px;
            color: color('river-bed');
          }

          ul, ol {
            padding-left: 18px;
            margin: 0;
          }

          li, p {
            margin: 0;
            line-height: 2;
          }

          code {
            @include txt-mono;
            display: inline;
            padding: 2px 4px;
            color: #000;
            background: color('gallery');
            font-size: .9em;
            white-space: nowrap;
          }
        }
      }

      &.expanded {

        #{$root}-list-item-issue-header {
          &-toggle {
            transform: rotate(180deg);
          }
        }
        #{$root}-list-item-issue-body {
          height: auto;

          &-expand {
            display: none;
          }
        }
      }
    }
  }

}
