/*

###########################
### TEMPLATE: roadmap ###
###########################

### INFO:

*/

@import 'components/atoms/_text.scss';
@import 'components/atoms/_color.scss';
@import 'components/atoms/_headline.scss';

@import 'components/templates/_default.scss';

.#{template('roadmap')} {
  background: color('whisper');

  .#{utility('stage')} {
    .#{organism('stage')} {
      margin-bottom: 50px;

      &-content {
        margin: 15em 0 2em;

        @media (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }

      &-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        @media (min-width: 768px) {
          width: 56%;
        }
        @media (min-width: 1024px) {
          width: 45%;
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include content;
    max-width: 600px;
    margin: 0 auto;
  }

  .#{organism('roadmap')} {
    $root: &;
    padding: 0 15px;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(24,1fr);
      grid-gap: 30px;
      max-width: 1920px;
      margin: auto;
      padding: 0 2.5em;
    }

    &-intro {
      margin-bottom: 0;

      @media (min-width: 768px) {
        grid-column: 3/22;
      }

      @media (min-width: 1024px) {
        grid-column: 8/20;

        h4 {
          display: none;
        }
      }
    }

    &-filter {
      grid-column: 8/22;
      margin-bottom: 50px;

      .#{molecule('filter-bubble')} {
        display: inline-block;
        position: relative;
        padding: 0;

        &-button {
          display: block;
          margin: -1px;
          padding: 5px 6px;
          border-radius: 26px;
          border: 0;
          color: color('silver');
          background: color('white');
          font-size: inherit;
          color: inherit;
          font-weight: inherit;
          transition: all .3s;

          @media (min-width: 1280px) {
            padding: 7px 20px;
          }

          &.active,
          &:hover {
            background: transparent;
            color: color('white');
          }
        }
      }
    }

    &-container {
      position: relative;
      grid-column: 2/23;

      @media (min-width: 768px) {
        grid-column: 2/24;
        display: flex;
      }

      @media (min-width: 1280px) {
        grid-column: 3/23;
      }
    }

    &-navigation {
      display: none;
      width: 20%;

      @media (min-width: 768px) {
        display: block;
      }

      &-list {
        position: sticky;
        top: 100px;
        padding-top: 27px;
        margin-bottom: 277px;

        &-item {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 0;
          border: 0;
          background: transparent;

          &-title {
            margin: 15px 0;
            font-size: 28px;
            white-space: nowrap;
          }

          &-timeline {
            flex: 1 0 auto;
            height: 2px;
            margin-left: 20px;
            opacity: 0;
            background: color('link-water');
          }
        }
      }
    }

    &-list {
      margin-bottom: 100px;

      @media (min-width: 768px) {
        margin-left: -2px;
        width: 80%;
      }

      &-quarter-separator h3 {
        font-size: 28px;

        @media (min-width: 768px) {
          display: none;
        }
      }

      &-item {
        position: relative;
        padding-bottom: 15px;

        &:target:before {
          display: none;
        }

        &:last-child {
          #{$root}-list-item-timeline--vertical {
            display: none;
          }
        }

        &-timeline {
          display: none;
          position: absolute;
          left: 0;
          top: 57px;
          background: color('link-water');

          @media (min-width: 768px) {
            display: flex;
          }

          &--vertical {
            width: 2px;
            height: 100%;
          }

          &--horizontal {
            width: 7%;
            height: 2px;
          }

          &-dot {
            height: 14px;
            width: 14px;
            margin-left: -6px;
            margin-top: -6px;
            border-radius: 7px;
            border: 4px solid color('whisper');
            background: color('link-water');
          }
        }

        &-issue {
          min-height: 200px;
          padding: 15px 15px 15px 20px;
          border-radius: 8px;
          box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.07);
          background-color: color('white');
          border-left: 7px solid;

          @media (min-width: 768px) {
            margin-left: auto;
            width: 93%;
            padding: 30px 30px 30px 50px;
          }

          p, li {
            font-size: 14px;
            line-height: 23px;
          }

          &-button {
            position: absolute;
            top: 15px;
            right: 10px;
            background: color('white');
            border: 0;

            svg {
              width: 23px;
              height: 23px;
              fill: color('blue-ribbon');
            }

            &[slot="expanded"] svg {
              transform: rotate(180deg);
            }
          }

          &-title {
            margin: 5px 0;
            font-size: 22px;
            text-transform: capitalize;
          }

          &-subtitle {
            font-size: 12px;
            color: color('river-bed');
          }

          &-body {
            margin-top: 15px;
            border-top: solid 1px color('gallery');
            display: flex;
            flex-direction: column;

            @media (min-width: 768px) {
              flex-direction: row;
            }

            &-column {
              padding-right: 5px;

              @media (min-width: 768px) {
                padding-right: 20px;
                width: 50%;
              }
            }

            h1, h2, h3 {
              margin-top: 20px;
              font-size: 16px;
              color: color('river-bed');
            }

            ul {
              padding-left: 18px;
            }

            li, p {
              margin: 0;
              line-height: 2;
            }

            code {
              display: inline;
              padding: 2px 4px;
              font-weight: 500;
              color: #000;
              background: color('gallery');
              font-size: .9em;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
