/*

###############################
### TEMPLATE: success story ###
###############################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';

@import '../molecules/copy';
@import '../molecules/quote';
@import '../molecules/text-media.scss';

@import '../organisms/text-media-block.scss';

@import '../templates/_default.scss';

body {
  background-color: color('whisper');
}

.#{template('success-story')} {
  overflow: hidden;
  perspective: 80rem;


  .#{utility('container')} {
    @include container;
  }

  .#{utility('container-fluid')} {
    @include container-fluid;

    @media (max-width: 767px) {
      padding: 0 20px;
    }
  }

  .#{utility('content')} {
    @include content;

  }

  .#{utility('stage')} {
    padding-bottom: 70vw;

    @media (min-width: 768px) {
      padding-bottom: 5vw;
    }

    .stage-logo {
      width: 15%;
      height: auto;
    }

    .#{organism('stage-content')} {
      grid-column: 3 / 12;

      h1 {
        @include hl;
        @include hl-h2;
        color: color('white');
      }
    }
  }

  .#{organism('text-media-block')} {
    padding-bottom: 5rem;

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      li {
        font-family: 'Noto Sans';
        line-height: 1.6em;
        font-weight: normal;
        color: #48525C;
      }
    }

    .media {
      .#{molecule('ghost-frame-tablet')}{
        max-width: 80%;
      }

      .#{molecule('ghost-frame-mobile')}{
        max-width: 100%;
        margin-left: 15%;
      }
    }

    .#{molecule('lnk')} {
      margin-top: 30px;
    }

    @media (max-width: 767px) {
      padding-bottom: 8.75rem;

      .media {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }

    &-center {
      grid-column: 1;
      position: relative;

      @media (min-width: 768px){
        grid-column-start: 9;
        grid-column-end: 25;
      }

      @media (min-width: 1024px){
        grid-column-start: 7;
        grid-column-end: 19;
      }
    }


    .#{utility('quote')} {
      padding: 8rem 0;

      @media (max-width: 767px) {
        padding: 5.5 0;
      }
    }

    @media (max-width: 767px) {
      &:nth-child(odd) {
        display: flex;

        .text  {
          order: 2;
        }
        + .media {
          order: 1;
        }
      }
    }
  }
  .#{molecule('quote')}{

    &-source {

      .#{atom('img')}  {
        width: 100%;
        max-width: 150px;
        position: relative;
        margin-bottom: 10px;
      }
    }
  }
}
