/*

###############################
### TEMPLATE: success story ###
###############################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/ghost-frame-desktop.scss';
@import '../molecules/ghost-frame-tablet.scss';
@import '../molecules/ghost-frame-mobile.scss';

@import '../templates/_default.scss';

.#{template('success-story')} {
  // background: linear-gradient(to bottom right, color('blue-ribbon'), color('alto'));

  .#{utility('container')} {
    @include container;
    height: 100vh;

    .#{molecule('ghost-frame-desktop')} {
      grid-column: 3 / 23;
    }

    .#{molecule('ghost-frame-tablet')} {
      grid-column: 7 / 18;
    }

    .#{molecule('ghost-frame-mobile')} {
      grid-column: 9 / 15;
    }
  }

  .#{utility('content')} {
    @include content;

    perspective: 80rem;
  }
}