/*

###############################
### TEMPLATE: success story ###
###############################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';
@import '../atoms/_text.scss';

@import '../molecules/copy';
@import '../molecules/ghost-frame-desktop.scss';
@import '../molecules/ghost-frame-mobile.scss';
@import '../molecules/ghost-frame-tablet.scss';
@import '../molecules/quote';
@import '../molecules/text-media.scss';

@import '../organisms/ghost-frame-block.scss';
@import '../organisms/text-media-block.scss';

@import '../templates/_default.scss';

.#{template('success-story')} {
  overflow: hidden;
  perspective: 80rem;

  .#{utility('container')} {
    @include container;
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include content;

  }

  .#{utility('stage')} {
    padding-bottom: 20vw;

    @media screen and (max-width: 767px) {
      padding-bottom: 100vw;
    }

    .#{organism('stage-content')} {
      grid-column: 3 / 12;

      h1 {
        @include hl;
        @include hl-h2;
        color: color('white');
      }
    }
  }

  .#{utility('kpi')} {
    padding-bottom: 17rem;

    @media screen and (max-width: 767px) {
      padding-bottom: 8.5rem;
    }

    .#{molecule('kpi')} {
      grid-column: span 8;
      padding-bottom: 56.25%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      &:nth-child(3n+1) {
        grid-column: 4 / 10;
      }

      &:nth-child(3n+2) {
        grid-column: 10 / 16;
      }

      &:nth-child(3n+3) {
        grid-column: 16 / 22;
      }
    }
  }

  .#{organism('text-media-block')} {
    padding-bottom: 17.5rem;

    @media screen and (max-width: 767px) {
      padding-bottom: 8.75rem;

      .media {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .#{utility('quote')} {
    padding: 11rem 0;

    @media screen and (max-width: 767px) {
      padding: 5.5 0;
    }
  }
}