/*

#######################
### TEMPLATE: tools ###
#######################

### INFO:

The page with all AMP tools.

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_color';
@import '../atoms/_headline';
@import '../atoms/_text';

@import '../molecules/copy';

@import '../organisms/tool-block';

@import '../templates/_default';

.#{template('tools')} {

  // :target::before {
  //   height: 125px;
  //   margin-top: -125px;

  //   @media screen and (min-width: 1024px) {
  //     height: 160px;
  //     margin-top: -160px;
  //   }
  // }

  .#{utility('container-fluid')} {
    @include container-fluid;

    .#{organism('stage')} {
      &-content {
        margin-bottom: 7vw;
      }
    }
  }

  .#{utility('container')} {
    @include container;

    padding-bottom: 3rem;

    @media (min-width: 768px) {
      padding-bottom: 6rem;
    }
  }

  .#{utility('content')} {
    @include content;

    @media (min-width: 768px) and (max-width: 1023px) {
      & {
        grid-column: 3 / 23
      }
    }
  }

  .#{organism('tool-block')} {
    padding-bottom: 3rem;

    @media (min-width: 768px) {
      padding-bottom: 6rem;
    }
  }



  h1 {
    @include hl;
    @include hl-h2;
  }

  h2 {
    @include hl;
    @include hl-h1;

    &:before {
      background: linear-gradient(to right, color('blue-ribbon'), color('robins-egg'));
      content: '';
      display: block;
      height: 10px;
      margin-bottom: 20px;
      width: 80px;
      border-radius: 100px;
    }
  }


  .#{molecule('code-snippet')} {
    margin-bottom: 0;
  }

  &-anchor-list {
    grid-column: 2 / 24;
    margin-bottom: 4rem;
    text-align: center;
  }
}
