/*

###########################
### TEMPLATE: use cases ###
###########################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

.#{template('use-cases')} {
  
  .#{utility('container')} {
    @include container;
  }
  
  .#{utility('content')},
  .#{utility('help')} {
    @include content;
  }
  
  .#{utility('sidebar')} {
    @include sidebar;
  }
  
  .#{utility('toc')} {
    @include toc;
  }
  
  .#{utility('sidebar')} + .#{utility('content')},
  .#{utility('toc')} + .#{utility('content')} {
    @include content-with-sidebar;
  }
}