/*

###########################
### TEMPLATE: use cases ###
###########################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../templates/_default.scss';

.#{template('use-cases')} {
  
  .#{utility('container')} {
    @include container;
  }
  
  .#{utility('container-fluid')} {
    @include container-fluid;
  }
  
  .#{organism('stage')} {
    .#{utility('container')} {
      @include container-fluid;
    }

    &-content {
      grid-column: 1 / -1;
      padding: 48% 0 0;
    }
  }
  
  .#{organism('fragment-slider')} {
    grid-column: 1 / -1;
    margin-top: -48%;
  }
}