/*

#############################################
### TEMPLATE: overview benefits ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/copy';
@import '../molecules/quote';
@import '../molecules/benefit';
@import '../molecules/table.scss';
@import '../molecules/headline-icon.scss';

@import '../organisms/case-band.scss';
@import '../organisms/case-grid.scss';
@import '../organisms/component-visual.scss';
@import '../organisms/benefits-overview.scss';
@import '../organisms/made-of.scss';

@import '../templates/_default.scss';

.#{template('what-is-amp')} {

  .#{utility('container')} {
    @include container;
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }


  .#{utility('content')} {
    @include default-section-padding;
    margin-bottom: 7em;

    @media screen and (min-width: 768px) {
      margin-bottom: 8vw;
    }

    .#{utility('container')} {
      padding: 0;
    }
  }

  .#{utility('component-visual')} {
    .#{organism('component-visual')} {
      &-copy {
        @include default-section-padding;
      }
    }
  }

  .#{utility('case-band')} {
    .#{molecule('copy')} {
      @include default-section-padding;
    }
  }

  .#{utility('stage')} {
    .#{organism('stage')} {
      margin-bottom: 50px;

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }

      &-content {
        margin: 20em 0 4em;

        @media screen and (min-width: 768px) {
          margin: 7vw 0 11vw;
        }
      }
    }
  }

  .#{utility('kpi')} {
    padding: 5rem 0;

    .#{molecule('kpi')} {
      grid-column: span 8;
      padding-bottom: 56.25%;

      &:nth-child(3n+1) {
        grid-column: 4 / 10;
      }

      &:nth-child(3n+2) {
        grid-column: 10 / 16;
      }

      &:nth-child(3n+3) {
        grid-column: 16 / 22;
      }
    }
  }
}
