/*

#############################################
### TEMPLATE: overview benefits ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/benefit';
@import '../molecules/copy';
@import '../molecules/headline-icon.scss';
@import '../molecules/quote';

@import '../organisms/benefits-overview.scss';
@import '../organisms/case-band.scss';
@import '../organisms/case-grid.scss';
@import '../organisms/component-visual.scss';

@import '../templates/_default.scss';

.#{template('what-is-amp')} {
  .#{utility('container')} {
    @include container;
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }

  .#{utility('content')} {
    @include default-section-padding;
    margin-bottom: 7em;

    @media (min-width: 768px) {
      margin-bottom: 8vw;
    }

    .#{utility('container')} {
      padding: 0;
    }

    .#{molecule('copy')} {
      &:last-child,
      p:last-child {
        margin-bottom: 0;
      }
      &-left {
        &-small {
          grid-column: 4/10;
        }
      }
      &-right {
        &-small {
          grid-column: 15/22;
        }
      }
      &-center {
        margin-top: 46px;
      }
    }

    h1 {
      @include hl-xlrg;
      margin-bottom: 1rem;
      max-width: 60%;
      margin: 0 auto;
    }
    h5 {
      &.overline {
        margin-bottom: 1rem;
        color: color('blue-ribbon');
        &-white {
          color: color('white');
        }
      }

      &.subline-medium {
        font-family: 'Noto Sans';
        font-size: 1.3125rem;
        font-weight: normal;
        margin-top: 0;
        max-width: 60%;
        margin: 0 auto;
      }
    }

    .masonry-container {
      display: grid;
      grid-gap: 30px;
      grid-column: 1/25;
      grid-template-columns: repeat(24, minmax(0, 1fr));
      align-items: center;
      margin: 88px 0;
      .media-container {
        &-masonry {
          &-big {
            height: 460px;
            background-color: purple;
            grid-column: 6/20;
            box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.41);
          }
          &-left,
          &-right {
            &-small {
              height: 420px;
              width: 100%;
              background-color: purple;
              box-shadow: 0px 25px 36px #0026663b;
            }
            &-big {
              height: 620px;
              width: 100%;
              background-color: pink;
              box-shadow: 0px 25px 36px #0026663b;
            }
          }
          &-left {
            &-small {
              grid-column: 4/13;
            }
            &-big {
              grid-column: 1/13;
            }
          }
          &-right-small {
            grid-column: 12/22;
          }
        }
      }
    }
  }

  .#{utility('container')} {
    .teaser-masonry {
      position: absolute;
      border-radius: 2px;
      background-color: color('white');
      box-shadow: 0 15px 30px 0px rgba(0, 0, 0, 0.15);
      &-left {
        grid-column: 4/13;
        margin-right: 20px;
        top: 350px;
        left: 0;
      }
      &-right {
        grid-column: 13/22;
        margin-left: 20px;
        top: 150px;
        left: 0;
      }
      &-image {
        height: 270px;
        width: 100%;
        background: transparent
          linear-gradient(215deg, #00dcc0 0%, #005af0 100%) 0% 0% no-repeat
          padding-box;
      }
      &-text-box {
        padding: 20px 35px;
      }
      &-tag {
        margin-bottom: 20px;
        background-color: rgba(33, 193, 250, 0.3);
        border-radius: 15px;
        width: fit-content;
        padding: 5px 10px;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 400;
      }

      &-copy {
        margin-bottom: 40px;
      }
    }
  }

  .#{utility('component-visual')} {
    overflow: visible;
    position: sticky;
    top: 20%;
    left: 0;

    &-container {
      display: flex;
      justify-content: space-between;
      grid-column: 6 / 15;
    }

    .#{organism('component-visual')} {
      &-link {
        margin-right: 15px;
      }

      &-copy {
        @include default-section-padding;
      }

      .media-container {
        grid-column: 13/22;
        background-color: red;
        width: 100%;
        height: 430px;
        z-index: 2;
        &-green {
          background-color: green;
        }
        &-yellow {
          background-color: yellow;
        }
        &-purple {
          background-color: purple;
        }
        &-blue {
          background-color: blue;
        }
        &-background {
          position: absolute;
          top: 40px;
          left: 0;
          background-color: lime;
          z-index: 1;
          width: 100%;
          height: 100%;
          max-height: 280px;
          max-width: 350px;
        }
      }

      amp-accordion {
        grid-column: 4/11;
        section {
          position: relative;
          border-radius: 6px;
          padding: 17px 25px 10px 25px;

          h5 {
            position: relative;
            background: none;
            border: none;
            padding-bottom: 10px;
            &:focus {
              border: none;
            }

            &::before {
              position: absolute;
              bottom: 0;
              left: 0;
              content: '';
              height: 2px;
              width: 100%;
              background-color: color('alto');
              opacity: 0.2;
            }
            &:after {
              content: '';
              position: absolute;
              top: 4px;
              right: 0;
              height: 9px;
              width: 1rem;
              background-image: url('data:image/svg+xml;charset=utf-8,<svg id="internal" fill="#005AF0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path d="M56.293 16.003c1.761-1.645 4.553-1.645 6.314 0 1.857 1.734 1.857 4.623 0 6.357l-27.45 25.638c-1.761 1.645-4.553 1.645-6.314 0l-27.45-25.638c-0.899-0.839-1.393-1.963-1.393-3.178s0.494-2.339 1.393-3.178c1.761-1.645 4.553-1.645 6.314 0l24.293 22.689 24.293-22.689z"></path></svg>');
              background-repeat: no-repeat;
            }
          }

          a {
            display: flex;
            align-items: center;
            position: relative;
            margin-top: 27px;
            color: color('limed-spruce');
            span {
              margin-left: 9px;
            }
          }

          &[expanded] {
            background-color: color('white');
            box-shadow: shadows('advanced');
            border: none;
            padding: 27px 25px 23px 25px;
            h5 {
              &:before {
                display: none;
                padding-bottom: 1rem;
              }
              &:after {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }

  .#{utility('case-band')} {
    .#{organism('case-band')} {
      grid-template-columns: 14fr 5.5fr 3fr 9fr 7fr 12.5fr 3fr 5fr 4fr 4fr 12.5fr 6fr 10.5fr;
      grid-template-rows: 5fr 6fr 12.5fr 12.5fr 25fr 5fr 5fr 5fr 5fr 5fr;
      padding: 0;

      &-image {
        margin: auto;

        &:nth-child(1) {
          grid-column: 2 / 5;
          grid-row: 3 / 9;

          &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -1px;
            left: 0;
            background: linear-gradient(270deg, transparent 30%, #000);
            z-index: 1;
          }

          &:after {
            content: '';
            width: 100%;
            height: 45%;
            position: absolute;
            bottom: 45%;
            right: 0;
            transform: translateY(50%);
            transform-origin: center;
            background: linear-gradient(90deg, transparent 30%, #000);
            z-index: 1;
            filter: blur(15px);
          }
        }

        &:nth-child(2) {
          grid-column: 1 / 3;
          grid-row: 2 / 10;
        }

        &:nth-child(3) {
          grid-column: 8 / 13;
          grid-row: 3 / 7;

          &:before {
            content: '';
            width: 100%;
            height: 45%;
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0.3;
            background: linear-gradient(90deg, transparent 20%, #000);
            z-index: 1;
            filter: blur(15px);
          }

          &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            background: linear-gradient(
              270deg,
              rgba(0, 0, 0, 0.5) 0%,
              rgba(0, 0, 0, 0.2) 40%,
              rgba(0, 0, 0, 1) 100%
            );
            z-index: 1;
          }
        }

        &:nth-child(4) {
          grid-column: 6 / 9;
          grid-row: 2 / 10;

          &:before {
            content: '';
            width: 100%;
            height: 60%;
            position: absolute;
            bottom: 42%;
            left: 0;
            opacity: 0.3;
            transform: translateY(50%);
            transform-origin: center;
            background: linear-gradient(270deg, transparent -60%, #000);
            z-index: 1;
            filter: blur(40px);
          }
        }

        &:nth-child(5) {
          grid-column: 4 / 7;
          grid-row: 4 / 8;

          &:before {
            content: '';
            width: 100%;
            height: calc(100% + 2px);
            position: absolute;
            bottom: -1px;
            left: 0;
            opacity: 0.2;
            background: linear-gradient(270deg, transparent 50%, #303030);
            z-index: 1;
          }
        }

        &:nth-child(6) {
          grid-column: 10 / 13;
          grid-row: 5 / 9;
          z-index: 1;
        }

        &:nth-child(7) {
          grid-column: 12 / 14;
          grid-row: 3 / 8;

          &:before {
            content: '';
            width: 100%;
            height: 42%;
            position: absolute;
            bottom: 0;
            right: 0;
            opacity: 0.4;
            background: linear-gradient(200deg, transparent -20%, #000);
            z-index: 1;
            filter: blur(0px);
          }
        }
      }
    }

    .#{molecule('copy')} {
      @include default-section-padding;
    }
  }

  .#{utility('stage')} {
    .#{organism('stage')} {
      &-content-button {
        margin-right: 0.5em;
      }

      @media (max-width: 767px) {
        margin-bottom: 50px;

        &-content {
          margin-top: 20em;
          margin-bottom: 4em;
        }
      }
    }
  }

  /* raise specificity to override some tools widget styles */
  .ap--tools-widget div.#{organism('teaser-grid')} {
    grid-column: 4 / 25;
  }

  .#{organism('teaser-grid')} {
    grid-column: 4 / 22;
    width: 100%;
    margin-bottom: 7em;

    @media (min-width: 768px) {
      margin-bottom: calc(12.5em + 7em);
    }

    @media (min-width: 1024px) {
      margin-bottom: calc(12.5em + 8vw);
    }

    &-list {
      display: flex;
      padding-top: 40px;
      overflow: scroll;

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 60px 30px;
        overflow: visible;
        padding-top: 0;
        align-items: flex-start;
      }

      .#{molecule('teaser')} {
        margin: 0 20px;

        @media (min-width: 768px) {
          grid-column: span 4;
          margin: 0;
        }
      }
    }
  }

  .#{utility('made-of-headline')} {
    grid-column: 3 / 19;
    margin-top: 0;
    @include hl-xlrg;
  }

  .#{molecule('biggy')} {
    align-items: end;

    &-headline {
      margin-bottom: -0.688rem;
    }
  }

  .about-accordion {
    background: transparent linear-gradient(237deg, #eeeeee 0%, #ccdfff 100%) 0%
      0% no-repeat padding-box;
    width: 100vw;
    height: 125vh;
  }
  .about-accordion,
  .about-teaser {
    padding: 70px 0 35px 0;
  }
  .about-teaser {
    position: relative;
    height: 120vh;
    max-width: 100vw;
    background-color: color('whisper');
  }

  .has-background {
    position: relative;
    margin-bottom: -100px;
  }
  .background {
    &-blue {
      background: transparent linear-gradient(215deg, #00dcc0 0%, #005af0 100%)
        0% 0% no-repeat padding-box;
      min-height: 100vh;
      padding-bottom: 1px;

      h1,
      h2,
      h5,
      p {
        color: white;
      }
    }
    &-triangle {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% auto;
      background-position: top right;
      background-attachment: fixed;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 768"><defs><linearGradient id="a" x1="239.67" y1="855.23" x2="606.28" y2="-152.04" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="%23fff" stop-opacity="0"/><stop offset="1" stop-color="%23EDEDF1"/></linearGradient></defs><g><path fill="url(%23a)" d="M0 0h1024v214L786.37 768H0V0z"/></g></svg>');
    }
  }

  .revolver-carousel {
    height: 100%;
    &-holder {
      position: sticky;
      width: 100%;
      height: 100%;
      min-height: 240px;
      top: 0;
      left: 0;
      overflow-x: scroll;
    }
    &-element {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      height: 100%;
      margin: 0 10px;
      padding: 30px 50px 30px 50px;
      background-color: color('white');
    }
    &-headline {
      margin-bottom: 14px;
      font-size: 1.375rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      line-height: 1.2em;
      color: color('charade');
    }

    &-icon {
      margin-bottom: 17px;
      svg {
        height: 60px;
      }
    }
    p {
      color: color('charade');
      text-align: center;
      margin: 0 0 13px 0;
    }

    #rv-e {
      &-1 {
        left: 0;
      }
      &-2 {
        left: 380px;
      }
      &-3 {
        left: 750px;
      }
      &-4 {
        left: 1120px;
      }
      &-5 {
        left: 1490px;
      }
      &-6 {
        left: 1860px;
      }
      &-7 {
        left: 2230px;
      }
    }
  }

  .#{molecule('benefit')} {
    &-about {
      display: flex;
      flex-direction: column;
      margin: 0 70px 20px 0;
    }
    &-icon {
      margin: 0 0 20px 0;
      box-shadow: 0px 10px 25px #00000028;
    }
    &-text {
      &-headline {
        font-size: 1.625rem;
        font-family: 'Poppins';
        line-height: 1.9375rem;
      }
      &-copy {
        font-size: 1rem;
        line-height: 1.6rem;
      }
    }
  }
}
