/*

#############################################
### TEMPLATE: overview benefits ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/benefit';
@import '../molecules/copy';
@import '../molecules/headline-icon.scss';
@import '../molecules/quote';
@import '../molecules/table.scss';

@import '../organisms/benefits-overview.scss';
@import '../organisms/case-band.scss';
@import '../organisms/case-grid.scss';
@import '../organisms/component-visual.scss';
@import '../organisms/kpi-list.scss';

@import '../templates/_default.scss';

.#{template('what-is-amp')} {

  .#{utility('container')} {
    @include container;
  }

  .#{utility('container-fluid')} {
    @include container-fluid;
  }


  .#{utility('content')} {
    @include default-section-padding;
    margin-bottom: 7em;

    @media (min-width: 768px) {
      margin-bottom: 8vw;
    }

    .#{utility('container')} {
      padding: 0;
    }

    .#{molecule('copy')} {
      &:last-child,
      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  .#{utility('component-visual')} {
    .#{organism('component-visual')} {
      &-copy {
        @include default-section-padding;
      }
    }
  }

  .#{utility('case-band')} {
    .#{molecule('copy')} {
      @include default-section-padding;
    }
  }

  .#{utility('stage')} {
    .#{organism('stage')} {
      @media screen and (max-width: 767px) {
        margin-bottom: 50px;

        &-content {
          margin-top: 20em;
          margin-bottom: 4em;
        }
      }
    }

    & + .#{utility('content')} {
      @media (min-width: 768px) {
        margin-top: -15%;
      }

      h1 {
        @include hl-xxlrg;
      }
    }
  }

  .#{utility('made-of-headline')} {
    grid-column: 3 / 19;
    margin-top: 0;
    @include hl-xlrg;

  }

  .#{molecule('biggy')} {
    margin-bottom: 7em;

    @media (min-width: 768px) {
      margin-bottom: 8vw;
    }

    &-main {
      margin-top: auto;
    }

    &-headline {
      grid-column: 3 / 19;
      margin: 0 0 0 30px;
      @media (min-width: 768px) {
        margin: 0;
      }
    }

    &-aside {
      .#{molecule('code-snippet')} {
        padding: 3em 0;
        margin-bottom: 12px;
      }
    }

  }
}
