/*

#############################################
### TEMPLATE: overview benefits ###
#############################################

### INFO:

*/
@import '../../extends';
@import '../../functions';
@import '../../mixins';
@import '../../variables';

@import '../atoms/_text.scss';
@import '../atoms/_color.scss';
@import '../atoms/_headline.scss';

@import '../molecules/quote';
@import '../molecules/benefit';
@import '../molecules/link';
@import '../molecules/table.scss';
@import '../molecules/headline-icon.scss';

@import '../templates/_default.scss';

.#{template('what-is-amp')} {
  @include container;


  h2 {
    @include hl-xlrg;
    margin-top: 0;
    grid-column: 4 / 16;
  }

  section {

    position: relative;
    z-index: 1;

    &.#{organism('stage')} {
      grid-column: 1 / -1;
      z-index: 2;
    }

    &.main {
      grid-column: 1 / -1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 50px 0;

      @media screen and (min-width: 768px) {
        grid-column: 4 / -1;
      }

      .intro-image {
        width: 100%;
        margin-bottom: 50px;

        @media screen and (min-width: 768px) {
          width: 60%;
          margin-left: auto;
        }
      }

      .gallery {
        margin: 50px 0;
      }

      .copy {
        width: 100%;
        margin: 50px 0;

        @media screen and (min-width: 768px) {
          width: 65%;
        }

        &.intro {
          width: 100%;
          margin-bottom: 0;

          @media screen and (min-width: 768px) {
            width: 50%;
          }
        }

        h1 {
          @include hl;
          font-size: 64px;

          @media screen and (min-width: 768px) {
            font-size: 72px;
          }
        }

        h2 {
          @include hl;
          @include hl-xlrg;
        }

        p {
          @include txt;
          @include txt-2;
        }

        &-right {
          margin-left: auto;
        }
      }

      .cta {
        @media screen and (min-width: 768px) {
          margin-left: auto;
        }
      }

      .ad-m-headline-icon {
        @media screen and (min-width: 768px) {
          margin-right: 50%;
        }
      }

      .benefits {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
          flex-direction: row;
        }

        &-list {
          width: 100%;

          @media screen and (min-width: 768px) {
            width: 50%;
          }

          &.left {
            @media screen and (min-width: 768px) {
              margin-right: 25px;
            }
          }

          &.right {
            @media screen and (min-width: 768px) {
              margin-left: 25px;
              margin-top: 80px;
            }
          }
        }
      }

      &.quote {
        grid-column: 6 / 20;
        margin-top: 0;
      }


      &.made {
        grid-column: 1 / -1;
        display: flex;

        @media screen and (min-width: 768px) {
          flex-direction: row;
        }

        .made-headline {
          @include hl;
          font-size: 100px;
          width: 50%;
          margin-bottom: 0;
          opacity: 0.1;
          line-height: 1em;

          @media screen and (min-width: 768px) {
            font-size: 100px;
          }
        }

        .ad-m-code-snippet {
          width: 50%;
        }
      }
    }

    &.usecases {
      grid-column: 1 / -1;
      width: 100%;

      .usecases-list {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
        }
      }

      .usecase-image {
        width: 100%;
        margin: 20px 0px;

        @media screen and (min-width: 768px) {
          width: 30%;
          margin: 20px;
        }
      }
    }


    &.teaser-grid {
      grid-column: 1 / -1;
    }

  }

}

