---
$title: AMP Roadshow 2017/2018
noglobalnote: 1
class: amp-roadshow

stylesheet: pages/amp-roadshow.css

$localization:
    locales:
    - en
---

{% set conf = g.doc('/content/includes/amp-roadshow.yaml', locale=doc.locale) %}

<section class="teaser amp-roadshow-section">

    <div class="wrapper top">

        <div class="left">
            <p>Join the worldwide</p>
            <h2>AMP Roadshow</h2>
            <ul>
                <li><a href="#cities">Cities</a></li>
                <li><a href="#schedule">Agenda</a></li>
                <li><a href="#speakers">Content</a></li>
                <li><a href="#workshops">Codelabs</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
        </div>

        <div class="right box">
            <p><strong>We've got plenty of new stuff to share.</strong></p>

            <p>Come join us in your city for a free, inclusive, full-day dev workshop with the AMP team.</p>

            <p class="next"><span class="icon-plane"></span>Next stop: <a href="{{ conf.next.link }}">{{ conf.next.title }}</a></p>

        </div>

    </div>

</section>

<section class="cities amp-roadshow-section">
    <div class="wrapper">
        <h3>Cities</h3>

        <div class="flex">

            <ul>
                    {% for city in conf.cities %}
                    <li>
                        <a{% if city.link %} href="{{city.link}}"{% endif %}>
                            {{ city.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>

                <div class="world">
                    <amp-img src="/static/img/amp-roadshow/world-map.svg" layout="responsive" width="922" height="439"></amp-img>
                    {% for city in conf.cities %}
                        <div class="city city-{{ city.title | lower }} {% if not city.link %}city-upcoming{% endif %}">

                            <div class="bubble">
                                {% if city.link %}
                                <div class="date">{% if city.date %}{{ city.date | date() }}{% else %}To be announced{% endif %}</div>
                                <div class="flex">
                                    <h4>{{ city.title }}</h4>
                                    <a href="{{ city.link }}">Register</a>
                                </div>
                                {% else %}
                                <div class="flex">
                                    <h4>{{ city.title }}</h4>
                                    {% if city.link %}<a href="{{ city.link }}">Register</a>{% else %}<a>COMING SOON</a>{% endif %}
                                </div>
                                {% endif %}
                            </div>

                            <div class="dot">
                                <div class="ringring"></div>
                                <div class="circle"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

        </div>

        <p>Your city not on the list? Check back soon for additional dates and cities.</p>
    </div>
</section>

<section class="schedule amp-roadshow-section">

    <div class="wrapper">
        <h3 id="schedule">Agenda</h3>

        <p>The agenda is designed to enable you to build even more beautiful, interactive and canonical AMP pages. We welcome both newcomers to AMP and those who already ship AMP pages.</p>

        {% macro render_session(item) -%}

            <time>{{ item.time }}</time>
            <div>
                <h5 class="{{ item.type }}">{{ item.title }}</h5>
                {% if item.description %}
                <p>{{ item.description }}</p>
                {% endif %}
                {% if item.workshops %}
                    <ul class="workshops">
                    {% for workshop in item.workshops %}
                        <li>
                            <h6>{{ workshop.title }}</h6>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

        {%- endmacro %}

        <div class="day">
            <ul class="schedule">
                {% for item in conf.agenda %}
                <li class="{{ item.type }}">
                    {{ render_session(item) }}
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</section>

<section class="content amp-roadshow-section">
    <div class="wrapper">
        <h3>Content</h3>
        <p>We'll cover a lot of ground in the few hours we have together. To enable you to build full-fledged AMP sites, the roadshow will deep dive into four big pillars:</p>

        <div class="pillars box">
            {% for item in conf.pillars %}
            <div class="pillar">
                <h4>{{ item.pillar }}</h4>
                <ul>
                    {% for content in item.contents %}
                    <li>{{ content }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<section class="workshops amp-roadshow-section">

    <div class="wrapper">
        <h3 id="workshops">Codelabs</h3>
        <p>In the afternoon, you'll be able to digest all the new information by trying out all the things! Bring your laptop and don't be shy to ask us any questions about your existing projects.</p>

        {% for item in conf.agenda if item.workshops %}
            <ul class="workshops">
            {% for workshop in item.workshops %}
                <li>
                    <h6>{{ workshop.title }}</h6>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>

</section>

<section class="faq amp-roadshow-section">
    <div class="wrapper">
        <h3 id="faq">Frequently Asked Questions</h3>
        <dl>

        <dt>Does it cost anything?</dt>
        <dd>No - tickets are free of charge.</dd>

        <dt>Who is the event for?</dt>
        <dd>Web developers and designers who have used AMP and want to create even better AMP experiences, who haven't used AMP and are curious or want to contribute to AMP to make it better for everyone.</dd>

        <dt>Am I all set after registering?</dt>
        <dd>Depending on the actual city, we will confirm attendees on a case-by-case basis to ensure we attract the right audience. The registration page of the actual city will have more information. Note that your seat is not confirmed until you receive a confirmation code.</dd>

        </dl>
    </div>
</section>

<section class="footer amp-roadshow-section">
    <ul>
        <li><a href="/amp-conf-2017/code-of-conduct">Code of Conduct</a></li>
        <li><a href="/amp-conf-2017/accessibility">Accessibility</a></li>
        <li><a href="mailto:amp-roadshow-support@google.com">Contact</a></li>
    </ul>
</section>


