---
$title: AMP Conf 2017
noglobalnote: 1
class: amp-conf

components:
  - iframe
stylesheet: pages/amp-conf.css

$localization:
    locales:
    - en
---

{% set conf = g.doc('/content/includes/amp-conf-2017.yaml', locale=doc.locale) %}

<section class="teaser amp-conf-section">

    <h2>
        AMP Conf
    </h2>
    <p>
        <span><strong>March 7/8</strong> in NYC.</span>
        <span><strong>14</strong> Talks.</span>
        <span><strong>5</strong> Panels.</span>
        <span>Live-streamed.</span>
    </p>

</section>

<section class="description amp-conf-section">

    <p>
        <span>Connect with the AMP developers and ecosystem and learn how to create beautiful, interactive, responsive and successful AMP pages. Join us if you're a web developer or designer interested in AMP, either in the livestream or in person for chock-full two days of content.</span>
    </p>

    <ul>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#workshops">Workshops</a></li>
        <li><a href="#location">Location</a></li>
        <li><a href="#faq">FAQ</a></li>
    </ul>

</section>

<section class="schedule amp-conf-section">

    <div class="wrapper">
        <h3 id="schedule">Schedule</h3>

        <p>All talks and sessions are designed to help you create amazing, successful AMP content (and to help others do the same!), and over 50% of are given by partners in the AMP ecosystem.</p>

        {% macro render_session(item) -%}

            {% if conf.speakers[item.speaker] %}
            <span class="image">{% if conf.speakers[item.speaker].pic %}<amp-img src="{{ conf.speakers[item.speaker].pic }}" width="100" height="100"></amp-img>{% endif %}</span>
            {% endif %}

            {% if item.speakers %}
                {% for speaker in item.speakers if conf.speakers[speaker]  %}
                <span class="image multiple">{% if conf.speakers[speaker].pic %}<amp-img src="{{ conf.speakers[speaker].pic }}" width="60" height="60"></amp-img>{% endif %}</span>
                {% endfor %}
            {% endif %}

            <time>{{ item.time }}</time>
            <div>
                <h5 class="{{ item.type }}">{{ item.title }}</h5>
                {% if conf.speakers[item.speaker] %}
                <small><a href="#{{ item.speaker }}">{{ conf.speakers[item.speaker].name }}, {{ conf.speakers[item.speaker].company }}</a></small>
                {% endif %}
                {% if item.speakers %}
                    {% if conf.speakers[item.moderator] %}
                        <small><a href="#{{ item.moderator }}">{{ conf.speakers[item.moderator].name }}, {{ conf.speakers[item.moderator].company }} (Moderator)</a></small>
                    {% endif %}
                    {% for speaker in item.speakers %}
                        {% if conf.speakers[speaker] %}
                        <small><a href="#{{ speaker }}">{{ conf.speakers[speaker].name }}, {{ conf.speakers[speaker].company }}</a></small>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if item.description %}
                <p>{{ item.description }}</p>
                {% endif %}
                {% if item.workshops %}
                    <ul class="workshops">
                    {% for workshop in item.workshops %}
                        <li>
                            <h6>{{ workshop.title }}</h6>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>

        {%- endmacro %}

        <div class="tabs">

        </div>

        <div class="days">

            <div class="day">
                <h4>March 7th</h4>
                <ul class="schedule">
                    {% for item in conf.agenda.day_1 %}
                    <li class="{{ item.type }}">
                        {{ render_session(item) }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="day">
                <h4>March 8th</h4>
                <ul class="schedule">
                    {% for item in conf.agenda.day_2 %}
                    <li class="{{ item.type }}">
                        {{ render_session(item) }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

</section>

<section class="speakers amp-conf-section">

    <div class="wrapper">
        <h3 id="speakers">Speakers</h3>

        <ul class="speakers">
            {% set sortedSpeakers = conf.speakers|sort %}
            {% for speaker in sortedSpeakers if conf.speakers[speaker].bio %}
            <li>
                <span class="image" data-name="{{ conf.speakers[speaker].name }}">{% if conf.speakers[speaker].pic %}<amp-img src="{{ conf.speakers[speaker].pic }}" width="400" height="400" layout="responsive"></amp-img>{% endif %}</span>
                <div>
                    <h4 id="{{ speaker }}">{{ conf.speakers[speaker].name }}, {{ conf.speakers[speaker].company }}</h4>
                    <p>{{ conf.speakers[speaker].bio|markdown|safe }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>

</section>

<section class="workshops amp-conf-section">

    <div class="wrapper">
        <h3 id="workshops">Workshops</h3>
        <p>Join us on Day 2 for a 2-hour long workshop with members of the AMP team. Bring your own laptop, watch a quick presentation, then walk through the codelab together with the help of on-site mentors that unblock you.</p>

        {% for item in conf.agenda.day_2 if item.workshops %}
            <ul class="workshops">
            {% for workshop in item.workshops %}
                <li>
                    <h6>{{ workshop.title }}</h6>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </div>

</section>

<section class="location amp-conf-section">
    <div class="wrapper">
        <amp-iframe width=300 height=300
            sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
            layout="responsive"
            frameborder="0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.0600022262697!2d-74.0108920361199!3d40.72357632397405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259f48e2e992f%3A0x7b5d67ea6c58814c!2sTribeca+360%C2%B0!5e0!3m2!1sen!2sus!4v1484082758953">
            <p placeholder>Loading..</p>
        </amp-iframe>
        <div>
            <h3 id="location">Location</h3>
            <p>Tribeca 360 (<a href="http://threesixtynyc.com/">Website</a>, <a href="https://goo.gl/maps/gmo8t5yxDot">Google Maps</a>).</p>
            <h3>Address</h3>
            <p>
                <span>10 Desbrosses St</span>
                <span>New York, NY 10013</span>
            </p>
            <h3>Live Stream</h3>
            <p>Coming soon!</p>
        </div>
    </div>
</section>

<section class="faq amp-conf-section">
    <div class="wrapper">
        <h3 id="faq">Frequently Asked Questions</h3>
        <dl>

        <dt>Does it cost anything?</dt>
        <dd>No - tickets are free of charge.</dd>

        <dt>Do I have to register for the live-stream?</dt>
        <dd>No! The registration is only for on-site attendees that physically attend the conference. Come back here to this site on March 7th for a link and embed of the live-stream.</dd>

        <dt>Who is the event for?</dt>
        <dd>Web developers and designers who have used AMP and want to create even better AMP experiences, who haven't used AMP and are curious or want to contribute to AMP to make it better for everyone, and the web at large.</dd>

        <dt>Does reserving a spot mean I am signed up?</dt>
        <dd>Not yet. While your chances of getting a seat are pretty good, we will confirm attendees on a case-by-case basis to ensure we attract the right audience. Note that your seat is not confirmed until you receive a confirmation code.</dd>

        <dt>When will I hear back if I have a spot?</dt>
        <dd>We'll try to confirm you within less than a week!</dd>

        <dt>What determines if I have a spot?</dt>
        <dd>The AMP Conf is a mainly developer and designer focussed event (read: the people actually creating AMP experiences). If you're non-technical, you may still apply but you'll have a slimmer chance of getting through (and you'll enjoy the conf less!).</dd>

        <dt>When will the schedule be announced?</dt>
        <dd>We'll announce a detailed schedule before end of January.</dd>
        </dl>
    </div>
</section>

<section class="footer amp-conf-section">
    <ul>
        <li><a href="/amp-conf-2017/code-of-conduct">Code of Conduct</a></li>
        <li><a href="/amp-conf-2017/accessibility">Accessibility</a></li>
        <li><a href="mailto:amp-conf-2017@google.com">Contact</a></li>
    </ul>
</section>


