{% set conf = g.doc('/content/includes/amp-conf.yaml', locale=doc.locale) %}

<section class="teaser amp-conf-section">

  <div class="wrapper">
    <h2>AMP Conf 2019</h2>
    <h3>東京から、ようこそ。</h3>
  </div>

  <div class="menu">
    <div class="wrapper">

        <ul>
            <li><a href="#schedule">スケジュール</a></li>
            <li><a href="#speakers">スピーカー</a></li>
            <li><a href="#location">場所</a></li>
            <li><a href="#faq">よくある質問</a></li>
        </ul>

      <a href="https://events.withgoogle.com/amp-conf-2019/registrations/new/" class="button">招待状をリクエストする</a>
    </div>
  </div>


</section>


<section class="description amp-conf-section">
  <div class="wrapper">

    <p>
      皆さま、今年も AMP Conf の季節になってまいりました。年に一回開催される、開発者の開発者による開発者のための AMP の技術祭典を、今年は東京で行います。リッチ アニメーション、動的なコンテンツ、Dev Ops やマネタイゼーションなど、Web における良質なユーザー体験を実現するためのすべてを、一緒に見ていきましょう。皆さまにお会いできるのを心より楽しみにしています。
    </p>

    <ul class="facts">
      <li class="card"><strong>いつ</strong>2019年4月17日、18日</li>
      <li class="card"><strong>どこ</strong><a href="http://forum.academyhills.com/roppongi/en/">Roppongi Academy Hills</a>, Tokyo</li>
      <li class="card"><strong>だれ</strong>開発者とデザイナー</li>
    </ul>
  </div>
</section>

<section class="schedule amp-conf-section">
  <div class="wrapper">
    <h3 id="schedule">スケジュール</h3>

    <p class="note">このアジェンダは現段階のもので、今後更にセッションが追加されたり、時間や内容は変更される可能性があります。</p>

    {% macro render_session(item) -%}

        {% if conf.speakers[item.speaker] %}
        <span class="image">{% if conf.speakers[item.speaker].pic %}<amp-img src="{{ conf.speakers[item.speaker].pic }}" width="100" height="100"></amp-img>{% endif %}</span>
        {% endif %}

        {% if item.speakers %}
            {% for speaker in item.speakers if conf.speakers[speaker]  %}
            <span class="image multiple">{% if conf.speakers[speaker].pic %}<amp-img src="{{ conf.speakers[speaker].pic }}" width="60" height="60"></amp-img>{% endif %}</span>
            {% endfor %}
        {% endif %}

        <time>{{ item.time }}</time>
        <div>
            <h5 class="{{ item.type }}">{{ item.title }}</h5>
            {% if conf.speakers[item.speaker] %}
            <small><a href="#{{ item.speaker }}">{{ conf.speakers[item.speaker].name }}, {{ conf.speakers[item.speaker].company }}</a></small>
            {% endif %}
            {% if item.speakers %}
                {% if conf.speakers[item.moderator] %}
                    <small><a href="#{{ item.moderator }}">{{ conf.speakers[item.moderator].name }}, {{ conf.speakers[item.moderator].company }} (Moderator)</a></small>
                {% endif %}
                {% for speaker in item.speakers %}
                    {% if conf.speakers[speaker] %}
                    <small><a href="#{{ speaker }}">{{ conf.speakers[speaker].name }}, {{ conf.speakers[speaker].company }}</a></small>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if item.description %}
            <p>{{ item.description }}</p>
            {% endif %}
            {% if item.workshops %}
                <ul class="workshops">
                {% for workshop in item.workshops %}
                    <li>
                        <h6>{{ workshop.title }}</h6>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>

    {%- endmacro %}

    <amp-selector role="tablist" layout="container" class="days">
      <div role="tab" class="tab" selected option="a">Day 1</div>
      <div role="tabpanel" class="day">
        <ul class="schedule">
          {% for item in conf.agenda.day_1 %}
          <li class="{{ item.type }}">
            {{ render_session(item) }}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div role="tab" class="tab" option="b">Day 2</div>
      <div role="tabpanel" class="day">
        <ul class="schedule">
          {% for item in conf.agenda.day_2 %}
          <li class="{{ item.type }}">
            {{ render_session(item) }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </amp-selector>

  </div>
</section>

<section class="speakers amp-conf-section">
  <div class="wrapper">
    <h3 id="speakers">スピーカー</h3>

    <ul class="speakers">
        {% set sortedSpeakers = conf.speakers|sort %}
        {% for speaker in sortedSpeakers if conf.speakers[speaker].pic %}
        <li class="card" on="tap:lightbox-{{ speaker }}" role="button" tabindex="0">
            <span class="image" data-name="{{ conf.speakers[speaker].name }}">{% if conf.speakers[speaker].pic %}<amp-img src="{{ conf.speakers[speaker].pic }}" width="400" height="400" layout="responsive"></amp-img>{% endif %}</span>
            <div>
                <h4 id="{{ speaker }}">{{ conf.speakers[speaker].name }}<small>{{ conf.speakers[speaker].company }}</small></h4>
                {{ conf.speakers[speaker].bio|markdown|safe }}
            </div>
        </li>
        <amp-lightbox id="lightbox-{{ speaker }}" layout="nodisplay">
          <div class="lightbox" on="tap:lightbox-{{ speaker }}.close" role="button" tabindex="0">
            <div class="inner-lightbox">
              <h4 id="{{ speaker }}">{{ conf.speakers[speaker].name }}<small>{{ conf.speakers[speaker].company }}</small></h4>
              {{ conf.speakers[speaker].bio|markdown|safe }}
            </div>
          </div>
        </amp-lightbox>
        {% endfor %}
        <li class="card" role="button" tabindex="0">
          <span class="image"></span>
          <div>
              <h4>More speakers to be announced!</h4>
          </div>
      </li>
    </ul>

</div>
</section>

<section class="location amp-conf-section">
    <div class="wrapper">
      <h3 id="location">Location</h3>

      <div class="flex">
          <amp-iframe width=300 height=300
              sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
              layout="responsive"
              frameborder="0"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12966.682416981088!2d139.7288467!3d35.6604864!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x374cd67b22a9c8a5!2sAcademy+Hills+Roppongi+forum!5e0!3m2!1sen!2sus!4v1545397494682">
              <p placeholder>Loading..</p>
          </amp-iframe>
          <div>
              <h4><a href="http://forum.academyhills.com/roppongi/en/">Roppongi Academy Hills, Tokyo</a></h4>

              <p>
                  <span>〒106-6149 Tōkyō-to, Minato-ku, Roppongi</span>
                  <span>6 Chome−6−10-1 六本木ヒルズ森タワー49階</span>
                  <span>Japan</span>
              </p>

              <p>..and live-streamed around the world.</p>
          </div>
      </div>
    </div>
</section>

<section class="faq amp-conf-section">
  <div class="wrapper">
    <h3 id="faq">FAQ</h3>
    <dl>

    <dt>費用はかかりますか？</dt>
    <dd>いいえ。チケットは無料です。</dd>

    <dt>講演はどの言語で行われますか？</dt>
    <dd>講演は英語のものもありますが、日本語の同時通訳が行われます。</dd>

    <dt>ライブストリームに参加するのに申し込みする必要がありますか？</dt>
    <dd>いいえ。申し込みはカンファレンスに実際に参加する場合にのみ必要です。開催当日までに当サイトにライブストリームのリンクをはりますのでそちらをご確認ください。</dd>

    <dt>だれが参加すべきですか？</dt>
    <dd>AMP を使ったことがあってより深く AMP を知りたい Web 開発者やデザイナーの皆さま、まだ AMP は触ったことがないものの興味をお持ちの皆さま、AMP をさらに良くするためにコントリビューションを検討されている皆さま、そして広義の Web に関わるすべての皆さまを対象としています。</dd>

    <dt>申し込みすれば参加は確定しますか？</dt>
    <dd>いいえ、まだです。確認コードを受け取るまでは席は確定しませんのでご注意ください。</dd>

    <dt>申し込み後、いつ参加が確定しますか？</dt>
    <dd>お申込みから 1 週間後を目安に、なるべく早く確認させて頂きます（時期は前後する可能性はございます）。</dd>

    <dt>参加確定の条件は何ですか？</dt>
    <dd>AMP Conf は Web 開発者とデザイナー向けのイベントとなります（ = AMP の体験を実際に「作る」方々）。テクニカルではない方もお申込みは頂けますが、より参加のチャンスは低くなります（また、コンテンツ自体も楽しめないかもしれません）。</dd>

    <dt>詳細なスケジュールはいつ発表されますか？</dt>
    <dd>2月に詳細スケジュールを発表します。</dd>
    </dl>
  </div>
</section>

<section class="footer amp-conf-section">
    <ul>
        <li><a href="/amp-conf/code-of-conduct">Code of Conduct</a></li>
        <li><a href="/amp-conf/accessibility">Accessibility</a></li>
        <li><a href="mailto:amp-conf-support@google.com">Contact</a></li>
    </ul>
</section>
