---
$title: Accelerated Mobile Pages Project
$path: /

$localization:
  path: /{locale}/

description: The Accelerated Mobile Pages (AMP) Project is an open source initiative that makes it easy for publishers to create mobile-friendly content once and have it load instantly everywhere.

class: home
components:
  - carousel
  - lightbox
  - youtube
---
{% set home = g.doc('/content/includes/home.yaml', locale=doc.locale) %}
{% set blog = g.doc('/content/includes/blog_feed.yaml', locale=doc.locale) %}
{% set case_studies = g.doc('/content/includes/case-studies.yaml', locale=doc.locale) %}

<section class="hero">
  <div class="container">
    <div class="hero-image">
      <div class="lines">
        <amp-img
            noloading
            height=596
            width=700
            layout=responsive
            src="{{home.hero.lines_img}}">
        </amp-img>
      </div>
      <div class="phone">
        <amp-img
            noloading
            height=989
            width=684
            layout=responsive
            src="{{home.hero.phone_img}}">
        </amp-img>
      </div>
    </div>
    <div class="row">
      <div class="six columns offset-by-six">
        <div class="intro-container">
          <h1>{{_(home.hero.title)}}</h1>
          <p class="intro">{{_(home.hero.content)}}</p>
          <a class="button" href="{{home.hero.cta_url}}">{{_(home.hero.cta)}}</a> <span class="cta_connector light">{{_('or')}}</span> <a class="underlined" href="{{home.hero.secondary_cta_url}}">{{_(home.hero.secondary_cta)}}</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="latest seven columns offset-by-five">
        <h3 class="latest-label">{{_(home.hero.carousel_title)}}</h3>

        <amp-carousel class="latest-carousel desktop-up"
          height="250"
          layout="flex-item"
          type="slides">

          <div class="card-container">
          {% for article in blog.blog %}
            <a href="{{article.href}}" class="card">
              <div class="card-inner">
                <div class="card-type news">
                  {{_('News')}}
                </div>
                <div class="card-content small">
                  {{_(article.title)}}
                </div>
                <div class="card-date light">
                  {{_(article.date)}}
                </div>
              </div>
            </a>
            {% if not loop.last and loop.index is divisibleby 3 %}
          </div>
          <div class="card-container">
            {% endif %}
          {% endfor %}
          </div>
        </amp-carousel>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <h1>{{_(home.benefits.title)}}</h1>
    <div class="benefits-row">
      {% for card in home.benefits.cards %}
        <div class="benefit">
          <div class="benefit-image">
            <amp-img
                noloading
                height={{card.img_height}}
                width={{card.img_width}}
                layout=responsive
                src="{{card.img}}">
            </amp-img>
          </div>
          <div class="benefit-content">
            <h3 class="title">{{_(card.title)}}</h3>
            <div class="desc">{{_(card.content)}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
</section>

<section class="experience"></section>

<section class="success-stories"></section>

<section class="create"></section>
