---
$title: Accelerated Mobile Pages Project
$path: /

$localization:
  path: /{locale}/

description: The Accelerated Mobile Pages (AMP) Project is an open source initiative that makes it easy for publishers to create mobile-friendly content once and have it load instantly everywhere.

class: home
components:
  - carousel
  - lightbox
  - youtube
---
{% set home = g.doc('/content/includes/home.yaml', locale=doc.locale) %}
{% set blog = g.doc('/content/includes/blog_feed.yaml', locale=doc.locale) %}
{% set case_studies = g.doc('/content/includes/case-studies.yaml', locale=doc.locale) %}

<section class="hero">
  <div class="container">
    <div class="hero-image">
      <div class="lines">
        <amp-img
            noloading
            height=596
            width=700
            layout=responsive
            src="{{home.hero.lines_img}}">
        </amp-img>
      </div>
      <div class="phone">
        <amp-img
            noloading
            height=989
            width=684
            layout=responsive
            src="{{home.hero.phone_img}}">
        </amp-img>
      </div>
      <div class="latest-mobile mobile-down">
        <h2 class="latest-label">{{_(home.hero.carousel_title)}}</h2>
        <amp-carousel class="latest-carousel"
          height="250"
          layout="flex-item"
          type="slides">

          {% for article in blog.blog %}
          <div class="card-container">
            <a href="{{article.href}}" class="card">
              <div class="card-inner">
                <div class="card-type news">
                  {{_('News')}}
                </div>
                <div class="card-content small">
                  {{_(article.title)}}
                </div>
                <div class="card-date light">
                  {{_(article.date)}}
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </amp-carousel>
      </div>
    </div>
    <div class="hero-content">
      <div class="intro-container">
        <h1>{{_(home.hero.title)}}</h1>
        <p class="intro">{{_(home.hero.content)}}</p>
        <a class="button" href="{{home.hero.cta_url}}">{{_(home.hero.cta)}}</a><br class="mobile-down"><span class="cta_connector light">{{_('or')}}</span> <a class="underlined" href="{{home.hero.secondary_cta_url}}">{{_(home.hero.secondary_cta)}}</a>
      </div>
      <div class="latest mobile-up">
        <h3 class="latest-label">{{_(home.hero.carousel_title)}}</h3>

        <amp-carousel class="latest-carousel desktop-up"
          height="250"
          layout="flex-item"
          type="slides">

          <div class="card-container">
          {% for article in blog.blog %}
            <a href="{{article.href}}" class="card">
              <div class="card-inner">
                <div class="card-type news">
                  {{_('News')}}
                </div>
                <div class="card-content small">
                  {{_(article.title)}}
                </div>
                <div class="card-date light">
                  {{_(article.date)}}
                </div>
              </div>
            </a>
            {% if not loop.last and loop.index is divisibleby 3 %}
          </div>
          <div class="card-container">
            {% endif %}
          {% endfor %}
          </div>
        </amp-carousel>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <h1>{{_(home.benefits.title)}}</h1>
    <div class="benefits-row">
      {% for card in home.benefits.cards %}
        <div class="benefit">
          <div class="benefit-image">
            <amp-img
                noloading
                height={{card.img_height}}
                width={{card.img_width}}
                layout=responsive
                src="{{card.img}}">
            </amp-img>
          </div>
          <div class="benefit-content">
            <h3 class="title">{{_(card.title)}}</h3>
            <div class="desc">{{_(card.content)}}</div>
          </div>
        </div>
      {% endfor %}
    </div>
</section>

<section class="experience">
  <div class="experience-content">
    <h1>{{_(home.experience.title)}}</h1>
    <p>{{_(home.experience.content)}}</p>
    <a href="{{home.experience.cta_url}}" class="underlined">{{_(home.experience.cta)}}</a>
  </div>

  <div class="experience-image">
    <div class="bg">
      <amp-img
          noloading
          height=2095
          width=1424
          layout=responsive
          src="{{home.experience.bg_img}}">
      </amp-img>
    </div>
    <div class="lines">
      <amp-img
          noloading
          height=1907
          width=1563
          layout=responsive
          src="{{home.experience.lines_img}}">
      </amp-img>
    </div>
    <div class="phone">
      <amp-img
          noloading
          height=2367
          width=1657
          layout=responsive
          src="{{home.experience.phone_img}}">
      </amp-img>
    </div>
  </div>
</section>

<section class="success-stories">
  <h1>{{_(home.success_stories.title)}}</h1>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <amp-carousel class="success-carousel desktop-up"
          height="400"
          layout="flex-item"
          type="slides">

          <div class="card-container">
          {% for card in home.success_stories.cards %}
            <div class="card centered">
              <div class="card-inner">
                <div class="card-content">
                  <h2>{{_(card.quote)}}</h2>
                </div>
                <amp-img class="card-icon"
                    noloading
                    height=500
                    width=500
                    layout=responsive
                    src="{{card.img}}">
                </amp-img>
              </div>
            </div>
            {% if not loop.last and loop.index is divisibleby 3 %}
          </div>
          <div class="card-container">
            {% endif %}
          {% endfor %}
          </div>
        </amp-carousel>

        <amp-carousel class="success-carousel mobile-down"
          height="400"
          layout="flex-item"
          type="slides">

          {% for card in home.success_stories.cards %}
          <div class="card-container">
            <div class="card centered">
              <div class="card-inner">
                <div class="card-content">
                  <h2>{{_(card.quote)}}</h2>
                </div>
                <amp-img class="card-icon"
                    noloading
                    height=500
                    width=500
                    layout=responsive
                    src="{{card.img}}">
                </amp-img>
              </div>
            </div>
          </div>
          {% endfor %}
        </amp-carousel>
      </div>
    </div>
  </div>
</section>

<section class="create">
  <amp-img class="create-lines left desktop-up"
      noloading
      height=755
      width=719
      layout=responsive
      src="{{home.create.lines_img}}">
  </amp-img>
  <amp-img class="create-lines right desktop-up"
      noloading
      height=755
      width=719
      layout=responsive
      src="{{home.create.lines_img}}">
  </amp-img>
  <h1>{{_(home.create.title)}}</h1>
  <a href="{{home.create.cta_url}}" class="button light">{{_(home.create.cta)}}</a>
</section>
