---
$title: Roadmaps
$path: /latest/roadmap
$parent: /content/pages/latest.html

$localization:
  path: /{locale}/latest/roadmap

class: list
---
{% set lists = g.doc('/content/includes/lists.yaml', locale=doc.locale) %}
{% set roadmaps = g.doc('/content/includes/list-roadmap.yaml', locale=doc.locale) %}

<div class="container">
{% include "/views/partials/breadcrumb-nav.html" %}
  <div class="content sm">
    <h1 class="title">{{_(lists.roadmap.title)}}</h1>
    <section class="post-list">
      {% for post in roadmaps.roadmaps %}
        {% with past = false, meta = false %}
          {% include "/views/partials/post-item.html" %}
        {% endwith %}
      {% endfor %}
    </section>
  </div>
</div>
