---
$title: Who
$path: /who/
$hidden: true

description: The Accelerated Mobile Pages (AMP) Project is an open source initiative that makes it easy for publishers to create mobile-friendly content once and have it load instantly everywhere. – Accelerated Mobile Pages Project

class: who

---
{% set who = g.doc('/content/includes/who.yaml', locale=doc.locale) %}

  <div class="container">
    <div>
      <h1>{{who.page_title}}</h1>
    </div>

    <div class="who__section">
      <h2>{{who.partners.section_title}}</h2>
      {% for section in who.partners.sections %}
      <div>
        <h3>{{section.title}}</h3>
        <ol class="items">
          {% for item in section.section_items | sort %}
            <li class="item">{{item}}</li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
    </div>

    <div>
      <h2>{{who.tech_companies.section_title}}</h2>
      {% for section in who.tech_companies.sections %}
      <div>
        <h3>{{section.title}}</h3>
        <ol class="items">
          {% for item in section.section_items | sort %}
            <li class="item">{{item}}</li>
          {% endfor %}
        </ol>
      </div>
      {% endfor %}
    </div>
  </div>


