/**
 * Reset some basic elements
 */
body, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
html,
body {
  // -webkit-font-smoothing: antialiased;
  background-color: #fbfafb;
  font-family: $font-family;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

body {
  padding-top: 66px;
}

ul li,
ol li {
  @include text-body();
}

p {
  @include text-body();
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-size;
  padding: 0 $margin;

  &.md {
    max-width: 800px;
  }
}

.wrap {
  background-color: $color-white;
  margin: 0 auto;
}

.centered {
  text-align: center;

  @include max-screen($mobile-breakpoint) {
    text-align: left;
  }
}

.align-right {
  text-align: right;
}

.clearfix {
  @include clearfix();

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .fill {
    overflow: hidden;
    width: auto;
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5 {
  color: $color-midblue;
  font-weight: 300;
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 43px;
}


h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}



/**
 * Links
 */
a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a.button {
  padding: 1em;
  display: block;
  background-color: #F5F5F5;
  text-align: center;
}



/**
 * Blockquotes
 */
blockquote {
    color: $color-darkgrey;
    border-left: 4px solid $color-lightgrey;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
code {
    font-size: 15px;
    border: 1px solid $color-lightgrey;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #FFFFFF;
  background: #F7F7F7;
  padding: 0.5rem;
  text-align: left;
}

th {
  background: #eee;
}

