header {
  @include box-shadow(rgba(0, 0, 0, 0.15) 1px 1px 14px);
  font-size: 14px;
  font-weight: 300;
  transform: translateZ(0);
  backface-visibility: hidden;
  background-color: $color-white;

  .container {
    padding: 0;

    @include max-screen($mobile-breakpoint) {
      padding: 0 10px;
    }

  }

  &.absolute,
  &.fixed {
    @include transform(translateY(0%));
    @include transition(all .25s ease);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &.absolute {
    position: absolute;
  }

  &.nav--pinned,
  &.nav--unpinned,
  &.nav--top {
    position: fixed;

    @include max-screen($mobile-breakpoint) {
      position: relative;
    }
  }

  &.nav--pinned,
  &.nav--unpinned {
    background: $color-midblue;
  }

  &.nav--top {
    background-color: transparent;
  }


  &.hidden {
    display: block;

    // Auto-hide header on mobile only.
    @include max-screen($mobile-breakpoint) {
      @include transform(translateY(-100%));
    }
  }

  &.menu-open {
    transform: translate(-243px, 0px);
  }

  .wrap {
    // background-color: white;

    @include max-screen($mobile-breakpoint) {
      color: transparent;
    }
  }

  .content.mobile-show {
    padding: 0 10px 5px;

  }
  .left-nav {
    @include align-items(center);
    @include display(flex);
    @include justify-content(flex-start);

    float: left;
    font-size: 14px;
    letter-spacing: 0.04em;
    margin-left: 0;

    @include max-screen($mobile-breakpoint) {
      @include justify-content(flex-start);

      flex: 1 1 auto;
      padding: 0 0 5px 0;
      text-align: left;
      width: auto;
    }

    .header-title {
      background-image: url('/docs/assets/logo-blue.svg');
      background-position: center left;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      color: $color-midblue;
      font-family: Roboto, verdana, arial, sans-serif;
      margin: 10px 0;
      padding: 15px 10px 15px 50px;
      text-transform: none;
      white-space: nowrap;
      width: auto;

      @include max-screen($mobile-breakpoint) {
        line-height: 41px;
        margin: 6px 0;
        padding: 0 0 0 50px;
        width: auto;
      }
    }

  }

  .clearfix {
      @include max-screen($mobile-breakpoint) {
        display: flex;
        flex-wrap: wrap-reverse;
      }
  }

  .alt {
    padding: 15px 0;
    text-align: right;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    &.right {
      letter-spacing: 0.04em;
      font-size: 14px;

      @include max-screen($mobile-breakpoint) {
        float: right;
        text-align: center;
        flex: 0;
        padding: 0 0 10px;
        font-size: 12px;
        display: inline-block;
      }
    }
  }

  .tab {
    color: $color-midblue;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;

    @include max-screen($mobile-breakpoint) {
      margin-left: auto;
      padding: 10px 12px;
    }
  }

  .tab.go-button {
    @include box-shadow(-1px 6px 6px -3px rgba(0,0,0,0.22));
    background-color: $color-midblue;
    border: 0;
    border-radius: 4px;
    color: $color-white;
    font-family: Roboto, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    margin-left: 10px;
    text-transform: uppercase;

    @include max-screen($mobile-breakpoint) {
      margin-right: 5px;
      margin-left: auto;
      padding: 8px 10px;
    }

    &:hover{
      text-decoration: none;
    }
  }

  .tab.hamburger {
    font-size: 30px;
    display: none;
  }

  @include max-screen($mobile-breakpoint) {
      .tab.desktop {
        display: none;
      }
      .tab.hamburger {
        display: inline-block;
      }
  }

}
