.fourofour {
    margin: 5em auto;
    max-width: 800px;
    padding: 0 1em;
}
.fourofour .hide {
    display: none;
}
.fourofour .show {
    display: show;
}
.playingboard {
    margin: 2em auto;
}
.playingboard table {
    margin: auto;
    border: 0;
    border-collapse: collapse;
}
.playingboard td {
    border: 0;
    padding: 0;
}
.playingboard .cell {
    width: 5.25em;
    height: 5.25em;
    border-color: #5ADAFD;
    border-style: solid;
    border: 0;
}
.playingboard .cell-vert {
    border-left: 0.25em solid #5ADAFD;
    border-right: 0.25em solid #5ADAFD; 
}
.playingboard .cell-horiz {
    border-top: 0.25em solid #5ADAFD;
    border-bottom: 0.25em solid #5ADAFD; 
}
.playingboard .win {
    background: lightgrey;
}
.playingboard .in-play {
    background: none;
}
.playingboard .grid-button {
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.playingboard .grid-button:active {
    border: 0;
}
.controlboard {
    margin: 2em auto;
    display: flex;
    justify-content: center;
}
.controlboard .reset-button {
    font-size: 1rem;
    line-height: 1.125rem;
    padding: .7em .8em;
    text-decoration: none;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    color: #5ADAFD;
    border: 1px solid #5ADAFD
}
