.about-overview {

  .wrap {
    overflow: hidden;
    position: relative;

    &::after {
      background: $gradient-med;
      content: '';
      display: block;
      height: 2000px;
      left: 0;
      position: absolute;
      width: 100%;
      bottom: 0;
      transform: skewY(36deg);
      transform-origin: top left;
      z-index: -1;
    }
  }

  .about-overview-block {
    position: relative;
    z-index: 1;
  }

  .hero {
    position: relative;
    padding: 100px 13.3% 140px 13.3%;

    .images {
      position: absolute;
      width: 800px;
      left: 700px;
      top: 0;

      amp-img {
        position: absolute;
        width: 100%;
      }

      .triangle {
        display: none;
        left: 0;
        top: -170px;
      }

      .lines {
        left: 0;
        top: 0;
      }

      .phone {
        left: -70px;
        top: 90px;
        width: 110%;
      }
    }

    .text {
      width: 510px;

      h1 {
        width: 300px;
      }
    }
  }


  @include max-screen($mobile-breakpoint) {
    .hero {
      padding: 220px 0 0 0;

      .images {
        width: 600px;
        left: unset;
        right: -165px;
        top: -115px;

        .triangle {
          display: block;
        }

        .phone {
          width: 500px;
          top: 100px;
          left: 20px;
        }
      }
    }
  }

  @include max-screen($tablet-portrait-breakpoint) {
    .hero {
      padding-top: 480px;
      .text {
        width: 100%;

        h2,
        & > p {
          width: 100%;
        }
      }
    }
  }

  @include max-screen(1440px) {
    .hero {
      .triangle {
        right: -22px;
      }
    }
  }
}

