.about-overview {

  .wrap {
    overflow: hidden;
    position: relative;

    &::after {
      background: url(/static/img/about/overview/bg2.svg) bottom left/contain no-repeat;
      bottom: 0;
      content: '';
      height: 68vw;
      left: 0;
      position: absolute;
      width: 90vw;
      z-index: -1;
    }
  }

  .about-overview-block {
    position: relative;
    z-index: 1;
  }

  .hero {
    margin: 100px 0 300px;
    position: relative;
    padding: 100px 13.3% 140px 13.3%;

    .images {
      position: absolute;
      width: 800px;
      left: 700px;
      top: 0;

      amp-img {
        position: absolute;
        width: 100%;
      }

      .triangle {
        right: calc((1440px - 100vw)/2);
        top: -250px;
      }

      .line1 {
        left: 0;
        top: -10px;
        width: 583px;
      }

      .line2 {
        left: 75%;
        top: -50px;
        width: 359px;
      }

      .phone {
        left: -30px;
        top: 0px;
        transform: rotate(25deg) scale(1.4);
        width: 90%;
      }
    }

    .text {
      width: 510px;

      h1 {
        margin-bottom: 50px;
        width: 500px;
      }
    }
  }


  @include max-screen($mobile-breakpoint) {
    .hero {
      padding: 220px 0 0 0;

      .images {
        width: 600px;
        left: unset;
        right: -165px;
        top: -115px;

        .triangle {
          display: block;
        }

        .phone {
          width: 500px;
          top: 100px;
          left: 20px;
        }
      }
    }
  }

  .core {
    h2 {
      margin: 0 auto;
      max-width: 550px;
      text-align: center;
    }

    amp-accordion {
      border-top: 2px solid #eaeaea;
      margin: 50px auto;
      max-width: 800px;

      section {
        border-bottom: 2px solid #eaeaea;
        padding: 20px 0 30px;

        &[expanded] {
          h4::after {
            opacity: 0;
          }
        }
      }

      header, .core-content {
        padding: 0 40px;
      }

      header {
        background: none;
        border: 0;

        h4 {
          color: $color-ampblue;
          position: relative;

          &::before, &::after {
            background: $gradient-bold;
            content: '';
            left: -30px;
            height: 2px;
            position: absolute;
            top: 15px;
            width: 10px;
          }

          &::after {
            transform: rotate(90deg);
          }
        }
      }

      .core-content {
        p {
          margin: 30px 0;
        }

        .code {
          margin: 0 -30px;
        }

        a {
          font-size: 20px;
          text-transform: none;
        }
      }
    }
  }

  .video {
    margin: 200px auto;
    max-width: 800px;
    padding: 0 30px;
    position: relative;

    amp-youtube {
      box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .line1 {
      position: absolute;
      left: -32%;
      top: 9%;
      width: 563px;
    }

    .line2 {
      bottom: -10%;
      position: absolute;
      right: -10%;
      width: 254px;
    }
  }

  @include max-screen($tablet-portrait-breakpoint) {
    .hero {
      padding-top: 480px;
      .text {
        width: 100%;

        h2,
        & > p {
          width: 100%;
        }
      }
    }
  }

  @include max-screen(1440px) {
    .hero {
      .triangle {
        right: -22px;
      }
    }
  }
}

