body.about-who-vertical {
  .about-who-block {
    position: relative;
    overflow: hidden;
    &::after {
      background: $gradient-med-faded;
      content: '';
      display: block;
      height: 2000px;
      left: 0;
      position: absolute;
      width: 100%;
      bottom: -2200px;
      transform: skewY(-36deg);
      transform-origin: top left;
    }
  }

  .container.lg {
    position: relative;
    z-index: 1;
  }

  .hero {
    position: relative;
    padding: 100px 15.4% 200px 15.4%;

    .hero-images {
      position: absolute;
      left: 1440px;
      top: -20px;

      .triangle {
        position: absolute;
        right: calc((1440px - 100vw)/2);
        top: 0;
        width: 630px;
      }

      .phones {
        position: absolute;
        right: -100px;
        top: 150px;
        width: 700px;
      }
    }

    .label {
      @include text-label();
    }

    .title {
      position: relative;
      max-width: 650px;
      margin-bottom: 50px;
    }

    .paragraph {
      max-width: 600px;
      margin-bottom: 70px;
    }

    .icon {
      width: 53px;
    }

    .example-users {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      width: 62%;
      min-width: 651px;

      .example-user-logo {
        flex: 0 0 18%;
      }
    }
  }

  .why-use {
    padding: 0 15.4% 165px 15.4%;

    h3 {
      text-align: center;
      margin-bottom: 45px;
    }

    .reasons.desktop {
      display: flex;
      justify-content: space-between;

      .reason {
        flex: 0 0 27%;

        h4 {
          padding-right: 10px;
        }
      }
    }

    .reasons.mobile {
      display: none;
    }
  }

  .case-study {
    padding: 0 15.4% 115px 15.4%;

    h3 {
      text-align: center;
    }

    .desktop .card {
      flex: 0 0 calc(50% - 20px);
    }

    amp-carousel {
      display: none;
    }
  }

  @include max-screen($mobile-breakpoint) {
    .about-who-block {
      &::before {
        background: $gradient-anglebold;
        content: '';
        display: block;
        height: 600px;
        left: 0;
        position: absolute;
        width: 100%;
        top: 0;
        transform: skewY(-36deg);
        transform-origin: top left;
      }
    }

    .hero {
      padding: 68px 0 40px 0;

      .example-users {
      }

      .icon {
        display: none;
      }

      .label {
        color: $color-white;
      }

      .title {
        color: $color-white;
        width: 65%;
        margin-bottom: 35px;
      }

      .paragraph {
        position: relative;
        padding: 28px 22px 25px 22px;
        background: $color-white;
        box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
        max-width: 400px;
        margin-bottom: 40px;
      }

      .hero-images {
        position: absolute;
        left: unset;
        right: -50px;
        top: 20px;

        .triangle {
          display: none;
        }

        .phones {
          position: absolute;
          right: -130px;
          top: 0;
          width: 100vw;
          max-width: 450px;
        }
      }
    }

    .why-use {
      padding: 20px 0 40px 0;
      h3 {
        margin-bottom: 15px;
      }
      .reasons.mobile {
        display: block;
        width: 106%;
        position: relative;
        left: -3%;
        .card-container {
          padding: 0;
          justify-content: center;
        }
        .reason {
          padding: 20px;
          flex: 0 0 94%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          h4 {
            padding-right: 10px;
            
          }
          p {
            display: inline-block;
            max-width: 400px;
            text-align: left;
          }
        }
      }

      .reasons.desktop {
        display: none;
      }
    }

    .case-study {
      padding: 0 0 50px 0;
    }
  }

  @include max-screen($tablet-portrait-breakpoint) {
    .case-study {
      .desktop {
        display: none;
      }

      amp-carousel {
        display: block;
        width: 106%;
        position: relative;
        left: -3%;
        .card-container {
          padding: 0;
          justify-content: center;
        }
        .card {
          flex: 0 0 94%;
        }
      }
    }
  }
}