body.about-who {
  .hero-images {
    position: absolute;
    right: 0;
    top: 180px;

    .lines,
    .phones,
    .triangle {
      position: absolute;
      right: 0;
      top: 0;
    }

    .lines {
      height: 582px;
      right: 120px;
      top: 150px;
      width: 700px;
    }

    .phones {
      height: 931px;
      right: -500px;
      width: 1500px;
    }

    .triangle {
      height: 650px;
      width: 442px;
    }
  }


  .hero {
    position: relative;
    padding: 225px 8.95% 300px 8.95%;

    .triangle {
      height: 650px;
      width: 442px;
    }
  }


  .hero {
    position: relative;
    padding: 225px 8.95% 300px 8.95%;

    .title {
      position: relative;
      max-width: 450px;
      margin-bottom: 0;
    }

    .subtitle {
      max-width: 350px;
    }
  }

  .user-categories {
    flex-wrap: wrap;
    padding: 0 8.95% 75px 8.95%;

    .card {
      padding: 45px 10px 35px 10px;
      text-align: center;

      amp-img {
        margin-bottom: 20px;
      }

      &:hover {
        .user-link {
          opacity: 1;
        }
      }
    }

    .user-link {
      @extend a;
      display: inline;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &.rtl {
    .hero {
      padding: 225px 65% 300px 0%;
    }
  }

  @include min-max-screen($mobile-breakpoint, 1300px) {
    &.rtl .hero, .hero {
      padding: 70px 0 900px;
      text-align: center;

      .title, .subtitle {
        margin: 10px auto;
      }
    }

    .hero-images {
      top: 480px;
    }
  }

  @include max-screen($mobile-breakpoint) {
    .about-who-block {
      position: relative;
      &::before {
        background: $gradient-med-faded;
        content: '';
        display: block;
        height: 1400px;
        left: 0;
        position: absolute;
        width: 100%;
        top: -1000px;
        transform: skewY(36deg);
        transform-origin: bottom left;
      }
    }

    .hero-images {
      display: none;
    }

    &.rtl .hero, .hero {
      padding: 100px 0 40px 0;

      .inline-toc {
        display: block;
        margin-top: 250px;
      }
    }

    .user-categories {
      padding: 0 0 40px 0;
      .card {
        flex: 0 0 48%; // IE10: calc not allowed in flex
        flex: 0 0 calc(50% - 20px);
      }

      .user-link {
        opacity: 1;
      }
    }
  }

  @include max-screen($tablet-portrait-breakpoint - 200px) {
    .hero {
      .inline-toc {
        margin-top: 450px;
      }
    }
  }

  @include max-screen($mobile-medium-breakpoint) {
    .user-categories {
      .card {
        position: relative;
        left: -2%;
        flex: 0 0 100%;
      }
    }
  }
}
