body.about-who-vertical {

  .about-who-block {
    position: relative;
    overflow: hidden;

    &::before, &::after {
      background: $gradient-med-faded;
      content: '';
      display: none;
      height: 2000px;
      left: 0;
      position: absolute;
      width: 100%;
      transform: skewY(-36deg);
      transform-origin: top left;
    }

    &::before {
      top: -1600px;
    }

    &::after {
      bottom: -2200px;
      display: block;
    }

    .small a {
      font-size: 16px;
      text-transform: none;
    }
  }

  .container.xl {
    position: relative;
    z-index: 1;
  }

  .hero {
    position: relative;
    padding: 100px 5% 200px 5%;

    .hero-images {
      position: absolute;
      left: 1440px;
      top: -20px;

      .triangle {
        position: absolute;
        right: calc((1440px - 100vw)/2);
        top: 0;
        width: 630px;
      }

      .phones {
        position: absolute;
        right: -150px;
        top: 70px;
        width: 670px;
      }
    }

    .label {
      @extend %text-label;
    }

    .title {
      position: relative;
      max-width: 700px;
      margin-bottom: 50px;
    }

    .paragraph {
      max-width: 600px;
      margin-bottom: 70px;
    }

    .icon {
      width: 76px;
    }

    .example-users {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      width: 62%;
      min-width: 651px;

      .example-user-logo {
        flex: 0 0 18%;
        position: relative;

        &.nyt {
          flex: 0 0 26%;
        }

        &.globo {
          flex: 0 0 10%;
        }

        &.wapo {
          flex: 0 0 22%;
        }

        &.wired {
          flex: 0 0 14%;
        }

        &.sharethrough {
          flex: 0 0 28%;
          top: -14px;
        }

        &.triplelift {
          flex: 0 0 16%;
        }

        &.teads {
          flex: 0 0 10%;
        }

        &.indexexchange {
          top: -8px;
        }

        &.google {
          flex: 0 0 15%;
        }

        &.doubleclick {
          flex: 0 0 18%;
        }

        &.cloudflare {
          flex: 0 0 25%;
          top: -8px;
        }
      }
    }
  }

  .why-use {
    padding: 0 5% 165px 5%;

    h3 {
      text-align: center;
      margin-bottom: 45px;
    }

    .reasons.desktop {
      display: flex;
      justify-content: space-between;

      .reason {
        flex: 0 0 27%;
        text-align: center;

        amp-img {
          margin: 20px 0 40px;
          max-height: 100px;
        }

        h4 {
          padding-right: 10px;
        }
      }
    }

    .reasons.mobile,
    .reasons.tablet {
      display: none;
    }
  }

  .points {
    padding-top: 0;

    h3 {
      margin: 0 auto 50px;
      max-width: 700px;
      text-align: center;
    }
  }

  .case-study {
    padding: 0 15.4% 115px 15.4%;

    h3 {
      margin-bottom: 45px;
      text-align: center;
    }

    .desktop .card {
      flex: 0 0 calc(50% - 20px);
      flex-basis: calc(50% - 20px);
    }

    amp-carousel {
      display: none;
    }
  }

  .large-cta {
    .button {
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .about-who-block.centered {
    &::before {
      top: -50px;
    }

    .hero {
      text-align: center;

      .hero-images {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        .lines {
          bottom: 10%;
          height: 260px;
          left: -15%;
          position: absolute;
          width: 410px;
        }
      }

      amp-img, .title, .paragraph, .example-users {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
      }

      .paragraph {
        max-width: 700px;
      }
    }

    .case-study {
      position: relative;

      .lines {
        height: 260px;
        position: absolute;
        right: -17%;
        top: -35%;
        width: 410px;
      }
    }
  }

  .about-who-block.amp-ads {
    .hero {
      .title {
        max-width: 500px;
      }

      .hero-images .lines {
        bottom: 30%;
        z-index: -1;
      }
    }
  }

  .about-who-block.publishers {
    .hero-images .triangle {
      top: -80px;
    }
  }

  .about-who-block.advertisers {
    &::after {
      display: none;
    }

    .hero {
      padding-left: 60%;
      width: 35%
    }

    .hero-images {
      left: auto;
      top: 30px;
      bottom: 0;
      right: 1440px;
      z-index: -1;

      .triangle {
        left: calc((1440px - 100vw)/2);
        right: auto;
      }

      .phones {
        left: -230px;
        right: auto;
        top: -130px;
        width: 1100px;
      }

      .lines {
        height: 619px;
        left: 170px;
        position: absolute;
        top: 20px;
        width: 640px;
      }
    }
  }

  &.rtl {
    .about-who-block.publishers .hero {
      padding: 100px 45% 200px 5%;
    }
  }

  @include min-max-screen($tablet-portrait-breakpoint, $tablet-breakpoint) {
    .tablet-wrapper {
      position: relative;
      padding: 28px 22px 25px 22px;
      background: $color-white;
      box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
      margin-bottom: 40px;
    }

    .why-use {
      .reasons.tablet {
        display: block;
        width: 106%;
        position: relative;
        left: -3%;

        .card-container {
          padding: 0;
          justify-content: center;
        }

        .card--spacer {
          flex: 0 0 46%;
        }

        .reason {
          padding: 20px;
          flex: 0 0 46%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            padding-right: 10px;
          }

          p {
            display: inline-block;
            max-width: 400px;
            text-align: left;
            text-align: start;
          }
        }
      }

      .reasons.desktop {
        display: none;
      }
    }

    &.rtl {
      .why-use .reasons.tablet {
        left: auto;
        right: -3%;
      }
    }
  }

  @include max-screen($tablet-breakpoint) {
    nav.breadcrumb li,
    nav.breadcrumb a {
      color: $color-white;
    }

    .about-who-block {
      &::before {
        background: $gradient-anglebold;
        content: '';
        display: block;
        height: 600px;
        left: 0;
        position: absolute;
        width: 100%;
        top: 0;
        transform: skewY(-36deg);
        transform-origin: top left;
      }
    }

    .hero {
      padding: 68px 0 40px 0;
      text-align: center;

      .title, .paragraph, .example-users {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
      }

      .icon {
        display: none;
      }

      .label {
        color: $color-white;
      }

      .hero-images {
        display: none;
      }
    }

    .why-use, .case-study {
      padding: 0 0 50px 0;
    }

    .case-study {
      .card-container {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;
      }

      .lines {
        z-index: -1;
      }
    }

    .reason {
      amp-img {
        height: 100px;
        margin: 10px 0;
        min-height: 100px;
      }
    }

    .about-who-block.advertisers {
      .hero {
        padding-left: 0;
        width: auto;
      }
    }

    &.rtl {
      .about-who-block.publishers .hero {
        padding-right: 5%;
      }
    }
  }

  @include max-screen($tablet-portrait-breakpoint) {
    .hero {
      .title {
        color: $color-white;
        width: 80%;
        margin-bottom: 35px;
      }

      .paragraph {
        position: relative;
        padding: 28px 22px 25px 22px;
        background: $color-white;
        box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
        max-width: 400px;
        margin-bottom: 40px;
      }
    }

    .points {
      margin-bottom: 50px;

      h3 {
        margin-bottom: 20px;
      }
    }

    .why-use, .case-study {
      padding: 0 0 50px 0;
    }

    .case-study {
      .desktop {
        display: none;
      }

      amp-carousel {
        display: block;
        width: 106%;
        position: relative;
        left: -3%;

        .card-container {
          padding: 0;
          justify-content: center;
        }

        .card {
          flex: 0 0 94%;
        }
      }
    }

    .why-use {
      .reasons.mobile {
        display: block;
        width: 106%;
        position: relative;
        left: -3%;

        .card-container {
          padding: 0;
          justify-content: center;
        }

        .reason {
          padding: 20px;
          flex: 0 0 94%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h4 {
            padding-right: 10px;
          }

          p {
            display: inline-block;
            max-width: 400px;
            text-align: left;
            text-align: start;
          }
        }
      }

      .reasons.desktop {
        display: none;
      }
    }

    .hero .example-users {
      justify-content: space-around;
      min-width: 0;
      position: relative;
      width: 90%;

      .example-user-logo {
        margin: 10px 0;

        &.nyt {
          flex: 0 0 52%;
          left: -3%;
        }

        &.globo {
          flex: 0 0 20%;
        }

        &.wapo {
          flex: 0 0 44%;
        }

        &.wired {
          flex: 0 0 28%;
          left: 3%;
        }

        &.sharethrough {
          flex: 0 0 56%;
          left: -10%;
        }

        &.triplelift {
          flex: 0 0 30%;
          left: -10%;
        }

        &.teads {
          flex: 0 0 20%;
        }

        &.indexexchange {
          flex: 0 0 41%;
        }

        &.google {
          flex: 0 0 35%;
        }

        &.doubleclick {
          flex: 0 0 35%;
          left: -10%;
        }

        &.cloudflare {
          flex: 0 0 40%;
        }
      }
    }

    .about-who-block.centered {
      .hero .example-users {
        left: 3%;
        max-width: 450px;
      }
    }

    &.rtl {
      .why-use .reasons.mobile,
      .case-study amp-carousel {
        left: auto;
        right: -3%;
      }
    }
  }

  @include max-screen($mobile-medium-breakpoint) {
    .reason {
      amp-img {
        height: 50px;
        margin: 10px 0;
        min-height: 50px;
      }
    }
  }
}