.about-how {
  .hero {
    margin: 100px auto;
    max-width: 500px;
    text-align: center;
  }

  .video {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 30px;
    position: relative;
    z-index: 1;
  }

  .points {
    background: white;
    margin: -350px 0 200px;
    padding-top: 450px;

    &::before, &::after {
      content: '';
      position: absolute;
    }

    &::before {
      background: url(/static/img/latest/line_hero_back.svg) center/contain no-repeat;
      height: 285px;
      right: -60px;
      top: -110px;
      width: 285px;
      z-index: 1;
    }

    &::after {
      background: url(/static/img/latest/line_hero_front.svg) center/contain no-repeat;
      height: 285px;
      right: -80px;
      top: -60px;
      width: 285px;
      z-index: -1;
    }
  }

  @include max-screen($tablet-portrait-breakpoint) {
    .wrap {
      &::after {
        display: none;
      }

      &::before {
        top: -750px;
      }
    }

    .hero {
      margin-bottom: 30px;
    }

    .points {
      background: none;
      margin: 30px 0;
      padding-top: 0;

      &::before, &::after {
        display: none;
      }
    }
  }
}