body.amp-ads {

  section.hero {
    position: relative;
    padding: 145px 10% 200px 8%;

    .hero-images {
      position: absolute;
      left: 1440px;
      top: -20px;

      .triangle {
        position: absolute;
        right: calc((1440px - 100vw)/2);
        top: -240px;
        width: 768px;
      }

      .phones {
        position: absolute;
        right: 16px;
        top: -30px;
        width: 743px;
        height: 800px;
      }
    }

    .hero-images-tablet {
      display: none;
      position: relative;
      left: 0;
      top: 0;
      width: 100vw;
      height: 900px;

      .triangle {
        position: absolute;
        right: 10%;
        width: 110vw;
        max-width: 700px;
      }

      .lines {
        height: inherit;
        position: absolute;
        width: 120vw;
        max-width: 800px;
        left: 50%;
        top: 50%;
        transform: translate(-60%, -40%);
     }

      .phones {
        position: absolute;
        left: 56%;
        transform: translateX(-57%);
        width: 150vw;
        max-width: 1000px;
      }
    }

    @media(max-width: 1230px) {
      .hero-images {
        .triangle {
          right: 114px;
        }

        .lines {
          right: 180px;
        }

        .phones {
          right: 15vw;
        }
      }
    }

    @media(max-width: 1090px) {
      .hero-images {
        .lines {
          right: 32vw;
        }

        .phones {
          right: 25vw;
        }
      }
    }

    .title {
      position: relative;
      max-width: 400px;
    }

    .paragraph {
      max-width: 430px;
      margin-bottom: 25px;
    }

    .lines {
      height: 486px;
      position: absolute;
      width: 700px;
      right: 116px;
      top: 148px;
    }

    .button {
      padding: 15px 40px;
    }
  }

  section.what {
    max-width: 940px;
    margin: 120px auto 140px;

    .flex {
      display: flex;

      p {
        flex: 1.2;
        margin-right: 140px;
      }

      .testimonial {
        flex: 1;

        blockquote {
          color: #07a4fb;
          font-weight: 300;
          font-size: 25px;
          font-style: normal;
          line-height: 34px;
          padding: 13px 0px;
          quotes: "“" "”";
          border: none;
          text-rendering: geometricPrecision;

          &:before {
            content: open-quote;
          }

          &:after {
            content: close-quote;
          }
        }

        .byline {
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
        }

        .role {
          font-size: 13px;
          line-height: 18px;
          font-style: italic;
          margin-left: 1em;
          margin-top: 4px;
          max-width: 250px;
        }
      }
    }
  }

  .large-cta.testimonial {
    color: white;
    text-align: center;
    margin-bottom: 120px;
    padding: 140px 0;

    blockquote {
      max-width: 680px;
      margin: auto;
      color: white;
      font-weight: 300;
      font-size: 25px;
      font-style: normal;
      line-height: 34px;
      padding: 13px 25px;
      quotes: "“" "”";
      border: none;
      text-rendering: geometricPrecision;

      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }
    }

    .byline {
      margin-top: 5px;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }

    .role {
      font-size: 13px;
      font-style: italic;
      line-height: 18px;
    }
  }

  section.why-use, section.who-for {
    padding: 0 8% 165px 8%;

    h3 {
      text-align: center;
      margin-bottom: 25px;
    }

    .reasons.desktop {
      display: flex;
      justify-content: space-between;

      .reason {
        flex: 0 0 28.5%;
        text-align: center;

        amp-img {
          margin: 20px auto 40px;
          max-height: 100px;
          max-width: 140px;
        }
      }
    }

    .reasons {
      .reason.lighter_ads {
        amp-img {
          max-width: 100px;
        }
      }

      .reason.safer_ads {
        amp-img {
          max-width: 80px;
        }
      }
    }

    .reasons.mobile,
    .reasons.tablet {
      display: none;
    }
  }

  section.difference {
    max-width: 80vw;
    margin: 0 auto 200px;

    h3 {
      text-align: center;
      margin: 0 auto 170px;
      max-width: 500px;

      i {
        color: #07a4fb;
      }
    }

    .video-container {
      position: relative;
      max-width: 650px;
      margin: auto;

      .logo {
        position: absolute;
        transform: translateX(-50%);
        font-size: 0.86em;
        color: #aaa;
        text-transform: uppercase;
        font-weight: 500;
        top: -120px;

        &.one {
          left: 19%;
        }

        &.two {
          left: 80%;
        }
      }

      .phone-overlay {
        position: absolute;
        width: 626px;

        &.one {
          top: -137px;
          left: -131px;
        }

        &.two {
          top: -137px;
          left: 264px;
        }
      }

      .lines {
        position: absolute;
        top: 280px;
        left: -250px;
        width: 400px;
        height: 400px;
      }
    }
    @media(max-width: 806px) {
      .video-container {
        .phone-overlay {
          width: 77vw;

          &.one {
            top: -16.8vw;
            left: -16vw;
          }

          &.two {
            top: -16.8vw;
            left: 32.5vw;
          }
        }

        .lines {
          top: 30vw;
          left: -27vw;
          width: 40vw;
          height: 40vw;
        }

        .logo {
          top: -15vw;
        }
      }
    }
  }

  section.who-for {
    h3 {
      margin-bottom: 15px;
    }

    .subtitle {
      max-width: 500px;
      text-align: center;
      margin: 0 auto 36px;
    }

    .reasons.desktop .reason {
      flex: 0 0 25.5%;

      .number {
        margin: 20px auto 20px;
      }
    }
  }

  section.experience {
    position: relative;

    h3 {
      text-align: center;
      position: relative;
      top: 60px;
    }

    .shape {
      position: absolute;
      left: calc(50% - 700px);
      top: 180px;
    }

    .lines {
      position: absolute;
      &.lines-1 { top: 578px; left: calc(50% - 620px); }
      &.lines-2 { top: 692px; left: calc(50% - 320px); }
      &.lines-3 { top: 390px; left: calc(50% + 330px); }
    }

    .logo {
      color: #3C78B8;
      font-size: 0.85em;
      font-weight: 500;
      text-align: center;
    }

    .logo.ads {
      color: white;
      position: absolute;
      top: 448px;
      left: calc(50% - 305px);
      width: 109px;

      @media (min-width: 1700px) {
        color: #3C78B8;
      }
    }

    .logo.page {
      position: absolute;
      top: 190px;
      left: calc(50% - 20px);
      width: 120px;
    }

    .logo.landing-page {
      position: absolute;
      top: 286px;
      left: calc(50% + 219px);
      width: 176px;
    }

    .phones {
      transform: translateX(-50%);
      width: 989px;
      height: 867px;
      left: 50%;
      top: 186px;
      position: relative;
      margin-bottom: 186px;
    }
  }

  @media (min-width: 1410px) {
    section.experience {
      .shape {
        left: 0;
      }
    }
  }

  .experience-mini {
    margin-bottom: 80px;
  }

  section.latest {
    h3 {
      text-align: center;
    }

    .latest-carousel {
      width: 100%;
      max-width: 1080px;
      margin: 0 auto 100px;

      .card {
        flex: 0 0 calc(33% - 10px);
        padding: 15px 30px 10px;
      }

      .card-content {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .latest-carousel.mobile-down {
      margin: 0 auto 60px;

      & > div::-webkit-scrollbar {
        background-color: transparent;
        height: 0.1px;
      }

      .card-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 2px;
        padding-right: 2px;

        &:first-child {
          margin-left: 10vw;
        }

        &:last-child {
          margin-right: 10vw;
        }

        .card {
          width: 80vw;
          padding: 20px 30px 5px;
        }
      }
    }
  }

  section.large-cta {
    h1 {
      font-size: 30px;
      line-height: 41px;
    }

    .button {
      padding: 15px 40px;
    }

    .large-cta-lines.left {
      left: -5%;
    }

    .large-cta-lines.right {
      top: -23%;
    }
  }

  section.users {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin: 0 auto 130px;

    .user-logo {
      flex: 0 0 8%;
      position: relative;

      &.doubleclick {
        flex: 0 0 11%;
      }

      &.cloudflare {
        flex: 0 0 12%;
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  body.amp-ads {
    section.hero {
      padding: 0 10% 100px 8%;
      text-align: center;

      .title, .paragraph {
        max-width: inherit;
      }

      .hero-images-tablet {
        display: inherit;
      }
    }

    section.what {
      margin: 30px auto 80px;

      h3 {
        text-align: center;
      }

      .flex {
        .small.paragraph {
          margin: 10px 10px 20px;
        }
        flex-direction: column;
        text-align: center;

        .testimonial {
          blockquote {
            font-size: 21px;
            line-height: 30px;
          }

          .role {
            margin: 4px auto;
          }
        }
      }
    }

    section.why-use, section.who-for {
      padding: 0 8% 100px 8%;

      h3 {
        margin-bottom: 0;
      }

      .reasons.desktop {
        flex-direction: column;

        .reason amp-img {
          margin: 30px auto 20px;
        }

        .reason .number {
          margin: 50px auto 10px
        }
      }
    }

    .large-cta.testimonial {
      padding: 80px 0;
      margin-bottom: 50px;

      blockquote {
        font-size: 22px;
        line-height: 30px;
      }
    }

    section.users {
      min-width: 300px;
      margin: 0 auto 45px;
      justify-content: center;

      .user-logo {
        flex: inherit;
        width: 50%;

        .img {
          width: 90px;
          margin: 0 auto 45px;
        }

        &.doubleclick {
          flex: inherit;

          .img {
            width: 123px;
          }
        }

        &.cloudflare {
          flex: inherit;

          .img {
            width: 135px;
          }
        }
      }
    }

    section.difference {
      margin: 0 auto 150px;

      .logo.two {
        font-size: 14px;
        white-space: nowrap;
      }
    }

    section.large-cta {
      padding: 50px 0;

      h1 {
        font-size: 22px;
        line-height: 33px;
        padding: 0 30px;
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 560px) {
  body.amp-ads {
    section.hero {
      .hero-images-tablet {
        height: 150vw;
      }
    }

    section.difference {
      h3 {
        margin: 0 auto 120px;
      }

      .video-container {
        .logo {
          transform: translateX(-50%) scale(0.8);
          top: -16vw;
        }
      }
    }
  }
}
