body.case-study {

    h1 {
        margin-bottom: 1em;
    }

    .img-right {
        display: inline-block;
        width: 37%;
        min-width: 250px;
        float: right;

        amp-img {
            margin-top: 0;
        }
    }

    .button {
        background: aliceblue;
        margin: 2em 2em 0 0;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
    }

    .results {

        padding: 0 1em;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 1em;
        margin: 0 2em;

        p {
            &:first-child {
                margin-top: 0;
            }
            font-weight: 400;
            font-size: 18px;
        }

        strong {
            display: block;
            color: #4CAF50;
        }

    }

    blockquote p {
        font-size: 22px;
        line-height: 35px;
    }

    @include max-screen($mobile-breakpoint) {

        .results {
            .button {
                margin-right: 0;
            }
        }
    }

    @include max-screen(600px) {
        .img-right {
            display: block;
            float: none;
            width: auto;
        }
    }

}




