body.case-studies {

    .card {
        flex: 0 0 calc(50% - 10px);
        overflow: visible;

        @include max-screen($mobile-medium-breakpoint) {
            flex: 0 0 calc(100%);
        }

        &.wide {
            flex: 0 0 100%;

            flex-direction: row-reverse;
            @include max-screen($mobile-medium-breakpoint) {
                flex-direction: column;
            }

            @include max-screen($mobile-breakpoint) {
                flex: 0 0 calc(100% + 40px);
                margin-left: -20px;
                border-radius: 0;
            }

            .card__image {

                flex: 0 0 50%;
                @include max-screen($mobile-medium-breakpoint) {
                    flex: 1 1 auto;
                }

                background-color: #e8e8e8;
                @include max-screen($mobile-breakpoint) {
                    background-color: #00548a;
                }

                a {
                    display: block;
                }
            }

            .card__title {
                font-size: 32px;
            }

            .card__content {
                flex: 0 1 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 40px;

                @include max-screen($mobile-breakpoint) {
                    background: $color-midblue;
                    h4, p, a {
                        color: #fff;
                    }
                }

                .card__action a {
                    padding-left: 0;
                }

                p:first-of-type {
                    margin-top: 0;
                    margin-bottom: 1em;
                }

                p:last-of-type {
                    margin-top: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }

    amp-img {
        margin: 0;
    }

}


body.case-study {

    h1 {
        margin-bottom: 1em;
    }

    .img-right,
    .img-left {
        display: inline-block;
        width: 37%;
        min-width: 250px;

        amp-img {
            margin-top: 0;
        }
    }

    .img-right {
        float: right;
    }

    .img-left {
        float: left;
    }

    .button {
        background: aliceblue;
        margin: 2em 2em 0 0;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
    }

    .results {

        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 1em;
        margin-bottom: 2em;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &.wordy {
            div {
                padding: 14px 20px 0px 20px;
            }
        }

        div {
            background: $color-midblue;
            color: #fff;
            border-radius: 160px;
            width: 160px;
            height: 160px;
            text-align: center;
            font-weight: 400;
            font-size: 14px;
            padding: 40px 27px 0px 27px;
            box-sizing: border-box;
            margin-bottom: 15px;
        }

        strong {
            display: block;
            font-size: 2em;
            font-weight: 400;
            margin-bottom: 0.2em;
        }

    }

    blockquote p {
        font-size: 22px;
        line-height: 35px;
    }

    @include max-screen($mobile-breakpoint) {

        .results {
            .button {
                margin-right: 0;
            }
        }
    }

    @include max-screen(600px) {
        .img-right,
        .img-left {
            display: block;
            float: none;
            width: auto;
        }
    }

}




