.design-principles {

  .wrap {
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
    }

    &::after {
      background: url(/static/img/about/design-principles/bg2.svg) bottom left/contain no-repeat;
      bottom: 0;
      height: 69vw;
      left: 0;
      width: 50vw;
    }
  }

  .title {
    margin: 100px auto;
    max-width: 500px;
    text-align: center;

    h1, p {
      color: white;
    }
  }

  .principles {
    background: white;
    display: flex;
    margin: 0 auto 100px;
    max-width: 90%;
    padding: 60px 100px 60px 30px;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
    }

    &::before {
      background: url(/static/img/about/design-principles/lines1.svg) center/contain no-repeat;
      height: 232px;
      right: -360px;
      top: -130px;
      width: 477px;
    }

    &::after {
      background: url(/static/img/about/design-principles/lines2.svg) center/contain no-repeat;
      bottom: -30px;
      height: 200px;
      left: -280px;
      width: 259px;
    }
  }

  .principles-col {
    flex: 1 1 auto;
    width: 0;
  }

  .principle {
    display: inline-flex;
    padding: 40px 0;

    &:last-child {
      .text::after {
        display: none;
      }
    }

    .image {
      left: 20px;
      height: 150px;
      min-height: 150px;
      min-width: 150px;
      position: relative;
      top: -30px;
      width: 150px;
    }

    .text {
      position: relative;

      &::after {
        background: $gradient-med;
        bottom: -35px;
        content: '';
        height: 3px;
        position: absolute;
        transform: rotate(180deg);
        width: 100%;
      }
    }
  }

  @include max-screen($tablet-breakpoint) {
    .wrap::after {
      height: 270vw;
      width: 150vw;
    }

    .principles {
      display: block;
      padding: 20px;
    }

    .principles-col {
      width: auto;

      &:first-child .principle:last-child .text::after {
        display: block;
      }
    }

    .principle {
      display: block;

      .image {
        left: 0;
        margin: -40px auto;
      }

      .text {
        margin: 0 auto;
        max-width: 500px;
      }
    }
  }
}