.dochome {
  .content {
    overflow: hidden;
  }

  .doc-landing-title {
    margin: 0 auto 20px;
    max-width: 700px;
    text-align: center;
  }

  h3.video-section {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .getting-started {
    margin-bottom: -60px;
    padding: 0;
    position: relative;
    z-index: 1;

    h4 {
      font-weight: 400;
    }

    .card-video {
      @extend %text-base;
      @extend %text-body;
      background: $color-white;
      box-shadow: 0px 3px 20px 0 rgba(0, 0, 0, 0.075);
      box-sizing: border-box;
      display: inline-block;
      flex: 0 0 31%; // IE10: calc not allowed in flex
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px);
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      transition: transform 0.3s, box-shadow 0.3s;

      &::before {
        background: $gradient-bold;
        content: '';
        left: 0;
        height: 2px;
        position: absolute;
        right: 0;
        top: -2px;
      }

      &.centered {
        align-items: center;
        text-align: center;
      }

      &:hover {
        box-shadow: 0px 3px 50px 0 rgba(0, 0, 0, 0.075);
        transform: translateY(-5px);
      }

      &--spacer {
        box-shadow: none;
        height: 0;
        padding: 0;

        &::before {
          display: none;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    .card-inner {
      width: 100%;
    }

    .card-content {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px;
      position: relative;

      h3, h4{
        margin-top: 0;
      }
    }
  }

  .wrap section {
    padding: 10px 0 30px 0;
  }

  &.rtl {
    .hero {
      .hero-image {
        left: auto;
      }

      br.tablet-down {
        display: block;
        visibility: visible;
      }
    }
  }

  @include max-screen($mobile-breakpoint) {

    .getting-started {

      h1 {
        max-width: 300px;
      }

      .card,
      .card-video {
        flex-basis: 100%;
      }

      .card-content {
        h2 {
          font-size: 20px;
          line-height: 1.5;
        }
      }
    }
  }

  @include max-screen($tablet-breakpoint) {

    .getting-started {
      
      h1 {
        max-width: 300px;
      }

      .card,
      .card-video {
        flex-basis: 100%;
      }

      .card-content {
        h2 {
          font-size: 20px;
          line-height: 1.5;
        }

      }
    }
  }
}
