.faqs {
  .content {
    h2 {
      border-bottom: 2px solid $color-grey-lt;
      margin: 25px 0 0 0;
      padding: 0 0 25px 0;
    }
  }

  .section-label {
    color: $color-ampblue;
    @include text-label();
  }

  amp-accordion {
    margin-bottom: 100px;
  }
}

@include max-screen($mobile-medium-breakpoint) {
  .faqs {
    .content {
      h2 {
        border-bottom-width: 1px;
        margin-top: 15px;
        padding-bottom: 15px;
      }
    }

    amp-accordion {
      margin-bottom: 50px;
    }
  }
}
