.home {
  .hero {
    position: relative;

    @include min-screen($mobile-breakpoint) {
      min-height: 420px;
      padding-bottom: 4px;
      padding-top: 134px;
    }

    .container {
      position: relative;
    }

    h1 {
      // br {
      //   display: none;

      //   @include max-screen($mobile-breakpoint) {
      //     display: block;
      //   }
      // }
    }

    .intro {
      color: $color-black;
      margin-top: 0;
      padding-bottom: 30px;
      max-width: 500px;

      @include max-screen($mobile-breakpoint) {
        margin-bottom: 15px;
      }
    }

    .cta_connector {
      margin: 0 20px;
    }
  }

  .hero-image {
    position: absolute;
    top: -80px;

    .lines, .phone {
      position: absolute;
      z-index: -1;
    }

    .lines {
      height: 596px;
      width: 700px;
    }

    .phone {
      height: 989px;
      left: -50px;
      top: -30px;
      width: 684px;
    }
  }
}

.latest {
  margin-top: 120px;
  position: relative;
}

.latest-label {
  left: -160px;
  letter-spacing: -0.6px;
  position: absolute;
  transform-origin: 100% 50%;
  transform: rotate(-90deg);
  top: 10px;
}

.benefits {

  h1 {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
  }

  .benefits-row {
    display: flex;
    justify-content: center;
    margin-top: 130px;
  }

  .benefit {
    margin: 0 50px;

    &:nth-child(2) .benefit-image {
      width: 125px;
    }
  }

  .benefit-image {
    display: inline-block;
    position: relative;
    top: -50px;
    width: 150px;
  }

  .benefit-content {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 300px;

    .title {

    }

    .desc {

    }
  }
}

section {
  padding: 100px 0 60px 0;

  @include max-screen($mobile-breakpoint) {
    padding: 50px 0 40px;
  }
}
