.home {
  .hero {
    position: relative;

    @include min-screen($mobile-breakpoint) {
      min-height: 420px;
      padding-bottom: 4px;
      padding-top: 134px;
    }

    .container {
      position: relative;
    }

    h1 {
      // br {
      //   display: none;

      //   @include max-screen($mobile-breakpoint) {
      //     display: block;
      //   }
      // }
    }

    .intro {
      color: $color-black;
      margin-top: 0;
      padding-bottom: 30px;
      max-width: 500px;

      @include max-screen($mobile-breakpoint) {
        margin-bottom: 15px;
      }
    }

    .cta_connector {
      margin: 0 20px;
    }
  }
}

.latest {
  margin-top: 120px;
  position: relative;
}

.latest-label {
  left: -160px;
  position: absolute;
  transform-origin: 100% 50%;
  transform: rotate(-90deg);
  top: 10px;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.latest-carousel {
  .card {

  }
}

section {
  padding: 100px 0 60px 0;

  @include max-screen($mobile-breakpoint) {
    padding: 50px 0 40px;
  }
}
