.home {
  .hero {
    position: relative;

    @include min-screen($mobile-breakpoint) {
      min-height: 420px;
      padding-bottom: 4px;
      padding-top: 134px;
    }

    .container {
      position: relative;
    }

    h1 {
      // br {
      //   display: none;

      //   @include max-screen($mobile-breakpoint) {
      //     display: block;
      //   }
      // }
    }

    .intro {
      color: $color-black;
      margin-top: 0;
      padding-bottom: 30px;
      max-width: 500px;

      @include max-screen($mobile-breakpoint) {
        margin-bottom: 15px;
      }
    }

    .cta_connector {
      margin: 0 20px;
    }
  }
}

.section-computer {
  padding: 0;

  .computer-wrapper {
    background-color: $color-midblue;
    margin-bottom: 1em;

    .computer-interface {
      display: block;
      margin: 0 auto;
      max-width: 25%;
      padding: 5em 0 2.5em;
    }
  }
}

.image-row {
  padding: 2em 0;

  @include max-screen($mobile-breakpoint) {
    padding: 0;
  }
}

.partner-image {
  @include max-screen($mobile-breakpoint) {
    padding: 1.5em;
  }
}

.publisher-image {
  margin-left: 4%;
}

.video-div {
  background-color: #fff;
}

.watch-video {
  color: $color-white;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;

  padding: 5px 5px 5px 0px;

  &::before {
    display: inline-block;
    vertical-align: middle;
    @include sprite(video-play);
    content: '';
    margin-right: 10px;
    margin-top: -5px;
  }

}

amp-lightbox {
  background-color: rgba($color-black-95, .9);

  .lightbox {
    position: relative;
    top: 50%;
    padding: 50px;
    transform: translateY(-50%);

    .close-button {
      cursor: pointer;
      position: absolute;
      right: 25px;
      top: 5%;
      width: 20px;
      height: 20px;
      background-image: url('/static/img/close.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    @include max-screen($mobile-breakpoint) {
      padding: 30px;

      .close-button {
        right: 5px;
        top: 5px;
      }
    }
  }
}

section {
  padding: 100px 0 60px 0;

  @include max-screen($mobile-breakpoint) {
    padding: 50px 0 40px;
  }
}

// .blade {
//   &--hero {
//     padding: 65px 0 20px;

//     .container {
//       position: relative;
//     }

//     .six.columns {
//       display: flex;
//       align-items: center;
//     }

//   }

//   &--get-started {
//     padding: 90px 0 120px;
//     background: $color-grey-100;

//     amp-carousel {
//       max-width: 100%;
//     }
//   }

//   &--contributors {
//     background: $color-grey-200;

//     amp-carousel.single {
//       max-width: 100%;
//     }
//   }

//   &--benefits {
//     padding: 0;
//     box-shadow: none;
//     background-color: $color-white;
//   }

//   &--blog {
//     background-color: $color-midblue;
//     padding: 70px 0;

//     @include max-screen($mobile-breakpoint) {
//       padding-top: 40px;
//       padding-bottom: 40px;
//     }

//   }

//   @include max-screen($mobile-breakpoint) {
//     padding: 60px 0;
//     &--benefits {
//       padding: 0;
//     }
//   }

// }

// Image Grid
.image-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;

  &__image {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .image-grid--large & {
      margin: 0 #{$margin / 2};
      flex: 0 0 22%;
      flex: 0 0 calc(25% - #{$margin});
    }

    .image-grid--small & {
      margin: 0 #{$margin / 2};
      flex: 0 0 30%;
      flex: 0 0 calc(33% - #{$margin});
    }

  }
}

// Blog items
.blog {
  font-size: 15px;
  line-height: 1.3;

  &__section-title {
    color: $color-white;
    margin-bottom: 30px;
  }

  &__viewmore {
    color: $color-white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 5px;
    color: $color-grey-800;
    transition: color .15s ease-out;
  }

  &__subtitle {
    font-size: 15px;
    color: $color-grey-500;
  }

  &__tabs {
    margin-bottom: #{$margin * 3};
  }

  &__tab {
    display: block;
    padding: 1px $margin $margin #{$margin * 4};
    margin-bottom: 10px;

    background-color: $color-white;
    background-image: url('/static/img/blog-icon.svg');
    background-position: 20px center;
    background-repeat: no-repeat;
    border-radius: 3px;

    box-shadow:
        0 2px 5px 0 rgba(0,0,0,0.16),
        0 2px 10px 0 rgba(0,0,0,0.12);

    transition: .15s ease-out;

    &:hover {
      text-decoration: none;
      box-shadow:
          0 4px 7px 1px rgba(0,0,0,0.16),
          0 4px 12px 1px rgba(0,0,0,0.12);

      .blog__title {
        color: $color-midblue;
      }

    }

  }

  @include max-screen($mobile-breakpoint) {

    &__tabs {
      margin-bottom: #{$margin * 2};
    }

    &__tab {
      padding: 15px 15px 15px 60px;
    }

  }

}