.home {
  .content {
    overflow: hidden;
  }

  .hero {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;

    .container {
      position: relative;
      display: flex;
      justify-content: space-between;
    }

    .intro {
      color: $color-black;
      margin: 0;
      padding-bottom: 30px;
      max-width: 500px;
    }

    .cta_connector {
      margin: 0 20px;
    }
  }

  .hero-image {
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    transform: translateY(-14%);

    @include max-screen($container-size) {
      max-width: 500px;
      top: 40px;
    }

    .lines, .phone {
      max-width: 100%;
      z-index: -1;
    }

    .lines {
      position: relative;
      width: 700px;
    }

    .phone {
      position: absolute;
      left: -50px;
      top: -30px;
      width: 684px;
    }
  }

  .hero-content {
    flex: 10 1 auto;
  }

  .latest {
    left: -20%;
    margin-top: 120px;
    position: relative;
    width: 120%;

    @include min-max-screen($container-size - 200, $container-size) {
      left: 0;
      width: 100%;
    }
  }

  .latest-mobile {
    margin-top: 120px;

    .latest-label {
      text-align: center;
      transform: none;
      position: static;
    }
  }

  .latest-label {
    left: -130px;
    letter-spacing: -0.6px;
    position: absolute;
    transform-origin: 100% 50%;
    transform: rotate(-90deg);
    top: 10px;
  }

  .benefits {

    h1 {
      margin: 0 auto;
      max-width: 450px;
      text-align: center;
    }

    .benefits-row {
      display: flex;
      justify-content: center;
      margin-top: 130px;
    }

    .benefit {
      margin: 0 50px;
      min-width: 0;
      white-space: nowrap;

      &:nth-child(2) .benefit-image {
        width: 125px;
      }
    }

    .benefit-image {
      display: inline-block;
      position: relative;
      top: -50px;
      width: 150px;

      @include max-screen($mobile-medium-breakpoint) {
        display: block;
        margin: 20px auto;
      }
    }

    .benefit-content {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 300px;

      .desc {
        white-space: normal;
      }
    }
  }

  .experience {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-left: $margin;
    margin-top: -150px;
    max-width: 100%;

    .experience-content {
      margin-right: 100px;
      max-width: 450px;
    }

    .experience-image {
      min-width: 0;
      position: relative;

      .bg, .lines, .phone {
        max-width: 100%;
        z-index: -1;
      }

      .bg {
        position: relative;
        transform: translateY(-9%);
        width: 712px;
      }

      .lines {
        left: 0;
        position: absolute;
        top: 0;
        width: 782px;
      }

      .phone {
        left: 30%;
        position: absolute;
        top: 15%;
        width: 610px;
      }
    }
  }

  .success-stories {
    margin-bottom: -80px;
    padding-bottom: 0;
    position: relative;
    z-index: 1;

    h1 {
      margin: 0 auto 30px;
      max-width: 700px;
      text-align: center;
    }

    .card-inner {
      width: 100%;
    }

    .card-content {
      flex: 1 1 auto;
      position: relative;

      h2 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }

    .card-icon {
      height: 75px;
      margin: 0 auto;
      width: 75px;
    }
  }

  .create {
    background: $gradient-anglebold;
    padding: 130px 0 100px 0;
    position: relative;
    text-align: center;

    .create-lines {
      height: 378px;
      position: absolute;
      width: 360px;

      &.left {
        bottom: -30%;
        left: -10%;
      }

      &.right {
        right: -5%;
        top: -30%;
      }
    }

    h1 {
      color: $color-white;
      margin: 0 auto 50px;
      max-width: 500px;
    }
  }

  section {
    padding: 100px 0 60px 0;
  }


  @include max-screen($tablet-breakpoint) {
    .hero {
      .container {
        flex-direction: column;
      }

      .intro-container {
        text-align: center;

        .button {
          margin-bottom: 20px;
        }
      }

      .intro {
        margin: 0 auto;
      }

      .cta_connector {
        margin: 0 5px 0 0;
      }

      .card {
        flex-basis: 100%;
      }
    }

    .hero-image {
      margin: 60px auto;
      max-width: 500px;
      order: 2;
      transform: none;
      width: 100%;
    }

    .hero-content {
      order: 1;
    }
  }

  @include max-screen($mobile-breakpoint) {
    .benefits {
      h1 {
        max-width: 200px;
      }

      .benefits-row {
        flex-direction: column;
        margin-top: 30px;
      }

      .benefit {
        margin: 20px auto;
        text-align: center;
        white-space: normal;
      }

      .benefit-image {
        top: 0;
      }
    }

    .experience {
      flex-direction: column;
      margin-top: 0;

      .bg {
        transform: translateY(-20%);
      }
    }

    .experience-image {
      margin: -100px 0 0 auto;
      max-width: 600px;
      width: 100%;
    }

    .success-stories {
      margin-bottom: 0;

      h1 {
        max-width: 300px;
      }

      .card {
        flex-basis: 100%;
      }
    }

    section {
      padding: 50px 0 40px;
    }
  }
}

