.latest {
  .hero,
  .hero .img-wrap {
    position: relative;
  }

  .hero {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .15);

    .lines,
    .text {
      left: 0;
      position: absolute;
      top: 0;
    }

    .lines {
      transform: translate(-14.54%, -18.18%);
      width: 22.91%
    }

    .text {
      padding: 80px 11.35%;
      right: 0;

      .title {
        max-width: 300px;
        color: #FFF;
      }

      .label {
        color: #FFF;
      }
    }
  }

  .feeds {
    background: $color-white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 4.86%;
    position: relative;
    top: -160px;
    width: 90%;

    .text {
      display: none;
    }

    .posts {
      width: 48.9%;

      .posts-label {
        margin-bottom: 64px;
        position: relative;

        &::after {
          background: $gradient-bold;
          bottom: -35px;
          content: '';
          height: 3px;
          left: 0;
          position: absolute;
          width: 47px;
        }
      }
    }

    .post-item {
      padding: 36px 0;

      &:last-of-type {
        margin-bottom: 30px;
      }

      &.tweet {

        a,
        .retweet {
          text-transform: none;
        }

        .origin-name,
        .origin-id,
        .retweet,
        .retweet amp-img {
          display: inline-block;
        }

        .origin-name,
        .origin-id,
        .retweet amp-img {
          margin-right: 5px;
        }

        .retweet i-amp-sizer {
          width: 16px;
        }

        .tweet-text {
          margin: 20px 0;

          a {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
          }

          s {
            text-decoration: none;
          }

          b {
            font-weight: 300;
          }

          .invisible {
            font-size: 0;
            line-height: 0;
            display: inline-block;
            width: 0;
          }

          .tco-ellipsis + .invisible {
            width: 4px;
          }
        }
        .Emoji {
          max-width: 18px;
        }
      }
    }

    .label,
    .post-meta {
      @extend %text-label;
    }

    .label {
      color: $color-ampblue;
      margin-bottom: 15px;
    }

    .post-meta {
      color: $color-grey-md;

      .time {
        &::before {
          content: '|';
          margin-left: .8em;
          margin-right: 1.1em;
        }
      }
    }

    .post-title {
      h4 {
        margin: 10px 0;
      }
    }

    .post-excerpt {
      margin: 0;
    }

    .event-meta {
      margin: 6px 0 8px 0;
    }

    .twitter {
      padding-top: .7em;
      width: 36.41%;

      .twitter-icon {
        display: inline-block;
        position: relative;

        amp-img {
          left: -25px;
          position: absolute;
          top: -22px;
        }

        i-amp-sizer {
          width: 45px;
        }
      }

      .main-account {
        display: inline-block;
        margin-bottom: 36px;
        text-transform: none;
      }

      .mobile-feed {
        display: none;
      }
    }

    &::before {
      background: $gradient-bold;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      right: 0;
      top: -3px;
    }
  }

  &.rtl {
    .feeds .posts .posts-label::after {
      left: auto;
      right: 0;
    }
  }

  @include max-screen($tablet-breakpoint + 320px) {
    .hero {
      .text {
        padding: 80px 5.35%;
      }
    }

    .feeds {
      padding: 60px 4.86%;
    }
  }

  @include max-screen($mobile-breakpoint) {
    .wrap {
      .container,
      .content {
        padding: 0;
      }
    }

    .hero .img-wrap .lines,
    .hero .text,
    .twitter .desktop-feed {
      display: none;
    }

    .feeds .text,
    .feeds .twitter .mobile-feed {
      display: block;
    }

    .feeds {
      flex-wrap: wrap;
      justify-content: center;
      padding: 40px 0;
      top: -11vw;

      .text {
        margin-bottom: 30px;
        width: 82.36%;
      }

      .posts {
        margin-bottom: 36px;
        width: 82.36%;

        .posts-label {
          margin-bottom: 25px;

          &::after {
            bottom: -25px;
          }
        }

        .post-item {
          padding: 24px 0;

          &:last-of-type {
            margin-bottom: 20px;
          }
        }
      }

      .twitter {
        width: 82.36%;

        .twitter-account,
        .twitter-label {
          margin-bottom: 10px;
          text-align: center;
        }

        .main-account {
          margin-bottom: 20px;
        }

        .tweet {
          display: flex;
          flex-basis: 100%;
          flex-direction: column;
          justify-content: space-around;
          margin: 0;
          max-width: 100%;
          overflow: hidden;
          padding: 26px;
        }
      }
    }
  }

  @include max-screen($mobile-medium-breakpoint) {
    .feeds {
      .posts,
      .twitter {
        width: 100%;
      }

      .twitter {
        .mobile-feed {
          left: -8%;
          position: relative;
          width: 116%;
        }
      }
    }
  }
}
