  /* styles for layouts demonstrated doc */
  .layouts {
    display: flex;
    flex-wrap: wrap;

    amp-img {
      margin: 0;
    }

   .parent {
      padding: 10px;
      background: #ffa500;
      animation-name: resize;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes resize {
      from { height: 200px; width: 200px; }
      to   { height: 330px; width: 330px; }
    }

    .wrapper {
      display: block;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .fixed-container {
      height: 350px;
      padding: 10px;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
      width: 330px;
      height: 150px;
    }
    .layout-item {
      width: 400px;
    }
    amp-selector {
      background-color: #1e5091;
    }

    @include min-screen(874px) {
      .description {
        height: 120px;
        padding: 10px;
      }
    }
  }