body.post-detail {
  .post-detail-block {
    overflow: hidden;
    padding: 100px 0;
    position: relative;

    &::before,
    &::after {
      background: $gradient-med-faded;
      content: '';
      display: block;
      height: 1400px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::before {
      top: 0;
      transform: skewY(36deg);
      transform-origin: top right;
    }

    &::after {
      bottom: 0;
      transform: skewY(-36deg);
      transform-origin: bottom right;
    }

    .content {
      position: relative;
      z-index: 1;
    }

    .post-sheet {
      background: $color-white;
      padding: 40px 11.9% 100px 11.9%;
    }

    .post-meta {
      text-align: center;

      a,
      span {
        @include text-label();
      }

      .post-date {
        color: $color-grey-md;
      }
    }

    .post-title {
      margin: 25px 0 65px 0;
      text-align: center;
    }

    .author-meta {
      text-align: center;
      margin-bottom: 45px;

      amp-img {
        margin: 0;
        border-radius: 50%;
        margin-bottom: 12px;
      }

      .author-name {
        color: $color-ampblue;
      }

      .author-role {
        @include text-label();
        color: $color-grey-ltmd;
        margin-top: 8px;
      }
    }

    .post-content {
      p,
      a,
      li {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0;
        font-weight: 300;
        text-transform: none;

        @include max-screen($mobile-breakpoint) {
          font-size: 14px;
        }
      }

      strong {
        font-weight: 400;
      }

      code {
        color: $color-black;
      }

      code,
      code a {
        border: 0;
        font-size: 11px;
        font-weight: 400;
        text-transform: none;
        padding: 0;

        @include max-screen($mobile-breakpoint) {
          font-size: 11px;
        }
      }

      p {
        em,
        em a {
          font-size: 20px;
          font-style: normal;
          line-height: 28px;
          letter-spacing: 0;

          @include max-screen($mobile-breakpoint) {
            font-size: 16px;
            line-height: 26px;
          }
        }
      }

      amp-img {
        margin: 50px auto;
      }
    }
  }
}
