.post-detail {
  @extend .bg-triangle-bottom;

  .post-sheet {
    position: relative;
    background: $color-white;
    padding: 40px 11.9% 100px 11.9%;
  }

  .post-meta {
    text-align: center;

    .post-type,
    .post-date {
      @extend %text-label;
      display: inline-block;
    }

    .post-type {
      color: $color-ampblue;

      &::after {
        content: '|';
        margin: 0 .8em 0 1.15em;
      }
    }

    .post-date {
      color: $color-grey-md;
    }
  }

  .post-title {
    margin: 25px 0 65px 0;
    text-align: center;
  }

  .author-meta {
    margin-bottom: 45px;
    text-align: center;

    amp-img {
      border-radius: 50%;
      margin: 0 0 12px 0;
    }

    .author-name {
      color: $color-ampblue;
    }

    .author-role {
      @extend %text-label;
      color: $color-grey-ltmd;
      margin-top: 8px;
    }
  }

  .post-content {
    p,
    li {
      @extend %text-small;
      letter-spacing: 0;
    }

    h2 {
      margin: 0.75em 0 0.25em 0;
    }

    h2 p {
      font-size: inherit;
    }

    a {
      @extend %link-inherit;
      color: $color-ampblue;
    }

    strong {
      font-weight: 400;
    }

    // code {
    //   color: $color-black;
    // }

    code,
    code a {
      // border: 0;
      font-size: 11px;
      // font-weight: 400;
      // padding: 0;
    }

    p {
      em,
      em a {
        @extend %text-body;
        font-style: normal;
      }
    }

    amp-img {
      margin: 50px auto;
    }
  }

  &:not(.roadmap) {
    .post-content {
      ul,
      ol {
        padding-left: .7em;
      }

      li {
        list-style: none;
        position: relative;

        &::before {
          color: $color-ampblue;
          content: '\2022 ';
          left: -.8em;
          position: absolute;
        }
      }
    }
  }

  .share-module {
    right: -115px;
    top: 27px;
  }

  .post-footer {
    padding: 0 11.9%;
    position: relative;
    z-index: 1;

    h2 {
      text-align: center;
    }

    a.post-title,
    .post-meta {
      text-align: left;
      text-align: start;
    }
  }

  &.post-blog img {
    height: auto;
  }

  @include max-screen($mobile-breakpoint) {
    .post-sheet {
      padding: 50px 6% 40px 6%;
    }

    .post-meta,
    .post-title {
      text-align: left;
      text-align: start;
    }

    .post-content {
      code,
      code a {
        font-size: 11px;
      }
    }
  }

  @include max-screen(1121px) {
    .share-module {
      right: -35px;
      top: -32px;
    }
  }
}

/* Featured image */

.amp-wp-article-featured-image {
	margin: 0 0 1em;
}
.amp-wp-article-featured-image amp-img {
	margin: 0 auto;
}
.amp-wp-article-featured-image.wp-caption .wp-caption-text {
	margin: 0 18px;
}

/* WP specific stuff, so the article formatting doesn't break */

.amp-wp-article-content ul,
.amp-wp-article-content ol {
	margin-left: 1em;
}

.amp-wp-article-content amp-img {
	margin: 0 auto;
}

.amp-wp-article-content amp-img.alignright {
	margin: 0 0 1em 16px;
}

.amp-wp-article-content amp-img.alignleft {
	margin: 0 16px 1em 0;
}

/* Captions */

.wp-caption {
	padding: 0;
}

.wp-caption.alignleft {
	margin-right: 16px;
}

.wp-caption.alignright {
	margin-left: 16px;
}

.wp-caption .wp-caption-text {
	border-bottom: 1px solid #c2c2c2;
	color: #696969;
	font-size: .875em;
	line-height: 1.5em;
	margin: 0;
	padding: .66em 10px .75em;
}

/* AMP Media */

amp-carousel {
	background: #c2c2c2;
	margin: 0 -16px 1.5em;
}
amp-iframe,
amp-youtube,
amp-instagram,
amp-vine {
	background: #c2c2c2;
	margin: 0 -16px 1.5em;
}

.amp-wp-article-content amp-carousel amp-img {
	border: none;
}

amp-carousel > amp-img > img {
	object-fit: contain;
}

.amp-wp-iframe-placeholder {
	background: #c2c2c2 url( https://s2.wp.com/wp-content/plugins/amp/assets/images/placeholder-icon.png ) no-repeat center 40%;
	background-size: 48px 48px;
	min-height: 48px;
}
