@mixin roadmap-stage($color, $number) {

  border-left: 1px solid $color;

  &:after {
    border: 1px solid $color;
    color: $color;
    content: $number + '';
  }

  li {
    &:before {
      background: $color;
    }
  }

}

.roadmap .content {

  .about,
  .description,
  .forecast {
    ul, ol {
      padding-left: .7em;

      li {
        list-style-type: none;
        position: relative;
        &::before {
          content: '\2022 ';
          color: $color-ampblue;
          position: absolute;
          left: -.8em;
        }
      }
    }
  }

  .description,
  .forecast {
    ul, ol {
      padding-left: 1.4em;
    }
  }

  .stages li {
    list-style-type: none;
  }

  .workstream-title {
    background: $gradient-bold;
    padding: 1em 16px;
    margin-bottom: 0;
    text-align: center;

    h4,
    p {
      color: $color-white;
      margin: 0 0 5px 0;
    }
  }

  .post-content {
    .forecast,
    .description,
    .plan {
      h4 {
        color: $color-ampblue;
        padding-left: 1em;
        @include text-label();
      }

      p,
      li,
      a {
        font-size: 14px;
      }

      li p {
        margin-top: 10px;
      }
    }

    .forecast,
    .description {
      h4 {
        padding-left: 1.9em;
      }
    }
  }

  .workstream-headings,
  .forecast h4 {
    position: relative;
    &::after {
      background: $gradient-bold;
      bottom: -1px;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  strong {
    font-weight: 500;
  }

  section {
    padding-left: 0;
  }

  .about {
    margin: 2em 0;
    ul {
      margin: 0;
      list-style-type: square;
    }
    div {
      margin-bottom: 1em;
    }
  }

  .workstream {
    margin-bottom: 1em;
    background: #fff;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
    width: 112%;
    position: relative;
    left: -6%;
  }

  .workstream-flex {
    display: flex;
  }

  .description {
    flex: 1 1 45%;
    padding: 1em;
    padding-right: 2em;
  }

  .workstream-flex:not(.workstream-headings) .description {
    border-right: 1px solid $color-lightblue;
  }

  .plan {
    flex: 1 1 55%;
    // min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    padding-bottom: 0;

    h4 {
      display: none;
    }
  }

  .workstream-headings {
    margin: 0 20px;
    padding: 15px 0;
    .description {
      padding-bottom: 0;
      padding-left: 0;
    }
    .plan h4 {
      display: block;
    }
  }

  .themes,
  .forecast {
    ul {
      list-style-type: square;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .forecast {
    padding: 1em;

    h4 {
      padding-bottom: 17px;
    }

    ul {
      padding-top: 10px;
      padding-bottom: 30px;
    }
  }

  /* Stages magic deluxe flex win */

  .stages {

    margin: -4px 0 0 0;
    margin-left: -21px;
    padding: 30px 1em 0 0;
    display: flex;
    flex-wrap: wrap;

    > li {
      padding: 25px 0 30px 12px;
      position: relative;
      flex: 1 1 100%;

      &:last-child {
        padding-bottom: 1em;
      }

      &::before {
        content: attr(data-description);
        position: absolute;
        top: -1px;
        left: 24px;
        color: $color-black;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        right: 0;
        white-space: nowrap;
      }

      &::after {
        position: absolute;
        top: 0;
        left: -14px;
        background: #fff;
        border-radius: 20px;
        width: 24px;
        height: 24px;
        display: block;
        text-align: center;
        line-height: 24px;
      }

      li {
        position: relative;
        &::before {
          content: "";
          width: 8px;
          height: 1px;
          display: block;
          position: absolute;
          // border-radius: 10px;
          top: 12px;
          left: -24px;
        }
      }

    }

    .stage-0 { @include roadmap-stage($color-lightblue, 0); }
    .stage-1 { @include roadmap-stage(#10c4f5, 1); }
    .stage-2 { @include roadmap-stage(#12b5ea, 2); }
    .stage-3 { @include roadmap-stage(#15a6e0, 3); }
    .stage-4 { @include roadmap-stage(#1797d5, 4); }
    .stage-5 { @include roadmap-stage(#1a88cB, 5); }
    .stage-6 { @include roadmap-stage($color-ampblue, 6); }

    ul {
      margin: 0;
      padding: 0;
      margin-left: 12px;
      padding-top: 3px;
    }

  }

  /* Them responsive awesomeness */

  @include max-screen($mobile-breakpoint) {
    .post-content.post-sheet {
      padding-top: 5px;
    }

    .workstream-flex {
      flex-wrap: wrap;
    }
    .stages {
      margin-left: 24px;
    }

    .post-content .description h4 {
      padding-left: 1.4em;
    }

    .workstream-flex {
      .plan {
        padding: 20px;
        h4 {
          display: block;
          width: 100%;
          padding: 0 0 15px 1.4em;
          position: relative;
          &::after {
            background: $gradient-bold;
            bottom: -1px;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            right: 0;
          }
        }
      }
    }

    .workstream-flex:not(.workstream-headings) .description {
      border-right: 0;
    }

    .workstream-headings {
      .plan {
        display: none;
      }
    }
  }
}
