.roadmap .content {

  strong {
    font-weight: 400;
  }

  .workstream-title {
    background: $gradient-bold;
    padding: 1em 16px;
    margin-bottom: 0;
    text-align: center;

    h4,
    p {
      color: $color-white;
      margin: 0 0 5px 0;
    }
  }

  .roadmap-section-wrapper {
    display: flex;
  }

  section {
    background: #fff;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
    position: relative;

    flex: 1 1 33%;
    margin: 0 1em;

    &:first-child,
    &:last-child {
      margin: 0;
    }

    > ul {

      list-style: none;

      > li {
        margin: 1em;
        background-color: white;
        border-top: 2px solid #19acff;
        box-shadow: 0 0 20px #135f9a1f;
        padding: 0.5em;
        font-size: 0.8em;

        h5 {
          font-size: 1.3em;
        }

        p {
          margin-top: 0;
        }
      }

    }

    ul.tags {

      list-style: none;
      text-align: right;

      li {
        display: inline-block;
        background: #f3f3f3;
        padding: 0.2em 0.5em;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.7em;
        text-align: left;
      }
    }

  }

  .description {
    flex: 1 1 45%;
    padding: 1em;
    padding-right: 2em;
  }

}



/* Them responsive awesomeness */

@include max-screen($mobile-breakpoint) {

}
