.roadmap .content {

  strong {
    font-weight: 400;
  }

  .post-title {
    margin: 0;
  }

  .note,
  .roadmap-section-wrapper {
    max-width: 1100px;
  }

  .note {
    margin: 1em auto;
    background: #fff;
    padding: 0.5em;
    box-shadow: 0px 1px 3px #0c569217;
    font-size: 0.8em;
    text-align: center;
    box-sizing: border-box;
  }

  .workstream-title {
    background: $gradient-bold;
    padding: 1em 16px;
    margin-bottom: 0;
    text-align: center;

    h4,
    p {
      color: $color-white;
      margin: 0 0 5px 0;
    }
  }

  .roadmap-section-wrapper {
    margin: 0 auto;
    display: flex;
    @include max-screen($tablet-portrait-breakpoint) {
      display: block;
    }
  }



  section {
    background: #fff;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.1);
    position: relative;

    flex: 1 1 33%;
    margin: 0 1em;

    &:first-child,
    &:last-child {
      margin: 0;
    }

    > ul {

      list-style: none;

      > li {
        margin: 1em;
        background-color: white;
        border-top: 2px solid #19acff;
        box-shadow: 0 0 20px #135f9a1f;
        padding: 0.5em;
        font-size: 0.8em;

        a {
          font-weight: inherit;
          letter-spacing: 0;
          line-height: 1.5;
          text-transform: none;
        }

        h5 {
          font-size: 1em;
          font-weight: 400;
        }

        p {
          margin-top: 0;
          font-size: 10pt;
          line-height: 1.5;
          color: #444;
        }
      }

    }

    ul.tags {

      list-style: none;
      text-align: right;

      li {
        display: inline-block;
        background: #09bfff;
        color: #fff;
        padding: 0.2em 0.5em;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.7em;
        text-align: left;
        margin-bottom: 4px;
      }
    }

  }

  .description {
    flex: 1 1 45%;
    padding: 1em;
    padding-right: 2em;
  }

}

