.who {
  .content h1 {
    text-align: center;
  }

  .inline-toc {
    display: none;
  }

  amp-accordion > section:last-child {
    border-bottom: 0;
  }

  .who-container {
    margin-top: 60px;
  }

  .item-container {
    column-count: 4;
    column-gap: $grid-gutters;
    list-style: none;

    .item {
      padding: 5px 0;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      column-break-inside: avoid;
    }
  }

  .browser-container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;

    .browser {
      flex: 0 1 75px;
      margin: 10px;
    }

    .browser-title {
      @extend %text-label;
      color: $color-grey-md;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid $color-grey-lt;
    border-top: 1px solid $color-grey-lt;
    height: 0;
    margin: 80px auto;
  }

  @include max-screen($tablet-portrait-breakpoint) {
    .item-container {
      column-count: 3;
    }
  }

  @include max-screen($mobile-breakpoint) {
    .content h1 {
      text-align: left;
    }

    .inline-toc {
      display: block;
    }

    .who-container,
    .browser-container {
      margin: 20px 0;
    }

    .browser-container {
      flex-wrap: wrap;
    }

    hr {
      margin: 30px auto;
    }
  }

  @include max-screen($mobile-medium-breakpoint) {
    .item-container {
      column-count: 2;
    }

    .browser-container {
      &::after {
        content: '';
        flex: 0 0 75px;
        margin: 10px;
        visibility: hidden;
      }
    }
  }
}
