.who {
  .content {
    amp-img {
      margin: 0;
    }

    ol,
    ul {
      margin-left: 0;
    }
  }

  .item-container {
    column-count: 4;
    column-gap: $grid-gutters;
    list-style: none;
    padding: 0 50px;

    @include max-screen($tablet-portrait-breakpoint) {
      column-count: 3;
    }

    @include max-screen($mobile-medium-breakpoint) {
      column-count: 2;
    }

    @include max-screen($mobile-baby-breakpoint) {
      column-count: 1;
    }

    .item {
      font-size: 16px;
      padding: 5px 0;
      -webkit-column-break-inside: avoid;
      -moz-column-break-inside: avoid;
      -o-column-break-inside: avoid;
      -ms-column-break-inside: avoid;
      column-break-inside: avoid;

      a {
        font-size: 16px;
        text-transform: none;
      }
    }
  }
}
