@import '../_config.scss';
@import '../_mixins.scss';

.amp-conf {

    a.reserve-button {
        display: inline-block;
        background: #FFAB00;
        border-radius: 2px;
        padding: 0.5em 1em;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        vertical-align: middle;
        margin-top: 20px;
        margin-left: 24px;
        &:hover {
            text-decoration: none;
            background: #E69A00;
        }
    }

    section.amp-conf-section {
        padding: 0;

        .wrapper {
            margin: 0 auto;
            width: 80%;
            max-width: 800px;
        }

        h2 {
            font-size: 4em;
            margin-bottom: 0em;
        }

        &.teaser {
            margin-top: 80px;
            text-align: center;

            p {

                padding-bottom: 2em;
                span {
                    font-weight: 400;
                }
            }
        }

        &.description {
          background: $gradient-anglebold;
          margin-top: 40px;
          position: relative;

          p {
            background: #fff;
            padding: 1em;
            margin: 0 auto;
            width: 80%;
            max-width: 800px;
            border-top: 5px solid #0379C4;
            position: relative;
            top: -40px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.31);
            text-align: center;

            span {
                display: block;
                text-align: left;
            }
          }

          ul {
              text-align: center;
              padding-bottom: 2em;
              li {
                background: #005992;
                padding: 6px 12px;
                padding-left: 20px;
                border-radius: 2px;
                display: inline-block;
                margin: 0;
                margin-left: -6px;
                position: relative;
                overflow: hidden;
                &::after {
                    display: block;
                    content: "";
                    width: 4px;
                    position: absolute;
                    top: -4px;
                    bottom: -4px;
                    left: 4px;
                    background: #fff;
                    transform: rotate(10deg);
                    z-index: 1;
                }

                &:first-child {
                    margin-left: 0;
                    &::after {
                        display: none;
                    }
                }

              }
              a {
                  color: #fff;
              }
          }
        }

        &.schedule {
            padding: 2em 0;
        }

        &.speakers {
            padding: 2em 0;
            background: #f5f5f5;
            padding-bottom: 4em;
        }

        &.workshops {
            padding: 2em 0;
            padding-bottom: 4em;
        }

        &.location {
            padding: 2em 0;
            background: $gradient-anglebold;

            .wrapper {
                display: flex;
                flex-wrap: wrap;
                amp-iframe {
                    flex: 1 0 40%;
                    min-width: 100px;
                }
                div {
                    margin-left: 2em;
                    flex-grow: 1;
                    @include max-screen(590px) {
                        margin-left: 0;
                        margin-top: 1em;
                    }
                }
            }

            h3 {
                color: #fff;
                margin-top: 0;
            }

            p {
                color: #fff;
            }

            a {
                color: #fff;
                text-decoration: underline;
            }

            span {
                display: block;
            }

        }

        &.faq {
            font-size: 16px;
            font-weight: normal;

            h3 {
              color: #0379C4;
              font-size: 26px;
              font-weight: 300;
              margin-top: 1.1em;
              margin-bottom: 0.5em;
            }

            dd {
                margin-bottom: 1em;
                font-weight: 300;
            }
        }

        &.footer {
            ul {
                text-align: center;
                li {
                    display: inline-block;
                    padding: 1em;
                }
            }
        }

    }

    .code-of-conduct {
        padding-bottom: 2em;
        background: #fff;
        margin: 3%;
        ul,ol {
            margin-left: 2em;
        }
    }

    .days {

    }

    .day {

        box-sizing: border-box;
        min-width: 300px;

        h4 {
            border-bottom: 1px solid #eee;
            padding-bottom: 8px;
        }
    }

    ul.schedule {
        list-style: none;
        margin-left: 114px;

        > li {
            padding: 5px;
            padding-bottom: 10px;
            display: flex;
            align-items: flex-start;
            position: relative;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 1px;
                background: #bbb;
                bottom: 0px;
                top: 35px;
                left: 23px;
            }

            div {
                padding-left: 23px;
            }

            span.image {
                display: block;
                border-radius: 50px;
                overflow: hidden;
                height: 100px;
                width: 100px;
                position: absolute;
                top: -30px;
                left: -115px;
                background: #eee;
            }

            span.image.multiple {
                width: 60px;
                height: 60px;
                &:nth-child(even) {
                    left: -75px;
                }

                &:nth-child(2) { top: 10px; }
                &:nth-child(3) { top: 50px; }
                &:nth-child(4) { top: 90px; }
                &:nth-child(5) { top: 130px; }
                &:nth-child(6) { top: 170px; }
            }

            h5 {
                font-size: 1em;
                margin: 0;
                color: inherit;
                &::before {
                    display: none;
                }
                &.session {
                    font-weight: 500;
                }
                &.keynote {
                    font-weight: 500;
                    color: #0379C4;
                }
                &.panel,
                &.workshop {
                    font-weight: 500;
                    color: #FF9800;
                }
            }

            p {
                font-size: 13px;
                line-height: 1.6em;
            }

        }

        time {
            position: relative;
            display: inline-block;
            font-family: monospace;
            &::before {
                content: "";
                display: block;
                position: absolute;
                width: 12px;
                height: 1px;
                background: #bbb;
                right: -17px;
                top: 50%;
            }
        }

        > li.session,
        > li.keynote {
            time::after {
                content: "";
                display: block;
                position: absolute;
                width: 12px;
                height: 1px;
                background: #bbb;
                left: -17px;
                top: 50%;
            }
        }

        small {
            display: block;
            line-height: 1.6em;
        }

    }

    ul.workshops {
        list-style: none;
        display: flex;

        li {
            flex: 1 1 33%;
            border-right: 1px solid #ddd;
            &:nth-child(odd) {
                background: #f5f5f5;
            }

            &:last-child {
                border-right: 0;
            }

            h6 {
                font-weight: normal;
                margin: 0;
                padding: 1em;
            }
        }
    }

    @include max-screen(500px) {
        ul.schedule {
            margin-left: 0;
            > li span.image {
                display: none;
            }
            > li.session,
            > li.keynote {
                time::after {
                    display: none;
                }
            }
        }
        ul.workshops {
            display: block;
        }
    }

    ul.speakers {
        list-style: none;

        li {
            display: flex;
            min-height: 100px;
            margin-bottom: 40px;

            &:nth-child(odd) {
                flex-direction: row-reverse;
                .image {
                    margin-right: 0;
                    margin-left: 20px;
                }
            }
        }

        h4 {

        }

        p {
            font-size: 13px;
            line-height: 1.6em;
        }

        .image {
            border-radius: 25vw;
            overflow: hidden;
            display: inline-block;
            height: 25vw;
            width: 25vw;
            max-width: 250px;
            max-height: 250px;
            background: #fff;
            flex-shrink: 0;
            margin-right: 20px;
            position: relative;
        }
    }

}
