@import '../_config.scss';
@import '../_mixins.scss';

.amp-conf {

  background: #fdf6ff;

  amp-lightbox {
    .lightbox {
      background: rgba(0,0,0,0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      .inner-lightbox {
        background: #fff;
        padding: 1em;
        width: 80vw;
        small {
          display: block;
        }
      }
    }
  }

  section.amp-conf-section {
    padding: 2em 0;
    background: #ffffff;

    &:nth-child(odd) {
      background-color: #fcf7fe;
      
        h3 {
        color: #222;
      }
    }

    .button {
      transition: background-color 0.2s ease-out;
      &:hover {
        background-color: #4c78a7;
      }
    }

    .wrapper {
      margin: 0 auto;
      width: 80%;
      max-width: 800px;
    }

    &.teaser {

      background-image: url(/static/img/amp-conf/sakura.png);
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: contain;

      padding-bottom: 0;
      @include max-screen(500px) {
        text-align: center;
      }

      /*clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 2vw) );*/
      border-bottom-left-radius: 50% 12%;
      border-bottom-right-radius: 50% 6%;


      &::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: red;
      }

      h2 {
        font-size: 3.37em;
        display: inline-block;
        margin-bottom: 0;
        margin-top: 1em;
        line-height: .9em;
        color: #3c3c3c;
        background-color: white;
        border-radius: 0.2em;
        border: 0.3em solid white;
      }

      h3 {
        color: #3c3c3c;
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 0.5em;
        @include max-screen(1200px) {
          display: none;
        }
      }

      .menu {
        /*background: rgba(0,0,0,0.05);*/
        padding: 1em 0 2em 0;
        margin-top: 1em;

        .wrapper {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          @include max-screen(500px) {
            display: block;
          }
        }

        ul {

          display: flex;
          background-color: #fbf9fe;

          @include max-screen(500px) {
            margin: 0 -10%;
          }

          li {
            padding: 6px 12px;
            padding-left: 20px;
            display: inline-block;
            margin: 0;
            margin-left: -5px;
            position: relative;
            overflow: hidden;

            @include max-screen(500px) {
              padding-left: 12px;
            }


            &::after {
              display: block;
              content: "";
              width: 2px;
              position: absolute;
              top: -4px;
              bottom: -4px;
              left: 4px;
              background-color: #ea9687;
              transform: rotate(10deg);
              z-index: 1;
            }

            &:first-child {
              margin-left: 0;
              padding-left: 0;
              &::after {
                display: none;
              }
            }

          }

          a {
            color: #ff7f68;
            font-weight: 600;
          }

        }

      }

      .button {
        background-color: #312038;
        @include max-screen(500px) {
          margin-top: 1em;
        }
      }
    }

    &.description {
      position: relative;

      h4 {
        text-align: center;
      }

      amp-youtube {
        margin-bottom: 2em;
        border-bottom: 2px solid #fff;
      }

      p {
        padding: 0;
        margin: 0 auto;
        margin-bottom: 2em;
        line-height: 1.6;
        font-weight: 400;
      }

      ul {
        text-align: center;
        margin: 0 -1em;
      }

      .card {
        position: relative;
        margin-left: 1.4em;
        margin-top: 1.5em;

        strong {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-50%, -50%) rotate(-45deg);
          background: #263540;
          padding: 0 8px;
          color: #fff;
          font-size: 0.8em;
        }
      }

    }

    &.schedule {
      background: #fff;
      h3 {
        color: inherit;
      }

      a {
        color: #e78b7c;
      }

      .note {
        color: #999;
        font-style: italic;
      }

      .days {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0px 3px 20px 0 rgba(0,0,0,0.075);
      }

      .tab[selected] {
        outline: none;
        background: $gradient-pink;
        color: #fff;
      }

      .tab {
        list-style: none;
        flex-grow: 1;
        text-align: center;
        cursor: pointer;
        padding: 0.5em;
        background: #f5f5f5;
      }

      .day {
        display: none;
        order: 1; /* must be greater than the order of the tab buttons to flex to the next line */
        padding: 1em;
      }

      .tab[selected]+.day {
        display: block;
      }

      .day {
        box-sizing: border-box;
        min-width: 300px;

        h4 {
            border-bottom: 1px solid #eee;
            padding-bottom: 8px;
        }
      }

      ul.schedule {
        list-style: none;
        margin-left: 114px;

        > li {
          padding: 5px;
          padding-bottom: 10px;
          display: flex;
          align-items: flex-start;
          position: relative;

          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            background: #bbb;
            bottom: 0px;
            top: 35px;
            left: 23px;
          }

          div {
            padding-left: 23px;
          }

          span.image {
            display: block;
            border-radius: 50px;
            overflow: hidden;
            height: 100px;
            width: 100px;
            position: absolute;
            top: -30px;
            left: -115px;
            background: #eee;
          }

          span.image.multiple {
            width: 60px;
            height: 60px;
            &:nth-child(even) {
              left: -75px;
            }

            &:nth-child(2) { top: 10px; }
            &:nth-child(3) { top: 50px; }
            &:nth-child(4) { top: 90px; }
            &:nth-child(5) { top: 130px; }
            &:nth-child(6) { top: 170px; }
            &:nth-child(7) { top: 210px; }
            &:nth-child(8) { top: 250px; }
            &:nth-child(9) { top: 290px; }
          }

          h5 {
            font-size: 1em;
            margin: 0;
            color: inherit;
            &::before {
              display: none;
            }
            &.session {
              font-weight: 500;
            }
            &.keynote {
              font-weight: 500;
              color: #0379C4;
            }
            &.panel,
            &.workshop {
              font-weight: 500;
              color: #FF9800;
            }
          }

          p {
            font-size: 13px;
            line-height: 1.6em;
          }

        }

        time {
          position: relative;
          display: inline-block;
          font-family: monospace;
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 12px;
            height: 1px;
            background: #bbb;
            right: -17px;
            top: 50%;
          }
        }

        > li.session,
        > li.keynote {
          time::after {
            content: "";
            display: block;
            position: absolute;
            width: 12px;
            height: 1px;
            background: #bbb;
            left: -17px;
            top: 50%;
          }
        }

        small {
          display: block;
          line-height: 1.6em;
        }

      }

      @include max-screen(500px) {
        ul.schedule {
          margin-left: 0;
          > li span.image {
            display: none;
          }
          > li.session,
          > li.keynote {
            time::after {
                display: none;
            }
          }
        }
      }

    }

    &.speakers {
      ul {
        margin-top: 2em;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill,minmax(150px, 1fr));
        list-style: none;
        li {

          margin: 0;
          padding: 0;
          height: auto;
          cursor: pointer;

          span.image {
            clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 10px));
            display: block;
            position: relative;
            z-index: 1;
          }

          div {
            background: #fff;
            font-size: 0.8em;
            line-height: 1.5em;
            padding: 1em;
            padding-top: 1em;

            p {
              display: none;
            }

            h4 {
              color: #333;
              small {
                display: block;
              }
            }
          }

        }
      }
    }

    &.location {
      padding: 2em 0;
      clip-path: polygon(0 2vw,100% 0vw,100% 100%,0 calc(100% - 2vw));

      .flex {
        display: flex;
        flex-wrap: wrap;
        amp-iframe {
          flex: 1 0 40%;
          min-width: 100px;
        }
        div {
          margin-left: 2em;
          flex-grow: 1;
          @include max-screen(590px) {
            margin-left: 0;
            margin-top: 1em;
          }
        }
      }

      h4 {
        color: #333;
        margin-top: 0;
      }

      p {
        color: #333;
      }

      a {
        color: #333;
        text-decoration: underline;
        font-size: inherit;
        text-transform: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        line-height: inherit;
      }

      span {
        display: block;
      }
    }

    &.faq {
    font-size: 16px;
    font-weight: normal;

      h3 {
        color: #0379C4;
        margin-bottom: 0.5em;
      }

      dd {
          margin-bottom: 1em;
          font-weight: 300;
      }
    }

    &.footer {
      background: #fff;
      ul {
        text-align: center;
        li {
            display: inline-block;
            padding: 1em;
        }
      }
    }

  }
}
