@import "../config";
@import "../grid";
@import "../mixins";

.stories {
  position: relative;

  .accent-left {
    bottom: 64px;
    height: 34px;
    left: -100px;
    position: absolute;
    transform: rotate(-45deg);
    width: 396px;
    z-index: -1;

    .accent-left__top {
      background: linear-gradient(45deg, $color-lightblue, $color-white);
      height: 9px;
      left: 38px;
      position: absolute;
      top: 0;
      width: 260px;
    }

    .accent-left__bottom {
      background: linear-gradient(45deg, $color-brightblue, $color-lightblue);
      bottom: 0;
      height: 9px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  .accent-right {
    bottom: 25px;
    height: 27px;
    position: absolute;
    right: -50px;
    transform: rotate(-40deg);
    width: 195px;
    z-index: -1;

    .accent-right__top {
      height: 9px;
      width: 138px;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(45deg, $color-white, $color-lightblue);
    }

    .accent-right__bottom {
      height: 9px;
      width: 163px;
      position: absolute;
      bottom: 0;
      right: 0;
      background: linear-gradient(45deg, $color-lightblue, $color-brightblue);
    }
  }

  h2 {
    margin-bottom: 99px;

    @include max-screen($mobile-breakpoint) {
      margin-bottom: 41px;
    }
  }

  h2,
  h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
  }

  h3 {

    @include max-screen($mobile-breakpoint) {
      font-size: 20px;
    }
  }

  section {
    margin-top: 142px;

    @include max-screen($mobile-breakpoint) {
      margin-top: 60px;
    }
  }

  p {
    color: $color-black-95;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.625;
  }

  .hero-accent {
    background: linear-gradient(45deg, $color-lightblue, $color-white);
    height: 10px;
    left: 0;
    position: absolute;
    top: 324px;
    width: 213px;

    @include max-screen($mobile-breakpoint) {
      top: 93px;
    }
  }

  .hero-background {
    position: absolute;
    right: -1013px;
    top: -840px;
    width: 1617px;
    z-index: -1;

    @include max-screen($mobile-breakpoint) {
      width: 676px;
      right: -451px;
      top: -220px;
    }
  }

  .hero {
    display: flex;
    margin: 0;

    @include max-screen($mobile-breakpoint) {
      display: block;
      margin: 0;
    }

    @include min-screen($toc-breakpoint) {
      margin: 0 10%;
    }

    h1 {
      color: $color-ampblue;
      font-size: 50px;
      font-weight: 100;
      margin: 0;

      @include max-screen($mobile-breakpoint) {
        font-size: 35px;
      }
    }

    h3 {
      font-weight: 100;
      margin-bottom: 36px;
      margin-top: 107px;

      @include max-screen($mobile-breakpoint) {
        font-size: 30px;
        margin-top: 0;
      }
    }

    p {
      margin-bottom: 31px;
    }

    .icon {
      margin-right: 23px;
      width: 57px;

      @include max-screen($mobile-breakpoint) {
        margin-right: 11px;
        width: 33px;
      }
    }

    .title-wrap {
      align-items: center;
      display: flex;

      @include max-screen($mobile-breakpoint) {
        justify-content: center;
      }
    }

    .images {
      margin-left: 200px;
      margin-top: 165px;
      position: relative;
      right: -5%;
      width: 368px;

      @include max-screen($mobile-breakpoint) {
        display: none;
      }
    }

    .mobile-image {
      display: none;

      @include max-screen($mobile-breakpoint) {
        display: block;
        margin: 90px auto 30px;
        position: relative;
        width: 200px;
      }
    }

    .animated-image {
      left: 5.4%;
      position: absolute;
      top: 11%;
      width: 83.2%;
      z-index: 1;
    }

    .text {
      padding-top: 222px;
      width: calc(50% - 100px);
      position: relative;
      z-index: 1;

      @include max-screen($mobile-breakpoint) {
        padding-top: 37px;
        width: 100%;
      }
    }
  }

  .why {
    text-align: center;

    .icon {
      margin: 0 auto 18px;
      width: 83px;

      @include max-screen($mobile-breakpoint) {
        width: 56px;
      }
    }

    .reason:not(:first-child) {

      @include max-screen($mobile-breakpoint) {
        margin-top: 33px;
      }
    }
  }

  .features {
    text-align: center;

    .features-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -46px;

      @include max-screen($mobile-breakpoint) {
        justify-content: center;
      }
    }

    .feature {
      width: 50%;
      margin: 46px 0 0;

      @include max-screen($mobile-breakpoint) {
        max-width: 320px;
        width: 100%;
      }
    }

    p {
      margin: -132px auto 0;
      max-width: 179px;
      position: relative;
      z-index: 1;

      @include max-screen($mobile-breakpoint) {
        margin-top: -50px;
      }
    }
  }

  .news {
    position: relative;

    .accent-left {

      @include max-screen($mobile-breakpoint) {
        top: 110px;
      }
    }

    .card-container {

      @include max-screen($mobile-breakpoint) {
        display: block;
      }
    }

    .card-icon {
      max-width: 80%;
    }

    .wapo {

      .card-icon {
        width: 284px;

        @include max-screen($mobile-breakpoint) {
          font-size: 227px;
        }
      }
    }

    .time {

      .card-icon {
        width: 116px;

        @include max-screen($mobile-breakpoint) {
          font-size: 96px;
        }
      }
    }

    .card-icon {
      margin: 12px auto 32px;
    }

    .card-content {
      padding-left: 54px;
      padding-right: 54px;

      @include max-screen($mobile-breakpoint) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    p {
      color: $color-black-95;
      font-size: 20px;
      line-height: 1.7;

      @include max-screen($mobile-breakpoint) {
        font-size: 16px;
      }
    }

    .card-source {
      color: $color-black-95;
      font-size: 20px;
      font-weight: 100;
      margin: 15px 0;

      @include max-screen($mobile-breakpoint) {
        font-size: 18px;
      }
    }

    .card {
      flex: 0 0 calc(50% - 30px);
      flex-basis: calc(50% - 30px);
      height: auto;

      @include max-screen($mobile-breakpoint) {
        width: 100%;
      }
    }
  }

  .web-stories {
    position: relative;

    .background {
      position: absolute;
      bottom: -142px;
      right: -5%;
      width: 70%;
      height: 80%;
      z-index: -1;

      @include max-screen($mobile-breakpoint) {
        right: -184%;
      }

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 520px solid transparent;
        border-right: 520px solid transparent;
        border-bottom: 520px solid #F2F8FD;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 520px solid transparent;
        border-bottom: 520px solid transparent;
        border-right: 520px solid #F2F8FD;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      @include max-screen($mobile-breakpoint) {
        bottom: -60px;
      }
    }

    h2 {
      text-align: center;
    }

    amp-carousel {
      position: relative;
      z-index: 2;
    }

    .amp-carousel-button {
      background: $color-brightblue;
      border-radius: 8px;
      height: 44px;
      width: 44px;
    }

    .amp-carousel-button:before,
    .amp-carousel-button:after {
      background-color: $color-white;
    }

    .amp-carousel-button:before {
      transform: translate(12px, 15px) rotate(45deg);
    }

    .amp-carousel-button:after {
      transform: translate(12px, 26px) rotate(-45deg);
    }

    .slide {
      display: block;
      margin-left: 85px;

      @include max-screen($mobile-breakpoint) {
        margin-left: 25px;
      }

      &:first-child {
        margin-left: 20%;
      }

      &:last-child {
        margin-right: 22px;
      }

      .image {
        border-radius: 31px;
        box-shadow: 0 2px 14px rgba(0, 0, 0, .24);
        overflow: hidden;

        amp-img,
        img {
          display: block;
        }
      }
    }

    .logo {
      margin: 33px auto 0;
      text-align: center;
      width: 80%;
    }

    .amp-carousel-button-next {
      right: 44px;
    }

    .amp-carousel-button-prev {
      left: 44px;
    }
  }

  .large-cta {
    padding-left: 22px;
    padding-right: 22px;
    position: relative;

    @include max-screen($mobile-breakpoint) {
      padding-bottom: 64px;
      padding-top: 64px;
    }

    .accent-left {
      left: -108px;
      top: 21px;
      z-index: 1;

      @include max-screen($mobile-breakpoint) {
        left: -194px;
        top: 61px;
      }
    }

    .accent-right {
      top: -25px;
      right: -8px;
      position: absolute;
      width: 107px;
      z-index: 1;
    }

    h2 {
      color: $color-white;
      margin-bottom: 25px;
    }
  }
}