.uses-page {
  position: relative;

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #1E85E3, #23B9FC);
    width: 100%;
    height: 0;
    padding-bottom: 70%;
  }

  .hero-background-white {
    position: absolute;
    top: 0;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 70vw 100vw;
    border-color: transparent transparent #ffffff transparent;
  }

  .hero {
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 40px 20px;
    position: relative;
  }

  .hero-title {
    color: #ffffff;
  }

  .hero-description {
    font-size: 20px;
    line-height: 33px;
    color: #ffffff;
  }

  .cards-wrapper-outer {
    max-width: 1400px;
    margin: auto;
  }

  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 220px 40px 140px;
  }

  .link-card {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;

    &:nth-child(2n + 2) {
      margin-top: -120px;
    }

    &:hover {
      .card-image {
        box-shadow: rgba(0, 0, 0, 0.12) -2px 22px 12px 3px;
      }
    }
  }

  .card-image {
    width: 291px;
    height: 481px;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.12) -2px 15px 12px 0;
    transition: box-shadow 0.2s ease-in-out;
  }

  .card-title-wrapper {
    padding-top: 20px;
    text-align: center;
  }
  .card-title {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;

    &:after {
      content: '';
      background: linear-gradient(to right, #1E85E3, #23B9FC);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
    }
  }
}