<article class="ap-components-showcase">
  <div class="ap-components-showcase-buttons" role="list">
    <button [class]="carouselVisibility ? 'ap-button' : 'ap-button --inactive' " on="tap:AMP.setState({carouselVisibility: true, animationVisibility: false, accordionVisibility: false, autocompleteVisibility: false})" class="ap-button">{{ _('Carousel') }}</button>
    <button [class]="animationVisibility ? 'ap-button' : 'ap-button --inactive'" on="tap:AMP.setState({carouselVisibility: false, animationVisibility: true, accordionVisibility: false, autocompleteVisibility: false})" class="ap-button --inactive">{{ _('Animation') }}</button>
    <button [class]="accordionVisibility ? 'ap-button' : 'ap-button --inactive'" on="tap:AMP.setState({carouselVisibility: false, animationVisibility: false, accordionVisibility: true, autocompleteVisibility: false})" class="ap-button --inactive">{{ _('Accordion') }}</button>
    <button [class]="autocompleteVisibility ? 'ap-button' : 'ap-button --inactive'" on="tap:AMP.setState({carouselVisibility: false, animationVisibility: false, accordionVisibility: false, autocompleteVisibility: true})" class="ap-button --inactive">{{ _('Autocomplete') }}</button>
  </div>

  <div class="ap-components-showcase-demos">
    <div [class]="carouselVisibility ? 'ap-components-showcase-demo --carousel show' : 'hide' " class="ap-components-showcase-demo --carousel show">
      <div class="ap-components-showcase-demo-code" title="amp-carousel">
        <div class="ap-code-snippet">
          {% set code_snippet = g.doc('/shared/components-showcase/amp-carousel.html').content %}
          {{ doc.pod.markdown.convert('```html\n' + code_snippet + '\n```')|safe }}
        </div>
      </div>

      <div class="ap-components-showcase-demo-ui" title="<amp-carousel>">
        <!-- Styled demo here -->
        <amp-carousel width="450" height="400" layout="responsive" type="slides" role="region" aria-label="Basic carousel">
          <amp-img src="/static/inline-examples/images/image1.jpg" width="400" height="450" layout="fill"></amp-img>
          <amp-img src="/static/inline-examples/images/image2.jpg" width="400" height="450" layout="fill"></amp-img>
          <amp-img src="/static/inline-examples/images/image3.jpg" width="400" height="450" layout="fill"></amp-img>
        </amp-carousel>
      </div>
    </div>
    <div [class]="animationVisibility ? 'ap-components-showcase-demo --animation show' : 'hide' " class="hide">
      <div class="ap-components-showcase-demo-code" title="amp-animation">
        <div class="ap-code-snippet">
          {% set code_snippet = g.doc('/shared/components-showcase/amp-animation.html').content %}
          {{ doc.pod.markdown.convert('```html\n' + code_snippet + '\n```')|safe }}
        </div>
      </div>

      <div class="ap-components-showcase-demo-ui" title="<amp-animation>">
        <!-- Styled demo here -->
        <div class="rotate-image-window">
          <amp-img id="animatedImage" width="450" height="300" layout="responsive" src="/static/samples/img/elephant.jpg" alt="Picture of an elephant"></amp-img>
          <button on="tap:scaleUpImage.start" class="ap-button">Click to scale up the image</button>
        </div>

        <amp-animation id="scaleUpImage" layout="nodisplay">
          <script type="application/json">
            {
              "duration": "1s",
              "fill": "both",
              "direction": "normal",
              "animations": [
                {
                  "selector": "#animatedImage",
                  "keyframes": [
                    { "transform": "scale(1)" },
                    { "transform": "scale(1.2)" },
                    { "transform": "scale(1)" }
                  ]
                }
              ]
            }
          </script>
        </amp-animation>
      </div>
    </div>
    <div [class]="accordionVisibility ? 'ap-components-showcase --accordion show' : 'hide' " class="hide">
      <div class="ap-components-showcase-demo-code" title="amp-accordion">
        <div class="ap-code-snippet -p">
          {% set code_snippet = g.doc('/shared/components-showcase/amp-accordion.html').content %}
          {{ doc.pod.markdown.convert('```html\n' + code_snippet + '\n```')|safe }}
        </div>
      </div>

      <div class="ap-components-showcase-demo-ui" title="<amp-accordion>">
        <!-- Styled demo here -->
        <amp-accordion id="my-accordion" disable-session-states>
          <section expanded>
            <h2>Section 1</h2>
            <p>Content in section 1.</p>
          </section>
          <section>
            <h2>Section 2</h2>
            <div>Content in section 2.</div>
          </section>
          <section>
            <h2>Section 3</h2>
            <div>Content in section 3.</div>
          </section>
        </amp-accordion>
      </div>
    </div>
    <div [class]="autocompleteVisibility ? 'ap-components-showcase --autocomplete show' : 'hide' " class="hide">
      <div class="ap-components-showcase-demo-code" title="amp-autocomplete">
        <div class="ap-code-snippet">
          {% set code_snippet = g.doc('/shared/components-showcase/amp-autocomplete.html').content %}
          {{ doc.pod.markdown.convert('```html\n' + code_snippet + '\n```')|safe }}
        </div>
      </div>

      <div class="ap-components-showcase-demo-ui" title="<amp-autocomplete>">
        <!-- Styled demo here -->
        <amp-autocomplete filter="substring" id="myAutocomplete">
        <span>Please enter "apple", "banana" or "cherry"</span>
        <input />
        <script type="application/json">
          {"items": ["apple", "banana", "cherry"]}
        </script>
      </amp-autocomplete>
      </div>
    </div>
  </div>
</article>