---
name: 'Lint: all'

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        uses: actions/checkout@v4

      - name: Setting up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Installing Node.js packages
        run: npm ci

      - name: Linting YAML files
        run: gulp lintYaml

      - name: Linting JavaScript files
        run: gulp lintNode
